[2022-06-07 07:50] milospuac commented on #2988
Hi there. Thanks for reaching out.  Our team will investigate.

[2022-06-07 07:57] TheCapsLock opened #2990 "Rescheduling on a non-yet approved opt-in booking (and creates duplicate booking)"
### Issue Summary

An approval should be required when rescheduling a not yet approved booking.

To be noted : in that peculiar case we get a duplicate of the booking : one approved the other with pending approval (without a clear link between both) :

![Sans titre](https://user-images.githubusercontent.com/3322481/172327289-0471668d-0bd1-43ff-bdf8-585a61a04d39.png)

### Steps to Reproduce

1. Cre

[2022-06-07 08:19] erzhan89 opened #2991 "Unable to login with first user"
unable to login.
created with Prisma Studio first user..
but getting error...

in .env file
NEXT_PUBLIC_WEBAPP_URL='http://localhost:3000'

node v14.19.3
npm v6.14.17
yarn v1.22.19

![image](https://user-images.githubusercontent.com/7261370/172331551-a0c00c04-f487-42c4-a87d-0c8c3062b5a5.png)

[2022-06-07 08:43] alishaz-polymath opened #2993 "Webhook created/edited using API can be associated with non-team event types (can’t delete thereon)"
### Issue Summary

I am able to create/edit a webhook using the webhook API and associate it to an event-type which isn’t a team event type. The worst part is, if I do that, I can no longer delete it because I am unauthorised as in the back-end we want to make sure we “own“ the team. But I’m not a team owner as it isn’t a team event type.

### Steps to Reproduce

1. Create/edit a webhook using web

[2022-06-07 09:54] lharries commented on #2823
Maybe it's because I'm logged into a different account on Cal.com that it's causing this. When I open it in incognito the bug doesn't persist but the bug continues when I'm logged into cal.com with a different account to the email shown

[2022-06-07 11:01] PeerRich opened #2997 "Show: "Requires Confirmation" for opt-in-bookings"
<img width="331" alt="image" src="https://user-images.githubusercontent.com/8019099/172363819-91cb7773-4805-40ba-92f4-7d33f69dbc9a.png">

`import ClipboardCheck from heroicons/solid`

[2022-06-07 11:22] TheCapsLock commented on #2991
Hi @erzhan89 if you have followed all the steps listed here : https://docs.cal.com/self-hosting/installation ; and have used the bcrypt tool to hash your password, take care that this tool adds extra spaces at the begining and at the end of the copied string.

You can also use this snippet to get a bcrypt hash (where "test" is the password to hash) :

[code]

[2022-06-07 11:27] saschafoerster commented on #2439
@alishaz-polymath Where can I find it? I would like to try it out.

[2022-06-07 11:40] alishaz-polymath commented on #2439
Hi @saschafoerster
It was merged 2 days ago [see here](https://github.com/n8n-io/n8n/commits/master) and should be availabe in their latest release.
🙏
You can fork their repo and test it out locally right away or wait for their official release (not 100% sure when that is)

[2022-06-07 12:16] jhjadmin opened #3000 "Module not found: Can't resolve './apps.browser.generated'"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

After starting the application with yarn dev and browsing to the login page throws the error:

[code]

### Steps to Reproduce

1. Follow the installation steps in the documents (Self-Hosting > Installation)
2. Setting Up PostgreSQL
3. Run the command yarn dev
4. Go to the url http://ip-address:3000

Any other relevant informati

[2022-06-07 15:46] #2823 closed

[2022-06-07 15:55] zomars commented on #3000
cc @hariombalhara

@jhjadmin can you try using `yarn dx` and see if it works for you?

[2022-06-07 16:12] joeauyeung commented on #2823
Thanks for the replay @lharries helped put it into perspective.

[2022-06-07 16:29] sheksushant commented on #2936
Heroku Deployment fails, some env variables that are required to build are not asked at the time of "Create New App" on Heroku.

Any plans to resolve this soon @PeerRich  ?

Complete Log ->

`-----> Building on the Heroku-20 stack
-----> Determining which buildpack to use for this app
-----> Node.js app detected

-----> Creating runtime environment

       NPM_CONFIG_LOGLEVEL=error
       USE_YARN

[2022-06-07 16:38] joeauyeung commented on #1483
@PeerRich can I close this issue? I've seen that it's been opened and closed before.

I tested this locally and in production and it seems to be working.

[2022-06-07 16:57] #3000 closed

[2022-06-07 19:15] zomars commented on #2839
Hey @nag-ramone I can't seem to replicate this behavior. Can you verify that this is still happening on v1.6.3?

[2022-06-07 20:21] zevaverbach commented on #2381
@dlemery how little RAM are you able to get away with after install?

[2022-06-07 21:21] #1483 closed

[2022-06-07 22:04] scantreed commented on #2776
that was it my dockercompose was out of sync with my docker version. Thank you @agustif

[2022-06-07 22:04] #2776 closed

[2022-06-08 02:58] artistro08 opened #3012 "Using a private link doesn't respect the availably set in the event type"
### Issue Summary

When I copy the private link for a hidden event, the availability is different than the one set on the event.

### Steps to Reproduce

1. Open Private event
2. Click "Copy Private Link"
3. paste in browser
4. See the wrong availability

### Technical details

- Running latest chrome. Deployed via Railway
- using node 14.x

[2022-06-08 07:11] #2954 closed

[2022-06-08 08:37] #2907 closed

[2022-06-08 12:18] MatheusBeniniF commented on #3012
hey @artistro08 I reproduced the steps and it's working correctly, can you give me more details?

[2022-06-08 12:24] artistro08 commented on #3012
Yes. Here's a self hosted private link I just generated. I have it set to Monday, Tuesday, Thursday Friday. But, it's using my default availability which is Monday & Friday

![image](https://user-images.githubusercontent.com/6427230/172615122-a20c8aa9-0792-4405-82fb-94a2743a793b.png)

Here's the link without the private masking displaying the right times

![image](https://user-images.githubusercon

[2022-06-08 12:35] erzhan89 commented on #2991
@TheCapsLock, issue is solved. thanks!

[2022-06-08 12:35] #2991 closed

[2022-06-08 12:58] gibranlamarca commented on #2990
@TheCapsLock I couldn't reproduce your issue, but I recorded a Loom video. Please watch it and tell me if I did something wrong!
https://www.loom.com/share/d458154c85d5461aad34975a2d90ba68

[2022-06-08 14:06] zomars opened #3024 "CalVideo link in confirmation email isn’t clickable"
Reported by @milospuac
---

ref: https://twist.com/a/195135/ch/554218/

[2022-06-08 14:08] zomars opened #3025 "CalVideo link in confirmation email isn’t clickable"
Reported by @CarinaWolli
---

ref: https://twist.com/a/195135/ch/554218/t/3538765/c/76651151

[2022-06-08 16:10] jdaviescoates commented on #624
Just to add, I don't have *many* but it is checking again two separate Nextcloud calendars (my primary work and personal calendars). And it's still working nicely for me (just checked again - seems to have got a lot faster too). I'm currently on Nextcloud 24.0.1

[2022-06-08 16:26] jdaviescoates opened #3026 "It's not yet possible to deploy Cal on Cloudron"
I've been using the hosted version and really like it, but I'd prefer to self-host and so I'd really love [Cloudron](https://cloudron.io/?refcode=5adcafc820c53c3d) to be added here:

![Cal com_deployment](https://user-images.githubusercontent.com/2113743/172667667-07b5d14c-5af2-4675-a409-815302a34295.png)

As would lots of other Cloudron users (it's currently the <strike>12th</strike> 6th most req

[2022-06-08 16:30] ianhyzy commented on #3026
cal restricts SSO and provisioning behind their infrastructure tier, would that conflict with this?

[2022-06-08 16:32] jdaviescoates commented on #3026
I've no idea, but wouldn't that (if I've understood you correctly) only apply to the hosted version at cal.com and not to self-hosted instances?

[2022-06-08 16:58] jdaviescoates commented on #624
Well, it works in that CalDAV events *are* taken into consideration, and appointments created via Cal.com to added to the calendar selected in the options under https://app.cal.com/apps/installed

However, if I e.g. edit the location of the booking then instead of editing the previously created event a whole *new* event is added to the calendar. I guess I should create a new issue about that...

[2022-06-08 17:03] ianhyzy commented on #3026
No, it's a separate version that you get after you pay is my understanding — SAML SSO and other features are listed as infrastructure or enterprise only, the FOSS features map closer to the free plan (sans limitations) I think: https://cal.com/pricing

[2022-06-08 17:06] jdaviescoates commented on #1847
Just went to check the status of that and note it was closed (but that the feature is still not yet available)

[2022-06-08 17:15] jdaviescoates opened #3027 "Editing event location duplicates the event on my CalDAV calendar"
### Issue Summary

If I edit the location of a booking, a whole new duplicate event is created on my Nextcloud calendar.

### Steps to Reproduce

1. Create a booking
2. Edit booking location
3. Notice there are now two duplicate events for the booking in my Nextcloud calendar.

### Technical details

- I'm currently using the hosted version of Cal.com connected to Nextcloud 24.0.1 on Cloudron 7.1.

[2022-06-08 18:28] TheCapsLock commented on #2990
@gibranlamarca I used a different path : I rescheduled the event using the link found at the bottom of the mail saying that booking is confirmed (but that it should be approved)

The link is named "Gérer cet événement" and points to path  /cancel/<str>

[2022-06-08 19:25] PeerRich opened #3028 "/ee/ & PRO: add your own logo in cal.com/video"
right now we show our logo:

<img width="254" alt="Screenshot 2022-06-08 at 21 23 47" src="https://user-images.githubusercontent.com/8019099/172699995-9f0edc03-831e-4be3-b9a4-576fc8cc544f.png">

it would be cool if you could upload your own logo.

not sure where the image uploader should be in (settings or teams?)

[2022-06-08 19:25] PeerRich commented on #3028
also, we would need to tell the customer to have a transparent background and white logo

[2022-06-08 21:56] jdaviescoates commented on #3026
You could be right, but it's not really very clear. Either way, LDAP or not I'd love to self-host on Cloudron (but hopefully it's possible with LDAP integration too).

[2022-06-08 22:11] gramakri commented on #3026
Co-founder of Cloudron here. If it's possible to just use local users on the self-hosted instance, that would be a good start already for the Cloudron package.

[2022-06-09 05:05] #2961 closed

[2022-06-09 12:49] saschafoerster commented on #2439
@alishaz-polymath Are webhooks available for everyone or only licensed installations?

[2022-06-09 12:53] alishaz-polymath commented on #2439
Currently, they're available for all accounts at Cal.com

[2022-06-09 12:57] alishaz-polymath commented on #2439
The way it is designed, it should be usable for all self hosted installations as well. It is baked into the trigger events. However, this may change at a later stage. Until then, it is definitely usable in self hosted versions too!

[2022-06-09 17:06] hariombalhara opened #3034 "When there are 2 or more duplicate events and only 1 of those events is enabled(Pro->Free downgrade), booking link goes 404"
Refer to https://calendso.slack.com/archives/C01NXDSRY9W/p1654793665169629

Possible Steps(Not confirmed)
- Get a PRO trial
- Create an event /15min
- Create a duplicate event /15min (Shouldn't have been possible to do it. But it is right now)
- Expire the account and see that only one of the 15min event is enabled.
- /15min should be 404 now.

[2022-06-09 18:13] juliopiubello commented on #2546
Hi @milospuac ! We want to contribute to this issue but we are not sure with what solution you would like to

- should we set a default minimum time before to cancel/reschedule of like 15 minutes
- should it be a new field to the event, adding it to the database the amount of time the user picked

[2022-06-09 19:54] joaoGabriel55 commented on #3028
Hello @PeerRich! Can I get this task?

[2022-06-09 21:25] joaoGabriel55 commented on #3028
I need to ask. How can I access the video call link in development mode?

[2022-06-09 21:49] PeerRich commented on #3028
i need to check in with @Jaibles where the best place is for an image uploader but afterwards yes! will give you a staging key too

[2022-06-09 22:47] leog commented on #2864
@m4tze I can't seem to be able to reproduce the issue. Got myself radicale locally and Thunderbird to manage a calendar, created two events for one day, one regular and one recurring, and they are showing up as expected in the "Availability" tool to troubleshoot these scenarios, under your schedule. I'm assuming you have toggled your calendar in the Installed Apps configuration page to let Cal che

[2022-06-10 08:26] sean-brydon commented on #2971
Closing - this should now be present in https://app.cal.com/settings/developer as per the latest release

[2022-06-10 08:26] #2971 closed

[2022-06-10 09:23] PeerRich commented on #956
we've assigned a new engineer to some of those bugs @alishaz-polymath

[2022-06-10 09:28] PeerRich commented on #2013
looks to be fixed?

[2022-06-10 09:28] #2013 closed

[2022-06-10 09:36] #2136 closed

[2022-06-10 12:06] hariombalhara commented on #2247
@PeerRich @zomars what should we do with it?

[2022-06-10 12:29] gibranlamarca commented on #2990
@TheCapsLock for some reason I'm not receiving the confirmation email.. That's weird. I'm looking into it.

[2022-06-10 14:18] itaibaruch commented on #2396
I solve it by copying the `DATABASE_URL="postgresql://postgres:@localhost:5450/calendso"` from './packages/prisma/.env' to the root of the project env './.env' and './.env.example' (so it wont get deleted)

Hope it helps

[2022-06-10 17:36] gibranlamarca commented on #2990
@TheCapsLock Ok I managed to reproduce the issue

[2022-06-10 20:28] zomars commented on #2247
This will be significantly improved in #3035

[2022-06-10 21:48] aayestashn opened #3039 "Infinity loop when the action "booking Successful" is triggered using the @calcom/embed-react lib."
### Issue Summary

I am using the @calcom/embed-react lib, with a react with typescript application, and also a self-hosted Cal.com version.

When I am trying to schedule a meeting with the embed lib, the application enters the infinity loop as you can see in the following video:
[Video](https://www.loom.com/share/f79a0664466144aab7152aa68ff67bd2
)

I am using this example that was a recommendatio

[2022-06-10 23:32] #2997 closed

[2022-06-11 17:56] PeerRich opened #3041 "Event-Type returns 404 if you previously joined a team but downgraded to FREE"
the free plan allows 1 event type. when a customer joins a team (during TRIAL) but downgrades to FREE, the initial personal event type returns a 404

[2022-06-11 17:56] PeerRich commented on #3041
twist: https://twist.com/a/195135/ch/554218/t/3547441/

[2022-06-11 17:58] PeerRich commented on #3026
hey @gramakri whats the process? i dont mind having cal on cloudron. wanna submit a PR?

[2022-06-11 18:00] PeerRich commented on #3012
hey there, @alishaz-polymath can take a look. he built the private link feature

[2022-06-11 18:03] alishaz-polymath commented on #3012
Hey @artistro08
I'll  take a look at this on Monday. Will keep you posted with my findings!
🙏

[2022-06-11 21:30] #2970 closed

[2022-06-12 05:08] hariombalhara commented on #3039
@aayestashn you seem to have deployed a pretty old version of cal.com on https://calendso-test.onrender.com.
The bug exists in that old version. Can you try updating it.

Latest(on https://app.cal.com):
<img width="1240" alt="Screenshot 2022-06-12 at 10 37 27 AM" src="https://user-images.githubusercontent.com/1780212/173215546-8377ff13-b464-43f4-9eeb-0264e9e8a981.png">

Outdated(on https://calends

[2022-06-12 06:30] alishaz-polymath opened #9131 "[CAL-1778] Booking API not hooked with integrated calendars"
Booking created/removed using the booking API doesn't add/remove event from connected calendars

<sub>[CAL-1778](https://linear.app/calcom/issue/CAL-1778/booking-api-not-hooked-with-integrated-calendars)</sub>

[2022-06-12 11:59] jdaviescoates commented on #3026
I emailed them to ask  and they replied:

It is on the roadmap for us, but TBD as to when it will officially be implemented.

So sounds like one day self hosted version may well get LDAP in the future 😃

[2022-06-12 21:34] zomars commented on #956
Found a bug that was appearing in Zoho calendars: https://github.com/mozilla-comm/ical.js/issues/514

[2022-06-12 21:35] zomars commented on #956
Also made a temp fix that prevent unblocking availability 92de793cb9091c0f5d4a4901aa375606c27c5630

[2022-06-13 07:48] jkaczmarek1 opened #3046 "Round-robin not working"
When I tried to book team event with round-robin scheduling type, this event doesn't show at team members calendars (only showed at "Bookings" tab in cal.com).

Steps to reproduce:

1. Create team in settings tab
2. Create team event
3. Every team member should have their Google calendar connected
4. Set scheduling type to "Round Robin"
5. Book event

[2022-06-13 09:25] gracebir commented on #3046
@jkaczmarek1 , could you attack a loom video to this issue please?

[2022-06-13 15:20] zomars commented on #2839
Hey @nag-ramone by any chance did you have Zoom enabled? We temporarily disabled Zoom availability checker in e487f295da98e6716694946c9ada4cf587650f3e  since payload can get quite big and cannot be queried by date

[2022-06-13 19:26] wemakefuture commented on #1442
@baileypumfleet how is it going? We are watching this too. Does it come with this release?

[2022-06-14 09:26] thedevale opened #3056 "BUILD not working on Debian Server (10) after last update"
I have a self-hosted version on debian server. No docker, plain hosting

I just updated my system following the guide, and now the build doesn't work anymore

the error I am getting in yarn dev is:

TypeError [ERR_INVALID_OPT_VALUE] [ERR_INVALID_OPT_VALUE]: The value "undefined" is invalid for option "entryTypes"
@calcom/web:dev:     at PerformanceObserver.observe (perf_hooks.js:384:13)
@calcom/we

[2022-06-14 09:59] m4tze commented on #2864
@leog I investigated this a bit. It works when I start this baremetal on my machine. It does not work for the Version built for the Docker container. I also changed the Dockerfile to use the sources form the productive branch, but this does not work. I do not see a different between the Docker version and the baremetal install. Have you tried the Docker version? Is this something related to outdat

[2022-06-14 11:32] sean-brydon opened #3057 "Ideas to avoid apps hardcoding in core app(apps/web)"
---

ref: https://twist.com/a/195135/ch/554218/

[2022-06-14 11:33] sean-brydon opened #3058 "Refactor _baseApp to use defaultHandeler/Responder"
Refactor the CLI tool to use defaultHandler/Responder for managing the request as there is a lot of duplicate code currently.

[2022-06-14 14:07] m4tze commented on #2864
@leog @milospuac this seems to be a timezone issue for recurring events. I further tried to find the failure and fortunately, I recognized the times blocked and saw, that the timezone of the recurring event itself is wrong (and thus, fell out of my usual business times) and was not blocked because of this. After changing the timezone in the Docker container, the times are successfully blocked. I c

[2022-06-14 14:10] Toledodev commented on #2939
Hey @PeerRich . there is no way to render the cities (or the corresponding timezones) in the dropdown without rendering it again
I was able to make it switch to the right timezone without being rendered on the dropdown (as I showed in a video above) and I was able to show the corresponding timezones when the dropdown is rendered again (https://www.loom.com/share/5d14b40950ef4c94b691d3efb37ef95e)

[2022-06-14 14:11] Toledodev commented on #2939
The console on loom video shows the filtered object (with the input value)

[2022-06-14 14:13] Toledodev commented on #2939
I opened an issue in the react time zone select repository, suggesting this feature, as they only provide the date with the timezones, without having cities to filter. When trying to make the relationship between react-timezone-select and city-timezones(library I used) I realized that react-timezone-select doesn't accept timezones different from theirs suggesting this feature

[2022-06-14 14:50] nag-ramone commented on #2839
Hey, @zomars sorry about my late response. Yes, I had both, Google Calendar & Zoom integrated into my account!

[2022-06-14 15:37] m4tze commented on #2864
I extracted the calendar entry, maybe there is a problem interpreting the vtimezone information?! To me it looks correct.

[code]

[2022-06-14 16:16] #2839 closed

[2022-06-14 16:59] leog commented on #2864
Timezones are being taken into consideration when it comes to calculate availability, I think this is where it becomes relevant: https://github.com/calcom/cal.com/blob/main/packages/lib/CalendarService.ts#L255. Would be very interesting in seeing if that logic works as expected in the scenario you came across, let me know if you could follow that through, otherwise, I can try to replicate the scen

[2022-06-14 23:22] m4tze commented on #2864
@leog, first, thank you for getting into this with me. I looked into the problem a bit more and I think, the error starts exactly here: https://github.com/calcom/cal.com/blob/main/packages/lib/CalendarService.ts#L286 - the quote is from the description of the caldav protocol (more specific the expand xml element) but not from icalendar specs. Thus, the interpretation seems wrong, as we are dealing

[2022-06-14 23:30] m4tze commented on #2864
@leog btw., the current implementation seems to use the system's timezone and not UTC as the "default" timezone for the recurring events, which explains, that it worked on my baremetal installations with the right Europe/Berlin timezone but not in Docker with the UTC timezone.

I hope, this (wrong) assumption that the "default timezone" is UTC is not assumed elsewhere in the code. You should apply

[2022-06-15 07:48] GlitchWitch opened #3064 "RFC: Opt-in email CTA"
### Problem
As a user, when I receive an opt-in booking notification email I am only given one call to action: "confirm or reject".

While there are two possible reactions to this, there is only one link and that link requires you to login. If I am on mobile this adds friction as I am likely not logged in.

### Solution

We should separate the "confirm or reject" button in to two separate buttons.

[2022-06-15 11:02] gracebir commented on #3027
@jdaviescoates , can I get access to NextCloud?

[2022-06-15 11:10] PeerRich commented on #3064
i had this on my mind too. should be fairly easy to do

lemme bring this up for v1.8

[2022-06-15 12:19] Toledodev commented on #2939
hey @PeerRich, as you can see there is no dynamic way to filter and render the desired cities
https://github.com/ndom91/react-timezone-select/issues/71

[2022-06-15 12:50] #2614 closed

[2022-06-15 12:52] #2864 closed

[2022-06-15 17:14] AbcSxyZ commented on #1442
It may be a great way to have a pre-filled calendar with host personal calendar (like if he's using a paper calendar). Actually, it needs to be synced with a caldav server, annoying when you don't have one, users can't know your real availability.

And even with a synced caldav it may be useful, for example I have a meeting where I have transport time before (and after) it, I can't specify in the

[2022-06-15 20:35] jjromary commented on #1444
@baileypumfleet, Is this function already implemented or can I assume this issue?

[2022-06-16 07:04] JOduMonT opened #3075 "Inline Embed have few issues"
1. one is when you choose **Inline Embed HTML** and click Copy; it's the Inline Embed code for React, we copy.
~~2. even if I select **light theme**, it's still appearing in dark theme.~~
![Untitled](https://user-images.githubusercontent.com/5204724/174011510-14945a67-8e80-4492-874c-98287ca81e1a.gif)

[2022-06-16 08:16] TheCapsLock commented on #2139
I don't know if this issue is similar with the following but there is also a problem with CalDav : events are not on the correct timezone (UTC). They are displayed correctly on the calendar but when you edit them there is a bunch of issues :

* start and end hours are not correct regarding user's UI timezone - not sure if this is a bug on calcom side or on multiple calendar apps (which seems to be

[2022-06-16 08:22] TheCapsLock opened #3076 "Missing attendees in caldav events"
### Issue Summary

Attendees are not set in events saved to caldav (they are only shown in event's description)
When I edit an event created by calcom in my calendar, there is no attendees in the corresponding section of the UI (eg in Gnome Evolution). If I try to change something like event's description and hit save button ; an error is raised saying that a meeting must have at least one attende

[2022-06-16 09:57] PeerRich commented on #3075
@hariombalhara can you take a look?

[2022-06-16 10:01] PeerRich commented on #3056
@zomars any ideas?

[2022-06-16 11:34] hariombalhara commented on #3075
@JOduMonT Thank you so much for reporting these issues.
1. I can replicate the 'Copy Code' bug. Should be fixed soon.
2. Translation seems to work correctly in embed for me on Chrome. Which browser did you try on ?
<img width="1145" alt="Capture d’écran 2022-06-16 à 5 02 48 PM" src="https://user-images.githubusercontent.com/1780212/174061120-a0a1df8f-453c-44dc-bf3d-b07474ecfc37.png">
3. Also, I

[2022-06-16 12:56] jdaviescoates commented on #3027
@gracebir presumably you mean access to my instance of Nextcloud?

What sort of access do you require?

[2022-06-16 14:15] zomars commented on #3056
Hi @thedevale can you give us more context starting with which node version does your server is using? We recently upgraded to v16 ourselves but there might be some v14 conflicts there.

[2022-06-16 16:24] artistro08 commented on #3012
Yo. So this is fixed in Cal 1.7 works like a charm

[2022-06-16 16:24] #3012 closed

[2022-06-16 16:54] hariombalhara commented on #3075
Only 1 issue is fixed with the PR. So reopening it as it got auto closed

[2022-06-16 17:57] Ratatom opened #3085 "Error ESLint"
I'm getting this error when trying to upload the project to production on a private server.
Can someone help me?

@calcom/web:build: Generated `apps.server.generated.ts` and `apps.browser.generated.tsx`
@calcom/web:build: info  - Checking validity of types...
@calcom/web:build:
@calcom/web:build: Failed to compile.
@calcom/web:build:
@calcom/web:build: ./pages/api/auth/saml/token.ts
@calcom/web:bu

[2022-06-16 19:08] andrii-bodnar commented on #2308
Hi @titouanvct @evolverine, I can help you with the setup. Are your issues are still relevant?

[2022-06-16 20:56] agustif opened #9130 "[CAL-1792] Add members to GET /teams/:id"
A customer asked for this in slack, seems doable.

<sub>[CAL-1792](https://linear.app/calcom/issue/CAL-1792/add-members-to-get-teamsid)</sub>

[2022-06-17 05:32] Choongkyu opened #3090 "Build failure when using Heroku button on README"
### Issue Summary

When clicking Heroku button, this error occurs:
[code]

### Steps to Reproduce

1. Click on Heroku button on README
2. Add all recommended config vars in newly opened tab
3. Click deploy

Any other relevant information. For example, why do you consider this a bug and what did you expect to happen instead?
Should be deployed with no failure

### Technical details

n/a

[2022-06-17 06:55] milospuac commented on #3085
Thanks for reaching out. Our team will investigate this.

[2022-06-17 07:27] Choongkyu commented on #3090
same issue as #2936

[2022-06-17 07:27] #3090 closed

[2022-06-17 12:04] Toledodev commented on #3076
Can you send a loom video about the bug?

[2022-06-17 13:24] milospuac opened #3092 "Different availability for different event types issue"
This particular customer complained that he can’t select different event availabilities for different event types. I went to his account to test it out. He has a lot of event types and two created availabilities that he wants to use for them.

<img width="1285" alt="Screenshot 2022-06-17 at 14 24 11" src="https://user-images.githubusercontent.com/97884287/174306384-05cec8a7-9f2e-4c8a-9b0e-58d4765c

[2022-06-17 14:05] evolverine commented on #2308
Still relevant for me, yes. Thanks for your help.

[2022-06-17 14:14] andrii-bodnar commented on #2308
@evolverine could you please share more details about what is happening and when, and some steps to reproduce?

[2022-06-17 14:54] #2899 closed

[2022-06-17 14:57] PeerRich commented on #539
@hariombalhara can you double check if this still occurs?

[2022-06-17 14:59] #2771 closed

[2022-06-17 15:59] evolverine commented on #2308
I went ahead and deleted the old project and repository, and started the process anew.

The command `railway run npx prisma db push` failed with `Error: Could not find a schema.prisma file that is required for this command.` I copied `packages\prisma\schema.prisma` to `prisma\schema.prisma` and reran the command. Then I got:

[code]

Then I copied the whole folder packages\prisma\ to prisma\ and r

[2022-06-17 18:52] erzhan89 opened #3098 "[CAL-769] Unable to send Email, tried different SMTP servers."
### Issue Summary

@calcom/web:start: SEND_BOOKING_CONFIRMATION_ERROR Error: Connection timeout
@calcom/web:start:     at SMTPConnection._formatError (/calcom/node_modules/nodemailer/lib/smtp-connection/index.js:784:19)
@calcom/web:start:     at SMTPConnection._onError (/calcom/node_modules/nodemailer/lib/smtp-connection/index.js:770:20)
@calcom/web:start:     at Timeout.<anonymous> (/calcom/node_

[2022-06-18 06:25] bhopmann opened #3101 "Date range ignored when scheduling"
### Issue Summary

While this has been working until version 1.6.3, with version 1.7.1 the given date range of events is ignored when scheduling.

### Steps to Reproduce

1. Set an event in the backend with time range
2. Go to scheduling
3. The given events for booking are going beyond the time range set in the backend

### Technical details

- Browser version: Firefox 101.0.1
- Node.js version: v

[2022-06-18 06:33] bhopmann opened #3102 "Monday as first day of week ignored"
### Issue Summary

While this has been working until version 1.6.3, with version 1.7.1 the given date range of events is ignored when scheduling.

### Steps to Reproduce

1. Set Monday as first day of week in the backend
2. Go to scheduling
3. The date pickers starts with sunday

### Technical details

- Browser version: Firefox 101.0.1
- Node.js version: v14.19.3
- cal.com selfhosted (1.7.1)

[2022-06-18 08:13] wemakefuture commented on #1442
@PeerRich @baileypumfleet tested the caching and its in the online version not working. My availability is not changed

[2022-06-18 17:22] Ifenna-Pascal commented on #1221
I am facing same error

[2022-06-18 17:47] #2936 closed

[2022-06-19 01:39] vic60400 commented on #3101
Same here.

Then when you try to book a slot out of the range that returns an error.

[2022-06-19 12:02] Chinoman10 opened #3105 "Build Failed (yarn dx) - v1.7.1"
### Issue Summary

Failed to run `yarn dx` after trying multiple things...

### Steps to Reproduce

1. `git clone https://github.com/calcom/cal.com.git` ✔️
2. `cd cal.com && yarn` ✔️
3. `yarn dx` ❌

Because it threw errors and failed to launch/build.

### Technical details

- Node.js Version: v16.13.0
- Running on Ubuntu on WSLv2.

Screenshot:
![image](https://user-images.githubusercontent.com/830

[2022-06-19 12:14] MuriloAmarals commented on #2816
Hi @Jaibles sorry for the delay, what are the suggestions?

[2022-06-19 14:09] ajtatum commented on #3026
I'm also a Cloudron user and self-hosted Cal.com, but became too busy with other stuff that I wasn't able to maintain it, so if it could live in their ecosystem in any way, shape, or form that would be fantastic. LDAP would just be icing on the cake, not a requirement for me at least. I'm glad to see some potential here and look forward to seeing how this progresses. Thank you to the team at Cal.c

[2022-06-19 17:57] 89itworld commented on #2936
Even after adding NEXTAUTH_URL to app.json, still facing the error.
@Choongkyu  @baileypumfleet

-----> Build succeeded!
 !     Unmet dependencies don't fail yarn install but may cause runtime issues
       https://github.com/npm/npm/issues/7494
-----> Discovering process types
       Procfile declares types -> web
-----> Compressing...
       Done: 284.6M

[2022-06-19 20:35] jdaviescoates commented on #3026
@PeerRich just in case you didn't spot it, see this link from my OP for detail about how apps are packaged for Cloudron:

https://forum.cloudron.io/post/10712 :)

The top link on that post is this which covers what's involved:

https://docs.cloudron.io/packaging/tutorial/

Be great to have Cal on Cloudron! :pray:

[2022-06-19 21:02] PeerRich commented on #3026
i was more referring to what the process is if someone wants to make a PR

cloudron is not on our roadmap for now but if someone wants to open a PR i am down to merge it

[2022-06-20 08:14] sean-brydon commented on #3058
Sorry I missed this comment

within `packages/app-store/_baseApp` the default api handler/responses can be replaced with `packages/lib/server/defaultHandler.ts` and `packages/lib/server/defaultResponse.ts`

there is an example of this being used within
`apps/api/pages/api/users/_get.ts`

[2022-06-20 10:00] andrii-bodnar commented on #2308
@evolverine, the topic was about an issue with Crowdin so I thought your issue is also related to Crowdin but it seems like it's related to something else.

[2022-06-20 11:30] pryley opened #3110 "Optional chaining syntax missing from `eventType.seatsPerTimeSlot`"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When the "Offer seats" event option is disabled, the public meeting confirmation screen shows a black "0".

<img width="859" alt="Screenshot 2022-06-20 at 13 22 31" src="https://user-images.githubusercontent.com/134939/174591152-405e3854-01af-47ed-9cfd-91e3f5882d6a.png">

<img width="818" alt="Screenshot 2022-06-20 at 13 21 24"

[2022-06-20 12:16] MatheusBeniniF commented on #3102
Hey @bhopmann can you give me more details?

[2022-06-20 12:22] gibranlamarca commented on #2990
So.. I've been looking into this and I think the solution is just to remove this "Manage this event"(Img 1) link, or atleast revamp it, because it leads the user for a page where you can actually reschedule the event or cancel it. The problem is, you shouldn't be able to reschedule a meeting if you don't confirm it yet.. I see two workarounds here: to remove it completely(the "Manage this event" l

[2022-06-20 12:28] Toledodev commented on #3110
I tried to reproduce the behavior now, but the interface is a little different from the one you showed (the "0" didn't appear either). Please try giving a "git pull" on your machine

[2022-06-20 12:31] MatheusBeniniF commented on #3102
thanks @bhopmann i will try right now

[2022-06-20 12:58] emrysal commented on #3102
Hi both, fix is merged and due to go live during today's release.

[2022-06-20 13:09] emrysal commented on #3110
@pryley is correct here; it's caused by having the seats feature when you set the amount of seats to 0, which is falsy but not as a string. I've PR'ed the fix & set this issue to close upon merge, I expect it to go live today as part of the normal release.

[2022-06-20 13:17] Silur commented on #2991
@TheCapsLock the provided link here (and inside the app) is leading to a 404

[2022-06-20 13:20] TheCapsLock commented on #2991
@Silur moved here : https://developer.cal.com/getting-started/installation

[2022-06-20 13:44] #3110 closed

[2022-06-20 15:14] joeauyeung commented on #2944
I was thinking on going through our apps and sending an email on 401 "Unauthorized".

Some questions I have are
- Is there another error we should look for that indicates the credentials are throwing the error
- Do we then delete the credential on behalf of the user?
	- I'm leaning towards no

Is this too overbearing? I'm thinking as our user base increases is this a good use of our compute resour

[2022-06-20 15:27] emrysal commented on #2944
If an integration is broken we can no longer guarantee the correct functioning of the scheduling system, at that point we should disable all event types that require that integration and provide an alternative means of scheduling; simultaneously we must then inform the organizer something is wrong. At that point you don't need to run an E2E test to see a page is broken, all you need to do is run a

[2022-06-20 16:01] bhopmann opened #3115 "Getting Message "A Meeting URL will be created once the event is confirmed" instead of Zoom-Link"
### Issue Summary

When using Zoom as location the notification email says, that a meeting URL will be created once the event is confirmed, even though the confirmation mode is not used. The link is generated in zoom, but is missing in emails and calendar entry.

### Steps to Reproduce

1. Create an event via Zoom without activating confirmation mode
2. Book an event via Zoom
3. Zoom-Link is missi

[2022-06-20 16:09] emrysal commented on #3115
This is fixed in main (Due to go live in 1.7.2)

[2022-06-20 16:44] zomars commented on #1594
It's on the roadmap definitely @jlalmes we need to extract tRPC to a monorepo package, put remaining logic there and there we can adopt it in the open API

[2022-06-20 16:53] bhopmann commented on #3115
Thank you, I've tried main, but it seems that the Zoom-Link is still missing:

<img width="180" alt="Bildschirmfoto 2022-06-20 um 18 53 08" src="https://user-images.githubusercontent.com/2770597/174648487-0ccbcf23-06bb-412a-b94f-1a3575efa515.png">

[2022-06-20 19:53] zomars commented on #2990
Let's continue the discussion in here #3064

[2022-06-20 20:22] gibranlamarca commented on #3064
That makes sense! Also, we could fix/change the "Manage this event" as I mentioned in #2990. Atm the user could reschedule an opt-in booking before even confirming it, which doesn't make sense, since via website it requires a confirmation first, and then you can reschedule.

[2022-06-20 21:48] alannnc commented on #2944
@emrysal @joeauyeung

Yeah we should do that, not every app integrations has its own ping test endpoint. I think we should define them based on what they do. In some apps user can omit a single permission and block us from working fully and we should let know to the user that we're missing specific permissions.
E.g. for calendar we should try to read any event, create/delete appointments and mark

[2022-06-21 09:17] andrii-bodnar commented on #2308
@titouanvct as I can see, the [crowdin.yml](https://github.com/calcom/cal.com/blob/main/.github/workflows/crowdin.yml) uses some environment variables. These variables are used to provide content synchronization with Crowdin.

- Please create the Actions secrets for your repository:
  - `CROWDIN_PERSONAL_TOKEN` - the personal access token generated in Crowdin.
  - `CROWDIN_PROJECT_ID` - ID of the

[2022-06-21 10:16] aar2dee2 commented on #2939
@PeerRich
I'm planning to add cities from [this Kaggle database](https://www.kaggle.com/datasets/juanmah/world-cities) directly to the [declared time-zones list](https://github.com/ndom91/react-timezone-select/blob/main/src/timezone-list.ts) in react-timezone-select. Here's a snapshot of the data in Kaggle:
<img width="967" alt="Screenshot 2022-06-21 at 3 45 43 PM" src="https://user-images.githubu

[2022-06-21 10:23] aar2dee2 commented on #2939
update: just read the discussion [here](https://github.com/ndom91/react-timezone-select/issues/71). Happy to work with @Toledodev / others if we have consensus on the dataset to be used.

[2022-06-21 11:49] hariombalhara opened #3128 "Playwright Test Required - Pro to Free downgrade - Sometimes event is 404"
See https://github.com/calcom/cal.com/pull/3126

[2022-06-21 12:36] PeerRich commented on #2939
awesome yeah lets work in that repo 🙏

[2022-06-21 13:09] MatheusBeniniF commented on #2897
hey @kof you can give me more details?

[2022-06-21 13:19] joeauyeung commented on #2965
First two problems addressed. Last one track on #2944

[2022-06-21 13:19] #2965 closed

[2022-06-21 13:25] kof commented on #2897
@MatheusBeniniF  Under the link I showed (replace it with your user), I was expecting to see only available slots, but I see all the slots, is that intentional?

[2022-06-21 13:38] MatheusBeniniF commented on #2897
for me to understand better, would you be able to send a loom video or a print of your screen?

[2022-06-21 15:26] 89itworld opened #3134 "Even after adding NEXTAUTH_URL to app.json, still problem with deployment on Heroku"
Even after adding NEXTAUTH_URL to app.json, still facing the error.
 @Choongkyu @baileypumfleet
-----> Build succeeded!
! Unmet dependencies don't fail yarn install but may cause runtime issues
https://github.com/npm/npm/issues/7494
-----> Discovering process types
Procfile declares types -> web
-----> Compressing...
Done: 284.6M

[2022-06-21 16:13] agustif commented on #3134
Hello @89itworld thanks for opening the issue,
I think this might be related to the free dyno 2gb ram, not being enough to build cal.com in heroku. Can you try upgrading and if that fixes it?

Thank you

[2022-06-21 20:58] #2952 closed

[2022-06-22 03:13] jjromary commented on #2477
Hi, @alishaz-polymath. Can I work on implementing this feature?

[2022-06-22 08:17] alishaz-polymath commented on #2477
Hey @jjromary
Of course. Have a go, we'd greatly appreciate it 🙏

[2022-06-22 10:52] marten-cz commented on #2217
Not sure if it will help, but found this tweet https://twitter.com/lowcodekrish/status/1411213468569587715?lang=en

[2022-06-22 15:36] zomars commented on #3115
I know @alannnc did some adjustments recently to the Zoom schema validator it should be a quick fix.

[2022-06-22 15:43] #3092 closed

[2022-06-22 17:39] agustif opened #9129 "[CAL-1791] Add password (encrypted) as input on POST /users for Admins only"
Right now password is not set, user needs to reset pw to get one if created via API

Requested by Tarek in slack: https://calendso.slack.com/archives/C02QT9R2HDW/p1655844945843499

<sub>[CAL-1791](https://linear.app/calcom/issue/CAL-1791/add-password-encrypted-as-input-on-post-users-for-admins-only)</sub>

[2022-06-22 18:41] #3115 closed

[2022-06-22 19:46] 89itworld commented on #3134
Hi @agustif
Can you please let me know which dyno plan has 4gb RAM? I would highly appreciate it.

[2022-06-23 07:14] gracebir commented on #3057
@sean-brydon , could you please adding up the ref with loom, cause we don't have access to your twist working space

[2022-06-23 07:16] gracebir commented on #3105
@Chinoman10 , I try this out with node version 14.7.x, by just running `nvm use `, also make sure I've setting `heroku`, or a localhost postgres database

[2022-06-23 07:38] CarinaWolli opened #3142 "Huddle01 installation (no success message and no redirect )"
### Issue Summary

When installing Huddle01, I don’t get any message that it was successfully installed and it also doesn't redirect to installed apps. I didn't experience that with any other apps so far.

[Loom Video](https://www.loom.com/share/e126916015a3418aa3b1d3ac577b49ba
)
### Steps to Reproduce

1. Disconnect Huddle01 (if already installed)
2. Install Huddle01
3. See that no success messag

[2022-06-23 08:04] bhopmann opened #3143 "Inconsistencies between already booked events and scheduling"
### Issue Summary

Scheduling seems to ignore already booked events (Availability is set to thursday, 11-12h; two events 11:30-11:45 and 11:45-12:00 are booked). In addition the calender is blocked with another non cal.com related event between 11:00-11:30h.

<img width="250" alt="Bildschirmfoto 2022-06-23 um 09 25 10" src="https://user-images.githubusercontent.com/2770597/175242656-c7ea2833-aaa2-

[2022-06-23 18:35] zomars opened #3151 "RFC: Queue System"
### Is your proposal related to a problem?

Right know we depend on many external factors that may affect our core functionality in terms of speed, performance and reliability. Some examples that come to mind are:
- Sending emails
- Sending web hooks
- Sending broken integration alarms #2944
- Future SMS/notification sending #2861

Putting the example for the Webhooks, we don't have control on the

[2022-06-23 18:36] #451 closed

[2022-06-25 05:16] #2944 closed

[2022-06-25 09:09] aar2dee2 commented on #2939
Hey @Toledodev if you have a fork for `react-timezone-select` that you're adding the cities in, could you add me as collaborator?

[2022-06-25 18:32] noobyogi0010 commented on #3142
Hey, @CarinaWolli
If no one is working on this issue I would like to take it up.
Thanks!

[2022-06-25 18:35] noobyogi0010 commented on #2988
Hey, @milospuac !
I would like to work on this issue.
Thanks!

[2022-06-26 03:27] niteshsingh1357 opened #3158 "Availability page displays two Timezone dropdown button for mobile view"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Availability page displays two Timezone dropdown button for mobile view

### Steps to Reproduce

1. Go to Event Types
2. Click on Preview button for any one of the Event Types
3. Follow the link in a new tab
4. Enable mobile view
5. Notice one more Timezone dropdown button just below the calendar

Any other relevant information

[2022-06-26 14:55] jdaviescoates commented on #2988
Just to add, I tried this a few more times and I no longer get an error, nor two events in my Cal.com bookings,  but I end up two events in my Nextcloud calendar: the original booking,  plus the rescheduled one.

[2022-06-26 16:39] 123om123 commented on #2900
would it be possible for me ot work on this?

[2022-06-26 18:07] agustif commented on #3134
Hey @89itworld sorry for the confusion there, I read that a long time ago in a comment in slack, but prob was about docker and not heroku?
Anyways It seems there's no dyno with such ram
https://devcenter.heroku.com/articles/dyno-types
Super weird that they jump from 2.5 to 14gb if you ask me, no idea, also it's possible this is not the issue anyways.

PS: Seems before I edited instead of quote rep

[2022-06-26 21:49] PeerRich opened #3159 "og-image not working for event-links"
i believe this used to work, now it throws an error:

<img width="1027" alt="image" src="https://user-images.githubusercontent.com/8019099/175834998-f312b21c-0b06-4ae2-9774-83e310262026.png">

test yourself:

https://cards-dev.twitter.com/validator

https://cal.com/peer/30min

[2022-06-26 22:10] alishaz-polymath commented on #3159
It definitely used to work. Probably bugged out in some new changes. Will get it sorted upon my return. 🙏

[2022-06-26 22:24] PeerRich commented on #2247
@emrysal @hariombalhara lets tackle this this week

[2022-06-26 22:25] PeerRich commented on #1611
this has been added as "private links"

[2022-06-26 22:25] #1611 closed

[2022-06-26 22:26] PeerRich commented on #1442
@wemakefuture can you try again? has it been improved?

[2022-06-26 22:27] PeerRich commented on #877
@lhqs1314 it was added in last weeks new version!

[2022-06-26 22:27] #877 closed

[2022-06-26 22:27] PeerRich commented on #162
@Kaeson, @jimafisk the cached calendar was added last week in version v.1.7

[2022-06-26 22:27] #162 closed

[2022-06-26 22:32] PeerRich commented on #2878
related #2861

[2022-06-26 22:37] PeerRich commented on #1780
duplicate of #2861

[2022-06-26 22:37] #1780 closed

[2022-06-26 22:39] PeerRich opened #3160 "language sometimes switching to wrong locale"
@zomars EDIT:

Some user reported that their account was switched to German and a moment later it switched back to English.

Issue was replicated, but it was happening to that specific user.

Investigating if it may have something to do with browser/locale combination.

[2022-06-26 22:39] PeerRich commented on #3160
https://twist.com/a/195135/ch/554218/t/3579296/

[2022-06-26 22:40] PeerRich commented on #1861
more variables added!

[2022-06-26 22:40] #1861 closed

[2022-06-26 22:40] PeerRich commented on #1442
added in v.1.7 🎉

[2022-06-26 22:40] #1442 closed

[2022-06-26 22:42] PeerRich commented on #3158
nice catch and easy fix! will do

[2022-06-27 07:45] gracebir commented on #3158
can take a look on this

[2022-06-27 09:33] gracebir commented on #3158
https://github.com/calcom/cal.com/blob/main/apps/web/components/booking/pages/AvailabilityPage.tsx#:~:text=%3Cdiv%20className%3D%22mt%2D4%20ml%2D1%20block%20sm%3Ahidden%22%3E%7BtimezoneDropdown%7D%3C/div%3E

@PeerRich , I would to understand why we need this other timezone dropdown, and in which scenario is it going to be displayed?

[2022-06-27 09:40] gracebir commented on #3160
@PeerRich , is it possible please to use another tool for describing the issue, cause we are not able to access `twist` work space?

[2022-06-27 10:02] evolverine commented on #2308
@andrii-bodnar, could you please guide me where I need to file this bug, then?

[2022-06-27 10:15] milospuac commented on #3098
Thanks for reaching out and sorry about the delay. Our team will investigate this

[2022-06-27 10:48] PeerRich commented on #3160
one of the core team members is already looking into this

[2022-06-27 11:05] Jaibles opened #3164 "Signup goes from /signup to /login with no confirmation of account creation"
Creating an account on the live app takes me straight to a login page with no account confirmation (bar a toast).

https://user-images.githubusercontent.com/4536123/175927740-f74b91b9-61f2-4446-aa63-a678d8bbd473.mp4

Relevant designs: https://www.figma.com/file/6sITaSOZ2JCXyKEYhC10P5/%F0%9F%96%B1-Cal-Web-App?node-id=3412%3A40621

[2022-06-27 12:08] PeerRich commented on #3158
a PR has been opened

[2022-06-27 12:08] #3158 closed

[2022-06-27 12:30] Jaibles commented on #2900
@sean-brydon yes the plan was to default to Cal video.

I'm not sure what to do for self-hosted users but will think about it.

[2022-06-27 12:41] MuriloAmarals commented on #3143
Hey @bhopmann, I reproduced your issue on my localhost and it didn't appear this bug.

![Opera Instantâneo_2022-06-27_093146_localhost](https://user-images.githubusercontent.com/87545137/175944069-3bd876b7-cfab-40d2-b411-46f119622227.png)

![Opera Instantâneo_2022-06-27_093916_localhost](https://user-images.githubusercontent.com/87545137/175944074-b6f1482e-19a3-4ef8-918a-745c34b87bf8.png)

[2022-06-27 16:30] sihma opened #3167 "[CAL-2979] ICS feed support for checking against double bookings"
### Is your proposal related to a problem?

I teach a language on italki. When people book lessons, the lessons event get dynamically updated in an .ics file calendar that's hosted through http. I use software (Thunderbird on my computer and ICSx5 on my Android smartphone) to see this calendar along my usual calendar (in CalDAV).

[Cal.com](http://Cal.com) has the ability to check my CalDAV for ev

[2022-06-27 19:07] PeerRich commented on #3160
yeah i myself havent had more context 🙏

[2022-06-27 21:06] chasebolt opened #3169 "Troubleshooter fails when viewing next month"
### Issue Summary

Today is June 27th and I am attempting to troubleshoot an issue with my calendar for July 5th. When I selected a date the is not in my current month (June), the troubleshooter fails to use the correct date.

![image](https://user-images.githubusercontent.com/1222984/176035310-d4ce6f32-4eac-4196-ab24-832e4c1ae252.png)

### Steps to Reproduce

1. Went to Troubleshooter
2. Changed

[2022-06-27 21:11] manuelgu commented on #3160
I have had the same issue (english to swedish).

[2022-06-27 21:17] manuelgu opened #3170 "Link to specific event slot in the future always jumps to current month"
### Issue Summary

When opening a link to a Cal event type that already has a specific `date` selected, the view does not jump to the actual date to schedule the meeting but instead shows the current month with no bookable dates left.

### Steps to Reproduce

1. Take your Cal link
2. Append `?date=2022-09-08%2B0200` to the link
3. Open page and see that the current month (currently: June) is visib

[2022-06-27 23:47] zomars commented on #3160
@manuelgu Can you go https://www.whatsmybrowser.org and post here the generated url?

[2022-06-28 07:10] gracebir commented on #3164
@Jaibles , for some reason I ignore, that functionality has been removed, cause it suppose to be in this folder `apps/web/lib/emails/templates`, but it was deleted

[2022-06-28 15:19] hariombalhara opened #3175 "500 error on links that clash with locale"
Any random cal link with `locale` as event type name causes this error.
e.g. https://cal.com/solve/it

Internal Twist Thread:  https://twist.com/a/195135/ch/554218/t/3579118/

This is actually a bug in Next.js https://github.com/vercel/next.js/issues/33739(which is closed). The other duplicate which is still open is https://github.com/vercel/next.js/issues/21714

If someone has this issue, suggest

[2022-06-28 15:49] zomars commented on #2247
I propose going the reverse redirect route:
- Move the website to `website.cal.com`
- Assign the bare `cal.com` domain to `app.cal.com` (It will still work with both)
- Rewrite marketing pages from `cal.com` to `website.cal.com` (the user won't see the `website` subdomain at all)

[2022-06-28 16:03] #2955 closed

[2022-06-28 16:07] hariombalhara opened #3177 "Test Required: Add an App installation testcase for HubSpot App"
Hubspot being a special case with lying in both `calendar` and `other` category it must have an installation testcase and maybe others.
Refer to https://github.com/calcom/cal.com/pull/3176 for a regression that occurred due to it

[2022-06-28 21:59] alannnc opened #3184 "Slots availability not working for some timezones"
Found a bug? Please fill out the sections below. 👍

### Issue Summary
There are rare cases when availability it's not being displayed correctly for some timezones.

![clipboard1](https://user-images.githubusercontent.com/4461358/176307092-452bb10f-869e-41c7-a1fa-4c44eb073336.png)

![clipboard1](https://user-images.githubusercontent.com/4461358/176307103-6f905a3b-d568-4309-9964-3edd95e6d81f.png)

#

[2022-06-29 02:33] Perfectentry opened #3186 "yo"
### Is your proposal related to a problem?

(Write your answer here.)

### Describe the solution you'd like

(Describe your proposed solution here.)

### Describe alternatives you've considered

(Write your answer here.)

### Additional context

(Write your answer here.)

[2022-06-29 07:12] peseotni opened #3190 "timeslot multiple times occupied"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

different clients have reserved the same timeslot.

### Steps to Reproduce

1. fresh installation version 1.6.3
2. setup the event type and assign availability
3. different clients were able to reserve the same timeslot

![same_timeslot](https://user-images.githubusercontent.com/22613392/176374650-29b26e1b-e40e-4383-9b06-3e6f18

[2022-06-29 07:15] peseotni commented on #3143
I also have the version 1.6.3 on self-hosted server and the same issue, multiple users reserved the same timeslot.
![same_timeslot](https://user-images.githubusercontent.com/22613392/176375209-01cfe906-6d8c-4a1e-97b2-856662f6a109.jpg)

[2022-06-29 08:34] PeerRich opened #3191 "missing string “someone_requested_an_event” in emails for bookings that require confirmation"
<img width="548" alt="image" src="https://user-images.githubusercontent.com/8019099/176391104-e8689cf6-bcd6-448e-9e70-d58f1ea235a1.png">

[2022-06-29 09:22] gracebir commented on #3191
I am going to work on this

[2022-06-29 12:53] matheusmuniz03 commented on #3191
Hey @PeerRich can you give me details of where this page?

[2022-06-29 13:01] PeerRich commented on #3191
it's in the email thats being sent asking to confirm the meeting

[2022-06-29 16:59] zomars commented on #3169
This was fixed in 1.7.3 [here](https://github.com/calcom/cal.com/commit/58b2a6425a9fcef485f1778f959a0f70894eb319#diff-a6b39df52ae3ed655264e3f592ac13e6c710be8b7bb75dbcd7047c6b524d1073)

[2022-06-29 17:26] chasebolt commented on #3169
👋 @zomars this doesn't appear to be fully fixed in 1.7.3

Here is a screen recording of the issue https://share.vidyard.com/watch/k9GvynTwWJaMDmvJMZzRrq

[2022-06-29 17:40] zomars commented on #3169
Hey @chasebolt thanks I think I've misunderstood the original issue. Will investigate 🙏🏽

[2022-06-29 17:41] chasebolt commented on #3169
np! sometimes a video is the best way to show the issue 😅

[2022-06-29 18:10] matheusmuniz03 commented on #3191
@PeerRich that's it? Here on my localhost it seems right.

loom video: https://www.loom.com/share/88976182499d45feb2c03ce0acd6136d

[2022-06-29 18:11] PeerRich commented on #3191
interesting. maybe there was just a hickup

[2022-06-29 18:22] #3024 closed

[2022-06-29 18:26] PeerRich commented on #3191
seems to be fixed

[2022-06-29 18:26] #3191 closed

[2022-06-30 06:43] hariombalhara opened #3203 "When free@example.com, requested a reschedule, this email was sent to him."
- The email doesn‘t convey that the reschedule as been requested. Instead it says Rescheduled
- Similarly Email Content Heading says that “Event has been scheduled“. It should convey that we have requested the scheduler to rebook and cancelled your booked meeting.

![image](https://user-images.githubusercontent.com/1780212/176610261-4bc1cdd6-aadd-46c1-82dc-9947da013d12.png)

[2022-06-30 06:47] hariombalhara opened #3204 "When there is something wrong with calendar we don’t show which calendar it is."
![image](https://user-images.githubusercontent.com/1780212/176610792-363af763-f0c1-4484-a04f-93cc867b24cf.png)

[2022-06-30 06:49] hariombalhara commented on #3075
I am closing this issue. Please open a fresh one if you feel that the issue still exists.

[2022-06-30 06:49] #3075 closed

[2022-06-30 06:50] hariombalhara commented on #3039
Closing the issue as it was alread fixed in latest main

[2022-06-30 06:50] #3039 closed

[2022-06-30 07:08] hariombalhara opened #3205 "Tests Required: Unit/Playwright Tests for getSchedule"
- Test that with given input it returns correct slots always. We can fake the EventType and availability.

cc @emrysal

[2022-06-30 07:48] milospuac commented on #3190
Hi there. Thanks for reaching out. What is the calendar that you integrated? Are you on our hosted version? If yes, what is your username?

[2022-06-30 07:51] milospuac commented on #3186
Yo

[2022-06-30 07:53] #3186 closed

[2022-06-30 07:54] milospuac commented on #3167
Hi there. Thanks for reaching out. Our team will look into this.

[2022-06-30 07:55] milospuac commented on #3170
Hi there. This should be fixed now. Can you confirm?

[2022-06-30 08:15] peseotni commented on #3190
It is self-hosted and has no calendar integration

[2022-06-30 12:20] MuriloAmarals commented on #3170
Hey @milospuac , I did a git pull in my branch and bug appeared again.

[2022-06-30 20:43] TheCapsLock opened #3207 "Calls exodia.io/api/trending?page=1"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Cal.com calls exodia.io and should not. OR it should be possible to disable it

In other words : we expect cal.com to be a schedule app not a NFT / crypto thing.

### Steps to Reproduce

1. Open network inspector
2. Edit an event type
3. 🍿

### Technical details

- Browser version, screen recording, console logs, network reques

[2022-06-30 20:48] TheCapsLock commented on #3207
Root cause is here https://github.com/calcom/cal.com/blob/d732a984c2cc1877fb683f9a21877e08134ddcdf/apps/web/pages/event-types/%5Btype%5D.tsx#L360

Introduced by https://github.com/calcom/cal.com/pull/1603

[2022-07-01 04:15] jjromary commented on #3170
Hi, @manuelgu. Apparently I followed the steps you provided correctly and this error did not occur for me.

https://www.loom.com/share/3c64f57ba0094958be48e71498969a22

[2022-07-01 05:41] hariombalhara commented on #3204
@jjromary The error that you see is `calendar_error` as shown in screenshot. You can try to get that condition to true
<img width="1041" alt="Screenshot 2022-07-01 at 11 10 42 AM" src="https://user-images.githubusercontent.com/1780212/176831029-d16bb1dc-05f7-47b3-9dcf-344842db025a.png">

[2022-07-01 07:26] andrii-bodnar commented on #2308
@evolverine it's not a but. You need to configure the Action Secrets in your repo as I mentioned in my previous message.

[2022-07-01 11:26] #1955 closed

[2022-07-01 11:28] #2922 closed

[2022-07-01 16:21] hhimanshu opened #3211 "Self-hosted instance is failing with `undefined` in the URL"
### Issue Summary

I self-installed Calendso, using Railway, one-click deployment. I performed all the steps as needed and got my app working.

However,
1. When I go to the settings page, I see `undefined` before my userName.
2. Also, when I add Google Calendar app, it fails with `Error 400: invalid_request` request and following error
[code]

I have created a demo video to showcase the same issue

[2022-07-01 16:50] zomars commented on #2541
Closing until proper demo/reproduction is provided since we can't replicate.

[2022-07-01 16:50] #2541 closed

[2022-07-01 17:19] #2470 closed

[2022-07-01 18:18] jjromary commented on #1534
I checked the Availability session and this functionality is already implemented.

![disponibilidade](https://user-images.githubusercontent.com/37199044/176949095-c8fad32e-d411-4c35-81eb-5d772606d885.jpg)

[2022-07-01 18:49] #1534 closed

[2022-07-01 20:49] zomars opened #3212 "RFC: Add Conditional Status Checks"
Adding the [GitHub Action: Require Conditional Status Checks](https://github.com/marketplace/actions/require-conditional-status-checks) will allow us to:

- Auto-merge crowdin translations
- Keep private modules in sync automatically
- Auto merge hot fixes from main to production
- Keep the same safeguards when merging PRs to main
- Avoid deploying to Vercel for branches that don't have a PR to ma

[2022-07-01 20:51] karstenwinter opened #3213 "Placeholder variables in email text preview line"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

A summary of the issue. This needs to be a clear detailed-rich summary.

### Steps to Reproduce

1. Went to cal.com/{xy}
2. Clicked on 15 min
3. entered a date, submitted
4. opened the confirmation mail
5. the mail has a preview line (not present in email body) that contains `{{variables}}`
![image](https://user-images.githubus

[2022-07-01 20:57] karstenwinter commented on #3213
same for cancelled, a technical_id is shown in the preview line

![image](https://user-images.githubusercontent.com/4852618/176967076-e407ade1-bb3e-4b5c-aea5-77b87a720773.png)

[2022-07-01 21:15] zomars opened #3214 "RFC: Use next-themes for theme handling"
Right now we have a "semi-stable" theming engine. I propose delegating that responsibility to a battle-tested package like [next-themes](https://github.com/pacocoursey/next-themes).

[2022-07-01 21:29] zomars opened #3215 "Scheduled Snapshot Restoration"
We need [a way to keep in sync our Snaplet data](https://docs.snaplet.dev/tutorials/github-actions) with the new DB in Neon to enable DB branching.

Needed for #3216

[2022-07-01 21:32] zomars opened #3216 "Enable DB branching for each PR preview"
Blocked by #3212 #3215

We're looking into using `neon.tech` so we can create branches from our staging DB so we can test out migrations without disrupting the rest of the contributors.

Here's a [comprehensive example](https://github.com/kelvich/branching_demo_ts/blob/main/.github/workflows/test_migrations.yaml) on how can we achieve that with GitHub actions.

[2022-07-01 21:48] manuelgu commented on #3170
I am getting a new error now when trying to reproduce it
![image](https://user-images.githubusercontent.com/4404335/176971334-bafe4d45-50c0-4809-943e-e5431a91807d.png)

It seems that the URL structure has changed entirely -- at least do I not recognize `https://cal.com/:username/30min?month=2022-09&date=2022-09-08`. Using that pattern correctly displays the selected month/date.

[2022-07-01 21:59] agustif commented on #3170
We recently split date to two params (date and month), so it's one for the month selector and other for the date selector @manuelgu. This allows us to fix the bug and others and so you can switch months and have a different selected date. I think the described issue has been resolved?

https://cal.com/ag/quick-chat?date=2022-07-08&month=2023-02

[2022-07-02 00:37] agustif commented on #3211
Hello @hhimanshu can you try naming the environment setting `NEXT_PUBLIC_WEBAPP_URL` instead?

This is how we read it, guess it might have thrown you off with the naming on the error logs
`export const WEBAPP_URL = process.env.NEXT_PUBLIC_WEBAPP_URL || `https://${process.env.VERCEL_URL}`;
`

[2022-07-02 00:46] agustif commented on #3211
Also was just thinking if there's. a VERCEL_URL equivalent for railway/heroku.

In case of railway `RAILWAY_STATIC_URL` https://docs.railway.app/develop/variables

@zomars do you think it would be worth it to add those as fallbacks if no `NEXT_PUBLIC_WEBAPP_URL` or `VERCEL_URL` are found?

[code]

[2022-07-02 01:01] agustif commented on #3207
Hello @TheCapsLock, First of all, thank you for bringing this up.

I'll try to explain a bit, as I have some context of when I looked into upgrading our web3 code .
this code is part of our web3/metamask app, sadly this app was shipped just before we moved the codebase to the new monorepo (meaning code is actually really interwinded with whole webapp, and not separated from it), and also before th

[2022-07-02 06:02] manuelgu commented on #3160
@zomars https://www.whatsmybrowser.org/b/3W9DE

[2022-07-02 06:03] manuelgu commented on #3170
Yes, sounds like it! Thank you.

[2022-07-02 06:03] #3170 closed

[2022-07-02 12:12] agustif commented on #3151
Not that I'm against the proposed route of using what we already have for now adding those to prisma.schema

But wondered if we want to even consider a Redis-like alternative, which doesn't have to mean redis itself, which something like https://github.com/taskforcesh/bullmq to make it work nicely with node...

As for SaaS, I knew of https://quirrel.dev/ which was integrated with vercel/nextjs bef

[2022-07-02 13:37] zomars commented on #3151
I'd heard good things about Bull. But for our initial use case could be over kill. Also as you mentioned if we don't want to complicate the stack for self hosted, we shouldn't depend on external SaaS either. @agustif

[2022-07-02 14:18] hhimanshu commented on #3211
Thank you, @agustif , I can confirm that when I added my railway provided domain with `NEXT_PUBLIC_WEBAPP_URL` as key, the error was gone.

[2022-07-02 18:00] hariombalhara commented on #3160
The issue is fixed now.

[2022-07-02 18:01] #3160 closed

[2022-07-02 19:28] TheCapsLock commented on #3207
Hi @agustif Thanks a lot for your feedback which gives more details about the situation. I'm very excited about the roadmap to handle this issue - thank you

[2022-07-03 01:24] 89itworld commented on #3134
Hi Team and @agustif
I forked cal.com repo and made few changes in few files including package.json and app.json, and used heroku template from my forked repo and i managed to iinstall it on heroku. So, now it is pretty sure that it is not related to RAM.
But after that i deleted heroku apps and tried to deploy again from scratch, so i deleted and forked cal.com again, but this time again somethin

[2022-07-03 01:31] 89itworld commented on #3134
below is build log:

`

-----> Building on the Heroku-20 stack

-----> Determining which buildpack to use for this app

-----> Node.js app detected

-----> Creating runtime environment

       NPM_CONFIG_LOGLEVEL=error

       USE_YARN_CACHE=true

       NODE_VERBOSE=false

       NODE_ENV=production

       NODE_MODULES_CACHE=true

-----> Installing binaries

       engines.node (package.json):

[2022-07-03 17:51] noobyogi0010 commented on #3213
Can I work on this issue?

[2022-07-03 20:51] 89itworld commented on #2389
hello @zomars @baileypumfleet Is there any workaround for this, unable to deploy it on heroku.
Please add it in priority bug as lot of users are facing same issue and unable to deploy on heroku by using any way either by using heroku template or by heroku cli, getting no success at all.

[2022-07-03 21:11] zomars commented on #2389
Thanks for the reminder @89itworld we're aware of the situation. There's a reason we haven't prioritized these issues and demanding time from the core team can be seen as rude. Let's keep in mind that this is an open source project and as the license states it, the software here is provided "as is" in it's current state.

If we find the necessity to prioritize this issue it will be done. But also

[2022-07-03 22:58] 89itworld commented on #2389
@zomars First of all I would like to thanks all contributors of this project to present a wonderful application as open source.
 As we liked this project a lot, thats why it reached more than 12k stars. I appreciate efforts and time of core team and a big cheers to all.
I just highlighted this issue as it is related to lot of open issues and priority issues, and sometime when we are working on big

[2022-07-03 23:03] zomars commented on #2389
You can see on that issue there was an attempt to fix the solution at #3091 please don't say that it was closed without solution. If it didn't solve it for you, you did right to open up a new issue, but don't disregard pasts solution attempts please.

[2022-07-04 04:50] hariombalhara opened #3219 "Refactor Task: Remove global CSS Import in _app.tsx for Routing Forms"
Don't forget this fixme @hariombalhara

_Originally posted by @agustif in https://github.com/calcom/cal.com/pull/2785#discussion_r910982636_

This can also be fixed by adding the CSS in useEffect in the routing forms paths but ensuring that the content is not visible till the time the CSS is loaded.

[2022-07-04 05:01] hariombalhara opened #3220 "Routing Forms Improvement Task - Define Fallback Routes at backend as well."
https://www.loom.com/share/2de3348e031447739e2d34edc7872c84

Original comment: https://github.com/calcom/cal.com/pull/2785#issuecomment-1171094572

[2022-07-04 15:00] PeerRich opened #3222 "bring back dynamic group links"
for the transition to a cached calendar we temporally disabled dynamic group links.

lets bring them back

[2022-07-04 17:34] jjromary commented on #2426
@bttger , @milospuac . Can you show me with an image where the "non-optional" field is. I couldn't find it.

[2022-07-04 17:47] bttger commented on #2426
What do you mean with "non-optional field"? What I was talking about in the issue was the opt-in meeting option in the advanced settings of an event. At the moment it's a checkbox with the name "Requires confirmation".

[2022-07-04 18:28] PeerRich opened #3224 "Back button has wrong url"
https://app.birdeatsbug.com/sessions/v_JX4IdCAVk1nUeO3mjk53kKNLIKXyV1CCsrBOP2N6xv

https://app.birdeatsbug.com/sessions/GcpAJrGDyyqBX3V7t4NsOpFhWK9_alpyA4k-wz_gqw_A

[2022-07-04 18:32] PeerRich opened #3225 ""someone_requested_an_event" in "An event is waiting for your approval" emails"
### Is your proposal related to a problem?
<img width="465" alt="image" src="https://user-images.githubusercontent.com/8019099/177204273-2e6d696a-819f-4d8f-abad-3e5736c7bb57.png">

# reproduce

- create a booking that requires confirmation
<img width="532" alt="image" src="https://user-images.githubusercontent.com/8019099/177204328-bcd8b22e-608f-4cfb-8b61-0eb47012db40.png">

- book yourself

- che

[2022-07-04 20:41] jjromary commented on #2426
OK I understand. Thanks.

[2022-07-04 21:44] alannnc commented on #3203
@hariombalhara There was indeed an error while selecting required email template when rescheduling. A PR has been made
https://github.com/calcom/cal.com/pull/3227

[2022-07-04 21:44] #3203 closed

[2022-07-04 23:59] starpunjabi commented on #2936
@Choongkyu Is this issue resolved at your end? As @baileypumfleet closed it against your thread.
I would request @Choongkyu @baileypumfleet  to please share final steps on how to solve it if it is resolved and completed, as I am also facing same issue in heroku deployment, and I could find how to follow#3091 in order to fix this.  Thanks

[2022-07-05 02:12] Choongkyu commented on #2936
@89itworld @starpunjabi as I described in the PR comments, there still lingers an issue even after this fix, which is included in the description. This was meant to get us closer to resolution but not all the way. The original ticket will probably need to stay open until the issue is fully resolved. I'm a bit strapped for bandwidth to thoroughly examine the issue and submitted what I thought would

[2022-07-05 02:48] starpunjabi commented on #2936
@Choongkyu Thanks for your response and I appreciate it.
@baileypumfleet I would request you to please reopen this ticket, so I don't have to create any new ticket and I hope this whole thread comments will be more helpful in order to fix.

@89itworld Is this issue resolved at your end? Id yes,  can you please share the solution.

[2022-07-05 04:53] fool1280 commented on #3225
Hi Peer, I'm new to open source, and first time working with a big codebase, but I'd love to explore this issue. Please let me know! Thank you!

[2022-07-05 05:12] hariombalhara commented on #3220
@agustif I will tackle this with other feedback once Routing Forms is merged and live. The best UX would be to just add the fallback route automatically without the user ever going to Routing Page.
I would go with this approach only.

[2022-07-05 13:12] matheusmuniz03 commented on #3213
Guys, I'm using Ethereal to receive emails, and here it`s:

![Captura de tela de 2022-07-05 10-12-22](https://user-images.githubusercontent.com/87545749/177335861-e411d6ff-338f-4510-9011-940dbe6a2c9e.png)

[2022-07-05 16:02] emrysal opened #3237 "Hard crash when a user has an availability schedule with no days available"
Example:
![image](https://user-images.githubusercontent.com/1046695/177369769-d421ad91-50cc-4544-9b24-d47088fd1458.png)

Causes getSchedule to 500.

[2022-07-05 18:49] jjromary commented on #2426
Apparently this error has already been fixed in this Issue. [#3007](Prevents past booking confirmation emails to be sent #3007).

I also performed tests on localhost and the bug reported by you did not occur.

[2022-07-05 19:52] matthewlarkin opened #3239 "Availability overrides (vacation time, out-of-office, one-off availabilities)"
### Is your proposal related to a problem?

I can’t seem to express vacation times or one-off availabilities without leveraging an external calendar connection such as Google Calendar.

### Describe the solution you'd like

Would love to express irregular unavailabilities / availabilities within Cal alone (with no use of external calendar connections). In Calendly, these are called date overrides.

[2022-07-05 20:00] bttger commented on #2426
Sounds good but I'm sorry, I cant validate it since I've switched the tool.

[2022-07-05 20:57] jjromary commented on #3237
HI @emrysal. Can you let me know the steps you did so I can try to reproduce the same bug? I am not able to reproduce it.

![image](https://user-images.githubusercontent.com/37199044/177415129-342ff995-4697-450c-9e59-c00cc8fb202c.png)

[2022-07-05 21:44] Glassback opened #9128 "[CAL-1790] Webhooks for users."
It will be great to listen to the user events on a webhook for automation.

I need to create a User (actually possible) and send an email with the onboarding instructions.

<sub>[CAL-1790](https://linear.app/calcom/issue/CAL-1790/webhooks-for-users)</sub>

[2022-07-05 22:44] starpunjabi commented on #2936
@Choongkyu I  managed to install it on heroku, but i am unable to login, can you help me to login, if you will get any clue from developer console logs.
URL: https://sshiboxo.herokuapp.com/auth/login
email: starpunjabi@gmail.com
username: starpunjabi
pass: 123456

Thanks & Much appreciated!

[2022-07-06 02:15] agustif commented on #3211
Closing as solved

[2022-07-06 02:15] #3211 closed

[2022-07-06 14:47] #3224 closed

[2022-07-06 15:36] alannnc opened #3246 "Avoid duplicating any video credential"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Previously there was a bug on our app store, that led some users install multiple instances of any app, this created multiple records for any video app integration. We should make sure any time a video credential its saved/installed we delete any previous or update the current entry of that credential type.

### Steps to Reprod

[2022-07-06 18:16] CarinaWolli opened #3248 "Wipe Today from WipeMyCal app not working"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

'Wipe Today' from the WipeMyCal app is not working for me

Getting this error:
<img width="383" alt="Screenshot 2022-07-06 at 14 10 53" src="https://user-images.githubusercontent.com/30310907/177615996-753b1ddb-4c19-4b31-94b0-4baae18e84f5.png">

### Steps to Reproduce

1. Install WipeMyCal
2. Go to bookings
3. Click 'Wipe Today

[2022-07-06 18:55] galligan opened #3250 "[CAL-753] Meeting titles with a backslash send a confirmation email with &#x2F; instead"
### Issue Summary

I have a meeting type with `/` in its title and when I received an email confirmation for a booked meeting, it showed `&#x2F;` instead.

<img width="548" alt="CleanShot 2022-07-06 at 14 55 12@2x" src="https://user-images.githubusercontent.com/25037981/177622590-be790a3c-0f5a-471c-9fbb-28ed436e45d9.png">

### Steps to Reproduce

1. Change meeting title to include a `/`
2. A meeti

[2022-07-06 21:30] matheusmuniz03 commented on #3248
hey @CarinaWolli I'm testing the bug here on my localhost and apparently it's not happening anymore. Can you check this?

loom video[https://www.loom.com/share/696a010f57d74ac6a8cfb3f6c2de71f6]

[2022-07-06 21:42] matheusmuniz03 commented on #3246
Hey @alannnc could you check out this [loom video](https://www.loom.com/share/2b1b78d2bb20478aaa61ade0ef9c8e17)? Apparently this bug doesn't happen anymore.

[2022-07-06 22:19] alannnc commented on #3246
@matheusmuniz03 Thanks for reaching out, yeah I created this issue to remember myself to add some code validations if any frontend error happens our backend should take care of this.
You can take a look on ->
https://github.com/calcom/cal.com/blob/main/packages/app-store/office365video/api/callback.ts#L73-L93
That’s how I handled it on office365.
This should be an easy fix, if you still want to co

[2022-07-07 01:09] #3225 closed

[2022-07-07 01:21] #3142 closed

[2022-07-07 05:20] noobyogi0010 commented on #3248
Hey @CarinaWolli
If this is still an issue, I would love to work on this.
Thanks

[2022-07-07 06:51] alishaz-polymath commented on #3159
I've identified the issue. For some reason (probably consistency among dynamic teams, single user and teams), the `username` is not returned as part of the Profile prop but slug is returned which is now the entire username-slug combination instead of it being just the username (which was the case earlier) and that's why the avatar module now attempts to find the avatar for the slug instead of the

[2022-07-07 09:44] gracebir commented on #3190
@peseotni , I can't see this issue on my hand, maybe you are using an hold version

[2022-07-07 13:55] CarinaWolli commented on #3248
I still get the error in production. However, I just tested it locally and it worked as expected. I think @alannnc implemented this feature, maybe he can help!

[2022-07-07 16:20] G3root commented on #3214
hey i like to take on this issue.

[2022-07-07 21:20] jjromary commented on #3214
@zomars a solution proposal would be to leave the project with complete configuration already changing between Dark and Light Theme or just perform the configuration of Next-themes for the theme that is already there?

[2022-07-07 21:26] zomars commented on #3214
We only support light and dark mode as for now. But the branding color is configurable per user account (in dark and light mode as well). We might add support for further customization in the future @jjromary

[2022-07-07 23:13] alannnc commented on #3248
I will definitely take a look of it on production and inform on this thread what I found.

[2022-07-08 04:07] zomars opened #3261 "RFC: DX wants"
Got a nice summary of things we may want to add/simplify to enhance overall developer experience from [this issue](https://github.com/t3-oss/create-t3-app/issues/140).

Alex is responsible for most of the Stack we use today and can say with confidence that his recommendations are always on point. 👌

Please let me know if you would like to implement any of the suggestions described in the mentioned

[2022-07-08 04:50] virenmaharaj opened #3262 "Prisma generate fails with v8::internal::Factory::NewFillerObject error"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

I am running a `npx prisma generate` command to help create my migrations of 580+ tables but I continually get the same error.  I have tried to cut down the number of tables, i.e. trying to chunk the processimg, to no avail.

### Steps to Reproduce

1. opened up terminal and run npx prisma generate
2. Runs for about 10 minutes

[2022-07-08 12:10] PeerRich commented on #3261
great idea. maybe @KATT wants to help with some? ❤️

[2022-07-08 12:46] MatheusBeniniF commented on #3262
hey @virenmaharaj, when im run `npx prisma generate` it happened

![image](https://user-images.githubusercontent.com/88898100/177994530-0c331502-1dcd-48b4-ba5a-b0482d566f9c.png)

[2022-07-08 13:49] 89itworld opened #3266 "Server Error"
Hello contributors,

I am facing the following error, can you please help me out with this issue.

I am attaching the screenshot.

![Screen Shot 2022-07-08 at 6 46 59 PM](https://user-images.githubusercontent.com/3927785/178004911-906187f7-81a0-4a9c-adf6-b08c042f2cf4.png)

[2022-07-08 13:51] PeerRich commented on #3266
can you give more context of your environment and what steps you have taken?

[2022-07-08 14:02] zomars opened #3267 "RFC: One database per Vercel preview"
It has been some time since we discussed internally that we wanted to have the ability to deploy one DB per preview to prevent migration conflicts and allow for faster development of new features or refactoring.

There's a [tweet from Guillermo Rauch](https://twitter.com/rauchg/status/1337094230875893760) that served as motivation to find something that would allow us to achieve that with [no luck

[2022-07-08 15:22] 89itworld commented on #3266
Hi @PeerRich ,

Thanks for your fast response.
I cloned the project, did necessary changes in env files, run yarn, and then yarn dev.
----------------------------
error - Error: Cannot find module '/Applications/XAMPP/xamppfiles/htdocs/projectname/node_modules/@hookform/resolvers/zod/dist/zod'
    at createEsmNotFoundErr (internal/modules/cjs/loader.js:929:15)
    at finalizeEsmResolution (interna

[2022-07-08 15:53] steven-tey commented on #3267
Thanks for the RFC @zomars! We are actively working on database branching + preview URLs right now but in the meantime, here's a workaround you can do:

Once you set a `DATABASE_URL` env var for your app on Vercel, all you need to do when deploying to a new branch is edit the env var using [this API endpoint](https://vercel.com/docs/rest-api#endpoints/projects/edit-an-environment-variable) and set

[2022-07-08 16:33] zomars commented on #3261
@leog the thing is, on deployments we don't have an `.env` file. So @KATT 's solution using `zod` is actually genius since we can validate the whole `process.env` object. Also there's [this tool by KATT as well](https://github.com/KATT/envsafe) but I don't think is still recommendable to use.

[2022-07-08 16:34] zomars commented on #3261
Also we already do some kind of validation but we could expand this further and maybe have better error messages and recommendations to print on the logs:

https://github.com/calcom/cal.com/blob/4cd43087e96cc56e988651f6c6653c7a628fa3da/apps/web/next.config.js#L19-L20

[2022-07-08 17:42] zomars commented on #3267
@steven-tey do you think that we can call Vercel API endpoint on our "pre-deploy" script that runs on our "Ignored Build Step"?

https://github.com/calcom/cal.com/blob/4cd43087e96cc56e988651f6c6653c7a628fa3da/scripts/staging-deploy.sh#L1-L15

Or should we do that on a GitHub Action beforehand? Although we would like not having to disable GitHub integration but deploy may happen even before the GH

[2022-07-08 17:47] PeerRich commented on #3266
what node version do you run on?

node -v

[2022-07-08 19:12] luisdallacqua opened #3270 "Dependency (trpc) error on Availability Page"
### Issue Summary

After following the setup steps, and encountering a few issues with the `.env` usage, I have come across a bug related to the `trpc` lib at the Availability Page where upon arrival it tries to fetch using the query `viewer.public.slots.getSchedule` it gets stuck in the following error:

[code]

I have tried to do a full setup (from scratch) a few times and even removed `node_mod

[2022-07-08 19:40] virenmaharaj commented on #3262
Hi Matheus,

I do understand that it runs, and well for the most part... but once I get to 250+ tables, it starts to bombs out.

Is there a minimum limit to the process, I.e. in terms of memory usage perhaps.

Kind regards,

Viren

[2022-07-08 19:46] peterp commented on #3267
@zomars We're launching instant databases at Snaplet "very soon" for exactly this use case!

https://docs.snaplet.dev/references/instant-database

I would be happy to get this working seamlessly in your Vercel setup.

[2022-07-08 20:20] zomars commented on #3267
That would be a game changer @peterp I would love to see that example 🙏

[2022-07-08 22:30] MaxTechniche opened #3271 "Unhandled Runtime Error TypeError: require.e is not a function (Calendar App Imports)"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Anytime I try to access a calendar app for import, it gives me a 'Unhandled Runtime Error
TypeError: require.e is not a function'

This has only happened after setting up lets encrypt and nginx

Also, this "query 'viewer.public....'" has only been showing up after this as well.

### Technical details
<img width="1623" alt="Scre

[2022-07-09 00:02] zomars commented on #3270
Which node version are you using? Can you try setting it to v16?

[2022-07-09 01:58] 89itworld commented on #3266
v14.18.0

[2022-07-09 02:01] zomars commented on #3266
Try using `v16` and run:
- yarn clean
- yarn
- yarn build
- yarn start

[2022-07-09 02:02] 89itworld commented on #3266
Ok fine.

[2022-07-09 02:03] 89itworld commented on #3266
error Command "clean" not found.

[2022-07-09 03:58] 89itworld commented on #3266
I tried almost everything even with v16, but facing the same problem.

imeZoneName DEBUG [error] server side logged this: Error: Cannot find module '/Applications/XAMPP/xamppfiles/htdocs/projectname/node_modules/@hookform/resolvers/zod/dist/zod'
18:42:50.921 timeZoneName INFO [error] return props,

[2022-07-09 05:28] zomars commented on #3266
This seems like an issue with your specific deployment server. I'm afraid there's not much we can do without a proper reproduction. Will close this temporarily until a proper reproduction is provided.

[2022-07-09 05:28] #3266 closed

[2022-07-09 07:14] PeerRich commented on #3271
this may be nginx related. can you tell us more about your environment? machine, node version, etc.

[2022-07-09 08:32] 89itworld commented on #3266
Wow, Now I can add you in my git repo, which I just cloned from cal and did changes in env only as per instructed by cal, I sent you screen shot, the error I am facing, Even I tried on another machine as well and facing the same issue.

I followed the steps:

1. I cloned the repo from cal.
2. Did the changes in env.
3. run yarn
4. yarn dev
5. and facing this issue
Please let me know if I am doing

[2022-07-09 10:44] KATT commented on #3261
### Env parsing

Zod is more flexible than `envsafe`, I outlined details on how I use zod instead nowadays [here](https://github.com/KATT/envsafe/issues/107#issuecomment-1093112691).

Zod allows you to `.transform()` things as well --- like you can have a group of related keys like this which is useful when you have a lot of integrations:

https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAbw

[2022-07-09 11:17] KATT commented on #3261
Hey gang & thank y'all so much for your support of tRPC 🙏 ❤️

Spent a while outlining more stuff [here](https://github.com/trpc/trpc/discussions/2132#discussioncomment-3112211), hopefully, some of it can help you in your thought process :)

[2022-07-09 12:59] zomars commented on #3266
I really don't know what can be happening on your machine. Here some things you can try:

- look up that specific error
- check that the file exists in node_modules
- Remove node_modules and install again
- Check if it is a windows/mac/linux specific or known error

If you do find a solution for your case please let us know so we can improve the instructions 🙏

[2022-07-09 20:07] DigitalGreyHat opened #3273 "Error Code: 404. Cal Link seems to be wrong on jobs page"
### Issue Summary

There is a problem loading the cal.com embed on cal.com/jobs/.... Initially, it loads, then displays cal.com's "normal" 404 page for a split second. Following that, it displays just a simple text: Error Code: 404. Cal Link seems to be wrong.

### Steps to Reproduce

1. Go to [https://cal.com/jobs/senior-full-stack-engineer](https://cal.com/jobs/senior-full-stack-engineer)
2. Scr

[2022-07-09 20:13] luisdallacqua commented on #3270
@zomars I have switched to node v.16 and removed node_modules, cleared cache from yarn, and reinstall using yarn command, and I am still getting the same error

[2022-07-09 20:41] PeerRich commented on #3273
ah whoops, changed the link

[2022-07-09 20:47] PeerRich commented on #3273
fixed

[2022-07-09 20:47] #3273 closed

[2022-07-10 04:52] hariombalhara opened #3278 "Playwright Test Required: Ensure that embedded body remains display=none till __iframeReady event is fired."
#3277
https://www.loom.com/share/7fe36fcc525742dca6b07f783185b54d
This is to ensure that embedded cal is not visible till it's ready to be visible. Possible issues if it fails,
- A flicker of theme might occur
- Content might load with lesser height initially and then load with full height.

[2022-07-10 10:12] riedel opened #3279 "Missmatch between app foreign keys, when seeding the app store and registering credentials"
There seems to be a problem registering "exchange2016_calendar" as "exchange2016-calendar"

 https://github.com/calcom/cal.com/blob/159c026533782d3bcb4825552b0adefdcd615bf5/packages/app-store/exchange2016calendar/lib/CalendarService.ts#L45

https://github.com/calcom/cal.com/blob/43f1e863229e584be97c1f6b947317dfbefb0717/packages/prisma/seed-app-store.ts#L36

vs.

https://github.com/calcom/cal.com/b

[2022-07-10 13:04] PeerRich commented on #3279
@joeauyeung

[2022-07-10 17:10] kpak130 opened #3280 "Toggling between Upcoming, Recurring, Past, Cancelled doesn't update the bookings initially"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

A summary of the issue. This needs to be a clear detailed-rich summary.

Have one upcoming booking. Upon loading the Bookings section, I was expecting to see different bookings for Upcoming, Recurring, Past, Cancelled. Toggling between the different options don't do anything - only the upcoming appointment would be displayed al

[2022-07-10 18:00] noobyogi0010 commented on #3248
Hey, @alannnc
Were you able to find something?

[2022-07-10 19:35] PeerRich commented on #2560
too niche for now

[2022-07-10 19:35] #2560 closed

[2022-07-10 19:37] PeerRich commented on #676
@zomars has this improved?

[2022-07-10 19:52] PeerRich commented on #3280
I can't reproduce this. It changes for me accordingly. Can you record this with birdeatsbug.com or loom.com?

[2022-07-10 19:55] PeerRich commented on #3250
looking at &amp it seems like other chars are not being shown either

[2022-07-10 20:02] #3222 closed

[2022-07-10 20:05] PeerRich commented on #3159
I believe this was fixed, correct?

[2022-07-10 20:09] PeerRich commented on #2799
hey @joeauyeung will we get lark suite into v.1.8? (due 15th)

[2022-07-10 20:48] PeerRich commented on #3207
oh i was unaware it sends a request. yeah lets conditionally render it @agustif

[2022-07-10 21:33] wemakefuture opened #3310 "BUG Availability and Prefetch not working on M365"
### Issue Summary

Microsoft prefetch and calendar checkup does not work.

<img width="1073" alt="image" src="https://user-images.githubusercontent.com/28114725/178162754-a80f0bac-f5a6-46ec-9f9e-becc3dae13b6.png">

I am not available at 10. I checked it with 2 different cal.com accounts. With gsuite it works. With MS it does not.

### Steps to Reproduce

Availability prefetch and check does not wo

[2022-07-11 04:55] alishaz-polymath commented on #3159
It's not merged yet. @zomars mentioned a concern so I'm running extra checks on it to be sure, and then it should be fine. 😊

[2022-07-11 07:13] PeerRich opened #3311 "Disallow search engine indexing of hidden event types"
### Discussed in https://github.com/calcom/cal.com/discussions/3285

<div type='discussions-op-text'>

<sup>Originally posted by **GlitchWitch** July  5, 2022</sup>
### Is your proposal related to a problem?

When creating a hidden event type, there is the chance that if the link is shared that it will be crawled and indexed by search engines.

### Describe the solution you'd like

When marking an

[2022-07-11 07:36] PeerRich commented on #3310
hey @emrysal or @alishaz-polymath would you be down to test this?

[2022-07-11 08:09] gracebir commented on #3311
I am going to take a look on

[2022-07-11 08:34] PeerRich commented on #3311
thank you!

[2022-07-11 08:35] PeerRich commented on #3311
cc @glitchwitch I reopened it here

[2022-07-11 09:15] Priyankcoder commented on #3250
Hi @PeerRich, I am new to the codebase. Can I try to fix this? Further follow-ups would be much appreciated.

[2022-07-11 09:17] alishaz-polymath commented on #3310
I can have a crack at it this week @PeerRich

[2022-07-11 10:56] gracebir commented on #3311
@PeerRich , is this the expected the behavior?
![INDEXISSUE](https://user-images.githubusercontent.com/46535846/178249417-1d5657ca-e2b2-4a5d-968c-c645e49ab695.png)

[2022-07-11 11:08] MuriloAmarals commented on #3311
Hey @gracebir @PeerRich i'm already resolved!

[2022-07-11 11:15] gracebir commented on #3311
sure

[2022-07-11 11:34] emrysal commented on #1277
Loading state of deleting now works properly (Just double checked) and this issue is fixed :)

[2022-07-11 11:34] #1277 closed

[2022-07-11 11:40] emrysal commented on #2947
Welp that goes to show how hectic the month became as the 14th approached - sorry for taking so long to get back @Jaibles - missed it.

"Connected organizer account" means in this case the organizer connected calendar, rephrased the original ticket.

Kind of the inverse, in the case that either invitee and inviter does not have a connected google account, we need to emphasize, for the invitee, tha

[2022-07-11 11:41] PeerRich commented on #3311
n

awesome, feel free to link the PR here

[2022-07-11 11:52] emrysal commented on #2329
Hi guys, this is in latest; and it works pretty wel (after some initial teething issues, hidden historical bugs, etc) - we're still working to improve the performance but that's getting along nicely.

[2022-07-11 11:52] #2329 closed

[2022-07-11 12:14] wemakefuture commented on #3310
@alishaz-polymath feel free to chat with me if you need help to reproduce!

[2022-07-11 13:36] joeauyeung commented on #2799
It probably won't make it to v1.8. We're in the midst of testing right now and experiencing some bumps. I'm going back and fourth with Lark though and it'll help minimize the risk of bugs when we push to production.

[2022-07-11 14:32] martincollignon opened #3316 "Whereby room is linked to a single person in round robin event"
### Is your proposal related to a problem?

For a round robin event, I'm frustrated as I can only input a single Whereby room as location.

### Describe the solution you'd like

I'd like the Whereby room to be linked to the participants in the team, ie if I book a time with Peter, I get linked to Peter's Whereby room.

### Describe alternatives you've considered

I haven't considered alternatives

[2022-07-11 14:36] PeerRich commented on #3316
oh i see. yea we havent thought about this yet, how we can have individual rooms for each participant of a team.

this is not whereby related but any location link in general

[2022-07-11 14:43] martincollignon commented on #3316
It's also problematic as it doesn't allow for concurrent meetings.

[2022-07-11 15:11] PhilippFr opened #9127 "[CAL-1794] Allow admin API Key CRUD operation on all resources"
I've found several  API routes that will only allow operations on resources of the creator of the used API key, despite him having the `ADMIN` role. We expect an admins API key to do all CRUD operation on all API endpoints without restriction.

This is quite a problem for our current project and it seems to affect multiples routes and methods.
Here are some routes I've found that are affected by t

[2022-07-11 15:49] PeerRich commented on #3316
yeah that is the downside of the room link-based video tools.

we could extend the whereby app and give it a settings: to introduce a new field
<img width="1247" alt="image" src="https://user-images.githubusercontent.com/8019099/178304498-03b4acc5-aadc-4a4d-b0d9-d47fe6619cb6.png">

[2022-07-11 16:38] martincollignon commented on #3316
That sounds clever. And there could be a team room field which could also be used as a fallback, should a team member not have a personal room setup.

[2022-07-11 18:18] zomars commented on #676
It may but also there are new packages since then. Will run a new audit and post an update

[2022-07-11 18:19] Geczy commented on #3190
i've got this issue as well

[2022-07-11 18:19] Geczy commented on #3190
the timeslot is just never removed from the booking page when someone books it

[2022-07-11 19:31] Geczy commented on #3190
<img width="350" alt="image" src="https://user-images.githubusercontent.com/1036968/178343600-153c6373-625b-499f-9dde-6762cb567051.png">
<img width="566" alt="image" src="https://user-images.githubusercontent.com/1036968/178343624-cb4fb543-aca6-46d8-a906-1462531486ac.png">

[2022-07-11 22:32] CarinaWolli opened #3327 "Slack app installation not working"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When trying to install the Slack app it says 'Something went wrong when authorizing this app':

<img width="1114" alt="Screenshot 2022-07-11 at 18 25 23" src="https://user-images.githubusercontent.com/30310907/178368952-ffc951d0-ac89-4aef-8898-aa3f6b660d43.png">

### Steps to Reproduce

1. Install Slack App
2. You will be redir

[2022-07-11 22:42] MaxTechniche opened #3328 "Differences in running yarn dev and yarn prod"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

This is an update/addition to issue #3271.
When running yarn dev, I'm unable to connect to calendars.
and when running yarn build and start, I'm unable to login. The login page doesn't continue and the only information logs give is unauthorized connection.

[2022-07-11 22:49] saschafoerster commented on #956
Hi there, with debug-mode on; i found another (similar) error message in browser console, saying that "operation was aborted and: "invalid ical body. component began but did not end"

[code]

[2022-07-12 00:12] shirazdole commented on #3328
@PeerRich could you take a look? Saw that you were looking into the https://github.com/calcom/cal.com/issues/3271 issue

[2022-07-12 02:41] jjromary commented on #3250
Hi, @galligan. I produced the steps and didn't get the same error as you did. The title of my email remained with the text displaying the `/` and not the equivalent hexadecimal code `&#x2f;`

My project is hosted locally and nodemailer was configured with [Ethereal](https://ethereal.email/)

![barra](https://user-images.githubusercontent.com/37199044/178396182-88f386c4-c312-4e4f-a578-8a0d0fac98df.

[2022-07-12 03:14] shirazdole opened #3331 "Unconfirmed Meetings Should Still Include a Calendar Invite"
### Is your proposal related to a problem?

Problem: On the opt-in booking links, if you submit a time to book with someone, once it’s sent, but not confirmed, you aren’t aware of the booking anymore. This leads to people forgetting or possibly double booking themselves because there’s no time being held on their calendar.

### Describe the solution you'd like

Proposed Solution: There should stil

[2022-07-12 03:14] zomars opened #3332 "Reason for rescheduling should not be disabled"
### Issue Summary

When rescheduling, all previously filled fields are in read-only mode. Also there's a new field "Reason to reschedule" this field is also on read-only mode and it should not be.

<img width="388" alt="image" src="https://user-images.githubusercontent.com/3504472/178400733-8b1d27ec-b77f-4e40-ad6d-f435e4179d2d.png">

### Steps to Reproduce

1. As attendee, book an opt-in booking
1

[2022-07-12 03:18] shirazdole opened #3333 "Display the times I’m selecting in the other users Time Zone as well"
### Is your proposal related to a problem?

Since Cal is a global product, it would be nice to see what timezone the other party is in to help me determine how early or late I am booking a time with them if I’m trying to be polite. I realize there’s the argument of “everyone’s an adult,” but I’m a firm believer we need to help users protect themselves.. From themselves.

### Describe the solution

[2022-07-12 03:21] shirazdole opened #3334 "[CAL-74] Always list Time Zones"
### Is your proposal related to a problem?

Problem: Since teams are becoming more and more global, consumers are always juggling timezones in their head.

### Describe the solution you'd like

Wherever there is a time listed in Cal.com's settings, email, scheduler link, etc. list the time zone associated with it. The timezone of any booking should always be listed.
<img width="660" alt="CleanShot

[2022-07-12 03:22] shirazdole commented on #3334
@Jaibles may be something you'd be interested in looking into :)

[2022-07-12 03:25] shirazdole opened #3335 "Hovering Text over Button"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When you hover over certain buttons in Cal.com's event page, there is no text that shows up as opposed to other buttons that are hovered over. Specifically on the Availabilities page by the day. Need to add some text over these two buttons:
<img width="671" alt="CleanShot 2022-07-11 at 17 24 45@2x" src="https://user-images.gith

[2022-07-12 03:27] shirazdole opened #3336 "Avatar on New Event Type"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When selecting a new event type, if you have an individual plan as well as a team plan. The Team Plan's Avatar shows, but the individual users avatar does not show. For consistency, the users avatar should show as well.
<img width="437" alt="CleanShot 2022-07-11 at 17 26 38@2x" src="https://user-images.githubusercontent.com/161

[2022-07-12 08:12] gracebir commented on #3335
I will take a look on

[2022-07-12 09:46] gracebir commented on #3332
@zomars ,  "Reason to reschedule" field is not disable on my hand ( I mean locally)

[2022-07-12 11:39] PeerRich opened #3337 "reverse redirect for app.cal.com"
@emrysal has context

[2022-07-12 11:40] PeerRich opened #3338 "hide "back" button for embeds"
hide this for embeds

<img width="303" alt="image" src="https://user-images.githubusercontent.com/8019099/178481884-c383e477-7815-4c6e-8ba6-7b7faa8cc70e.png">

[2022-07-12 11:45] sean-brydon commented on #3327
This issue in itself should be fixed as our clientID got mixed up within the the DB (not sure how)

Looking at further issues with the Oauth callback

[2022-07-12 12:37] Toledodev opened #3340 "No days available to schedule a meeting"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When I click "preview" to schedule a meeting time, there is no available day

### Steps to Reproduce

1. Create a new event
2. Click on preview

All options are off:
![Screenshot from 2022-07-12 09-31-26](https://user-images.githubusercontent.com/87545086/178491336-9cbd0354-102b-4464-ad58-f38f9b81cdda.png)

[2022-07-12 13:22] Toledodev opened #3341 "Unable to schedule a meeting"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When I try to confirm a meeting the following error appears

![Screenshot from 2022-07-12 10-14-21](https://user-images.githubusercontent.com/87545086/178499568-52761cfa-e197-44fe-9c22-1eb40aeef8d7.png)

### Steps to Reproduce

1. Create a new event
2. Click on preview
3. Select a time
4. Try to confirm

[2022-07-12 14:33] #3338 closed

[2022-07-12 14:41] PeerRich commented on #3340
this is on localhost right?

@emrysal you mentioned

[2022-07-12 14:42] PeerRich commented on #3336
yeah simple fix worth adding

[2022-07-12 15:54] PeerRich commented on #3331
we thought about this a lot, but it would be an issue if you don't want to block out that time slot if someone books

[2022-07-12 18:12] noobyogi0010 commented on #3335
Hey @shirazdole
Can I work on this issue if no one else has taken it up?

[2022-07-12 18:13] shirazdole commented on #3331
Could we have a checkbox on the event page saying "Check this box if you would like to receive a tentative calendar invite to hold the booking time. This is not a confirmed meeting and other folks will not be able to book during this time." Something along those lines?

[2022-07-12 18:54] PeerRich commented on #3336
sure go ahead!

[2022-07-12 20:33] #3327 closed

[2022-07-12 20:41] zomars commented on #3332
Agree @mocherfaoui either we enable it for both or hide it for non-owners to prevent confusion. I'm tagging @Jaibles to hear his feedback.

[2022-07-12 20:45] Toledodev commented on #3340
Yes

[2022-07-12 20:46] Toledodev commented on #3341
It's on localhost

[2022-07-12 21:36] shirazdole commented on #3335
For sure you can! Thank you 🙏

[2022-07-13 08:23] gracebir commented on #3335
@noobyogi0010 , this isssue is solved and the code will be pushed

[2022-07-13 09:57] alishaz-polymath commented on #956
@zomars On it

[2022-07-13 10:22] saschafoerster commented on #956
@zomars @alishaz-polymath With the newest version 1.7.7, I get an error message in the web-interface again:

[code]
Browser-console:

[code]
Logfiles:

[code]

[2022-07-13 10:25] alishaz-polymath commented on #956
@saschafoerster Thanks for sharing. I'll check this out  🙏

[2022-07-13 10:25] saschafoerster commented on #956
And the logs with debug-mode on:

[code]

[2022-07-13 11:48] noobyogi0010 commented on #3336
Hey @PeerRich
Can you let me know what `user avatar` needs to be used here?

[2022-07-13 15:18] dpalic opened #3348 "Formatting of description missing (bold, italic, new line)"
### Is your proposal related to a problem?

right now I cannot provide structured information to register a calendar entry. Everything goes into one long line with arbitrary line breaks.

### Describe the solution you'd like

on event types, there is a description field.
Here it is missing to be able to use common formatting:

- bold
- italic
- underlined

and the most painfull issue

- new line i

[2022-07-13 15:28] dpalic opened #3349 "Internal and External title & description needed"
### Is your proposal related to a problem?

if using many different event types, it is not always clear what event type is for what.
So for internal use, I want to have long titles or subtitles, which get displayed on the overview page of all event types
Also I need a different description for internal use, which is invisible to clients.
E.g. in the description could be instructions for users/main

[2022-07-13 15:34] dpalic opened #3350 "[CAL-91] For Multi-Location Event Type, required dependent "Additional Inputs""
### Is your proposal related to a problem?

Assume you can provide a client the choice if he want to be at our office, or at his office, or at video call, or meeting at a business restaurant

In all the cases you have different questions to ask.

* For Video call, no additional location question needed
* For on site meeting, the client needs the address details of our office branch
* For meeting a

[2022-07-13 15:51] leog opened #3351 "[CAL-75] Payment support for recurring events"
### Discussed in https://github.com/calcom/cal.com/discussions/3282

<div type='discussions-op-text'>

<sup>Originally posted by **leog** May 17, 2022</sup>
### Goals

When creating a recurring event type, you will not be able to enable payment at this moment. See https://github.com/calcom/cal.com/pull/2755#issuecomment-1127909439. The idea is to be able to support payment for that kind of event t

[2022-07-13 15:52] leog commented on #3351
Designs here: https://www.figma.com/file/6sITaSOZ2JCXyKEYhC10P5/%F0%9F%96%B1-Cal-Web-App?node-id=7497%3A130618

[2022-07-13 16:04] leog opened #3352 "MercadoPago integration"
Payments by MercadoPago (Latin america mainly)
https://github.com/mercadopago/sdk-nodejs

[2022-07-13 16:11] ayoubphy commented on #3332
Have you guys settled on a decision about this ? I would like to work on it and make it my first contribution to this project.

[2022-07-13 16:33] Geczy opened #3353 "please make prs for your commits"
https://github.com/calcom/cal.com/commits/main

@zomars too many one off commits, can you make prs so you get everything right without so many commits? we need merge & squash

[2022-07-13 16:39] joeauyeung commented on #2758
Not able to reproduce so closing issue for now.

[2022-07-13 16:39] #2758 closed

[2022-07-13 16:41] zomars commented on #3353
Hey @Geczy can you tell me why this is a problem for you? Will close this BTW since this is more of a discussion.

[2022-07-13 16:41] #3353 closed

[2022-07-13 16:50] zomars commented on #3352
I swear I had an issue about this but I couldn't find it. May be lost on Linear...

[2022-07-13 16:52] joeauyeung commented on #2426
Closing, fixed in #3007

[2022-07-13 16:52] #2426 closed

[2022-07-13 16:52] PeerRich commented on #3352
does it offer the "stripe connect" feature?

[2022-07-13 16:54] zomars commented on #3352
AFAIK there's no marketplace functionality with MercadoPago unfortunately. But neither with PayPal #1546

[2022-07-13 17:45] joeauyeung commented on #2775
@miventure are you still experiencing this bug? I noticed that under your selected calendars there is a CalDav calendar and a Google calendar but under your credentials I don't see Google calendar listed. Are you still using Google calendar? If not I can remove this for you in the backend.

[2022-07-13 17:51] joeauyeung commented on #2497
Closing, fixed in #2634

[2022-07-13 17:51] #2497 closed

[2022-07-13 18:43] miventure commented on #2775
Hey Joe,

TO be honest I was having other issues with customers saying it showing
them available times and then not letting them book those times.

I switched back last week to simplymeet and that's been working. When it
was working, it was working really well, but started to become a
significant distraction and unlikely to switch back.

Best,

Jason

On Wed, Jul 13, 2022 at 1:46 PM Joe Au-Yeung *

[2022-07-13 18:52] #2775 closed

[2022-07-13 20:49] PeerRich commented on #3316
that doesnt sound so trivial 🤔

[2022-07-13 20:50] PeerRich commented on #3190
@emrysal can you test this?

[2022-07-13 20:54] PeerRich commented on #3348
as simple as this:

https://user-images.githubusercontent.com/8019099/178832437-751bf918-9cda-45d3-b758-ee7b429afda6.mov

[2022-07-13 21:34] PeerRich opened #3357 "zapier trigger: after booking AND the meeting is done"
https://twitter.com/flexbox_/status/1547139632684568583

[2022-07-13 23:27] CarinaWolli opened #3359 "Issues with Whereby, Riverside and Around links"
### Issue Summary

Found some issues with Whereby, Riverside and Around links.

1. When editing location of booking, current location is shown like this:

<img width="250" alt="Screenshot 2022-07-13 at 19 24 56" src="https://user-images.githubusercontent.com/30310907/178853543-3928fd59-defb-443b-8ed2-9a906dd20b02.png">

2. When adding a location for an event type, links are not prefilled correctly

[2022-07-14 00:14] #3207 closed

[2022-07-14 08:42] flexbox commented on #3357
To give some context here is a scenario

[code]

Thanks you!

[2022-07-14 09:09] wemakefuture commented on #3310
@alishaz-polymath @PeerRich  any updates here - we can barely use cal.com that way in our MS infrastructure.

[2022-07-14 09:21] alishaz-polymath commented on #3310
Hey @wemakefuture
I noticed through impersonation that this toggle isn't activated.
![image](https://user-images.githubusercontent.com/52925846/178949269-9f12fd85-bd75-4246-b299-18b2b8639a9f.png)

can you please enable it and then test if that helps at all?

[2022-07-14 11:29] PeerRich commented on #3207
@TheCapsLock the entire call was removed

[2022-07-14 11:42] gitstart commented on #3046
Hi @jkaczmarek1 ! hope this message finds you well

we tried your issue but it looks like that for us, it is working properly, can u check and see if there is anything different on the video?

https://www.loom.com/share/44a0287e5e7d4f4aa182801d0de05431

[2022-07-14 11:57] MuriloAmarals commented on #3359
Hey @CarinaWolli, when i added a new Link on locations this happened

![image](https://user-images.githubusercontent.com/87545137/178977124-b7cff836-446e-4f52-a490-5cbb450422c5.png)

[2022-07-14 12:15] wemakefuture commented on #3310
@alishaz-polymath yeah sorry facepalm... anyway default active would be great and a section in your docs.

I wasted hours and created a bug / wasted your time by missing documentation.

Sorry again! Please close the Bug.

[2022-07-14 15:22] galligan commented on #3250
@jjromary not sure if it might have anything to do with the mailer…but in my case I'm using cal.com directly cc @PeerRich

[2022-07-14 15:36] leog commented on #1471
found this following up bugs, I think it will be tackled with v2, but maybe is this still relevant, @baileypumfleet?

[2022-07-14 16:55] shirazdole opened #3371 "Automatically connect all Event Type Calendars to the same Calendar"
### Is your proposal related to a problem?

(Write your answer here.)

### Describe the solution you'd like

(Describe your proposed solution here.)

### Describe alternatives you've considered

(Write your answer here.)

### Additional context

(Write your answer here.)

[2022-07-14 16:59] shirazdole opened #3372 "Ability to Update Payment Method from Infrastructure Billing Page"
### Is your proposal related to a problem?

(Write your answer here.)

### Describe the solution you'd like

On the Infrastructure Billing page, add the button "Go to Billing Portal" to make it easy as possible to see past/upcoming bills and to update payment methods.

![CleanShot 2022-07-14 at 06 59 01@2x](https://user-images.githubusercontent.com/16177678/179038826-6db27032-1c61-4678-b491-5f092b

[2022-07-14 19:54] joeauyeung commented on #2082
I found it had to do with `localStorage.24hourformat`. I was working on it on my desktop before leaving home so I'll try and finish it up next week.

[2022-07-14 20:11] joeauyeung commented on #1462
Closing this, Teams is now in the app store.

[2022-07-14 20:11] #1462 closed

[2022-07-14 20:23] shirazdole commented on #3371
Solved here: https://github.com/calcom/cal.com/issues/3310

[2022-07-14 20:23] #3371 closed

[2022-07-14 21:03] PeerRich commented on #3310
hey @wemakefuture no worries! sorry for the struggles as well, we'll ship a feature where it takes the primary as default

[2022-07-15 01:41] CarinaWolli opened #3378 "Dynamic variables for custom template (Workflows)"
### Is your proposal related to a problem?

Currently, we only allow a simple text input for our the custom template in Workflows. We should also give the option to add dynamic variables, for example:

- Organizer name
- Attendee name
- Location
- Date
- etc.

### Describe the solution you'd like

Similar to what we already have for dynamic event names:
<img width="797" alt="Screenshot 2022-07-14

[2022-07-15 06:33] gracebir commented on #3246
@alannnc , I just want to confirm, are we going to reproduce the same thing for zoom or google meet video?

[2022-07-15 07:23] milospuac commented on #3350
Hey Darko, thanks for reaching out. Our engineering team will look into this request.

[2022-07-15 07:25] milospuac commented on #3349
Thanks for reaching out. Our team will look into feature requests next quarter including this one and prioritize accordingly.

Best,

[2022-07-15 15:08] #3220 closed

[2022-07-15 15:42] leog opened #3384 "Self-hosted onboarding first admin wizard"
<div type='discussions-op-text'>

<sup>Originally posted by **@zomars** July 14, 2022 in [Twist thread](https://twist.com/a/195135/ch/555266/t/3624478/)</sup>

We should strive to improve self-hosted experience by including an onboarding for new installs. This is very common for PHP Symfony projects (cc @emrysal who reminded me of this) to have a “[Create your first user](https://docs.boltcms.io/5

[2022-07-15 16:07] zomars commented on #3384
- On `/auth/login` check the `prisma.users.count` being `0`
- Redirect to `/auth/setup` (new page) where the wizard will be displayed to create the first admin user.
- Once created, redirect back to `/auth/login`

[2022-07-15 16:54] #3159 closed

[2022-07-15 17:32] noobyogi0010 commented on #3335
Hey @gracebir
Were you able to push the code to resolve this issue?

[2022-07-15 18:00] zomars opened #3388 "[CAL-341] Consider sqlite as initial DB"
---

ref: [https://twist.com/a/195135/ch/554218/](https://twist.com/a/195135/ch/554218/)

[2022-07-15 18:17] zomars commented on #3384
We're planning to add more customization to the wizard later on. So we might just do it like this from start. Also we delegate this decision to self-hostess. Nothing is blocking them to make their own seeder for their own needs.

[2022-07-15 19:27] zomars opened #3389 "Cleanup: Migrate DailyEventReference to BookingReference"
In our attempts to keep our DB as generic as possible, we should try to clean it up a little bit. A quick win would be updating the Daily video specific model into using `BookingReference`.

[2022-07-15 20:29] zacchiro commented on #2236
Same here, still not working with Netcloud: all-day events marked as free still inhibit booking.

[2022-07-15 20:36] PeerRich commented on #2236
@alishaz-polymath is now working on CalDav, previously the CalDav integration was community maintained. He'll take a look!

[2022-07-15 20:40] PeerRich commented on #3349
i wonder how we can do that without confusing people who don't need this. most people don't need internal/external info

[2022-07-15 20:45] PeerRich commented on #3046
can you record a video showing that its not working? @jkaczmarek1

[2022-07-15 20:46] PeerRich commented on #2225
@CarinaWolli can this be done with workflows?

[2022-07-15 20:51] PeerRich commented on #3167
after looking into this, it seems like a fairly sized feature to build with not a lot of people requesting it.

maybe someone from the community wants to pick this up and release it as an app in the app store?

[2022-07-15 20:58] #1509 closed

[2022-07-15 21:07] agustif opened #3392 "Extract bookings router to shared @calcom/trpc package to be re-used in Public API"
### Is your proposal related to a problem?
In order to provide same actions to Public API calls than webapp uses, we need to extract out our TRPC routers (querys/mutations) so they can be called from both, and we mantain a single source of truth for it.

### Describe the solution you'd like
Create a new @calcom/trpc shared package that hosts this new shared trpc routers, and start with bookings ro

[2022-07-15 21:51] CarinaWolli commented on #2225
@PeerRich We could add a trigger for it. But if it is essential enough and if it is something that users would expect to happen then we should probably implement it in general for opt-in bookings

[2022-07-16 05:51] alishaz-polymath commented on #956
@PeerRich Will do. I'm currently exploring exactly how we handle CalDav and just studying it as a whole. Once I have a set of actions ready, I'll do this 🙏

[2022-07-16 07:57] PeerRich commented on #2225
oh I misread the issue, yeah this should happen outside of workflows!

[2022-07-16 09:39] benzogang389 opened #3396 "Not capable to open schedule and select time slot on localhost"
### Issue Summary

When I open the public page for selecting time slot, I don't see any slots are available, while there is a timetable which covers all daily hours.
I am performing that on local machine.

### Steps to Reproduce

1. Do ```docker compose up database -d``` for the database as it's in the steps for calcom/docker repo
2. Run the build and up commands locally, following the steps from

[2022-07-16 10:44] dpalic commented on #3349
@PeerRich
you are right, from UX perspective
With your feedback it would be great to have a checkbox
"title and description for internal (team) use"
and if this is selected to provide the both requested input fields

[2022-07-16 10:45] dpalic commented on #3348
@PeerRich
markdown style, perfect, would already solve many of my issues!

[2022-07-16 10:53] dpalic opened #3397 "Zoom Links do not get added"
### Issue Summary

Using Zoom as meeting tool is failing with notification

subject: "[Action Required] Confirmed: ...."
body:
We could not add the Zoom meeting link to your scheduled event. Contact your invitees or update your calendar event to add the details. You can either change your location on the event type or try removing and adding the app again.

the zoom room via Zoom API is added, but

[2022-07-16 11:15] jkdamilola commented on #2844
@JatinRanka Have you been able to work on this issue? Can I help?

[2022-07-16 11:20] jkdamilola commented on #2450
Hey @agustif @PeerRich, I would like to work on this issue if no one else has already taken it up. Thank you.

[2022-07-16 13:43] PeerRich commented on #2450
sure @jkdamilola go for it!

[2022-07-16 16:02] SamuelBlickle commented on #2139
This still seems to be relevant, at least it does for CalDAV.

[2022-07-16 17:43] PeerRich commented on #2139
we promoted @alishaz-polymath two days ago so he will now focus on CalDav. before, caldav was maintained by the community

[2022-07-16 18:11] PeerRich commented on #3396
hey @benzogang389, @emrysal will take a look at this. I believe this was introduced in the last update, not sure why it doesn't work on localhost but on production

[2022-07-16 18:12] PeerRich commented on #3397
thank you for reporting, i believe you've done the steps? Let us investigate and get back to you. In the meantime:

- either use Google Meet or Cal Video
- or copy your permanent Zoom link and add a "Link Location" and paste your link there

sorry for running into troubles with zoom

[2022-07-16 18:13] PeerRich commented on #2844
@jkdamilola please go ahead, i dont believe this was worked on, yet.

[2022-07-16 18:14] PeerRich commented on #3348
just added to our 1.9 roadmap

[2022-07-16 18:16] PeerRich commented on #3349
I dont think this is something we'll be able to add in v.1.9 milestone, but if someone from the community has some ideas, happy to look at it

[2022-07-16 18:49] JatinRanka commented on #2844
@jkdamilola I have some doubts. Pinging you on slack.

[2022-07-16 20:15] dpalic commented on #3397
@PeerRich
for me it is not clear what the issue is
because zoom room is getting created with right topic and right time
but the zoom link is missing in the cal entry.
so looks for me that the bugfix shall be a low hanging fruit?

[2022-07-16 20:31] PeerRich commented on #3397
potentially low hanging fruit tho zoom has been acting up a lot recently

here is how you add a video link:

![image](https://user-images.githubusercontent.com/8019099/179371065-633df967-3269-4871-a6bc-fc3aa0236a1d.png)

![image](https://user-images.githubusercontent.com/8019099/179371078-0db71889-6f79-43d3-af51-379d56675f54.png)

[2022-07-16 20:43] jkdamilola commented on #2844
@PeerRich is adding a new badge to the teams page enough to resolve this ticket? Do we also need to remove them from the attendees while booking?

[2022-07-16 20:43] dpalic commented on #3397
perfect, having now a good workaround and my pressure is going off. Thank you!

Regarding zoom integration let me know if you need more tests

[2022-07-16 21:06] dpalic opened #3399 "German translation issues"
### Issue Summary

Notification:
https://cal.com/success?date=2022-07-18T16
Dieses Meeting ist geplant

IS:
Sie müssen eine Änderung vornehmen?
Abbrechen [link] oder Reschedule [link]

Should be:
Termin ändern?
Absagen [link] oder neu planen [link]

In Sum:
Translation of Cancel => absagen (for Schedules correct)
so  also
in Cancellation mail
Ihr geplantes Ereignis wurde abgebrochen
should be
Ihr

[2022-07-16 23:03] alannnc commented on #3397
@dpalic We just recently uploaded a fix for this on 1.8, would you mind sharing your calcom username with me so I can properly look what your problem is?
Just recently tested this on production and it's working good for me.

[2022-07-17 06:39] PeerRich commented on #2844
it would also need to pause them from collective and round robin events (remove until back from vacation)

[2022-07-17 10:22] azmy60 commented on #3336
Any updates?

[2022-07-17 11:42] jkdamilola commented on #2844
@PeerRich Awesome! What happens if everyone in the team goes on vacation? I'm not sure of the how frequent this would happen or if it would ever happen - I don't have the data. It's just an edge case that popped up while testing.

[2022-07-17 13:48] gracebir commented on #3389
@zomars , I just want to confirm, are we going to update `dailyRef` field into Booking model ? I mean, get rid of `dailyRef` in Booking Replacing it with `bookingRef`, but I've also realized that I've already have `reference` field in booking model. Could you give a little clarification here please?

[2022-07-17 16:23] zomars commented on #3389
No. We want to get rid of the Daily model in favor of the generic Booking one.

[2022-07-17 21:15] PeerRich commented on #2844
good question. lemme discuss in the team

[2022-07-17 21:37] ddm231 opened #3406 "The table public.App does not exist in the current database"
### Issue Summary

I tried to install my self hosted cal.com application. After the command "yarn build" appears an unexpected error.

### Steps to Reproduce

1. yarn build

### Technical details

Error: The table `public.App` does not exist in the current database.
    at RequestHandler.request (/opt/cal.com/node_modules/@prisma/client/runtime/index.js:49022:15)
    at async PrismaClient._request

[2022-07-17 21:41] reachkrishnaraj commented on #3396
@PeerRich I am seeing this issue as well.

[2022-07-17 22:11] agustif commented on #3406
You probably are missing `yarn dx` just after `yarn` or `yarn install`
which will spin up a docker image for your postgres database using docker-compose, and apply all pending prisma migrations. command `dx` also runs build as part of the process

[2022-07-17 22:26] agustif commented on #3396
Are you guys running on node v16?

Asking because we use performance.now() calls in the slots router viewer. I think that's causing the issue as[ performance is not available in node < v16](https://stackoverflow.com/questions/46436943/referenceerror-performance-is-not-defined-when-using-performance-now) versions and needs to be imported from perf-hooks.

Can you confirm if using node v16 solves th

[2022-07-17 22:30] agustif commented on #3396
Also, since you mentioned using our docker repo, I see we updated only 5 days ago the Dockerfile to node:v16
https://github.com/calcom/docker/blob/main/Dockerfile

Can you guys try again with latest version and let us know if it's fixed for you?

Thank you very much @reachkrishnaraj @benzogang389

[2022-07-17 22:46] shirazdole opened #3408 "Fix Spacing between Globally Installed and Add Another button in App Marketplace"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

In the App Marketplace, when you navigate to say "Cal.video" app, if it is "Globally Installed" the spacing between the Globally installed" and "Add Another" button is too close and needs some padding.

<img width="1198" alt="CleanShot 2022-07-17 at 12 42 03@2x" src="https://user-images.githubusercontent.com/16177678/179427744-

[2022-07-18 03:24] noobyogi0010 commented on #3336
Hey @azmy60
I am waiting on @PeerRich to let me know of the user avatar to be used for this fix.
thanks!

[2022-07-18 06:40] gracebir commented on #3389
sure @zomars , I am going to work on

[2022-07-18 09:08] alishaz-polymath opened #3409 "Integrate dynamic group links with the new availability"

[2022-07-18 09:55] hariombalhara opened #3410 "Weird bugs in App with Next.js 12.2.x with middleware"
- https://github.com/vercel/next.js/pull/37716 - This bug seems to be the reason for shallow routing not working anywhere. It caused /booking navigations to stop working. [+Client side bookings navtabs broken](https://twist.com/a/195135/ch/554218/t/3628515/)
- Embed Modal Box doesn’t close
- Deleting a routing Form doesn’t update UI.
- Add a new routing form, doesn’t show the new Form in UI(which

[2022-07-18 09:57] hariombalhara commented on #3410
It also seems to be related dynamic catch-all routes.  I have observed that, when we go to Routing Forms(`/apps/routing_forms/forms`) through client-side navigation,` /apps/routing_forms/forms.json` request is sent after the page is rendered(which is the reason on next visit to the page, it loads correct number of forms)

[2022-07-18 09:57] PeerRich commented on #3336
<img width="158" alt="image" src="https://user-images.githubusercontent.com/8019099/179488295-c6a17b78-bc9d-4cef-bf5c-d6a97aad59b1.png">
just use the one the shell gives you

[2022-07-18 12:08] gibranlamarca opened #3414 "Can't sign in with Google (OAuth policy error)"
Found a bug? Please fill out the sections below. 👍

I'm trying to sign in with my Google email but i'm getting an error about OAuth 2.0 policy error, as you can see in the Loom video.

### Steps to Reproduce

1. Went to cal.com
2. Clicked on Sign in with Google

https://www.loom.com/share/16ff4ea898764880987fdf30d5f2468a

[2022-07-18 12:20] gibranlamarca commented on #3408
Hello @shirazdole, how are you? I'm trying to reproduce the issue but for some reason the Add another button doesn't show up for me, as it seems below:
<img width="1221" alt="Screen Shot 2022-07-18 at 9 18 16 AM" src="https://user-images.githubusercontent.com/70969354/179509864-ba4383c8-2a70-4bdc-9a63-da9522636f82.png">

[2022-07-18 13:11] dpalic commented on #3397
@alannnc I am in touch with Milos and shared him my calcom username, would not like to share it here.
As written issue still persists on named version on production. Even tried to remove and readded Zoom App again. Without any improvement

[2022-07-18 14:19] ddm231 opened #3417 "Not possible to connect with Calendars / App page doesn't show anything"
### Issue Summary

Hello together!

I have now installed cal.com on my own server. After the first login, the wizard appears, with which I can make the first configurations. The first problem that becomes immediately visible is that the calendar interfaces do not work when clicked. I have already tried in vain to find a solution and unfortunately I don't know what to do.

When I skipped this step

[2022-07-18 15:23] GlitchWitch commented on #1499
It appears that this is [still an ongoing issue](https://calendso.slack.com/archives/C01NXDSRY9W/p1658069352390929) unfortunately. Commenting here to bump this up as I saw the same thing with a booking I received this morning.

[2022-07-18 15:34] PeerRich commented on #3397
his email is alan@cal.com or https://cal.com/alannnc 🙏

[2022-07-18 15:35] PeerRich commented on #3414
hey @gibranlamarca we'll investigate immediately!

[2022-07-18 15:37] PeerRich commented on #3408
@shirazdole can you try again?

[2022-07-18 15:38] emrysal commented on #3414
@gibranlamarca What happens if you remove the callbackUrl from the URL? That may be what's causing the mismatch.

[2022-07-18 15:40] PeerRich commented on #3414
to be extra clear, remove this:
<img width="498" alt="image" src="https://user-images.githubusercontent.com/8019099/179549122-692033c8-b28b-4e25-b151-f92109141292.png">

[2022-07-18 15:42] krumware commented on #3396
Totally, and it doesn't need to be in the same repo.
I'd actually like to hook up the docker image build as a necessary check on PRs to help eliminate the issues with the two sides getting out of sync. Would that be ok with y'all?

[2022-07-18 15:44] emrysal commented on #3414
Additionally; on the google auth "Authentication Error" page - could you paste the URL to here so we can have a look what it received for the `redirect_uri` ?

[2022-07-18 15:45] PeerRich commented on #3396
@zomars is our master of actions. deferring the decision to him

[2022-07-18 15:46] PeerRich commented on #3399
do you wanna open a PR straight away?

[2022-07-18 15:49] emrysal commented on #3414
I have been able to reproduce this issue, it happens when the login URL lives on cal.com.

`https://cal.com/auth/login` is broken, but `https://app.cal.com/auth/login` works. - @gibranlamarca as a workaround, please use https://app.cal.com/auth/login to login.

As a result cal.com

[2022-07-18 15:49] zomars commented on #3396
I'm ok with that

[2022-07-18 15:51] gibranlamarca commented on #3414
Hello @PeerRich and @emrysal! First of all: removing the callback solves the issue, without it I could normally sign in. The (possible) problem is: I just typed cal.com and my browser suggested cal.com/bookings/upcoming and I hit enter, and this is what generated that callback URL, and since this is kinda of a "normal" thing to do, probably other users are falling into the same issue!

[2022-07-18 16:03] emrysal commented on #3414
Thank you very much; I think you've found a workaround; we're working on a fix 👍

[2022-07-18 16:03] PeerRich commented on #3414
very good point. thank you for the feedback. this should be easily resolved (unless I am wrong)

[2022-07-18 16:52] Jaibles commented on #2856
There are updated designs for this here...
- [Calendars will show up in settings](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/Cal-DS-v2.0?node-id=1546%3A86956)
- And also have their own specific section in [Installed apps](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/Cal-DS-v2.0?node-id=1440%3A65828)

[2022-07-18 16:59] nerdjfpb commented on #3408
@PeerRich  @gibranlamarca
I tried refresh on this page - https://app.cal.com/apps/daily-video and I can see the button here too.

![cal bug](https://user-images.githubusercontent.com/47062625/179563838-3fdbf784-7021-43b9-80d5-5be895bf5624.png)

[2022-07-18 17:03] gibranlamarca commented on #3408
@nerdjfpb In fact I can see it too accessing by cal.com, but not in localhost for some reason.. I'm investigating why

[2022-07-18 17:38] mcnaveen opened #3419 "Missing Zoom link when meeting is rescheduled"
### Issue Summary

When the meeting is rescheduled. The email doesn't contain a Zoom link.

### Steps to Reproduce

1. Create a New Meeting
2. In the incoming email click on Manage this event
3. Now reschedule the meeting
4. You'll get a new email for rescheduling and there will be no zoom link inside that.

Any other relevant information. For example, why do you consider this a bug and what did y

[2022-07-18 18:09] zomars commented on #1499
@sean-brydon can you take a look when you have time?

[2022-07-18 18:09] zomars commented on #1499
Linking a previous fixing attempt of reference #2855

[2022-07-18 18:20] real-or-random commented on #2054
semi-duplicate of #3167

[2022-07-18 19:04] CarinaWolli opened #3424 "Line breaks in workflow reminder email not always working"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Line break in workflow reminder email is not always working.

Works with Mailtrap.io:
![Screenshot 2022-07-18 at 15 00 34](https://user-images.githubusercontent.com/30310907/179585802-7fa236a8-fc4b-4e27-a95b-784ef2fe7cdd.png)

Not working on my Apple Mail:
![Screenshot 2022-07-18 at 15 01 50](https://user-images.githubuserconte

[2022-07-18 19:48] CarinaWolli opened #3425 "Example workflows on workflow page"
### Issue Summary

Showing example workflows on the workflow page to give users inspiration for what they can do. These could even potentially be templates at some point.

### Describe the solution you'd like
Something like that:

<img width="1175" alt="Screenshot 2022-07-19 at 17 50 12" src="https://user-images.githubusercontent.com/30310907/179855312-2d35ff7a-7716-472b-84f2-6092907e350d.png">

F

[2022-07-18 20:24] PeerRich commented on #3425
love this

[2022-07-18 20:27] mholt commented on #2082
Also experiencing the exact same issue. Thanks for looking into fixing this!

[2022-07-18 21:25] PeerRich commented on #3408
yup, can reproduce. will fix!

[2022-07-18 21:32] PeerRich commented on #3408
@sean-brydon will work on this

[2022-07-18 23:33] zomars commented on #3419
It's in production now. We found some trouble with paid Zoom accounts that weren't sending a password field

[2022-07-19 04:47] hariombalhara opened #3426 "Webhooks for Routing Form Responses"
- Allow configuring webhooks for Routing Forms
- Start with Form Submitted webhook
- End goal being should be able to push responses to various Third Parties like Google Sheet, and Airtable.
- For the scope of this issue - Google Sheet integration must be there. Other can follow later.

[2022-07-19 05:21] mcnaveen commented on #3419
Thanks for the update.

[2022-07-19 06:54] alishaz-polymath commented on #3143
Hi @peseotni , Can you please confirm if you have a destination calendar selected?

Eg:
![image](https://user-images.githubusercontent.com/52925846/179685569-5726e011-b31f-4b97-9907-cfc645cd91bd.png)

[2022-07-19 08:08] karstenwinter opened #3428 "[CAL-897] Faulty text display in mail, Line height might be off"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Headings are hard to read, lines overlap
![image](https://user-images.githubusercontent.com/4852618/179700698-fbe44484-7fe8-4360-a698-8afcba25f00f.png)

### Steps to Reproduce

1. (for example) Went to https://cal.com/peer
2. Booked an appointment
3. opening confirmation mail

Any other relevant information. For example, why do

[2022-07-19 08:11] gracebir commented on #3428
@karstenwinter ,I am going to make a look on this

[2022-07-19 09:04] dpalic commented on #3399
sure, if you point me to the source files referring to it. I will provide the changes.

[2022-07-19 09:14] hariombalhara opened #3430 "[CAL-898] Static Typecheck Javascript for Node14+ compatibility"
I accidentally introduced a bug by using `replaceAll` which isn't supported in Node 14. It passed all checks and landed in production because CI and most of us were using Node 16.

We should have static type checking configured for the Node version defined in package.json engines.

<sub>[CAL-898](https://linear.app/calcom/issue/CAL-898/static-typecheck-javascript-for-node14-compatibility)</sub>

[2022-07-19 09:21] wzrdtales opened #3431 "zoom is missing in app store (self hosted)"
that is all that is there...

![image](https://user-images.githubusercontent.com/1786821/179715741-34ebb633-066e-4407-997d-d13efc8261cf.png)

[2022-07-19 09:32] wzrdtales commented on #3431
ok after trying to pull a latest container again, it shows more apps now, but zoom is still not in there and by that nun functional now

[2022-07-19 09:33] #3408 closed

[2022-07-19 09:57] sean-brydon opened #3433 "RFC: team owner admin impersonation of team members"
### Discussed in https://github.com/calcom/cal.com/discussions/3415

<div type='discussions-op-text'>

<sup>Originally posted by **PeerRich** July 18, 2022</sup>
## Why?

often, team owners set up accounts for other team members. right now they do that by changing the email addresses, inviting team members to the team, and then setting them up correctly. to make changes, they need to share passwor

[2022-07-19 10:28] heikir opened #3434 "Add event titles to busy slots on the troubleshooting page"
### Is your proposal related to a problem?

When trying to troubleshoot the non-available timeslots, the blocking timeslots do not contain event titles, which makes the troubleshooting more difficult.

### Describe the solution you'd like

Ideally, the troubleshooting page would include the event titles alongside with the busy slots.

### Describe alternatives you've considered

No reasonable alte

[2022-07-19 10:39] hariombalhara opened #3435 "Make sure that turbocache isn't reused across Vercel environments"

[2022-07-19 10:59] matheusmuniz03 commented on #3431
Hello @wzrdtales! You need to do this setup for the rest of the apps to appear:
![Captura de tela de 2022-07-19 07-55-45](https://user-images.githubusercontent.com/87545749/179734205-4cf36067-e239-4f5f-8989-33fc08a255bc.png)

My localhost after setup:
![Captura de tela de 2022-07-19 07-58-36](https://user-images.githubusercontent.com/87545749/179734802-8d137aef-469a-4ac1-8cba-dff91a08392f.png)

[2022-07-19 11:13] Jaibles commented on #3332
@zomars I agree that both parties should be able to provide a reason to reschedule.

[2022-07-19 11:19] Jaibles commented on #3408
![Image](https://user-images.githubusercontent.com/4536123/179738074-4eeb1a64-c9bf-4e1e-a932-ce6178dd9fac.png)

[2022-07-19 12:00] Jaibles commented on #3316
Designs for this feature are [here](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=13315%3A78702)

[2022-07-19 12:37] wzrdtales commented on #3431
and in your setup is also no zoom.

As I updated in my second comment: there are now more apps since an update again. but still no zoom. see here

![image](https://user-images.githubusercontent.com/1786821/179751870-4e8035eb-7acd-4dcc-ad52-09d86e76e1e1.png)

[2022-07-19 12:47] PeerRich commented on #3399
https://github.com/calcom/cal.com/blob/main/apps/web/public/static/locales/de/common.json

[2022-07-19 13:44] xlincw0w opened #3438 "Missing Google meet link when meeting is scheduled"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When the meeting is scheduled. The email doesn't contain a Google meeting link.

### Steps to Reproduce

1. Create a New Event Type and mark Google meet as your location or set an already existing Event Type's location to Google Meet
2. Book a meeting

![image](https://user-images.githubusercontent.com/32910910/179765188-16b530

[2022-07-19 17:01] hariombalhara opened #3447 "Tests Required: There should be some tests for cal api in cal.com repo"
Turns out we can accidentally break api build without realizing. We can start with a very simple build command as the first test which verifes that build succeeds. It can be followed by running more API tests

Refer to https://github.com/calcom/cal.com/pull/3446

[2022-07-19 18:37] rennoco commented on #3310
Actually, this issue persists for me even AFTER enabling the calendar.

It shows full availability, even on slots in the day when I am definitely busy or am out of office entirely:

![image](https://user-images.githubusercontent.com/107069911/179824342-ffb897ba-52c0-4b6b-90e0-be3fc2992c14.png)

[2022-07-19 19:07] zomars opened #3451 "Clicking on "Back to bookings" after cancelling stays loading"
Maybe unrelated but found out this:

Clicking on "Back to bookings" after cancelling a single recurring event.

<img width="503" alt="image" src="https://user-images.githubusercontent.com/3504472/179829148-dac1c5d3-3a2a-4bc6-bef8-a4aa08621163.png">

It navigates to `/bookings` and it doesn't redirect you to `/bookings/upcoming` so the skeleton is just stays there, loading.

<img width="596" alt="i

[2022-07-19 23:22] denik1981 commented on #3414
This is usually solved with a sessionStorage key. You will store the path the user is attempting to visit prior to login, then do the OAuth flow to authenticate the user, you get redirected back to the registered URI and finally check your session storage to see if there is a some path in there to reroute the user once it has been authenticated. If no path is found take him back to the default reg

[2022-07-19 23:29] #3451 closed

[2022-07-19 23:51] zomars opened #3455 "LFE: Availability Troubleshooter improvements"
### Is your proposal related to a problem?

Currently the information received in the current troubleshooter is pretty basic.

### Describe the solution you'd like

The availability endpoint only returns `start` and `end` dates for blocked slots. We should try to return a `source` prop so we can know which calendar is blocking that slot.

### Additional context

We should be able to provide theses

[2022-07-20 00:38] marvinvonhagen commented on #1499
Just encountered a similar problem; fyi, the same issue applies to other commonly used special characters such as "<>"

[2022-07-20 05:09] alishaz-polymath commented on #624
@jdaviescoates Yes, please create a new issue about that. I'm going ahead and closing this ticket as I have tested that CalDAV events are taken into consideration to block double booking, as you have confirmed as well. 🙏

[2022-07-20 05:09] #624 closed

[2022-07-20 05:11] alishaz-polymath commented on #622
This issue cannot be reproduced, hence going ahead to close this. Please feel free to re-open this issue in case you can still reproduce this issue in the latest pull 🙏

[2022-07-20 05:11] #622 closed

[2022-07-20 05:14] alishaz-polymath commented on #588
@cveneziani Thank you for confirming that it works for you, and for the wonderful suggestion. I'm keeping this ticket open for the time being, to make sure we can provide a better context with the error message. 🙏

[2022-07-20 05:20] alishaz-polymath commented on #479
@kuba-orlik Hi, can you please confirm if the CalDAV availability checking has improved for you now? How long is it taking for you now?

[2022-07-20 05:42] alishaz-polymath opened #3457 "[CAL-130] All CalDav Issues here!"
## An updated CalDAV issue checklist

* [x] Nextcloud not syncing busy times #6756
* [x] Unclear error forwarding with CalDAV slow servers #6313
  https://github.com/calcom/cal.com/issues/6313
* [x] “e is undefined” error when adding CalDAV #5604
* [x] Meetings in Apple calendar are offset when calculating available time slots #5570
* [x] If a caldav server stops responding, it takes Installed App

[2022-07-20 05:43] alishaz-polymath commented on #956
Hey everyone, thanks a lot for your help and feedback. For a cleaner hunting, closing this in favor of #3457 🙏

[2022-07-20 05:43] #956 closed

[2022-07-20 08:13] alishaz-polymath commented on #1588
Hi @s-gbz ,

We have since updated the availability module and were hoping to confirm if you still face this issue. 🙏

Also  @krzyzanowskim , are you still facing this issue?

[2022-07-20 08:31] hariombalhara opened #3460 "Enhancement: Prevent duplicate webhooks in Routing Forms to prevent duplicate entries"
This is an enhancement on PR https://github.com/calcom/cal.com/pull/3444

It is currently possible for a user to add the same webhook URL twice. This can end up duplicating every response. We should prevent this.

[2022-07-20 09:25] hariombalhara commented on #2844
In that case the entire team should be considered away? and probably the same page would be shown as is shown when a user is away for user booking ?

[2022-07-20 09:39] gracebir commented on #3389
@zomars , by getting rid of `DailyEventReference` model, we will no longer be able to use dailyVideo (daily.co), means we have to get rid of it to?

[2022-07-20 09:42] alishaz-polymath commented on #2877
This issue was fixed earlier with #2987

[2022-07-20 09:42] #2877 closed

[2022-07-20 09:43] sw506 opened #3462 "O365 Calendar not syncing for multiple Users"
### Issue Summary

UPDATE: While it didnt work for for one user constantly, now it doesn't work for all Users...

On a fresh installation the O365 Calendar Plugin does not work anymore for one User, while it works for others and worked on a previous installation for the same user. Users are all added with exactly the same settings in the DB.
User tried to remove and re-add Outlook Calendar, withou

[2022-07-20 09:44] alishaz-polymath commented on #1524
@joeauyeung @sean-brydon
This should be a quick win if you guys have the bandwidth

[2022-07-20 10:17] mcnaveen commented on #3438
This is happening when rescheduling the meeting or the new meeting itself?

Check #3419

[2022-07-20 10:27] PeerRich opened #3464 "refactor: booking page time options to dropdown"
this is currently a `<Collapsible.Root />` which is an old, unused component

<img width="392" alt="image" src="https://user-images.githubusercontent.com/8019099/179959918-2e1aff1b-0d58-4614-ae59-4a54a0aa94c1.png">

and it should use the `<Dropdown>` component instead:

<img width="253" alt="image" src="https://user-images.githubusercontent.com/8019099/179959996-f9ab05e5-f395-4e16-a6bc-181a350e348

[2022-07-20 10:45] gracebir commented on #3464
@PeerRich , I am going to working this

[2022-07-20 11:56] PeerRich opened #3466 "refactor: use <EditableHeading/> in event-types/[type].tsx"
right now we only use `<EditableHeading/>` in /availability page but we should also use it in `event-types/[type].tsx`

<img width="212" alt="image" src="https://user-images.githubusercontent.com/8019099/179975884-de1bb34c-5270-4f8e-acad-1b27e86261c5.png">

[2022-07-20 12:51] zomars commented on #1524
Let’s track that on another issue. We need to check how teams are going to be disbanded.

[2022-07-20 13:27] PeerRich commented on #3466
awesome, go for it!

[2022-07-20 13:28] joeauyeung commented on #537
Fixed in #3197

[2022-07-20 13:28] #537 closed

[2022-07-20 14:19] shapel commented on #3466
@PeerRich I find out that https://github.com/calcom/cal.com/blob/main/apps/web/components/PencilEdit.tsx was also abstracted from `/event-types/[type]`. Should I merge its functionality to `EditableHeading` and use it everywhere?

[2022-07-20 14:27] christianpetty commented on #3167
This feature would enable support for Proton Calendar and other encrypted platforms that offer availability via ICS links.

[2022-07-20 15:01] mocherfaoui opened #3467 "set yourself as away is not working as intended"
### Issue Summary

When I click Set yourself as away either from cal.com or locally, it doesn't change my status and I'm still shown as available.

### Steps to Reproduce

1. Click on Set yourself as away from the bottom left user dropdown
2. Notice that the status doesn't change

[2022-07-20 15:24] zomars commented on #3389
No. We must keep Daily functionality intact, just migrating the data to the `BookingReference`:

![image](https://user-images.githubusercontent.com/3504472/180020792-8888cbc6-ba71-4ae4-aee1-39d47159b57b.png)

If you feel this is quite complex don't worry, I feel that a @calcom/core member can take care of it. But thanks for the introspection. 🙏

[2022-07-20 17:25] #3419 closed

[2022-07-20 18:30] #3426 closed

[2022-07-21 00:32] #3467 closed

[2022-07-21 08:00] shapel commented on #3389
👋 @gracebir @zomars

How much data do you have? Do you consider using a step-by-step data migration process?

Instead of doing all data movement as one migration and switching all code to `BookingReference`, it might require some other strategy to prevent service unavailability.

@gracebir, I'd like to tackle this if you change your mind about this issue.

[2022-07-21 08:28] hariprasadiit commented on #2818
I've found where the issue is for this.

When you add only MS Teams app without Office 365 Calendar app, for initial request to get `access_token` only `OnlineMeetings.ReadWrite` scope is used
but for subsequent requests to get refresh `access_token` `"User.Read", "OnlineMeetings.ReadWrite"` scopes are used for which MS Graph responds with `invalid_grant` error as scopes are not matching.

This is

[2022-07-21 10:57] achammah commented on #3438
Hey ! have the same issue, it happens when first creating the meeting (so new meeting), don't know the root cause

[2022-07-21 11:23] xlincw0w commented on #3438
When creating a new one, don't know about rescheduling but i guess it both

[2022-07-21 12:07] MathisTimo opened #3476 "Responsive issue on embedded popup on mobile"
### Issue Summary

When on mobile the bottom part of the pop up is not in the viewport

### Steps to Reproduce

1. Went to [my website](https://www.philocks.fr/)
2. Clicked on "RDV Départ de locks en twist" button
3. Opened chrome dev tool, selected mobile view, switched to iPhone SE view
4. Tried to scroll to the bottom

### Technical details

I'm not self hosting cal. This also happens on app.ca

[2022-07-21 13:24] PeerRich commented on #3476
@hariombalhara can take a look

[2022-07-21 13:55] hariombalhara commented on #3476
I can replicate the issue and I have a fix. Will push it live tomorrow after testing.

Seems like it got broken sometime back when I gave padding at the top. Would consider the offsetTop for the modal box to fix it

[2022-07-21 15:25] pierrejn-git opened #3477 "We would appreciate a Netxcloud Calendar connector"
### Is your proposal related to a problem?

(Write your answer here.)

### Describe the solution you'd like

(Describe your proposed solution here.)

### Describe alternatives you've considered

(Write your answer here.)

### Additional context

(Write your answer here.)

[2022-07-21 15:31] krumware commented on #22
This is something that is very much on the radar over at https://github.com/calcom/docker, including the push for runtime variables

[2022-07-21 15:39] sean-brydon opened #3479 "Team Members should not be able to create event types"
Since team members cannot delete event types it makes no sense to give them ability to Create. We will restrict this to be an ADMIN/OWNER ability.

[2022-07-21 15:40] #3477 closed

[2022-07-21 15:50] PeerRich commented on #3438
I can’t reproduce it :(

<img width="484" alt="image" src="https://user-images.githubusercontent.com/8019099/180257883-042aa80b-b2ca-4022-b568-b072c241c27e.png">

[2022-07-21 16:05] #3335 closed

[2022-07-21 16:19] zomars commented on #3438
@xlincw0w are you self hosting? Is this our `cal.com` hosted version? Do you have a Google Calendar connected? If you're self-hosting what version are you on? Please consider adding additional context so we can investigate further.

[2022-07-21 17:05] zomars commented on #3389
We have around 6k records in the `DailyEventReference` table. @shapel feel free to make a proposal and PRs are always welcome.

[2022-07-21 18:56] #3424 closed

[2022-07-22 00:28] CarinaWolli opened #3489 "Design issues on success page in some languages"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Design issues on the success page in some other languages than English. Only tested it in German:

<img width="488" alt="Screenshot 2022-07-21 at 20 21 44" src="https://user-images.githubusercontent.com/30310907/180336172-bc43adb4-8382-429b-9955-1571d404d2c8.png">

English:

<img width="474" alt="Screenshot 2022-07-21 at 20 25

[2022-07-22 07:48] PeerRich commented on #3489
we should make a line break:

Add to Calendar
[Icon] [Icon] [Icon] [Icon]

[2022-07-22 08:20] PeerRich commented on #3466
yes please 🙏

[2022-07-22 08:20] PeerRich commented on #2818
cc @joeauyeung maybe you can take a look? Or can this be due to the verification? 🤔

[2022-07-22 08:22] PeerRich commented on #3462
just to confirm, you added the microsoft API token etc.?

[2022-07-22 08:44] shapel commented on #3466
👋 @PeerRich, I've already done this in #3468 🤓

[2022-07-22 09:09] sw506 commented on #3462
Yep, API token is in .env.appStore and works for Teams link creation. At least for some Users.

[2022-07-22 11:29] matheusmuniz03 commented on #3489
do you like something like this? Or do you prefer the links on the left?
![Captura de tela de 2022-07-22 08-27-27](https://user-images.githubusercontent.com/87545749/180430179-7fc1ef4e-6eae-43b7-9b11-7080c184cbd7.png)

[2022-07-22 14:09] xlincw0w commented on #3438
Hey @zomars

1. This is indeed self hosted
2. Google calendar and Google meet are connected through with GOOGLE_API_CREDENTIALS
3. Cal version is 1.8

[2022-07-22 16:04] #3336 closed

[2022-07-22 17:01] zomars commented on #3438
Do you have a google-meet app in your database App table?

[2022-07-22 17:27] #3392 closed

[2022-07-22 17:40] PeerRich opened #3503 "Collection: Command+K Wishlist"
<img width="671" alt="image" src="https://user-images.githubusercontent.com/8019099/180407839-89d1df36-5bf1-4c66-8e25-c673582b2e52.png">

Let's start a wishlist here for actions

[2022-07-22 18:07] CarinaWolli commented on #3489
I would definitely put the links to the left if we add a line break

[2022-07-22 18:09] CarinaWolli commented on #3489
Also, this is not in line (in English it is):

<img width="493" alt="Screenshot 2022-07-21 at 20 23 30" src="https://user-images.githubusercontent.com/30310907/180498372-5a751672-7629-4a2f-93f5-a9705f7fa1b4.png">

[2022-07-22 18:10] noobyogi0010 commented on #3425
@PeerRich I would like to work on this if no one else has already taken it up.
Thanks!

[2022-07-22 18:12] noobyogi0010 commented on #3399
@dpalic were you able to fix this issue?

[2022-07-22 19:04] PeerRich commented on #3425
I believe @CarinaWolli is already working on it

[2022-07-22 19:05] PeerRich commented on #3489
lets involve @Jaibles

[2022-07-22 19:16] CarinaWolli commented on #3425
I am not yet working on it. @noobyogi0010 you can work on it, let me know if you have any questions

[2022-07-22 19:20] PeerRich commented on #3425
@Jaibles do you have designs for this by any chance?

[2022-07-22 19:23] #3466 closed

[2022-07-22 19:25] mocherfaoui commented on #3489
does this look any good @CarinaWolli ?
![Screenshot 2022-07-22 201823](https://user-images.githubusercontent.com/37941426/180511890-f12dc1a9-ffba-4f29-b1db-72ba7764e36a.png)
this is how it looks on mobile:
![Screenshot 2022-07-22 201743](https://user-images.githubusercontent.com/37941426/180512016-17360bdc-9fb2-4b71-99e4-c7afc308382d.png)
one thing though, I wanted to test how will this look on an

[2022-07-23 16:47] calcom-bot opened #3510 "[CAL-27] Linear Test!!!!"
**Hello this is a super awesome teat**

![cal.comsquare.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/beaf4e21-6fa6-4117-9ee5-92348ba526cc/aefa939b-6483-4ce6-b3c9-fc3b6a55c09a)

* [ ]  Frist Checkbox
* [ ] Second Checkbox
<sub>Sean Brydon on Linear</sub>

[2022-07-23 17:02] #3510 closed

[2022-07-23 17:03] calcom-bot opened #3511 "[CAL-29] Test issue for linear"
Test issue for linear

@sean-brydon --- test test

[2022-07-23 17:04] PeerRich commented on #3511
test comment

[2022-07-23 17:08] #3511 closed

[2022-07-23 17:34] calcom-bot opened #3512 "[CAL-837] [CAL-836] Test Issue Public"
Wooo
<sub>team@cal.com on Linear</sub>

[2022-07-23 17:34] #3512 closed

[2022-07-23 17:34] calcom-bot opened #3513 "[CAL-839] [CAL-838] Second test Issue!!!"
Woooo this works!
<sub>Sean Brydon on Linear</sub>

[2022-07-23 17:34] calcom-bot opened #3514 "[CAL-840] [CAL-839] [CAL-838] Second test Issue!!!"
Woooo this works!
<sub>Sean Brydon on Linear</sub>
<sub>team@cal.com on Linear</sub>

[2022-07-23 17:36] #3513 closed

[2022-07-23 17:36] #3514 closed

[2022-07-24 09:50] vpul opened #3515 "[CAL-841] Add status on /bookings API endpoint"
### Is your proposal related to a problem?

Bookings API does not show status ('canceled', 'pending confirmation', etc) which makes it difficult to work with. Also, I couldn't find API to cancel, reschedule or confirm bookings.

### Describe the solution you'd like

- Show the current status of a particular booking.
- API endpoints to cancel, reschedule and confirm the pending booking.

[2022-07-24 17:51] agustif commented on #3515
Hello @vpul, we've recently extracted out our trpc routes so they can be shared between public API and webapp. And so we will be addressing both of those issues soon thanks to it. I will keep you posted here, thanks for bringing it up.

[2022-07-24 18:31] vpul commented on #3515
Hey @agustif . Thanks for responding. I was wondering if I should use the webapp API routes in the meantime to augment the public API.

I know these are not documented but I just need the 'confirm booking' route for now. Of course, these will be a temporary workaround until the public API is ready. What do you think?

[2022-07-25 06:03] alishaz-polymath commented on #479
Closing this as the CalDAV availability checking has improved according to our benchmark tests. It isn't perfect yet, and there is certainly a room for improvement, but it isn't specific to CalDAV. Please feel free to re-open it if you struggle with CalDAV availability checking being super slow again.

[2022-07-25 06:03] #479 closed

[2022-07-25 09:30] noobyogi0010 commented on #3425
Alright, @CarinaWolli I will start working on it.
Thanks!

[2022-07-25 10:17] PeerRich commented on #3425
can you wait another few days, the designs aren't ready yet @Jaibles

[2022-07-25 10:21] Jaibles commented on #3425
Yep they're very nearly ready. Will have them within 2 days.

[2022-07-25 10:35] dpalic opened #3519 "Improve Internationalization with having one backend and independent of "frontend" language"
### Is your proposal related to a problem?

no it is a feature request (or is it a bug?)

### Describe the solution you'd like

As a admin of the cal.com, I want to use the backend in English. (error reporting is easier, easier to handover to other international colleagues and so on). so that I can use the backend in English, without impacting the frontend language to the users.

The frontend of t

[2022-07-25 10:39] dpalic commented on #3378
having the very same requirement too

so my suggestion here would be to provide:
a variable name to the additional inputs in the event type
with the variable name we could use it as a text template

e.g.
additional input:
label: Your preferred restaurant
variableName: locationRestaurantPreferredByClient  <== missing
type: longtext
hoverText: please provide your preferred restaurant for our busines

[2022-07-25 14:03] Aarbel commented on #2328
Will radix be stable some day and perform mobile / touch device e2e tests ?

[2022-07-25 16:30] zomars commented on #3337
With the [website rewrite fix](https://github.com/calcom/website/commit/f84408d85e57c99e6473657d7654de2b09b83eac) this is not needed anymore

[2022-07-25 16:31] #3337 closed

[2022-07-25 17:55] shirazdole opened #3524 "Team Gantt view for Timezones"
### Is your proposal related to a problem?

It's hard to know what timezone my team members are in. Especially for a remote company, it can be difficult to know when is a good time to message them for something or scheduling meetings.

Team Gantt view for Timezones

### Describe the solution you'd like

Navigate to the team page within cal.com and see a gantt view of all my team members and be abl

[2022-07-25 18:25] CarinaWolli commented on #3489
@mocherfaoui  The screenshots look good to me 👍

Not sure about that. Maybe somebody else from @calcom/core knows more about that

[2022-07-25 19:21] Toledodev commented on #3524
Hey @shirazdole, can you explain me more about the feature?

[2022-07-25 21:07] shirazdole commented on #3524
Hi @Toledodev for some reason it didn't pull all the details, here you go:
### Is your proposal related to a problem?

Team Gantt view for Timezones

### Describe the solution you'd like

(Describe your proposed solution here.)

### Describe alternatives you've considered

(Write your answer here.)

### Additional context

(Write your answer here.)

[2022-07-25 21:08] shirazdole commented on #3524
@Toledodev just updated my comment :)

[2022-07-25 21:10] leog commented on #3524
Here is an open source library to handle Gantt charts: https://github.com/MaTeMaTuK/gantt-task-react
Saw a bunch being paid libraries so wanted to contribute free alternatives.

[2022-07-26 00:17] #3311 closed

[2022-07-26 01:32] leog commented on #3524
Another open source alternative which is looking for library maintainers: https://github.com/namespace-ee/react-calendar-timeline by @ilaiwi

[2022-07-26 07:37] RevRebel opened #3529 "Vercel Build Fails The file "/vercel/path0/.next/routes-manifest.json" couldn't be found."
Found a bug? Please fill out the sections below. 👍

### Issue Summary

A summary of the issue. This needs to be a clear detailed-rich summary.

### Steps to Reproduce
Same issue as a previous ticket #1908

I tried this solution 'Their docs are not fitting for this repo, though. Needed to change the build command to cd ../.. && yarn run build and install command to yarn install --prefix=../..."; ho

[2022-07-26 09:44] mathiasjakob commented on #3310
For me, the problem still exists as well.
Self hosts environment and I just updated to v1.8.1. I also double checked that the correct calendar was selected in the event.

[2022-07-26 09:45] alishaz-polymath commented on #3310
Hi @rennoco and @mathiasjakob
Im reopening this since you both seem to have an issue. @joeauyeung can you please take a look at this 🙏

[2022-07-26 10:54] alishaz-polymath commented on #3076
Currently, the CalDAV data sent out does not include ATTENDEE property which is the reason that this issue exists. Currently we're only sending all the data through the description, which isn't great. I'll get started on this now and hopefully resolve this soon!
🙏
Thanks for bringing this into our attention, and sincere apologies for the delay

[2022-07-26 13:33] RebeccaCotton opened #3531 "Round Robin booking assigned to unavailabe team member"
### Issue Summary

When a meeting with a round robin team is scheduled, the meetings are always scheduled with the event type creator, even on slots they are not available at

### Steps to Reproduce

1. create a team with at least two, users (in our example U1 created the team and U2 is a team member)
2.  Set their availabilities, e.g. U1 = Monday, 9-11AM, U2 = Friday 1-3PM and set both schedules

[2022-07-26 17:04] PeerRich commented on #3519
just to clarify, by "backend" you mean the signed in area?

[2022-07-26 18:25] #3479 closed

[2022-07-26 20:37] ilyakatz commented on #3328
Similar here, I just following instructions from readme and `yarn dev` works ok. But `yarn build; yarn start` does not allow to login

[2022-07-26 21:43] zomars commented on #3328
It should like you have and invalid `NEXTAUTH_DOMAIN` set, make sure you don't have `.example.com` as a value.

[2022-07-26 22:00] shirazdole opened #3535 "In Event Type settings: Show the default selected calendar - Right now it looks like no calendar is selected."
### Is your proposal related to a problem?

When creating a new event type, there is no calendar selected when creating the event. This is a crucial step to ensure users have a calendar connected. I believe most users will "assume" that there calendar is connected, but the fact is no calendar is connected when an event type is set up. A user needs to go into advance settings and select their calen

[2022-07-26 22:00] shirazdole commented on #3535
@Jaibles something worth potentially looking into 🙏

[2022-07-26 22:29] shirazdole opened #3536 "Trial verbiage on Pro Plan"
### Is your proposal related to a problem?

Clean up the Trial Language on the Pro Plan on billing:
<img width="600" alt="CleanShot 2022-07-26 at 12 25 39@2x" src="https://user-images.githubusercontent.com/16177678/181122943-1d66e3f2-a878-46d2-888f-de0ca7fe7203.png">
You're currently on the TRIAL plan.
Upgrade your account to the PRO plan to unlock all of the features we have to offer.

### Descri

[2022-07-26 22:29] shirazdole commented on #3536
@Jaibles if I'm not mistaken, users get access to all pro features during their trial. This small tweak may clear up any confusion :)

[2022-07-26 22:55] shirazdole commented on #3334
Related to this, when there is a booking confirmation email, it would be great to have the timezone shown in my time as well:
<img width="578" alt="CleanShot 2022-07-26 at 11 51 28@2x" src="https://user-images.githubusercontent.com/16177678/181119008-dc9fc735-c024-4503-852b-365342629e38.png">

[2022-07-26 23:33] shirazdole opened #3537 "[CAL-88] Disconnected Calendar still Showing as Calendar to Create Events On"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When disconnecting a Google Calendar from calendars through installed apps (in this use case there are two calendars connected). The calendar that is disconnected, first does not go away after being disconnected (it still shows and goes away once you refresh the page), but when you look at the selector for where events are crea

[2022-07-26 23:45] jjromary opened #3538 "Rescheduling is done but the email informing the rescheduling is not sent."
Found a bug? Please fill out the sections below. 👍

### Issue Summary

I am able to reschedule events on my calendar, but the email informing me of this rescheduling is not being sent.

### Steps to Reproduce

1. Schedule any event on your calendar.
2. Reschedule this event
3. See in VScode console the error
4.
this error is in `apps\web\pages\api\book\event.ts`

![image](https://user-images.githu

[2022-07-27 00:21] ilyakatz commented on #3328
interest, yes, that looks like it worked after i removed `.example.com`. Maybe worth mentioning it in docs somewhere. Thanks!

[2022-07-27 04:55] mcnaveen commented on #3419
I hope this issue got fixed and rolled out already.

[2022-07-27 04:56] hariombalhara commented on #3476
This is fixed and live now. Verified on https://www.philocks.fr/ as well.

[2022-07-27 04:56] #3476 closed

[2022-07-27 07:57] MehmetAdemi opened #3544 "Create events on more than one connected calendar"
Problem:
I have two calendars (private & work) connected to my cal.com. Now when someone books a meeting with me the event gets created only in one of my calendars.

Requested feature:
I would appreciate it if there would an option to select both connected calendars (or all connected calendars).

[2022-07-27 08:31] milospuac commented on #3544
Hi Mehmet,

Already forwarded this to the product team to consider for the next version :)

Best,

[2022-07-27 08:31] milospuac commented on #3538
Hi there

Thanks for reaching out. Our team will investigate this

Best,

[2022-07-27 08:32] milospuac commented on #3531
Hi Rebecca. Thanks for reporting the issue.

Our team will investigate this.

Best,

[2022-07-27 08:45] RobynOllie opened #3546 "Outlook Calendar Sync Issues"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

A member of our Ollie team on Cal, Abby (https://cal.com/abby-doubell) has been experiencing issues with their calendar not syncing correctly. She tried disconnected and re-adding her Outlook calendar but it's still not picking up when she's busy and is making her available all the time. I've check the event type settings and h

[2022-07-27 09:38] dpalic opened #3547 "Provide query/url-parameter for hidden fields"
### Is your proposal related to a problem?

Assume you work on a high load ticket system. Now you have to schedule events via the ticket system. But you have no option to pass a hidden field like a ticket-ID.
The agents working on the ticket system have to do a lot of manual work to find the corresponding ticket to the corresponding scheduled event. Since the e-mail used on the cal.com may differ

[2022-07-27 09:38] ch-ruetgers-RMH commented on #3462
Thank you @sw506 - we stumbe across the very same issue. ATM Cal is not usable for us unless we had rolled it out with great success and our clients are quite disappointed we can had to stop this service.

[2022-07-27 10:54] PeerRich opened #3551 "booking page and emails in your language"
![image](https://user-images.githubusercontent.com/8019099/181230430-164cceed-db1b-443b-a2bd-df782d4f871b.png)

![image](https://user-images.githubusercontent.com/8019099/181230229-4105b4dd-76cb-4b04-9267-a64b0389e5b5.png)

i booked someone whos language is in spanish, and my email confirmation is in spanish as well

my browser should detect my language and show both the booking flow and emails sh

[2022-07-27 11:56] gracebir commented on #3535
@shirazdole , we need to add up a datepicker right ?

[2022-07-27 11:59] Toledodev commented on #3535
Hey @shirazdole, Where in advance settings would the user have to go?

[2022-07-27 12:05] Toledodev commented on #3535
@shirazdole Something like this, right?
![Screenshot from 2022-07-27 09-04-52](https://user-images.githubusercontent.com/87545086/181242643-82e648de-5f9b-466d-90ff-00f4f32b80a0.png)

[2022-07-27 12:36] Toledodev commented on #3535
Why should a user have a calendar connected? Also, I created a Event Type and went to advanced settings but I didn't find anything to select calendar

[2022-07-27 12:37] reachkrishnaraj opened #3552 "Cancel booking button in unclickable state"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Cancel booking button on a booked event is unresponsive in a certain use-case explained below

### Steps to Reproduce

1. Book any event type
2. Go to the booking as host. Click "Edit Booking". Dont do anything else.
3. Now click "Cancel". Button unresponsive unless a page refresh is done forcefully.

Any other relevant informa

[2022-07-27 14:20] Toledodev commented on #3552
Hey @reachkrishnaraj, what happens is that when you click on the "Edit Booking" dropdown you need to click away from it if you want to click anywhere else on the site. I don't think this is a bug
https://www.loom.com/share/f3bbaa800f464c5686b82541ade4935c

[2022-07-27 14:22] rittaaka opened #3553 "Feature Request: Send invites as Organiser from the calendar that is booked (not from Cal.com login email)"
Currently, if a user connects Calendar A - where the organiser is Email Address A - and Calendar B - where the organiser is Email Address B - invitees can book in to both Calendar A and Calendar B, depending on which Calendar the event type pushes to.

However, supposing that the user's Cal.com account is associated with Email Address A, even if Calendar B is booked, the invitation will come from

[2022-07-27 16:17] gracebir commented on #3535
is this what we are expected?
![selected](https://user-images.githubusercontent.com/46535846/181297851-2140b4de-ed35-4a4d-abda-8abd748e0fd9.png)

[2022-07-27 18:18] PeerRich opened #3554 "center and space buttons on cancel page"
on /cancel/ we need to horizontally center the buttons and give it space-y-2 margin between the buttons

<img width="462" alt="CleanShot 2022-07-27 at 20 16 48@2x" src="https://user-images.githubusercontent.com/8019099/181343717-55cb6477-7348-46e9-b7e7-804d2891ec95.png">

[2022-07-27 19:12] #3310 closed

[2022-07-27 19:35] saschafoerster commented on #3457
I am still trying out Kerio CalDAV with self hosted cal.com version 1.8.3 I get this error in the frontend, when trying to use the "debug" interface:

https://URL/availability/troubleshoot

[code]

In the logs:

[code]
Browser console:

[code]

And when trying to open the URL:
https://URL/api/availability/saschafoerster?dateFrom=2022-07-26T22:00:00Z&dateTo=2022-07-27T21:59:59Z

I get this
`{"messa

[2022-07-27 20:57] jjromary commented on #3554
![image](https://user-images.githubusercontent.com/37199044/181370554-d3cb0c5a-f67a-4431-9feb-180ed2ff93f4.png)

Does this Style meet your request?

[2022-07-27 23:57] zomars commented on #3410
Is this related to our production shenanigans that we patched in 1.8.3?

[2022-07-28 00:11] zomars commented on #3410
I'm setting up a small repro here: https://github.com/zomars/next-middleware-dynamic-route-static-page-repro

[2022-07-28 00:34] META-DREAMER commented on #1682
Would be nice to see an integration with https://www.npmjs.com/package/@guildxyz/sdk, would be a great turnkey solution to many different complex types of token gating across many chains.

[2022-07-28 02:44] zomars commented on #3524
[Some inspiration](https://everytimezone.com/s/34cdd78d?t=62e32300,3c0):

<img width="1371" alt="image" src="https://user-images.githubusercontent.com/3504472/181408878-520342aa-656e-4862-ba66-1d34025f7a3d.png">

Now, picture this view but with each team member displaying their "default availability" laid out for comparison.

[2022-07-28 03:51] hariombalhara opened #3559 "Routing Forms: Disable rules in Fallback Route"
This is because Fallback Route is supposed to always match

[2022-07-28 05:44] alishaz-polymath commented on #3457
Hi @saschafoerster Thank you for the detailed message. I've got Kerio connect for CalDAV lined up soon for testing. As soon as I'm done with it, it should be good to go! 🙏 Thanks for your patience.

[2022-07-28 06:55] nosovk opened #3562 "Deploy to Vercel seems to be broken for free plan"
### Issue Summary

I've created a new deployment of cal.com, but it seems to be broken.

### Steps to Reproduce

1. Fork Project
2. Connect to Vercel
3. setup custom build options
<img width="752" alt="image" src="https://user-images.githubusercontent.com/1398808/181440383-8b2ea4fc-2b49-4c89-aa7f-d628bc0608a9.png">
4. Build
Get response form build system: No more than 12 Serverless Functions can b

[2022-07-28 07:20] milospuac commented on #3553
Thanks for presenting your case. Our team will look into this.

[2022-07-28 07:28] milospuac commented on #3552
Hey Raj,

Like Rafael said above, just click away from the dropdown to close it, and then click on Cancel. It's not a bug.

[2022-07-28 07:28] #3552 closed

[2022-07-28 07:58] alishaz-polymath commented on #2988
@jdaviescoates I think any changes (reschedule or location update) results in an extra updated booking in the nextcloud calendar which is definitely unintended. We've identified potential causes and currently working on getting this sorted. Thanks for your patience 🙏

[2022-07-28 08:06] peseotni opened #3563 "Facebook Pixel implementation"
### Is your proposal related to a problem?

A client of mine askes if there is the posibility of inserting facebook pixel to the different events.

### Describe the solution you'd like

If we can have a general Pixel insert in the main setting and then for each event to be able to create the event tag for facebook.

### Describe alternatives you've considered

I am not good at coding, I looked thr

[2022-07-28 08:40] karstenwinter opened #3564 "Invite to team doesn't generate a notification/mail"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

I just found out by chance and when my colleague told me he invited me to a team that there was something.

Found it by clicking through the settings until I found https://app.cal.com/settings/teams.

I would expect a notification in the dashboard UI and a mail :)

### Steps to Reproduce

1. Invite someone to join a team

Any o

[2022-07-28 08:52] Jaibles commented on #3535
Hi @gracebir - thanks for the idea!

Right now this is an app wide setting that we get people to setup in onboarding and then it's setup for all their event types. The majority of our users want their bookings/events going to the same calendar.
<img width="1491" alt="CleanShot 2022-07-28 at 09 46 02@2x" src="https://user-images.githubusercontent.com/4536123/181463211-61e02e7d-520e-448a-a67d-1016b6

[2022-07-28 08:54] alishaz-polymath commented on #2989
According to [this](https://www.larksuite.com/hc/en-US/articles/360043178793) there isn't really a good way to directly sync CalDAV from our server to LarkSuite. And this isn't our problem but Lark Suite's app decision, so I'm closing this comment for now. If things change in the future, we can definitely re-visit

[2022-07-28 08:54] #2989 closed

[2022-07-28 10:15] milospuac commented on #3564
Thanks for reaching out. I notified our product team to investigate this

[2022-07-28 10:19] milospuac commented on #3564
I actually just tested this out and it's working. What is the mail provider that you're using? Also, it would be good to check your spam folder

[2022-07-28 11:22] paolotiu opened #3565 "Useless check in handleJsonError"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

There is a check if `response.status` is both less than 200 and greater or equal to 300. This is impossible.

https://github.com/calcom/cal.com/blob/bfa70dcc8332c25bb3198ec0060f92a49625d095/packages/lib/errors.ts#L20

[2022-07-28 11:59] PeerRich opened #3566 "close dropdown in teams to prevent z-index bug"
## problem

on https://app.cal.com/settings/teams when clicking

<img width="250" alt="CleanShot 2022-07-28 at 13 58 21@2x" src="https://user-images.githubusercontent.com/8019099/181499559-c4695ef1-c687-4e57-92d8-916e3bcf0cee.png">

and selecting "disband team" it shows:

<img width="762" alt="CleanShot 2022-07-28 at 13 57 20@2x" src="https://user-images.githubusercontent.com/8019099/181499401-f7b

[2022-07-28 12:02] noobyogi0010 commented on #3425
@Jaibles Okay, cool!

[2022-07-28 12:19] PeerRich opened #3567 "installed apps page slow"
@leog you were looking into this? any ideas why?

[2022-07-28 14:12] om-ray commented on #2900
@Jaibles Hi, could you or someone else review the PR?

[2022-07-28 15:50] nosovk commented on #3562
According o docs [serverless-function-size](https://vercel.com/docs/concepts/limits/overview#serverless-function-size) is the same for all plans, and came due to underlain AWS. In common config proposed by you seems to be more logical compared to one from docs.

[2022-07-28 17:15] PeerRich opened #3572 "REPLY_TO in hello@cal.com emails"
it turns out quite a few people reply to the transactional emails that we send them from hello@cal.com

We need to add the booking owners email to the REPLY_TO field when sending emails about bookings

here's how:
https://stackoverflow.com/a/16194253

[2022-07-28 17:18] PeerRich opened #3573 "help migrate legacy pages/api/ endpoints to tRPC"
https://github.com/calcom/cal.com/tree/main/apps/web/pages/api

@zomars wanna make a list of endpoints?

@zomars EDIT:

- [x] `/api/availability/[user]`
  - [x] GET -> query `viewer.availability.user` done in #3591
- [ ] `/api/availability/calendar`
  - [ ] GET -> query `viewer.selectedCalendars.list`
  - [ ] DELETE -> mutation `viewer.selectedCalendars.delete`
  - [ ] POST -> mutation `viewer.sel

[2022-07-28 17:27] hussamkhatib commented on #3573
Hi, I would like to pick this issue

[2022-07-28 17:43] karstenwinter commented on #3564
Checked spam and unknown

Can you invite me to a test team and check if the system sends a mail?
cal.com/karsten

[2022-07-28 17:44] PeerRich commented on #3573
assigned

[2022-07-28 17:50] sagararyal commented on #3562
@nosovk True the size seems to be same. Then someone needs to reduce the count of serverless functions; which seems to be impossible in this project as there are 1370 serverless functions (mostly language based pages) so the real number is around 40 or so. Vercel limit for hobby plan is 12.
https://vercel.com/docs/concepts/limits/overview#serverless-functions-created-per-deployment
<img width="873

[2022-07-28 19:13] shirazdole opened #3574 "Conditions for Routig Forms"
### Is your proposal related to a problem?

With routing forms, it would be great to add conditions for answers similar to Airtables conditions.

### Describe the solution you'd like

For example, if I answer x on question 7 then show me question 8, all else, show me question 9. It doesn't have to be robust at first, I think a if then else condition by itself would be great to start with.

### Des

[2022-07-28 19:14] shirazdole commented on #3574
cc @hariombalhara for visibility :)

[2022-07-28 19:14] shirazdole commented on #3574
This was also discussed here: https://github.com/calcom/cal.com/discussions/3291

[2022-07-28 19:37] zomars commented on #3573
- [ ] GET: `/api/availability/[user]`
  - [ ] query `viewer.availability.user`
- [ ] `/api/availability/calendar`
  - [ ] GET -> query `viewer.selectedCalendars.list`
  - [ ] DELETE -> mutation `viewer.selectedCalendars.delete`
  - [ ] POST -> mutation `viewer.selectedCalendars.createOrUpdate` OR `viewer.availability.calendar.upsert`
- [ ] `/api/availability/day` (DEPRECATED)
- [ ] `/api/availabil

[2022-07-28 20:11] shirazdole opened #3575 "Team Availability not Pulling Through"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

For the collective links, I’ve noticed some issues around availability not being pulled through. Most recently with this link: https://cal.com/team/cal/sales (I checked the link as well and my availability is not being pulled)

![913d-4270-4df3-816219199b29 (1)](https://user-images.githubusercontent.com/16177678/181628258-b6f2f

[2022-07-28 21:14] shirazdole opened #3577 "Cal.com Status Page for Outages"
### Is your proposal related to a problem?

When there is an outage, we need a better way to communicate to our customers what's happening outside of replying to customer support emails or twitter.

### Describe the solution you'd like

Either a banner at the top of the website or a status page notifying customers that a certain feature is down and being worked on. This gives customers the ability

[2022-07-28 21:14] shirazdole commented on #3577
Flagging for @baileypumfleet @PeerRich and @Jaibles

[2022-07-28 21:19] PeerRich commented on #3577
we used to have a status page--no clue where that went @baileypumfleet ?

[2022-07-28 21:19] PeerRich commented on #3577
no need for design

[2022-07-28 21:23] PeerRich opened #3578 "dark mode badges broke"
most recent update broke the badges for dark mode cc @sean-brydon

![image](https://user-images.githubusercontent.com/8019099/181640001-d4fc447c-a7a1-42c1-82ac-fb12f5a563cc.png)

[2022-07-28 21:24] nosovk commented on #3562
Probably should mention in docs that free vercel is not ok to host cal.com

[2022-07-28 22:01] zomars commented on #3575
- How is your availability set?
- Does this event has a custom selected calendar?
- What availability do you have set as default?
- Do you have any selected calendar?

[2022-07-28 22:26] agustif commented on #3577
In case we don't find the old one. Do we want to use an external FOSS package/app for this?
https://cachethq.io/
https://demo.cachethq.io/

[2022-07-28 22:58] shirazdole opened #3581 "Can't Leave Embed Page"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Could not reproduce, but I was on the embed page, went away from my laptop, re-visited the page and I couldn't leave the embed page unless I refreshed. https://app.birdeatsbug.com/sessions/5b5dB1kfarq9hhv3JPzK5sVx_tTjdF_ApM8xK0b67m6G

### Steps to Reproduce

1. (for example) Went to ...
2. Clicked on...
3. ...

Any other releva

[2022-07-28 23:07] shirazdole opened #3582 "Auto-Connect Calendar"
### Is your proposal related to a problem?

When a calendar is disconnected, users are sent an email for them to reconnect their calendar.
<img width="689" alt="65bc-356b-3153-03fbf301b653" src="https://user-images.githubusercontent.com/16177678/181651588-e9eb6650-89c3-415c-aeee-1e34d1852b92.png">

Users then have to navigate to their cal account, to their integrations, and then reconnect the cale

[2022-07-28 23:08] shirazdole commented on #3582
cc @Jaibles thoughts on this portion: "It would be great to also have a flag notification next to event types that do not have a calendar connected to them. It's hard to know if a calendar is actually connected or not unless you navigate to the advance settings. This feels pretty important as well."

[2022-07-29 07:11] alishaz-polymath opened #3588 "Changing location after a booking is made is buggy"
### Issue Summary

Bug:

1. The integrated calendar event doesn’t show updated location, but the booking in the cal account does
2. It picks up a random (I guess) event from the list (in my case it was a past event) and sends the email with the updated location to the unintended recipients (Potentially critical)

### Steps to Reproduce

1. Create a booking (hopefully with integrated calendar)
2. C

[2022-07-29 07:23] gracebir commented on #3572
means we are going to have a replyTo list of all attendee, right ?

[2022-07-29 07:32] PeerRich commented on #3572
correct! is that possible?

[2022-07-29 07:41] alishaz-polymath opened #3589 "Availability fetching is bugged for CalDAV"
### Issue Summary

So, I found a weird one while trying to debug CalDAV (but I’m not sure if this one is limited to CalDAV or spreads across other integrations as well)

When we book a slot in one of the event types, only that slot within that specific event type is blocked, but other event types still have the slots during that booked time available. Note that the booking was made at the CalDAV c

[2022-07-29 07:45] gracebir commented on #3572
@PeerRich , I just figure it out

[2022-07-29 10:38] alishaz-polymath commented on #3589
Currently, we only look at the event type for bookings to block out the slots for that specific event type, which isn't very useful for blocking out slots on other event types (in the fallback calendar :: no integration). I think we'd need to improve this.

[2022-07-29 11:25] Jaibles commented on #3425
@noobyogi0010 I have designs here for what this screen will look like when the templates are just suggestions:
[View in Figma →](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=13725%3A118180)

To the right you can see what these will look like when they become templates. A lot of things still a work in progress on this screen but this should unblock you for now.

[2022-07-29 12:38] Toledodev opened #3594 "Cursor didn't show pointer when passing the dropdown"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

On preview page when I open the timezones dropdown the cursor doesn't show "pointer"

### Steps to Reproduce

1. Create a new event typr
2. Go to preview
3. Try to change the selected timezone

https://www.loom.com/share/e508412db357439fbf0239c8f064cbea

[2022-07-29 13:07] PeerRich commented on #3594
we're using react-timezone-select here, i think its better to open that issue here: https://github.com/ndom91/react-timezone-select/issues

[2022-07-29 13:07] #3594 closed

[2022-07-29 13:14] Jaibles opened #3595 "Rescheduling an Opt-in booking bypasses opt-in and doesn't add rescheduled event to calendar"
### Issue Summary
An opt-in booking when rescheduled is automatically “accepted“ but doesn’t show up on the calendar (double jeopardy)

### Steps to Reproduce
1. Book an opt-in booking
2. Reschedule it to a different slot (date or time). Note that the rescheduled booking is accepted even if the initial booking wasn’t.
4. Check your calendar for the rescheduled time (not there)
5. The host can also

[2022-07-29 13:16] PeerRich commented on #3595
to clarify: a meeting that "requires confirmation" is an opt-in booking (old name)

<img width="881" alt="CleanShot 2022-07-29 at 15 15 55@2x" src="https://user-images.githubusercontent.com/8019099/181768421-2ff234df-650b-4401-bb33-e4643f6ed18d.png">

[2022-07-29 13:17] PeerRich commented on #3566
why not close it? if possible we can change z-index but this problem would also be solved by just closing the dropdown

[2022-07-29 13:19] PeerRich commented on #3582
in general when an event-type has an issue. we could have a red flag / warning icon with a tool tip that says whats wrong

[2022-07-29 13:21] PeerRich commented on #3581
can reproduce, neither ESC nor clicking outside the dialog closes it @hariombalhara

[2022-07-29 13:21] PeerRich commented on #3577
i love FOSS -- happy to use one and host it at status.cal.dev (in case cal.com is down)

[2022-07-29 13:22] PeerRich commented on #3577
cachethq.io looks good -- @baileypumfleet wanna set this up under status.cal.dev?

[2022-07-29 13:23] hariombalhara commented on #3581
This is known and reported in #3410.
Next.js update is responsible for this, need to figure out a workaround.

[2022-07-29 13:24] PeerRich commented on #3581
other dialogs close tho? 🤔

[2022-07-29 13:24] hariombalhara commented on #3581
Yeah, something weird going on here

[2022-07-29 13:29] PeerRich commented on #3564
@karstenwinter
can confirm working for me, too.

what email service? can you test a gmail account, too?

[2022-07-29 13:33] PeerRich commented on #3577
@baileypumfleet was faster and already set up https://status.cal.com/

[2022-07-29 13:33] #3577 closed

[2022-07-29 14:03] PeerRich opened #3597 "Feature: Demo Zapier integrations"
Zapier has a template editor, we should predefine common zaps and show them somewhere in our product like betteruptime.com and others do:

<img width="1013" alt="CleanShot 2022-07-29 at 16 02 40@2x" src="https://user-images.githubusercontent.com/8019099/181776999-e98cc4af-09b4-4f7c-8a1b-e8d36ccb5bec.png">

## Templates:

- [ ] google sheets (add all events into google sheets as they come in)
- [ ]

[2022-07-29 14:03] PeerRich commented on #3597
@CarinaWolli do you wanna look into this? happy to help brainstorm some templates

[2022-07-29 14:27] leog commented on #3384
Implemented by #3486.

[2022-07-29 14:27] #3384 closed

[2022-07-29 16:52] agustif opened #3600 "[CAL-76] Make app signup page work if calcom license is present"
### Is your proposal related to a problem?
Replace current signup to be dynamic, and detect presence of license and allow signups if EE

[2022-07-29 18:04] CarinaWolli commented on #3597
Looks interesting, I'll take a look. I try to start with some simple ones like 'Send email with gmail when an event is created' or 'Adding an airtable record for created events'. @PeerRich Would be great if you could give some more suggestions on what templates you would think make sense! Or anybody else of course

[2022-07-29 18:35] zeluspudding opened #3601 "Where are you publicly disclosing that the stripe integration collects a fee?"
As mentioned in [Stripe payments fees sometimes are of 100%](https://github.com/calcom/cal.com/issues/2888#issue-1249661991) and shown in [seed-app-store.ts](https://github.com/calcom/cal.com/blob/1be5510c5ea6c17a8ae80b9ece1a2855d9bc23be/packages/prisma/seed-app-store.ts):

[code]
we see that **Cal.com, Inc** is collecting a Stripe Connect fee off of self hosted installations of cal.com installed

[2022-07-29 19:32] zomars commented on #3601
@zeluspudding as you can see on the lines before the ones you posted:

https://github.com/calcom/cal.com/blob/1be5510c5ea6c17a8ae80b9ece1a2855d9bc23be/packages/prisma/seed-app-store.ts#L219-L233

You need to set your own Stripe keys as we don't share our own. And only then, that will be added to your DB App keys. We don't share our Stripe keys for obvious reasons and there's no way as of today tha

[2022-07-29 19:40] Udit-takkar commented on #3554
@PeerRich can i take this one?
And can you send where this component  is ? can't read this language

[2022-07-29 20:32] sairajchouhan commented on #3566
Ya that would be a better approach

[2022-07-29 21:52] sairajchouhan commented on #3566
I guess closing the dropdown is not what we should look for because we are stopping the click propagation at the modal trigger so the menu is not getting closed, even though we clicked the menu item, any feedback on this?

[code]

[2022-07-29 21:57] PeerRich commented on #3566
would need to see this in action, wanna open a PR?

[2022-07-30 06:55] sairajchouhan commented on #3566
Ya sure

[2022-07-30 07:33] noobyogi0010 commented on #3425
@Jaibles Thank you so much for these designs. I will start working on these.
@CarinaWolli how should I decide whether its a suggestion or a template to use directly?

[2022-07-30 07:51] CarinaWolli commented on #3425
I would say, ideally we would implement them all as templates. Looking forward to seeing your results @noobyogi0010 🙌🏻

[2022-07-30 08:23] noobyogi0010 commented on #3425
@CarinaWolli
Okay, I will implement them as templates.
Thank you!

[2022-07-30 08:37] PeerRich commented on #3554
of course! this is the /cancel/ page when cancelling an event

[2022-07-30 08:37] PeerRich commented on #3554
wait, @Jaibles actually has new designs for this

[2022-07-30 08:39] PeerRich commented on #3554
here: https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=13658%3A93949

it says still work in progress, @Jaibles what's missing?

[2022-07-30 10:25] dezerb commented on #3566
There are currently two solution used in project:
1. dropdown with ConfirmationDialogContent, like this place or remove team member

![image](https://user-images.githubusercontent.com/14241061/181906133-0e62c813-81f5-4fa0-bfe0-99af7d37f9e2.png)

2. or separate dialog with trigger button in dropdown like

![image](https://user-images.githubusercontent.com/14241061/181906166-ce6cb009-4979-454c-9f0c-

[2022-07-30 13:10] PeerRich commented on #3566
I don't know which alternative is better. I wonder how the team behind radix-ui is thinking of this (since both components are from radix)

[2022-07-30 14:24] sjcotto commented on #3431
i also can't see the apps

[2022-07-30 14:44] PeerRich commented on #3431
@zomars can you help out?

[2022-07-30 14:49] PeerRich commented on #3597
added some ideas to the original issue

[2022-07-30 14:58] PeerRich commented on #2989
we're also wokring on a native lark app

[2022-07-30 14:59] PeerRich commented on #3563
not yet but could be an interesting app for the app store

[2022-07-30 15:00] PeerRich commented on #3553
we're planning to work on multi-email very soon

[2022-07-30 15:05] PeerRich opened #3610 "Bug: O365 Availability Not Shown in Links (but in troubleshooter) - SELF HOSTED"
### Discussed in https://github.com/calcom/cal.com/discussions/3541

<div type='discussions-op-text'>

<sup>Originally posted by **mzocher-gl** July 27, 2022</sup>
We are enterprise users of cal with a self hosted instance on a virtual Ubuntu 20.04 server (Node v16.16.0, disk has 13gb free)

Since we bumped up to the 1.7.x branch, our booking links are showing full availability, even though the tr

[2022-07-30 15:42] richiemcilroy opened #3611 ""Sign in with SAML" button in /auth/login fires uncaught TypeError"
### Issue Summary

When visiting /auth/login, "Sign in with SAML" appears to throw a console error and nothing happens.  Details of the error and steps to reproduce are below.

### Steps to Reproduce

1. I visited /auth/login
2. I clicked on the "Sign in with SAML" button
3. Nothing happened, checked console logs, below error message is firing:
`login-b0cb968630c7b0c0.js:1 Uncaught (in promise) Ty

[2022-07-30 16:11] agustif commented on #3611
Hello @richiemcilroy, thanks for reporting, just to be sure, this is at cal.com login, or on a self-hosted instance?

[2022-07-30 16:14] richiemcilroy commented on #3611
Hey @agustif! This is on cal.com, apologies, just updated the steps to reproduce.

[2022-07-30 16:19] agustif commented on #3611
Thank you @richiemcilroy , yes I am able to reproduce, looking into it tank you for reporting

[2022-07-30 17:32] noobyogi0010 commented on #3425
@CarinaWolli I'm getting the following error when I am trying to run `yarn dx` command:
[code]

[2022-07-30 17:41] zomars commented on #3431
Can you check if zoom is not your App database model?

[2022-07-30 18:51] zomars commented on #3425
Please try `yarn workspace @calcom/prisma db-reset` and then `yarn dx` again

[2022-07-30 19:01] bhopmann opened #3612 "INTERNAL_SERVER_ERROR when using CalDAV (Radicale)"
### Issue Summary

cal.com throws a server error when trying to use a CalDAV Calendar (via Radicale):

[code]

### Steps to Reproduce

1. set CalDAV calendar
2. try to book an event
3. see error in concole

### Technical details

- Firefox 102.0.1
- Node.js version v14.20.0
- cal.com selfhosted v1.8.3
- CalDAV-Server: Radicale