[2022-04-06 12:14] AshnaSabu123 opened #2398 "Migrate found failed migrations in the target database"
While doing docker-compose up command we are getting the below error. Please have  a check on it and kindly resolve it

@calcom/prisma:db-deploy: migrate found failed migrations in the target database, new migrations will not be applied. Read more about how to resolve migration issues in a production database: https://pris.ly/d/migrate-resolve
@calcom/prisma:db-deploy: The `20210814175645_custom_i

[2022-04-06 13:08] hariombalhara commented on #2316
It detects wrong username if query params are there jn the URL.
We should simple ignore query params and everything after that.
![Screenshot_2022-04-06-18-36-40-951_com.android.chrome.jpg](https://user-images.githubusercontent.com/1780212/161981515-a3b7ec7d-288f-4090-a028-ffc4f257fd9e.jpg)

[2022-04-06 16:10] parkervu opened #2403 "Multilingual-friendly public pages"
Loved the i18n efforts of the community, but some suggestions to make it more friendly for the international crowd?

P/S: current public pages does not link to admin's language preference. For example: my account is set in Vietnamese yet the public booking page is still English by default

1. Language switchers in the bottom, in native language
2. Things related to concept of time (April, May, etc

[2022-04-06 16:21] #2384 closed

[2022-04-06 17:20] #1661 closed

[2022-04-06 18:27] PeerRich opened #2407 "prevent layout shift in /event-types/[id]"
loading spinner of availabilty is causing Layout shift. instead, I would show a disabled input field with text: loading

https://user-images.githubusercontent.com/8019099/162043291-7f392f6b-9670-4828-b787-07c4c0de60ba.mov

[2022-04-06 20:14] a-edwaar commented on #2407
Would love to have a go at this as a first issue! 🙌

[2022-04-06 20:43] PeerRich commented on #2407
@a-edwaar cool go for it

[2022-04-07 02:09] dlemery commented on #2381
I temporarily fixed this by bumping up the machine to 4GB of RAM (or higher) in order to build. 2GB of RAM not enough.

[2022-04-07 04:32] denik1981 opened #2412 "Default schedule is not "always" defined properly"
### Issue Summary

When I was preparing a test suite for the availability page and the schedule creation process a few issues escalate regarding the creation and reassignment of the default schedule.

**Case 1**
When the user onboards and by following the defaults provided in the onboarding flow, the default schedule isn't quite the default. You can clearly note there is a "Default" badge on it bu

[2022-04-07 14:51] miguelnietoa commented on #2328
I still haven't found a way to solve this, can anyone come up with any ideas? 🤔

[2022-04-07 15:04] miguelnietoa commented on #2396
What command are you trying to run?

[2022-04-07 15:33] miguelnietoa commented on #2255
Hello everybody, I would like to collaborate on some E2E bookings tests.
I think you can create an Epic that lists all the possible use cases and work on them, just a comment.

[2022-04-07 15:34] #2327 closed

[2022-04-07 15:34] #2394 closed

[2022-04-07 16:00] miguelnietoa commented on #2136
Hey @shengslogar, why didn't you send a PR? you already have the solution haha

[2022-04-07 16:04] zomars commented on #2391
I don't think that's a desired behavior by default. I can see many use cases where the creator should have control on the calendar event permissions.

[2022-04-07 16:08] zomars opened #2420 "cal.com/apps is blank for unauthed users"
### Issue Summary

Seems like a recent change is prevented the /apps page to be publicly accessible.

### Steps to Reproduce

1. Logout if you're logged in
2. Go to https://cal.com/apps
3. See the blank page

[2022-04-07 16:23] miguelnietoa commented on #1972
I don't think this happens anymore, right? @PeerRich

[2022-04-07 16:34] miguelnietoa commented on #2420
I think it was introduced on this:
- Commit: d340ee62
- PR: https://github.com/calcom/cal.com/pull/2390

[2022-04-07 16:41] miguelnietoa commented on #2420
This is why this issue is happening, when the user is not authenticated the session is not defined, so it is returning null and we see a blank page.

https://github.com/calcom/cal.com/blob/fefc314d35d4b35c615e126df3ba8d7f3c0e897b/apps/web/components/Shell.tsx#L209-L211

[2022-04-07 18:22] #1459 closed

[2022-04-07 20:42] bttger opened #2426 "Unconfirmed bookings for opt-in meetings in the past lead to endless "Awaiting Approval" emails"
### Issue Summary

Someone requested a booking for an opt-in meeting (see advanced meeting options). I did not respond in time and the meeting is now within the "past" tab - thus I can't confirm/decline it (it still shows the yellow "unconfirmed" chip). I still get endless "Awaiting Approval" emails for this meeting.

### Steps to Reproduce

1. Create opt-in=true meeting
2. Request a booking
3. Do

[2022-04-08 02:34] dev-eth opened #2428 "Need to update README.md"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

- At the Manual setup section’s 3rd item, **schema.prisma** path is wrong.

`apps/web/prisma/schema.prisma` should be` packages/prisma/schema.prisma`.

- At the Setup section’s 3rd item, `cp apps/web/.env.example apps/web/.env` -> .env.example file does not exist in this path.
`cp apps/web/.env.example apps/web/.env` should be

[2022-04-08 06:15] bhopmann opened #2429 "Microsoft Exchange Server 2010: Couldn't retrieve message"
### Issue Summary

When using an email adress, which runs on Microsoft Exchange Server 2010 (connected via smtp/imap), I always get these errors via email when scheduling or rescheduling:

[code]

This probably seems to be a problem with the `event.ics` attached.

### Steps to Reproduce

1. Set an email adress in backend (Settings), that runs on Microsoft Exchange Server 2010
2. Schedul a meeting

[2022-04-08 07:57] bhopmann opened #2431 "Zoom link missing when rescheduled from In-person meeting to zoom video"
### Issue Summary

When rescheduling an event and changing from In-person meeting to zoom video, the zoom link is missing in the notification email:

<img width="403" alt="Bildschirmfoto 2022-04-08 um 09 48 36" src="https://user-images.githubusercontent.com/2770597/162390193-551e9d18-cfd3-48e7-9d74-82ea829b44b2.png">

### Steps to Reproduce

1. Set an event type with location options In-person mee

[2022-04-08 08:48] milospuac commented on #2431
Thanks for reaching out. Our team will have a look into this issue

[2022-04-08 08:49] milospuac commented on #2429
Hey Benedikt. Thanks for reporting this, one of our engineers will look into the issue.

[2022-04-08 08:50] milospuac commented on #2428
Thanks for reporting this. Our team will have look into this

[2022-04-08 08:51] milospuac commented on #2426
Hi Tom. Thanks for reporting this. Our team will address this issue

[2022-04-08 08:56] dev-eth commented on #2428
Ok.

[2022-04-08 09:02] dev-eth commented on #2428
In the README.md, we also need to mention about node version so the contributors can set up the correct one.

`The engine "node" is incompatible with this module. Expected version ">=14.x <15".`

[2022-04-08 11:14] adriaanvanrossum commented on #1972
It still happens:

<img width="340" alt="image" src="https://user-images.githubusercontent.com/1079135/162425013-8e61ede9-9f7f-4a18-84f8-f4b20711228d.png">

(this is the app.cal.com version of today)

[2022-04-08 11:25] adriaanvanrossum commented on #2396
`npm run build`

[2022-04-08 13:58] miguelnietoa commented on #2396
Hmm, everything works fine from my local. Try to execute the commands with `yarn`: `yarn run build` 🤔

[2022-04-08 14:05] milospuac commented on #2412
Thanks for contributing, Demian!

[2022-04-08 14:06] milospuac commented on #2403
Thanks for reaching out. Our team will look into your suggestion

[2022-04-08 14:10] miguelnietoa commented on #1972
Does the picture come from any integration?

[2022-04-08 14:27] milospuac opened #2434 "[CAL-2181] Canceled and rescheduled events not updated in Google Calendar"
After a few test bookings I made and canceled yesterday, I noticed today that these events are still in my Google Calendar

<img width="496" alt="Screen Shot 2022-04-08 at 13 03 22" src="https://user-images.githubusercontent.com/97884287/162452872-6ad550c3-4406-4798-8a92-0ee4f9f4867f.png">
<img width="454" alt="Screen Shot 2022-04-08 at 13 11 40" src="https://user-images.githubusercontent.com/9788

[2022-04-08 14:35] adriaanvanrossum commented on #1972
What do you mean? It's an event created by cal.com which gets added to my calendar automatically. We use mailbox.org as our CalDAV provider.

[2022-04-08 14:36] adriaanvanrossum commented on #2396
I gave up. Sorry.

[2022-04-08 14:43] miguelnietoa commented on #1972
Ok, it is from a CalDav Server. 👍🏻
I was asking because I tried it out on Google Calendar and the additional notes are shown properly.
So let's wait for a core team member to solve this.

[2022-04-08 16:04] miguelnietoa opened #2435 "Documentation has old integrations URL"
### Issue Summary

Some links on the Documentation site have old integrations URLs.

### Steps to Reproduce

1. Go to https://docs.cal.com/integrations/introduction
2. Click on the links
![image](https://user-images.githubusercontent.com/39246879/162479712-324f695f-36c7-4b80-bd9a-3d95646f5d35.png)

3. `app.cal.com/integrations` does not exist
![image](https://user-images.githubusercontent.com/3924

[2022-04-08 18:45] afzalsayed96 commented on #2420
oops

[2022-04-09 10:01] PeerRich commented on #2435
fixed! thanks

[2022-04-09 10:07] PeerRich opened #2438 "[CAL-895] Insert meeting times into email"
### Discussed in https://github.com/calcom/cal.com/discussions/973

<div type='discussions-op-text'>

<sup>Originally posted by **cherie-yang** October 16, 2021</sup>
**Feature suggestion: Insert suggested meeting times directly into email**

Sometimes, sending a link just doesn't cut it, and it's really handy to allow guests to see times and click directly to schedule from their email.

![image](

[2022-04-09 10:08] PeerRich opened #2439 "Add webhook examples or native integration with n8n.io"
### Discussed in https://github.com/calcom/cal.com/discussions/926

<div type='discussions-op-text'>

<sup>Originally posted by **ianhyzy** October 12, 2021</sup>
I'm muddling through this on my own, but I think it would be super helpful for someone with more knowledge than me to provide examples of using Webhooks with n8n (cal.com is to Calendly as Zapier is to n8n). I have a basic flow here usin

[2022-04-09 10:08] PeerRich opened #2440 "Add option to remove additional notes box"
### Discussed in https://github.com/calcom/cal.com/discussions/924

<div type='discussions-op-text'>

<sup>Originally posted by **ianhyzy** October 12, 2021</sup>
I prefer to write my own version of the additional notes box, and would like to remove it, or at least have the option to edit it on a per meeting type basis. </div>

[2022-04-09 14:51] evolverine commented on #2308
I did the same, and I'm getting something similar: `Error: Input required and not supplied: token` in the `Submodule Sync` action.

[2022-04-09 15:25] miguelnietoa commented on #2435
Hey @PeerRich , there are still other sections of the documentation that have the old integrations URL. I will submit a PR.

[2022-04-09 17:16] Dueen commented on #2328
Taking a guess here: But, this might have to do with the use of [RemoveScroll](https://www.npmjs.com/package/react-remove-scroll) in [radix-ui's DialogOverlay](https://github.com/radix-ui/primitives/blob/main/packages/react/dialog/src/Dialog.tsx#L208) or the implementation in [Menu (used by the DropDown Primitive)](https://github.com/radix-ui/primitives/blob/main/packages/react/menu/src/Menu.tsx#L

[2022-04-09 17:31] PeerRich opened #2442 "Require password to book an event"
### Discussed in https://github.com/calcom/cal.com/discussions/778

<div type='discussions-op-text'>

<sup>Originally posted by **jordanhart** September 25, 2021</sup>
Feature idea:

As an event option in creating an event, have an optional password that can be required to successfully book an event. This would be useful for invite only events. </div>

[2022-04-09 17:32] PeerRich opened #2443 "Document current {USER} token & offer some additional?"
<div type='discussions-op-text'>

<sup>Originally posted by **timfee** September 22, 2021</sup>
I saw that the default title for an event was `Meeting with {USER}` but from that, I wasn't sure if `{USER}` would be replaced with my name, with the attendee name, etc.

The [code](https://github.com/calendso/calendso/blob/main/lib/event.ts) suggests that `{USER}` is the attendee:
[code]

1. It might b

[2022-04-09 17:39] PeerRich opened #2444 "Find free time across days using queries"
<div type='discussions-op-text'>

<sup>Originally posted by **kameelyan** May 24, 2021</sup>
Imagine 2 people who's calendars are SWAMPED with meetings constantly. Imagine these 2 people are on different time zones. I find a poor UX when I have to click day by day and see if there's 15 minutes in a small window on that day. So I propose to introduce a feature that let's the user think about bookin

[2022-04-09 17:54] PeerRich commented on #2328
that would be great @Dueen, thank you!

[2022-04-09 17:55] PeerRich commented on #2403
hey @Jaibles @baileypumfleet  thoughts on this? pretty good idea in my opinion

[2022-04-09 17:57] PeerRich commented on #2221
@hariombalhara only the script generator missing, right?
<img width="714" alt="image" src="https://user-images.githubusercontent.com/8019099/162585959-64bd5a06-3888-433f-a636-a2d02e0bdd12.png">

[2022-04-09 17:57] #240 closed

[2022-04-09 17:57] #364 closed

[2022-04-09 17:58] #408 closed

[2022-04-09 17:58] PeerRich commented on #519
@zomars is this still happening?

[2022-04-09 17:58] #937 closed

[2022-04-09 18:00] PeerRich commented on #837
i believe this was fixed. happy to reopen

[2022-04-09 18:00] #837 closed

[2022-04-09 18:08] PeerRich commented on #1462
@joeauyeung what's missing for this to be closed?

[2022-04-09 19:23] PeerRich opened #2447 "Reclaim.ai"

[2022-04-09 19:28] PeerRich opened #2448 "getclockwise.com app"

[2022-04-09 19:31] PeerRich commented on #2448
if there is no API we could also ship this as a native app

[2022-04-09 19:31] PeerRich commented on #2447
if there is no API we could also ship this as a native app

[2022-04-09 19:31] PeerRich opened #2449 "donut.com App"
if there is no API we could also ship this as a native app

[2022-04-09 19:33] PeerRich opened #2450 "Weather App"
- show the weather of the day (https://www.producthunt.com/posts/weather-in-your-calendar)
- add the weather of in-person events (based on address)
- auto-schedule going for a walk one a sunny day

[2022-04-09 20:27] emrysal opened #2451 "Select drop down in invite dialog & role change is invalid style"
### Issue Summary

![image (4)](https://user-images.githubusercontent.com/1046695/162590570-17319ee9-efd7-40ed-baf6-6734170fdd78.png)

[2022-04-09 23:26] zomars commented on #519
Not sure. Will retest on Monday and update accordingly

[2022-04-10 02:02] emrysal commented on #519
@zomars Just tested this; it's fixed (there was another bug I discovered whilst testing which is probably fixed by the time you read this @ https://github.com/calcom/cal.com/pull/2454)

[2022-04-10 02:02] #519 closed

[2022-04-10 02:13] hariombalhara commented on #2221
Majorly, yes, if we leave the embed for authenticated pages.
Here is a list of things to be done.
https://github.com/calcom/cal.com/tree/main/packages/embeds/embed-core#known-bugs-and-upcoming-improvements

[2022-04-11 04:46] superseby2 opened #2457 "Availability not updated when there is no calendar integration"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When a user has no calendar integration, his/her availability slots are no corresponding to what's really available

### Steps to Reproduce

1. a regular user with 1 event Type and availabilities going from 9am to 5pm every day
2. create an event at 9:00AM using his/her booking page
3. re-open the booking page
4. the 9:00am slo

[2022-04-11 05:16] hariombalhara opened #2458 "RFC: Embedded authenticated pages like bookings management, event-types management, availability configuration"
Currently embed is meant to allow a visitor to a user's website to book a meeting with the person or his/her team. More info on this [here](https://docs.cal.com/integrations/embed)

If we can support other pages, which are behind login, it can open possibilities for users to show "upcoming bookings", "availability" and other functionalities on their website itself.

  - First of all we need more u

[2022-04-11 09:09] milospuac commented on #2457
Hi there! at this point in time, we do not yet check our own events for conflicts (intended to be added by the virtual calendar). This feature is currently being built, and until then, calendar integration is pretty much mandatory.

Thanks for reaching out

[2022-04-11 09:09] #2457 closed

[2022-04-11 13:18] joeauyeung commented on #1462
The callback URL just needs to be added on Azure and then we're good to go.

[2022-04-11 14:21] #2420 closed

[2022-04-11 18:18] barrenreaction278 opened #2463 "Event Type Preview Link Not correct + Does CalDav Server support nextcloud Calendar?"
Self Hosted Cal Ubuntu

### Issue Summary

A summary of the issue. This needs to be a clear detailed-rich summary.

### Steps to Reproduce

1. Went to Event Types the preview link is giving `https://example.com/undefined/example/15min` however when going to such link gettting 404 error the real link to scheduling is `https://example.com/example/15min `without the undefined how do I remove this fix

[2022-04-11 22:54] juliansg022 commented on #2438
Hey @PeerRich, I want to work on this issue. Could you assign it to me, please?

[2022-04-12 03:34] zeluspudding commented on #2389
Same here - would love to see a workaround :)

[2022-04-12 07:39] hariombalhara opened #2467 "Visible Multiple renders on team booking page"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

See this https://app.birdeatsbug.com/workspaces/62c323a9-51c4-4184-84ab-72dd1c5f8def/sessions/jSL7NHZCT5xWX7X3foPRHZnTUKa8c6Fn0iLiY5zoHy1V

### Steps to Reproduce

1. Go to https://cal.com/team/krause-house-agents/1-on-1-with-a-kh-agent
2. Observe that the dates and profile pictures re-render twice on
3. ...

Any other relevant

[2022-04-12 10:30] starpunjabi opened #2469 "Slack app, how to share event type with users"
/craete-event is working but /links is not working
How can we share event types with slack users from slack app?

I can't find any documentation as well for this.

[2022-04-12 10:53] starpunjabi opened #2470 "There is lot of hardcoding links in application"
Can you please move lot of hardcoding links/urls etc. in env or some constant file.
Everytime we pulled the code, we need to compare code and update our code very carefully as we have custom logo, custom web url, custom header footer link that point to home page of our application, but it is very time consuming process  when we pull new features.
adding constants to contant file and then updating

[2022-04-12 13:27] miguelnietoa commented on #2450
Hey there, how can I contribute to this? Could you explain a little bit more, please?

[2022-04-12 14:24] andreaestefania12 commented on #2009
Hi, I would like to contribute to this issue. Could you assign it to me, please?

[2022-04-12 14:48] andreaestefania12 commented on #1586
Hi, I would like to contribute to this issue. Could you assign it to me, please?

[2022-04-12 14:56] andreaestefania12 commented on #2431
Hi, I would like to contribute to this issue. Could you assign it to me, please?

[2022-04-12 16:33] zacchiro commented on #2240
I'm seeing this issue in reverse: a full day event marked as free (not busy) which inhibits booking any slot during that day.
This is with cal.com hosting and a self-hosted up-to-date nextcloud.
Should I file this as a separate issue?

(FWIW this is my main blocker for embracing cal.com fully. A confirmation that this is supposed to work would be helpful.)

[2022-04-12 18:07] zeluspudding commented on #1160
Should be reopened as inability to set  `NEXT_PUBLIC_LICENSE_CONSENT` and `BASE_URL` via env variables are still an issue on Heroku's one click deploys.

[2022-04-12 20:42] PeerRich opened #2473 "Giphy App"
select a gif in event types that'll be shown on the success page

[2022-04-12 21:24] PeerRich opened #2474 "replace loading spinner with skeleton"
https://www.npmjs.com/package/react-loading-skeleton is probably one of the best options?

[2022-04-13 07:14] alishaz-polymath opened #2477 "Event Cancelled/Rescheduled By"
### Is your proposal related to a problem?

Currently, we don't provide any details about who cancelled the event. It is obvious for single user event types as it is either the organizer or the booker who cancels it, and both parties are aware. However, when we talk about collective events (Dynamic or Team), it would be nice to know who cancelled/rescheduled the event.

(Write your answer here.)

[2022-04-13 10:31] bhopmann commented on #2431
This sounds good @andreaestefania12
If I understand it correctly @milospuac would have to make the assignment (I do not have the permissions to do this).

[2022-04-13 17:30] zomars commented on #2458
The use case you described feels more like something more suited for the almost ready Public API #1997 Logged in embed feels like overkill in this case. If really needed we could attach and API key to the embed to allow embedding private data.

[2022-04-13 19:24] EclipseKnight opened #2480 "Forgot Password Connection timeout"
### Issue Summary

[code]

### Steps to Reproduce
Simply trying the forgot password option threw this error.

[2022-04-13 21:39] zomars commented on #2474
Or just [use tailwind](https://tailwindcss.com/docs/animation#pulse)

[2022-04-13 21:55] zomars opened #2481 "Rescheduling a paid bookings shouldn't ask to repay"
I tried to reschedule a paid booking and is asking me to pay again. Is this the intended behavior? cc @alannnc @Jaibles @PeerRich

![image](https://user-images.githubusercontent.com/3504472/163276646-07d8254c-062a-4e7c-b672-e62f2272f8a4.png)

_Originally posted by @zomars in https://github.com/calcom/cal.com/issues/2351#issuecomment-1098523101_

[2022-04-13 23:42] harish-kamath opened #2482 "Bug when checking availability and switching time zones"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When trying to book an event, if I switch the time zone before clicking a specific date, then the proposed times do not update to the correct time zone.

### Steps to Reproduce

1. Go to any cal.com invite link.
2. Select a time zone different from the default _before_ selecting a date.
3. Select a date.

Notice that the propos

[2022-04-14 14:58] #2451 closed

[2022-04-14 18:37] dsinghvi commented on #1594
Will you be SDKs in other languages (java/python)? Or will there be a detailed api spec so that we can write community managed ones?

[2022-04-14 20:48] Dueen commented on #2328
The issue is currently being worked on by Radix-UI radix-ui/primitives#1241

I'm assuming it's better to wait for them to close this issue and then bump the radix components

[2022-04-14 21:25] #2228 closed

[2022-04-15 04:31] hariombalhara opened #2497 ""Back to Bookings" doesn't work if cancellation page is opened directly."
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Cancellation link can be opened directly as it is shared in Google Calendar. "Back to Bookings" button doesn't work in that case.

### Steps to Reproduce

1. Go to Bookings Page
2. Choose a booking to cancel
3. Copy cancellation link and open in new tab
4. Notice that "Back to Bookings" doesn't work

Any other relevant informat

[2022-04-15 07:23] PeerRich commented on #2474
oh nice! sounds good to me. lets make our own `<Skeleton>` component without a new lib

[2022-04-15 08:37] milospuac commented on #2482
Thanks for reaching out. Our team will have a look into this

[2022-04-15 08:37] milospuac commented on #2480
Hi there. Thanks for contacting us. Our team will look into this

[2022-04-15 08:38] milospuac commented on #2470
Hi there. Thanks for reaching out. Our team will look into this

[2022-04-15 10:27] milospuac commented on #2469
Hi there. We are currently doing some work on /links command. Once it's done our documentation will be updated as well

Thank you for your patience.

[2022-04-15 12:38] buschco commented on #2482
I created a PR targeting this issue

-> https://github.com/calcom/cal.com/pull/2506

[2022-04-15 14:26] milospuac commented on #2443
The only problem would be that the same title appears in the attendee's calendar.

For example, if your title for an event is `Meeting with {USER}`,  and I booked a meeting with you, In your calendar it would say `Meeting with Milos`, but the same title would appear in my calendar. Like I have a meeting with myself.  So you gotta be careful how you structure your variable.

[2022-04-15 15:21] EclipseKnight commented on #2480
Hi I've actually figured out what the likely issue was with this. I forgot that we were using saml and it likely was not able to do forgot password due to how the Azure tenant is configured. However, this error does occur still when doing regular bookings as well.
[code]

Lets say organizer@email.com has an event-type link for attendee@email.com to use to schedule a meeting.
Steps:
1. Attendee goe

[2022-04-15 15:31] EclipseKnight opened #2510 "No html in sent and received emails. Unable to find where email string is being created."
### Issue Summary

Emails being sent (while utilizing teams integration event-type, unsure of others) have no html formatting in the received and sent emails.

### Steps to Reproduce

1. booking, rescheduling, or any of the other email templates under the path apps>web>lib>emails>templates don't produce any html in the emails despite there visibly being html in the getTextBody() functions.

### Te

[2022-04-15 16:16] YassinEldeeb opened #2511 "Feature Request: more OAuth options"
### Describe the solution you'd like

Adding one or two of the following OAuth providers as OAuth options to the login page.

- `Github`
- `Twitter`
- `LinkedIn`

[2022-04-15 17:42] YassinEldeeb commented on #2511
I'm willing to contribute adding this.

[2022-04-15 20:48] sean-brydon commented on #2510
Hey @EclipseKnight are you able to provide a demo of what your emails are looking like? On our end they look like this when they are sent
![CleanShot 2022-04-15 at 21 47 32](https://user-images.githubusercontent.com/55134778/163630562-4ea72ec3-e395-4f9c-aacd-47c2eca7b719.png)

[2022-04-15 20:52] sean-brydon commented on #2469
For the /links command the Cal.com Bot has to have access to the workspace/channel you are talking in.

We are currently looking to make this more obvious/easy for the user when it comes to adding the bot to channels.

[2022-04-15 21:31] sean-brydon commented on #2246
Closing - Merged

[2022-04-15 21:31] #2246 closed

[2022-04-15 21:41] marvinvonhagen opened #2519 "Location of in-person meeting not visible before booking"
### Issue Summary

Location of in-person meeting not visible before booking

### Steps to Reproduce

1. Select a time for a meeting, e.g., at https://cal.com/marvin/coffee
2. Continue until you have the option to decide between "Zoom Video" and "In-person meeting"
3. Since you can't see where the in-person meeting is supposed to take place, no one will actually choose this option

→ It should be o

[2022-04-16 00:11] YassinEldeeb opened #2521 "Bug: Google OAuth login doesn't always work"
### Issue Summary

Google OAuth isn't working anymore, I've used it like 6h ago and It was working perfectly fine, but now It shows this error:

![Screenshot 2022-04-16 015949](https://user-images.githubusercontent.com/72823042/163653796-cf5c4b7f-18fc-4fa8-bcce-8dc0db416eee.png)

### Steps to Reproduce

1. Go to https://cal.com/auth/login
2. Clicked on `Sign in with Google`

### Technical details

[2022-04-16 00:12] YassinEldeeb commented on #2521
Wow, after trying it again after writing the issue, It works, super weird.

[2022-04-16 00:19] #2521 closed

[2022-04-16 02:23] #1547 closed

[2022-04-16 02:58] #1997 closed

[2022-04-16 03:52] zomars commented on #2474
Sneak peak from the admin console:

https://user-images.githubusercontent.com/3504472/163660425-d187da06-dd73-4663-80fc-2f48a97a217b.mov

[2022-04-16 06:06] PeerRich commented on #2474
love it!!

[2022-04-16 07:50] andreasklinger opened #2526 "Input field only one digit"
### Issue Summary

The input field for "Invitees can schedule" is only 1 digit wide

### Steps to Reproduce

![](https://p195.p4.n0.cdn.getcloudapp.com/items/bLuKZJ1y/d6c962e4-c7d1-426a-9d5c-a5227835695d.jpg?source=viewer&v=37a6933f127224c2a42cef23ad91821a)

This number is 12

### Technical details

Browser Brave
Release Notes V1.37.116 (Apr 14, 2022)

[2022-04-16 07:52] PeerRich commented on #2526
thanks!

[2022-04-16 07:52] PeerRich commented on #2526
@alishaz-polymath or @sean-brydon can pick this up

[2022-04-16 09:57] kof opened #2527 "Changing an email after signing in with google causes a bit of a mess"
### Issue Summary

I used google sign-in to create an account and connected zoom with it. Then I changed the email in the settings.

After I did that, I couldn't disconnect zoom anymore, it would say it has successfully disconnected, but would still show it under installed apps.

[2022-04-16 09:59] kof commented on #2527
Now I logged out and logged in again, my email went back to the original one I used initially with google sign in

[2022-04-16 10:04] kof commented on #2527
Now I tried to change the email again, then logged out and tried to use google sign-in with the new email and got this error
<img width="494" alt="Screenshot 2022-04-16 at 11 03 46" src="https://user-images.githubusercontent.com/52824/163670827-a709b6e8-1e2f-4281-960b-0955fb6dd2c5.png">

[2022-04-16 10:05] kof commented on #2527
Then I went back to login and used original google login I used to sign up - it worked and settings now show again the original email.

[2022-04-16 10:16] PeerRich opened #2528 "order of past and cancelled bookings is wrong"
in /bookings the past and cancelled events are not ordered by "most recent" to the top

[2022-04-16 10:20] kof commented on #2527
It seems that the problem with changing email in settings is that its only changing the email signature that is used in confirmation emails, but doesn't actually change my sign-in, maybe that's intentional?

In any case, my issue has diverged from disconnecting zoom to changing email, those are 2 separate issues.

[2022-04-16 11:11] saschafoerster commented on #956
I am using Kerio Connect as a CalDAV source and I get the following error: "invalid ical body. component began but did not end"
I am not shure, if this is a bug of Kerio, tsdav or cal.com, but I am ready to find out and help (just I don't know exactly how to find the right information). All I could find is this log-file:

[code]

[2022-04-16 11:30] saschafoerster commented on #1847
As a workaround: aI manually change it in this file. When updating you have to a "git stash" and "git stash pop" like this to keep it working:
[code]

](https://github.com/calcom/cal.com/blob/f536d1040c2544fbfbdca3be0d27e499db81148a/packages/app-store/jitsivideo/lib/VideoApiAdapter.ts#L17)

I am also looking forward to use any selfhosted Jitsi installation. Isn't selfhosting the main reason, why w

[2022-04-16 11:34] saschafoerster commented on #1847
@philippdormann I saw that you developed the Jitsi integration, which is really great. Maybe as a little easter-gift, it would be really nice, if you have time, to add a variable field, which allows to use selfhosted-jitsi-installations as well! I am just able to change existing code in small amounts, but not really able to add this feature.

[2022-04-16 11:35] saschafoerster commented on #1985
I can just add a +1 and a link to the documentation of the API in the hope of someone picking it up: https://docs.bigbluebutton.org/dev/api.html

[2022-04-16 11:40] saschafoerster commented on #83
@compgeniuses Why do you think, this will not be added? Maybe just someone from the community needs to add some pull request? Or is it documented? Maybe LDAP could also be a nice (paid) plugin?

[2022-04-16 11:46] saschafoerster commented on #2439
I would also love to see a deep integration of Cal.com into N8N in two directions:
- Cal.com Trigger: Someone creates or moves an event in cal.com, which then creates a trigger in N8N
- Some other integration of N8N can use the API of Cal.com to see if appointments are possible, and if booked, Sents the confirmation link? (I hope this makes sense?)

Calend.ly has already some integration in N8n: h

[2022-04-16 11:51] #2528 closed

[2022-04-16 12:43] sean-brydon commented on #1544
Slack App is merged - Anything else should be picked up in specific Issues.

[2022-04-16 12:43] #1544 closed

[2022-04-16 12:55] compgeniuses commented on #83
Hello @saschafoerster i was informed that in the next release, and also as per the milestons there is going to be a user dashboard built into the solution.

The reason why i thought and felt this is because.
for one, the initial release of the software did not feature an interface for user creation and management. and when they released SSO and LDAP functionality, this was only available in the Ho

[2022-04-16 13:37] compgeniuses commented on #1594
Congratulation on releasing the new API, and the Series A funding.

I see that the Dashboard missed the Launch window. Hopping its available in the next release.
Cool stuff seeing youre building Cacom to be the Defactor Platform for calendar and Appointment booking. this will surely drive growth onto the platform.

Also, consider adding more Integration with Opensource Products, Like, Matrix/eleme

[2022-04-16 13:59] wivaku opened #2531 "issue installing v1.5: yarn dev fails (because yarnpkg @calcom/app-store is not available?)"
Following [instructions to install](https://docs.cal.com/self-hosting/install) v1.5 locally.

- using `yarn set version stable`, which sets it to 3.2.0
- using node v17.9.0
- for step 4 of the setup instructions ("install packages with yarn") I used `yarn install` (just `yarn` did not work)
- step 3 of the "manual setup" instructions (DB deploy) works as expected: `yarn workspace @calcom/prisma db

[2022-04-16 14:20] agustif commented on #2531
I think the problem here is you need to use turborepo to install everything from the monorepo.

When you run install from web workspace directly, probably the rest of the scoped packages in the monorepo (all the @calcom/*) are not available to your web package if you don't install the rest of the monorepo?

I'd try running yarn install in the root monorepo, and then running any of the workspaces b

[2022-04-16 14:26] wivaku commented on #2531
That was quick, thanks.
With "running yarn install in the root monorepo" do you mean this?
`cd node_modules/@calcom && yarn install`

That works, but the `yarn dev` afterwards (in root folder) fails same as before.

FYI similar when using node v14.19.1
- step 4 ("install packages with yarn"): `yarn` works (no `yarn install` needed)
- step 4 ("manual setup"):`yarn dev` fails same as before

[2022-04-16 14:46] agustif commented on #1594
The api spec is here: https://docs.cal.com/api
Currently a WIP, will be improving it during the weekend and following week. Working on having an alpha release soon so you can all start testing and calling the API.

I think swagger-ui will let us auto-generate snippets for each operation in different languages, but for now we'll focus on JS/TS as it's our main language on the whole monorepo.

I'm r

[2022-04-16 15:56] wivaku commented on #2531
I may be doing this completely wrong, but I tried: `yarn turbo run build`

Which complains about: `@calcom/embed-core@workspace` missing from lockfile, I ran`yarn workspace @calcom/embed-core install` and tried `yarn turbo run build` again.

Then it complained about `@calcom/swagger@workspace`, I ran `yarn workspace @calcom/swagger install` and tried `yarn turbo run build` again.

Then it complain

[2022-04-16 20:49] sean-brydon opened #2532 "Mobile booking layout is broken"
![1760F646-20D7-48EA-A92A-08A1098C7FAE](https://user-images.githubusercontent.com/55134778/163690929-9803f4d5-4285-4e33-95f9-e4fea88f6fb8.png)

[2022-04-16 20:56] kof commented on #2527
Here is a complete picture of what has happened originally and how I fixed it:

1. I signed up with google sso using email A
2. I renamed my email from settings to email B
3. I tried to add Zoom connection, it worked, but was not adding a link to zoom channel, but instead just writing "Zoom" instead of a link

Fix

1. I logged out and logged in again from the original A account using google sso
2.

[2022-04-17 02:23] leog commented on #2180
Just to be clear, inferring from information in the ticket, screenshots and chats with you @PeerRich:
1. having an option to have an event type be recurring and provide a number input for `n` occurrences will set how many times an event when booked is going to be repeated
2. when someone selects any day and time, that will be the repeated day and time each week for `n` times into the future
 - Sho

[2022-04-17 08:17] PeerRich commented on #2180
yes, example: 16

yes, explicit "how many times?"

this could be a check box. some people want infinite recursion, some people want to sell "16 events with me"

[2022-04-17 11:25] #2532 closed

[2022-04-17 12:15] starpunjabi commented on #2469
In cal.com application, we are creating event types and sharing url with our friends so they can get privilege to choose their date and time for meeting. But when using in slack, How to share event type with slack users, so they can choose their day and time stam, like how we are sharing in cal.com application.
I tested it for calendly and calendly has a command to share event type with slack user

[2022-04-17 12:17] sean-brydon commented on #2469
So from what I’ve gathered - you have already created the booking and would like to share that with members of slack?

[2022-04-17 20:19] haccg commented on #624
Tried it with Synlogy CalDav-Server.

Works ONLY with the primary calendar.
All other calendars are not working with the collision check.

If you could fix this, it would be very good.

[2022-04-18 04:21] hariombalhara opened #2537 "Wrong subject for Reschedule email"
<img width="1450" alt="Screenshot 2022-04-18 at 9 50 26 AM" src="https://user-images.githubusercontent.com/1780212/163753857-3fc22f78-24e4-4bc3-9e75-4c86f3a05e88.png">

Steps:
1. Schedule a booking for today with organizer@example.com using email example@example.com
2. Login as organizer and Wipe Today
3. See that the email received by example@example.com has the grammatical mistake.

[2022-04-18 07:35] esprush opened #2538 "Feature Request : more Productive/Efficient time slots"
Kudos for the great product.

### Is your proposal related to a problem?

I have a feature request where the efficiency of time slots generated for a day can be better.
consider below case:
1. User has two event types 15 min and 30 min with working day as 9-6.
2. Invitee 1 books a 15 min slot at 9:00
3. Invitee 2 books another 15 min slot at 9:45
4. when invitee 3 tries to book a 30 min slot, the

[2022-04-18 09:43] sean-brydon opened #2539 "RFC: User Impersonation"
User Impersonation is in a lot of SaaS applications and is mainly used in support cases. However, there are a lot of other cases where this is useful too - A busy enterprise team would like the application configured to their needs.
How this could work?

    Add a new ROLE field to the user model - I'm sure when the Admin Dashboard is created this would be a feature anyway
    Create an admin spec

[2022-04-18 10:37] Graviis commented on #2407
hi @PeerRich i have the fix for this #2475

[2022-04-18 12:48] EclipseKnight commented on #2510
Here is from the sent mailbox (excuse the outlook darkmode).

![image](https://user-images.githubusercontent.com/32472185/163809333-8b68c254-7698-4b51-b608-c256720975ef.png)

checking the email's source:
[code]

[2022-04-18 14:41] starpunjabi commented on #2469
![image](https://user-images.githubusercontent.com/20169304/163824554-585f793c-3a5e-4176-ba29-99e9cff4d0b5.png)

[2022-04-18 14:47] starpunjabi commented on #2469
![image](https://user-images.githubusercontent.com/20169304/163825514-f500e474-0a82-4a27-bb1b-c2e9481e330e.png)

[2022-04-18 14:51] sean-brydon commented on #2469
This feature is implemented within the /links command. Note: The Cal.com Bot needs to be added to the workspace and have permission to talk in the channel. If you are self hosting you can add "chat:write.public" to the bot permissions to allow it to talk in any channel within the workspace.

[2022-04-18 14:55] sean-brydon commented on #2510
Are you self hosting or using Cal.com ?

[2022-04-18 16:14] EclipseKnight commented on #2510
Self hosted

[2022-04-18 16:33] JoeyFenny opened #2540 "Field validation"
### Feature Request

### Is your proposal related to a problem?
No

### Describe the solution you'd like
Say I have a question on an event type. That question I want people to paste a URL. Right now I can use a text input field but there is no validation. They can type something in there that is not a URL.

### Describe your proposed solution here.
Allow people to set validation rules whether via

[2022-04-18 16:37] JoeyFenny opened #2541 "Navigating screens is delayed by 1-2 seconds"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

A summary of the issue. This needs to be a clear detailed-rich summary.

### Steps to Reproduce

1) Deploy to Heroku (Hobby Dyno - $7/month - no sleeping for inactivity)
2) Create user, event type, etc then pretend to book a call on the calendar you've just created
- Click on an event type
- Click on a timeslot availability

No

[2022-04-18 16:47] JoeyFenny opened #2542 "Allow users to paste header code snippets"
### Feature Request

### Is your proposal related to a problem?

No

### Describe the solution you'd like

Allow us to paste code snippets into the document head. E.g. analytics tracking tag to see how many users are visiting the site.

### Describe alternatives you've considered

Using Cloudflare for analytics but this would be significantly less detailed than what I could obtain with a custom tr

[2022-04-18 17:16] agustif commented on #2542
This seems highly dangerous to allow with *any* code snippets, I think your functionality might be more appropiate to a new app-store app that you can give your UA-XXXX tracker for GA or CloudFlare or whatever, but I cannot see us allowing any js snippet being run.

[2022-04-18 17:28] bhopmann opened #2543 "Location isn't clickable nor preselected when rescheduling"
### Issue Summary

When rescheduling, location isn't clickable nor preselected. Thus, the event can't be rescheduled.

### Steps to Reproduce

1. Make a new booking
2. Go to bookings in backend and edit the event

### Technical details
- Browser version: Firefox 99.0.1
- Node.js version: v14.19.1
- cal.com selfhosted

[2022-04-18 18:52] starpunjabi commented on #2469
I am not getting how to add permission to talk in the channel or how to enable /links, and /links for me is not working. I am able to use /create-events properly, and even it is showing all event-types too. but /links is not working at all.

![image](https://user-images.githubusercontent.com/20169304/163859177-fe90ab42-1127-44ca-ae58-9e15db622ad0.png)

![image](https://user-images.githubuserconten

[2022-04-18 18:55] starpunjabi commented on #2470
Can i fork and contribute in this task, so all hard links can be manage from constants without changing any output.

[2022-04-18 21:21] bassamanator opened #2546 "[CAL-2875] Please add a `Minimum cancellation/rescheduling notice` time."
### Is your proposal related to a problem?

Our 'organizers' are professionals providing health services. It would be very frustrating if clients, aka attendees, were able to cancel/reschedule appointments 1 minute before the booking start time, for example.

### Describe the solution you'd like

In the advance settings section of event-types, there is already an option for `Minimum booking notice

[2022-04-18 22:26] leog commented on #2180
@Jaibles @PeerRich this is what I have at the moment, thought you guys might want to see it, any change request is welcome.

---

Event Type configuration option:
 - When the checkbox is unchecked, the "Every ___ week" is hidden
 - When the number is greater than 1, "week" turns into "weeks"
<img width="533" alt="Notification_Center" src="https://user-images.githubusercontent.com/467258/163886753-

[2022-04-19 00:32] farzaank commented on #2199
Any ETA on this? Thanks in advance.

[2022-04-19 02:08] agustif commented on #1594
https://github.com/calcom/cal.com/pull/2547 when this one merges at least snippets will be in more languages than just curl (added java and python in there ;)) using openapi-snippets so anything availabile in there is game, but too many snippets makes the layout break

[2022-04-19 07:50] milospuac commented on #2538
Hi there.

Thanks for reaching out.

Do you have a buffer time selected?

[2022-04-19 07:51] milospuac commented on #2540
Hi Joey! Thanks for reaching out. Our team will look into this.

[2022-04-19 07:59] milospuac commented on #2546
Hi there. Thanks for reaching out. Yep, being able to cancel a minute before doesn't quite ooze professionalism. I will share this with the product team

[2022-04-19 07:59] sean-brydon commented on #2469
Please can you try adding the bot to the channel you are talking in - or since you are self hosted can you try going into the slack bot settings and adding the chat:write.public scope to the bot and the reconnecting the bot to your workspace.

[2022-04-19 08:55] milospuac commented on #2543
Hey Benedikt. Thanks for reporting this. Our team will address the issue

[2022-04-19 10:30] starpunjabi commented on #2469
![image](https://user-images.githubusercontent.com/20169304/163984651-91706063-db01-45a3-a7b1-a39b4586d10a.png)

I am not getting how to add in slack setting permission like chat:write.public scope, can you help me or share any resource link or stackoverflow message.

[2022-04-19 10:38] starpunjabi commented on #2469
![image](https://user-images.githubusercontent.com/20169304/163984651-91706063-db01-45a3-a7b1-a39b4586d10a.png)

I am not getting how to add in slack setting permission like chat:write.public scope, can you help me or share any resource link or stackoverflow message.

[2022-04-19 10:41] sean-brydon commented on #2469
@starpunjabi  Course Sorry! If you goto the slack app (https://api.slack.com/apps) and click on your bot. Goto app-manifest and you should see a Scopes section within YAML.

It should look something like this
[code]

[2022-04-19 10:49] sean-brydon commented on #2543
Thanks @bhopmann  for reporting this - I can't seem to replicate this myself would it be possible if you can use a bug reporting tool such as https://app.birdeatsbug.com/ to record a demo of this? Thanks

[2022-04-19 11:59] starpunjabi commented on #2469
No, its not self hosted, I am using cal.com account. But /links is not working as notified in my earlier messages.
Can you please give solution if you get my point. Much appreciated.
I keep on sending screenshots so you can understand and share solution with ease. but till now I didn't get any solution.

![image](https://user-images.githubusercontent.com/20169304/163998140-1c5befff-a622-4f2e-9763-

[2022-04-19 12:04] sean-brydon commented on #2469
Could you please try the following for me :
![image](https://user-images.githubusercontent.com/55134778/163999083-3533a245-a6fc-444d-bcbc-6d53d033882d.png)
![image](https://user-images.githubusercontent.com/55134778/163999163-142767d9-46be-435f-8007-b445d3360493.png)

If the cal.com app doesnt appear in that channel can you please try to add this. If you have further issues please drop me a messag

[2022-04-19 12:09] PeerRich commented on #2247
@emrysal you said we can fix this by extracting the booking page? maybe we should hotfix this before

[2022-04-19 12:09] PeerRich commented on #2247
three options:
- fix 404
- reverse the redirect
- extract into its own package

[2022-04-19 12:10] PeerRich commented on #2372
@joeauyeung can you take a look instead?

[2022-04-19 14:06] bhopmann commented on #2543
Thank you for your reply @sean-brydon - I've made a screenshot, which hopefully helps:

<img width="381" alt="Bildschirmfoto 2022-04-19 um 15 56 28" src="https://user-images.githubusercontent.com/2770597/164022438-a75bad1d-c51b-4ff6-a2fc-a6bfc86c323f.png">

[2022-04-19 16:38] zomars commented on #2372
Thanks @PeerRich. Also @joeauyeung you can take a look at @alannnc implementation of WipeMyCal to handle it similarly: https://github.com/calcom/cal.com/blob/main/packages/app-store/wipemycalother/api/add.ts

[2022-04-19 19:31] bassamanator opened #2550 "`Unconfirmed` bookings prevent other attendees from booking the same time slot."
### Issue Summary

I created an event-type that requires confirmation. Contrary to expectation, an **unconfirmed** booking is preventing other attendees from booking the same time slot. It should be up to the organizer to pick the attendee they would like to book if there are multiple attendees for the same time slot. **This also leaves room for mischief**: a bad-faith attendee could potentially b

[2022-04-19 20:55] PeerRich commented on #2221
@hariombalhara at what point do we close this RFC as finished and break out the open tickets into new issues?

[2022-04-19 23:00] alannnc commented on #2537
Can you provide me further information? Was this on production? Can you get me the uid?
Did a quick test and find everything was working fine, but there should be something wrong with the original event title

[2022-04-20 00:12] angel8au opened #2557 "The time format does not work as expected."
Found a bug? Please fill out the sections below. 👍

The time format does not work as expected. In my settings I configured 12 hours and when I send the link of my availability the hours appear in 24-hour format.

I trying to find in the setting of the event but there is not anyting to configure 12 hours.

Any other relevant information. For example, why do you consider this a bug and what did you

[2022-04-20 00:40] hariombalhara commented on #2221
It can be done even now. But will close it with my next PR merge.

[2022-04-20 00:41] hariombalhara commented on #2537
@alannnc Will try to replicate and share details.

[2022-04-20 02:12] joshmcbride opened #2558 "[CAL-896] overlay your own calendar (see calendly, savvycal)"
### Is your proposal related to a problem?

When someone uses my cal.com link to book time, they have to toggle back and forth between their calendar and Cal. It would be great if they could connect their calendar and Cal surfaces  up mutually available times to book.

### Describe the solution you'd like

I click on a Cal link, I then oAuth my Google Cal, Cal then suggested day/time blocks where

[2022-04-20 04:14] hariombalhara commented on #2537
He @alannnc, just to be clear, 18th April, was the name so forget about that. I just noticed that it might be creating confusion. Sorry about that.
The real problem that I was trying to report was, "Please book a new to time for". It should probably have been "Please book a new time for"

[2022-04-20 04:23] hariombalhara commented on #2537
Just confirmed that the subject is still grammatically wrong. Updated steps in description.

Also noticed another grammar mistake,
<img width="625" alt="Screenshot 2022-04-20 at 9 48 05 AM" src="https://user-images.githubusercontent.com/1780212/164149866-336911a9-8a50-424f-8044-80710c43c518.png">

[2022-04-20 05:54] compgeniuses commented on #1594
would the Dashboard and API be available on the self hostable Edition?

[2022-04-20 07:25] milospuac commented on #2557
Hi there.

Thanks for reaching out

The booking page follows the browser's preferred settings. Can you check that for me?

Also, it would be good to clear your cache/cookies.

Let me know

[2022-04-20 08:33] baileypumfleet opened #2559 "Migrate team links to <company>.cal.com instead of cal.com/team/team"
Currently team URLs are cal.com/team/team, so we should use Vercel Platforms to set up the ability to use a subdomain of cal.com (e.g. adidas.cal.com) instead.

Read the Vercel guide here: https://vercel.com/guides/nextjs-multi-tenant-application

[2022-04-20 08:37] baileypumfleet commented on #1456
Maybe a new reports tab in the sidebar that takes you to a page with a bunch of widgets for graphs and such

[2022-04-20 09:57] PeerRich commented on #2442
closing in favor of #1913

[2022-04-20 09:57] #2442 closed

[2022-04-20 10:49] PeerRich commented on #1594
for now it'll stay a commercial, closed source feature but the API end points will be publicly accessible and you can generate an API token to authorize against here: https://app.cal.com/settings/security

[2022-04-20 10:49] PeerRich commented on #1594
you can receive access to the private API repo to self-host on a commercial plan

[2022-04-20 10:52] sean-brydon commented on #436
This ticket appears to be fixed and due to inactivity it is being closed- please reopen if you experience this issue again.

[2022-04-20 10:52] #436 closed

[2022-04-20 10:55] sean-brydon commented on #517
This ticket is being close due to inactivity - This sounds like it could be a use case for our API https://developer.cal.com/

[2022-04-20 10:55] #517 closed

[2022-04-20 11:00] sean-brydon commented on #1056
Closing - this was fixed https://github.com/calcom/cal.com/pull/2161/

[2022-04-20 11:00] #1056 closed

[2022-04-20 11:02] sean-brydon commented on #1102
Closing - This was fixed in https://github.com/calcom/cal.com/pull/2161/

[2022-04-20 11:02] #1102 closed

[2022-04-20 11:03] sean-brydon commented on #1175
Closing as this issue is stale - Please reopen this issue if you are still having this problem.

[2022-04-20 11:03] #1175 closed

[2022-04-20 11:06] sean-brydon commented on #1279
Closing - this appears to be fixed and now redirects you to /event-types

[2022-04-20 11:06] #1279 closed

[2022-04-20 11:09] sean-brydon commented on #1453
Closing - this was resolved in https://github.com/calcom/cal.com/issues/2073 everything now uses Radix

[2022-04-20 11:09] #1453 closed

[2022-04-20 11:24] compgeniuses commented on #1594
so both Dashboard, as well as API would be Enterprise edition only features?

[2022-04-20 12:01] PeerRich commented on #1594
you will be able to use them, just the source code will be closed source for now. enterprise can access code

[2022-04-20 12:35] PeerRich commented on #2180
@leog has a PR been opened for this?

[2022-04-20 13:52] PeerRich opened #2560 "(draft) RFC: Credits"
- be able to buy credits (connected to your email)
- require credits to book

[2022-04-20 14:09] pattiewilburn commented on #2560
billing subscription options (ie every 4, 18, 12, 16, 3M, 6M, 12M) - sms reminders of any and all upcoming apts, credit limitations per client depending on subscription. is there a way to add the instructor name depending on when they book (we have 2-3 teachers per hour).

[2022-04-20 14:10] PeerRich commented on #2560
for sms reminders, see #1780

[2022-04-20 14:33] Jaibles commented on #2180
Chat continued in Twist and sharing [Figma link here](https://www.figma.com/file/6sITaSOZ2JCXyKEYhC10P5/Cal-Web-App?node-id=5807%3A99407) for reference.

[2022-04-20 15:07] alannnc commented on #2537
You are right there, changed. Thank you! @hariombalhara

[2022-04-20 18:09] zomars commented on #2474
I'm already doing this in admin console. Maybe @sean-brydon can help with doin this in the web app.

[2022-04-20 18:22] sean-brydon commented on #2474
Yeah happy to help with this :) @zomars

[2022-04-21 01:05] leog commented on #2180
Not yet. Only the FE I presented was implemented while definitions on the functionality settles to then tackle backend. I can create a draft PR anyway if needed.

[2022-04-21 10:54] Jaibles commented on #1474
Designs for this task are [here](https://www.figma.com/file/6sITaSOZ2JCXyKEYhC10P5/Cal-Web-App?node-id=5060%3A62515)

[2022-04-21 11:28] milospuac commented on #2558
Hey Josh. Thanks for reaching out. We don't have the exact timeline for this but we will be adding this feature down the line.

Thanks

[2022-04-21 12:12] hariombalhara commented on #1708
IMHO, I should be able to see the bookings I am an attendee in. But yes, it is a problem if I cancel it and the cancellation email is sent to me only.

[2022-04-21 12:13] hariombalhara commented on #1708
@zomars what do you think ?

[2022-04-21 12:29] hariombalhara commented on #2170
@zomars @andreaestefania12 Can we not book the meeting after confirmation of payment. Isn't that more intuitive ?

[2022-04-21 14:18] with-shrey commented on #2473
Hey, @PeerRich I am new to this project, seems like a great issue to get started with :-).
Can I take this up?

Let me know if you have any suggestions or pointers for me.

[2022-04-21 14:36] PeerRich commented on #2473
go for it! here's more: https://docs.cal.com/developer/app-store @joeauyeung @zomars  is this still up to date?

[2022-04-21 14:43] joeauyeung commented on #2473
Hey @with-shrey thanks for hopping on this. I'm waiting for the new changes to the app store doc to be reviewed but you can read it here:  https://github.com/calcom/cal.com/pull/2567

[2022-04-21 15:23] with-shrey commented on #2473
Thanks

On Thu, 21 Apr, 2022, 8:13 pm Joe Au-Yeung, ***@***.***>
wrote:

[2022-04-21 16:15] emrysal opened #2569 "Users sometimes delete the same schedule multiple times due to delay before the schedule disappears"
### Issue Summary

It's possible to delete the same Schedule multiple times if the connection is slow enough - there is nothing to visually show something is happening.

Schedule needs the following popup to be implemented, when a delete is in progress the "Delete Schedule" button should show the loading spinner to prevent further confusion/actions.

⚠️ As part of this fix the same loading spinner

[2022-04-21 17:40] hatamiarash7 opened #2570 "First Day of Week"
We need **Saturday** for `First Day of Week`

![sdfsfsf](https://user-images.githubusercontent.com/16325641/164519095-658a8348-151c-44cb-9234-05b4ef4fda5f.jpg)

[2022-04-21 18:17] #2372 closed

[2022-04-21 18:23] joeauyeung opened #2571 "App page install button not updating"
Trying it on vercel, at least on the app page itself I get a loading state but doesn't finish on -Installed- and goes back to Install.

Also I think we should remove the label/text on the button when the loading state kicks in, so it doesn't overlap with the text.

And maybe once install is done Change to Installed (could add a checkmark icon here maybe?)

https://user-images.githubusercontent.com

[2022-04-21 18:31] rohanrajpal opened #2572 "Query params not working in self hosted cal.com"
### Issue Summary

If you go to:
https://cal.com/spurchat/30min?email=rohan@gmail.com

The email is pre-filled at the end, but if you go to
https://cal.spurchat.tech/rohanrajpal/30min?email=rohan@gmail.com

And go till the end, email is not pre-filled. I'll try to reproduce it locally and share the logs soon.

[2022-04-21 18:38] rohanrajpal commented on #2572
Same issue when running locally. I dont see any verbose logs event after `NEXT_PUBLIC_DEBUG=1` 🤔

[code]

[2022-04-21 19:04] zomars commented on #1708
I didn't even knew that you could see your attending bookings from your Cal account. That is an unexpected feature if you ask me. IMO you should only be able to see you upcoming bookings where you're the host. I can see an use case where you would like to see your attending bookings in that view as well but we would delegate that to @Jaibles to decide how we should show that.

[2022-04-21 20:23] zomars commented on #2170
That's what's the stripe webhook is for. You also receive a payment link to your email and you can pay at a later time.

[2022-04-22 07:18] zacchiro commented on #2236
Is there any progress/plan on how to fix this? It is my main blocker from adopting cal.com, but I'll need to look for alternatives if fixing this is not an option. Thanks for your work on this great service!

[2022-04-22 07:38] with-shrey commented on #2473
@PeerRich

Here is the plan of action that I am planning for. do let me know if you have any suggestions.

1. Add an app named "Giphy" under "Other" category ✅
2. The app would be installed by default for all users (Since we don't need authentication etc).
3. Add an input for Giphy selection on `/event-types/:eventId`.
4. Display the selected Giphy on `/success` in place of the green checkmark

FY

[2022-04-22 07:53] emrysal commented on #2236
Hi @zacchiro I'll pick this up over the weekend.

[2022-04-22 07:54] PeerRich commented on #2473
yes but i would not have it installed by default

[2022-04-22 08:16] duarteocarmo commented on #2221
Any expected date for this embedding? I would love to have it :)

[2022-04-22 08:52] hariombalhara commented on #2221
@duarteocarmo You can start using it even now. These are the docs https://docs.cal.com/integrations/embed.
If something is amiss, just let me know.

This is the PR I am working on which should be merged next week https://github.com/calcom/cal.com/pull/2499

[2022-04-22 09:03] duarteocarmo commented on #2221
Ah super!

I was actually mentioning from a user perspective.

I have a cal.com link working - but there is no option to get an iFrame?

[2022-04-22 10:13] hariombalhara commented on #2221
Oh, that is still pending in UI. I am hopeful this would be done in coming 2-3 weeks. A snippet generator is coming along with it.

But if you need to embed on your website it is still possible, with the steps mentioned in the doc.

[2022-04-22 10:47] duarteocarmo commented on #2221
For sure - thanks @hariombalhara  for all the help! Super product this is :)

[2022-04-22 14:20] milospuac commented on #2570
Hi there. Thanks for reaching out. I will share this with the engineering team and they will add this.

[2022-04-22 14:29] esprush commented on #2572
@rohanrajpal Works fine for me in both the links.

[2022-04-22 14:29] alishaz-polymath opened #2575 "Away user can be booked using event-type url directly"
When you set yourself away and try to use your booking URL, this is the message that comes up. This works as expected.

However, if you use a booking URL that leads directly to one of your event types, for example I have a cal.com/milosp/30-min - It opens your booking slots. And I was actually able to book the meeting.

A summary of the issue. This needs to be a clear detailed-rich summary.

### S

[2022-04-22 15:03] #2575 closed

[2022-04-22 16:25] zomars opened #2577 "2FA codes autocompetion"
### Is your proposal related to a problem?

For 2FA users, it would be nice if we could find a way to autocomplete one time code for users with password managers like 1Password.

### Describe the solution you'd like

Found a [Twilio blog post](https://www.twilio.com/blog/html-attributes-two-factor-authentication-autocomplete) that talks more about this.

[2022-04-22 19:27] agustif opened #9134 "[CAL-1796] expiresAt gives error"
![image](https://user-images.githubusercontent.com/6601142/164781259-86883976-d4c4-4828-9a42-88168192e3b4.png)

After some investigation:
- This only happens in staging.
- In prod works nicely.
- I think is due to a missing migration in staging, is possible @zomars ? Otherwise expiresAt should be nullable!

<sub>[CAL-1796](https://linear.app/calcom/issue/CAL-1796/expiresat-gives-error)</sub>

[2022-04-23 02:19] #2071 closed

[2022-04-23 04:05] agustif opened #9133 "[CAL-1795] RFC: What's missing to go live in prod."
Hello team, Adding this here to keep track of what I'm finding that needs fixing before doing the prod proper launch.

## Bugs
- [x] calcom/api#58
- [ ] POST to Availabilities was failing due to validations missing correct dates for startTime/ endTime

## Validations
I will move the validations to be separate for create/edit, and to be more explicit so we pick, instead of omitting for all endpoint

[2022-04-23 08:49] rohanrajpal commented on #2572
I just tried it out in incognito & it worked.

Logged out of cal.spurchat.tech, cleared cookies & logged back in. Now it works without incognito too. I guess some corrupt cookies caused this?

[2022-04-23 13:30] PeerRich opened #2579 "[CAL-89] use language from user agent when onboarding"
if not available use english

[2022-04-23 13:49] zomars commented on #2572
I can confirm is working as well. Closing this unless a reproduction is available.

[2022-04-23 13:49] #2572 closed

[2022-04-23 14:47] bhopmann commented on #2543
A brief addition: It does work when only using one location. When using mutiple locations none of them is preselected nor clickable.

Using the Firefox-Debugger/Development-Tool, the sourcecode is missing any checked attribute, the linked `js`file seems to be invalid:

<img width="858" alt="Bildschirmfoto 2022-04-23 um 16 40 58" src="https://user-images.githubusercontent.com/2770597/164910752-6fe9

[2022-04-23 16:07] with-shrey commented on #2473
@PeerRich
Opened a PR for this [here](https://github.com/calcom/cal.com/pull/2580)
Let me know how this looks

[2022-04-23 16:56] alannnc commented on #1221
I ran into this issue and it was due a miss match ports for web/website.

[2022-04-23 16:56] #1221 closed

[2022-04-23 19:04] bhopmann opened #2583 "Location missing in emails when scheduling in-person meeting"
### Issue Summary

When scheduling in-person meeting, the location is missing in all emails. Instead, `No App Name` is occuring.

<img width="561" alt="Bildschirmfoto 2022-04-23 um 20 55 55" src="https://user-images.githubusercontent.com/2770597/164942722-5f9fb4ad-fdb0-4103-b238-5736d6154670.png">

### Steps to Reproduce

1. Schedule an in-person meeting
2. See the confirmation email

### Technica

[2022-04-23 19:14] bhopmann opened #2584 "German translation for `in_person_meeting` ignored when scheduling"
### Issue Summary

When scheduling a meeting, the german translation for `in_person_meeting` is ignored (although it occurs in the translation file = `Vor-Ort-Termin`). Instead, the english default `In-person meeting` is used.

<img width="373" alt="Bildschirmfoto 2022-04-23 um 20 54 23" src="https://user-images.githubusercontent.com/2770597/164942833-d987f970-f992-4fe3-ad78-909b201e9f35.png">

##

[2022-04-23 22:55] PeerRich opened #2586 "show number of installs in app store"
- track installs with jitsu.track
- connect to jitsu db
- show total installs (across all instances) of each app in the AppCard and detail page

[2022-04-23 22:58] PeerRich commented on #2586
we should also use jitsu.track for our telemetry: https://github.com/calcom/cal.com/blob/8c173c840bd1bdf2697d4cccd449d807170637bf/apps/web/components/booking/pages/AvailabilityPage.tsx#L101-L106

[2022-04-23 23:00] PeerRich commented on #2586
<img width="418" alt="image" src="https://user-images.githubusercontent.com/8019099/164948793-e693b299-2ffb-4722-b35b-e99d935a8cee.png">

[2022-04-23 23:01] PeerRich commented on #2586
<img width="256" alt="image" src="https://user-images.githubusercontent.com/8019099/164948818-7475c812-1f07-4166-bc8a-c2789dea4e8a.png">

[2022-04-24 16:34] arthur1041 commented on #2569
I can work on this issue.

[2022-04-25 02:36] agustif commented on #1847
Hey added new env var:
`JITSI_INSTANCE_URL`
When #2590 merges should be available.

Maybe in the future we could allow a setting from the user level, instead of the app level, to improve the jitsi app in the app-store with some configs, so each company using cal can use its own jitsi instance if desired (for privacy reasons whatsoever)

[2022-04-25 02:44] agustif commented on #2450
@miguelnietoa
This is the OG app, basically, make an app that can generate virtual calendars with upcoming weather from open weather map when app is installed in cal.com
https://github.com/vejnoe/weather-in-your-calendar
https://github.com/vejnoe/weather-in-your-calendar/blob/master/weather-cal.php

[2022-04-25 05:59] #2221 closed

[2022-04-25 09:35] bhopmann commented on #2429
I investigated a little bit and probably found a solution by adding `method: "CONFIRM",`after `status: "CONFIRMED",` in the following both files:

https://github.com/calcom/cal.com/blob/a0057911c1e2b7753e98b80bce7157764ee39a29/apps/web/lib/emails/templates/attendee-scheduled-email.ts#L75

https://github.com/calcom/cal.com/blob/a0057911c1e2b7753e98b80bce7157764ee39a29/apps/web/lib/emails/templates/

[2022-04-25 11:19] milospuac commented on #2583
Hey Benedikt, the fix is almost up https://github.com/calcom/cal.com/pull/2589

[2022-04-25 14:14] bhopmann commented on #2429
Closed PR because I'm not really shure, if `CONFIRM`is the right `method` variable which seems to be missing.

[2022-04-25 17:37] PeerRich commented on #2347
the `<br /><br/>` is also causing issues in calendar details

[2022-04-25 18:07] arthur1041 commented on #2176
I can work on this issue.

[2022-04-25 18:30] #2407 closed

[2022-04-25 21:59] PeerRich opened #2603 "key_strings flicker again on hard-reload"
this used to work

https://user-images.githubusercontent.com/8019099/165181998-0d6b8c14-b530-4c7a-8c5b-3eec7b92a3d2.mov

[2022-04-25 22:20] #2603 closed

[2022-04-26 02:04] zomars commented on #2473
I don't think we need E2E tests for this use case for now.

Once this is merged our Crowding collaborators will be notified that there are new strings to translate.

[2022-04-26 02:48] #2526 closed

[2022-04-26 03:40] montythemack commented on #2531
Did anyone have any success with this? I am still having this issue.

[2022-04-26 04:20] #2583 closed

[2022-04-26 10:38] hariombalhara opened #2613 "Fix for the cancellation 500 error"
If a resource is gone we should catch that and treat it as "Can't delete what's not there" and fail silently.
Found that in some cases, Cancellation request can come again even if the calendar event is already cancelled and thus doesn't exist.

[2022-04-26 10:54] hariombalhara opened #2614 "Flicker on booking success page"
https://www.loom.com/share/4d032cd2cb404618881fbdf4c6e0416a

[2022-04-26 11:39] JxSinka opened #2615 "James sinka bug - cal.com/james"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

A summary of the issue. This needs to be a clear detailed-rich summary.

### Steps to Reproduce

1. my working hours availability says saved (Tues and Thurs)
2. when I set/config my cal.com bookings I set it to my working hours
3. when I check cal.com/james - it doesnt show just Tue Thur as is my availability
4. help
<img width

[2022-04-26 14:34] milospuac commented on #2584
@PeerRich  Do you know what might have caused this?

[2022-04-26 15:17] jakobsturm opened #2618 "Iframe not working in incognito mode => fails to access localstorage"
### Issue Summary

I have embedded our calendar as an Iframe on our website. Unfortunately, it sometimes does not show up or just shows a white or black screen. I have noticed that this problem only occurs when in incognito mode or with restricted cookie settings. A colleague reported the same problem in Safari - but I can not confirm.

The page with the Iframe: https://clipflip.video/get-started.

[2022-04-26 16:44] PeerRich opened #2619 "Close.com App"
similar as hubspot

[2022-04-26 17:27] PeerRich opened #2620 "Stack Mode"
requested by [@dwr](https://twitter.com/dwr/status/1518977562856239105?s=21&t=iU68TAknKd_T4q2uVz3Gtg)

Feature I want for Calendly: stack mode

Start with an initial range for meeting slots, say 1pm to 3pm, and then after the first meeting is scheduled, only offer slots that are +/- 30 minutes from the scheduled meeting.

[2022-04-26 18:13] PeerRich opened #2621 "RFC: Apps Abstraction (hosted)"
## Problem for self-hosters
- .env is getting quite big
- verification process for google, zoom and outlook is quite long and complex
- getting credentials for each app (hubspot, etc.) takes time

## Solution
- give self hoster the option to either use their own credentials - or use something like auth.cal.com as an abstraction/wrapper around all apps

## Drawbacks
- infrastructure would not be fu

[2022-04-26 18:36] leog commented on #2621
I guess this means we should leverage third-party APIs to automate creating apps, verify them and configure to let self-hosters a simple way to be up and running with their Cal.com instance.

We should research if every third-party provides APIs to do that automatically, otherwise that manual work will be on our side.

[2022-04-26 18:50] zomars commented on #2621
For `.env` we could add those credentials to our database via seeder or similar strategy. @hariombalhara and I discussed this previously.

Regarding "sharing" our app installations with self-hosters would need a major refactoring. Basically we would be "Stripe Connect" but for external Calendars and Video providers.

[2022-04-26 18:58] andreaestefania12 opened #2622 "Reschedule button and select different location do not work"
### Issue Summary

I created an event with 2 locations, one Person meeting and the other with a link meeting. Then I made a booking for this event and I selected location **in person**. When I want to change the location for this booking, it only allows me to edit the hour and day for the booking and not the location and when you want to confirm the reschedule button does not work.

### Steps to R

[2022-04-26 18:58] PeerRich commented on #2621
yes. I mean https://nylas.com is providing people with an abstraction. if you are a customer of nylas, you don't need to go throught the google app submission progress

[2022-04-26 20:02] zomars commented on #2621
Seems like the logical way to go. I'm just trying to think is this could be abused in any significant way.

[2022-04-27 08:02] sean-brydon commented on #575
Looks like the design and code was implemented for this - closing

[2022-04-27 08:04] bhopmann opened #2626 "Some hardcoded strings are missing"
### Issue Summary

Hardcoded strings:

https://github.com/calcom/cal.com/blob/c22b6ca6703cb3b300ccff57c55b6c744ac3e49d/apps/web/lib/emails/templates/attendee-request-reschedule-email.ts#L187

https://github.com/calcom/cal.com/blob/c22b6ca6703cb3b300ccff57c55b6c744ac3e49d/apps/web/pages/settings/admin.tsx#L32 (error messages are also hardcoded: https://github.com/calcom/cal.com/blob/c22b6ca6703cb3b

[2022-04-27 08:09] sean-brydon commented on #1441
Looks like this issue is closed - think app-store tied this all together

[2022-04-27 08:09] #1441 closed

[2022-04-27 08:10] sean-brydon commented on #1515
<img width="596" alt="CleanShot 2022-04-27 at 09 10 15@2x" src="https://user-images.githubusercontent.com/55134778/165472250-665c17d4-2d5f-4e91-ad65-9e5037eaa39b.png">
This is fixed . Thank you

[2022-04-27 08:10] #1515 closed

[2022-04-27 08:12] sean-brydon commented on #1735
Closing this was fixed in #2529

[2022-04-27 08:12] #1735 closed

[2022-04-27 08:13] sean-brydon commented on #1752
Question has been answered - Thank you.

[2022-04-27 08:13] #1752 closed

[2022-04-27 10:24] dotesfera commented on #9
Hi, still having the same error on the newest version of cal.com. any updates?

[2022-04-27 11:51] bhopmann commented on #2543
This seems to be a similar issue report #2622

[2022-04-27 12:31] JxSinka commented on #2615
hi - we still have an issue

my [cal.com](http://cal.com/) timeslot doesnt sync with my [jamessinka@gmail.com](mailto:jamessinka@gmail.com) calendar - can u pls debug?

![image](https://user-images.githubusercontent.com/56697925/165518422-55fbd1c6-92ff-40f4-a1df-8f8c2293ee78.png)

[2022-04-27 13:10] sean-brydon commented on #2543
Investigating this today @bhopmann  :) Thank you

[2022-04-27 13:14] PeerRich commented on #2543
location should be able to be changed!

[2022-04-27 14:05] emrysal commented on #2615
Could you disconnect and reconnect your calendar? Looking around at your availability it seems like it's disconnected.

[2022-04-27 14:23] JxSinka commented on #2615
on the troubleshoot function it works - https://app.cal.com/availability/troubleshoot

but on the live cal.com/james - it is unsynced

<img width="1398" alt="image" src="https://user-images.githubusercontent.com/56697925/165540851-6f203db4-7bd4-4f7d-a814-ef8f1cfda153.png">

[2022-04-27 15:04] AnandBaburajan opened #2630 "Sign in with Google not working - redirects to logout page"
### Issue Summary

"Sign in with Google" option redirects me to the logout page

### Steps to Reproduce

1. Went to https://app.cal.com/auth/login
2. Clicked on "Sign in with Google"
3. Chose my gmail account
4. Was redirected to https://app.cal.com/auth/logout

[2022-04-27 15:54] emrysal commented on #2615
How is your calendar setup shown at https://app.cal.com/apps/installed ?

[2022-04-27 16:08] Toledodev opened #2631 "I created a user in Prisma Estudio and I still can't log in"
https://user-images.githubusercontent.com/87545086/165562927-43f55b1f-6ea4-4b5e-9d6c-748b0cbb4597.mp4

[2022-04-27 16:10] Toledodev commented on #2631
![Screenshot from 2022-04-27 13-09-15](https://user-images.githubusercontent.com/87545086/165563431-f5219203-7ca8-4852-9fb6-5981f3bc162b.png)
![Screenshot from 2022-04-27 13-09-55](https://user-images.githubusercontent.com/87545086/165563447-2fd9707b-d2df-4a0c-a65c-b22f8de5b16f.png)

[2022-04-27 16:10] Toledodev commented on #2631
![Screenshot from 2022-04-27 13-09-55](https://user-images.githubusercontent.com/87545086/165563536-f40c22f3-5f6a-49f3-b322-5e1816a9aabf.png)

[2022-04-27 16:11] Toledodev commented on #2631
I changed the field "metadata" to '{}'

[2022-04-27 19:39] tjpatter opened #2632 "Time format on public scheduling page defaulting to 24 hour format"
When an end-user access the public scheduling page, they are presented with available times in the 24 hour format instead of the 12 hour format with am/pm.

The end-user can select a the time format by using the time zone drop-down, but it would be great if we could either default to 12 hour format, or have the capability to define which option to use with the public page.

[2022-04-27 20:19] aq-simei commented on #2632
Hi, I would like to try solving this issue.

[2022-04-27 23:02] CarinaWolli commented on #2393
Is this still relevant? I could work on that

[2022-04-28 00:27] hariombalhara commented on #2393
Yeah. It's not yet fixed

[2022-04-28 06:39] milospuac commented on #2632
Hi there. The page follows the browser locale settings. Did you try changing the time format in the browser?

[2022-04-28 08:36] Jaibles commented on #2614
@hariombalhara just to clarify here.. the flicker is the very brief appearance of the signup form before it realises you're signed in right?

[2022-04-28 08:50] Jaibles commented on #2540
Resolved with https://github.com/calcom/cal.com/pull/2612

[2022-04-28 08:50] #2540 closed

[2022-04-28 09:10] #2543 closed

[2022-04-28 09:33] hariombalhara commented on #2614
Yeah

[2022-04-28 10:52] thom4parisot opened #2638 "Use a calendard to RSVP to upcoming events"
### Is your proposal related to a problem?

Currently, calendars are used to detect busy/available moments within time periods.
Given a few constraints, the UI let the user book a time within available one to one/group meetings.

However, our coop also provided "fixed time events" where people attend.
They are either online, or at given locations (exactly like in event types).

With the current be

[2022-04-28 11:59] PeerRich commented on #2621
who would like to research this? it would solve a lot of pains for our enterprise customers to go live (skipping the verifaction part)

[2022-04-28 12:09] Emmanuel-Melon commented on #2632
What about adding the option to manually set the format + following the browser locale settings?

[2022-04-28 18:28] clarkhacks commented on #2557
Experiencing the same issue here. I've set browser preference to both 12 and 24 hours formats. The scheduling time is till stuck in 24hr. IOS, Android, Windows 11/10. Firefox, Safari, Edge, Chrome. All report the same issues.

[2022-04-29 10:25] Jaibles commented on #1877
@sean-brydon here are designs for this feature: https://www.figma.com/file/6sITaSOZ2JCXyKEYhC10P5/%F0%9F%96%B1-Cal-Web-App?node-id=6096%3A100083

[2022-04-29 11:16] alishaz-polymath opened #2646 "Request to reschedule not working in dynamic event"
### Issue Summary

The issue is with dynamic links (which not too many people are using right now so it's not a big deal) but I can't

1.  request to reschedule an event done with dynamic link, or
2.  edit the event myself. It has updated in the UI and triggered an email - but it has not updated my calendar. Perhaps it's a matter of time but I did it about 40 mins ago.

reported by @Jaibles

[2022-04-30 02:13] mzocher-gl commented on #2236
I see this as well, with a self hosted cal.com (1.5.2) where I have connected my calendar to Microsoft O365.

[2022-04-30 06:08] victorgbaye commented on #2497
Could a loom video be attached to this issue to understand the issue better?

[2022-04-30 06:33] victorgbaye commented on #2630
https://www.loom.com/share/1b91b76fa8be4557991ac9f4787b8250

Sign in with Google appears to be working fine. could you share a loom to show the workflow of this issue. perhaps it is different from mine

[2022-04-30 06:46] AnandBaburajan commented on #2630
https://user-images.githubusercontent.com/2698932/166095095-12d514ad-fa77-4544-99a1-03bea7851ca4.mp4

[2022-04-30 10:30] zacchiro commented on #2236
For those facing this issue with Nextcloud as a backend calendar server, note that starting with Nextcloud 23, there is now native Nextcloud support for letting others book appointments with you. Check out the [announcement](https://nextcloud.com/blog/nextcloud-hub-2-brings-major-overhaul-introducing-nextcloud-office-p2p-backup-and-more/) (look for "Appointment scheduling" in the page). It is not

[2022-04-30 17:05] JoeyFenny commented on #2540
@Jaibles while #2612 is great, it is not exactly the feature I described. #2612 validates name and email. I was proposing a feature that allows users to set a validation rule for custom inputs. Perhaps a regex. If I ask people for a URL, it should pass on https://google.com and fail on "I don't have one". This can be done by allowing people to specify a regex when creating a text string. Then it w

[2022-04-30 17:06] JoeyFenny commented on #2540
Note it wasn't an issue, it was a feature request.

[2022-04-30 18:41] skaag opened #2653 "Prisma Version Mismatch"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

With default / untouched git environment, the build process complains about a Prisma version mismatch:
[code]

### Steps to Reproduce

Clone the repository and attempt to build the project with `yarn build`

### Technical details

- Node.js version: v14.19.1
- Yarn version: v1.22.18
- OS: Ubuntu 20.04.4 LTS

[2022-04-30 19:25] victorgbaye commented on #2620
Hello, i'd like to work on this. to clarify, if i have a meeting scheduled for 2pm, no one should be able to schedule 30 minutes before or after my current meeting time. Am i correct?

[2022-04-30 19:42] agustif commented on #2620
Hi Victor, thanks 🙏 for offering. I think what you mention would be more like the feature bufferTime which is already implemented.

The idea for the stack mode, is to try to enforce grouping of all your day meetings into the same stack together.

So lets say I usually have a 9-5 availability.

I only have a 30min event

Someone books me at 11:00.

This means Im busy from 11 to 11:30.

Next users t

[2022-04-30 19:52] victorgbaye commented on #2620
Thanks for the clarification Augusti👌. I'll start by reviewing the current schedule workflow and codebase and get to it. Thanks for the speedy response too✌️.

[2022-05-01 05:27] victorgbaye opened #2654 "Sign in button should be changed or disabled after click"
during the sign in process, the sign in button content should change or be disabled after attempting to sign in to show the action is being processed

[2022-05-01 12:49] Tiger862000 opened #2656 "8x8 meet web conference"
### Is your proposal related to a problem?

In the Apps section for webmeetings only a few good applications are supported when I want to embed a webconference service with cal.com.

### Describe the solution you'd like

Include 8x8 meet service (8x8.vc ) in the Apps section of Cal.com

### Describe alternatives you've considered

Offer an API or a generic way to connect to other webconference ser

[2022-05-01 20:42] #2473 closed

[2022-05-02 13:59] #2622 closed

[2022-05-02 20:47] sydwardrae opened #2660 "Putting "Additional Input Required" doesn't bar you from creating a booking"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

when you click 'is required' for a new custom input field, you can still make a booking without filling in the custom input field

### Steps to Reproduce

1. (for example) Went to event types
2. Clicked on an event
3. Set an addtl input to be 'required'
4. Went and tried to book the link on incognito mode without entering the r

[2022-05-02 20:54] tjpatter commented on #2632
So, I have found that the initial page load does follow browser locale settings, but if (as an end-user on a public page) you click into a time slot, select a different date, the time slots are now in 24-hour format...

[2022-05-03 01:19] JxSinka commented on #2615
turns out the entire cal.com/james is bugged - so I created a new
cal.com/jamessinka and it works perfectly. can you please debug my old name
so I can have cal.com/james back?
www.jamessinka.com
Twitter <http://twitter.com/jamessinka>
NYT <https://www.nytimes.com/2019/11/07/style/dopamine-fasting.html>
LinkedIn <https://www.linkedin.com/in/jamessinka/>

On Wed, Apr 27, 2022 at 11:54 AM Alex van An

[2022-05-03 04:36] jaxxstorm opened #2665 "Readd steps to create a new user"
On the signup page, you tell users to create a new user via prisma or via a database connection

<img width="799" alt="image" src="https://user-images.githubusercontent.com/1622940/166405140-8cf8536c-28d1-4e87-a2d7-7ab67424fbb1.png">

This links to the following page, which is blank.

Please add it back

[2022-05-03 04:38] jaxxstorm opened #2666 "Remove open source references"
The vart majority of the platform is no longer open source.

The API, admin interface and website are behind private git repos: https://github.com/calcom/cal.com/tree/main/apps

You are now open core, not open source.

Please don't mislead users

[2022-05-03 11:55] aspiers opened #2668 "[CAL-1685] "Edit booking" doesn't allow a new time which overlaps old time"
### Issue Summary

Someone booked a 60 minute slot via my cal.com event link, but then pointed out they wanted to move it 15 minutes later; however the "edit booking" feature doesn't allow this.

### Steps to Reproduce

0. Confirm a 60 minute booking using an event type which has `Time-slot intervals` set to 15 minutes.  (In my case, the booking was at 11:30am.)
1. Go to https://app.cal.com/bookin

[2022-05-03 13:26] leog opened #2670 "Disable email notifications"
### Is your proposal related to a problem?

Being able to turn off email notifications is one request feature to keep track in this issue.

It was introduced as part of #2562 a way to disable emailing using the `noEmail` flag. It can be leveraged to achieve this feature.

### Describe the solution you'd like

I'm an organizer that wants to create an event type or edit an existing one to disable em

[2022-05-03 14:26] hariombalhara commented on #2497
There is a birdeatsbug recording link. Doesn't that help?

[2022-05-03 14:44] baileypumfleet commented on #2666
Like hundreds of other open source companies, we open-source the core of our application, but make certain non-core features such as the API and an admin panel paid enterprise features in able to have a sustainable business model. However the core functionality of Cal.com will always be free and open source.

It's not true that "the vast majority of the platform is no longer open source". In fact,

[2022-05-03 14:44] #2666 closed

[2022-05-03 14:50] MuriloAmarals commented on #2550
When i was trying to reproduce the bug, i didn't have the same issue as you. I will paste here a link of the video I try to reproduce the bug.
https://www.loom.com/share/eff1cea609944dc3bfbf386871995fed

[2022-05-03 19:40] Toledodev commented on #1693
Hey @adriaanvanrossum, I was seeing this issue and when trying to reproduce it I saw that this problem is not happening :)
I follow every step in your readme
https://www.loom.com/share/88dc946237d64e198c92164318959b29

[2022-05-03 20:13] adriaanvanrossum commented on #1693
Maybe it's fixed? I don't use the open-source version anymore.

[2022-05-03 22:14] bassamanator commented on #2550
@MuriloAmarals Thanks for looking into this! You did not create a booking, however. The server does not keep track of bookings **were not made**.

Please try again, but follow through with the booking and click Confirm at the end. There is a fix in the works it seems, this issue might be resolved before you have a chance to try.

Thanks!

[2022-05-03 23:16] #1543 closed

[2022-05-04 03:01] Zodyart commented on #2653
someone please help this issue, cal's install documentation needs to rewrite. To many errors, this is just one that I am also experiencing

[2022-05-04 04:34] AnandBaburajan commented on #2630
Just went to https://app.cal.com/event-types and noticed that I'm logged in. If I logout and login again, the bug is still there though.

[2022-05-04 07:55] hussamkhatib commented on #2668
Hi, @aspiers,
I tried to reproduce the issue.
It works fine for me.
![image](https://user-images.githubusercontent.com/52914487/166642216-390cefee-6858-4253-b39c-bdef3041d219.png)

[2022-05-04 13:30] Toledodev opened #2676 "Dark mode is not working"
https://www.loom.com/share/878cc843657749fbab277704341555fd

[2022-05-04 15:21] markimeyer opened #2678 "Request the inclusion of Asunción/Paraguay timezone"
Hi, may I request the inclusion of Asunción/Paraguay timezone?

![image](https://user-images.githubusercontent.com/7417277/166714667-628d945b-d5f8-4049-b740-13ecffebca64.png)
![image](https://user-images.githubusercontent.com/7417277/166714687-c45bf6e0-a368-4339-915e-a6dfc76a0a23.png)

[2022-05-04 17:29] emrysal commented on #2299
Hi @scantreed - could you have a look what https://github.com/calcom/cal.com/blob/main/packages/prisma/schema.prisma looks like (in both of your installs?) I would expect DATABASE_URL - also make sure to define the DATABASE_URL variable in ./packages/prisma/.env

[2022-05-04 18:13] scantreed commented on #2299
Thanks for getting back to me @emrysal

My schema.prisma file matches the repository (I haven't changed anything, this is a fresh pull). Though what do you mean by "both of your installs"?

./packages/prisma/.env contains the following:
[code]

[2022-05-04 18:59] Toledodev opened #2679 "Dark mode not working on full site"
https://www.loom.com/share/d09a4696451548de9e7f94a121e726e6

[2022-05-04 21:28] #2089 closed

[2022-05-04 22:21] Toledodev commented on #1693
I guess so

[2022-05-05 07:58] Jaibles opened #2681 "Ability to click to view a booking"
We want to be able to click on a booking from /bookings and be able to see the details of that booking, just like what you see after you make the booking.

[2022-05-05 08:45] Jaibles opened #2682 "UI Improvements to the Giphy App"
### Is your proposal related to a problem?

The current implementation of the Giphy app has some UI inconsistencies.

I've proposed updates in the following design:
https://www.figma.com/file/6sITaSOZ2JCXyKEYhC10P5/%F0%9F%96%B1-Cal-Web-App?node-id=6293%3A99883

[2022-05-05 09:34] LuisChiej commented on #2681
Hello @Jaibles, I would like to help with this, could you give a more detailed breakdown?

[2022-05-05 09:47] Jaibles commented on #2681
@LuisChiej working on designs right now - will share very shortly!

[2022-05-05 11:07] victorgbaye commented on #2682
Hi @Jaibles i'd love to work on this but the version on the repo
<img width="1440" alt="Screenshot 2022-05-05 at 12 04 58" src="https://user-images.githubusercontent.com/81493483/166911118-4119ec1f-9710-477d-ace8-2fb07e0fe294.png">
doesn't seem to have the dashboard on the sidebar

[2022-05-05 12:09] oalbacha commented on #1490
what kind of integration is needed here?

[2022-05-05 14:06] dev-eth commented on #2682
hi, @victorgbaye thanks for this.
Do you mean the cal.com repo does not have a dashboard component in the source code?

[2022-05-05 14:35] victorgbaye commented on #2682
yes that's what i mean.  when i run the project locally there is no dashboard section on the sidebar

[2022-05-05 14:39] milospuac commented on #2679
It looks like your dark theme is actually light theme color 🤔
<img width="373" alt="Screen Shot 2022-05-05 at 16 38 32" src="https://user-images.githubusercontent.com/97884287/166947979-f720c969-62db-4a3e-8caa-215ad369cced.png">

[2022-05-05 14:39] milospuac commented on #2678
Thanks for reaching out, our engineers will implement this soon

[2022-05-05 16:12] victorgbaye commented on #2679
<img width="984" alt="Screenshot 2022-05-05 at 17 10 00" src="https://user-images.githubusercontent.com/81493483/166966537-56dcc480-34e0-4f24-8ffa-1dfb8f424e5f.png">

I switched the colours but nothing changed still

[2022-05-05 16:14] victorgbaye commented on #2681
I'm available if it requires an extra hand. i want to work on some UI for my first issue.

[2022-05-05 18:51] #1092 closed

[2022-05-05 19:40] Toledodev commented on #2679
I had changed the colors too, but as nothing had happened I decided to record the video the way it came when I cloned it

[2022-05-05 20:24] #1693 closed

[2022-05-05 20:25] agustif commented on #2682
@victorgbaye that's weird indeed, maybe you've zoom settings on your browser or are using a lower resolution where the sidebar is hidden?

[2022-05-05 21:16] #2180 closed

[2022-05-06 09:57] #2537 closed

[2022-05-06 10:22] CarinaWolli opened #2689 "API keys are not shown in settings"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

API keys are not listed anymore

### Steps to Reproduce

1. Go to settings - security
3. Clicked on 'Generate new API key'
4. Click on 'Save'
5. See that no API keys are listed

[2022-05-06 11:36] Emmanuel-Melon commented on #2630
I'd like to work on this one

[2022-05-06 13:24] LuisChiej commented on #2689
I think so, have you tried updating it?

[2022-05-06 13:30] LuisChiej commented on #2681
Hello @Jaibles, any update on the design and when could we look forward to it?

[2022-05-06 13:52] MuriloAmarals commented on #2654
Hey @victorgbaye and @milospuac, I'm working on this issue and I think I've already found a solution for it.

[2022-05-06 13:53] LuisChiej commented on #2653
Hello @skaag, have you tried it on another OS?

[2022-05-06 13:57] MatheusBeniniF commented on #2660
i'm working on this issue and i think i've already found a solution for it

[2022-05-06 13:57] LuisChiej commented on #2646
Hello @alishaz-polymath, Could you list the steps to reproduce?

[2022-05-06 13:58] MatheusBeniniF commented on #2546
i'm working on this issue and i think i've already found a solution for it

[2022-05-06 14:48] #2689 closed

[2022-05-06 15:11] LuisChiej commented on #2613
Hello @hariombalhara, Could you give more context and possibly a stacktrace so I could help out

[2022-05-06 15:33] hariombalhara commented on #2679
Dark theme is currently applicable to public booking pages only

[2022-05-06 15:36] Toledodev opened #2692 "Dark mode is not working in options of time zone"
https://www.loom.com/share/e2f82b23a8564d7d89a01650f54ffc93

[2022-05-06 19:44] Toledodev commented on #2678
I will take a look on this

[2022-05-09 08:30] alishaz-polymath commented on #2646
Fixed by PR#2657

[2022-05-09 08:30] #2646 closed

[2022-05-09 09:19] sihma opened #2698 "ICS calendar feed support in Cal.com (to check availability)"
I have a feature request for something that would not only suit my use case but expand Cal.com functionalities greatly and with, I hope, little efforts.

### Is your proposal related to a problem?

I teach a language on italki. When people book lessons, the lessons event get dynamically updated in an .ics file calendar that's hosted through http. I use software (Thunderbird on my computer and ICSx

[2022-05-09 09:41] PeerRich opened #2699 "/settings/security layout broken on mobile"
![image](https://user-images.githubusercontent.com/8019099/167383893-4df1e962-745b-4aba-b472-5e21bc2c7038.png)

cant generate api token nor edit 2fa

[2022-05-09 09:48] CarinaWolli opened #2701 "No error message shown when URL already exists"
Found a bug? Please fill out the sections below. 👍

The user doesn't see any error message when an event-type is created (or edited) with an already existing URL.
### Steps to Reproduce

1. Create a new event type with URL '15min'
2. Create another event type with URL '15min'
3. See it's not working and the user doesn't see any error message
4. Open developer console and you see the error

### Tec

[2022-05-09 10:16] hariombalhara commented on #2618
@jakobsturm There is a fix in review for Incognito issue which throws the error you shared.

For Safari issue, there is already a fix in new embed. Also, it would look much better then the current embed out of the box. This is how it would look https://www.loom.com/share/f8e0417a809045adb61f2f697b37c5b7

You need to remove the existing iframe and instead add the following code in place of that.

[

[2022-05-09 10:39] gracebir commented on #1659
I am going to work on

[2022-05-09 10:53] LuisChiej commented on #2701
Hi @CarinaWolli, It's proving difficult reproducing the bug above

[2022-05-09 11:32] LuisChiej commented on #2397
Hello @PeerRich, Would like to help out with this issue

[2022-05-09 11:43] #2699 closed

[2022-05-09 11:46] LuisChiej commented on #2342
Hello @milospuac, Is this issue still available, I could help take a look at it

[2022-05-09 11:54] MuriloAmarals commented on #2571
Hey @joeauyeung and @milospuac i reproduce the bug and i'm trying to resolve it !!!

[2022-05-09 12:33] LuisChiej commented on #1659
Hello @milospuac, shouldn't this issue be closed? as the [PR](https://github.com/calcom/cal.com/pull/1699) linked to it is closed

[2022-05-09 15:50] alannnc opened #2709 "Replace additional notes for reschedule reason when editing booking"
### Is your proposal related to a problem?

When editing booking there should be an input for the user owner that says Reason for reschedule instead of additional comments.

![image](https://user-images.githubusercontent.com/4461358/167447499-92b85bac-c00d-456d-adc3-cd668360803b.png)

### Additional context
Input should be optional, and save to DB field **cancellationReason**.

[2022-05-09 16:35] agustif commented on #2615
Hey James, do you have any settings or history of bookings you want to save from your old account?

I was thinking if debugging this is hard. Maybe an easy solution is to swap usernames in the database for james <-> jamessinka. So you get the correct settings in your old username?

Let me know if that solution works for ya, should be the easiest way to solve your issue

[2022-05-09 18:30] MatheusBeniniF commented on #2709
i'm working on this issue and i think i've already found a solution for it

[2022-05-09 22:52] alannnc commented on #2632
@aq-simei Any luck solving this bug? From what I've seen it's not selecting user owner settings. I think we should always stick with user owner settings and not default to browser locale.

[2022-05-10 07:08] bhopmann opened #2714 "Wrong Time when scheduling"
### Issue Summary
When scheduling, a wrong time is shown (2h offset), although the correct timeslot is booked.

### Steps to Reproduce

1. Schedule an event
2. See last booking page

![Bildschirmfoto 2022-05-10 um 06 29 22](https://user-images.githubusercontent.com/2770597/167568701-36170bcf-ead7-4d63-8aca-c02bf03cf756.jpg)

![Bildschirmfoto 2022-05-10 um 06 29 31](https://user-images.githubuserco

[2022-05-10 07:33] Jaibles opened #2715 "Installed Apps is showing a lot of apps not installed"
**Problem**
"Installed apps" currently shows many apps that I have not installed prompting me to "Connect". This is something I would only expect to do from within the App Store. For some apps it even says "Not Installed" in a warning, but I can't actually do anything about the issue.

**Why does this matter?**
- The majority of the apps that are showing up I have no interest in ever using (MetaMa

[2022-05-10 07:40] hariombalhara commented on #2221
@duarteocarmo You can now get the embed link for an event type from UI.
See this loom https://www.loom.com/share/9741daa1df7446c2a8cec37454380f0b

[2022-05-10 09:23] hariombalhara commented on #2221
That was lightning fast 🚀

[2022-05-10 12:46] MuriloAmarals commented on #2714
Hey @CarinaWolli and @bhopmann I will start working on this issue.

[2022-05-10 12:53] MuriloAmarals commented on #2714
I tried to reproduced the bug but in my application it works properly.

![Captura de tela de 2022-05-10 09-50-18](https://user-images.githubusercontent.com/87545137/167632956-b26e2a66-648c-4f62-b068-bcf313974ddd.png)

![Captura de tela de 2022-05-10 09-50-18](https://user-images.githubusercontent.com/87545137/167632975-f3c8c69e-b65b-474d-9fbc-15470eab3236.png)

[2022-05-10 12:56] MuriloAmarals commented on #2714
I tried to reproduce the bug but in my application it works properly.

![Captura de tela de 2022-05-10 09-50-18](https://user-images.githubusercontent.com/87545137/167633384-4331d4de-87b3-4c61-97f6-521dca6826e7.png)

![Captura de tela de 2022-05-10 09-50-30](https://user-images.githubusercontent.com/87545137/167633439-85740259-3064-4fcc-9574-3b552b45bf59.png)

[2022-05-10 17:56] manuelgu commented on #2714
I can reproduce the issue as described in the OP.

[2022-05-10 18:30] MatheusBeniniF commented on #2665
i'm working on this issue and i think i've already found a solution for it.

[2022-05-11 05:36] hariombalhara commented on #1708
@Jaibles What should we do here? Should we go ahead and remove the bookings where I am an attendee for now and work on showing attendee bookings somewhere else?(In a followup PR)

[2022-05-11 06:40] Jaibles commented on #2670
This feature is currently on hold and not in our current milestone but attaching current state of designs for reference anyway
https://www.figma.com/file/6sITaSOZ2JCXyKEYhC10P5/%F0%9F%96%B1-Cal-Web-App?node-id=6573%3A106028

[2022-05-11 07:06] gracebir commented on #2626
@bhopmann I am going to fix that

[2022-05-11 08:50] jaysoni-ash42 commented on #2373
@PeerRich  i want to work on this issue

[2022-05-11 09:31] PeerRich opened #2731 ""Published by ..." does not take _metadata.ts in account"
right now it seems like "Cal.com" is using `author` but and does not take the actual publisher from _metadata.ts

<img width="719" alt="image" src="https://user-images.githubusercontent.com/8019099/167818058-4524c72c-b099-4460-b07b-c7cbba9314b6.png">

<img width="432" alt="image" src="https://user-images.githubusercontent.com/8019099/167817661-d3da2242-4a82-4940-8145-7d9bac93247a.png">

![image](h

[2022-05-11 09:32] PeerRich commented on #2731
<img width="358" alt="image" src="https://user-images.githubusercontent.com/8019099/167818254-eeb59a2e-7bba-4a4d-8abf-a692ff9c04d9.png">
ahh seems like it's still hardcoded @zomars

[2022-05-11 09:35] PeerRich commented on #2731
submitted PR: https://github.com/calcom/cal.com/issues/2731

[2022-05-11 09:35] #2731 closed

[2022-05-11 09:40] niklasgrewe commented on #2221
@hariombalhara looks really good. One question about this: I currently use the React component in my Remix app like this:

[code]
it is also possible with this react component to listen to actions, if for example the booking was successful. The [documentation](https://developer.cal.com/embed/set-up-your-embed#actions) seems to only cover js at the moment:

[code]

[2022-05-11 10:10] hariombalhara commented on #2221
Yeah it is supported with that too. If you use the listener after the import Cal should be defined globally

[2022-05-11 10:26] PeerRich commented on #2373
fixed

[2022-05-11 10:26] #2373 closed

[2022-05-11 10:26] PeerRich commented on #2373
@jaysoni-ash42 already done.🙏

[2022-05-11 11:11] Emmanuel-Melon commented on #2630
I've tried to re-produce the bug using the steps you've shown but I get logged in normally every time.

[2022-05-11 11:37] jaysoni-ash42 commented on #2245
@hariombalhara  can i work on this issue?

[2022-05-11 11:38] hariombalhara commented on #2245
Sure. Thanks 🙏

[2022-05-11 12:25] Emmanuel-Melon commented on #2679
Any updates on this issue?

[2022-05-11 12:41] alishaz-polymath opened #2735 "Delete event-type confirmation modal is wonky on mobile"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Reference image:
![image](https://user-images.githubusercontent.com/52925846/167851979-2a61c441-6d68-4975-a6d0-bf1e234859c0.png)

### Steps to Reproduce

Try to delete an event-type from the event-type list (`/event-type/` page)

[2022-05-11 12:48] alishaz-polymath opened #2736 "Unable to delete a disabled event type"
### Issue Summary

A user's trial expired so the event type is no longer selectable but also it's not possible to remove it - they only need one event type. It's kind of annoying to have that event type just stuck there.

[2022-05-11 12:51] alishaz-polymath commented on #2735
On desktop, it shows undesired & unnecessary scrollbars
![image](https://user-images.githubusercontent.com/52925846/167853976-ab2e8799-624d-4761-8a0e-4d22776982a6.png)

[2022-05-11 12:54] OvieMudi commented on #1550
Hi @PeerRich, please can you provide more context on this feature?

[2022-05-11 13:12] with-shrey commented on #2682
@Jaibles
How would this work if i want to change the search term ?
<img width="403" alt="image" src="https://user-images.githubusercontent.com/25253907/167489270-b699abb8-d4c1-4de5-8a4e-195f7d5729e9.png">

[2022-05-11 13:40] hassanali1337 opened #2740 "@calcom/web:dev: error - TypeError: "ikm" must be at least one byte in length"
getting error after
yarn run dev
when tried to login it failed
**`Something went wrong. Please try again and contact us if the issue persists.`**

also giving error on cmd
[code]

[2022-05-11 13:40] MuriloAmarals commented on #2735
Hello @alishaz-polymath my Delete event type window doesn't show scrollbars.

![Captura de tela de 2022-05-11 09-23-36](https://user-images.githubusercontent.com/87545137/167863772-91e2bf35-3a3c-45a2-a7f0-8bc6cf3a1f36.png)

[2022-05-11 13:43] MuriloAmarals commented on #2735
Hello @alishaz-polymath on my delete event type doesn't appear these scrollbars.

![Captura de tela de 2022-05-11 10-40-29](https://user-images.githubusercontent.com/87545137/167864236-d812241d-4b79-456f-919f-79a89dcf0600.png)

[2022-05-11 13:46] alishaz-polymath commented on #2735
Hi @MuriloAmarals. Thanks for your input. This is weird 🤔 It shouldn't happen in my case either, so definitely worth exploring

[2022-05-11 13:52] hariombalhara opened #2741 "Jitsi seems to be broken"
This is the error when you try to install it.
![image](https://user-images.githubusercontent.com/1780212/167866187-362f4aeb-2a8d-4026-9078-284447f5c37f.png)

[2022-05-11 14:53] with-shrey opened #2742 "Bug(header): profile dropdown flickering on mobile"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

The profile dropdown in header flickers if i click on it.
On log press it seems to be working fine

### Steps to Reproduce

1. Open cal.com.on mobile
2. Tap on the user's icon/ avatar

Any other relevant information. For example, why do you consider this a bug and what did you expect to happen instead?

### Technical details

-

[2022-05-11 15:42] PeerRich commented on #1550
take a look at our zapier app but for integromat / make

[2022-05-11 16:28] PeerRich opened #2744 "WebEx App"
- Getting Started: https://developer.webex.com/docs/getting-started
- Webex integrations: https://developer.webex.com/docs/integrations

[2022-05-11 20:14] with-shrey commented on #2682
@agustif
Quick question

As you can see in the image above
the tab has a black border
which I think should change as per the user's theme color

Is there any CSS class that handles it?
Could you point me to someplace where this is being handled?

[2022-05-12 04:43] gmpreussner commented on #2396
I'm seeing the same problem with latest in `master` from today. I have `DATABASE_URL` in `/packages/prisma/.env`; adding it to `/.env` as well doesn't fix it for me. Connection to the database in general works - this fails during the migration process in prisma:build

I'm running `yarn build` on the command line.

[2022-05-12 04:51] gmpreussner commented on #2396
Running `yarn dev` works

[2022-05-12 06:36] milospuac commented on #2742
Thanks for reaching out. Our team will look into this

[2022-05-12 11:40] coachlivinglegend commented on #2225
@LuisChiej how do I get the integration configurations I'll need for the email integration?

[2022-05-12 13:03] Toledodev opened #2748 "Cancel Button not working correctly"
https://www.loom.com/share/8d457970cd924c4cb49ac39c12146249

[2022-05-12 13:29] #2748 closed

[2022-05-12 14:31] zomars commented on #2621
Assigning @agustif to lead and tagging @leog and myself to team up for this.

[2022-05-12 16:08] PeerRich commented on #2621
great stuff!

[2022-05-12 17:22] nag-ramone commented on #2740
You have to set up the `NEXTAUTH_SECRET` env variable.

[2022-05-12 18:24] yederlv commented on #1971
Hi everyone

someone has solved this issue in the self hosted version ?

[2022-05-12 19:16] leog commented on #2715
@Jaibles left a couple of comments in Figma, thanks for replying one already, these are pending:
 - Empty state for blank "Installed Apps" page
 - Where should we move "Webhooks" section? Settings/Developer works for me, I need signing off

[2022-05-13 08:06] sw506 commented on #1971
I did a clean reinstall, then it worked

[2022-05-13 08:52] Jaibles commented on #2715
@leog I have Webhooks in the Developer section if you navigate to the right.
https://www.figma.com/file/6sITaSOZ2JCXyKEYhC10P5/%F0%9F%96%B1-Cal-Web-App?node-id=6450%3A103438

I'll create an empty state for you now.

[2022-05-13 08:58] sw506 commented on #2358
Still not working correctly when I try to connect Teams on self-hosted I get redirected to this URL:

https://login.microsoftonline.com/common/oauth2/v2.0/authorize?response_type=code&scope=User.Read Calendars.Read Calendars.ReadWrite offline_access&client_id=<omitted>&redirect_uri=https://<CAL_URL>/api/integrations/office365calendar/callback&state={"returnTo":"https://<CAL_URL>/apps/installed"}

[2022-05-13 12:14] PeerRich opened #2753 "make hardcoded list of video providers dynamic based on apps in "video" category"
this file https://github.com/calcom/cal.com/blob/main/apps/web/lib/locationOptions.tsx

should be dynamic based on the video apps we have in the app store

[2022-05-13 13:40] PeerRich opened #2754 "replyTo should be booker's email"
when sending the emails "A new event has been scheduled." it should contain the email of the other person in the replyTo field

<br class="Apple-interchange-newline">
<img width="724" alt="image" src="https://user-images.githubusercontent.com/8019099/168296052-19631fb8-5ae4-463a-8995-e1cce471422c.png">

[2022-05-14 13:38] #2654 closed

[2022-05-14 17:07] Mitchell-Moore commented on #2701
Hey @CarinaWolli I think I have the fix for this. I'm a little new to open source but I'll try and make a pull request

[2022-05-14 18:47] #2569 closed

[2022-05-14 19:08] g4rry420 opened #2758 "Bug: Booking Buttons doesn't display text"
### Issue Summary
After booking is confirmed, when I clicked on `Back to bookings` link and navigated to `/bookings` then the button doesn't display the text.

A summary of the issue. This needs to be a clear detailed-rich summary.
This bug is discussed over here: https://calendso.slack.com/archives/C01NXDSRY9W/p1652320905257769

### Steps to Reproduce

1. Confirm a booking with any user and Wait

[2022-05-15 03:41] #2701 closed

[2022-05-15 11:16] aspiers commented on #2668
That's strange, I can't think of a reason why it would work for you and not me.  This highlights why we need a solution to #1171 - it would eliminate the guesswork when slots are unexpectedly unavailable.

[2022-05-15 18:16] vinyll commented on #2396
This ticket should be open again :man_shrugging:

[2022-05-15 20:08] gmpreussner commented on #2396
FWIW I was able to make it work by hard-coding the `DATABASE_URL` into `node_modules/.prisma/client/schema.prisma`. This is probably not great, because from what I understand this file is generated by the compiler.

[2022-05-16 09:48] Jaibles commented on #1478
Work in progress designs are here: https://www.figma.com/file/6sITaSOZ2JCXyKEYhC10P5/%F0%9F%96%B1-Cal-Web-App?node-id=6096%3A100073

[2022-05-16 11:04] agustif commented on #1476
This should be ready to be merged at website https://github.com/calcom/website/pull/93

The rest of stuff needed (in backend, next-auth, etc) has already been added previously by other PR's)

[2022-05-16 11:10] MuriloAmarals commented on #2758
Hey @g4rry420 , I'm already trying to reproduce this problem.

[2022-05-16 11:14] MuriloAmarals commented on #2758
In my application the buttons have display text.

![Captura de tela de 2022-05-16 08-12-39](https://user-images.githubusercontent.com/87545137/168580822-7281fb61-1159-4961-aef9-e9eebf4fb3b5.png)

[2022-05-16 11:20] MuriloAmarals commented on #2754
Hey @PeerRich, i'm working on this issue.

[2022-05-16 11:54] coachlivinglegend commented on #2316
@dev-eth @hariombalhara what's the update on this? I can reproduce this bug and i'm already trying to fix it.

[2022-05-16 12:30] agustif commented on #2753
Would an apps endpoint at our api be useful for such things? or better keep this at web.

Im thinking something of the lines of:
`{endpoint}/apps/installed?category="video"`

[2022-05-16 12:41] Toledodev opened #2762 "Implement dark mode in all site"
The project don't have dark mode in all components

Currently the only component that has dark mode is AvailabilityPage(client-cal.com/apps/web/components/booking/pages/AvailabilityPage.tsx)

https://www.loom.com/share/6f8bc62260a644f6b9eb296d13075922

[2022-05-16 14:01] adriaanvanrossum opened #2763 "`<br /><br />` in Additional notes"
When having additional notes, the new lines are hard coded:

<img width="608" alt="image" src="https://user-images.githubusercontent.com/1079135/168609920-94c49309-00be-4fba-9901-ea6ce873612b.png">

[2022-05-16 14:03] adriaanvanrossum commented on #2763
Duplicate of https://github.com/calcom/cal.com/issues/1972

[2022-05-16 14:03] #2763 closed

[2022-05-16 14:29] sean-brydon commented on #2762
@Jaibles Is this something we have any designs/capacity to start doing any time soon?

[2022-05-16 14:33] arthur1041 commented on #2176
I can work on this issue.

[2022-05-16 15:35] Toledodev commented on #2192
Can you explain to me how i connect the "stripe account"?

[2022-05-16 15:44] #2245 closed

[2022-05-16 15:59] Toledodev commented on #2758
![Screenshot from 2022-05-16 12-57-37](https://user-images.githubusercontent.com/87545086/168634802-7fbd3651-ed9d-47e8-9b65-f82dbad4e9fb.png)
Please look at the Brand color

[2022-05-16 15:59] Toledodev commented on #2758
Could be inverted

[2022-05-16 17:23] #2665 closed

[2022-05-16 17:28] gabriellferreira-dev commented on #2467
I will work on this problem.

[2022-05-16 17:55] LuisChiej opened #2771 "Login error message doesn't disappear when button is clicked again"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

An error message appears when wrong login details are entered, doesn't disappear when the right details are

### Steps to Reproduce

1. Go to the login page
2. Enter wrong login details and try to login, an error message is shown
3. Enter the right login details and try again, error message remains there

#### Any other relevan

[2022-05-16 17:57] #2482 closed

[2022-05-16 20:09] harish-kamath commented on #2482
Looks great! 🚀

[2022-05-16 20:20] #2009 closed

[2022-05-16 23:24] miventure opened #2775 "Caldav / Outlook integration issue"
Found a bug? Please fill out the sections below. 👍

### Users getting an error when they book meeting with me

A summary of the issue. This needs to be a clear detailed-rich summary.

### Steps to Reproduce

1. https://cal.com/jasoncrystal/30min visit this link
2. book a meeting, get an error, but meeting comes through on my calendar seemingly successfully

Any other relevant information. For exam

[2022-05-16 23:35] scantreed opened #2776 "Issue with yarn dx; docker-compose.yml is invalid"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When following the instructions on https://docs.cal.com/self-hosting/installation, after I run `yarn dx` I get the following error:

<img width="1058" alt="image" src="https://user-images.githubusercontent.com/104802114/168698717-6800176e-9838-4f66-b844-1979f2cb4ee3.png">

Furthermore, the instructions for self hosting keep cha

[2022-05-16 23:51] mzocher-gl opened #2778 "Migration 20220502154345_adds_apps does not create app entries"
### Issue Summary
When moving the app store keys/secrets from .env to the App table, the migration [20220502154345_adds_apps](https://github.com/calcom/cal.com/tree/main/packages/prisma/migrations/20220502154345_adds_apps) does not create all app keys, and instead has a blank table.  Clicking on Apps->App Store shows an empty list, and trying to connect services under installed apps gives a 400 er

[2022-05-17 04:31] jaysoni-ash42 commented on #2771
@LuisChiej  i want to work on this.

[2022-05-17 05:31] hariombalhara opened #2781 "RFC: Routing Forms"
# Routing Forms

## Why?
It would allow a booker to connect with the right person or choose the right event, faster. It would work by taking inputs from the booker and using that data to route to the correct booker/event as configured by Cal user

## Types of Routing
- Route to particular Cal Link.
- ~~Route to booking with a particular member of a team event that's the best match. It can be like

[2022-05-17 08:42] alishaz-polymath commented on #2013
The fallback Avatar is working well, so that's good news. But the Nameless user still happens and one way for that to happen is when a new `Team Member` is invited to a team, but they don't have an account with Cal yet, there is no username information associated with their account.
The best way to overcome this and any other potential way of having no username is through mandating a username sele

[2022-05-17 09:42] Emmanuel-Melon commented on #2762
I'd like t work on this, are there any designs to work with?

[2022-05-17 10:36] jaysoni-ash42 commented on #2088
@milospuac can i work on this issue

[2022-05-17 11:05] hariombalhara opened #2786 "If a caldav server stops responding, it takes Installed Apps Page down."
Steps
- Add a CalDAV  URL that works
- Make the corresponding server stop responding. The connection should be made but it should just not respond with any byte like https://blackhole.webpagetest.org/
- See that installed page keeps loading forever and the worst thing is you can't change the URL so that the issue can be fixed

[2022-05-17 11:12] hariombalhara opened #2787 "Confirm Booking gives 500 if it has Jitsi location in it but Jitsi was disconnected"
### Steps to Reproduce

- First add Jitsi as a location to your event type(that requires confirmation)
- Do a booking with the cal link
- Disconnect Jitsi
- Try to confirm the booking - 500 error comes.

[2022-05-17 11:15] hariombalhara commented on #2741
Re tested today and it seems to be fixed. I feel it would come back again. Closing it for now.

[2022-05-17 11:22] hariombalhara commented on #2787
@zomars @Jaibles What should happen in such a scenario?
- Do we fallback to default Cal Video ?
- Do we choose the new location set in event type ? But we might not always be able to use it in for the locations where the booker has to put information during booking.

[2022-05-17 11:35] sean-brydon commented on #2787
Falling back to cal video would be the ideal - however, we would need to take into consideration if any self-hosted user has cal video installed too.

[2022-05-17 11:57] dplanella opened #2789 "Cannot log in: "Submit" button in 2FA form always disabled"
### Issue Summary

An existing user with two factor autenthication (2FA) enabled cannot log in, as the 2FA dialog's `Submit` button is never enabled and cannot be pressed, even after having correctly entered the 2FA code. Using `Enter` instead of the button has no effect either.

### Steps to Reproduce

With an existing user account with two factor autenthication enabled:

1. Go to https://app.cal

[2022-05-17 13:15] #2789 closed

[2022-05-17 13:59] MatheusBeniniF opened #2793 "Button disabled when the user put the wrong password"
Found a bug? Please fill out the sections below. 👍

A summary of the issue. This needs to be a clear detailed-rich summary.

Button disabled when the user put the wrong password
Loom video: https://www.loom.com/share/56536011a7ff41fcb6153bd67658ecce

### Steps to Reproduce

1. Go to Login page
2. Put your email with one wrong password
3. Look the button is disabled

Any other relevant information.

[2022-05-17 14:04] Toledodev commented on #2793
I would like to take a look on this issue with you :+1:

[2022-05-17 14:25] leog opened #2794 "RFC: Payment support for recurring events"
### Goals

When creating a recurring event type, you will not be able to enable payment at this moment. See https://github.com/calcom/cal.com/pull/2755#issuecomment-1127909439. The idea is to be able to support payment for that kind of event type.

### To be defined

 - Do we try to make payments work the same as a regular event type for each instance of the recurring event?
 - Do we enable chargi

[2022-05-17 14:29] Awisemaninmotion opened #2795 "Allow for self hosted accounts to have access to the broader cal.com marketplace"
### Is your proposal related to a problem?

There's no good reason why the Cal.com marketplace shouldn't be accessible to self hosted accounts.
I'm frustrate that there's no clear path, or documentation on how to install integrations listed as "not installed" from the integration page.

### Describe the solution you'd like

Offer a seamless way for self hosted accounts to access and install items

[2022-05-17 14:39] zomars commented on #2787
Let’s just remove the location. Let the user know so he can choose a new one if desired

[2022-05-17 14:42] Thiagomn1 commented on #2714
Hello, any updates on this? I was able to reproduce the bug as described and would like to work on it

[2022-05-17 15:26] emrysal commented on #2794
I think it can be summed up into three different areas of focus:

* Cancellation policy
* How to handle recurring payments - like saving card details and charge per event, or all up front.
* How organizers can control their payments - refunds, charges.

[2022-05-17 16:14] gibranlamarca commented on #2793
Working on it

[2022-05-17 16:17] jvence commented on #2396
Having same issue

[2022-05-17 16:24] zomars commented on #2787
@andreaestefania12 made something similar when making a paid booking and then disconnecting the Stripe integration:

![image](https://user-images.githubusercontent.com/3504472/168861092-f9205380-4979-4a88-b5ab-3a9688ab6604.png)

[2022-05-17 17:56] Thiagomn1 commented on #2742
Hello, I'm working on this issue

[2022-05-17 20:49] Azhariel opened #2797 "Long display names break calendar div"
### Issue Summary

While working on [#bug x cross](https://github.com/calcom/cal.com/issues/794) I noticed that when setting the user's display name as a long string, the calendar div breaks as seen here:
![image](https://user-images.githubusercontent.com/9439404/168905766-67e84bfe-d57a-4c92-8e78-155a5a080323.png)

### Steps to Reproduce

1. Set full name as a long string on `/settings/profile/` (

[2022-05-17 21:56] PeerRich opened #2798 "purge unused i18n string_keys"
I've found some unused string_keys already in the i18n base files and I think we should purge them so the translators don't translate strings that are not being used anymore.

any ideas if there is a good automation for it?

[2022-05-17 21:56] PeerRich commented on #2797
this should be a quick fix with https://tailwindcss.com/docs/text-overflow

anyone down?

[2022-05-17 21:57] PeerRich commented on #2794
@Jaibles

[2022-05-17 21:59] PeerRich commented on #2762
maybe for cal.com 2.0 @Jaibles?

[2022-05-17 22:02] PeerRich opened #2799 "Lark Suite"
https://www.larksuite.com/

[2022-05-17 22:03] PeerRich commented on #2799
@joeauyeung do you think we can get this in to v.1.7?

[2022-05-17 22:04] PeerRich commented on #2621
@agustif lets work on this after merging the API Keys PR. would be massive if we find a way to make this abstraction work for at least
- google calendar
- zoom
- outlook

since they have the longest verification process

[2022-05-17 22:04] lharries opened #2800 "Event types breaking when no attendee has been added"
I'm trying trying to edit one of our team events events but it's not loading the page. I suspect this is because there's no event attendee attached (as this is the only difference to the other events)

Please see the loom video for more info: https://www.loom.com/share/1f2fb6222142497ba0ece7e31a33a9c2

https://calendso.slack.com/archives/C01NXDSRY9W/p1652738007170249

[2022-05-17 22:04] PeerRich commented on #2781
great RFC!

[2022-05-17 22:05] PeerRich commented on #2781
yes this should be an "Advanced Routing" app

[2022-05-17 22:05] PeerRich commented on #2781
btw. I think we should offer this feature both with a simple UI **and** headless via API only. we could easily just provide the logic and then pass parameters into the URL to get the correct person for the booking

[2022-05-17 22:06] PeerRich commented on #2781
because I imagine most people want to "bring their own form" and we're likely doing less of a good job with the form builder than other products that focus 100% on form building

[2022-05-17 22:10] Azhariel commented on #2797
I'm on it :)

[2022-05-17 23:50] Azhariel commented on #2797
Are text-overflow methods such as [truncate](https://tailwindcss.com/docs/text-overflow#truncate) prefered over [break-words](https://tailwindcss.com/docs/word-break)? Both are working on my tests, but some data is lost with truncate:

truncate:
![image](https://user-images.githubusercontent.com/9439404/168930079-8a4bd266-e439-4900-8106-e8bc02b69734.png)

break-words:
![image](https://user-images.

[2022-05-18 00:11] Azhariel commented on #794
Tried to reproduce this error bug now I have some questions.
I set the user's display name and the team name as long `<img>` tags, but they weren't compiled shown as images on the email. This does show the issue of long strings being permitted as display name and team name, but that's another issue.

This was my result:
![image](https://user-images.githubusercontent.com/9439404/168931548-1933a16f-

[2022-05-18 00:12] gabamnml commented on #1888
same happens when run `next build` and `next start`

[2022-05-18 05:25] jaysoni-ash42 commented on #2800
@lharries  can i work on this

[2022-05-18 08:12] milospuac commented on #2795
Thanks for sharing this. One of our team members will look into this.

[2022-05-18 08:15] milospuac commented on #2775
Hey Jason. Just wanted to reply to you in Slack but let's keep it here. What is the CalDav that you're using?

[2022-05-18 08:17] milospuac commented on #2776
Thanks for reaching out. Our team will look into this

[2022-05-18 08:18] milospuac commented on #2778
Hi there. Thank you for reaching out and bringing this to our attention. Our team will look into this.

[2022-05-18 09:43] Jaibles commented on #2586
Discussing this with @baileypumfleet - have decided that it might be a good idea to hold off doing this until the counts are going to be higher? Will make a note to add this to the designs for the app store improvements.

[2022-05-18 09:51] hariombalhara commented on #2781
@PeerRich  Headless can be in the following 2 ways. I believe both of them makes sense.
- User would post the form data to an HTTP endpoint and in turn, we would respond with a redirect that should happen. User still has an option to do something in between(update some UI e.g.) and then redirect to the URL provided.
- User has a form on his website and Cal Link is also embedded. When a website vis

[2022-05-18 10:15] cveneziani commented on #588
Hey there, I'm the author of the message from the screenshot :point_up:

After sending this report, I joined the cal.com Slack team and found a thread mentioning my issue.
I tried what has been proposed: switch from **digest** to **basic authentication**, and it finally works.

What about providing a link next to the `Could not add this caldav account` ?
The link could point to a page that lists a

[2022-05-18 10:29] Jaibles commented on #2682
Hey @with-shrey, I've included two options for changing the search term, one option is to go back to the previous step. The other option if it's possible, would be to allow the person to type a new search term & hit enter. [Designs also updated in Figma](https://www.figma.com/file/6sITaSOZ2JCXyKEYhC10P5/%F0%9F%96%B1-Cal-Web-App?node-id=6358%3A101549).

![Image](https://user-images.githubuserconten

[2022-05-18 10:49] with-shrey commented on #2682
@Jaibles
Attaching the SS of what i have currently

I think going back to change search keyword is a little non-intuitive.
Let me know your thoughts ?

<img width="840" alt="Screenshot 2022-05-17 at 4 54 00 PM" src="https://user-images.githubusercontent.com/25253907/169021820-195fe4ad-700d-4484-9c6b-065e1ed9f32e.png">
<img width="765" alt="Screenshot 2022-05-17 at 4 53 47 PM" src="https://user-ima

[2022-05-18 11:52] miventure commented on #2775
We have paid cal.com <http://cal.com/> hosted accounts connecting to our NextCloud calendar via caldav.

-dvd

[2022-05-18 13:38] matheusmuniz03 commented on #1888
hi voyager, could you tell me more about this the Integration button? I'm not finding him in cal.com

[2022-05-18 14:05] Jaibles commented on #2682
@with-shrey this looks great!! Can they just research with the same input you have there then? If so I think this is perfect solution and no need to go back.

[2022-05-18 14:32] Jaibles commented on #274
This is now handled in each Event Type under "Advanced Settings"
<img width="896" alt="CleanShot 2022-05-18 at 15 26 56@2x" src="https://user-images.githubusercontent.com/4536123/169066139-abd10f02-1f17-4c4b-8af2-a6b2690af820.png">

For this scenario:

We do this at a global level. As soon as you connect a calendar and check it to check for clashes, we will do this across all your event types.

[2022-05-18 14:36] Jaibles commented on #841
Resolved

[2022-05-18 14:36] #841 closed

[2022-05-18 14:38] Jaibles commented on #672
Resolved

[2022-05-18 14:39] Jaibles commented on #572
We have done a lot of work around how rescheduling works that should resolve this.

[2022-05-18 14:39] #572 closed

[2022-05-18 14:42] Jaibles commented on #693
Thanks for reporting 🙏 This should be resolved now

[2022-05-18 14:42] #693 closed

[2022-05-18 14:44] JOduMonT opened #2811 "Language not coherent"
I choose FRANÇAIS for french
![image](https://user-images.githubusercontent.com/5204724/169068589-02105bb2-784e-4b61-a5fb-b3a7316d33d2.png)

then I made an event
which I embed in my website
![image](https://user-images.githubusercontent.com/5204724/169069013-19598102-7fc4-4006-9b31-8387e8ac7af2.png)

and then the Calendar show days and months in English

Also; it would be very nice to define the l

[2022-05-18 14:46] Jaibles commented on #1938
https://github.com/calcom/cal.com/pull/2128

[2022-05-18 14:54] MatheusBeniniF commented on #2811
in deploy and my localhost the language is correct
![image](https://user-images.githubusercontent.com/88898100/169071788-46126beb-68a9-433f-b2b5-aa7f0e52bff7.png)

[2022-05-18 15:21] Jaibles commented on #2762
I will include it for 2.0

[2022-05-18 15:50] Jaibles commented on #2800
Resolved with https://github.com/calcom/cal.com/pull/2803

[2022-05-18 15:50] #2800 closed

[2022-05-18 15:53] Jaibles commented on #2682
Looks good to me, thanks @with-shrey 🙏 really appreciate you taking care of these improvements.

[2022-05-18 16:15] lharries commented on #2800
Thanks for fixing!

[2022-05-18 16:17] lharries opened #2813 "New EventTypes created within a team have the "Availability" connected to the creator rather than the attendee"
### Issue Summary

New EventTypes created within a team have the "Availability" connected to the creator rather than the attendee

This is breaking the ability for us to create new eventtypes for the team

### Steps to Reproduce

1. Create a new EventType within a team
2. Replace yourself as an attendee with a different attendee that has different working hours "Availability"
3. Observe that the n

[2022-05-18 16:35] Jaibles opened #2814 "truncate user about text on team public page"
If a user has a long About section when they are displayed on the about page it will visually break the layout.

![Image](https://user-images.githubusercontent.com/4536123/169095827-aeca114d-f201-4c05-9ee6-41edc5df28a7.png)

Solutions proposed (but not yet signed off) in [Figma](https://www.figma.com/file/6sITaSOZ2JCXyKEYhC10P5/%F0%9F%96%B1-Cal-Web-App?node-id=6993%3A127726)

At the very least we

[2022-05-18 16:54] MuriloAmarals commented on #2813
I'm working on this

[2022-05-18 16:54] MatheusBeniniF commented on #2814
im working on this now

[2022-05-18 16:56] lharries commented on #2813
Thank you @MuriloAmarals!

[2022-05-18 16:57] MatheusBeniniF commented on #2814
I'm working on this

[2022-05-18 17:00] lharries commented on #2813
@MuriloAmarals I've added the expected behavior to the comment "The expected behavior is that the calendar event's availability should match that of the attendee for a team event. Currently, it's matching mine as (I think) the creator of the event"

[2022-05-18 17:04] MuriloAmarals commented on #2813
@lharries Ok, i will try to reproduce, any problem i will update you.

[2022-05-18 17:38] artistro08 opened #2815 "Integration for n8n"
### Is your proposal related to a problem?

I'd love for you guys to integrate with n8n, an alternative to Zapier.

### Describe the solution you'd like

I would love to have an API integration that connects with n8n. It would provide everything that you guys have now.

### Describe alternatives you've considered

Zapier integration

### Additional context

[2022-05-18 17:43] Chetan-B-B commented on #2754
I'll also work on this

[2022-05-18 17:59] MuriloAmarals commented on #2813
Did you reproduce this bug on localhost or cal.com deploy ?

[2022-05-18 18:50] Jaibles commented on #2811
@JOduMonT I would recommend creating a separate issue for this feature request :)

in that case, I could have one event in English and one in French without having to manage 2 accounts.

[2022-05-18 18:59] Jaibles commented on #2714
@Thiagomn1 this was supposed to be resolved in https://github.com/calcom/cal.com/issues/2714. Can you confirm you're still experiencing this issue?

[2022-05-18 19:46] Thiagomn1 commented on #2714
@Jaibles I just gave it another test and seems to be working properly now

[2022-05-18 19:47] Jaibles commented on #2714
Great! Closing as resolved.

[2022-05-18 19:47] #2714 closed

[2022-05-18 20:05] Jaibles commented on #2224
I can't recreate this issue. Just tested a booking with @baileypumfleet
<img width="1458" alt="CleanShot 2022-05-18 at 21 04 37@2x" src="https://user-images.githubusercontent.com/4536123/169146375-70811fbc-c0f8-42ab-9130-3cc1f8e9d541.png">

[2022-05-18 20:06] Jaibles opened #2816 "Opt-in booking confirmation page & email are inconsistent"
After making a booking request with someone who has Opt-In bookings enabled, it is not obvious the booking is not confirmed. The icon looks like a success and at a glance the header reads like one too. The title actually needs to read more like the subtitle. It's also inconsistent with the email.

The confirmation page
![Image](https://user-images.githubusercontent.com/4536123/169147068-84df02d9-4

[2022-05-18 20:28] PeerRich commented on #2329
this is actively being worked on by @emrysal and will go live this month. its easier said than done– required us to rebuild the entire scheduling logic from scratch to cache the availability

[2022-05-18 20:28] PeerRich commented on #2815
@CarinaWolli you could give this a spin if you want to

[2022-05-18 20:53] matheusmuniz03 commented on #2630
@AnandBaburajan I tried to reproduce this problem, but apparently everything is ok.
my loom video: https://www.loom.com/share/44926623bb4e4d0c89d05e20d6f82150

probably this error is something cache related. try doing this in an anonymous tab

[2022-05-18 21:01] Jaibles opened #2817 "Dynamic group links (Collective)"

[2022-05-18 21:02] Jaibles commented on #2817
Completed https://github.com/calcom/cal.com/pull/2239

[2022-05-18 21:02] #2817 closed

[2022-05-18 21:03] EclipseKnight opened #2818 "MS Teams bad request to graph api"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

MS Teams api throws bad request when making a post request to the graph api on createMeeting function call in the VideoApiAdapter.ts file.

[code]

### Steps to Reproduce

1. clone clean repository following guide in readme
2. configure Office environment variables appropriately
3. try to schedule email with event-type location

[2022-05-18 21:05] #2681 closed

[2022-05-18 21:05] #1972 closed

[2022-05-18 21:05] #2347 closed

[2022-05-18 21:08] #1530 closed

[2022-05-18 21:43] Azhariel commented on #2758
The steps I did to reproduce consistently are:
1. Accept upcoming booking
2. Click Reschedule -> edit booking
3. Make any changes and confirm reschedule
4. On "this meeting is scheduled" page, click the last link, "back to bookings"
5. Button text won't display

I agree, will look into this. Also, refreshing the /bookings page goes back to expected behaviour.

[2022-05-18 21:46] Jaibles commented on #1708
Personally I think there's a huge benefit to seeing events I'm attending as well as the ones where I'm the organiser. I do agree it's somewhat of a hidden feature but I think the solution to it is to call them out (and potentially have them filterable) as opposed to removing them.

In the long run we want cal to become where you go to see your events so the more of your events we show the better.

[2022-05-18 22:54] lharries commented on #2813
I did it via the cal.com deploy - however I've tried to reproduce it again and haven't been able to do so successfully

[2022-05-18 23:31] Mitchell-Moore commented on #2758
I think it is something to do with tailwind setting dark mode on bookings page then when you go "back to bookings" the document class is still set to dark.

![Screen Shot 2022-05-18 at 8 08 08 PM](https://user-images.githubusercontent.com/47459168/169171871-22840b72-8af8-4137-b741-4419fc00d20b.png)

[2022-05-18 23:44] Azhariel commented on #2758
Might be related to this that pops after clicking Reschedule:
`index.js?874c:9 You are loading @emotion/react when it is already loaded. Running multiple instances may cause problems. This can happen if multiple versions are used, or if multiple builds of the same version are used.`

I've recorded a video with the fastest way to reproduce the bug: simply click "back" after going to the Reschedule

[2022-05-19 06:30] kelseysmithdesign commented on #2329
Awesome @PeerRich! Thanks @emrysal! I'm excited to see the update. I see now that it's more work than expected. I really appreciate it. I'm a big fan of cal.com - thanks for all that you do.

[2022-05-19 06:34] Jaibles commented on #2630
@AnandBaburajan we did some work on this issue recently (https://github.com/calcom/cal.com/pull/2594). Can you try clear your cache or test in incognito and see if you still experience the issue?

[2022-05-19 06:44] Jaibles commented on #2481
This will be tackled in https://github.com/calcom/cal.com/issues/2794

[2022-05-19 06:49] #1944 closed

[2022-05-19 06:49] #1376 closed

[2022-05-19 07:29] hariombalhara commented on #2224
Looks like it got fixed. Closing it.

[2022-05-19 07:29] #2224 closed

[2022-05-19 07:44] hariombalhara commented on #2787
I am assuming there would be no confusion for the booker as he might have received some information on email about location(even before confirmation)

Also, there can be 2 types of bookings.
- Confirmed and still not happened(day/time hasn't come yet) =>  email has already been sent with Jitsi link (so they should get an email with update on location change)
- Pending Confirmation => Possibly some

[2022-05-19 07:50] #2742 closed

[2022-05-19 10:21] AnandBaburajan commented on #2630
Ah, worked in incognito. Thank you.

[2022-05-19 10:21] #2630 closed

[2022-05-19 11:08] MuriloAmarals commented on #2816
Hey @Jaibles, i can do this optimisation.

[2022-05-19 11:10] MuriloAmarals commented on #2813
Oh ok, so will you close the PR ?

[2022-05-19 12:58] EclipseKnight commented on #2818
In addition, it seems the issue that also arises is an undefined refresh token being passed. Added some print outs to verify this
[code]

[2022-05-19 13:20] gabriellferreira-dev commented on #2541
I will check this situation

[2022-05-19 14:24] hassanali1337 opened #2822 "Login Session Issue"
i tried the app on 2 device

i loggedin in one account
and then logged in second account

then the session of first user replace with the second one
![image](https://user-images.githubusercontent.com/23401466/169318127-b1f3596d-988d-4007-86d1-6f4501529bbe.png)

[2022-05-19 14:49] gibranlamarca commented on #2822
I'll look into it @hassanali1337!

[2022-05-19 14:52] #2212 closed

[2022-05-19 15:04] gibranlamarca commented on #2822
@hassanali1337 I couldn't reproduce the issue.. I logged in here in my Mac with Account 1 and then logged at my Desktop with Account 2. Refreshed both pages and they still have different sessions. Could you explain how can I reproduce the issue? Or maybe try doing it again

[2022-05-19 16:40] JoeyFenny commented on #2542
I agree. Just some sort of basic tracking, mainly something like: How many people visited the page? How many of those people actually booked a call? I think that would suffice.

[2022-05-19 17:28] lharries opened #2823 "Bug: pre-fill email and name not working"
### Issue Summary

When I pre-fill the email and/or name it flashes it on the screen but then removes it

Please see the loom video to demonstrate it https://www.loom.com/share/c1d21e3279084a6b923de6f5b6bec0d3

### Steps to Reproduce

1. Go to https://cal.com/team/fella-health-engineering/health-coach-checking-staging?email=test@test.com

Expected behavior: the email should be pre-filled as descri

[2022-05-19 17:43] matheusmuniz03 commented on #1526
@jtylerhartley can you tell me if the bug still occurs? I couldn't reproduce it

[2022-05-19 17:52] Thiagomn1 commented on #2557
I'm working on this issue

[2022-05-19 17:58] MychaelJales commented on #2823
I was able to reproduce just by using your link. With my link it works normally.

https://www.loom.com/share/8255dd839ad74f3fbfea32240abbf26d

[2022-05-19 19:39] Toledodev opened #2824 "Options button at event-types flicking"
### Steps to Reproduce

1. Create a meeting
2. In event types click on the button "settings" on the meeting

Loom video: https://www.loom.com/share/d891275210504361b2164e64bc8e8423

[2022-05-19 19:39] matheusmuniz03 commented on #2824
hi @Toledodev, i will take a look at it

[2022-05-19 19:53] matheusmuniz03 commented on #2824
rafael in my localhost the bug doesn't happen, just in deploy.

my loom: https://www.loom.com/share/23fde678acf8467c8122ab2fbe04cded

[2022-05-19 20:44] riz-like-u opened #2826 "Able to bypass signin screen in incognito window,"
Login to chrome browser and then open a private window if I navigate to localhost\event-types it let me through

[2022-05-19 22:43] CarinaWolli commented on #2815
I will take a look into that!

[2022-05-19 22:59] Azhariel commented on #2758
I still haven't made much progress at adressing the root cause of the issue, but have found a way to brute force a fix.
At `apps\web\components\BookingsShell.tsx`, add line 31:
![image](https://user-images.githubusercontent.com/9439404/169416752-14718797-9e06-454d-939e-8b347e7f379b.png)
This doesn't seem to break anything right now, but WILL break later implementations of themes.

At the time, it

[2022-05-19 23:05] agustif commented on #2815
I think @alishaz-polymath is working on this as he mentioned (n8n) when we were working together on adding the new webhooks CRUD API.

I would ping him to see how is that going!!

[2022-05-19 23:20] Azhariel commented on #2826
Are you able to reproduce it consistently? Are there any other steps?
It's returning me the expected 401 and redirect

[2022-05-20 05:08] alishaz-polymath commented on #2815
Thanks @agustif
Yes, I'm currently working on creating the Cal trigger node for n8n.

[2022-05-20 06:28] hassanali1337 commented on #2822
@gibranlamarca i dont know why it works for me twice ,
all i did just login in 2 difference devices and it replace one of their session with others ,

there other issue also whenever you are logged into app and you open the app in Incognito mode then it will took you to the dashboard instead of login page
same as if i logged in into chrome and open the application in (edge , firefox ) then it also

[2022-05-20 08:49] hassanali1337 commented on #2822
@gibranlamarca also if you login app into chrome and
then open Incognito mode of chrome
keep the both window open and logout from one window it will not let you logout  and return you to event-type page

[2022-05-20 12:12] luksdev commented on #2824
I am working on this issue

[2022-05-20 12:26] gibranlamarca commented on #2826
I couldn't reproduce the issue either!

[2022-05-20 12:28] gibranlamarca commented on #2822
@hassanali1337 I couldn't reproduce this Incognito mode issue either, but it was mentioned yesterday at issue #2826. I'll keep looking into this.

[2022-05-20 14:07] PeerRich opened #2831 "Event-Type Dropdown Menu flickering when pressed too far down"
### Issue Summary

when clicking the menu dropdown too far down, the menu closes immediately. I believe it has something to do with the new "transition" animation that we have added

### Steps to Reproduce

- https://app.cal.com/event-types
- click "dot" menu at the lower end of the button

https://user-images.githubusercontent.com/8019099/169545387-ed03c2f6-b070-446a-b15d-e5154b8889da.mov

[2022-05-20 14:08] PeerRich commented on #2831
just noticed this was submitted already #2824

[2022-05-20 14:08] #2831 closed

[2022-05-20 14:08] PeerRich commented on #2824
I believe this is caused by a new animation that we have added

[2022-05-20 14:10] PeerRich commented on #2826
@riz-like-u what information is being shown? Can you provide a loom.com video or birdeatsbug.com video? If not, we need to close this as no one of us can reproduce it.

what browser are you using? Maybe your incognito mode is taking cache/cookies from your main browser

[2022-05-20 14:12] PeerRich commented on #2814
no need to add "RFC" for this type of issue @Jaibles

[2022-05-20 14:33] palerdot commented on #2793
I have been looking into this issue and have a PR that addresses this problem - https://github.com/calcom/cal.com/pull/2832

This issue is tricky because the existing condition `form.formState.isSubmitted && !twoFactorRequired` is ambiguous and always disables the login CTA for non two factor login. If we have truly disable the button when the network call is in progress, we cannot rely on `formSt

[2022-05-20 18:23] nag-ramone opened #2839 "calendarBusyTimes checks error - too many data"
### Issue Summary

Booking an Event check for user's availability between Cal.com DB and for each calendar the user has integrated.
The array `calendarBusyTimes` collects the whole booking data from every calendar but it collects the whole dataset, not only for the dates I've selected.

### Steps to Reproduce

1. Create at least 10 events in cal.com calendar
2. Integrates a Google Calendar with a

[2022-05-20 21:34] PeerRich opened #2844 "away mode should remove you from team events"
<img width="285" alt="image" src="https://user-images.githubusercontent.com/8019099/169615445-765a2e54-f6f6-426e-93aa-68b46bbbbdc9.png">

going "away" should remove you from collective team events until you are back again

[2022-05-20 21:45] leog commented on #2844
So, the idea is to check if a user is marked as away to mark someone as away in collective team events. Once they are back, they mark themselves as online or similar and they will show in collective team events as usual. Right? Some visuals would be great to guide the changes needed, summoning 🕯@Jaibles🕯

[2022-05-20 22:44] PeerRich commented on #2844
yes!

[2022-05-20 22:45] PeerRich commented on #2844
what do we need visuals for? maybe a toast is enough?

[2022-05-22 00:14] HazemHeakal opened #2847 "docker-compose issue"
When start 'yarn dx' command get this error,

"./docker-compose.yml' is invalid because services.postgres_is_ready.depends_on contains an invalid type, it should be an array error Command failed with exit code 1"

[2022-05-22 12:38] PeerRich commented on #956
hey @natelindev can you check out Kerio Connect as a CalDAV source?

[2022-05-22 12:41] PeerRich commented on #2794
yeah people should be able to to select a cancellation policy:
- do not refund
- refund
- partially refund

advanced: maybe even a cancellation period:
- free cancellation 7 days before event

last-minute rescheduled should almost never refund in my opinion.

we can also leverage daily.co's API to detect no-shows

[2022-05-22 18:02] saschafoerster commented on #956
Would love to help debugging, if I can do something let me know.

[2022-05-22 19:45] PeerRich commented on #956
that would be great!

[2022-05-23 10:34] #2316 closed

[2022-05-23 11:12] #2678 closed

[2022-05-23 11:17] #2735 closed

[2022-05-23 11:55] samizdis commented on #2236
Hey there, just checking in on this. It looks from [this PR](https://github.com/calcom/cal.com/pull/2652) that there was a code fix added to v1.6, but I still have the issue when using `© 2022 Cal.com, Inc. v.1.6.0-h-PRO`.

[2022-05-23 11:56] arimrubin commented on #2236
All fixed on my end. Thank you. 

  On Mon, 23 May 2022 at 7:55, ***@***.***> wrote:

Hey there, just checking in on this. It looks from this PR that there was a code fix added to v1.6, but I still have the issue when using © 2022 Cal.com, Inc. v.1.6.0-h-PRO.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you commented.Message ID: ***@***.***>

[2022-05-23 13:25] samizdis commented on #2236
I think my full-day events are marked `TRANSP:TRANSPARENT`, see https://icalendar.org/iCalendar-RFC-5545/3-6-1-event-component.html and e.g.

Hour-long blocking event (busy):
[code]

Full-day non-blocking event (free):
[code]

[2022-05-23 15:31] hassanali1337 opened #2852 "[next-auth][error][JWT_SESSION_ERROR]"
getting error on production
[code]

[2022-05-23 15:45] zomars commented on #2847
Hey @HazemHeakal what version of docker are you using?

[2022-05-23 16:02] HazemHeakal commented on #2847
Docker version 20.10.12
docker-compose version 1.26.2

[2022-05-23 17:20] #2793 closed

[2022-05-23 17:40] HazemHeakal commented on #2847
No it's Ubuntu 20 server

[2022-05-23 17:57] SrIzan10 opened #2854 "Add integration for Mirotalk"
### Is your proposal related to a problem?

No, I just want an integration for Mirotalk because this is a nice selfhosted web meetings website.

There's a Rest API which you can use to create meetings.

### Describe the solution you'd like

Add Mirotalk for creating meetings in cal.com

### Describe alternatives you've considered

nothing?

### Additional context

nope.

[2022-05-24 12:00] joshuakaufman opened #2856 "Making calendars easier to find"
### Is your proposal related to a problem?

I'm a new user to Cal.com and was frustrated when I couldn't find where to add new calendars to the app.

### Describe the solution you'd like

Users can’t use Cal without integrating calendars. But you can use Cal without many of the other apps, so it would make sense to place calendars at higher level. For example, my email client (Spark) also features

[2022-05-24 13:10] aayestashn opened #2858 "Failed to compile when I switch from 1.0.2 to 1.0.5 with the library @calcom/embed-react in a typescript project"
### Issue Summary

I am experimenting the following issue with the library @calcom/embed-react when I updated from version 1.0.2 to 1.0.5 in an Ionic v6 project with react 17.

[code]
### Steps to Reproduce

1. Update the package @calcom/embed-react from 1.0.2 to 1.0.5

### Technical details

- Ionic with react application
- "@ionic/react": "^6.1.2",
- "react-dom": "^17.0.1",
- "react": "^17.0.1",

[2022-05-24 13:19] #2064 closed

[2022-05-24 13:44] PeerRich commented on #274
@Freundschaft feel free to re-open

[2022-05-24 13:44] #274 closed

[2022-05-24 13:51] PeerRich commented on #2844
I dont think you need visuals for this, do you? @leog

[2022-05-24 16:20] bezalel001 commented on #2229
I am taking up this issue

[2022-05-24 16:54] CarinaWolli opened #2861 "Workflows"
Workflows should enable simple automation inside of cal.com (e.g.: Send email/SMS to all attendees 2 hours before the event starts)

[2022-05-24 17:43] PeerRich commented on #2844
lets add a new badge:

<img width="380" alt="image" src="https://user-images.githubusercontent.com/8019099/170098847-8568ecaa-1ebf-41fc-a2cd-72f4b9a78292.png">

`self-center rounded-md border px-3 py-1 text-xs capitalize ltr:mr-2 rtl:ml-2 border-yellow-200 bg-yellow-50 text-yellow-700`

[2022-05-24 20:34] PeerRich commented on #2854
do you wanna give this a try?

[2022-05-24 22:36] Jaibles commented on #2856
@joshuakaufman thanks for raising this issue. This is something we are currently working on and are going to make a priority!

[2022-05-24 23:20] m4tze opened #2864 "Recurring events from caldav server not blocked"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

I am running the docker version of calcom and I have two caldav backends configured for my user. There are many recurring events in my calendar and none of these is blocked. Normal (one-time) events are blocked as they should.

### Steps to Reproduce

1. start docker version
2. run a caldav server, e.g. radicale and create recu

[2022-05-25 03:09] juliopiubello commented on #1277
@emrysal what approach do you want to take here?

@jaysoni-ash42 is working on it

he started by doing a loading on the modal to prevent the user to try to delete the event again while it is loading
what other changes you want to be done? to change the error to bad request and a proper message?

[2022-05-25 05:21] hariombalhara commented on #2858
@aayestashn Can you try `@calcom/embed-react@1.0.6-beta.4`.
It should be fixed in it.

[2022-05-25 06:22] ch-ruetgers-RMH opened #2871 "MS Teams on selfhosted registration fails"
### Issue Summary

When I try to connect Teams on a self-hosted environment I get redirected to this URL:

https://login.microsoftonline.com/common/oauth2/v2.0/authorize?response_type=code&scope=User.Read Calendars.Read Calendars.ReadWrite offline_access&client_id=<omitted>&redirect_uri=https://<CAL_URL>/api/integrations/office365calendar/callback&state={"returnTo":"https://<CAL_URL>/apps/installe

[2022-05-25 06:40] niklasgrewe commented on #2443
as milospuac said, I also find it quite inconvenient that the event name is the same on both sides. It would be great if you could set the event name differently. This is already implemented in the email subjects, for example. If your title for an event is `Meeting with John` my email subject is `Confirmed: Meeting with John` and the subject for John is `Confirmed: Meeting with Niklas Grewe`

[2022-05-25 07:39] sr-verde commented on #2864
Yeah, would be a necessary feature for me as well. Thank you!

[2022-05-25 07:52] Jaibles commented on #2443
I also find this very confusing in the UI as to what {USER} refers to and what other parameters might be available to me if I was to change it.

[2022-05-25 08:33] jtylerhartley commented on #1526
Yes, it seems like this issue has been fixed. Closing this for now. @matheusmuniz03 [matheusmuniz03](https://github.com/matheusmuniz03)

[2022-05-25 08:33] #1526 closed

[2022-05-25 08:49] Jaibles opened #2874 "Accepted Opt-in booking still shows as tentative in my Google Calendar"
- Someone booked an Opt-in event with me
- I accepted the booking request from the bookings page
- My calendar showed the attendee as confirmed, but I showed up as unconfirmed
- I would expect that accepting the booking in Cal marks me as "Yes" to attend in my Calendar.

https://www.loom.com/share/754335637b734921bab4a0ebd9e1ed75

[2022-05-25 09:08] PeerRich opened #2875 "new app store slider"
right now, the screenshots in the slider are currently distorted to a fixed width, however they should take a fixed height and then relative width based on their dimensions.

example:

<img width="656" alt="image" src="https://user-images.githubusercontent.com/8019099/170225753-11e7f4f1-0c63-4c69-b973-27423fd87293.png">

I would much rather have a slider like product hunt https://www.producthunt.c

[2022-05-25 09:22] #1659 closed

[2022-05-25 09:29] sean-brydon commented on #2797
Merged:  #2842

Closing

[2022-05-25 09:30] FlxMgdnz commented on #2329
+1 for this. Just want to add that the bug also appears with only a single all-day event (e.g. a conference) that is set to "busy" in Google Calendar.

[2022-05-25 09:30] Jaibles opened #2876 "When request to reschedule modal is open the dropdown is also open"
- Go to reschedule a booking
- The dropdown stays open when the modal is open
- Expectation would be the dropdown closes as soon as the modal opens
- It also stays open after I close the modal

Note: I think we have had this issue in several places in the app and I know it's not an easy fix but I really think this needs to be fixed.

https://user-images.githubusercontent.com/4536123/170230533-65d7

[2022-05-25 09:33] Jaibles commented on #2613
@hariombalhara I am experiencing a bug where I get a 500 error when I cancel a booking. Assume this is related to this issue?
<img width="1728" alt="CleanShot 2022-05-25 at 10 32 21@2x" src="https://user-images.githubusercontent.com/4536123/170231207-f9f9e7b0-90fd-45d4-87b1-aa77d1c8e4ec.png">

[2022-05-25 09:42] hariombalhara commented on #2613
@Jaibles yes. @joeauyeung is working on a quick fix.

[2022-05-25 09:44] Jaibles commented on #2613
Great thanks. @joeauyeung can you link your pr to this issue when you have it. Thanks 🙏

[2022-05-25 09:58] PeerRich commented on #2615
this has been resolved @JxSinka

[2022-05-25 09:58] #2615 closed

[2022-05-25 10:00] hassanali1337 commented on #2822
@gibranlamarca i have attached video on localhost
https://streamable.com/za9sgw

logged in chrome with different user and in edge with different user but they both become same

[2022-05-25 10:21] sean-brydon commented on #2531
@montythemack  I'm going to close this issue due to it going stale. If you are still having an issue with this please re-open the issue and we'll take another look

[2022-05-25 10:21] #2531 closed

[2022-05-25 10:23] ch-ruetgers-RMH commented on #2871
Apologies. V1.6.1 fixes the problem.

[2022-05-25 10:23] #2871 closed

[2022-05-25 10:36] gracebir commented on #2824
@PeerRich, I can see that there is no animation effect locally, and in that way we can't reproduce this bug,

[2022-05-25 10:58] PeerRich opened #2877 "Webhooks not triggered for reschedules"

[2022-05-25 10:59] PeerRich opened #2878 "Slack App: Send upcoming booking links 5 min before meeting"

[2022-05-25 11:03] alishaz-polymath commented on #2877
I'll take a look

[2022-05-25 11:22] janbaykara commented on #2463
We're using Cal.com with Nextcloud and it seems to more or less work.

[2022-05-25 11:27] SrIzan10 commented on #2854
@miroslavpejic85

mentioned so you can also track this issue and do something with this.

[2022-05-25 11:45] alishaz-polymath commented on #2877
I tried to reschedule, and it **did** trigger the webhook 🤔
I rescheduled from the organizer's POV as well as from the booker's POV and on both the occassions, it did trigger.

When I clicked on `request-reschedule` however, the event was removed from the list, but webhook wasn't triggered. I'm not sure what the best course of action here is since when the booker ends up rescheduling, it would tri

[2022-05-25 11:59] miroslavpejic85 commented on #2854
Thank you, @SrIzan10.

[2022-05-25 13:53] aayestashn commented on #2858
@hariombalhara I made a couple of tests and work perfectly. 👏🏽

[2022-05-25 13:56] hariombalhara commented on #2858
Awesome! Thanks for confirmation. Will push it to stable soon.

[2022-05-25 14:19] Toledodev opened #2881 "Flicker on success page"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Fix the flicker on booking success page

### Steps to Reproduce

1. Go to Event Types and click preview
2. When scheduling a meeting successfully the flicker will appear

Loom video: https://www.loom.com/share/967770b9d36644dba419120b1f9cb976

[2022-05-25 14:44] Azhariel commented on #2758
I think I found the root of the issue, but I can think of some possible solutions and would like some guidance or discussion on which to pursue.

## The problem
This is an unintended side effect of [apps\web\lib\hooks\useTheme.tsx](https://github.com/calcom/cal.com/blob/07aa2e88a1d9dea6f2c8618c1e8012c72fe8152f/apps/web/lib/hooks/useTheme.tsx)  `applyThemeAndAddListener` function. This function is

[2022-05-25 15:21] #2539 closed

[2022-05-25 17:06] joeauyeung commented on #2613
PRs that fix the most common 500 bugs with Google cal
#2860 #2808 and #2882 that fixes the logic behind it.

Looking at this I'm going to test without Outlook calendar as well to make sure it fails silently

[2022-05-25 19:14] devinellis opened #2884 "A booking was made for a time in the past"
We had someone make a booking for 10AM, but the event was created at 11:40AM 🤯

Here's the relevant bits of the Booking DB record:
- startTime: 2022-05-25 17:00:00
- createdAt: 2022-05-25 18:40:53.369

At first I thought maybe the user opened the calendar earlier today, then booked the meeting afterwards. But looking at our logs, the user had not yet come to our site until just a few minutes befor

[2022-05-25 20:34] #2519 closed

[2022-05-25 20:34] joeauyeung commented on #2613
Tested it with Outlook calendar and it doesn't throw the error. Are we good to close this @Jaibles?

[2022-05-26 05:40] gracebir commented on #2881
@Toledodev what is the expect here ?

[2022-05-26 11:20] IWGAG commented on #1442
Please!!! highly needed feature. The UX and Customer Journey is breaking here. Our customers dont want to click 5 times to finde the right day.

[2022-05-26 11:43] Toledodev commented on #2881
I think the redirect is not necessary, because it was supposed to have a "back to bookings" button

[2022-05-26 11:46] Toledodev commented on #2881
Please take a look on this issue i fixed https://github.com/GitStartHQ/client-cal.com/pull/7

[2022-05-26 14:01] joeauyeung commented on #2225
@Jaibles @hariombalhara when would be the ideal time to send the email to the attendee that the booking hasn't been confirmed? I'm thinking the day of.

[2022-05-26 14:39] zomars opened #2888 "Stripe payments fees sometimes are of 100%"
### Issue Summary

There's was a report of a customer where he noticed his paid bookings we're being 100% absorbed by our fees. Need to investigate further.

My suspicion is that a serverless function cold start doesn't wait for us to bring that info from the DB.

[2022-05-26 14:52] zomars opened #2890 "Users that were impersonated cannot be deleted"
### Issue Summary

This is uncommon edge case but still important. Since the schema for the impersonation model doesn't cascade when a user is deleted, it fails to delete the user.

### Steps to Reproduce

1. As admin A impersonate user B
2. Login as user B
3. Try to delete your account

[2022-05-26 15:14] hariombalhara commented on #2225
@Jaibles would be the best person for this.

As a user, I would expect atleast one email a day before meeting day and probably on the meeting day.

[2022-05-26 15:48] #2890 closed

[2022-05-26 16:01] #2888 closed

[2022-05-26 17:22] JatinRanka commented on #2844
Hey @PeerRich, I would like to contribute to this issue. But a bit confused about how to get started with this one. Any help would be really appreciated. TIA :)

[2022-05-26 19:51] kof opened #2897 "Team availability doesn't show blocked slots"
### Issue Summary

I created a team and I am looking at [team availability](https://app.cal.com/settings/teams/2149/availability) view that is supposed to show when is each member available, but shows all available hours, even where the slot should be blocked based on gmail calendar availability and based on booked events through cal.com, but both types of events don't show up there

### Steps to

[2022-05-26 21:31] agustif opened #2899 "Areas of expertise"
moved to https://github.com/calcom/cal.com/blob/main/CONTRIBUTING.md

[2022-05-26 22:51] gabamnml commented on #1888
I fix this issue. You need to add perms to write the cache folder of NextJS deploy in the server because the assets pipeline of NextJS are on-demand @voyager163

[2022-05-26 23:36] scantreed commented on #2818
I'm running into the same issue when I try to set up the o365 calendar app for the first time

[2022-05-27 00:24] HazemHeakal commented on #2847
So what steps i can take to install it in local server?

[2022-05-27 05:47] hariombalhara opened #2900 "When no location is set in an event, where would the meeting occur ?"
Found a bug? Please fill out the sections below. 👍

### Issue Summary
When no location is selected in an event, the email received after booking has a `Where` heading but no text. Maybe we should make it very clear that no location was selected by the organizer and the booker should contact the organizer for the meeting location.

Also, maybe we should not allow empty locations at all. If the orga

[2022-05-27 05:47] hariombalhara commented on #2900
cc @Jaibles

[2022-05-27 06:00] hariombalhara opened #2901 "When you click on a booking in bookings tab, the page says that you would receive conferencing details, when they might have been already recieved"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When you click on a booking in bookings tab, the page says that you would receive conferencing details, when they might have been already received

### Steps to Reproduce

1. Book a meeting
2. You would have received email/
3. Go to Bookings Page and click on that newly made booking.
4. You would see that Where section says tha

[2022-05-27 06:46] peseotni opened #2902 "Required fields are empty"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Added required question fields, but clients can just fill out their name and email and submit without filling out those fields.

### Steps to Reproduce

1. fresh install and database
2. created event type and added additional inputs and made them required.
3. clients fill out the form and can submit it without filling out the r

[2022-05-27 07:44] peseotni opened #2903 "Booking confirmation via email, but not found in bookings"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

The client and organizer received a confirmation email but it is not found in the bookings.
![280282758_1820287581494019_6747458617752315403_n](https://user-images.githubusercontent.com/22613392/170653600-41ceb27b-300b-4165-9bbb-1b92d6ed771d.png)

other clients are present, but not that booking.

### Steps to Reproduce

1. ?? b

[2022-05-27 07:45] PrincesaTyne commented on #2470
@milospuac  Is there a list of all the links that need to be moved to the constants files or ones that should be left as is?

[2022-05-27 10:38] #2814 closed

[2022-05-27 15:02] SrIzan10 commented on #2854
np!

[2022-05-27 15:35] zomars commented on #2847
`yarn build` and `yarn start` basically

[2022-05-27 15:37] #2858 closed

[2022-05-27 15:42] zomars opened #2907 "Past booking confirmation emails shouldn't be sent"
### Issue Summary

It happens constantly that some booking may expire requiring confirmation. But the email reminders are being sent anyways. If you click the link you get sent to the upcoming bookings page but there's nothing be done anymore.

[2022-05-27 19:17] scantreed commented on #2818
I believe this problem is occurring because the env values are not being properly passed to the submodules and the if statement on https://github.com/calcom/cal.com/blob/498759890f4b3576ec77cb1cd0080a92843ae631/packages/prisma/seed-app-store.ts#L48 is failing because it thinks the client and graph ID are set to NULL

 I was able to temporarily fix this issue by changing the if statement to if(true

[2022-05-27 22:11] HazemHeakal commented on #2847
i get this "yarn run dev exited (137)"
and this "error: Environment variable not found: DATABASE_URL.
@calcom/web:dev:   -->  schema.prisma:6
@calcom/web:dev:    |
@calcom/web:dev:  5 |   provider = "postgresql"
@calcom/web:dev:  6 |   url      = env("DATABASE_URL")
"

[2022-05-27 22:28] zomars commented on #2847
you need to provide you own DATABASE_URL. You may need to provide one from an external provider or setup your own. Also `yarn dev` is for local development `yarn start` is for production runtime.

[2022-05-27 22:29] zomars commented on #2847
Will close this issue as this is not a problem with the build process. If you feel that the README is not clear enough you're welcome to propose changes to it. 🙏🏽

[2022-05-27 22:29] #2847 closed

[2022-05-27 22:41] HazemHeakal commented on #2847
Already have my own and created a user on it but loading of the cal is very slow also when i enter the credentials that i write in db it give me this error "error: Environment variable not found: DATABASE_URL.
@calcom/web:dev: --> schema.prisma:6
@calcom/web:dev: |
@calcom/web:dev: 5 | provider = "postgresql"
@calcom/web:dev: 6 | url = env("DATABASE_URL")

[2022-05-27 22:51] zomars commented on #2847
Please make sure you're following the README step by step. I cannot provide more guidance without more context. Also for these kind of questions feel free to post them in our slack. https://cal.com/slack

[2022-05-27 23:27] #2393 closed

[2022-05-27 23:27] #2876 closed

[2022-05-28 12:45] 89itworld commented on #2389
Same error

[2022-05-28 13:51] agustif commented on #2899
![](https://rotate-svg-text-g8nmg1m7o-agu.vercel.app/api/rotate?text=Timezones&color=white&size=14)

[2022-05-28 19:05] newz666 opened #2913 "Error when "Manage this event""
Found a bug? Please fill out the sections below. 👍

### Issue Summary

I run 2 self hosted servers of cal.com, one for caldav, and another one for google. When clicking "Manage this event " on the received email of confirmation, on both I get the same 4 Unhandled Runtime Error . I can click "X" and I can see the Cancel / Reschedule options. On CalDav I can reschedule and cancel successfully. On Go

[2022-05-29 02:01] EclipseKnight commented on #2818
@scantreed Nice find! I was looking through everything but it happens that was the one condition I didn't think to check. I'll give that a shot and see if I can also troubleshoot where the null value is coming from.

On a side note, do you know if it actually provides the teams meeting url and or video conferencing data once working? I'll be working to add those as well if not.

[2022-05-29 02:13] EclipseKnight commented on #2818
Actually, I may have spoken a bit too soon because in one of my logs I printed out the client_id and client_secret being passed to the request, and both were appropriately set and passed along with the POST requests. So in my case, I don't think this is the cause of the issue. I'll still give your workaround a shot to maybe see if there is something else that could be missing and update here with

[2022-05-29 02:44] zomars opened #2914 "RFC: Email Revamp"
## Problem

As our templates for emails are increasing, we're in the need to come up with a more sustainable way to handle them. Some of the main problems are:

- Lack of composability
- Lack of ability to visualize previews
- Lack of standardization
- Code feels convoluted
- Difficulty to enforce visual consistency

## Possible solutions

- Using a template engine like Nunjucks, EJS, PUG, etc.
-

[2022-05-29 03:15] afoster commented on #2864
I'm also seeing this with a Zimbra caldav backend.

[2022-05-29 06:46] m4tze commented on #2864
There seems to be some ongoing development reg recurring events: https://github.com/calcom/cal.com/tree/leog/recurring-event-improvements - maybe @leog can confirm?

[2022-05-29 07:54] aar2dee2 commented on #2875
Hey!
Opened a PR for this, assuming this refers to the slider on the app description page in the App store.

[2022-05-29 08:49] PeerRich commented on #2875
yes, can you share a loom.com video?

[2022-05-29 09:31] aar2dee2 commented on #2875
This is my first PR. What should I include in the video?

[2022-05-29 10:31] aar2dee2 commented on #2875
https://user-images.githubusercontent.com/85004512/170863550-e6dadaa8-51b0-492c-8d64-44120844955d.mov

Is this alright?

[2022-05-30 05:28] hariombalhara commented on #2902
Duplicate of https://github.com/calcom/cal.com/issues/2660

[2022-05-30 05:28] #2902 closed

[2022-05-30 07:04] milospuac commented on #2884
Hi there. Thanks for reaching out.
Our team will look into this

[2022-05-30 07:05] milospuac commented on #2913
Hi there. Thanks for reaching out. Our team will look into this.

[2022-05-30 07:06] milospuac commented on #2903
Thanks for reporting this. Our engineering team will investigate.

[2022-05-30 07:43] peseotni commented on #2903
Update: The meeting appeared after the timeslot time. Strange.

[2022-05-30 07:52] jamiepine opened #2920 "Unable to upgrade to pro"
### Issue Summary
<img width="287" alt="Screen Shot 2022-05-30 at 12 48 17 AM" src="https://user-images.githubusercontent.com/32987599/170944019-e0901a73-18d8-4bb9-9189-de274f82d0b6.png">

None of the upgrade buttons within the app appear to be working, at least for me.

### Steps to Reproduce

1. Go to settings
2. Click upgrade now
3. Get redirected to the events page

### Technical details
Click

[2022-05-30 09:27] sean-brydon commented on #2900
If I remember correctly the plan was to default to Cal Video if no location was found (Taking into consideration if the user is self hosted or not they might not have a DailyCo api key)

[2022-05-30 10:04] hariombalhara opened #2922 "Wrong color for Timezone selector on booking page"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

I find it weird for Duration to be in light color and Timezone to be in dark color on  https://cal.com/hariom/30min

<img width="267" alt="Screenshot 2022-05-30 at 3 32 02 PM" src="https://user-images.githubusercontent.com/1780212/170969000-b76f34eb-4c03-4401-9872-b997530e258c.png">

Implement as per https://www.figma.com/file/

[2022-05-30 11:35] MuriloAmarals commented on #2922
I will take a look on this!!! @hariombalhara

[2022-05-30 11:36] hariombalhara commented on #2922
Refer to this https://www.figma.com/file/6sITaSOZ2JCXyKEYhC10P5/%F0%9F%96%B1-Cal-Web-App?node-id=3412%3A50674 by @Jaibles

[2022-05-30 13:15] MuriloAmarals opened #2923 "The Location is not shown when booking a meeting"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When you add a location to your meeting, it doesn't matter which option of location you choose. I think would be better if it appeared along with the other specs.

### Steps to Reproduce

https://www.loom.com/share/ff551e2f44bd4889aa66cb6a5476c405

[2022-05-30 13:27] MuriloAmarals commented on #2922
I did some changes. Take a look.
Do you think it's good ?

![Captura de tela de 2022-05-30 10-24-33](https://user-images.githubusercontent.com/87545137/171001752-44595d2b-f328-48c3-b570-ea6643077926.png)
![Captura de tela de 2022-05-30 10-24-11](https://user-images.githubusercontent.com/87545137/171001792-524342ac-c8a9-4146-b9ad-3e5c883d6fa7.png)

[2022-05-30 15:28] #2192 closed

[2022-05-30 16:23] #2682 closed

[2022-05-30 16:27] aayestashn commented on #2823
**I have the same issue:**

I am using a self-hosted version of Calendso. In a react typescript application I am trying to call the Caledso schedule form using the react embed library.

In the configuration of the library, I put the values of email and name as you can see in the following code.

[code]

In the dev tools, I am able to see the name and email correctly in the link but does not work,

[2022-05-30 19:40] #2709 closed

[2022-05-30 20:13] alannnc commented on #2920
Hi @jamiepine, did a quick test and its working for me now? Can you try again? Or give me more details about it?

[2022-05-30 20:16] alannnc commented on #2914
I've experience with EJS, I can try to develop a demo for that with react. We should do a spike for EJS and Nunjucks and then see what works for us.

[2022-05-30 20:23] alannnc commented on #2923
We've been discussing this recently, and AFAI Location gets hidden as a security measure in that screen. Location it's shared through email later.
We can obviously improve that part on our end with these new options in event page.

- If user wants to share location on booking page.
- Don't share Location till a booking its confirmed/payed.

[2022-05-30 20:24] jamiepine commented on #2920
Happens on all browsers on my Cal.com account. Here's a video of it happening. I can't find anything helpful in the network logs unfortunately.

https://user-images.githubusercontent.com/32987599/171055626-b93b83c3-943b-4a1b-a04a-daa081c56107.mov

[2022-05-30 20:56] aayestashn opened #2927 "Build process failed when the instruction "@calcom/web:build runs" runs"
### Issue Summary

Failed build process when the following build instruction is executed:
[code]

### Steps to Reproduce
[code]

[2022-05-30 21:37] zomars commented on #2914
I'd rather not introduce another templating engine. Hence my suggestion to use JSX to generate emails as well.

[2022-05-30 21:49] leog commented on #2914
I have a lot in my plate that I hope to finish soon once I fully transition to Cal, but I worked with Maizzle in the past, I can give it a go, probably a good idea to make it it’s own monorepo package

[2022-05-30 21:55] zomars commented on #2914
I have a working demo on #2915 if you wan't to give a spin

[2022-05-30 22:28] alannnc opened #2928 "Duplicated event list on upcoming tab"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Looks there some inconsistency when loading bookings from the upcoming tab.

### Steps to Reproduce

1. Go to Pro demo account that has recurring events, add some future events to it.
2. Go to upcoming list
3. See some duplicated events among recurring ones.

Something in the prisma findMany broke when recurring events where ad

[2022-05-31 06:22] PeerRich opened #2930 "booking: location shown twice on mobile"
- recurring event active
- seats active

i also noticed the colors are different

![image](https://user-images.githubusercontent.com/8019099/171106116-6c62dd16-1cea-49cf-8513-c1b689192c42.jpeg)

[2022-05-31 07:01] alishaz-polymath commented on #2930
What page(s) do we see this on?

[2022-05-31 07:50] alishaz-polymath commented on #2930
I'm unable to re-create it locally or on prod:
![image](https://user-images.githubusercontent.com/52925846/171121074-8592b0d4-a997-459b-bf1b-acb85395ab0d.png)

![image](https://user-images.githubusercontent.com/52925846/171121190-e4a17ff8-c43a-4216-8298-a59655873887.png)

[2022-05-31 11:19] sean-brydon commented on #2923
Hello - there was actually a feature just merged to give the user the option if they want to enable the location to be shown publicly #2752

[2022-05-31 11:23] hariombalhara commented on #2927
@aayestashn what's the exact command that you executed.
Are you using latest main branch of the repo.?

[2022-05-31 11:23] hariombalhara commented on #2927
According to the logs, failure is not in embed-react but in @calcom/web

[2022-05-31 12:24] aayestashn commented on #2927
Hello @hariombalhara, yes the last branch, you have right is when the instructions @calcom/web:build runs.

[2022-05-31 13:40] #2088 closed

[2022-05-31 14:07] scantreed commented on #2818
Thanks @EclipseKnight

It's interesting to hear that your environment variables may be being correctly passed. If that is the case it I'd be curious to hear more about how you set up your environment.

Regarding the data once it's actually working, I'm not using the teams integration, I'm actually using the outlook integration. I haven't been able to fully verify that it works with my AD tentant (

[2022-05-31 17:54] sean-brydon commented on #2923
Closing this for now as this has been resolved - please reopen if this was not your intended solution

[2022-05-31 17:54] #2923 closed

[2022-05-31 18:33] zomars commented on #2920
Can't seem to replicate locally nor on production. This seems like something Stripe account related. Will make some adjustments to facilitate debugging.

[2022-05-31 19:11] zomars commented on #2920
Can confirm that your account is working correctly now. Will close this issue for now. Feel free to re-open if you experience any more trouble 🙏🏽

[2022-05-31 19:11] #2920 closed

[2022-05-31 20:04] agustif opened #9132 "[CAL-1793] Fix edit API Key modal under Settings > Security"
Edit modal doesn't seem to be working right now, need to investigate and fix this.

Basically it opens up create new key modal, instead of letting you edit the name/expiry of the key.

<sub>[CAL-1793](https://linear.app/calcom/issue/CAL-1793/fix-edit-api-key-modal-under-settings-security)</sub>

[2022-05-31 21:02] zomars commented on #2914
An actual demo clipped from Twitch stream: https://www.twitch.tv/videos/1314292897

[2022-06-01 01:17] 89itworld opened #2936 "Issue with deployment on Heroku"
### Issue

I am facing a dependencies issue while deploying from the git repo to Heroku. please find the log below.
-----> Build succeeded!
 !     Unmet dependencies don't fail yarn install but may cause runtime issues
       https://github.com/npm/npm/issues/7494
-----> Discovering process types
       Procfile declares types -> web
-----> Compressing...
       Done: 262.9M
-----> Launching...

[2022-06-01 04:03] #2928 closed

[2022-06-01 05:18] hariombalhara commented on #2927
It seems like your dependencies aren't properly installed. The build is working fine for us.
Can you do a `yarn clean` at root , followed by `yarn install` and then see if it works

Here is the type that you should see for `value`
<img width="1029" alt="Screenshot 2022-06-01 at 10 46 16 AM" src="https://user-images.githubusercontent.com/1780212/171332815-dd36bcf4-58d4-4750-aeec-891aee61c51f.png">

[2022-06-01 14:49] PeerRich opened #2939 "react-timezone-select: add popular cities for each timezone"
based on: https://twitter.com/peer_rich/status/1531906849733222400

lets use:
https://github.com/ndom91/react-timezone-select#-custom-timezones

to add cities such as San Francisco => PT, etc.

[csvData.csv](https://github.com/calcom/cal.com/files/8815222/csvData.csv)

[2022-06-01 14:51] PeerRich commented on #2939
found this too: https://twist.com/a/195135/ch/554218/t/3522106/

[2022-06-01 16:01] PeerRich opened #2940 "booking page: recurring text breaks mobile"
![image](https://user-images.githubusercontent.com/8019099/171448815-eb1d9305-8088-4024-9392-3303d6a76df0.png)

[2022-06-01 18:17] matheusmuniz03 commented on #2940
Hi @PeerRich, I will take a look on this!

[2022-06-01 19:05] Toledodev commented on #2939
you mean this?
![Screenshot from 2022-06-01 16-04-10](https://user-images.githubusercontent.com/87545086/171482532-b1dcd5dc-a700-4b69-894c-7ab5f8b14683.png)
or just use as a filter?

[2022-06-01 19:41] #2940 closed

[2022-06-01 19:41] PeerRich commented on #2940
thank you @leog

[2022-06-01 21:18] matheusmuniz03 commented on #2940
hey @PeerRich, my PR with the changes: https://github.com/GitStartHQ/client-cal.com/pull/64

[2022-06-01 21:47] m4tze commented on #2864
@leog I can confirm, that other entries (non recurring) behave as expected, they block the time for selection.

[2022-06-01 22:31] newz666 commented on #2913
Quick Bug Update. After following steps 1-6, for CalDav, when rescheduling a meeting, it gets properly rescheduled under "Bookings", but it does not get updated in the calendar. The "Cancel" works fine.

[2022-06-02 10:17] PeerRich opened #2944 "RFC: Alarm System"
## Problem
- sometimes integrations fail, which is outside of our control
- sometimes credentials change or people remove permissions
- whenever that happens, Cal.com fails silently, and the solution is often to disconnect and reconnect an integration (i.e. Google Calendar)

## Solution
- an alarm system via Email
- similar to Zapiers alarm system when a Zap fails
- a clear "call-to-action" how to

[2022-06-02 11:35] ch-ruetgers-RMH opened #2946 "MS Teams cease workin - possible RefreshToken problem"
### Issue Summary

We use Cal.com on a self hosted instance. Our users connect against our Office365 Calendar and the same Teams Work account.

Events are configured to use Teams.
The styled mail send from our Cal Server contain a Meeting-ID and the Meeting-URL.
The invite appears as an event in our Outlook calendar. The location shown is "Office365_Video". The appointment does not contain a Teams

[2022-06-02 13:08] #2927 closed

[2022-06-02 14:47] emrysal opened #2947 "Disable automatic Google events on Invitee calendars"
Currently when an invitee books with a Google email on an organizer with a connected organizer account, Google automatically creates a calendar event in the calendar of the invitee.

It's causing quite a bit of confusion on the organizer when they test things out, see events being created in their calendars, and also see events created on their invitee Google Calendars. As they are likely to test

[2022-06-02 17:24] alannnc commented on #2944
Pretty much needed, some ideas that came to my mind:

- After setting up your integration, run a test to validate integration it's working.
- Cron job that daily test user integration, if something fails notify users.
- A button that a user can click to run test on integrations.

[2022-06-02 20:25] zomars commented on #2874
I'll take a look on this. Basically we should lookup if there's a way to update/confirm a gCal event from our side once the booking is confirmed.

[2022-06-03 08:03] Jaibles commented on #2947
@emrysal can you clarify what a connected organizer account is? Do you mean someone who has a Cal account and signs in with Google login?

A steps to reproduce section would be great for me to get my head around this one.

[2022-06-03 10:30] hariombalhara opened #2952 "Broken SpaceBooking App"
Found a bug? Please fill out the sections below. 👍

Example success page https://cal.com/success?date=2022-06-22T05%3A45%3A00%2B01%3A00&type=36837&eventSlug=30min&user=hariom&reschedule=false&name=sdf&email=fds%40sdf.com&location=Web+conferencing+details+to+follow+in+the+confirmation+email.&eventName=&bookingId=58365
### Steps to Reproduce

1. Go and install SpaceBooking App
2. Book a meeting
3. O

[2022-06-03 10:50] PeerRich commented on #2952
we should probably remove the app again, since May 4th is over

[2022-06-03 11:28] #2901 closed

[2022-06-03 12:30] CarinaWolli opened #2954 "Not all information is shown on mobile (availability page)"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When booking an event the timezone and recurring event information is not shown in the mobile view.

Desktop:
<img width="922" alt="Screenshot 2022-06-03 at 14 28 01" src="https://user-images.githubusercontent.com/30310907/171853649-c7b4081f-cf0b-4d0c-8f65-92622d3ff0c5.png">

Mobile:
<img width="528" alt="Screenshot 2022-06-03

[2022-06-03 13:11] Toledodev opened #2955 "Negative days in trial license period"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

On event-types page:
![Screenshot from 2022-06-03 08-40-01](https://user-images.githubusercontent.com/87545086/171860286-d31409cd-7f32-4a97-96ec-4f77b31c20b1.png)

### Steps to Reproduce
1. When you 14 days off free license expires, in the event-types page, the message shows a negative day

Any other relevant information. For e

[2022-06-03 17:23] matheusmuniz03 commented on #2954
Hey @CarinaWolli. Here is my _[PR](https://github.com/GitStartHQ/client-cal.com/pull/69)_ with the changes I made.

Can you take a look?

[2022-06-03 18:53] zomars commented on #2955
On production we use a cron to actually downgrade expired user to the `FREE` plan. So technically they never see this negative number. Feel free to propose a PR to handle this if you seem necessary.

[2022-06-03 19:04] PeerRich commented on #2878
@CarinaWolli this would be cool to have in the workflow feature. it would be great if we could have a range of options where to send reminders:
- slack
- todoist
- sms
- email
- etc.

[2022-06-03 19:04] PeerRich commented on #2852
@zomars any ideas?

[2022-06-03 19:06] PeerRich commented on #2795
hey @Awisemaninmotion, all you need to do is get the apps credentials and put it into the .env file

we don't have a tutorial for each app because most apps were done by contributors and we havent found the time yet to write a tutorial for each one

[2022-06-03 19:07] PeerRich commented on #2795
however, there is a proposal #2621 where you could use all apps on a self-hosted platform, and the apps are hosted by us. it's still in "request for comments"

[2022-06-03 19:07] #2795 closed

[2022-06-03 19:07] PeerRich commented on #2776
@zomars has experience with this

[2022-06-03 19:08] PeerRich commented on #2776
just making sure, you have docker installed? which version?

[2022-06-03 19:08] PeerRich commented on #2740
@hassanali1337 did this help?

[2022-06-03 19:09] zomars commented on #2852
Please fill you encryption key @hassanali1337

https://github.com/calcom/cal.com/blob/d5e40faeb5ae1f086b2b869da79c9add47b815d2/.env.example#L63-L66

[2022-06-03 19:10] PeerRich commented on #2584
@CarinaWolli how would we fix that?

[2022-06-03 19:11] PeerRich commented on #2541
I can't reproduce this

[2022-06-03 19:11] PeerRich commented on #2527
i believe @agustif has been working on a fix for this

[2022-06-03 19:12] PeerRich commented on #2527
@deepakprabhakara is this related to SAML?

[2022-06-03 19:12] PeerRich commented on #2511
we won't be adding more OAuth providers yet as some studies have shown it's better to have email + one primary SSO provider and Google is the biggest one so far.

it's really really hard to remove OAuth providers later

[2022-06-03 19:12] #2511 closed

[2022-06-03 20:01] #2875 closed

[2022-06-03 21:27] alannnc commented on #1615
Our entire reschedule flow has been upgraded. I'm gonna close this issue as this error found is no longer relevant with our current base code.

[2022-06-03 21:27] #1615 closed

[2022-06-04 08:22] alexanderadam commented on #2511
I'm not quite sure whether this is the right place to ask but therefore it is also not possible to authenticate against an selfhosted authentication provider (i.e. [Authelia](https://www.authelia.com/), [Keycloak](https://www.keycloak.org/), [Authentik](https://goauthentik.io/), [GitLab](https://docs.gitlab.com/ee/integration/oauth_provider.html))?

Because I thought that the integration OpenID Co

[2022-06-04 11:55] PeerRich opened #2961 "add react to embed generator"
<img width="367" alt="image" src="https://user-images.githubusercontent.com/8019099/171997854-a76e436b-199a-4e95-80bc-f238e09925b5.png">

[2022-06-04 19:03] zomars opened #2965 "Handle EventType locations when missing/invalid credentials"
---

ref: https://twist.com/a/195135/ch/554218/t/3530164/c/76574709

[2022-06-04 21:56] zomars commented on #1593
Related #2170

This issue is in direct conflict with #2550

Unconfirmed bookings should NOT block availability. It is up to the organizer to confirm the first and ask the rest to reschedule or cancel if necessary.

[2022-06-05 08:06] jfk9w commented on #2396
Removing surrounding quotes for `DATABASE_URL` value resolved the issue for me. Got the solution from [here](https://stackoverflow.com/questions/71736148/prisma-error-validating-datasource-db-the-url-must-start-with-the-protocol).

[2022-06-05 12:44] saschafoerster commented on #1847
@agustif I tried it out today with 1.6.2 but I guess with the move to .env.appStore the Jitsi-variables should also be moved. I am not really good in git stuff, but I try to help if I can, for instance with documentation.

[2022-06-05 12:57] saschafoerster commented on #956
With version 1.6.2 I can still connect (and reconnect) caldav with Kerio as caldav-server. I use this URL https://kerio.domain.tld/caldav/users/DOMAIN/USER/
and I can see my connected caldav-account:
https://kerio.domain.tld/full-calendars/DOMAIN/USER/INDIVIDUAL NUMBER/
The error message I get now has changed to:

`TypeError: undefined is not an object (evaluating 'h.length')`
when I check the con

[2022-06-06 00:27] ropic opened #2967 "Google client_id missing"
### Issue Summary

On setup Connect your calendar, a request is made to api/integrations/googlecalendar/add?state=...

Response: {"message":"Google client_id missing."}

### Technical details

version: 1.6.2
I have on .env.appStore,
GOOGLE_API_CREDENTIALS='{"web":{"client...
GOOGLE_LOGIN_ENABLED=true

[2022-06-06 06:51] sean-brydon opened #2970 "Slack Verification + Request Timeout"
### Issue Summary
Currently the slack app fails verification on any "Interaction payloads" and times out if we don't response under 3 seconds

[2022-06-06 06:56] sean-brydon opened #2971 "Unable to create API keys when sign in with google"
### Issue Summary

If account is setup with sign in with google - API keys can not be generated

<img width="1697" alt="CleanShot 2022-06-06 at 07 55 48@2x" src="https://user-images.githubusercontent.com/55134778/172111024-061495ee-ca1b-42a4-9336-33a36303ce24.png">

[2022-06-06 08:17] CarinaWolli commented on #2954
Hey @matheusmuniz03, I can't open the link to your PR. It says 'Page not found'

[2022-06-06 08:21] alishaz-polymath opened #2974 "Incorrect redirect URL in team invite email"
### Issue Summary

Accepting an invite to a team leads to a 404 page after creating account (has happened 2 of 2 times)Steps to repro:

### Steps to Reproduce

1.     I add a new user via “Team” -> “Members” -> “+ New Member”
2.     New member clicks the “Accept Invitation” button in invite email.
3.     New member creates url slug and password.
4.     New member gets routed to https://app.cal.com

[2022-06-06 08:37] #2974 closed

[2022-06-06 08:48] hariombalhara opened #2976 "[Tests Needed] for Reschedule/Cancellation for Dynamic and Team Events"
Also, ensure that when success pages are accessed from /bookings page, they still have valid reschedule and cancellation links.
These tests should ensure to avoid the regressions in https://github.com/calcom/cal.com/pull/2977

[2022-06-06 12:48] #2443 closed

[2022-06-06 15:35] joeauyeung commented on #2613
All 3 PRs are merged and Outlook isn't throwing an error. Closing this issue

[2022-06-06 15:35] #2613 closed

[2022-06-06 16:54] #2550 closed

[2022-06-06 18:23] joeauyeung commented on #1780
Taking myself off in favour of [#2861](https://github.com/calcom/cal.com/issues/2861)

[2022-06-06 19:55] agustif commented on #2971
Hey sean, I think this is due to google not allowing password to be set, with new developer tab in 1.6.3 this should get fixed
https://github.com/calcom/cal.com/pull/2982/files#diff-712938a54b4bec8caf04d84b58ac90cdbed3e853f4677eac8302dc5237071d9c

[2022-06-06 20:06] joeauyeung commented on #2823
@lharries @aayestashn is this bug still affecting you two? I've tried to reproduce the bug but it's working as expected

[2022-06-06 21:10] Toledodev commented on #2939
In the library there is no kind of filter or key that refers to the capital or if the city is "popular".  Until now if I type the name of the city the corresponding timezone is selected, but not rendered in the options

[2022-06-06 21:11] Toledodev commented on #2939
Can I make all cities matching the input search be rendered in the options? as the user types more characters the options will decrease

[2022-06-06 22:06] PeerRich commented on #2939
is it possible to show the city in the dropdown when typing?

[2022-06-06 22:19] scantreed commented on #2776
I do have Docker installed. Docker version 20.10.14

[2022-06-06 22:52] agustif commented on #2776
Hey @scantreed maybe it's docker-compose the culprit and not docker directly?
https://stackoverflow.com/questions/71060072/docker-compose-depends-on-with-condition-invalid-type-should-be-an-array

Can you try with v2 if you're not already running it for `docker-compose`

[code]

[2022-06-07 03:45] hariombalhara opened #2985 "The booker get’s the Ui option to reschedule but can’t reschedule"
See loom https://www.loom.com/share/9a69f125ec5b490891c83d00622f93e9

In relation to https://github.com/calcom/cal.com/pull/2977, there is one more bug that I found that is pending fix.

**Bug Summary:**
After doing a booking by specifying email([free@ewxample.com](mailto:free@ewxample.com)) When I am logged in as booker([free@example.com](mailto:free@example.com)), I can see the booking and optio

[2022-06-07 06:33] alishaz-polymath commented on #2439
This is now merged 🚀

[2022-06-07 06:33] #2439 closed

[2022-06-07 06:37] alishaz-polymath commented on #2815
The Cal trigger node is now integrated with n8n and can be used directly when using n8n 😄
![image](https://user-images.githubusercontent.com/52925846/172312273-c7cb6fb5-88e5-4e85-a465-011217b33db8.png)

We would look into the possibility of a elaborate integration with n8n on our app-store in the coming months, but until then, this should suffice 🚀

[2022-06-07 06:37] #2815 closed

[2022-06-07 07:17] milospuac commented on #2967
Hi there. Thanks for reaching out. Our team will investigate this

[2022-06-07 07:33] TheCapsLock commented on #2877
I don't know if it's related but when an event is rescheduled, caldav event is not updated too

[2022-06-07 07:35] alishaz-polymath commented on #2877
@TheCapsLock it is probably unrelated. Could you please raise a new ticket for this?
🙏

[2022-06-07 07:47] TheCapsLock opened #2988 "Caldav event is not updated on reschedule"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When any attendee (or organizer) reschedules an event, the update is not replicated on caldav side

### Steps to Reproduce

1. Create a new schedule (I used optin ones)
2. once booked, reschedule using the Web UI or link in the Email
3. Event is correctly updated in Cal.com's Web UI but  no on caldav side

### Technical details

[2022-06-07 07:49] milospuac opened #2989 "Can't connect CalDav/Lark Suite"
Password for a third-party website was generated, yet this error pops up every time

<img width="1398" alt="CleanShot-2022-06-06-at-14-17-37-2x" src="https://user-images.githubusercontent.com/97884287/172325635-64964827-494c-4c54-b498-283b16e4b0ff.png">

Any ideas?