[2022-09-29 13:36] Udit-takkar commented on #4445
hey @davidtaing  are you working on this issue ?

[2022-09-29 14:40] #4703 closed

[2022-09-29 14:42] matheusmuniz03 commented on #4752
how can I get to this page?

[2022-09-29 14:53] MatheusBeniniF commented on #4720
hey @CarinaWolli, what is the expect behavior?

[2022-09-29 15:07] saifullah-N opened #4765 "error - Cannot read properties of null (reading '1')"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

A summary of the issue. This needs to be a clear detailed-rich summary.

### Steps to Reproduce

changed DATABASE_URL and given values to CALENDSO_ENCRYPTION_KEY ,NEXTAUTH_SECRET
done migrations
yarn dev

while running the project it shows
@calcom/web:dev: warn - axiom: Envvars not detected. If this is production please see htt

[2022-09-29 15:12] davidtaing commented on #4724
I got much closer and have put in a PR for review. It was quite difficult, but I'm glad I did this. I'm sure I picked up a few skills.

I approached this by using the Primitive Radix DropdownMenu. Got it working. Then I swapped out the primitive components with the calcom Dropdown components.

[2022-09-29 15:13] hariombalhara commented on #4752
This is payment/[uid].tsx

[2022-09-29 16:05] #4749 closed

[2022-09-29 16:14] jjromary commented on #4583
@CarinaWolli This solution meets your needs?

![image](https://user-images.githubusercontent.com/37199044/193083911-694d9ad4-5b77-4610-aa67-109cc630d086.png)

[2022-09-29 16:19] #4723 closed

[2022-09-29 16:44] TobiTenno commented on #3167
Is there a place we can express our desire for this? I don't want to cause noise on a ticket, but as Christian mentioned, this would be highly impactful

[2022-09-29 23:36] stockm commented on #4453
Did you resolve this issue ? I am seeing the same

[2022-09-30 03:28] davidtaing commented on #4445
No, I'm not working on this one.

[2022-09-30 03:46] davidtaing commented on #4445
@Udit-takkar it looks like the Core Team is working on this.

https://github.com/calcom/cal.com/issues/4691#issuecomment-1261462905

[2022-09-30 05:54] coachatapp commented on #4453
I cannot solve it as it's a bug confirmed by Cal.com. I've switched to another vendor.

[2022-09-30 08:03] Guray00 commented on #4596
Still having problem

[2022-09-30 08:57] alishaz-polymath commented on #4753
I can confirm it isn't related to CalDAV alone, so it is most likely the Daylight saving time related issue

[2022-09-30 10:01] CarinaWolli commented on #4720
Hi @MatheusBeniniF, I already started working on this. We are trying to get rid of the loaders you see in the screenshot above and use skeleton loaders instead

[2022-09-30 10:47] #4445 closed

[2022-09-30 11:22] CarinaWolli commented on #4583
I just saw that the setting shell now has a horizontal scroll, even for english when no words are overflowing. See here: https://www.loom.com/share/0d5d6db20aa34640a11221d5e6702582

@Jaibles do we want that horizontal scroll in the settings shell?

[2022-09-30 12:45] #4533 closed

[2022-09-30 13:09] CarinaWolli commented on #4765
@saifullah-N Are you working on a windows system? If yes, this might be the same issue as discussed here: [Discussion](https://github.com/calcom/cal.com/discussions/4053)

If that is the case, @alishaz-polymath is currently working on that, and here is a temporary solution for it: [Comment](https://github.com/calcom/cal.com/discussions/4053#discussioncomment-3566212)

[2022-09-30 14:33] PeerRich opened #4775 "App Store: Analytics as category/interface"
A new category would be nice:
- Analytics

which consist of

- [x] #4801
- [ ] plausible.io
- [ ] google analytics
- ..?

## implementation

We'd need an abstraction to add `<script> `code to the booking page with the UID from these analytics services when the app is added

[2022-09-30 14:52] hariombalhara opened #4776 "Create migration to change type from routing_forms_other to routing-forms_other"

[2022-09-30 16:33] milospuac commented on #4733
Thanks for the suggestion. Our engineers will look into this

[2022-09-30 16:47] PeerRich commented on #4776
and _video or _calendar

[2022-09-30 18:39] #4720 closed

[2022-09-30 21:06] CarinaWolli commented on #4712
Already fixed #4769

[2022-09-30 21:06] #4712 closed

[2022-09-30 22:47] PeerRich opened #4779 "show "ultimate" features with badge in app"
and link to cal.com/sales

[2022-09-30 22:53] jorit-vasconezgerlach opened #4780 "Spelling Mistake on german booking success page"
on german booking success page spelling mistake = ~~gebuhct~~ should be gebucht
<img width="1439" alt="Bildschirm­foto 2022-10-01 um 00 50 35" src="https://user-images.githubusercontent.com/88643432/193366647-8cc9d359-60c2-4b4c-b12b-7de4413d5189.png">

[2022-09-30 23:12] sean-brydon opened #4781 "[CAL-31] Test issue from synclinear.com"
undefined
From Linear-GitHub Sync

[2022-09-30 23:12] sean-brydon commented on #4781
Comment
<sub>Sean Brydon on Linear</sub>

[2022-09-30 23:13] sean-brydon commented on #4781
Github -> Linear

[2022-09-30 23:14] #4781 closed

[2022-09-30 23:52] uchibeke opened #4782 "Enable Sales, Research and other teams using Cal.com to send Gift Cards/other perks to meeting participants"
## Is your proposal related to a problem?

For Sales, Research and UI/UX teams, providing incentives for participants is key to increasing engagement.

Some teams manually send out Gift cards or others perks from third party platforms even when they use cal.com for meeting scheduling

There should be a way to send perks/initiate the sending of perks like Gift card or Crypto from within the cal.com

[2022-10-01 00:09] Merlin04 opened #4783 "[CAL-266] Cannot update email from settings"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When I attempt to update my email on the [https://app.cal.com/settings](https://app.cal.com/settings) page, the network request sent to the `viewer.updateProfile` endpoint does not contain the new URL, so the value does not change. I was able to manually resend the request with the updated email, which appears to have been succ

[2022-10-01 02:59] #4394 closed

[2022-10-01 05:37] hariombalhara commented on #4776
There are many checks in the code throughout for these suffixes. It would be require good testing effort. BUt I will open a separate issue for tracking/

[2022-10-01 05:37] hariombalhara opened #4784 "Get rid of all _other,_video,_calendar suffixes"

[2022-10-01 05:38] hariombalhara commented on #4776
Here is the issue #4784

[2022-10-01 05:39] hariombalhara commented on #4752
Actually you can directly visit the page with any uid and modify the component code to fake the response it needs to render the page. THat is the easiest approach, otherwise you would need to setup stripe.

[2022-10-01 06:11] JOduMonT opened #4785 "Able to add a post even trigger in Workflow"
I simply love Cal
and even more with the free workflow and the n8n integration and ...
in any case
I think it would be wonderful to being able to directly in the workflow to add after even action
such as simply as a thank you note for showing up, to proposing another meeting or a appreciation survey

[2022-10-01 08:39] sean-brydon opened #4786 "[CAL-32] github test"
undefined
From Linear-GitHub Sync

[2022-10-01 08:39] #4786 closed

[2022-10-01 08:40] sean-brydon opened #4787 "[CAL-34] linear sync test"
undefined
From Linear-GitHub Sync

[2022-10-01 08:41] PeerRich commented on #4787
test

[2022-10-01 10:47] #4787 closed

[2022-10-01 10:47] PeerRich opened #4788 "remove capitalize from headlines"

[2022-10-01 10:50] #4788 closed

[2022-10-01 11:03] #4779 closed

[2022-10-01 21:01] #4660 closed

[2022-10-02 05:02] hariombalhara opened #4791 "[CAL-167] Even after Giphy is uninstalled it keeps on showing GIF on success page"

[2022-10-02 05:05] hariombalhara opened #4792 "Rainbow App not visible under Apps in EventType even if installed"
This happens when it's the only installed app(Stripe and Giphy are not installed)

[2022-10-02 05:40] hariombalhara commented on #4791
It would require moving eventType app data from eventType.metadata to it's own table. This is important because during uninstall, we want to avoid scanning through all eventTypes' metadata to delete the particular app's data(which can be time-consuming and resource-intensive).

[2022-10-02 13:10] MinhazI opened #4793 "[CAL-149] Zoom causes a JSON error after a while"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When someone tries to book a meeting through my Cal.com links, it doesn't work as expected. The meeting doesn't get added to my Google calendar and throws the error: `Could not book the meeting. Unexpected end of JSON input` but the meeting is there on Cal.com's app meeting section where I can see all meetings that are booked v

[2022-10-03 07:32] CarinaWolli commented on #4785
Hi @JOduMonT, I am currently working on a new workflow trigger that triggers after a meeting ended (#3708). This would allow you to send thank you notes or any other customized emails/SMS. Does that solve your issue?

[2022-10-03 07:51] CarinaWolli commented on #4780
Already fixed on latest main

<img width="662" alt="Screenshot 2022-10-03 at 09 50 26" src="https://user-images.githubusercontent.com/30310907/193526557-8cad3c1d-a8d9-4354-be02-67ab19bca890.png">

[2022-10-03 07:51] #4780 closed

[2022-10-03 08:41] PeerRich commented on #3167
maybe @alishaz-polymath can look into this as he is working closely with caldav

[2022-10-03 08:43] PeerRich commented on #4793
@zomars or @emrysal  can you look into this?

[2022-10-03 08:53] PeerRich commented on #4783
@zomars

[2022-10-03 09:22] milospuac commented on #4793
@MinhazI   Did you try reinstalling the Zoom app?

[2022-10-03 09:23] MinhazI commented on #4793
@milospuac I did not, I removed Google calendar. Lemme do that and keep you posted.

[2022-10-03 09:49] Kaminoan-Dev commented on #4436
Any updates on this issue? Not been able to detect CalDAV events (Zoho Calendar) defeats the purpose of using cal.com since I have to manually check if there is a conflict every time.

[2022-10-03 10:02] alishaz-polymath commented on #4436
Hey @Kaminoan-Dev
We're still working on the issue. We have a call with the maker of tsDAV this week and we hope to resolve the issue soon after.

[2022-10-03 10:09] alishaz-polymath commented on #4436
We have also narrowed it down enough to a behavior where all the events for a day are detected if there is at least one cal.com event that exists on that day. The calls are sent out normally, and yet for some reason return null calendar object, which is why we're facing this issue. You can try to re-create it and confirm. Simply create a cal.com event on a day, and then create any apple calendar/i

[2022-10-03 10:41] Mindbowser opened #4796 "INVALID_URL error"
### Issue Summary

We have setup cal.com on our own ec2 server along with APIs codebase. APIs seems to be accessible and running on port 3002. But when we try to access it using postman it is throwing below error

### Steps to Reproduce

1. Using postman call http://IP-ADDRESS:3002/v1/attendees

Any other relevant information. For example, why do you consider this a bug and what did you expect to

[2022-10-03 11:28] CarinaWolli opened #4797 "Remove black ring on focus when copying private link"
### Issue Summary

When copying the private link in the advanced event-type settings it currently looks like this:
<img width="893" alt="Screenshot 2022-10-03 at 13 23 40" src="https://user-images.githubusercontent.com/30310907/193565757-093e7ecc-ab51-4b38-9f7b-7b4ce2ff931a.png">

The black ring around the copy icon should not be shown.

[2022-10-03 11:39] hariombalhara opened #4798 "[CAL-1690] When stripe app is uninstalled, Team Events using payments aren't cleaned up with payment and marked hidden"
The same happens to User Events, but not to Team Events.

Following code only fetches user events
<img width="890" alt="Screenshot 2022-10-03 at 5 09 31 PM" src="https://user-images.githubusercontent.com/1780212/193568345-72603eb2-9bbb-4112-a95f-8b13573e9b27.png">

<sub>[CAL-1690](https://linear.app/calcom/issue/CAL-1690/when-stripe-app-is-uninstalled-team-events-using-payments-arent)</sub>

[2022-10-03 11:43] hariombalhara opened #4799 "[CAL-166] Improve the App uninstallation cleanup per event by keeping a relation of EventType to App."
Improve this uninstallation cleanup per event by keeping a relation of EventType to App, instead of keeping data in metadata.

<img width="1284" alt="Screenshot 2022-10-03 at 5 13 12 PM" src="[https://user-images.githubusercontent.com/1780212/193568940-3a494b1e-8a1f-470b-a96a-7c84402318be.png](https://user-images.githubusercontent.com/1780212/193568940-3a494b1e-8a1f-470b-a96a-7c84402318be.png)">

[2022-10-03 12:15] CarinaWolli commented on #3025
Already fixed. Tested it and CalVideo link in confirmation email is clickable 👍

[2022-10-03 12:15] #3025 closed

[2022-10-03 13:19] MuriloAmarals commented on #4797
Hey @CarinaWolli I'll send you a print of how it turned out, do you want me to take the ring off just the button?

[2022-10-03 13:22] MuriloAmarals commented on #4797
Take a look at this!

https://www.loom.com/share/2b7458501b63435494187d7f7b5fe3d9

[2022-10-03 13:28] CarinaWolli commented on #4797
@MuriloAmarals Looks already way better! Would it be possible to have the ring only around the gray area when clicking the button?

[2022-10-03 13:29] MuriloAmarals commented on #4797
Let me try!!

[2022-10-03 13:47] MuriloAmarals commented on #4797
@CarinaWolli Is good?
https://www.loom.com/share/4e6c03ffea5c415b9a8cfcd807041891

[2022-10-03 13:54] CarinaWolli commented on #4797
https://www.loom.com/share/4e6c03ffea5c415b9a8cfcd807041891

@MuriloAmarals What exactly changed? I don't see anything changed from the first video

[2022-10-03 13:55] matheusmuniz03 commented on #4752
@hariombalhara @Jaibles Do we have a design for this? Figma?

[2022-10-03 13:56] MuriloAmarals commented on #4797
In the first video you can't see it because of the quality, but there is space between the ring and the border. In the second video I left it together, it got better.

[2022-10-03 13:58] MuriloAmarals commented on #4797
But I solved the issue bug, right?

[2022-10-03 14:08] JeroenReumkens commented on #4508
@sean-brydon  Just came across this issue now —  I will already do the majority of this work when converting this component to support dark mode (and thus implement select v2). Just so you know.

[2022-10-03 14:08] CarinaWolli commented on #4797
Yes, looks good so far! Please just create a PR and link this issue, then I can review it :)

[2022-10-03 14:40] MuriloAmarals commented on #4797
Hey @CarinaWolli look what I got.
https://www.loom.com/share/48409b9905114c67bb68efbfe40d59bc

[2022-10-03 15:12] PeerRich opened #4801 "usefathom.com"

[2022-10-03 15:15] MuriloAmarals commented on #4797
But in the PR I sent I didn't leave it that way, because I couldn't leave the ring just around the button.

[2022-10-03 17:04] hariombalhara opened #4805 "Routing Forms issues observed on cal.com/sales"
- Loading forms/xyzzzz visible on the page. It is shown because Cal embed.js isn't loaded yet.
	- We shouldn't show such text. We can immediately move to rendering null in that case and work on a skeleton for near future.
	- We can preload the link https://developer.cal.com/embed/set-up-your-embed#preload
- Unnecessary CLS on the page. 2 things seem to be happening
	1. Form description isn't visib

[2022-10-03 18:12] PeerRich commented on #4775
hey @hariombalhara I opened https://github.com/calcom/cal.com/pull/4804 which has the fathom details but it's missing the actual implementation of the script.

to be more future proof, we should have a new category "analytics" that has an abstraction in /event-types to inject any kind of analytics script into it (and phantom is one of them)

[2022-10-03 18:53] PeerRich opened #4808 "team event-type templates"
team admins should be able to create a team event that automatically gets applied to each team member of that team.

i.e.

team owner:
- creates /sales with certain settings
- peer and bailey join

now peer and bailey have:

cal.com/peer/sales
cal.com/bailey/sales

## question:

what do we do if they already have a /sales event and now a nameconflict?

[2022-10-03 21:52] PeerRich opened #4812 "/success: wrong border color of last two dividers"
first divider is correct, the last two are incorrect

<img width="670" alt="CleanShot 2022-10-03 at 22 51 47@2x" src="https://user-images.githubusercontent.com/8019099/193692508-e912d566-f34b-4c48-b780-aaf16362a3cd.png">

[2022-10-03 22:23] Kaminoan-Dev commented on #4436
I am using Zoho Calendar, and unfortunately when I create a cal.com event on a day, and then create an event on Zoho directly on that same day it is still not detected.

[2022-10-04 06:13] MistrFana opened #4813 "[CAL-178] Phone number from SMS notifications workflow not available"
### Is your proposal related to a problem?

I have created a workflow with SMS notifications. I love it! But I don't have the attendee's phone number available. Is there any chance to get it? I don't want to have two "phone number" inputs in the booking form.

### Describe the solution you'd like

I would love to have new variable available with given phone number to be able to use it in Workflows

[2022-10-04 07:53] PeerRich opened #4814 "[CAL-206] users with google sign in can't delete account"
since we ask for a password right now

[2022-10-04 08:02] PeerRich commented on #3949
@alannnc you are on it, right?

[2022-10-04 08:05] #4664 closed

[2022-10-04 08:05] #4523 closed

[2022-10-04 08:06] PeerRich commented on #4363
@JeroenReumkens maybe you find a way to fix this?

[2022-10-04 09:02] #4003 closed

[2022-10-04 09:07] PeerRich commented on #4525
done

[2022-10-04 09:07] #4525 closed

[2022-10-04 09:13] PeerRich opened #4817 "show dialog to change timezone when moving timezones"
like todoist:

<img width="641" alt="CleanShot 2022-10-04 at 10 12 14@2x" src="https://user-images.githubusercontent.com/8019099/193781771-3eaf649e-e3f2-424e-ba3f-47a59eff328f.png">

[2022-10-04 09:17] #4455 closed

[2022-10-04 10:09] #1588 closed

[2022-10-04 10:46] MatheusBeniniF commented on #4817
Hey @PeerRich, where do you want the "View my settings" button to go?

[2022-10-04 11:36] milospuac commented on #4813
Hi there. Thanks for reaching out. Our engineering team might implement this in one of our next versions.

Best,

[2022-10-04 11:38] milospuac commented on #4796
Hi there

Thanks for reaching out.

Our team will look into this

[2022-10-04 11:44] hariombalhara opened #4820 "[CAL-124] Improve loading time for Embed"
The target is to reduce the amount of time the loader shows for.

- Generate embed specific pages on the fly which would allow Embed UI to be rendered from backend itself. This should allow us to remove the loader completely from the parent and never hide the content in iframe.

[2022-10-04 12:19] serglo opened #4822 "When added as a guest on a calcom booking page, the event is not showing up by default in the guests calendar"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When added as a guest on a calcom booking page, the event is not showing up by default in the calendar.

Calendar: Google Calendar (via G Suite)

### Steps to Reproduce

1. Booking page
2. Add guests
3. Guests get calcom email, but it is not showing up in the calendar unless they actively add it -> leads to missing calls.

###

[2022-10-04 12:43] #4812 closed

[2022-10-04 12:44] emrysal commented on #4796
Hi @Mindbowser - I think we've nailed this now 👍 (Had a look yesterday in Slack since this ticket was opened)

[2022-10-04 12:45] #4796 closed

[2022-10-04 13:05] #4530 closed

[2022-10-04 13:35] Udit-takkar commented on #4135
@PeerRich  this has been already done.

[2022-10-04 13:37] Udit-takkar commented on #3978
Should close this issue. the PR has been merged.

[2022-10-04 13:41] Udit-takkar commented on #4717
@TikoAbelyan  can you explain a bit more ? what iframe are you talking about ? and attach any screenshot/video.

[2022-10-04 13:46] joeauyeung commented on #3978
Fixed in #4484

[2022-10-04 13:46] #3978 closed

[2022-10-04 13:54] Udit-takkar commented on #4717
so you don't want to close the popup when clicked outside ? and only by X button.

[2022-10-04 15:27] PeerRich commented on #4377
fixed

[2022-10-04 15:30] PeerRich opened #4829 "/event-types set default tab when opening details"
append `?tabName=setup` to the link

[2022-10-04 15:40] PeerRich opened #4831 "Dynamic Booking Link sends email with "Nameless" as title"
![Uploading CleanShot 2022-10-04 at 16.38.00@2x.png…]()

[2022-10-04 15:41] PeerRich opened #4832 "Dynamic Booking Link sends email with "Nameless" as title"
<img width="578" alt="CleanShot 2022-10-04 at 16 38 00@2x" src="https://user-images.githubusercontent.com/8019099/193864239-ffe71470-9844-4840-8ecf-ad841ac3d080.png">

[2022-10-04 15:50] #4377 closed

[2022-10-04 15:52] #4765 closed

[2022-10-04 15:56] milospuac commented on #4782
Thanks for reaching out. Our team will consider adding this for one of our next versions.

[2022-10-04 16:03] #4829 closed

[2022-10-04 17:03] alannnc commented on #3949
@PeerRich I believe I've already fixed this and then the code was commented because it was still failing. I will make some time to pay a revision to this for sure.

[2022-10-04 19:13] aspiers opened #4836 "[CAL-1660] event booking page loads availability slowly without any spinner"
# Issue Summary

Loading a public availability page shows all the days greyed out for several seconds:

![image](https://user-images.githubusercontent.com/100738/193903897-812a42c4-034b-4390-85ed-af702de37513.png)

After waiting a few seconds, it loads properly:

![image](https://user-images.githubusercontent.com/100738/193904160-4b836f80-5b36-4a7d-9484-2d31bd5a072a.png)

I don't remember ever see

[2022-10-04 19:45] TikoAbelyan commented on #4717
yup

[2022-10-04 19:55] zomars commented on #4783
Not a bug until a team member can reproduce. Adding "needs investigation" until then.

[2022-10-04 19:56] aspiers commented on #3167
# Related issues

#2054 is very similar to this, but see https://github.com/calcom/cal.com/issues/2054#issuecomment-1211943072 for the difference.

#3810 is a request for the "opposite" feature, i.e. cal.com being able to export an aggregated ICS feed (which could be a collection of either VFREEBUSY or VEVENT) to other systems, in contrast to this and #2054 which are both about cal.com importing a

[2022-10-04 19:58] zomars commented on #2660
@CarinaWolli it works at browser level (Chrome) But it hasn't been implemented in react hook forms (frontend) nor tRPC (backend) AFAIK

[2022-10-04 22:17] galligan commented on #3653
Would love to be notified when I need to approve something!

[2022-10-04 22:24] cseeger opened #4838 "Allow default country code for SMS number"
### Is your proposal related to a problem?

Allowing for a default country code setting would alleviate confusion for users where 99% are from a single country.

### Describe the solution you'd like

Allow a config option to default to a specific country code for SMS.

### Describe alternatives you've considered

Was unable to find a setting in admin or a `data-cal-config` option.

[2022-10-04 22:54] #3785 closed

[2022-10-05 04:44] MinhazI commented on #4793
Hi, this issue keeps on coming back and doesn't get fixed unless I reinstall Zoom. Is there a way you guys can look into this please and let me know how I could continue to use Zoom on Cal.com without having to reinstall it every other day?

Thank you.

[2022-10-05 09:58] sihma commented on #2698
I just realized I already opened an issue for this. See #3167

[2022-10-05 09:58] #2698 closed

[2022-10-05 10:25] PeerRich opened #4841 "new signup page"
<img width="731" alt="CleanShot 2022-10-05 at 11 25 19@2x" src="https://user-images.githubusercontent.com/8019099/194039169-83fcfa4d-40d8-4b08-a743-dba6a33ba9fe.png">

figma https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=13337%3A84283

[2022-10-05 11:33] MatheusBeniniF commented on #4366
Hi @PeerRich and @Jaibles, Is this printscreen the new design you want?

[2022-10-05 12:24] PeerRich opened #4843 "z-index event type"
<img width="377" alt="CleanShot 2022-10-05 at 13 23 52@2x" src="https://user-images.githubusercontent.com/8019099/194059518-fd7bc0e8-3b48-41e6-a917-25d023352919.png">

[2022-10-05 12:46] PeerRich commented on #4843
fixed

[2022-10-05 12:46] #4843 closed

[2022-10-05 12:46] PeerRich commented on #4366
we dont have designs yet, @Jaibles comes back to office monday

[2022-10-05 12:56] alefattorini opened #4845 "Cal.com doesn't create a meeting in HubSpot"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

I installed the hubspot app, the sync is correctly and I see cal.com in the hubspot page
I have created some meetings but I didn't find meetings or any entry in the hubspot contact page.
What miss?

### Steps to Reproduce

1. install hubspot app
2. check if the contact exists among the hubspot contacts
3. organize a new meeting

[2022-10-05 13:09] PeerRich opened #4847 "publish calcom/api under EE license"
- [ ] turn calcom/api from private to public
- [ ] introduce `LicenseCheck()` in API

[2022-10-05 13:10] PeerRich commented on #4847
this will remove the need to invite people + make docker setup possible

[2022-10-05 14:12] emrysal commented on #4836
So this may be developer bias but re. (2) the skeleton is our loader - shown whilst the dates are being loaded. It fades in and out to show it's doing something.

3. is an interesting suggestion and it ties in to the existing ideas I had for 1. We're looking into ways to improve the performance of the booking pages with high priority.

[2022-10-05 14:19] MuriloAmarals opened #4850 "Cancel button text overlaying border"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

In recurring meetings, the text of the cancel button is overlapping the border of the button.

![image](https://user-images.githubusercontent.com/87545137/194083561-4a9a334d-13bd-4783-bf5f-6618e352d17e.png)

[2022-10-05 14:33] #4817 closed

[2022-10-05 17:20] JeroenReumkens opened #4851 "12/24h time format on booking page not updating according to settings page when app runs on different (sub)domain"
### Issue Summary

In #4771 we did a fix to ensure that your 12/24 time formats where honoured on the bookings page. The solution however is **not** working on cal.com. The reason is the settings page lives on `app.cal.com` and the public booking page on `cal.com/....`. Because of that the localstorage set on the settings page will be set on the subdomain and won't be updated on the root domain.

[2022-10-05 18:12] Toledodev opened #4854 "Wrong css on event-types dropdown button"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Wrong border and focus ring on dropdown

### Steps to Reproduce

1. Go to Event-types page
2. Click on dropdown

Loom video: https://www.loom.com/share/e02cea8187d0410598561136526b0eaa
Any other relevant information. For example, why do you consider this a bug and what did you expect to happen instead?

### Technical details

-

[2022-10-05 18:30] PeerRich opened #4855 "onboarding more mobile friendly"

[2022-10-05 18:44] Toledodev commented on #4851
Hey @PeerRich @JeroenReumkens How we can test this? I'm trying to solve the problem but how can I check?
I'm thinking in something like this in /apps/web/pages/v2/settings/my-account/general.tsx
![Screenshot_2](https://user-images.githubusercontent.com/87545086/194137886-29ced0a7-6ce1-472e-854d-c006d0ce6f9e.png)

[2022-10-05 18:46] #4855 closed

[2022-10-05 18:46] #3872 closed

[2022-10-05 18:49] #3781 closed

[2022-10-05 18:59] alishaz-polymath commented on #3998
Can you please provide the details of how to reproduce it and a loom video showing what's going on? This would speed up the debugging incredibly 🙏

[2022-10-05 19:06] olivierlambert commented on #3998
Anything more than my initial post? There's not a lot more to share I'm afraid, it's relatively straightforward. Let me know if you need a specific detail that you might find missing, I'll be happy to provide it :)

[2022-10-05 19:11] olivierlambert opened #4857 "yarn build breaks with FATAL ERROR (heap out of memory)"
### Issue Summary

Building cal.com with `yarn build` fails (on Debian 11 with 8GiB RAM, Node `v16.17.1`, npm `8.15.0`, yarn `1.22.19`)

## Steps to Reproduce

1. git clone
2. yarn
3. yarn build

Output:

[code]

[2022-10-05 19:32] PeerRich commented on #4851
this is a different problem. the settings page was never meant to change the booking page.

the booking page should use the user agent

[2022-10-05 19:32] #4851 closed

[2022-10-05 19:38] PeerRich opened #4858 "routing forms not showing up in navigation"
due to renaming from routing_forms to routing-forms?

[2022-10-05 19:45] PeerRich opened #4859 "/auth: tab index is wrong, needs to be email > password"

[2022-10-05 19:50] #4859 closed

[2022-10-05 20:30] alishaz-polymath commented on #3998
Can you confirm which caldav service are you using? Are you on nextcloud, or is it any other?

[2022-10-05 21:30] aspiers commented on #4836
OK that's interesting - I know this is only a single data point but I completely missed the fading in and out, both on mobile and desktop.  So if that's your version of a spinner, I think it needs to be much less subtle.  Even if I had noticed it, I don't think I'd have been 100% confident of what it meant.  Why not be a bit more explicit and at least add a spinner and/or loading message?

Great.

[2022-10-06 02:20] MinhazI commented on #4793
Hi @PeerRich and @milospuac, this issue persists almost every other day unless I reinstall Zoom. Is there a way we could have this fixed?

[2022-10-06 05:14] Ambesh69 commented on #4822
Not only when you add guests. Even when someone schedules a call from my cal link, none of us are receiving the meeting room link. It just shows 'Huddle01 video' *attaching a file below*

![Screenshot_20221006-103842__01](https://user-images.githubusercontent.com/67411052/194219887-24066bed-d1dd-4fe0-931d-3d9b7ce53959.jpg)

[2022-10-06 05:52] hariombalhara opened #4862 "Timezone is flaky in showing up in Settings -> General"
https://app.birdeatsbug.com/sessions/95mqFlEsTnAptpY-MlYczFD6UNjzMR04Ra2sWmzGtT5b

NOTE: This flakiness is with other fields as well but is not visible because other's always have first value as selected as always.

[2022-10-06 06:07] olivierlambert commented on #3998
Sure, my pleasure to do so!

[2022-10-06 07:13] hariombalhara opened #4864 "Delete Dialog once closed, makes the entire app unresponsive."
See the loom https://www.loom.com/share/18065a8a4e92472887f0fa28fa6e3235.

Doesn't happen with embed modal box

[2022-10-06 08:21] PeerRich opened #4866 "/booking: cancel all remaining button"
<img width="292" alt="CleanShot 2022-10-06 at 09 20 56@2x" src="https://user-images.githubusercontent.com/8019099/194260394-97af24ad-022a-49e3-99a8-4fb7995bc3c5.png">

[2022-10-06 08:30] sean-brydon commented on #4841
sorry @b4s36t4 we are closing this issue for now.

Please let us know if there is any other issues you'd like to work on

[2022-10-06 08:49] milospuac opened #4868 "URL redirection field missing from the advanced settings of the event type"
This didn't make the 2.0

[2022-10-06 08:52] hariombalhara commented on #4864
I tried to understand the root cause and it seems that if I move the trigger to open the delete dialog box outside the dropdown the bug goes away.
So, dropdown and Dialog box together are causing this issue.

[2022-10-06 09:45] alishaz-polymath commented on #3998
https://github.com/calcom/cal.com/blob/main/packages/lib/sanitizeCalendarObject.ts
Can you place the debug prints before and after this function. So, print what the input for the function is, then print what the output for the function is (before it is returned). And kindly share.

[2022-10-06 09:50] olivierlambert commented on #3998
Sure, can you give me the exact line I need to enter before and after the function? I'm not familiar with the code base.

[2022-10-06 09:52] alishaz-polymath commented on #3998
When you visit the link, it's just a function. You simply need to modify this function enough that it allows you to print before any changes are made to the  object.data, and then after the changes are made but before it is returned back.

[2022-10-06 09:57] #4850 closed

[2022-10-06 10:00] alishaz-polymath commented on #3998
[code]
Can be changed to
[code]
Please log the `obj` passed in as an input, and `result` after making changes to the `obj`

[2022-10-06 10:03] olivierlambert commented on #3998
Thanks, testing that now!

[2022-10-06 10:16] olivierlambert commented on #3998
I have issues to build it right now (cf https://github.com/calcom/cal.com/issues/4857) I'll try to see if I can build on an older commit.

[2022-10-06 10:19] alishaz-polymath commented on #4857
https://www.makeuseof.com/javascript-heap-out-of-memory-error-fix/#:~:text=js%20project%20is%20the%20%E2%80%9CJavaScript,a%20Linux%20distribution%20like%20Ubuntu.

Kindly allocate more memory for nodejs project using the guide in the link provided. 🙏

[2022-10-06 10:35] fitmesas opened #4870 "waiting list on session"
### Is your proposal related to a problem?

 When I use the planning I organize session (1 hour) for a limit number of people. But for people arriving too late, it could be awesome to have a waiting list in case of delete seat from the first booking.

(Write your answer here.)

### Describe the solution you'd like

 Here is my use case : in a Crossfit box, a session is 1 hour for 12 seats. For the

[2022-10-06 10:51] olivierlambert commented on #4857
`export NODE_OPTIONS=--max-old-space-size=4096` did the trick! Thank you :+1:

[2022-10-06 10:51] #4857 closed

[2022-10-06 10:52] olivierlambert commented on #3998
[code]

[2022-10-06 11:04] alishaz-polymath commented on #3998
Try printing `object` where it says long input here in the console log

[2022-10-06 11:08] olivierlambert commented on #3998
You mean printing the content of `obj.data` via a `console.log(obj.data);`?

[2022-10-06 11:35] #4858 closed

[2022-10-06 11:41] PeerRich commented on #4866
seems to be fixed on app.cal.dev

[2022-10-06 11:41] #4866 closed

[2022-10-06 11:45] alishaz-polymath commented on #3998
No, not obj.data
Just do console.log(JSON.stringify(obj)) and share the response please 🙏

[2022-10-06 11:52] PeerRich commented on #4845
@leog can you look into this?

[2022-10-06 11:56] leog commented on #4845
@PeerRich of course

@alefattorini thanks for reporting this.

There is a known behavior in which case HubSpot would get meetings and that is when you have other calendars installed. Our system does the meeting creation in just the calendar as it prioritize external calendars. Do you have an external calendar installed?

[2022-10-06 11:56] PeerRich commented on #4836
I think 3. makes sense, we can do that while we find more ways to speed up fetching data faster

[2022-10-06 11:57] PeerRich opened #4872 "There is no need to display this redundant information."
### Discussed in https://github.com/calcom/cal.com/discussions/4853

<div type='discussions-op-text'>

<sup>Originally posted by **JoeyFenny** October  5, 2022</sup>
Anyone knowledgeable about landing pages and conversion rates will tell you, the last thing you should be doing is throwing too much irrelevant information at your user. You want to keep it clear and concise.

<img width="777" alt="im

[2022-10-06 12:00] PeerRich commented on #4872
hey @joeyfenny i opened issues for each feedback and will work on it!

[2022-10-06 12:07] sean-brydon commented on #3653
I super like this idea - I'm in the process of creating our new slack app

As we some how got removed from their market place. Watch this space in the upcoming weeks

[2022-10-06 12:17] PeerRich opened #4874 "/event-types: additional input buttons not same size"
<img width="887" alt="CleanShot 2022-10-06 at 13 16 57@2x" src="https://user-images.githubusercontent.com/8019099/194310336-2c484212-1cb5-4173-a699-30f37cdf2fcc.png">

the trash icon needs to be same size

[2022-10-06 12:19] PeerRich commented on #4793
hey @minhazl upgrading to urgent and critical. not sure why this is happening, we'll investigate!

[2022-10-06 12:32] #4868 closed

[2022-10-06 12:33] #4874 closed

[2022-10-06 12:45] nandosr98 opened #4878 "Application needs Administrator Permissions. The app may be not safe"
We have deployed the library in our local machines, but we cannot attach our account to the Office 365 Calendar. It throws an error "Admin approval required. This ap can be dangerous"

Is it neccessary to validate the application with Microsoft as a company? Do we need to give special permissions to the app? We have given the Full Access Calendar to the user.

[2022-10-06 12:47] PeerRich opened #4879 "refactor: consolidate all booking pages"
right now we have a booking page for teams and for individuals (and I believe for dynamic booking links?)

we should consolidate them into one page/component

[2022-10-06 12:47] PeerRich commented on #4879
cc @hariombalhara

[2022-10-06 12:49] #4878 closed

[2022-10-06 12:52] PeerRich opened #4880 "reintroduce SAML SSO"
it existed in 1.9 but got lost in transition to 2.0

[2022-10-06 13:37] #4776 closed

[2022-10-06 13:37] #4862 closed

[2022-10-06 13:55] olivierlambert commented on #3998
The output is:
[code]

[2022-10-06 14:31] devkiran commented on #4880
I'm looking into this issue.

[2022-10-06 16:54] emrysal opened #4884 "Currently it is not possible to get the 11:00pm slot to open up"
<img width="1079" alt="image" src="https://user-images.githubusercontent.com/1046695/194372841-9c34716c-7615-4744-9ce1-dcc8bb5ec200.png">

<img width="361" alt="image" src="https://user-images.githubusercontent.com/1046695/194372887-b6a63f7e-d4af-4a83-94a0-2a3f2be38d64.png">

[2022-10-06 16:57] emrysal opened #4885 "Event type availability does not respect 12h/24h account setting."
On an account with 12-hour time format display

<img width="352" alt="image" src="https://user-images.githubusercontent.com/1046695/194373701-83c87be8-3719-4c9f-8953-8ef4c06f1ed0.png">

[2022-10-06 17:19] MuriloAmarals commented on #4885
Hey @emrysal on my localhost this bug is not happening.
https://www.loom.com/share/77409357642e4ceca7e457b0cfb48f01

[2022-10-06 17:23] MatheusBeniniF commented on #4884
In my opinion, in this case, it is not possible to schedule a meeting after 22 pm because your meeting is 1 hour long, as in this printscreen, the last available time is at 4:30 pm because my time is set until 5 pm.

![image](https://user-images.githubusercontent.com/88898100/194378310-f5816801-f18d-4fed-b721-f072e31ea51c.png)

[2022-10-06 19:47] alishaz-polymath commented on #3998
Yeah, so CalDAV isn't capturing anything at all. There is no event fetched, hence the errors. I'll add a catch for the errors here, but other than that we need to identify why it isn't working on self-hosted system. It works perfectly fine on my system locally, so I'm quite baffled really. I would need more data and sadly, don't have the time to take it up with a high priority, but rest assured, w

[2022-10-06 19:51] olivierlambert commented on #3998
Is there a manual request I can build myself (eg with curl) to query my CalDav server that I could use to help debugging?

[2022-10-06 19:55] alishaz-polymath commented on #3998
I doubt that would be helpful in this case given that it works when you do it in the Cal.com instance. It's most likely a local configuration issue, or something is messed up in the codebase. But we'll get to the bottom of it.
😄
I'll provide you some more break points to log further, so that we identify the main cause, but I need to pull them out and it's really late here. I'll do that tomorrow mo

[2022-10-06 20:40] #3975 closed

[2022-10-06 21:00] zomars commented on #4793
[This is a known issue with zoom](https://devforum.zoom.us/t/users-refresh-token-keeps-expiring/41872/9). I'm afraid there's only so much we can do from our side.

The best answer we can give so far is: "Reinstall Zoom in Cal.com and logout from other devices until Zoom decides to support tokens for multiple devices"

[2022-10-06 21:25] MuriloAmarals opened #4889 "Wrong focus ring on Help Dropdown"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Wrong CSS on Dropdown of User in Help Item.

https://www.loom.com/share/89cfb0b84c1b487c95040ce02b9f7b44

[2022-10-06 21:33] olivierlambert commented on #3998
Thank you very much for your efforts!

[2022-10-06 21:36] PeerRich opened #4890 "[CAL-36] linear sync 1"
undefined

[2022-10-06 21:37] PeerRich opened #4891 "[CAL-37] linear snyc #2"
what if this has an image?

or a list?

* lets go
* hell yea

1. lets go
2. to the moon

![1.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/1aaa0448-4023-4a7e-8edd-6a95352db72d/03bf5ac2-e6e8-4236-83c4-08c62d32f998)

[2022-10-06 21:37] #4890 closed

[2022-10-06 21:37] PeerRich commented on #4891
sheeesh

[2022-10-06 21:38] PeerRich commented on #4891
does this work?

[2022-10-06 21:40] sean-brydon commented on #4891
Test test test

[2022-10-06 21:41] PeerRich commented on #4891
hmm

[2022-10-06 21:42] #4891 closed

[2022-10-06 21:42] PeerRich opened #4892 "linear test"

[2022-10-06 21:43] #4892 closed

[2022-10-06 22:23] saschafoerster commented on #1588
Yeah!

[2022-10-06 22:28] PeerRich commented on #4838
can you show a screenshot where this would need to be implemented?

[2022-10-06 22:29] PeerRich commented on #4717
that is not intended right now and also not planned to be changed

[2022-10-06 22:29] #4717 closed

[2022-10-06 22:30] PeerRich commented on #4782
i dont think this is a priority right now, if at all, it'll be an app in the app store -- but not build by the core team

[2022-10-06 22:47] uchibeke commented on #4782
Hi, @PeerRich great idea! Yes, it's better as an App and @chimoney is happy to work on it and open a PR.

I know that having an easy way to reward participants is a huge need for Sales and Research calls. But I am curious if the number of people that use cal.com for Sales and Research Interviews is large

[2022-10-06 22:48] alannnc commented on #4793
I'm currently investigating this!

[2022-10-06 23:02] cseeger commented on #4838
<img width="367" alt="Screen Shot 2022-10-06 at 3 55 53 PM" src="https://user-images.githubusercontent.com/90306/194433415-acb755e6-eed8-4595-9747-fedb4e1600a0.png">

Above is the default prompt, where I assume the user is to select their country. However, this is not obvious in our opinion.

<img width="363" alt="Screen Shot 2022-10-06 at 3 56 46 PM" src="https://user-images.githubusercontent.com

[2022-10-07 04:52] MinhazI commented on #4793
Thank you @alannnc

[2022-10-07 06:19] milospuac commented on #4889
Hey Murilo, thanks for reaching out. Our team will address this

[2022-10-07 06:22] milospuac commented on #4870
Thanks for the suggestion @fitmesas

[2022-10-07 07:32] milospuac commented on #4822
Thanks for reaching out and reporting this. Our team will address this

[2022-10-07 08:09] CarinaWolli opened #4894 "'Cancel all remaining' button needs design"
### Issue Summary

<img width="1223" alt="Screenshot 2022-10-07 at 10 04 37" src="https://user-images.githubusercontent.com/30310907/194504388-407bdb9e-ca8f-404b-93b7-f1d2ac438b02.png">

If the button has enough space, the text should fit in one line. Otherwise, it should at least have the right padding on top and bottom.

[2022-10-07 09:15] alefattorini commented on #4845
I didn't install any external calendar on hubspot

[2022-10-07 09:25] #4265 closed

[2022-10-07 09:34] sean-brydon opened #4895 "Allow the additional notes be made into a required field through a setting in the event-type"
Allow the additional notes be made into a required field through a setting in the event-type

[2022-10-07 09:41] matheusmuniz03 commented on #4894
Hey @CarinaWolli, this issue has already been resolved in [this](https://github.com/calcom/cal.com/issues/4850).
![Captura de tela de 2022-10-07 06-38-51](https://user-images.githubusercontent.com/87545749/194524359-a2eb4c31-d46a-41a0-9f0c-7a3dc76c3131.png)

[2022-10-07 09:51] sean-brydon opened #4896 "Re-organise Event Type Settings"
A lot of things are just getting added to advanced settings when they don't fit into any of the other categories.

Create some more specific categories and move things about this page.

OR

Come up with a better way to display toggles that don't fit into specific parts of the settings

[2022-10-07 10:19] sean-brydon opened #4898 "Convert Help modal to use V2 components"
Current:
<img width="298" alt="CleanShot 2022-10-07 at 11 19 02@2x" src="https://user-images.githubusercontent.com/55134778/194531660-4887d16c-b5dd-4bb9-add2-194daf1e4464.png">

[2022-10-07 10:20] PeerRich commented on #4896
i'm voting to add a new category: "Guests" and move

- Disable Guests
- Offer Seats
- (soon): Also invite ... (which @emrysal is working on)

into that section

___

also

<img width="891" alt="CleanShot 2022-10-07 at 11 20 31@2x" src="https://user-images.githubusercontent.com/8019099/194531900-2c244cba-1b8d-4361-ad3c-e96289e4974e.png">

should be in event setup not additional settings

[2022-10-07 10:25] PeerRich opened #4899 "/event-types/apps: remove horizontal line and add more spacing"
<img width="899" alt="CleanShot 2022-10-07 at 11 24 43@2x" src="https://user-images.githubusercontent.com/8019099/194532584-c4cc284e-5992-4fa3-8edf-f2e607b4270e.png">

should be
<img width="931" alt="CleanShot 2022-10-07 at 11 25 34@2x" src="https://user-images.githubusercontent.com/8019099/194532753-ffd3f8d6-deb5-4211-9a44-ea132d14249d.png">

[2022-10-07 10:46] sean-brydon commented on #4896
Created a Figma mockup of this @PeerRich  https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=20334%3A167573

@Jaibles please correct If anything is wrong :)

[2022-10-07 11:08] #4135 closed

[2022-10-07 11:09] PeerRich commented on #4838
oh i see. can you not add a "1" to it?

[2022-10-07 11:09] PeerRich commented on #4838
i believe this is behaviour by the library that we're using. its probably better to raise an issue there. will investigate

[2022-10-07 11:50] CarinaWolli opened #4900 "Add checkbox if phone number is required for 'send SMS to Attendee' workflow action"
### Feature Summary

Currently, the person booking an event is required to add the phone number for SMS reminders. We want to add a checkbox to the workflow action where the organizer can decide if the phone number is required for booking the event or not.

Remove the info:
<img width="808" alt="Screenshot 2022-10-07 at 13 47 53" src="https://user-images.githubusercontent.com/30310907/194546111-75

[2022-10-07 12:08] PeerRich commented on #4898
done

[2022-10-07 12:08] #4898 closed

[2022-10-07 12:24] PeerRich commented on #4813
@CarinaWolli could look into this

[2022-10-07 12:26] #3128 closed

[2022-10-07 12:26] PeerRich opened #4905 "/event-types/requirements"
- [ ] add new tab
- [ ] move "Require confirmation" in here
- [ ] new: require password
- [ ] new: require account
- [ ] later: require geo-location

we can extend the `<Gate>` component

<img width="1017" alt="CleanShot 2022-10-07 at 13 10 41@2x" src="https://user-images.githubusercontent.com/8019099/194550397-57e6d098-c51f-4a5c-8f1d-5926e7813bea.png">

[2022-10-07 12:28] aquodigital commented on #1221
This mostly happens due to a missing variable in `.env` file.

At least in my case that was the issue.

[2022-10-07 12:33] hariombalhara commented on #4619
The workaround is available to user as follows and explained in slack message.

![image](https://user-images.githubusercontent.com/1780212/194553838-75024b3d-274b-4921-88ad-c6450abf0dba.png)

I am closing this ticket and it an be reopened if that's not working.
Autoclose popup might be a very specific requirement, if more people are interested, we can add it.

Possible options:

AutoClose - with s

[2022-10-07 12:33] #4619 closed

[2022-10-07 13:04] MuriloAmarals commented on #4889
Hey @milospuac , I'm working on this problem here and I'm thinking that the best way to solve this bug is removing the ring of `DropdownMenuContent`. Also because the Event Types Dropdown does not have `this focus:ring`. What do you think?

[2022-10-07 13:11] MuriloAmarals commented on #4889
I thought it was better to leave it without to maintain a default in the site's Dropdowns. 👍

[2022-10-07 14:57] leog commented on #4845
I meant external calendars installed within Cal. Like Google Calendar or CalDAV. If you have one, then HubSpot will not get the meetings as they go through that other external Calendar.

[2022-10-07 15:56] CarinaWolli commented on #4894
Thank you @matheusmuniz03 for pointing that out 🙏

[2022-10-07 15:56] #4894 closed

[2022-10-07 16:15] CarinaWolli commented on #4813
@MistrFana Do you mean to have the phone number as a dynamic text variable for a custom workflow template?

So to add it here:
<img width="508" alt="Screenshot 2022-10-07 at 18 14 50" src="https://user-images.githubusercontent.com/30310907/194600008-d3f07297-6bc9-4bbb-a00d-7ec2609c2c01.png">

Or what exactly do you mean by _I would love to have new variable available with given phone number to be

[2022-10-07 16:24] CarinaWolli commented on #4831
Duplicate #4832

[2022-10-07 16:24] #4831 closed

[2022-10-07 16:35] CarinaWolli commented on #4783
@zomars I could reproduce this. Here is a video showing that it is not working for me:
https://www.loom.com/share/2702cc1ef2da4c818c3aebd5a2a1fbd1

[2022-10-07 16:44] baileypumfleet opened #4908 "Add numbered badge to bookings item in menu"
Much like how the mail app shows you a '5' badge if you have 5 unread messages, we should show a badge for the number of unconfirmed meetings next to the bookings item in the sidebar.

[2022-10-07 17:09] joeauyeung commented on #3854
@ch-ruetgers-RMH @CodingRockz thank you for your patience.

I found that the problem was we were missing the `offline_access` scope when requesting access tokens for MS Teams. Without the `offline_access` scope the response body did not include the refresh token.

#4910 should address this issue. In your Azure instances you should add `offline_access` under "API Permissions" for your Cal.com app.

[2022-10-07 17:25] cseeger commented on #4838
Interesting, perhaps there's already a mechanism for this type of configuration.

All said, we're convinced that our customer base is largely within the US, and it's our opinion that many folks in the US **rarely** use country codes. Hence, the source of confusion.

Appreciate your help with this.

[2022-10-07 17:39] zomars opened #9126 "[CAL-1777] Major module refactor"
Needed for calcom/cal.com#4847

* [X] /attendees calcom/api#176
* [X] /availabilities calcom/api#177
* [ ] /availability
* [X] /booking-references calcom/api#180
* [X] /bookings
* [X] /custom-inputs calcom/api#184
* [ ] /destination-calendars
* [X] /event-types calcom/api#181
* [X] /hooks calcom/api#186
* [X] /me
* [x] /memberships calcom/api#204
* [ ] /payments
* [X] /schedules calcom/api#185
* [

[2022-10-07 17:59] #3854 closed

[2022-10-07 18:11] PeerRich opened #4913 "[CAL-40] linear test #5"

[2022-10-07 18:11] PeerRich commented on #4913
test

[2022-10-07 18:13] PeerRich commented on #4913
comment on linear

[2022-10-07 18:18] #3708 closed

[2022-10-07 18:18] #4785 closed

[2022-10-07 18:21] zomars commented on #4820
Why do we need this again?

[2022-10-07 18:22] PeerRich commented on #4913
comment on github

[2022-10-07 18:27] tedspare commented on #4913
test comment

[2022-10-07 18:31] PeerRich opened #4915 "/event-types: be able to hide additional notes"
Also is there a way to remove additional notes?

[Slack Message](https://calendso.slack.com/archives/C01NXDSRY9W/p1665165353348449?thread_ts=1665165353.348449&cid=C01NXDSRY9W)

[2022-10-07 18:33] #4847 closed

[2022-10-07 18:44] PeerRich commented on #4913
comment on linear

[2022-10-07 18:44] PeerRich commented on #4913
comment on github

[2022-10-07 18:45] #4913 closed

[2022-10-07 18:50] tedspare commented on #4913
gh comment

[2022-10-07 21:15] alishaz-polymath commented on #3673
hi @timowevel1
Please try and fetch the latest main and then test if the issue persists. Do let us know your findings please.

[2022-10-07 21:18] alishaz-polymath commented on #3167
I just want to mention here that this feature is up next for us in CalDAV as soon as we have stabilized the integration enough to consider it robust. This could still take some time, but it is surely now in our sight 🙏

[2022-10-07 21:21] alishaz-polymath commented on #2988
Fix merged earlier, somehow didn't auto close

[2022-10-07 21:21] #2988 closed

[2022-10-07 21:23] alishaz-polymath commented on #2913
Hi @newz666
A fix for a similar issue was merged a while back in relation to the CalDAV calendar not showing the rescheduled changes of the event. It should do that now, so if you could please confirm if you're facing this issue, we can explore further. Else, we can close this as complete. 🙏

[2022-10-07 21:28] alishaz-polymath commented on #2463
Closing this as obsolete due to inactivity and major upgrades since this was opened. Feel free to re-open if you face this issue with the latest pull 🙏

[2022-10-07 21:28] #2463 closed

[2022-10-07 21:31] alishaz-polymath commented on #2317
Hey @Lucas-Steinmann We have since improved upon the CalDAV integration and there have been no issues in relation to what you mention here for a while. I'm closing this ticket as I believe it is now obsolete given the massive changes and improvements we've already done towards making CalDAV integration more stable. However, do feel free to re-open this if you still face this issue with the latest

[2022-10-07 21:31] #2317 closed

[2022-10-07 21:32] alishaz-polymath commented on #1124
It has been fixed, tested and confirmed 🙏

[2022-10-07 21:32] #1124 closed

[2022-10-07 21:40] christianpetty commented on #3167
@alishaz-polymath that’s awesome!

[2022-10-08 05:16] alishaz-polymath commented on #4436
@hiramfromthechi okay. Let's get this resolved then 🙌
Can you do the following and then share here?
1. Remove the connected calendars and add them again.
2. Create a loom.com video showcasing the issue and how I can re-create on my end easily
3. Share the video link here.

If I need anything else after that I'll let you know. 🙏

[2022-10-08 17:09] PeerRich commented on #4838
i see that makes sense.

https://www.npmjs.com/package/react-phone-number-input

it seems like there is a setting to ignore country codes, not sure how it works tho

[2022-10-08 17:09] #4908 closed

[2022-10-08 19:00] alishaz-polymath commented on #3457
Just thought I'd explicitly mention, Kerio connect with CalDAV works perfectly now, the entire flow 🙏
So, if anyone faces any issues at all regarding that, please do let me know 😄

[2022-10-08 19:54] alishaz-polymath commented on #4592
So, I can see that this isn't true, please see the loom video here:
https://www.loom.com/share/1f08ff08c9804f29a25b8d991cf11aff
Hence, closing this ticket for now.
Please feel free to re-open this if you still face the issue and the loom video experience is different from your experience.

[2022-10-08 19:54] #4592 closed

[2022-10-08 21:36] PeerRich commented on #4752
i think only the button is wrong?

[2022-10-08 21:38] PeerRich commented on #2818
@joeauyeung was this fixed?

[2022-10-08 21:38] PeerRich commented on #2946
@joeauyeung was this fixed?

[2022-10-08 22:05] joeauyeung commented on #2818
Fixed in #4910

[2022-10-08 22:05] #2818 closed

[2022-10-08 22:06] joeauyeung commented on #2946
Fixed in #4910. On Azure App Permissions ensure that you have enabled the "offline_access" permission.

[2022-10-08 22:06] #2946 closed

[2022-10-08 22:07] PeerRich opened #4917 "[CAL-41] linear test #6"

[2022-10-08 22:08] PeerRich commented on #4917
comment on github

[2022-10-08 22:08] PeerRich commented on #4917
comment on linear

[2022-10-08 22:09] #4917 closed

[2022-10-08 22:35] sean-brydon opened #4918 "[CAL-42] Explore radio group component"
Explore why we never started using the V2 radio group component and are carrying on to import unstyled radix

[2022-10-09 11:08] #4899 closed

[2022-10-09 11:25] hariombalhara commented on #4820
To allow embed pages(which are the same like non embed pages with a few styling changes done using useEmbed hook detection) to be statically generated.

[2022-10-09 12:01] sean-brydon opened #4919 "[CAL-43] Social cards improved"
Currently social cards don’t look the best and could be very off putting to click

![0FB1982E-86A9-46A5-A83F-7962C841E416.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/3dc6fb90-0c34-4f6f-940d-c770c468f9b7/2f5ad26e-cac4-42a2-a140-b052af532c02)

[2022-10-09 12:30] #3716 closed

[2022-10-09 12:31] #3801 closed

[2022-10-09 12:31] #3738 closed

[2022-10-09 14:51] harshsinghatz commented on #4628
@PeerRich is this still open?

[2022-10-09 16:18] TechRemoteSloutions opened #4920 "Unhandled Runtime Error"
![image](https://user-images.githubusercontent.com/101277631/194767804-b4029da4-245c-4ceb-95cc-1bf47dcaf68f.png)

https://test.tech/settings/teams/2/members

[2022-10-09 22:25] Toledodev commented on #4111
Hey @PeerRich I created a logic to filter only the meetings of the day, is this something you are looking for?
![Screenshot_2](https://user-images.githubusercontent.com/87545086/194782246-e0fd05a4-bbc1-4b34-9be8-8a23d20e700e.png)

[2022-10-10 00:15] waveywaves opened #4921 "Investigate increasing developer productivity with pull requests environments"
I would like to make life easier for existing and new Calcom contributors including maintainers by implementing [Uffizzi](https://uffizzi.com/) previews.
Disclaimer: I work on Uffizzi
Uffizzi is a Open Source full stack previews engine and is free for Calcom. This will provide newcomers with previews of their PRs in the cloud, allowing them iterate faster, without having to first set up a complete

[2022-10-10 03:22] bfollington commented on #3438
Thanks for this, fwiw you need google calendar connected AND it has to be the calendar that events are added to for the URL generation to work. I had both Google Calendar and my iCloud calendar connected, with iCloud as the default and experienced this issue.

This is on app.cal.com, not self-hosting.

[2022-10-10 08:35] hariombalhara opened #4926 "[CAL-45] Testing Github"

[2022-10-10 08:35] #4926 closed

[2022-10-10 09:26] JeroenReumkens commented on #4363
@PeerRich  Just retested this and it seems to be working for me! I think the recent update to Radix 1.0 indeed fixed this. Could you please retest?

[2022-10-10 10:18] JeroenReumkens commented on #4252
@Jaibles Would you be able to make a design for these social images?
Currently we have this image for a meeting with one person:

![image](https://user-images.githubusercontent.com/2969573/194844584-0f6538e2-3863-4c5d-b85c-ff2b08275f70.png)

However, that image probably isn't fully matching our design. In total we need 3 types of images:
1. Meeting with one person
2. Meeting with multiple persons

[2022-10-10 10:31] nandosr98 opened #4928 "Invalid `prisma.credential.create()`, Foreign key constraint failed on the field: `Credential_appId_fkey (index)"
### Issue Summary

I have configured my application in Azure and I am able to log into my account and give permissions to it. Calcom returns the following response:

{"message":"\nInvalid `prisma.credential.create()` invocation:\n\n\n  Foreign key constraint failed on the field: `Credential_appId_fkey (index)`"}

### Steps to Reproduce

1. Log In Calcom
2. Integrate the Outlook Calendar
3. Give Ca

[2022-10-10 12:25] TjrGithub commented on #4836
It takes more than a few seconds to load on Firefox (both Ubuntu 04/2022 and Android-Fdroid). Unfortunately, that leaves the impression no time slots are available.

[2022-10-10 12:35] TjrGithub opened #4930 "Optionally make time zone a required entry field (and display local times)"
### Is your proposal related to a problem?

I am dealing with recruiters based in a different time zone. It has happened several times they call an hour off: They seem to think the displayed time is in their local time. But cal.com seems to show my availability in my time zone. Second cause, many recruiters mentally correct for the time zone offset and never check whether it's already corrected fo

[2022-10-10 12:35] #4363 closed

[2022-10-10 12:36] PeerRich commented on #4921
how is this different to vercel's previews which we already use?

[2022-10-10 13:40] #3989 closed

[2022-10-10 13:48] CarinaWolli opened #4932 "[CAL-47] Linear test"
linear test

[2022-10-10 13:48] CarinaWolli commented on #4932
comment on linear

[2022-10-10 13:49] CarinaWolli commented on #4932
test comment

[2022-10-10 13:49] CarinaWolli commented on #4932
test issue

[2022-10-10 13:52] leog opened #4933 "[CAL-48] Test issue"
Some description

[2022-10-10 13:53] leog commented on #4933
It works!

[2022-10-10 13:53] #4933 closed

[2022-10-10 13:57] nandosr98 commented on #4928
Update! I found the error. In the migrations, inside the model App, there is only one row created, so Calcom doesn't know how to make the integration. It's not includedd on the migrations

[2022-10-10 14:46] #4801 closed

[2022-10-10 15:23] CodingRockz opened #4935 "TypeError: Cannot use 'in' operator to search for 'viewer.public.i18n' in undefined"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

A summary of the issue. This needs to be a clear detailed-rich summary.

### Steps to Reproduce

1. updated to latest codebase
2. run cal service on self hosted
3. accessing web give this error on 'yarn start' console

[2022-10-10 15:28] CodingRockz commented on #3854
@joeauyeung I tried to update the code base with the #4910 and latest main code. After this i am unable to access the cal home page on my self hosted install. I now get a 500 error. On the yarn start page, i see this

@calcom/web:start: warn(prisma) Conflict for env vars NEXT_PUBLIC_LICENSE_CONSENT, CALCOM_LICENSE_KEY, DATABASE_URL, NEXT_PUB                                   LIC_WEBAPP_URL, NEXT_P

[2022-10-10 15:57] PeerRich opened #4936 "[CAL-49] hide timezone dialog when impersonating"

[2022-10-10 16:04] zomars commented on #4820
@hariombalhara I mean, why do we need to use the `[user]/[...type]` approach instead of `[user]/[type]/embed`

[2022-10-10 16:40] hariombalhara commented on #4820
That's because an embed is just UI changes over the already working booking links. Embed should obviously get all the updates that happen in booking pages automatically.

If I create a separate route like [user]/[type]/embed, I would need to be able to share everything from /[user]/[type] with it.

[2022-10-10 17:03] PeerRich opened #4937 "[CAL-50] fix typecheck errors of #4759"
[https://github.com/calcom/cal.com/pull/4759#pullrequestreview-1136204381](https://github.com/calcom/cal.com/pull/4759#pullrequestreview-1136204381)

[2022-10-10 18:50] #4306 closed

[2022-10-10 19:21] krumware opened #9125 "[CAL-1789] API package.json missing dependencies"
When building API standalone, it is inheriting a number of dependencies based on the availability of the `web` app, and currently fails to build on its own.

To reproduce, do not initialize the `web` submodule.
This includes a number of dependencies of files in the ./lib folder, including this example: This was reached after including a missing dependency for @types/bcrypt

[code]

Should API's pa

[2022-10-10 22:32] zomars commented on #4820
You can just re-export the same page and inside the code check if you're one or another

[2022-10-10 22:45] alannnc commented on #4793
@MinhazI I made some updates on the DB and now it now should be working properly for you? Have you had any recent error in the last days?

[2022-10-10 22:51] zomars commented on #4088
Is this still a thing?

[2022-10-10 23:39] #4936 closed

[2022-10-11 04:34] MinhazI commented on #4793
Hi @alannnc, wonderful. I shall change the meeting to Zoom and test it out. I actually switched to Cal.com's video call till this issue was fixed. I shall revert back to Zoom and keep you posted.

Thank you for taking the time to look into this issue.

[2022-10-11 07:09] timowevel1 commented on #3674
I already saw that somewhere else, but do I have to setup google when I just want to use caldav? Bc caldav doesnt work on my instance
________________________________
From: Leo Giovanetti ***@***.***>
Sent: Wednesday, August 3, 2022 6:55:17 PM
To: calcom/cal.com ***@***.***>
Cc: timololipop ***@***.***>; Mention ***@***.***>
Subject: Re: [calcom/cal.com] Missing apps (Issue #3674)

@timololipop<ht

[2022-10-11 07:10] MinhazI commented on #4793
Hi @alannnc, I just checked, and the issue is still there. Am I supposed to reinstall Zoom on Cal.com? Please let me know if I should reinstall Zoom or if there are other steps that I should follow. Thank you.

[2022-10-11 07:13] hariombalhara commented on #3674
@alishaz-polymath might know more.

[2022-10-11 07:25] JxSinka commented on #2615
hi - we still have an issue

my cal.com timeslot doesnt sync with my ***@***.*** calendar - can
u pls debug?

[image: image.png]
www.jamessinka.com
Twitter <http://twitter.com/jamessinka>
NYT <https://www.nytimes.com/2019/11/07/style/dopamine-fasting.html>
LinkedIn <https://www.linkedin.com/in/jamessinka/>

On Tue, Apr 26, 2022 at 4:05 PM Alex van Andel ***@***.***>
wrote:

[2022-10-11 07:49] CarinaWolli opened #4941 "[CAL-51] Page not found after n8n installation"
![Screenshot 2022-10-11 at 09.42.19.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/a9820c4d-a9b5-4bd5-91f3-281544c42fbb/fec487b8-76ec-46d6-b718-2de0b755090d)

[2022-10-11 08:00] rittaaka commented on #3553
Awesome! looking forward to this.

On Sat, Jul 30, 2022 at 17:00:53, Peer Richelsen ***@***.***>
wrote:

[2022-10-11 08:13] jarich123 commented on #4538
There we go! Works now.

Thanks!

On Mon, Sep 19, 2022 at 1:00 PM, Joe Au-Yeung < ***@***.*** > wrote:

[2022-10-11 08:29] shirazdole opened #4942 "[CAL-52] Shiraz Test Linear Issue"
Creating a test issu

[2022-10-11 08:29] #4942 closed

[2022-10-11 08:34] miventure commented on #2775
Thank you for your response.

Including David our CEO who's more of a tech expert.

I'm not sure what you mean by what CalDav, but I have it connected to
something called only office. I have the issue when it's connected to both
outlook and Microsoft mail too when i tried to troubleshoot yesterday.

Best,

On Wed, May 18, 2022 at 4:15 AM milospuac ***@***.***> wrote:

--
*Jason Crystal *
Co-founde

[2022-10-11 09:54] CarinaWolli opened #4944 "[CAL-53] More flexible workflow templates"
We want to allow the user to edit our predefined workflow templates. When a user chooses a template we prefill the text fields with our predefined text. The user can then make any changes to the templates.

[2022-10-11 09:57] Jaibles opened #4945 "[CAL-127] /settings /calendars - Add calendar button is missing"
In /settings /calendars there should be a way to add new calendars in the same way that there is in the Installed Apps area.

Currently
<img width="1487" alt="CleanShot 2022-10-11 at 10 53 39@2x" src="https://user-images.githubusercontent.com/4536123/195059518-cf163d2f-fc78-4a0c-889a-d46771e7a48e.png">

Should be
<img width="1496" alt="CleanShot 2022-10-11 at 10 57 31@2x" src="https://user-images.

[2022-10-11 10:01] gGh00sTt opened #4946 "Name under Availability in Event types doesn't change as per the Availability Name"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Name under Availability in Event types doesn't change as per the Availability Name and remains "Working Hours" even though the availability name has changed.
Don't think this necessarily as bug but maybe for better user experience

### Steps to Reproduce

1. Create a new Availability with name other than Working Hours
2. Set th

[2022-10-11 10:02] Jaibles opened #4947 "[CAL-128] /installed apps - Install another calendar dropdown UI issues"
- The dropdown text looks disabled
- The dropdown width is causing the text to go over 2 lines
- The copy in the button should be changed to "Add" since you can add an additional account from an already installed app.
- The copy in the dropdown should then be "Install new calendar app"

Current
<img width="609" alt="CleanShot 2022-10-11 at 10 58 34@2x" src="https://user-images.githubusercontent.co

[2022-10-11 11:15] milospuac commented on #4946
Hi there

I think that is just a description/suggestion and not necessarily a name of your past availability, the same way how under _Limits_ there is _How often you can be booked_

Best,

[2022-10-11 11:15] #4946 closed

[2022-10-11 11:16] milospuac commented on #4935
Hi there,

Thanks for reaching out

Our team will investigate this

[2022-10-11 11:23] milospuac commented on #4930
Hi there

Thanks for reaching out

Cal.com is always fetching the browser locale, so if for example, I end up on your booking page, it will automatically show your slots in MY time zone. Not yours. Of course, you will see your slots in your own time zone.

Also, there is a time zone dropdown on each booking page so if the viewer wants to see your slots in a time zone different from the one they ar

[2022-10-11 11:30] CodingRockz opened #4948 "Error: Could not find a production build in the '/home/ubuntu/cal.com/apps/web/.next', works on yarn dev"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

A summary of the issue. This needs to be a clear detailed-rich summary.

### Steps to Reproduce

1. Self hosted install of latest build
2. yarn and yarn build
3. yarn dev works fine
4. yarn start - gives the below error and exits

 Error: Could not find a production build in the '/home/ubuntu/cal.com/apps/web/.next' directory.

[2022-10-11 11:47] hariombalhara commented on #4820
<img width="1003" alt="Screenshot 2022-10-11 at 5 16 51 PM" src="https://user-images.githubusercontent.com/1780212/195081591-f1b81729-8267-4473-b918-2fa33b0208a8.png">
Tried the re-export approach, though earlier I was thinking there would be a lot of glue code, it seems clean and DRY.
Thanks @zomars

[2022-10-11 12:41] JeroenReumkens commented on #4340
Hey @Jaibles  Shall we use this issue to track progress and discussions on this? Hopefully we can then come up with a list of changes required to make this perfect! 👌

Last week we fixed an issue where users would always see the 24h layout (see #4865 ) when they were logged in, which is partially related to this issue.

## The fix we applied last week looks as follow

### Logged in:
* We always ta

[2022-10-11 12:50] JeroenReumkens commented on #4724
This is fixed by #4839. Didn't know this issue existed! 😄

[2022-10-11 12:50] #4724 closed

[2022-10-11 14:18] #4088 closed

[2022-10-11 14:18] PeerRich commented on #4088
i dont think so

[2022-10-11 14:21] MatheusBeniniF commented on #3464
hey @PeerRich, now we have Popover instead of collapsible, do you still want us to do a switch to Dropdown?

[2022-10-11 14:22] PeerRich opened #4950 "[CAL-54] SIU routing forms not saving"
[https://app.birdeatsbug.com/sessions/4QAk-rDvlDH5nGJO9DTXvUtB6Ka7WaYSoplDNrFA-Vic](https://app.birdeatsbug.com/sessions/4QAk-rDvlDH5nGJO9DTXvUtB6Ka7WaYSoplDNrFA-Vic)

[2022-10-11 14:38] PeerRich opened #4951 "[CAL-55] Linear test peer"

[2022-10-11 14:38] PeerRich commented on #4951
comment on linear

[2022-10-11 14:39] #4951 closed

[2022-10-11 14:47] hariombalhara commented on #4950
I am checking this. Super weird that I can't replicate it locally.

[2022-10-11 15:18] zomars commented on #3524
@JeroenReumkens this is the chart we discussed on the call

[2022-10-11 15:29] #4941 closed

[2022-10-11 15:52] #4950 closed

[2022-10-11 15:53] zomars commented on #4820
I think we should strive to make all routes as portable as possible regardless of usage. But I think I'll delegate this decision to you since you're the most hand-on on this issue. 🙏🏽

[2022-10-11 16:02] zomars commented on #4921
That would have us with another preview to put attention to. I don't think we're at a point where we need this. And if we do we should abandon Vercel previews altogether.

[2022-10-11 16:10] PeerRich opened #4957 "[CAL-56] cant confirm bookings"
[https://twitter.com/oliverflueckige/status/1579865405589696512?s=46&t=pCOGF79ZkCUIdmklv3ZjUA](https://twitter.com/oliverflueckige/status/1579865405589696512?s=46&t=pCOGF79ZkCUIdmklv3ZjUA)

[2022-10-11 16:45] emrysal commented on #4948
I think this happens due to the order. `yarn build` (also make sure this succeeds) builds the repo, but `yarn dev` clears out the .next folder. So if you run `yarn dev` after building it clears out your build.

try `yarn build && yarn start`?

[2022-10-11 18:24] PeerRich opened #4958 "[CAL-58] rainbow app only shows up if you install giphy as well"
i think the check if app is installed is wrong

[2022-10-11 18:55] waveywaves commented on #4921
@zomars we support using uffizzi previews as backend for your vercel previews, you can continue using vercel and the free uffizzi previews side by side. Checkout this [Uffizzi + Vercel PoC](https://github.com/UffizziCloud/foodadvisor)

[2022-10-11 19:01] milospuac commented on #4957
@PeerRich Looking into it

[2022-10-11 19:03] milospuac commented on #4957
@PeerRich Reached out to him in Help Scout, will continue there. Looks like it's the issue with confirming meetings that have Zoom location

[2022-10-11 19:03] #4957 closed

[2022-10-11 19:06] PeerRich opened #4959 "[CAL-59] Message from Peer"
linear test issue

[2022-10-11 19:07] #4959 closed

[2022-10-11 21:10] ssuds commented on #3438
I'm having the same issue as @bfollington on app.cal.com with an Outlook and Google Calendar account linked.

The google meet link generates if I have events added to my gmail account. No link generates if I have events added to my Outlook account.

[2022-10-11 22:58] ecam900 commented on #1474
Any news on when this will be implemented?

[2022-10-12 03:10] CodingRockz commented on #4948
Will give this a try and let you know.  But when i did this previously using the order you suggest, i got TypeError: Cannot use 'in' operator to search for 'viewer.public.i18n' in undefined and hence why i tried the dev option and noticed it worked find with dev and only failed when building production

[2022-10-12 03:11] CodingRockz commented on #4948
Update:

Exact same issue with your sequence

@calcom/web:start: Error: Could not find a production build in the '/home/ubuntu                     /cal.com/apps/web/.next' directory. Try building your app with 'next build' befo                     re starting the production server. https://nextjs.org/docs/messages/production-s                     tart-no-build-id
@calcom/web:start:     at NextNode

[2022-10-12 07:25] #4864 closed

[2022-10-12 07:27] hariombalhara opened #4963 "[CAL-62] Test"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

A summary of the issue. This needs to be a clear detailed-rich summary.

### Steps to Reproduce

1. (for example) Went to ...
2. Clicked on...
3. ...

Any other relevant information. For example, why do you consider this a bug and what did you expect to happen instead?

### Technical details

- Browser version, screen recording

[2022-10-12 07:28] #4963 closed

[2022-10-12 07:59] Jaibles commented on #1474
Hey @ecam900, we do have a feature that enables you to generate a one-off private link that doesn't expose you're personal URL. Would this meet your needs?

![CleanShot 2022-10-12 at 08 56 29@2x](https://user-images.githubusercontent.com/4536123/195284601-f857ef0c-65be-4018-9ff6-a1dd92e97be9.png)

If not, please let me know a little bit more about your intended use case!

[2022-10-12 08:03] PeerRich opened #4964 "[CAL-63] cancel meeting still using v1 designs"

[2022-10-12 08:21] PeerRich opened #4965 "[CAL-64] label test"

[2022-10-12 08:21] #4965 closed

[2022-10-12 08:39] #4050 closed

[2022-10-12 08:52] alishaz-polymath commented on #3457
Zimbra is now fully supported 🚀

[2022-10-12 09:41] Silur opened #4967 "DestinationCalendar.credentialId does not exist"
When trying to set up a new user according to the readme, prism shows the following error:

[code]

Migrations successfully ran and checking the table in question is indeed missing this field

Running:
calcom-docker (freshly pulled and built images)

[code]

[2022-10-12 09:42] alishaz-polymath commented on #3998
Hey @olivierlambert Can you [book me](https://cal.com/d/jWPq1ucmRvNtMKNeRfPT8T/quick-chat) so that we can explore and debug this?
Thanks 👍

[2022-10-12 11:18] PeerRich commented on #4957
seems to be a zoom error

[2022-10-12 11:41] PeerRich opened #4969 "[CAL-81] /settings/teams/new/: add payment"
![CleanShot 2022-10-12 at 12.40.35@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/1835f8ac-86d9-4a73-a607-0778365e84eb/ec18e9f7-a0fe-40b5-8514-b12ef0e5a697)

after step 2 should link to stripe to create a new paid team

[2022-10-12 11:44] PeerRich opened #4970 "[CAL-82] /settings/teams/new: auto-add team URL when typing in team name"
![CleanShot 2022-10-12 at 12 41 38](https://user-images.githubusercontent.com/8019099/195333794-6368dce5-8766-4586-b050-f2ce37212bd1.gif)

same as in event-types:

https://user-images.githubusercontent.com/8019099/195334237-8ce50699-e742-41e6-a913-6ae281dfe0fe.mp4

[2022-10-12 12:12] olivierlambert commented on #3998
Hey! Can you check your link? It says 404 to me.

[2022-10-12 12:26] alishaz-polymath commented on #3998
Sorry about that. Try [this link](https://cal.com/d/tVboeGkHWJFgEsjCnBktaw/quick-chat) now

[2022-10-12 12:28] hariombalhara opened #4972 "[CAL-83] Explore Templates for App-Store Cli"
[https://www.raycast.com/templates](https://www.raycast.com/templates)

A gallery of “ready to build” apps for Raycast, similar to `yarn app-store create` command

[2022-10-12 12:53] #3600 closed

[2022-10-12 13:14] Jaibles opened #4974 "Test"

[2022-10-12 14:42] Jaibles commented on #1474
cc @alishaz-polymath

[2022-10-12 16:59] PeerRich opened #4978 "[CAL-87] re-add “tip” in sidebar"
only show it on cal.com

[2022-10-12 19:39] SauravL3010 commented on #3733
I think this issue is fixed ? isn't it.

[2022-10-12 20:44] ecam900 commented on #1474
@Jaibles I want to be able to:

1. Send someone a one-time-use link, that I generate on the server.

2. I would then embed metadata into the generated link (some data pertaining to the appointment: e.g. orderID, requesterID, etc. ).

3. I want to then listen for webhooks, for when the event is scheduled, which would include the previously embedded Metadata, and execute business logic on my server.

[2022-10-12 21:12] Jaibles commented on #1474
@ecam900 thank you for clarifying. 🙏 Discussing with the team.

[2022-10-12 21:41] MatheusBeniniF commented on #4964
Hey @PeerRich, can you give me more details?

[2022-10-12 22:17] PeerRich commented on #4964
![image](https://user-images.githubusercontent.com/8019099/195458237-c317d6a2-e3c9-499d-bcaf-2f7b4d092a87.png)

this screen still old design

[2022-10-12 22:35] PeerRich commented on #1474
@ecam900 please open a new ticket for this so we can add an API endpoint for one-time links

[2022-10-12 22:35] #4974 closed

[2022-10-12 22:51] PeerRich opened #4979 "[CAL-111] add deployment buttons to console"

[2022-10-12 22:52] MatheusBeniniF commented on #4964
Thanks, I will take a look on this.

[2022-10-13 00:32] ecam900 commented on #1474
@PeerRich Will do - the title will be very similar to this one, which only deviates in the description of the issue. The implementation detail of hiding the event information is just an added constraint to the otherwise same task: an api endpoint that produces a one-time booking link.

With that being said, I'll open the ticket tomorrow.

Thanks again - if I get some free time, I will try to contr

[2022-10-13 08:02] Jaibles commented on #4583
@CarinaWolli I'm getting a 404 on the loom but assuming we do not want that horizontal scroll. Any objection to truncating as Peer suggested?

[2022-10-13 08:09] PeerRich opened #4980 "[CAL-126] onboarding: step 3 not mobile friendly"
![965E388F-BC66-4D45-B7EB-A1A520E8B1A6.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/c82ec2c6-065e-4cc8-a38c-77e3bb368dde/1f4a0371-d138-4fe6-90c6-74483cd7c918)

[2022-10-13 08:10] CarinaWolli commented on #4583
@Jaibles Here is another loom how it currently looks with the scroll (definitely does not look right): https://www.loom.com/share/35ea5ba6f71449c894a7c4223b923bd2

I don't have any objection to truncating 👍

[2022-10-13 08:30] CarinaWolli opened #4981 "[CAL-150] Event types with Attendee Phone Number as location can not be rescheduled"
### Issue Summary

Bookings with Attendee Phone Number as the location can not be rescheduled because the input field for phone number is empty and disabled.

### Steps to Reproduce

1. Create an event type with Attendee Phone Number as the location
2. Book event
3. Reschedule the same event

[2022-10-13 08:41] rene-mueller commented on #3457
- [ ] Confluence Calendar

would be nice

[2022-10-13 08:43] alishaz-polymath commented on #3457
@rene-mueller Added to the list. Will run checks when the time is right and see if we can fully support it 🙂

[2022-10-13 09:21] milospuac commented on #4967
Thanks for the report. Our team will investigate this

[2022-10-13 09:35] PeerRich opened #4983 "[CAL-131] dynamic booking links: wrong avatar border"
![CleanShot 2022-10-13 at 10.35.23@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/c111ce35-e0c9-44d9-a87e-bc03942671fc/33259377-af57-4919-b428-e60c8130497e)

[2022-10-13 09:45] PeerRich opened #4985 "[CAL-132] Hello Product Hunt 👋"

[2022-10-13 09:45] PeerRich commented on #4985
whats upp

[2022-10-13 09:46] PeerRich commented on #4985
hey back

[2022-10-13 09:46] PeerRich opened #4986 "[CAL-133] Github ticket"

[2022-10-13 09:51] #4986 closed

[2022-10-13 09:51] #4985 closed

[2022-10-13 10:05] matheusmuniz03 commented on #4980
hey @PeerRich , do we have any designs in figma for this?

[2022-10-13 11:43] matheusmuniz03 commented on #4983
@PeerRich do we know what the desired edge is? Is there this in figma?

[2022-10-13 11:44] chrisgick commented on #3457
@alishaz-polymath if you need a Confluence Cloud test environment I would be happy to help

[2022-10-13 13:33] CarinaWolli commented on #4981
The input field for the phone number is not shown when Attendee Phone Number is selected as the first location. Only appears after choosing Organizer Phone Number and then again Attendee Phone Number. It also can be booked like that (so the booking location is then 'phone')

![Screenshot 2022-10-13 at 15.28.57.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/f7f13c47-6326-4519-

[2022-10-13 14:14] alishaz-polymath commented on #3457
@chrisgick that would be lovely. Thank you. I think we can explore that over a call instead to ensure the access remains secured.

[2022-10-13 14:42] CarinaWolli opened #4989 "[CAL-134] Test linear sync"
test issue

[2022-10-13 14:43] CarinaWolli commented on #4989
Works

[2022-10-13 14:43] #4989 closed

[2022-10-13 15:34] SauravL3010 commented on #4298
I am working on this one.
I was wondering, if there is a easier way to translate the given text to all supported languages ?

PS. I am new to i18n standards, I started manually translating the text to different languages, please let me know, if there is a better approach.

This is what it looks like:
![Image](https://user-images.githubusercontent.com/65268462/195640974-ed5c368a-5e35-464b-8f22-27d2

[2022-10-13 15:46] MatheusBeniniF commented on #4298
Hey @SauravL3010, Im already worked on that and the PR is ready for review.

[2022-10-13 15:49] SauravL3010 commented on #4298
@MatheusBeniniF thanks for letting me know, can I checkout your PR ?
Whats your workaround for i18n ? do you translate the text for each language ?

[2022-10-13 16:48] PeerRich commented on #4983
yea the desired one is in the teams dark mode page: https://cal.com/team/cal

[2022-10-13 17:13] matheusmuniz03 commented on #4983
Okay @PeerRich thanks! I will do that.

[2022-10-13 17:14] PeerRich commented on #4983
eventually we should merge the two layouts, there is no reason to have two separate ones @alishaz-polymath

[2022-10-13 17:26] shirazdole opened #4991 "[CAL-151] Update website copy from $174 to $185"
![CleanShot 2022-10-13 at 18.25.22@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/43d105e0-6b52-4213-9f41-362810f66c6c/2fb80aa8-50fd-4965-a4d1-efdf485cd073)

Currently, the slider has the old $174 price that needs to be updated to $185: [https://cal.com/platform](https://cal.com/platform)

[2022-10-13 17:27] shirazdole commented on #4991
nice

[2022-10-13 17:30] PeerRich commented on #4991
done

[2022-10-13 17:30] #4991 closed

[2022-10-13 18:59] matheusmuniz03 opened #4993 "/getting-started/setup-availability the table of days breaks depending on the language"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When we are configuring our account for the first time when opening the site, depending on the language that the user uses, the days table can break.

English Version:
![Captura de tela de 2022-10-13 15-59-16](https://user-images.githubusercontent.com/87545749/195684049-9d221135-22bf-4249-873a-2512085e457b.png)

Portuguese Vers

[2022-10-13 19:11] matheusmuniz03 commented on #4993
I'm solving this issue and would like to know if you guys like this solution? @PeerRich @Jaibles
![Captura de tela de 2022-10-13 16-11-14](https://user-images.githubusercontent.com/87545749/195688443-0ecf4a28-f492-4a7e-92f3-1353ebf63276.png)

[2022-10-13 19:20] matheusmuniz03 commented on #4356
Hey @Jaibles, how are you? I would like your attention on this issue.

Currently steps 1 (welcome) and 2 (connect calendar - No calendar connected) are fully resolved.

Step 3 (availability) is practically resolved, just missing the last check, but I just opened an [issue](https://github.com/calcom/cal.com/issues/4993) that covers this issue.

Here are the prints in question:
![Captura de tela de

[2022-10-13 19:24] matheusmuniz03 commented on #4356
Now steps 2 (Connect Calendar - Calendar connected) are linked in the issue (I commented my solution in the issue) and 4 (Last step) just need to remove the Title. Do you want to close this entire issue and just open another one talking about removing the title or do you think this is good?
@Jaibles

[2022-10-13 19:26] matheusmuniz03 commented on #4384
Hey @Jaibles, Can you let me know if this is what you expected?
https://www.loom.com/share/3b3d2638a5dc4e29ae3ae53fca0096a3

[2022-10-13 19:53] Toledodev commented on #4111
Hey @PeerRich, I made some changes, what do you think?
![Screenshot_9](https://user-images.githubusercontent.com/87545086/195696268-8029e334-c4e5-485e-8982-906ca428af37.png)

[2022-10-13 19:57] PeerRich commented on #4111
@Toledodev

this is great, can you open a PR? 🙏

[2022-10-13 20:03] Toledodev commented on #4111
Sure :)

[2022-10-14 04:58] hariombalhara commented on #3733
Yeah it should be fixed

[2022-10-14 04:58] #3733 closed

[2022-10-14 06:08] harshsinghatz commented on #4970
Can I work on this??

[2022-10-14 09:18] PeerRich commented on #4970
sure!

[2022-10-14 10:10] #4805 closed

[2022-10-14 11:06] MuriloAmarals commented on #4889
Hey @milospuac @PeerRich I managed to put `focus-ring` in Help without it losing its functionality. What did you think?

https://www.loom.com/share/8b157165b9904326b5bb19b6e47fc8fb

[2022-10-14 11:41] PeerRich commented on #4889
@MuriloAmarals

awesome! please open a PR, will review🙏

[2022-10-14 12:03] MatheusBeniniF commented on #4366
some updates on that?

[2022-10-14 12:32] PeerRich commented on #4366
priority has changed for 2.2 which is next month

[2022-10-14 12:35] PeerRich opened #5001 "[CAL-152] am/pm vs 24h flashes for a second"
[430d97cb-13ff-49c8-82fa-8a1f4eaeb717](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/bae8f69e-809a-4b29-ba02-e58629f48291/430d97cb-13ff-49c8-82fa-8a1f4eaeb717)

[2022-10-14 12:39] PeerRich commented on #5001
[https://calendso.slack.com/archives/C01NXDSRY9W/p1665750095360169](https://calendso.slack.com/archives/C01NXDSRY9W/p1665750095360169)

[2022-10-14 12:40] PeerRich commented on #5001
it only flashes for logged in users, since [https://github.com/calcom/cal.com/pull/4865](https://github.com/calcom/cal.com/pull/4865)

[2022-10-14 12:54] CarinaWolli opened #5002 "[CAL-153] Wrong redirect when clicking user or teams avatar in event types"
This is what we currently do:

[https://www.loom.com/share/3cad7ca8ee4d4a06a8ef439e8eeedb7a](https://www.loom.com/share/3cad7ca8ee4d4a06a8ef439e8eeedb7a)

[2022-10-14 13:02] PeerRich opened #5003 "[CAL-154] Routing forms not saving if user moves too fast"
[https://app.birdeatsbug.com/sessions/PROrB0lTha1yy1AtfzgyF6H_ExJFDwfoQ9D9IPJfYcxZ](https://app.birdeatsbug.com/sessions/PROrB0lTha1yy1AtfzgyF6H_ExJFDwfoQ9D9IPJfYcxZ)

[2022-10-14 13:38] PeerRich opened #5005 "[CAL-155] add autosave to event-types and other pages"

[2022-10-14 13:50] MatheusBeniniF commented on #5002
hey @CarinaWolli, the expect behavior of redirect are going to `/settings/my-account/profile` when clicking user?

[2022-10-14 14:09] CarinaWolli commented on #5002
I would propose redirecting to:
- `/settings/my-account/profile` for user avatar
- `settings/teams/<teamId>/profile` for a team's avatar

@Jaibles what do you think, should we implement it like that?

[2022-10-14 15:14] MatheusBeniniF commented on #4884
@PeerRich can you give some feedback about this?

[2022-10-14 16:20] PeerRich commented on #4884
no clue, @emrysal?

[2022-10-14 16:24] #4221 closed

[2022-10-14 16:24] #4792 closed

[2022-10-14 17:38] PeerRich opened #5008 "[CAL-156] remove padding on mobile booking page"

[2022-10-14 17:59] PeerRich commented on #5002
NIT: we should move teams out of settings, no? @Jaibles

[2022-10-14 18:04] #5008 closed

[2022-10-14 18:37] Jaibles commented on #5002
Even if we move some parts of teams out, a team will always have settings that will live in the settings area in the same way an individual will. We pulled teams out into the sidebar as a temporary fix until we have a switcher.

[2022-10-14 18:41] PeerRich commented on #5002
makes sense. we can keep it for now there

[2022-10-14 18:48] alannnc commented on #4793
@MinhazI We have updated our code in production env with a fix for it and yes you should reinstall Zoom app and add location back to the event.

[2022-10-14 19:38] #4978 closed

[2022-10-14 19:47] PeerRich opened #5012 "[CAL-157] test"

[2022-10-14 19:47] #5012 closed

[2022-10-14 19:55] junaid33 opened #5013 "Time Options Defaulting to 24hr"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

I've been using Cal.com self hosted instance, but it always shows 24hr to our users. We have 12hr set as default in Cal.com settings and the locale from where they are booking is in the US so 12hr should be selected but it is not. We've had multiple users contact us about how to change the hour format and the drop down to chang

[2022-10-14 19:56] TjrGithub commented on #4930
I know it can be done. The point is making it in-your-face. Recruiters are busy and run on autopilot, so errors happen with anything that isn't part of the main workflow.

[2022-10-14 20:06] junaid33 opened #5014 "Time Options not showing all the time"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Time options are not shown all the time. 24hr is being selected by default for all our users, but when users try to change it, the option is not there all the time. Please see attached screenshot.

### Steps to

<img width="770" alt="CleanShot 2022-10-14 at 15 05 02@2x" src="https://user-images.githubusercontent.com/34615258/19

[2022-10-14 20:40] PeerRich commented on #5014
if you are logged in, this is hidden and used by your settings in your cal.com app

[2022-10-14 21:30] junaid33 commented on #5014
Ah that makes sense

[2022-10-14 21:30] #5014 closed

[2022-10-15 08:05] #4048 closed

[2022-10-15 10:17] PeerRich opened #5023 "[CAL-158] team-wide apps"
think about how we can accomplish "team apps" that are automatically added to each event-type of a team member

(analytics, or stripe)

[2022-10-15 12:07] PeerRich opened #5024 "[CAL-159] event-types/availability not mobile friendly"
![5923A55C-2072-4416-BE78-7ABA67721F18.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/83de04d4-56ae-4abb-aeb8-45ad960f4dcb/1d83f463-11ee-414f-839a-ed457eb41d5e)

[2022-10-15 12:08] PeerRich opened #5025 "[CAL-160] fix cta buttons on full-screen pwa mode"

[2022-10-15 13:00] Toledodev opened #5027 "Wrong css on teams and routing forms dropdown button"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Dropdown item does not fill divs correctly

### Steps to Reproduce

1. Create a team
2. Go to /teams
3. Click on dropdown

or

 1. Go to apps/routing-forms/forms
 2. Create a form
 3. Click on dropdown

Loom video:
https://www.loom.com/share/142bb0e8f45f4671a327a365615a9325
https://www.loom.com/share/a984bbf50c9f472ab5e868c7fa7

[2022-10-15 13:01] Toledodev commented on #5027
As I already made a similar issue I will take a look at it :)

[2022-10-15 17:02] #4845 closed

[2022-10-15 19:57] PeerRich opened #5029 "[CAL-161] wrong link in teams"
instead of cal.com/team-name it needs to be cal.com/team/team-name in settings

[2022-10-15 20:26] PeerRich opened #5030 "[CAL-162] remove all key_strings from <title> and use english hardcoded string"

[2022-10-16 16:46] MinhazI commented on #4793
@alannnc Apologies for the delayed reply. I just tried it, and it works so far. I shall continue to test this for the next couple of days and then confirm if it works. Thank you for spending your time to fix it.

[2022-10-17 06:10] #5029 closed

[2022-10-17 08:17] andreasklinger opened #5040 "Selecting time leads to JS error"
### Issue Summary

Clicking on a time leads to JS errors

### Steps to Reproduce

Recording:
https://share.getcloudapp.com/5zuPbRXJ

I used brave but there were no scripts blocked (see video)

### Technical details

Brave latest (Release Notes v1.44.112 (Oct 12th, 2022))

[2022-10-17 08:26] PeerRich opened #5041 "[CAL-163] i18n with better defaults"
![CleanShot 2022-10-17 at 09.25.55@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/4f34cf94-3180-46f7-9162-1770df20dfb4/44f0f67f-f50b-4d3d-8b2a-3e9cb5703820)

the crawler doesnt execute i18n when creating the social media page, is there a way to fall back to the English words as a default instead of showing app_store_description?

we can’t just remove the key_string and har

[2022-10-17 08:41] gGh00sTt commented on #5040
I was unable to reproduce the issue @andreasklinger

[2022-10-17 08:46] #4947 closed

[2022-10-17 09:43] #4895 closed

[2022-10-17 11:21] #5003 closed

[2022-10-17 12:58] #4775 closed

[2022-10-17 12:58] #4700 closed

[2022-10-17 13:47] #4981 closed

[2022-10-17 14:06] MuriloAmarals commented on #4103
Hey @PeerRich and @Jaibles how can I add a calendar on my localhost?

![image](https://user-images.githubusercontent.com/87545137/196198578-cd14d9e3-af8d-48ff-b93b-0526f771bd4a.png)

[2022-10-17 14:10] MuriloAmarals commented on #5005
Hey @PeerRich How can I do this? And other thing, which other pages?

[2022-10-17 14:12] shirazdole opened #5048 "[CAL-169] Bookings page with no event types needs redesign"
If a user hides all their event types and sends a hidden 30-minute booking link, when a user presses the "back button" the page says "This user hasn't set up any event types yet."

I believe the solution here is to remove the back button when all event types are hidden.

![CleanShot 2022-10-17 at 15.11.03@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/22d3bb4e-8fae-4ffd-9f

[2022-10-17 14:14] shirazdole commented on #5048
cc @ciaran

[2022-10-17 14:47] #2450 closed

[2022-10-17 14:48] #5030 closed

[2022-10-17 14:48] PeerRich commented on #5030
yes, #5041 is better

[2022-10-17 15:57] #4699 closed

[2022-10-17 16:24] Udit-takkar commented on #5024
should we make website to be responsive even for smaller screens like 320px ? @peer

There are many ui bugs like this.

![Screenshot 2022-10-17 at 9.50.21 PM.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/f49694a6-9dab-4494-b9c6-7fc7aa97c3d9/782d5a4a-c40b-416b-96f1-f4c60eef79d1)

![Screenshot 2022-10-17 at 9.51.02 PM.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135

[2022-10-17 16:30] PeerRich opened #5051 "[CAL-171] refactor: turn animationRef.current into custom useAnimate hook"
![CleanShot 2022-10-17 at 17.29.25@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/3dfbdabe-c117-4d05-8bee-b4122366400e/fdb98f62-b37d-422f-8bdd-197d8159f29f)

we can DRY this, since we'll be using it in a lot more places

[2022-10-17 16:37] PeerRich commented on #5024
eventually, yea. it's tough tho at that screen size but definitely worth doing

[2022-10-17 16:47] Udit-takkar commented on #5024
ok will try to fix all responsive bugs.

[2022-10-17 17:25] zomars opened #5053 "[CAL-173] Booking success query refactor"
Basically, right now a booking success url looks like this:

[code]

Since this a server side rendered page, we need to accomplish two things:

1. Simplify the URL to only need the bookings UID as a parameter `https://cal.dev/success?uid={bookingUID}`
   * This will prevent security leaks like previously since you need to know the UID before hand
   * From UID we should be able to query all needed

[2022-10-17 17:46] shirazdole opened #5054 "[CAL-174] Managed Events — Cal.com Style"
Managed Events for Organizations which is what Calendly currently offers. When a customer is added to a “Team,” a company can have “templates” set up for various event types.

So when a new employee is added to say the “legal team,” then they get certain event types like docusigning. Also, if the templates are adjusted at the team level, the Admin has the ability to push updates to all the other t

[2022-10-17 19:05] #4889 closed

[2022-10-17 19:34] RobertWSaunders opened #5055 "Add ability to generate event type booking link with prefilled inputs (i.e. guests)"
### Describe the solution you'd like

We have a use case where we'd like to send a user of ours to a specific event type booking link. Right now it's a suboptimal experience because they have to input their information, we should be able to provide the users details as query params to pre-fill the inputs for the event booking. Additionally, some of our events are more than 1:1 events, we'd like to

[2022-10-17 19:42] nikospapcom commented on #4316
@PeerRich can I work on this? is still available?

[2022-10-17 19:50] RobertWSaunders opened #5056 "Add ability to hide back button on event type booking page"
### Describe the solution you'd like

We send our users booking links to specific event types, when we ask them to schedule a time, we don't want them to be able to see our Cal.com homepage with all the other public event types:

![CleanShot 2022-10-17 at 15 47 44@2x](https://user-images.githubusercontent.com/13367451/196269167-5158c388-97fc-4b1e-a38a-87ee465999fc.png)

### Describe alternatives y

[2022-10-17 20:08] popken commented on #4340
Hi @JeroenReumkens,

I just got the newsletter where the timezone fix is mentioned. Maybe it's just me but it doesn't seem to work:

I'm logged in. My profile setting is set to 24 hour format (I'm in Germany).
Expected behaviour:
"We always take your AM+PM / 24h setting from your profile settings and use this on the public booking page"
Actual behaviour:
Timezone is correctly Berlin/Amsterdam. But

[2022-10-17 20:17] RobertWSaunders opened #5058 "[CAL-207] Can't update email when using Google as identity provider"
### Issue Summary

If you signed in with Google initially and navigate to your profile account to update your email it asks you for your password. When you use Google you don't have a password so its not possible to update your email.

### Steps to Reproduce

1. Create account with Google
2. Try to update email

Workaround is to logout, and use "Forgot Password" to set a password to be able to upd

[2022-10-17 20:27] RobertWSaunders opened #5059 "Add ability to add an attendee to a booking and send an invitation email"
### Describe the solution you'd like

From what I can tell, you can't add someone to a booking and send them an event invite email once the booking is created?

[2022-10-17 21:00] isomorpheric opened #5060 "API: Generate single-use booking link using the API"
### Description:
**I want to be able to generate one-time scheduling links** using an API endpoint.

[Currently we can go generate one in the admin panel](https://github.com/calcom/cal.com/issues/1474#issuecomment-1275750767) - however, this is not ideal for people who want to do it **programmatically.**

[Calendly has this feature](https://developer.calendly.com/api-docs/4b8195084e287-create-sing

[2022-10-17 21:00] ecam900 commented on #1474
https://github.com/calcom/cal.com/issues/5060#issue-1412218581

As requested!

[2022-10-17 21:24] emrysal commented on #5055
So the one thing I am not sure about is with custom inputs, but a lot of this is in fact possible:

For example @ https://cal.com/peer/book?guest=peer%40cal.com&guest=alex@cal.com&type=112334&date=2022-10-27T12%3A00%3A00%2B01%3A00&slug=programming&count=&notes=hello&email=me@cal.com&name=Alex

[2022-10-17 21:33] RobertWSaunders commented on #5055
@emrysal ah nice! That's what I was looking for, is there a way to disable the scheduler from being able to remove guests?

[2022-10-17 21:44] emrysal commented on #5055
At the moment no, needs a bit of thought if we want that and also how to technically get it to be readonly 💭

[2022-10-17 22:58] RobertWSaunders commented on #5055
Yeah, what's weird is you can still provide these query params if the event type has guests disabled, by supplying the query params it effectively disables the disable. I tried that out because I was hoping the query params would add the guests and not allow the addition of any more or the removal of them.

It would be nice to support some version of this feature. Our platform schedules meetings b

[2022-10-18 08:05] sean-brydon opened #5061 "[CAL-175] Impersonation settings need to implemented in V2"
During the V2 migration we seem to have lost impersonation settings

They should live in security - potentially a new tab.

The impersonation on a team level is already implemented

![CleanShot 2022-10-18 at 09.05.11.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/8ba13dd4-5ccf-4148-b02c-0628a1952705/024c86a0-4a9a-491e-b1b1-23be29222187)

[2022-10-18 08:22] eazyAlf commented on #1589
@milospuac wouldnt you say this is a bug actually? is this expected behaviour? shouldn't team day be according to profile day

[2022-10-18 08:24] Jaibles opened #5062 "[CAL-176] Installed Apps Nav not working"
[d4bc1196-9579-47ac-9953-bccead359ad2](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/b4e68ebd-1a85-4731-be51-12fff5e5abb9/d4bc1196-9579-47ac-9953-bccead359ad2)

[0079a3cf-2d90-4bc4-8889-582819895730](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/82659d83-b8e3-4bf8-9c5d-72ac1044b2c0/0079a3cf-2d90-4bc4-8889-582819895730)

The navigation in the Installed apps area

[2022-10-18 08:46] #5062 closed

[2022-10-18 09:22] MatheusBeniniF commented on #4964
@PeerRich, what is the new design do you want?

[2022-10-18 10:06] Udit-takkar opened #5066 "[CAL-177] Empty location in /[user]/book"
![Screenshot 2022-10-18 at 3.34.43 PM.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/e6c10ce5-c557-4fee-869c-35239b0dc95e/40b66666-bb37-466b-87bd-27f3565fd9a8)

But it is Cal Video.

![Screenshot 2022-10-18 at 3.35.13 PM.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/7f9dd5a6-230f-4d4b-9dbe-89fe150a206f/c972e6aa-5fbe-4ed2-834b-c111dd4abb64)

[2022-10-18 10:55] WispOfTheWinds commented on #4813
I'm going to piggyback off of this -- it seems I have the same, or at least a very similar issue.

Using an SMS reminder workflow doesn't attach the phone number to the event like an Additional Input would. There's currently no way for the host to see the attendees phone number if it's collected this way.

Attaching the SMS reminder number in the event details would be fantastic!

[2022-10-18 10:58] WispOfTheWinds commented on #4591
Just want to second this! I have a similar use case that would benefitfrom this.

I have clients create appointments with me for services at their home. Using Additional Inputs definitely works, but letting them set the actual event location upon booking would be a much better experience.

[2022-10-18 11:36] CarinaWolli commented on #4813
@WispOfTheWinds Yes makes sense. I will add the SMS reminder number to the booking details

[2022-10-18 11:54] matheusmuniz03 commented on #4993
@PeerRich @Jaibles can you check this?

[2022-10-18 13:13] gadgetb0y opened #5073 "[CAL-264] Recurring Error when Scheduling"
### Issue Summary

#### Instance: [Cal.com](http://Cal.com) hosted

Anyone attempting to schedule a meeting on any event type receives the following error:

`Could not book the meeting. invalid_type in 'id': Required; invalid_type in 'onlineMeetingUrl': Required`

This has been occurring since Monday morning US Central Time.

### Steps to Reproduce

Completion of any booking form.

### Technical d

[2022-10-18 13:28] ConnorGargano opened #5075 "Whereby URL needs wrapping"
Found a bug? Please fill out the sections below. 👍

Using a whereby URL as a location doesn’t look so good on the calendar view.

A summary of the issue. This needs to be a clear detailed-rich summary.

### Steps to Reproduce

Wrap the text to not overflow on the calendar
This can be seen here: https://cal.com/patrickludewig/30min

[image](https://user-images.githubusercontent.com/88032331/1964429

[2022-10-18 13:35] gGh00sTt commented on #5048
Hello @shirazdole .  I wanted to know if there design available for this issue or removing the back button for the case of all event types hidden does the work.

[2022-10-18 14:05] PeerRich opened #5076 "[CAL-179] event-types/availability edit buttons throw 404"
![CleanShot 2022-10-18 at 15.05.01@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/c71b5910-a74f-4b2c-bd5e-ac3199fff3f7/349ba70a-794c-4498-b1d0-a64fe485cd5d)

[2022-10-18 14:07] PeerRich commented on #4608
@KlingerMatheus  any update? if not, we'll work on it

[2022-10-18 14:10] shirazdole commented on #5059
Great question!

If you're talking about once a booking is booked, then the only way to do this is by adding them to the calendar event.

Another way I'm interpreting your question is "how do I send an attendee an invite without them booking anything, and this can be accomplished by going to the appropriate booking link, adding someone manually as an attendee with their email, and then they'll get

[2022-10-18 14:15] shirazdole commented on #5058
Thank you for flagging! Tagging @Jaibles and @zomars

[2022-10-18 14:17] shirazdole commented on #5056
cc @Jaibles
https://github.com/calcom/cal.com/issues/5048#issuecomment-1282398696

[2022-10-18 15:12] Udit-takkar commented on #5075
<img width="780" alt="Screenshot 2022-10-18 at 8 42 26 PM" src="https://user-images.githubusercontent.com/53316345/196470813-641a07fc-3fa7-49ae-88a3-6228f572ecc9.png">

@ConnorGargano  it will look something like this. is this fine?

[2022-10-18 15:16] newz666 opened #5079 "[CAL-180] Booking Reschedule not working."
### Issue Summary

After scheduling a booking, I tried to reschedule it. I did not get updated.

### Steps to Reproduce

1. Clicked on someone's link to event.
2. Selected a time and booked a time.
3. On the next page "This meeting is scheduled" clicked Reschedule
4. Selected a different time and submitted.
5. Did not received a new email with the updated link nor the calendar event has changed.

[2022-10-18 15:58] MatheusBeniniF commented on #5076
hey @PeerRich , here it is working normally
https://www.loom.com/share/3786c2f540984be781fd1433e98f2919

[2022-10-18 16:14] MatheusBeniniF commented on #5061
@sean-brydon what is this page? and how do i get to her?

[2022-10-18 17:46] #4252 closed

[2022-10-18 18:02] KlingerMatheus commented on #4608
@PeerRich Hello, sorry for late response. I can't reproduce this issue anymore, the `Edit availability` button is redirecting correctly here in my machine, that's why I couldn't work the PR. Could you try reproduce it and confirm, please?

[2022-10-18 18:05] PeerRich opened #5081 "[CAL-183] email and calendar still use old “cancel/reschedule” screens"
![2F9E35DD-EB80-4373-BD6C-250B879D71CA.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/3871fd8b-5a5d-49df-9a86-d342e7977c00/d38b6174-b20f-46c3-b092-f0dc54f1c0f9)

![E88A97D8-D34B-47BD-B8AB-3284F7AC0394.jpeg](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/bfb04183-fbca-458a-96be-c29fc75d5915/2263bd6d-1bf3-4120-9549-163fd014b6a1)

[2022-10-18 18:37] Jaibles opened #5082 "[CAL-184] Cancel a booking flow needs updating"
Current flow:

[9962697e-7f84-47e9-99d6-39df030209ab](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/4bedcfa7-c406-4873-a9cf-2044d0255c7c/9962697e-7f84-47e9-99d6-39df030209ab)

Flow should be:

[containers - ❖ Cal DS v2.0 (Figma)](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=17954%3A199476)

[2022-10-18 18:42] PeerRich opened #5083 "[CAL-185] /event-types: apps > available apps not mobile friendly"
![491B1011-F25D-489A-9A5E-CA794AFB675F.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/797faf56-e7cd-4e3d-ab68-8d1ef064899b/60cf0e46-862a-47a8-b8aa-9cf136e4edbb)

[2022-10-18 19:07] alannnc commented on #4793
@MinhazI No worries, glad I could help!

[2022-10-18 19:08] #4793 closed

[2022-10-18 20:02] MuriloAmarals commented on #5083
Hey @PeerRich what do you want me to improve on this page?

[2022-10-18 20:34] #4880 closed

[2022-10-18 21:10] matheusmuniz03 commented on #5082
@Jaibles Do you want the new version to look like this?

[2022-10-18 23:15] PeerRich commented on #4316
@nikospapcom yes still available. maybe team up with @Udit-takkar ?

[2022-10-18 23:16] PeerRich commented on #4964
actually, we are getting rid of this page. opening a new ticket

[2022-10-18 23:16] #4964 closed

[2022-10-18 23:22] PeerRich commented on #5075
I wonder if we just truncate + tooltip maybe?

[2022-10-18 23:22] PeerRich commented on #5075
@JeroenReumkens what do you think?

[2022-10-18 23:23] PeerRich commented on #5056
@Jaibles @sean-brydon do we wanna hide the button if a user has no public event-types?

[2022-10-18 23:23] PeerRich commented on #5056
regardless, this is a low priority ticket

[2022-10-18 23:36] cozysd opened #5086 "Chrome Exentsion: Add button to Gmail that copies times as list with links"
One of my most common use cases is responding to an email with time slots for availability. I'd like to do more than hit people with a link to go figure it out themselves; I'd rather offer them times I've selected for us to meet and in a click (or two) let them schedule it up.

Some, but not all, of the competitors support some way of copying a list of times from inside the app, then pasting it in

[2022-10-18 23:39] PeerRich commented on #4993
looks good, feel free to open a PR @matheusmuniz03

[2022-10-18 23:40] PeerRich commented on #5058
We're aware of this, but its not quite easy. will look into a solution, soon. Until then, please email support@cal.com (cc peer@cal.com) so we can do it manually

[2022-10-18 23:41] PeerRich commented on #4591
how much different is this to just adding an "additional input"? not really no?

[2022-10-18 23:46] PeerRich commented on #5082
important to note: we have this success page, but if you visit the /cancel/ or /reschedule/ URL, it should scroll down and open the correct box (cancel) or (reschedule)

[2022-10-19 00:18] WispOfTheWinds commented on #4591
It's definitely more of a UX thing for the host specifically, there's not really core functionality that's missing.

For my use case where I tend to be checking addresses to put into my GPS multiple times a day, I have the attendee input their address as 5 Additional Inputs: Address Line 1, Address Line 2, City, State, ZIP (this is pretty standard format for address format on forms). Doing this ma

[2022-10-19 07:22] JeroenReumkens commented on #5075
Perhaps we could put a text that we have more control of, like "online meeting", which is an anchor that links to the actual link? 🤔

[2022-10-19 08:39] #4508 closed

[2022-10-19 08:39] sean-brydon commented on #5061
Sorry just saw this - Already made a [PR](https://github.com/calcom/cal.com/pull/5088) fixing this issue! Please reach out if you wish to help out with any other issues

[2022-10-19 09:15] PeerRich commented on #4591
oh i see. yeah we could use something like google maps street auto complete which we could add as a type in "additional inputs" and it gives you a clean JSON of the data via webhooks or inside the app

[2022-10-19 09:33] #5061 closed

[2022-10-19 09:40] Jaibles commented on #5056
Yes ideally we would hide the button if a user has no public event types.

[2022-10-19 09:44] Jaibles commented on #5082
Note: Clicking reschedule should take you on this flow as it does currently:

https://user-images.githubusercontent.com/4536123/196656889-0b9ffe33-fc74-4a0c-adc8-78ff63398ad9.mp4

[2022-10-19 09:45] #3334 closed

[2022-10-19 09:47] PeerRich commented on #5082
@carina wanna work on this?

[2022-10-19 10:02] CarinaWolli commented on #5082
@PeerRich Yes, I can take this 👍

[2022-10-19 10:13] hariombalhara opened #5090 "[CAL-187] Make an Embed element that can be used to make any page embed compatible"
Some of the things that it would take care

* Adding a main element
* Adding mx-auto and max-width
* Maybe doing runtime checks of some invalid descendants of  Embed element

Motivation:

Booking Pages and Routing forms all have their own JSX which currently is required to have these common things mentioned above

[2022-10-19 10:19] Jaibles commented on #4366
Two options proposed here for designs: https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=20797%3A168990

[2022-10-19 10:25] Udit-takkar commented on #4316
hey @nikospapcom  you can work on this issue. just ping me on slack if you face any problems.

[2022-10-19 10:27] PeerRich commented on #5082
we need to make sure to replace the /cancel/ and /reschedule/ URLs to redirect to the correct new page

[2022-10-19 10:29] PeerRich commented on #4366
we should not expose the users email there

[2022-10-19 10:45] dschuermann opened #5092 "[CAL-191] Allows adding "reply-to" header in email workflows"
### Is your proposal related to a problem?

It would be great if people could reply to emails sent using the workflow. Their emails should not go to [hello@cal.com](mailto:hello@cal.com) instead these replys should go to my email address.

### Describe the solution you'd like

I would like to be able to set a "reply-to" header inside workflows. This is a very simple way to solve the problem.

[2022-10-19 10:46] hariombalhara opened #5093 "[CAL-188] Embed Modal doesnt' close on success page, if clicked just outside the content"

[2022-10-19 11:01] Maybach91 opened #5094 "[Integration:n8n] Add 'event_ended' trigger"
### Is your proposal related to a problem?

I want to use automations based on the trigger, when an event is ended. This is currently only possible with the Zapier integration, but not with the n8n integration. There is the trigger missing.

<table>
<tr valign="top">
	<td>
n8n Triggers:
<img width="370" alt="n8n available triggers" src="https://user-images.githubusercontent.com/1867543/196672990-0

[2022-10-19 11:03] milospuac commented on #5094
Thanks for the suggestion @Maybach91, our team will look into implementing this soon.

[2022-10-19 11:08] Jaibles commented on #4366
We can drop that. Was just a proposal for if a user wanted to choose to explose it.

[2022-10-19 11:18] #2139 closed

[2022-10-19 11:18] Udit-takkar commented on #5075
<img width="321" alt="Screenshot 2022-10-19 at 4 47 34 PM" src="https://user-images.githubusercontent.com/53316345/196676646-763d6f6f-4abc-429c-9232-477a10fb965f.png">

This url bug is also in other pages.

[2022-10-19 11:24] PeerRich commented on #5092
I believe we did that, no @alishaz-polymath ?

[2022-10-19 11:26] PeerRich commented on #5094
@CarinaWolli wanna extend all wrokflows to n8n? or should @alishaz-polymath do it?

[2022-10-19 11:27] PeerRich commented on #5075
well you can just link to it with target="_blank" no?

[2022-10-19 11:37] CarinaWolli commented on #5082
I think the refactor of the booking success query (#5053) should be done first. After that it should be pretty straightforward to redirect to `/success?uid={bookingUID}?cancel=true` instead of `/cancel?uid={bookingUID}`

[2022-10-19 11:54] Jaibles commented on #5082
Reschedule won't go to this page though. It will follow the route it currently has right? There's no issues with that as far as I can see

[97fee62c-fa45-4dce-8a51-4e4ac089971d](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/08d4f505-e9cf-4971-99e2-11b2553b96bb/97fee62c-fa45-4dce-8a51-4e4ac089971d)

[2022-10-19 11:54] Udit-takkar commented on #5075
oh yeah right. will add this

[2022-10-19 12:01] dschuermann commented on #5092
Hm, at least I don't see this in the emails I get when I press "Test action" in the workflow.

[2022-10-19 12:02] alishaz-polymath commented on #5092
@PeerRich I’m not sure we do. @CarinaWolli probably knows better about it 🤔

[2022-10-19 12:03] dschuermann opened #5095 "[CAL-195] No longer able to save workflow after selecting event type"
### Issue Summary

I no longer can add new workflows in my account. looks like this only happens when I select an event type in the workflow.

I get the following error in the dev console:

![](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/54a61eba-5819-4c4d-bc1c-22f6df9b3761/1a98dd53-bc6c-4291-888d-66bf8ceeaa36)

[code]

### Steps to Reproduce

1. Went to workflows
2. Add new wo

[2022-10-19 12:14] CarinaWolli commented on #5092
We have not done this yet, but that should be a simple fix. @PeerRich @Jaibles Do we want to have settings in workflows to define the reply-to email or do we just always want the organizer's email to be the reply-to email

[2022-10-19 13:35] Udit-takkar opened #5097 "[CAL-189] Skip the password question for anyone with social identity providers"
If i have to update email or delete my account in [https://app.cal.com/settings/my-account/profile](https://app.cal.com/settings/my-account/profile). It requires me to enter password which does not exist because i am using identity provider

[2022-10-19 14:09] joeauyeung commented on #4103
Can't replicate. I believe I fixed this in a previous PR

[2022-10-19 14:09] #4103 closed

[2022-10-19 14:42] jdaviescoates commented on #2988
This is still exactly the same for me. Just tested again and got this:

`Could not reschedule the meeting. JSON.parse: unexpected end of data at line 1 column 1 of the JSON data`

[2022-10-19 14:48] alishaz-polymath commented on #2988
@jdaviescoates Accepted your call request. We'll have a go at it during our scheduled call 🙌

[2022-10-19 14:59] jdaviescoates commented on #2988
Thanks. I just thought perhaps my browser/ Cal was getting confused by me testing bookings with myself all in the same browser window so just tried again without doing that. Still got an error, but a different one:

``Could not reschedule the meeting. Unexpected end of JSON input``

[2022-10-19 15:04] jdaviescoates opened #5101 "Cancelling a Booking doesn't remove the event from my Nextcloud CalDAV calendar"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Cancelling a Booking doesn't remove the event from my Nextcloud CalDAV calendar

### Steps to Reproduce

1. Cancel a booking
2. Spot that it is still in my calendar.

[2022-10-19 15:54] #3734 closed

[2022-10-19 16:02] PeerRich commented on #5082
so its only cancel then

[2022-10-19 16:25] PeerRich commented on #5095
@CarinaWolli

[2022-10-19 16:26] Jaibles commented on #5092
I would think the reply to being the organiser's email is totally fine.

@dschuermann is there a specific reason you'd want to it to be anything other than this?

[2022-10-19 16:27] PeerRich commented on #5101
@alishaz-polymath

[2022-10-19 16:28] aherrera31 opened #5106 "Allow Raycast extension to Generate private link"
### Is your proposal related to a problem?

 I've turned on the "private link" feature on Cal, but it's not being reflected in Raycast extension.

### Describe the solution you'd like

I'd like the Raycast extension to generate unique link each time.
### Describe alternatives you've considered

[2022-10-19 16:33] milospuac commented on #5106
Thanks for the suggestion, our team will look into this.

[2022-10-19 16:36] dschuermann commented on #5092
I am happy if you use to the ORGANIZER email address :)

[2022-10-19 16:39] Jaibles commented on #5092
Thank you @dschuermann. A data point of one is all we need in this instance :)

[2022-10-19 16:41] milospuac opened #5108 "[CAL-193] test"
test

[2022-10-19 16:41] #5108 closed

[2022-10-19 16:46] milospuac opened #5109 "[CAL-194] test"
test

[2022-10-19 16:50] #5109 closed

[2022-10-19 16:54] PeerRich opened #5110 "[CAL-196] /apps/<detail>: Layout Shift when loading screenshots"
- [ ] show skeleton instead

https://user-images.githubusercontent.com/8019099/196755305-1cd7d51e-78de-402b-b01a-214fc9371410.mp4

[2022-10-19 17:00] PeerRich commented on #1877
done in 2.2

[2022-10-19 17:00] #1877 closed

[2022-10-19 17:20] PeerRich opened #5111 "[CAL-197] sent email of routing form results to owner"
When submitting a routing form, it should send the results to the routing form owner by email:

[2022-10-19 17:21] PeerRich commented on #5111
@hariom wanna work on this?

[2022-10-19 17:43] hariombalhara commented on #5111
Sure, This seems like a workflow thing but something that should be automatically enabled(without manual workflow configuration).
Have we thought about using workflows internally as well for such things

Cc@CarinaWolli

[2022-10-19 18:00] #5075 closed

[2022-10-19 18:23] Udit-takkar commented on #5097
show/hide password button also does not work

[2022-10-19 18:54] noobyogi0010 commented on #5110
Hey @PeerRich
I would like to work on this if one else has already taken it up.
Thanks!

[2022-10-19 19:20] shirazdole opened #5114 "[CAL-199] Close App Not Working"
The app that we have with Close is not creating leads in Close when a user books with me.

[2022-10-19 19:42] matheusmuniz03 commented on #5093
Hey @hariombalhara , could you give me more information about this issue?
Would this be the success page? What would be the Embed Modal?
![Captura de tela de 2022-10-19 16-41-18](https://user-images.githubusercontent.com/87545749/196788429-90736a29-d11a-4039-9db8-8a4d64a24fc0.png)

[2022-10-19 20:00] penyuan commented on #3167
Can't wait! Cal.com being able to *subscribe* to published ICS feeds would be a killer feature for me. Without it I literally can't use Cal.com right now...

[2022-10-19 20:39] MatheusBeniniF commented on #5076
any updates on that?

[2022-10-19 20:46] PeerRich commented on #5110
@noobyogi0010 go for it!

[2022-10-19 20:46] PeerRich commented on #5076
I believe it was fixed

[2022-10-19 21:24] PeerRich opened #5116 "[CAL-201] pipedream"

[2022-10-19 21:25] #4820 closed

[2022-10-19 21:41] PeerRich opened #5117 "[CAL-202] App Store: redirectUrl open in target="_blank""
![CleanShot 2022-10-19 at 22.39.31@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/5bca7e84-4da4-4006-a26a-b928f77f7544/8b65e3dc-0b15-40ac-a691-16d85dc147ae)

[2022-10-19 21:44] PeerRich opened #5118 "[CAL-203] App Store: Add <iframe> as an option in the slider"
![CleanShot 2022-10-19 at 22.44.17@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/a05b595f-797b-4338-8293-157ab5a74acd/11298215-722e-4f40-a01a-c9f1a2f65f6f)

right now we only accept paths to images, but an iframe to youtube would be great, too

[2022-10-20 02:36] sugaya24 commented on #5066
Hi @Udit-takkar
If there is one or less location available to be selected, nothing seems to appear including heading. Are there any requirements to reproduce this?

[2022-10-20 04:14] hariombalhara commented on #5093
Yeah this is the success page. I will record a loom of the bug. But what happens is that, when you are embedding a cal link and do a booking through it. When you reach the success page, try to close the embed modal box, by clicking just outside the modal box. It won't close. It works for other pages.

[2022-10-20 05:07] hariombalhara commented on #5117
@PeerRich If we start opening in new tab what should be happen on cal.com webapp tab. Should it redirect to apps/installed?

[2022-10-20 05:09] #5051 closed

[2022-10-20 05:15] hariombalhara commented on #5093
Here is a loom showing the issue. https://www.loom.com/share/63b76d5258ba4a23ae364edd488e8318

This is the test codesandbox https://codesandbox.io/s/embed-popup-on-click-of-an-existing-element-demo-react-sc967e?file=/src/App.js

[2022-10-20 06:40] Udit-takkar commented on #5066
@sugaya24 It's showing up here https://cal.com/udit/30min. Not sure what is causing this. behaviour

<img width="867" alt="Screenshot 2022-10-20 at 12 09 25 PM" src="https://user-images.githubusercontent.com/53316345/196874483-a9298b12-deeb-4a98-88b7-fd2a8afb751b.png">

[2022-10-20 06:58] sugaya24 commented on #5066
It seems to have been fixed here. #5074

[2022-10-20 07:27] hariombalhara opened #5122 "[CAL-204] Routing Form - Improved CSV Exports"
## Current Status:

*

[code]

* CSV is downloaded immediately. As responses in a Routing Form increase, this time would keep on increasing.

## What do we want to achieve?

*

[code]

* Should support thousands of responses
*

[code]

* If responses are less, the download should possibly be immediate but otherwise, the report should be emailed or put into downloading status inside app. Once the d

[2022-10-20 07:38] #5066 closed

[2022-10-20 09:07] PeerRich commented on #5117
it could just stay imo

[2022-10-20 09:32] milospuac opened #5124 "[CAL-205] Sync issue when deleting appointments in Google Calendar"
![Screenshot 2022-10-20 at 10.31.10.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/786d0236-f06e-4110-b1bc-17a4e2d19312/bdc521bd-cf3e-4c22-b714-198b493482ec)

[https://www.loom.com/share/b4db8447c56b4ae1ac5ee6afd3cfef54](https://www.loom.com/share/b4db8447c56b4ae1ac5ee6afd3cfef54)

[2022-10-20 10:01] PeerRich opened #5125 "[CAL-208] google analytics"

[2022-10-20 10:03] #4945 closed

[2022-10-20 10:47] hariombalhara commented on #3948
Started work on this.

[2022-10-20 11:07] CarinaWolli commented on #5111
@hariombalhara How exactly would you wanna use workflows for it?

[2022-10-20 11:15] emrysal commented on #4454
Hi @svnwa - closing as this is fixed now 👍

[2022-10-20 11:15] #4454 closed

[2022-10-20 11:23] hariombalhara commented on #5111
The way I understand it, a workflow can be used to take some action based on an event in Cal.com
These are the supported events right now. All of these events happen for an EventType.
First of all we can add Routing Form Event link Form_Submitted and on which a user can do all some RoutingForm related actions. One of those actions can be to email Routing Form owner as requested in this ticket.
<im

[2022-10-20 11:25] milospuac opened #5128 "[CAL-209] Selecting Zoom (or any other video meeting platform) when there is also a choice of attendee's phone number won't allow booking"
[https://app.birdeatsbug.com/sessions/pCZwNw3-vc9_5K54RYTMgrO6gZmZHDrT46GfCaTOyasd](https://app.birdeatsbug.com/sessions/pCZwNw3-vc9_5K54RYTMgrO6gZmZHDrT46GfCaTOyasd)

[2022-10-20 11:36] G3root commented on #4583
hey @CarinaWolli i'd like to take on this issue if no one is working.

[2022-10-20 11:40] CarinaWolli commented on #5111
I think for this specific issue, a simple checkbox somewhere in routing forms should be enough no?

[2022-10-20 11:44] CarinaWolli commented on #4583
@G3root For sure 👍 So the goal is to disable the horizontal scroll and to truncate words that are too long for the settings shell

[2022-10-20 11:44] Jaibles opened #5131 "[CAL-210] Inconsistency between how toggle on settings appear in event type edit"
When you're editing an event type and toggle on any settings, the behaviour for how and where they appear is very inconsistent.

Some animate in and some just appear, some are disabled and then become enabled. Then in terms of position some are correctly aligned with the text above, and some are aligned to the far left. Then some are half way between.

The correct appearance is in Figma

[   ↳  Ev

[2022-10-20 14:04] Jaibles opened #5134 "[CAL-211] Confirmed booking page for rescheduled event should show previous time and reschedule reason"
[Scheduled - Cal - Live (Figma)](https://www.figma.com/file/xk4HOxtSI82J0F7enMxeak/Cal---Live?node-id=68%3A95398)

[2022-10-20 14:08] MatheusBeniniF commented on #5134
@Jaibles, I don't have permission to see the figma link

[2022-10-20 14:10] #4556 closed

[2022-10-20 14:17] Jaibles commented on #5134
@MatheusBeniniF apologies, permission on the file updated. Please try again.

[2022-10-20 14:17] joeauyeung opened #5135 "[CAL-212] Team billing"
Add billing to teams. Once we have basic billing set (set # of seats), look into prorated billing (ex. Slack's fair billing policy [https://slack.com/help/articles/218915077-Slacks-Fair-Billing-Policy](https://slack.com/help/articles/218915077-Slacks-Fair-Billing-Policy))

[2022-10-20 14:20] joeauyeung commented on #3875
What's the current flow of someone getting on the infra plan? I'm working on team billing and can probably tackle this next.

[2022-10-20 15:54] G3root commented on #4583
@CarinaWolli is this implementation correct ?
![Screenshot 2022-10-20 21:22:10](https://user-images.githubusercontent.com/84864519/196997882-f5d85a36-e25e-4ed1-825e-162a508d815d.png)

[2022-10-20 16:29] G3root commented on #5053
@zomars shall i give it a try ?

[2022-10-20 17:08] CarinaWolli commented on #4583
@G3root Maybe we can add the same padding to the right side as it is on the other sides and also add an ellipsis ('...') at the end so it is clear that the word is truncated

[2022-10-20 18:21] #5128 closed

[2022-10-20 18:30] yamsu commented on #1474
I would to see that if Generate Random link is enabled, then by default "copy link to event" and share options in app.cal.com provide the random link and not standard link with user info included.

[2022-10-20 18:43] emrysal opened #5138 "[CAL-213] Official Cal.com Wordpress Plugin"

[2022-10-20 19:05] ameyer117 commented on #2381
@barryvdh - thank you, it worked for me.

[2022-10-20 20:41] MatheusBeniniF commented on #5134
@Jaibles what do you think about this?
![image](https://user-images.githubusercontent.com/88898100/197053673-e2fad7ab-b6b9-4ce1-a641-f03b33da5b80.png)

[2022-10-21 00:04] PeerRich opened #5139 "[CAL-215] some events get confirmed without user action but then don’t show up"
I had three events, that needed conformation from my side, but in the backend there where shown as regular planned and confirmed events. They didn’t show up in my synced iCal calender though.

[2022-10-21 05:14] hariombalhara opened #5140 "[CAL-216] Confirming a booking shows old toast"
![Screenshot 2022-10-21 at 10.44.07 AM.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/e31a9ff6-83fd-4480-850f-e90fa3d6ef3c/ee4b0b2f-b35f-4ecc-89c4-6f9b40e14488)

[2022-10-21 05:21] MuriloAmarals commented on #5140
Hey @hariombalhara do you have the design of the new one?

[2022-10-21 05:28] hariombalhara commented on #5140
It's used throughout the app. It is just that import needs to happen from ui/v2/core. Also, it would be great if you can remove the old packages/lib/notification along with it's usage throughout the app
<img width="634" alt="Screenshot 2022-10-21 at 10 57 14 AM" src="https://user-images.githubusercontent.com/1780212/197119403-4d356496-e784-4839-bff3-153725a4ee7c.png">

[2022-10-21 05:28] MuriloAmarals commented on #5140
Let me take a look!

[2022-10-21 05:35] hariombalhara opened #5142 "[CAL-217] Bookings that require confirmation appear confirmed automatically on platform"

[2022-10-21 05:43] MuriloAmarals commented on #5140
@hariombalhara this apps/website/lib/notification.ts is not appearing on my search.
![image](https://user-images.githubusercontent.com/87545137/197121349-bfa563b7-efc2-42db-bcd6-5f4264cf2506.png)

[2022-10-21 05:45] hariombalhara commented on #5140
Forget about website/lib. That's a private repo. You just need to delete packages/lib/notification.ts

[2022-10-21 05:48] #5142 closed

[2022-10-21 06:01] gGh00sTt commented on #4506
@PeerRich , I was trying to work on this issue but was unable to see the url in the dropdown options recently in the local version. Is this issue still valid?

[2022-10-21 06:13] MuriloAmarals commented on #5140
@hariombalhara Now that I delete packages/lib/notification.ts and replace the imports it's not showing any toast when I booking a meeting, is that correct?

[2022-10-21 06:28] MuriloAmarals commented on #5140
@hariombalhara I deleted the old file and changed the imports to v2 import `{ showToast } from "@calcom/ui/v2/core";` but the toast stopped showing.

[2022-10-21 08:13] Udit-takkar opened #5144 "[CAL-218] Booking do not get added to calendar"
Bookings do not get added to my calendar. The google calendar has been enabled on all the Booking Types. but it does not add the events to the calendar. This has happened to more than 5 bookings so it is not one-off.

[https://calendso.slack.com/archives/C01NXDSRY9W/p1666326700896119](https://calendso.slack.com/archives/C01NXDSRY9W/p1666326700896119)

[2022-10-21 08:16] Udit-takkar opened #5145 "[CAL-219] Reschedule emails are not sent"
Reschedule emails are not being sent to my email. One of the guests rescheduled and I had no idea the reschedule was done until I checked the upcoming bookings here - [https://app.cal.com/bookings/upcoming](https://app.cal.com/bookings/upcoming)

[https://calendso.slack.com/archives/C01NXDSRY9W/p1666326700896119](https://calendso.slack.com/archives/C01NXDSRY9W/p1666326700896119)

[2022-10-21 08:54] #5140 closed

[2022-10-21 09:10] Jaibles opened #5151 "[CAL-220] Build Segment component"
[Segments - ❖ Cal DS (Figma)](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS?node-id=15212%3A117411)

Also look for opportunities to introduce this in the app. The rule will likely be that it should be used to always replace dropdowns with 2 options, and 3 options if the labels are short (ie 1 or 2 words). To be refined with testing & evaluation.

[2022-10-21 09:12] hariombalhara opened #5152 "[CAL-221] Can't save EventTypes from AdvancedTab if private link is enabled."

[2022-10-21 09:37] Javihache opened #5154 "Signup or login redirects to localhost:3000"
I have deployed cal.com on a VPS Ubuntu 22.04 using nodejs 16.18. After I set up the database and a reverse proxy with the following config:

`server {
    listen [::]:80;
    listen 80;

    server_name cal.mydomain.com;

    location / {
        proxy_pass http://localhost:3000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "u

[2022-10-21 09:49] #5116 closed

[2022-10-21 10:09] #5152 closed

[2022-10-21 10:57] MatheusBeniniF commented on #4229
Hi @PeerRich you want to show recurring events even if there is no confirmation?

[2022-10-21 11:46] CodingRockz opened #5158 "[CAL-267] MS Teams No URL - Only works for sometime"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

A summary of the issue. This needs to be a clear detailed-rich summary.

### Steps to Reproduce

1. Add MSTeams 365 app
2. Add a event with MS Teams location
3. create a booking and find the link does not have the url

Any other relevant information. For example, why do you consider this a bug and what did you expect to happen

[2022-10-21 12:28] alishaz-polymath commented on #3457
@chrisgick There seems to be an issue with Confluence itself, pertaining to CalDAV (or perhaps their docs)
Firstly, I get the unauthorised error when I try to use username and password basic Auth.
Then I had a look at the deprecation notice (ref below), and a couple of articles where it suggested to use 'username:password' string and convert to base64 and use that for basic authorization instead.

[2022-10-21 12:46] Javihache commented on #5154
Found the problem. If I do `yarn build` with the wrong URL values (localhost:3000) for the first time after git cloning the repository, even if I change the URL to the right ones afterwards and build again, localhost:3000 sticks around in the code and leads to the problem described. Is there a way to completely reset the configuration after building for the first time?

[2022-10-21 14:07] Udit-takkar commented on #5145
duplicate [https://linear.app/calcom/issue/CAL-180/booking-reschedule-not-working](https://linear.app/calcom/issue/CAL-180/booking-reschedule-not-working)

[2022-10-21 14:07] #5145 closed

[2022-10-21 14:50] junaid33 commented on #5013
Fixed in Cal 2.1

[2022-10-21 14:50] #5013 closed

[2022-10-21 15:33] emrysal opened #5161 "[CAL-222] Meeting Link of type "Link" is not added to confirmation email"
Where: is empty.

[2022-10-21 15:56] RebeccaCotton opened #5162 "Cancellation and rescheduling note are not shown in the confirmation page and email"
### Issue Summary

Cancellation and rescheduling note are not shown in the confirmation page and email, when the user enters them. This happns both for the attendee and host rescheduling.

### Steps to Reproduce

CASE: CANCEL
1. Given a new booking is created (email of confirmation is sent), as a guest want to cancel the event, from the “confirmation page”
2. I add a “Reason of cancellation”
![ima

[2022-10-21 16:38] #5154 closed

[2022-10-21 17:50] #4298 closed

[2022-10-21 19:36] MatheusBeniniF commented on #5162
@Jaibles, have a figma design to this?

[2022-10-21 19:59] #3701 closed

[2022-10-21 20:01] milospuac commented on #4814
Oh right, I'll close this one then. 🙏🏻

[2022-10-21 20:35] joeauyeung opened #5166 "[CAL-238] Create subscription when creating a team & delete subscription"

[2022-10-21 20:35] joeauyeung opened #5167 "[CAL-239] Alert teams when subscription needs to be paid (retroactive & expired subscriptions)"

[2022-10-22 03:30] 0xYootou commented on #1682
​Can I pay ERC20 tokens directly for a booking? I am working on this feature based on the cal.com repo code, but not found on the todolist.

[2022-10-22 03:32] 0xYootou commented on #1682
like this
<img width="793" alt="image" src="https://user-images.githubusercontent.com/897401/197317298-1906c8a4-3823-4e1d-b4d1-f38a0675944d.png">

[2022-10-22 09:39] #5125 closed

[2022-10-24 06:07] JeroenReumkens commented on #4365
@jaysoni-ash42  Do you think you still have time to pick this up? Otherwise I could take over from you. Thanks 🙏

[2022-10-24 07:33] Udit-takkar commented on #5144
fixed now. user didn't gave create event permission

[2022-10-24 07:33] #5144 closed

[2022-10-24 07:38] #5095 closed

[2022-10-24 08:03] CarinaWolli commented on #5162
That the cancellation reason is not shown is already fixed in latest main with https://github.com/calcom/cal.com/pull/5084

[2022-10-24 08:31] jdaviescoates commented on #2988
I'm in the call, are you joining :) thanks!

[2022-10-24 10:34] RebeccaCotton commented on #5162
@CarinaWolli Did that also fix the issue for the reschedule note, because there we had the same behaviour

[2022-10-24 10:58] Jaibles commented on #5162
@RebeccaCotton I did create a seperate issue to have that resolved to. I'll see where it's at.

[2022-10-24 11:14] MuriloAmarals commented on #5081
@PeerRich Could you take a look at the [PR](https://github.com/calcom/cal.com/pull/5149) with the solution to the issue?

[2022-10-24 11:40] Udit-takkar commented on #4130
this thing is already done https://github.com/calcom/cal.com/pull/4721

[2022-10-24 11:40] #4130 closed

[2022-10-24 11:43] Udit-takkar commented on #5083
should be fixed from https://github.com/calcom/cal.com/pull/5071

[2022-10-24 13:08] mattsmallman commented on #5073
How did you fix this to close? I have the same issue.

[2022-10-24 13:40] matheusmuniz03 commented on #4980
hey @PeerRich @Jaibles any updates about figma?

[2022-10-24 14:07] gadgetb0y commented on #5073
I didn't. I canceled my Cal.com account and switched to Calendly.

[2022-10-24 15:01] Udit-takkar commented on #5110
hey @noobyogi0010  just checking in. are you still working on this issue ?

[2022-10-24 15:11] Udit-takkar commented on #4937
@alannnc you have resolved all the type errors https://github.com/calcom/cal.com/pull/4759#pullrequestreview-1136588419 . right ?

[2022-10-24 15:17] Udit-takkar commented on #4970
PR has been merged. Closing this

[2022-10-24 15:17] #4970 closed

[2022-10-24 15:20] Udit-takkar commented on #4919
I will try to fix this issue.

duplicate of [https://linear.app/calcom/issue/CAL-163/i18n-with-better-defaults](https://linear.app/calcom/issue/CAL-163/i18n-with-better-defaults).

[2022-10-24 15:36] Udit-takkar opened #5177 "[CAL-242] cal.com/apps/[appname] keeps loading"
[c84e40f4-0443-4f6c-a780-c11f725d72c5](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/68123193-2390-40ac-bff0-ac05a08d79c9/c84e40f4-0443-4f6c-a780-c11f725d72c5)

[2022-10-24 16:06] harshsinghatz commented on #5177
![image](https://user-images.githubusercontent.com/51085015/197573013-65e894e7-99a1-48cd-8956-e60c22f1757c.png)
@Udit-takkar works fine on my end, can you check again!

[2022-10-24 16:16] harshsinghatz commented on #5110
@Udit-takkar if it's still open can i work on this?

[2022-10-24 16:32] sean-brydon commented on #4919
@udit Im not sure if this got picked up by @jeroen and @peerrich

[2022-10-24 16:40] Udit-takkar commented on #5110
@harshsinghatz it's still open but i don't if @noobyogi0010 is working on this or not

[2022-10-24 17:01] harshsinghatz opened #5179 "Add: copy link on the side of "View public page" for better UX"
### Is your proposal related to a problem?

![image](https://user-images.githubusercontent.com/51085015/197581999-bac469e8-1a58-4c11-bb5f-f482382c8c95.png)

Option to copy the link directly from anywhere in the app by having it on the side of view public page.

### Describe the solution you'd like

- We can put the copy link to the side of the link

### Describe alternatives you've considered
- We

[2022-10-24 17:01] harshsinghatz commented on #5179
If this is something we consider for better UX. I would be willing to work on this!!

[2022-10-24 17:46] noobyogi0010 commented on #5110
@harshsinghatz and @Udit-takkar
I'm working on this but I'm getting the following error while running `yarn dx` command:
[code]

Do you have any idea why this might be coming?

[2022-10-24 17:48] harshsinghatz commented on #5110
Try running yarn clean and yarn

[2022-10-24 18:06] noobyogi0010 commented on #5110
@harshsinghatz I am still getting the same error.
I believe @Udit-takkar you can take it up as I think this error can be a blocker for me to resolve the issue.
Do let me know if you come across such error and know the fix for it.

[2022-10-24 19:21] alannnc opened #5183 "[CAL-249] scheduledJobs on reschedule"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

While rescheduling cancelScheduledJobs function tries to update scheduled jobs on already deleted booking.

*An operation failed because it depends on one or more records that were required but not found. Record to update not found.","code":"P2025","clientVersion":"4.2.1","meta":{"cause":"Record to update not found."}},"promise

[2022-10-24 19:51] Udit-takkar commented on #5110
@noobyogi0010  can you join our slack https://cal.com/slack and post the error that you are facing there ?

[2022-10-24 20:06] Udit-takkar opened #5185 "[CAL-243] Google Calendar showing busy every time"
Anyone know why the Availability Troubleshooter would be telling me then, when it's definitely not the case

![image.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/09c8443f-c85e-4b8d-8c30-39ba5acbea93/558f01e5-0405-4f78-b2fc-a277b061724b)

Every day is like this, as far as the troubleshooter (and Cal app) is concerned, while my calendar on google has open availability. I've d

[2022-10-24 21:30] MatheusBeniniF commented on #4414
@Jaibles, this issue has already solved, right?
![image](https://user-images.githubusercontent.com/88898100/197633395-0cad8c1c-7c1f-410b-b436-b6dcb2a5d3e5.png)

[2022-10-24 21:36] #5110 closed

[2022-10-24 22:19] PeerRich opened #5186 "[CAL-244] sirius.video app"
[https://sirius.video/sebastian](https://sirius.video/sebastian)

[2022-10-24 22:20] #4366 closed

[2022-10-24 22:36] Jaibles commented on #4980
I haven't done it yet but do have the availability page itself done on mobile so should give a good idea what to do. Will update designs also.

[2022-10-24 22:39] PeerRich opened #5188 "[CAL-245] remove link from cal video logo"

[2022-10-24 22:43] PeerRich opened #5189 "[CAL-246] installing from within /event-types/ should not redirect to installed apps"
![CleanShot 2022-10-24 at 23.43.03@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/2d797d29-d002-48d3-b2ed-8c4a67506ed2/edeb7b4a-a428-4a69-b5d5-b7dcd56b42c9)

[2022-10-24 23:07] aspiers commented on #4006
For reference, here's another competitor which already provides this:

![image](https://user-images.githubusercontent.com/100738/197646540-5c539b82-fba4-4f0a-a731-bc627eb2a69f.png)

[2022-10-24 23:11] #5131 closed

[2022-10-25 00:08] tonybruess commented on #3457
Fastmail does not work :(

[2022-10-25 00:14] #4340 closed

[2022-10-25 00:29] #4608 closed

[2022-10-25 00:32] #5097 closed

[2022-10-25 00:32] #5079 closed

[2022-10-25 00:35] alishaz-polymath commented on #3457
@tonybruess we are in talks with Fastmail currently. Our calls were getting Forbidden returned. We aren't fully supporting it yet, tests are being run. Once it is fully supported, you'll see the tick against its name in the description of this ticket 🙂

[2022-10-25 04:15] lyk2020 opened #5190 "Overriding Event Type"
### Is your proposal related to a problem?

(Write your answer here.)

### Describe the solution you'd like

(Describe your proposed solution here.)

### Describe alternatives you've considered

(Write your answer here.)

### Additional context

(Write your answer here.)

[2022-10-25 04:18] #5190 closed

[2022-10-25 04:20] lyk2020 opened #5191 "Allow overriding scheduled meetings"
### Is your proposal related to a problem?

As a user, I'd like to be able to have some event types override other scheduled events.

For example, a meeting request from C Level should always be scheduled regardless of conflicts. Same idea for a valued client.

### Describe the solution you'd like

Create an event type that'll schedule regardless of conflicts.

Suggestions for handling the conflic

[2022-10-25 04:28] lyk2020 opened #5192 "Requestor can suggest a location"
### Is your proposal related to a problem?

Sometimes I'll need to go onsite to the client location. It would be helpful if they can suggest the location when booking the meeting.

### Describe the solution you'd like

Currently only the host can add a physical address for the location.

Create a location type or custom field for the address of the client.

### Describe alternatives you've conside

[2022-10-25 07:17] JeroenReumkens commented on #4340
Hi @popken  Sorry for the late response, I only saw your mention just now.
A few hours ago we did a new change to avoid a lot of confusion about this. The new behaviour is:

* On the public booking page the toggle for changing 12/24h is back, it is now positioned on top of the hour slots. The profile setting is not used there anymore, but if you change the 12/24h setting it is remembers locally in

[2022-10-25 08:18] #5189 closed

[2022-10-25 08:51] #5025 closed

[2022-10-25 09:03] hariombalhara opened #5195 "[CAL-247] CSV Routing Forms - More columns that we can add"
* Which Event was the user Routed to and whether he booked that event. Also add `bookingId`
* If the user wasn't taken to an EventType for booking,
  * What custom message was shown to him
  * Which URL was he redirected to.

[2022-10-25 09:04] flaviomoceri opened #5196 "[CAL-248] Problem with the integration of a button in react"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

A summary of the issue. This needs to be a clear detailed-rich summary.

### Steps to Reproduce

1. Put useEffect in the component
2. Put data-cal-link in a buttton using this url [https://cal.com/team/\[your_username\]](https://cal.com/team/%5Byour_username%5D)
3. When you try to click this button and then click an event it wi

[2022-10-25 09:10] milospuac commented on #5185
Didn't toggle his calendars to be checked for conflicts @udit

[2022-10-25 09:10] #5185 closed

[2022-10-25 09:14] Udit-takkar commented on #5185
ok thanks @milos

[2022-10-25 10:14] hariombalhara commented on #5139
This might have already fixed it. https://github.com/calcom/cal.com/pull/5141

[2022-10-25 10:24] alefattorini opened #5199 "Events cancelled are not deleted on my calendar"
### Issue Summary

Hi guys
it's the second time that an event canceled from the users is not deleted on my CalDAV calendar.
Any clue?

### Steps to Reproduce

1. Cancel an event on calendar
2. Check on your calendar connected
3. Event doesn't disappear

Any other relevant information. For example, why do you consider this a bug and what did you expect to happen instead?

### Technical details

My

[2022-10-25 10:25] alefattorini commented on #5199
Sorry, looks like it's resolved now.. I just rechecked the behavior and there's no problem anymore

[2022-10-25 10:26] #5199 closed

[2022-10-25 10:47] #5151 closed

[2022-10-25 12:00] JonasUllrich opened #5200 "Include summer / winter time difference in availability calculation"
### Is your proposal related to a problem?

I am currently in summer time and would like to display the available time slots for an appointment in winter time. Unfortunately, the available dates displayed are outside the booking period.

(Write your answer here.)

### Describe the solution you'd like

All available dates, regardless of the time, should be within the booking period.

(Describe your

[2022-10-25 12:13] milospuac opened #5202 "[CAL-251] If Google Meet is the location, confirmation email doesn't get sent"
[https://app.birdeatsbug.com/sessions/Af1G2hCruXmnQi_GX3hjo8U0MMSuZhFCXq96hlTTsu7l](https://app.birdeatsbug.com/sessions/Af1G2hCruXmnQi_GX3hjo8U0MMSuZhFCXq96hlTTsu7l)\\

When I try any other location I get confirmation emails as intended

[2022-10-25 13:35] flaviomoceri commented on #5196
Please someone fix that. The problem I think is very easy, but at the same time this little problem makes a big problem because nobody can book through the link.

[2022-10-25 13:44] MatheusBeniniF commented on #3332
@zomars @Jaibles, this issue has already fixed, right?
![image](https://user-images.githubusercontent.com/88898100/197790156-506e2e3a-e929-4b9d-b85d-35d655422b11.png)

[2022-10-25 13:45] flaviomoceri opened #5206 "[CAL-248 ]Problem with the integration of a button in react"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

A summary of the issue. This needs to be a clear detailed-rich summary.

### Steps to Reproduce

1. Put useEffect in the component
2. Put data-cal-link in a buttton using this url [https://cal.com/team/[your_username]](https://cal.com/team/%5Byour_username%5D)
3. When you try to click this button and then click an event it will

[2022-10-25 14:22] hariombalhara commented on #5111
Do we want it to be an automatically enabled option? or would it be an option in UI(enabled/disabled by default?).

Also, where exactly we want the option to come?

A sample email from my local that's working. Need confirmation on text as well

![Screenshot 2022-10-25 at 7.51.00 PM.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/fc87c599-fa17-4eac-8d9a-0bc80deeb705/50c85c3b-d4

[2022-10-25 14:23] hariombalhara commented on #5111
cc @ciaran @peerrich

[2022-10-25 14:27] harshsinghatz commented on #5179
@PeerRich @Jaibles You think this is something we can implement?

[2022-10-25 14:38] harshsinghatz commented on #5206
I didn't quite understand your problem, [Sandbox Link](https://codesandbox.io/s/embed-popup-on-click-of-an-existing-element-demo-react-forked-c5g8lk?file=/src/App.js) maybe this will help!

[2022-10-25 14:41] mattsmallman opened #5209 "Could not book the meeting. invalid_type in 'id': Required; invalid_type in 'onlineMeetingUrl': Required"
### Issue Summary

Instance: Cal.com hosted

Anyone attempting to schedule a meeting on any event type receives the following error:

Could not book the meeting. invalid_type in 'id': Required; invalid_type in 'onlineMeetingUrl': Required

A meeting is created in bookings, but no invite is sent or the confirmation given to users.

The time appears to be blocked off and can't be rebooked but doesn'

[2022-10-25 14:41] flaviomoceri commented on #5206
Ok, your example is perfect, now try to put the link of a team, like
team/[team_name], just this
and you will see that when you will click an event it will appear "This
page doesn't exist"

Il giorno mar 25 ott 2022 alle ore 16:39 Harsh Singh <
***@***.***> ha scritto:

[2022-10-25 14:44] flaviomoceri commented on #5206
Because there is this link team/[slug]/[team_name]/[event_name]. the
problem is because in the url there is [slug]. It should be just
team/[team_name]/[event_name]

Il giorno mar 25 ott 2022 alle ore 16:41 Flavio Moceri <
***@***.***> ha scritto:

[2022-10-25 14:52] mattsmallman commented on #5209
Just checked the sign in logs from our O365 tenant and there are repeated failures to authenticate from cal.com when you are trying to refresh your token.

`Failure Reason: Invalid client secret provided. Ensure the secret being sent in the request is the client secret value, not the client secret ID, for a secret added to app '{identifier}'.`

There are success logs for the initial token collecti

[2022-10-25 14:54] flaviomoceri commented on #5206
Yes, beacuse you have to do this. Create a team and for this team create an event

[2022-10-25 14:55] flaviomoceri commented on #5206
Now when you will try again to click the button and then you will click the event of the team, the link doesn't work becase there is this term [slug] inside

[2022-10-25 14:57] flaviomoceri commented on #5206
You need to create an event for the team and try to book the event of the team

[2022-10-25 15:03] flaviomoceri commented on #5206
Do you see it?

[2022-10-25 15:05] harshsinghatz commented on #5179
And currently, the whole item is clickable so having three dots doesn't seem necessary maybe we can add an upward-pointing chevron

[2022-10-25 15:09] milospuac commented on #5191
Thanks for the suggestion

Our team will look into this and implement it if it makes sense

Best,

[2022-10-25 15:10] harshsinghatz commented on #5206
Yeah, now I am able to see
![image](https://user-images.githubusercontent.com/51085015/197811997-a6784f33-d5e8-4a1b-82a3-3c46062b79f7.png)

[2022-10-25 15:11] flaviomoceri commented on #5206
Finally, please fix it, it is a big problem for me, nobody can book trough the link

[2022-10-25 15:53] flaviomoceri commented on #5206
When the problem will be fixed?

[2022-10-25 16:07] harshsinghatz commented on #5206
I am looking into it, will try to do it asap

[2022-10-25 16:08] Udit-takkar commented on #5196
hey @flaviomoceri i am unable to understand the bug and steps to reproduce. what do you mean by put useEffect in component and put data-cal-link [https://cal.com/team/[your_username]](https://cal.com/team/%5Byour_username%5D) ?

[2022-10-25 16:09] flaviomoceri commented on #5196
https://github.com/calcom/cal.com/issues/5206 here I explain how to see the error

[2022-10-25 16:10] flaviomoceri commented on #5196
please fix it

[2022-10-25 16:13] flaviomoceri commented on #5196
https://codesandbox.io/s/embed-popup-on-click-of-an-existing-element-demo-react-forked-c5g8lk?file=/src/App.js check this example

[2022-10-25 16:15] GlitchWitch commented on #5202
I'm seeing the same issue. We have `Requires confirmation` enabled, after confirming an event no email is sent and no calendar entry is made.

[2022-10-25 16:15] flaviomoceri commented on #5206
Thanks, I thought that this error was easy to fix, because the url is corret but there is this term inside [slug] and for this reason the link doesn't work. Please write me when you will fix it

[2022-10-25 16:17] Udit-takkar commented on #5196
okay i am looking into it

[2022-10-25 16:17] flaviomoceri commented on #5196
Thanks

[2022-10-25 16:18] Udit-takkar commented on #5206
closing this because duplicate of https://github.com/calcom/cal.com/issues/5196

[2022-10-25 16:18] #5206 closed

[2022-10-25 16:18] flaviomoceri commented on #5196
I think that this is urgent because this little problem makes a big problem because nobody can book through the link

[2022-10-25 16:19] harshsinghatz commented on #5196
Yeah sure, will try to fix this asap

[2022-10-25 16:41] MatheusBeniniF commented on #4341
Hi @Jaibles @PeerRich, where should we put the time zone?

[2022-10-25 16:54] flaviomoceri commented on #5196
ok thanks, please write me when you fix it

[2022-10-25 16:56] Udit-takkar commented on #5202
fixed https://github.com/calcom/cal.com/pull/5205

[2022-10-25 16:58] GlitchWitch commented on #5202
Can confirm, #5205 looks to have solved this. :tada:

[2022-10-25 17:12] #5202 closed

[2022-10-25 17:13] leog commented on #4529
Hey @mattsmallman. So right now we have 4 types of additional fields: text, multiline text, number, checkbox. For text and number it would be pretty straightforward to think about including it in the event title. How about multiline text and checkbox? How would you see that working? Would love some feedback here so we create the best solution. Thanks in advance!

[2022-10-25 17:17] milospuac commented on #5209
@joeauyeung can you have a look? I think it happened again. However, I just tried to connect my Outlook calendar and it worked.

[2022-10-25 17:35] MuriloAmarals commented on #5188
Hey @PeerRich Where can I find this cal video logo?

[2022-10-25 17:48] MuriloAmarals commented on #5188
The link you mentioned above is the `url`?

![image](https://user-images.githubusercontent.com/87545137/197845792-8d51ff72-bed9-4a0f-ac97-8e7e3485d67e.png)

[2022-10-25 18:13] Jaibles commented on #5179
I like the idea @harshsinghatz. Want me to put designs together?

Also a fair point about the three dots.

[2022-10-25 18:16] Jaibles commented on #4341
I'm honestly not sure I'm in favour of moving this over there. We also have a separate pr in the works that puts the 12/24hr toggle top right too. I think it's going to get very cluttered.

[2022-10-25 18:17] MatheusBeniniF commented on #4341
so should we ignore it?

[2022-10-25 18:21] Jaibles commented on #4341
That's my vote. @PeerRich any thoughts on this?

[2022-10-25 18:22] joeauyeung commented on #5167
@ciaran, what would be the best way to alert team owners that their subscription is expired / not paid? I'm thinking of having a banner on the top of the screen, like what we did for V2.

[2022-10-25 18:32] mattsmallman commented on #4529
I only really want text in the subject but if the same field code is used elsewhere, then number and multiline might be helpful but I can't think of a use case for me right now. I'm assuming these fields are already available in your API/Workflows.

For context I have a generic set of 30,45,60 min appts which clients can book but because the content varies so much it's helpful for them to add a li

[2022-10-25 18:36] Udit-takkar opened #5213 "[CAL-252] Avatar icon not loading properly"
![image.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/b9a0102a-b2d7-4fd1-8680-99344ad9a4b7/f4fc41ed-9801-4425-8e68-c236284179ea)

[2022-10-25 18:40] harshsinghatz opened #5214 "Add: loading progress bar on the top of the page"
### Is your proposal related to a problem?

- Currently, if it takes a considerable amount of time for changing routes/ loading something there is no feedback to the user on the state of loading, which sometimes makes it seems that nothing is happening

### Describe the solution you'd like

- Adding the loading bar on the top of the page
- eg:
![image](https://user-images.githubusercontent.com/510

[2022-10-25 18:43] harshsinghatz commented on #5179
@Jaibles Lol not too good with UI design, would mockups on excalidraw work for the feedback?

[2022-10-25 18:54] Jaibles commented on #5179
I can put designs together :) will have it within 12 hours!

[2022-10-25 18:57] harshsinghatz commented on #5213
@Udit-takkar Also the avatar is not getting updated from the profile section, I tried it with two accounts. Can you check it on your end?

[2022-10-25 19:16] #5183 closed

[2022-10-25 20:16] Udit-takkar commented on #5213
Yeah there seem to be some problems with the Avatar updating also. I'll be looking into this. Why is this happening.

[2022-10-25 20:16] Udit-takkar commented on #5213
Yeah there seem to be some problems with the Avatar updating also. I'll be looking into it

[2022-10-25 21:42] Jaibles commented on #5167
Yea a top banner is a good idea since this is a high priority issue. Will try dig it out!

[2022-10-25 23:16] jmfonseca commented on #4783
Also happening to me.

[2022-10-26 03:20] om-ray commented on #3962
@aspiers @PeerRich @emrysal Please check out the [PR](https://github.com/calcom/cal.com/pull/5217) I made for this issue

[2022-10-26 03:23] CodingRockz commented on #5158
@joeauyeung Any update on this. This is an issue that was identified months ago, and re-raised as not being fixed multiple times. The azure account has offline mode also allowed as per the previous request

[2022-10-26 03:36] hariombalhara opened #5220 "[CAL-253] Throw warning in console if someone uses cal.com/embed.js in an INFRA setup."
Such a scenario can cause any unexpected bug because embed.js is latest and components are old.

[2022-10-26 03:43] harshsinghatz commented on #5213
@Udit-takkar would you be picking that as well?

[2022-10-26 05:34] hariombalhara commented on #5196
This is fixed now

[2022-10-26 05:35] #5196 closed

[2022-10-26 05:39] alishaz-polymath opened #5221 "[CAL-254] Nextcloud CalDAV reschedule fails"
Nextcloud CalDAV rescheduling fails (reschedules in Cal but not in the connected calendar) and cancellation doesn't remove the event from the calendar

[2022-10-26 06:04] harshsinghatz commented on #5196
@hariombalhara Thanks!, I had a laptop issue

[2022-10-26 06:06] harshsinghatz commented on #5214
@Jaibles Is this something we can try implementing?

[2022-10-26 07:05] alishaz-polymath commented on #3457
@tonybruess Fastmail was still faulty when rescheduling, however, the PR #5193 should fix that along with fixing Nextcloud rescheduling 🙏

[2022-10-26 07:16] alishaz-polymath commented on #9
Hey @dotesfera are you still facing issues connecting CalDAV?

[2022-10-26 07:25] rice-b opened #5223 "[CAL-268] enable a corresponding variable for all input fields (add variable for email)"
### Is your proposal related to a problem?

Not exactly in the workflow I want to be able to state the users email not just attendee name.
I use the workflow message Custom/ an option to add variables to the email body. However, the variable for the email of the attendee isn't available just yet.

### Describe the solution you'd like

All input fields from the event screen are available as custom

[2022-10-26 07:35] alishaz-polymath commented on #2988
Hey @jdaviescoates, the fix is in review. You can keep track [here](https://github.com/calcom/cal.com/pull/5193)
Thanks for providing access to speed this up :)

[2022-10-26 07:57] Jaibles commented on #5179
@harshsinghatz I think it's best as a separate nav item. Otherwise we will have issues with other languages where the text doesn't fit and it's also going to be less clear if it's on the side as just an icon.
https://www.figma.com/file/UajFu4M1APhn2AywAEJkJr/Cal---New-Features?node-id=281%3A56071&viewport=-505%2C409%2C1.06

[2022-10-26 08:13] Jaibles commented on #5167
[Option A - Top Banner persistent across app - Cal - New Features (Figma)](https://www.figma.com/file/UajFu4M1APhn2AywAEJkJr/Cal---New-Features?node-id=15%3A24691)

@joe here we are

[2022-10-26 08:14] Jaibles commented on #5167
@sean probably a component we should consider adding the the DS if we're going to be re-using it?

[2022-10-26 08:27] milospuac opened #5225 "[CAL-255] Organizer of the meeting is not the email of the destination calendar"
## What is currently happening

I have an ***A*** email connected with the [Cal.com](http://Cal.com) account and ***B*** email is the integrated calendar that I use as a destination calendar for my event type.

When my time gets booked, in the confirmation email, the email ***A*** shows up as the organizer

***email in the profile settings***

<img width="708" alt="Screenshot 2022-10-26 at 09 46 5

[2022-10-26 08:33] dotesfera commented on #9
Hi! After your comment, I have updated to latest version, and now i can connect my caldav and it shows up! Thank you!

Other issues I experienced:

- Didn't received a confirmation email after schedule meeting.
- NEXT_PUBLIC_WEBAPP_URL this seems to not work, it always redirect to localhost instead of the https://example.com url I set in the env

Do you have any idea?

[2022-10-26 10:30] J4VMC opened #5226 "[CAL-265] Guests should be able to add their own location for in-person meetings"
### Is your proposal related to a problem?

(Write your answer here.)

One of the main issues that we're facing with [cal.com](http://cal.com) is when our guests want us to go to their office or warehouse.

### Describe the solution you'd like

(Describe your proposed solution here.)

When creating an event type, if in location you select ***In person***, you must specify the address. However, whe

[2022-10-26 11:04] #5221 closed

[2022-10-26 12:07] PeerRich opened #5227 "[CAL-256] investigate /signup component wrong callback URL"
Hi, we are facing a weird bug with [cal.com](http://cal.com) enterprise deployment.
Whenever a new person signs up, it takes them to the login page with the wrong callback URL.

Attaching a loom video explaining this further. What should we do?

[https://www.loom.com/share/cb1b5af854564be6bad4e6fa53e4b853](https://www.loom.com/share/cb1b5af854564be6bad4e6fa53e4b853)

[2022-10-26 12:10] PeerRich commented on #5188
I'll work on this, no worries

[2022-10-26 12:25] Udit-takkar commented on #4919
similar to [https://linear.app/calcom/issue/CAL-163/i18n-with-better-defaults](https://linear.app/calcom/issue/CAL-163/i18n-with-better-defaults) . for app store it has been fixed. i will also fix for other pages as well.

[2022-10-26 12:25] PeerRich commented on #5111
looks great!

[2022-10-26 12:28] PeerRich opened #5229 "[CAL-257] plausible.io analytics app"

[2022-10-26 12:29] alishaz-polymath commented on #3457
Thank you @WilfriedM
I'm here to help in that regard. Please book me [here](call.com/Ali) and we'll sort this out. I might need your help with test credentials so a call might make sense. Alternatively, feel free to email me the test credentials [here](ali@cal.com)
Thanks

[2022-10-26 12:32] newz666 opened #5230 "[CAL-260] Events Remaining display wrong list of remaining events on event deletion"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Booking -> Recurring -> Events Remaining not displaying the correct remaining events

### Steps to Reproduce

1. Create a recurring event
2. Go to Bookings -> Upcoming and delete an event from the beginning or middle of the recently created recurring event list.
3. Go back to Bookings -> Recurring -> under  "Events remaining" i

[2022-10-26 12:41] newz666 opened #5231 "[CAL-261] Events Remaining display wrong time of remaining events on event reschedule"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Booking -> Recurring -> Events Remaining not displaying the correct event time and day after rescheduling

### Steps to Reproduce

1. Create a recurring event
2. Go to Bookings -> Upcoming and reschedule time or date and time of an event from recently created recurring event list.
3. Go back to Bookings -> Recurring -> under  "

[2022-10-26 13:01] newz666 opened #5232 "[CAL-258] Upcoming recurring events list gets duplicated when cancelling and rescheduling events."
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Upcoming recurring events list gets duplicated at the end of initial list, when cancelling and rescheduling events.

### Steps to Reproduce

1. Create a recurring event
2. See min 2.23 all event dates are displaying one day, and at 2.27 it's shifts all dates +1.
3. Reschedule an event (3.19), the list is displayed correctly.
4.

[2022-10-26 13:06] Jaibles commented on #5111
On by default seems logical. Perhaps a toggle or check here?

![CleanShot 2022-10-26 at 14.06.20@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/d2c81c11-f7a3-45a7-b0b0-fdaf5862d356/c672eefd-e5c2-444f-b1e4-2448a3464586)

[2022-10-26 13:31] #5188 closed

[2022-10-26 13:58] PeerRich commented on #5214
page-wide loading screens have fallen a bit out of fashion. youtube recently removed them.

we're mostly using skeleton loaders nowadays

[2022-10-26 13:58] PeerRich commented on #5214
instead we should improve page speed & optimistically load / safe things

[2022-10-26 14:08] PeerRich commented on #5232
@emrysal can you look into this?

[2022-10-26 14:33] harshsinghatz commented on #5214
Oh didn't knew it's not preferred nowadays

[2022-10-26 14:33] harshsinghatz commented on #5214
Yeah, always an better option

[2022-10-26 14:45] Jaibles commented on #3332
@MatheusBeniniF yes.

[2022-10-26 14:45] #3332 closed

[2022-10-26 15:06] PeerRich opened #5233 "[CAL-259] /apps/installed/calendar: weird "add new" button"
[ec28d950-2a68-4071-b69b-4bbb9d56818d](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/49713e19-f462-49db-88a3-2dd027431f4c/ec28d950-2a68-4071-b69b-4bbb9d56818d)

[2022-10-26 15:15] rene-mueller opened #5235 "[CAL-547] SSO settings are interchanged"
### Issue Summary

Now I noticed that when I enable `HOSTED_CAL_FEATURES`, SSO is displayed in Security and not under Team. I suspect that is wrong with me.

### Steps to Reproduce

1. install cal.com self-hosted
2. set `HOSTED_CAL_FEATURES` to '1'
3. open settings and try sso

PR: https://github.com/calcom/cal.com/pull/4938#issuecomment-1282234708

<sub>[CAL-547](https://linear.app/calcom/issue/C

[2022-10-26 15:29] #5024 closed

[2022-10-26 15:46] MuriloAmarals commented on #5233
Hey @G3root do you know how add calendar on localhost?

[2022-10-26 16:07] devkiran commented on #5235
@rene-mueller where did you set the value for `HOSTED_CAL_FEATURES`? Can you please double check `HOSTED_CAL_FEATURES` set on your environment?

[2022-10-26 17:27] milospuac opened #5238 "[CAL-262] Zimbra connection keeps getting revoked"
![Screenshot 2022-10-26 at 19.21.10.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/4a01dd3b-ac77-4dcb-8388-99c1ab17ed8d/d7826a49-5a41-4fba-801e-b1f0134179e0)

It connects then a few seconds later connection fails claiming revoked permissions.

[2022-10-26 19:56] newz666 commented on #5230
Thank you @MatheusBeniniF . It got magically fixed to me as well this morning on our Self Hosted instance, even though I haven't updated it or anything.Thank you.

[2022-10-26 19:57] jdaviescoates commented on #2988
Great, thanks @alishaz-polymath, let us know when it's gone live on Cal.com so we can test it.

Presumably I can now delete your account on my system now? :)

[2022-10-26 20:01] #4414 closed

[2022-10-26 20:02] PeerRich commented on #5200
do you have a visual proposal how it could look like?

[2022-10-26 20:16] PeerRich opened #5239 "[CAL-263] First load is slow (cold boot maybe?)"
Hey guys - I must be doing sth wrong. ~I have cal setup on vercel, and it’s crazily slow.~

Edit by @PeerRich: not vercel specific

• first loading of the availabilities
• then the form UI to go through the booking
is that happening for you as well? What can I do?

Thanks!

Example here: [https://meet.tocco.earth/baptistedebever/30min](https://meet.tocco.earth/baptistedebever/30min)

<sub>From [Sy

[2022-10-26 20:20] Udit-takkar commented on #5233
hey @G3root , @PeerRich  this has been fixed.

[2022-10-26 20:22] #5139 closed

[2022-10-26 20:24] PeerRich commented on #4006
yeah we plan to soon offer 3 layouts to chose from and this will be one of them!

[2022-10-26 20:24] #5233 closed

[2022-10-26 20:25] PeerRich commented on #5191
@emrysal is working on this already and will go live in the next release!

[2022-10-26 20:27] PeerRich commented on #5191
this is quite an intense feature, how would you know what a C-Level person is vs a random person? would you create an allowlist of people who can always book? seems quite hard for such a niche feature

[2022-10-26 20:27] PeerRich commented on #5073
hey @gadgetb0y that's sad to hear. We'll reopen this issue and investigate

[2022-10-26 20:42] mattsmallman commented on #5226
+1 for this and for option of URL location to be entered by guest when for instance they are inviting you to an internal meeting

[2022-10-26 21:00] #5214 closed

[2022-10-26 21:01] #4814 closed

[2022-10-26 21:02] om-ray commented on #5226
@PeerRich If you would like this to be fixed, I would love to work on this

[2022-10-26 21:02] #5001 closed

[2022-10-26 21:04] #5083 closed

[2022-10-26 21:07] PeerRich commented on #5226
@om-ray waiting for the response to my question first, but then go for it!

[2022-10-26 21:07] #4341 closed

[2022-10-26 21:08] PeerRich commented on #4783
we'll investigate!

[2022-10-26 21:08] PeerRich commented on #4783
@CarinaWolli do you wanna give this a try?

[2022-10-26 22:12] joeauyeung commented on #5158
Thanks for your patience @CodingRockz. I just created a booking with MS Teams after not using it for >1hr. I also manually edited the expiry date of the token in the DB. In both instances, a Teams URL was generated.

In `packages/app-store/office365video/lib/VideoApiAdapter.ts` are you able to log the `resultObject` on line 140 and share it with us? You can omit the `joinInfo` key as it won't cont

[2022-10-27 03:31] alishaz-polymath commented on #2988
Hey @jdaviescoates
It should be live on Monday/Tuesday. And I would keep the test account just in case. 🙏

[2022-10-27 06:06] #5186 closed

[2022-10-27 06:07] rene-mueller commented on #5235
@devkiran yes I'll set the value `HOSTED_CAL_FEATURES` in my environment with the value '1': `HOSTED_CAL_FEATURES=1`

[2022-10-27 06:48] CarinaWolli commented on #5223
I will add the attendee's email to the dynamic text variables 👍

[2022-10-27 07:01] saschafoerster commented on #5139
Have the same issue, waiting for a new release to test it. :)

[2022-10-27 07:05] #5092 closed

[2022-10-27 07:47] mattsmallman commented on #5226
I would add as new fields for consistency with phone number (Attendee Location + Attendee URL) and to allow for "My Office" to be set by organiser as an option with attendee's able to add their own.

[2022-10-27 08:22] #4583 closed

[2022-10-27 09:13] #5081 closed

[2022-10-27 09:37] #4813 closed

[2022-10-27 10:01] davidknezic opened #5244 "[CAL-272] Cannot pre-fill using ?location query param anymore"
### Issue Summary

I honestly don't know if this was possible accidentally or if there was proper support for it, but we used to add the `?location=` query param to our event links so we could pre-fill individual on-boarding URLs per customer. We just recently upgraded from an old self-hosted [cal.com](http://cal.com) version (from around March this year) to the most recent one. Since then, pre-fi

[2022-10-27 10:07] CarinaWolli commented on #4783
I did some further testing and I came to the conclusion that the email update is actually working. The only problem is that once you leave the page it resets all values. You can see in the [loom video](https://www.loom.com/share/2702cc1ef2da4c818c3aebd5a2a1fbd1) that I am clicking on my Bitwarden extension for my password and that's when the values get reset. So when the password pop-up closes it

[2022-10-27 11:17] CarinaWolli opened #5245 "Adding additional input shows wrong "... event type updated successfully" message"
### Issue Summary

When adding an additional input field to an event type it shows a toast "... event type updated successfully" when clicking save even though it is not updated. You still need to click save on the top right.

See here: https://www.loom.com/share/89c5abd6502c4e1098fd9f500c4624da

The pop-up also needs some updates in design.

Figma Design:
![Screenshot 2022-10-27 at 13 09 18](http

[2022-10-27 11:24] MuriloAmarals commented on #5245
Hey @CarinaWolli Can you give me more details on how you want the design to look at the end of the toast?

[2022-10-27 11:27] MuriloAmarals commented on #5245
One more thing, what do you want this button to save the additional input to do? Because I thought it makes sense for him to only save momentarily, since the button to save changes to the event type as a whole has not yet been pressed.

[2022-10-27 11:30] MuriloAmarals commented on #5245
If you think it's a good idea to solve the issue, it is to change the writing in the toast after saving the additional input to "Additional input has been changed. To save the changes click on Save".
@CarinaWolli

[2022-10-27 11:34] CarinaWolli commented on #5245
@MuriloAmarals I think once we change it to the new design and have a 'create' button instead of 'save' it should be clear that it still needs to be saved (like for all other changes). And we just don't show any toast at all when creating the additional input

[2022-10-27 11:36] MuriloAmarals commented on #5245
Ok @CarinaWolli I liked it, I'm going to put my hands on it!!

[2022-10-27 12:24] J4VMC commented on #5226
I'd add a new field, for consistency. Something like "In-person Guest suggestion" or something catchier

[2022-10-27 12:55] MuriloAmarals commented on #5245
![image](https://user-images.githubusercontent.com/87545137/198289434-9480c1f0-a0e3-42e0-9671-b70c4d662151.png)

@CarinaWolli look ate this, I think the checkbox is very user-friendly and accurate than a Dropdown. Don't you agree?

[2022-10-27 13:30] lyk2020 commented on #5191
That's a great question to solve.

I was thinking of using an overriding event type, but only send a private
link. Maybe as phase 2, keep that link accessible to an allow list (pull
from ldap group? or CRM?).
This is also the reason I'd require confirmation, so we can manually decide
if it should override or reschedule.

On Wed, Oct 26, 2022 at 4:27 PM Peer Richelsen ***@***.***>
wrote:

[2022-10-27 13:33] MuriloAmarals commented on #5245
A dropdown for just a yes or no option doesn't make much sense.

[2022-10-27 15:08] CarinaWolli commented on #5245
@MuriloAmarals Yes, we can leave the checkbox 👍 Just make sure to have the margins right, otherwise it looks good :)

[2022-10-27 15:42] PeerRich opened #5249 "[CAL-270] add vercel analytics"

[2022-10-27 15:50] #5249 closed

[2022-10-27 15:50] #5229 closed

[2022-10-27 16:14] MuriloAmarals commented on #5245
Hey @CarinaWolli Look what I've got
![image](https://user-images.githubusercontent.com/87545137/198343525-53ba46ee-0a66-4c30-bd63-a3d3ceb60186.png)

[2022-10-27 16:16] MuriloAmarals commented on #5245
But I am not able to remove Toast, I think it is directly linked to the main button of "Save". If I remove the popup button, it will remove everything apparently, but I'll try something else.

[2022-10-27 18:28] alannnc opened #5251 "[CAL-271] Reschedule with webhooks on"
Triggers tries to update booking scheduledJobs when the booking has already been deleted, so an error is received while doing the reschedule.

[2022-10-27 19:46] PeerRich commented on #5244
this looks like something we should do

[2022-10-27 19:53] PeerRich commented on #5191
I think we need to deprioritize this, i believe its too much of a niche feature for now. you could create a new account and connect a different calendar that has higher availability and use that link for now as a hotfix

[2022-10-27 19:53] #5191 closed

[2022-10-27 21:36] siddjellali opened #5254 "gsmtp: 421 4.7.0 Try again later, closing connection. (EHLO)"
I have the error message below when i'm using smtp-relay.gmail.com

[code]

However, when i'm using smtp.gmail.com, it works !

[2022-10-27 22:02] Udit-takkar opened #5255 "[CAL-273] BUG: Reordering event types not working"
[bfd896dd-38ba-4042-8780-64fe2c058eda](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/1d541d8f-b66e-42eb-8a33-337db5a135b8/bfd896dd-38ba-4042-8780-64fe2c058eda)

[2022-10-27 22:20] Jaibles commented on #4365
Designs at the bottom of [this page ](https://www.figma.com/file/xk4HOxtSI82J0F7enMxeak?node-id=26:101616&comments-enabled=1) for reference.

[2022-10-27 22:22] Jaibles commented on #5134
@MatheusBeniniF sorry thought I had replied this this. Looks great 👍

[2022-10-27 22:45] PeerRich opened #5256 "[CAL-274] DOCTYPE error when booking"
\:wave:  This happens upon clicking Confirm on cloud hosted version. Any idea ?

[2022-10-27 22:48] PeerRich opened #5257 "[CAL-275] issue with embed"
Here is a gif of the flow.

[2022-10-28 09:20] PeerRich commented on #5138
hired a wordpress expert for this

[2022-10-28 09:36] #5251 closed

[2022-10-28 09:53] #5223 closed

[2022-10-28 10:16] milospuac opened #5260 "[CAL-276] Changing the time zone on the booking page shifts to wrong date"
[https://app.birdeatsbug.com/sessions/kVsA1IF7MBAGItYt7ruRzhCFCW_6ijkJ0vcmd_SwJV3k](https://app.birdeatsbug.com/sessions/kVsA1IF7MBAGItYt7ruRzhCFCW_6ijkJ0vcmd_SwJV3k)

[2022-10-28 10:29] MuriloAmarals commented on #5260
Hey @milospuac this bis bug is no ocurring
https://www.loom.com/share/4f720e17c510474fbb2c970e09f1084f

[2022-10-28 10:31] MuriloAmarals commented on #5260
I also tested with closer time zones.

[2022-10-28 10:34] milospuac commented on #5260
@MuriloAmarals thanks for looking into it. Are you by any chance self-hosting?

[2022-10-28 10:42] milospuac commented on #5260
@MuriloAmarals Tested it a bit more and it looks like it's only happening after I switch to the time zone that is at least one hour ahead of me.  So it's working for every time zone in GMT -X but as soon as I switch from GMT+2 to GMT +3-4-5 etc, it shows the wrong date.

[2022-10-28 10:56] MuriloAmarals commented on #5260
https://www.loom.com/share/4bc0956584d0489a9ac620ca8369cf70

[2022-10-28 10:57] MuriloAmarals commented on #5260
bizarre bug, only happens when you move ahead.

[2022-10-28 10:58] gGh00sTt commented on #4506
@PeerRich , any updates regarding this issue and its validity?

[2022-10-28 11:11] emrysal opened #5262 "[CAL-277] Setting up 2FA does not toggle to "enabled" until page is refreshed."
Expected behaviour is that 2FA is toggled enabled as soon as you finish setting up with the Authenticator app.

[2022-10-28 11:57] mb8z opened #5263 "[CAL-3032] Allow other payment method types"
### Is your proposal related to a problem?

We're trying to use `cal.com` in Poland, where payment cards are very unpopular. Most of the payment is being done via `Przelewy24` or `BLIK`, both of which Stripe has support for (even inside their `Checkout` page

(Write your answer here.)

### Describe the solution you'd like

I'd love cal.com to just see what payment methods are used in the connected

[2022-10-28 14:53] antoniolocandro opened #5264 "[CAL-278] MS Edge browser doesn't show correctly the information for months but other browser do"
I open my calendar in MS Edge and this is what is showing up

![](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/996c2c89-7876-4c33-b8e4-57af19aa6c73/e82a2ebd-1b01-4179-adb3-eaece47677ca)

If I open with Opera it works fine

![](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/638bd760-6c14-47e3-8a61-d53360e23916/8e32fb77-6801-4fdf-a189-a8043d9227ea)

[2022-10-28 14:59] newz666 commented on #5230
I still think that's a bug. It's displaying the wrong data at the creation, but it's getting fixed on it's own after 15 minutes. Can we please take a look at it one more time?

[2022-10-28 15:53] emrysal commented on #5260
@MuriloAmarals - fixed in attached PR - thank you for being observant. Bit of an explanation to why it was happening too in the PR.

[2022-10-28 16:59] Udit-takkar commented on #5213
@harshsinghatz  yes. the avatar seem to block updating profile.

[2022-10-28 19:13] #5260 closed

[2022-10-28 19:19] PeerRich commented on #4506
I believe its fixed

[2022-10-28 19:19] #4506 closed

[2022-10-28 19:23] harshsinghatz commented on #5213
Is it fixed? because rn it works fine on prod

[2022-10-28 19:24] harshsinghatz commented on #5257
@PeerRich can you give more info on this?

[2022-10-28 19:43] newz666 opened #5267 "It creates an event on top of another event"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

I create a one time regular event. Then I selected a recurring event-type and I was able to book on top of the already booked time.

### Steps to Reproduce

1. Select a time slot in a single session event-type.
2. Select a recurring event type, and select the same time as on previous step
3. Two events are being created on the

[2022-10-28 19:49] 3699n opened #5268 "Even when Weekly Limit is reached, week is still shown as available"
### Issue Summary

- I set my Event Type to have a weekly booking limit of 5. Even when I have 5 sessions booked in a week, all the days in the week are still being show as available on my link. Only when the user then tries to book another sessions during that week do they receive an unclear error message.
- This does not seem to be a browser issue, as many of my clients have been reporting this

[2022-10-28 19:56] Udit-takkar commented on #5213
@harshsinghatz no try creating new account and the avatar won't load or try updating the image in /settings.

[2022-10-28 20:02] harshsinghatz commented on #5213
Ok let me check

[2022-10-28 20:05] om-ray commented on #5226
I agree, I think a new field, possibly by the name of "In-person (Attendee's location)"

[2022-10-28 21:46] newz666 opened #5270 "User located on EST impersonating a cal user on PT time booking outside the available time"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

User located on EST impersonating a cal user on PT time booking outside the available time
### Steps to Reproduce

1. A user on EST impersonated a cal host on PT time
2. The cal host availability for the day was 9 am 5 pm PT
3. The user that impersonated the user created a booking (user the impersonated is located in EST) for 4

[2022-10-28 21:53] newz666 opened #5271 "[CAL-292] Displays the wrong availability"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Accessed a user's event link who's situated in PST. I am located in EST. It displayed the wrong availability

### Steps to Reproduce

1. Clicked on the event link of a user who is in Pacific Time
2. It was displayed the user is available starting at 11am EST (which is 8am PT), but the user availability start at 9am PT / 12 EST/

[2022-10-28 21:58] newz666 opened #5272 "[CAL-294] In the availability the Working Hours are being displayed in standard time and below they are displayed in military time"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

In the availability the Working Hours are being displayed in standard time and below they are displayed in military time

### Steps to Reproduce

1. After a user located in EST impersonated a user in PT, the availability Working Hours were displayed in standard time as set before, while below they switched to Military time

![]

[2022-10-29 01:03] brianclements opened #5273 "Confirming & Canceling Recurring Appointments Fails to Sync to Google Calendar on All But First Occurrence"
### Issue Summary

Using "Confirm all" and "Cancel All" buttons for recurring events only synchronizes the first instance of that event to google calendar.

### Steps to Reproduce

1. Book a recurring appointment that needs confirmation
2. Confirm using the "Confirm All" button in the "Bookings" section
3. Check that all appointments in the "Bookings" section are there as expected
4. Go to synced

[2022-10-29 03:54] harshsinghatz commented on #5213
@Udit-takkar  Yeah, i did see and it's working unexpectedly

1. For a new user, avatar doesn't show
![image](https://user-images.githubusercontent.com/51085015/198812512-9430452d-36de-499f-9c99-8a4c347317af.png)
but changing imgSrc from "https://app.cal.com/hello-world/avatar.png" to "https://cal.com/hello-world/avatar.png" works for some reason

2. I don't know if this just from my end but in mai

[2022-10-29 05:50] lawweiliang opened #5274 "[CAL-285] Custom Workflow Become Empty after save."
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Type something over custom workflow, then clicked save, Then, all the data that you enter are gone.

![](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/951098df-02a2-453a-bd8a-ffdf21b95219/6e99c912-9fdd-45d0-b352-0ee35075af9e)

### Steps to Reproduce

1. Add data over custom message
2. Clicked Save

[2022-10-29 07:51] Udit-takkar commented on #5213
2. yeah the trpc request is not returning any result in the main branch. i don't understand why is it happening. maybe due to trpc v10

[2022-10-29 08:24] harshsinghatz commented on #5213
Can you compare the main branch with the production?

[2022-10-29 13:59] hariombalhara commented on #5213
@harshsinghatz Wrt your point-1. This seems like a cloudflare caching issue with `cal.com` only. With `app.cal.com `it works fine.
See [this](https://www.loom.com/share/c631a2f0e0804cb2a8fac6ce0dfd0cf0) loom that clearly shows the issue. @baileypumfleet maybe Cloudflare needs some tweaking?

Wrt Point-2, the issue seems to be happening due to middleware. Deleting the middleware.ts file solves the

[2022-10-29 14:07] harshsinghatz commented on #5213
@hariombalhara It seems both the domains have caching issues because earlier I saw problems with both the domains

Can you point out exactly what issue is middleware causing, is it like an infinite loop of redirects?
And also if we are sending the default image trpc endpoint responds, so is there any particular problem with the format of data?

[2022-10-29 14:08] hariombalhara commented on #5213
Middleware is simply not forwarding the request to next.js endpoint. It seems to be doing some processing of own and it's stuck there.

[2022-10-29 14:13] hariombalhara commented on #5213
Okay, so it's a known Next.js bug. People are reporting it.
https://github.com/vercel/next.js/issues/39593
https://github.com/vercel/next.js/issues/39262

[2022-10-29 14:51] aspiers commented on #3810
I have discovered that one of cal.com's competitors, reclaim.ai, already offers more or less this functionality:

https://reclaim.ai/features/calendar-sync

To understand it in detail, read the #1 section near the top of https://reclaim.ai/blog/10-google-calendar-issues-you-didnt-know-you-had

[2022-10-29 14:54] harshsinghatz commented on #5213
That makes sense because after encryption the avatar data is around 225KB.
Should we prompt for some less bulky hashing technique?

But this issue wasn't present before, so an RCA would be needed for this (as this issue is only on main)

[2022-10-29 15:56] PeerRich opened #5275 "[CAL-279] avatar upload flaky — not always working"

[2022-10-29 16:06] PeerRich opened #5276 "[CAL-280] mobile booking: selecting a day does not scroll first time"
we have an onclick scroll but there is nothing to scroll into when the time DOM is not visible yet

maybe add a delay?

[2022-10-29 16:59] PeerRich opened #5277 "[CAL-281] 10 seconds load time for availability"
FWIW I'm having a similar issue using the embed on my wordpress site I'm creating. Response times for [https://app.cal.com/api/trpc/viewer.public.slots.getSchedule?batch=1&input=%7B%220\[…\]999Z%22%2C%22timeZone%22%3A%22America%2FLos_Angeles%22%7D%7D%7D](https://app.cal.com/api/trpc/viewer.public.slots.getSchedule?batch=1&input=%7B%220%22%3A%7B%22json%22%3A%7B%22eventTypeId%22%3A86558%2C%22eventTy

[2022-10-29 17:53] Toledodev commented on #5255
Hey @Udit-takkar please check [this video](https://www.loom.com/share/07a74f8cdc604184aa90166a549a2ddf), I think this bug is not happening anymore

[2022-10-29 18:46] Udit-takkar commented on #5255
ok let me try again on prod

[2022-10-29 19:00] Udit-takkar commented on #5213
@hariombalhara  i am not sure if size is the issue here because i tried uploading avatar on prod and it worked fine and it returned a success response but when i tried uploading the same image on dev , the request did not return any response.

[2022-10-29 19:07] Udit-takkar commented on #5213
discussion on similar topic here https://github.com/calcom/cal.com/discussions/5164

[2022-10-29 19:10] Udit-takkar commented on #5213
now i think the avatar picture loading problem is fixed somehow. just tried creating new account and it seem to work fine.

<img width="227" alt="Screenshot 2022-10-30 at 12 40 00 AM" src="https://user-images.githubusercontent.com/53316345/198848794-fe94fd6e-67a7-44b6-bc57-7fc171fc2a92.png">

[2022-10-29 19:19] Udit-takkar commented on #5041
This has been fixed [https://github.com/calcom/cal.com/pull/5098](https://github.com/calcom/cal.com/pull/5098)

[2022-10-29 19:19] #5041 closed

[2022-10-29 19:23] Udit-takkar commented on #4919
This has been fixed [https://www.opengraph.xyz/url/https%3A%2F%2Fapp.cal.com%2Fapps](https://www.opengraph.xyz/url/https%3A%2F%2Fapp.cal.com%2Fapps) and sometimes it doesn't load because it is accessing browser cache. try adding a query param and the social card would load completely fine on twitter.

[2022-10-29 19:28] Udit-takkar commented on #5058
i think this has been fixed here https://github.com/calcom/cal.com/pull/5160 . i have removed password requirement when updating profile with identity provider.

[2022-10-29 19:33] Udit-takkar commented on #5257
@matheusmuniz03 @harshsinghatz  here https://calendso.slack.com/archives/C01NXDSRY9W/p1661206658357059?thread_ts=1661168659.369119&cid=C01NXDSRY9W it's reported from slack

[2022-10-29 19:33] Udit-takkar commented on #5257
just check once if it has been fixed or not

[2022-10-29 21:20] Udit-takkar commented on #5255
https://user-images.githubusercontent.com/53316345/198852742-40f1a2d4-1751-4050-ac60-8d82e1f848af.mov

idk still not working on latest main for me

[2022-10-29 21:32] #5177 closed

[2022-10-30 13:51] harshsinghatz commented on #5274
Is this still an issue because it works fine on my end!

[2022-10-30 17:19] rksingh2001 commented on #4342
Hey, Can I take up this issue?

[2022-10-30 19:22] emrysal commented on #5255
Confirmed here as well @Udit-takkar - this is an issue on main and has not made it into SaaS production yet.

[2022-10-30 19:26] emrysal opened #5278 "[CAL-282] Colleague profile picture shown on booking page"
All of my colleagues have my profile picture included in their link. This is getting messy. In their profiles they have their own pictures; it’s just their booking links.

[2022-10-30 20:22] philippdormann opened #5280 "[CAL-283] broken kbar links"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

multiple kbar links are currently broken

### Steps to Reproduce

1. open kbar
2. Click on `API Keys`
3. land on a broken page, not even a 404

(should load `https://app.cal.com/settings/developer/api-keys`, actually links to `https://app.cal.com/settings/developer`)

[2022-10-30 20:31] PeerRich commented on #4919
try posting this on twitter tho

[2022-10-30 20:31] #5278 closed

[2022-10-30 20:32] PeerRich commented on #4919
![CleanShot 2022-10-30 at 20.32.01@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/9774553d-c2b9-43dd-b690-3e92b6977c7f/9839bf56-3a64-4df7-982f-1536117c26e8)

not working

[2022-10-30 20:39] PeerRich commented on #5280
@alishaz-polymath this wasnt moved in the v2 migration

[2022-10-30 20:39] #5058 closed

[2022-10-30 20:40] PeerRich commented on #5273
@leog

[2022-10-30 20:40] Udit-takkar commented on #4919
@PeerRich the title and description are loading fine. wasn't this the issue ?
and this https://cal.com/og-image.png social card image seem to be deleted .

[2022-10-30 20:40] PeerRich opened #5281 "[CAL-284] Unable to upload Avatar on Self-Hosted"
### Discussed in [https://github.com/calcom/cal.com/discussions/5164](https://github.com/calcom/cal.com/discussions/5164)

<div type='discussions-op-text'>

<sup>Originally posted by **Javihache** October 21, 2022</sup>
Hi guys,

deployed on 500GB free disk space VPS running Ubuntu 22.04. Everything seems to work fine, but I am unable to upload Avatars. I upload it, when I click update on the user

[2022-10-30 20:41] PeerRich commented on #5226
I like that.

wanna open a PR?

first a PR without address validation

[2022-10-30 20:43] PeerRich commented on #4342
yes please @rksingh2001

[2022-10-30 20:43] PeerRich commented on #5271
do you have a video?

[2022-10-30 20:44] PeerRich commented on #3810
Interesting! tho i dont think reclaim is a competitor, this seems quite useful

[2022-10-30 20:44] PeerRich commented on #5274
@CarinaWolli can you test?

[2022-10-30 20:46] om-ray commented on #5226
@PeerRich yes ill make one as soon as i finish

[2022-10-30 20:51] PeerRich commented on #4919
oh ok yeah title and description are ok, og-image is not loading correctly. we can close this and open another ticket for @jeroen who worked on og-image

[2022-10-30 20:51] #4919 closed

[2022-10-30 22:11] om-ray commented on #5226
@PeerRich @J4VMC @mattsmallman Please review the PR 🙏🏾

[2022-10-30 23:39] newz666 commented on #5271
@PeerRich please see the recording bellow.

[Screencast from 10-30-2022 07:32:20 PM.webm](https://user-images.githubusercontent.com/74431325/198907553-ac9e3c98-9dcc-4e87-968c-2098b487952c.webm)

[2022-10-30 23:54] felurx commented on #3457
Hey there! :)
I don't know if I'm confusing things here, but: Will it be possible to add public CalDav links (that don't need authentication) in the future?

For example, on Nextcloud, I can generate a public link like [this one](https://nextcloud.emendoko.de/remote.php/dav/public-calendars/aoBYwkReJMLaWKfx?export). In Thunderbird, I can then add the calendar / subscribe to it by activating a chec

[2022-10-31 00:34] aspiers commented on #3810
@PeerRich Glad you found it interesting and useful!

TBH I'm quite surprised you don't see reclaim.ai as a competitor.  A key feature of both products (I'd argue the most important one) is allowing Alice to _safely_ book a time slot with Bob even when Bob's commitments are spread across multiple calendars (e.g. personal and work), some or all of which Alice doesn't have access to.

**As much as I