[2022-10-31 00:46] aspiers commented on #3810
One new learning from https://reclaim.ai/blog/10-google-calendar-issues-you-didnt-know-you-had is that unfortunately the solution I originally proposed above probably won't work:

This is because importing a free/busy ICS feed as a secondary calendar won't affect the availability Google reports for me:

![image](https://user-images.githubusercontent.com/100738/198910376-f371f115-d080-46ac-a052-671

[2022-10-31 01:26] newz666 commented on #5267
[Screencast from 10-30-2022 09:22:57 PM.webm](https://user-images.githubusercontent.com/74431325/198913345-7430a65d-f580-4829-849a-d30b4c4e7298.webm)

[2022-10-31 02:02] newz666 commented on #5267
We went to Settings -> Calendar -> toggled on Person , which fixed the issue
![Screenshot from 2022-10-30 21-33-25](https://user-images.githubusercontent.com/74431325/198916228-623ce58a-bcfc-4da6-9409-23177840d135.png)

[2022-10-31 02:11] melissamarvin commented on #5272
User did not set clock to 24 hours.

I did however, and this is the bug I see.  The upper times under working hours are in 12 hour and the start and end times of the day are in 24.

![2022-10-30_20-54-44](https://user-images.githubusercontent.com/117048096/198917108-8985957a-fd28-442b-a788-3ffbd747ee2a.png)

[2022-10-31 02:13] melissamarvin commented on #5272
We may have two issues, unsure.  The first is that the clock is getting changed after an impersonation; the 2nd is the mix of time stamps on the page.  If these are two bugs, they need to be separated.  Thoughts?

[2022-10-31 08:02] JeroenReumkens commented on #4919
The issue was that we have a robots.txt disallowing access to anything behind /api. That indeed caused twitter to not load these images. I've created a PR for that this morning 😄 [https://github.com/calcom/cal.com/pull/5283](https://github.com/calcom/cal.com/pull/5283)

[2022-10-31 08:24] Udit-takkar commented on #5281
similar https://github.com/calcom/cal.com/issues/5275

[2022-10-31 08:49] CarinaWolli commented on #5274
It also works fine for me. I tested it in production and locally

[2022-10-31 08:57] sean-brydon commented on #5167
For sure - if its in DS on figma could you create an issue and pass it over?

[2022-10-31 11:23] Jaibles opened #5287 "[CAL-287] Create top banner component"
[Top banner - ❖ Cal DS (Figma)](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS?node-id=21311%3A144646)

[2022-10-31 12:01] lawweiliang commented on #5274
Hi Everyone, thanks for all your fast response.
This weekend I take sometime to record a youtube video on the problem and send it to your.

Put this problem on-hold first yeah.

[2022-10-31 12:13] #5255 closed

[2022-10-31 12:23] mischarouleaux commented on #5053
Hi Everyone! @zomars @PeerRich @CarinaWolli

I'm a friend of @JeroenReumkens and he introduced me to your awesome platform! So I wanted to help you guys a bit out!

I think I have a solution for part of this issue. I have rewritten the code to work with an UID of a booking in the query.
So I haven't migrated it from SSR to SSG.
This should resolve the security issues with this page. As I was able

[2022-10-31 12:37] AmjadTotalPresent commented on #2221
@hariombalhara Hi, will this work in React Native too?

[2022-10-31 12:49] MuriloAmarals commented on #5245
Hey @CarinaWolli Friday I tried to solve the toast problem when saving changes to Additional Input, but no success. I have doubts if it is possible. Do you have any suggestions or can I send the PR just with the new design that is already ready (photo I sent above)?

[2022-10-31 12:57] hariombalhara commented on #2221
No. It isn't supported there. This is native JS events.

[2022-10-31 13:03] Udit-takkar commented on #5267
@newz666 yes the toggle prevents double bookings.

[2022-10-31 13:03] #5267 closed

[2022-10-31 13:25] BogDAAAMN commented on #3816
Is this fixed in #3817?

[2022-10-31 13:56] melissamarvin commented on #5271
1. set your own user to some timezone.  I set mine to CST
2. click settings
3. click impersonate under admin
4. choose a person in a different timezone.  I used Octavian B.  He was set to EST
5. click bookings
6. click one of the appointments
7. click reschedule

Notice the event has Pacific selected.  If you modify to the timezone the person is actually in, the time slots available don't modify t

[2022-10-31 13:58] melissamarvin commented on #5270
This one seems like it's the same bug as https://github.com/calcom/cal.com/issues/5271

[2022-10-31 14:05] milospuac commented on #5213
Customers keep reporting this one today @udit

[2022-10-31 14:18] Udit-takkar commented on #5213
yeah no idea what's the issue here.

[2022-10-31 14:32] Thiagomn1 commented on #5262
Hey @emrysal i tried reproducing this issue but it seems to be working as expected already, check out this loom:
https://www.loom.com/share/0986e1e468a9453cba067915835be3a9

[2022-10-31 14:33] PeerRich commented on #5287
nice!

[2022-10-31 14:41] PeerRich commented on #5280
@Udit-takkar you could also pick this

[2022-10-31 15:14] Udit-takkar commented on #5280
@PeerRich  👍

[2022-10-31 15:27] melissamarvin opened #5294 "When rescheduling an event, the selected time displays 1 hour earlier."
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When rescheduling an event, the selected time displays 1 hour earlier.  As an example, if you had a meeting at 1 pm, rescheduled it for 8 am, it will display as 7am in the reschedule view and the bookings view.

### Steps to Reproduce
0. setup a recurring set of events.  I'm not sure if they have to be recurring; this is what I

[2022-10-31 15:37] #5294 closed

[2022-10-31 15:47] melissamarvin commented on #5232
Was this one also fixed by toggling on Personal in Calendar?

[2022-10-31 15:56] hariombalhara opened #5297 "[CAL-291] Username issue"
Created via Threads. See full discussion: [https://threads.com/messages/3ac5f762-2e64-4651-afa9-375ad13192ae?messageID=23d2c08d-ef47-4519-971b-b711aae3d1fd](https://threads.com/messages/3ac5f762-2e64-4651-afa9-375ad13192ae?messageID=23d2c08d-ef47-4519-971b-b711aae3d1fd)

[2022-10-31 16:52] milospuac opened #5300 "[CAL-290] Change the currency of your event type payments within cal.com app"
Currently, there is no UI that does this, so whatever currency is set up in your Stripe account that's the only one that shows when setting up payments.

Created via Threads. See full discussion: [https://threads.com/34432122809](https://threads.com/34432122809)

[2022-10-31 16:54] PeerRich commented on #5271
@emrysal can you give this a look?

[2022-10-31 16:58] melissamarvin commented on #5230
Looks like it's still listing it in the tool tip in recurring, but the event is removed if you look in bookings --> upcoming.

https://user-images.githubusercontent.com/117048096/199064882-7e3190a5-df2c-4da8-9b7e-020fd9003634.mp4

[2022-10-31 17:02] PeerRich commented on #5213
@leog @alannnc @hariombalhara  can you look and help?

[2022-10-31 17:05] hariombalhara commented on #5213
Opened a PR to fix it. Found the root cause for the issue.
https://github.com/calcom/cal.com/pull/5299/files

[2022-10-31 17:11] Toledodev commented on #4505
I think this has already been fixed [loom](https://www.loom.com/share/b0edde6090804c8ebd55f0a93d819e65)

[2022-10-31 17:16] PeerRich opened #5301 "[CAL-293] remove dropdown from booking page"
[https://www.loom.com/share/58fcf7916e034867942352fd1bf5e266](https://www.loom.com/share/58fcf7916e034867942352fd1bf5e266)

[2022-10-31 17:17] CarinaWolli commented on #5274
@lawweiliang Did you experience this in production or locally? I did some more tests and in production everything still works as expected, but I had some weird behavior locally that I can not reproduce in production

[2022-10-31 17:19] Toledodev commented on #4365
I think this has been resolved: [loom](https://www.loom.com/share/c66e3e60aa404958a27294f91123e805)

[2022-10-31 17:21] PeerRich commented on #5297
@alex

[2022-10-31 17:47] PeerRich commented on #5230
@leog

[2022-10-31 18:13] #5281 closed

[2022-10-31 18:13] #4365 closed

[2022-10-31 18:18] leog commented on #5230
Will be fixed by #5253

[2022-10-31 18:25] PeerRich commented on #5053
@mischarouleaux great to have you!

[2022-10-31 18:25] PeerRich commented on #5272
yeah please edit this issue and open a new one 🙏

[2022-10-31 18:29] PeerRich commented on #3810
hey @aspiers i'm sorry to hear your team is struggling with this very specific issue. hearing this the first time.

calendar syncs are not *really* on our roadmap yet, see all the issues you outlined above. but if anyone wants to focus on this we are happy to accept PRs

[2022-10-31 18:30] #3816 closed

[2022-10-31 18:30] Toledodev commented on #5301
Hey @PeerRich, can I do this?

[2022-10-31 18:34] sradu opened #5305 "Embed crashes if a previous booking has been made."
Using the react embed I book a meeting. I refresh the page and click 'book a meeting' again. I would expect for it to tell me that I have already have a booking.

Instead it allows to me to go through the flow and at a certain points returns this.

<img width="1536" alt="Screen Shot 2022-10-31 at 11 29 56 AM" src="https://user-images.githubusercontent.com/82214/199083485-92ca0286-d03d-4999-9a16-90

[2022-10-31 18:34] PeerRich commented on #5301
@Toledodev of course go for it! make sure to keep the design similar :)

[2022-10-31 18:38] MuriloAmarals commented on #5245
@CarinaWolli What do you think about changing the name of the issue to just the css of the Additional Input and then, if possible, open another issue for the toast?

[2022-10-31 18:52] PeerRich commented on #5226
will do

[2022-10-31 18:54] #5280 closed

[2022-10-31 18:55] rene-mueller commented on #5235
@devkiran any Updates?

[2022-10-31 19:04] PeerRich commented on #5270
duplicate

[2022-10-31 19:04] #5270 closed

[2022-10-31 21:04] melissamarvin opened #5307 "In availability page, times are shown in both 12 and 24 hour clock when 24 is set in general settings"
![198917108-8985957a-fd28-442b-a788-3ffbd747ee2a](https://user-images.githubusercontent.com/117048096/199110604-fa6754c8-f721-4e68-abf7-a7b288a5dc4e.png)
Found a bug? Please fill out the sections below. 👍

### Issue Summary

In availability page, times are shown in both 12 and 24 hour clock when 24 is set in general settings

### Steps to Reproduce
0. set up availability so you have hours to view

[2022-10-31 21:54] Toledodev commented on #5301
Hey @PeerRich, I'm thinking about some topics:
1. I think it would be better to show the timezone in dropdwon (like "America/Sao_Paulo") instead of the whole label
2.We could reduce the font to make the options less "tight"

[Loom Video](https://www.loom.com/share/2029fea074bd47deb25407254e07add7)

If you have any more ideas I'll be happy to do it 👍

[2022-10-31 22:06] PeerRich commented on #5272
@Udit-takkar @JeroenReumkens wanna look into tis?

[2022-10-31 23:07] #5297 closed

[2022-10-31 23:11] PeerRich commented on #5301
couple things:
- the dropdown has to be bigger, its too narrow
- the select input (the trigger) has to look like the previous one, no border, etc.

[2022-10-31 23:11] PeerRich commented on #5235
@deepakprabhakara @devkiran @zomars

[2022-10-31 23:18] PeerRich opened #5308 "[CAL-295] reorder fails"
[https://www.loom.com/share/35ef84cc72b2499a8f3be92baa9b625f](https://www.loom.com/share/35ef84cc72b2499a8f3be92baa9b625f)

Created via Threads. See full discussion: [https://threads.com/34432217390](https://threads.com/34432217390)

[2022-10-31 23:21] PeerRich commented on #5235
wait, i think its right to do under security, no?

[2022-10-31 23:26] PeerRich commented on #5308
@alex test

[2022-11-01 01:31] lawweiliang commented on #5274
@CarinaWolli
I experience this in production. I try to customize the message for re-schedule workflow. When I type in the message and clicked save button. All my message gone, that why I open this issue.

Another difficulty that I found when I create the custom message is I don't know what global variable name I can use.
I do look around the documentation, could not find a clear list for that. I m

[2022-11-01 03:39] lawweiliang commented on #5274
Hi @CarinaWolli ,
Here is the video that demo the problems. Feel free to take a look.
https://www.youtube.com/watch?v=EDlTVzx5BA4

Hope it's help. 😄

[2022-11-01 04:33] G3root commented on #5244
hey @PeerRich , i'd like to take on this issue

[2022-11-01 05:38] alishaz-polymath opened #5309 "[CAL-296] iCalendar timezone is off (doubles) CalDAV"
iCalendar timezone is off and doubles for some people. This suggests that often (but apparently not always) the calendar object has the from/to time in the correct timezone, causing the timezone update to be an extra one.

[2022-11-01 05:45] lawweiliang opened #5310 "Confirmation Email did not provide any google meet Link"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

System did not automatically generate an google meet link.

![image](https://user-images.githubusercontent.com/34936929/199166907-158f18b1-295e-42b5-a2f2-b20eebb2930e.png)

### Steps to Reproduce

1. After user booked an event.
2. User will received an confirmation email, inside that email, there is no location meeting link.

[2022-11-01 06:30] #5213 closed

[2022-11-01 07:48] devkiran commented on #5235
@rene-mueller As i mentioned above, please confirm the env variable is set for `process.env.HOSTED_CAL_FEATURES`. Please do a `console.log(process.env.HOSTED_CAL_FEATURES)` and see it has a value.

Instead you can update `export const HOSTED_CAL_FEATURES=1` https://github.com/calcom/cal.com/blob/b3ba89c074d5862887a204931f5fe16aa2bf936b/packages/lib/constants.ts#L25

[2022-11-01 07:49] CarinaWolli commented on #5245
@MuriloAmarals Just mention in the PR description, what exactly your PR fixes. So mentioned this issue and what it fixes of it and what not

[2022-11-01 07:50] devkiran commented on #5235
@PeerRich Yes, it is under the `Settings` > `Security` for self-hosted version.

[2022-11-01 07:57] dkgrieshammer opened #5312 "[CAL-643] Adding Exchange app fails - calendly works :/"
Adding exchange connector app fails with 401 on cal.com (free web version);
Also tried outlook connector and legacy exchange apps multiple times, don’t work either.
Adding the same exchange/credentials to Apple calendar, fantastical, (calendly just to test connector :) is working fine.

I realize that only cal.com requires full path of echange server asmx file, others just use owa.tld.com (guess t

[2022-11-01 09:01] Udit-takkar commented on #5272
sure

[2022-11-01 09:04] Udit-takkar commented on #5308
fixed on main https://github.com/calcom/cal.com/pull/5291

[2022-11-01 09:36] rksingh2001 commented on #2396
@alishaz-polymath How can I set it to true if I already have a clone setup?

[2022-11-01 10:15] milospuac commented on #5312
Hi there, thanks for flagging this. Our team will investigate the issue

[2022-11-01 10:16] milospuac commented on #5310
Hi @lawweiliang Do you have a google calendar connected to your cal.com account?

what is your cal.com username? I'd like to investigate this

[2022-11-01 10:32] Jaibles opened #5313 "[CAL-297] Settings not being saved"
[https://www.loom.com/share/41b653398888484cb47611a780319b15](https://www.loom.com/share/41b653398888484cb47611a780319b15)

[2022-11-01 10:59] Jaibles commented on #5082
Currently experiencing an issue where an already cancelled event is still on my calendar and it links to here:

![CleanShot 2022-11-01 at 10.59.16@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/662b71c7-80ba-4ca8-b98b-48b12e39f094/59c150ad-11be-496c-a896-e330975467e4)

This should be replaced by this:

[Cancelled - Cal - Live (Figma)](https://www.figma.com/file/xk4HOxtSI82

[2022-11-01 11:47] Jaibles opened #5315 "[CAL-298] Select component needs updating to 2.0"
This is still very much a v1 component.

![CleanShot 2022-11-01 at 11.46.47.gif](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/b01e79ac-a1b4-4c13-8ce3-fe8ef66921f7/9f3f41b1-b6da-49ca-97c8-090a3792b4bb)

[Dropdown Menu Brief - ❖ Cal DS (Figma)](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS?node-id=385%3A33491)

The border colour, radius doesn't match v2 design

[2022-11-01 11:56] Udit-takkar commented on #5313
https://user-images.githubusercontent.com/53316345/199227318-c8a3ae43-4460-4842-a445-ce33290072ef.mov

@Jaibles  not able to reproduce. tried on both main and prod.

[2022-11-01 12:31] JeroenReumkens opened #5317 "[CAL-299] Calendar dropdown has partial dark mode while it shouldn't"
[https://www.loom.com/share/ccefdf948db642ad8b692549a3304190](https://www.loom.com/share/ccefdf948db642ad8b692549a3304190)

[2022-11-01 12:36] PeerRich commented on #5213
@milospuac can you ask them to try again?

[2022-11-01 13:13] #5308 closed

[2022-11-01 13:34] sean-brydon commented on #5167
@joe are you needing this component now? I will create it in main if so - if not i will create it in our storybook-cleanup branch

[2022-11-01 13:42] Jaibles commented on #5315
I'll have to take another look but to me it looks like this component has v1 colours and border radius 🤔

[2022-11-01 13:45] joeauyeung commented on #5167
@sean-brydon, some stuff popped up, so I don't need it right now. But if you're creating it in storybook, then that's awesome!

[2022-11-01 13:46] PeerRich opened #5320 "[CAL-300] /event-types: advanced settings show "Default calendar()" and not the first entry"
![CleanShot 2022-11-01 at 13.45.20@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/44c09a89-ac6a-4e7d-86bf-b56e87a2068b/1dfec7e9-846c-439f-bee8-f151ebce52b6)

this should by default take the first calendar

(sorry for the potato quality, screengrabbed this from a loom)

[2022-11-01 13:46] PeerRich commented on #5317
also [CAL-300](https://linear.app/calcom/issue/CAL-300/event-types-advanced-settings-show-default-calendar-and-not-the-first) related. it should not say "Default Calendar ()"

[2022-11-01 13:59] #5307 closed

[2022-11-01 14:05] lawweiliang commented on #5310
@milospuac, my username is lawweiliang.

Thanks for taking your time to investigate this issue. Have a lovely day. 😄

[2022-11-01 14:09] lawweiliang commented on #5274
@PeerRich,

Would like to what standard did you use to re-name the issue? Why have to add [CAL-285] over the title?

Reason why I want to know is
Next time I use your standard to name the issue.

[2022-11-01 14:16] MatheusBeniniF commented on #5320
@PeerRich, how can I add this label? here it is like this
![image](https://user-images.githubusercontent.com/88898100/199254657-2ce87a03-f467-463b-9066-4415ff863bab.png)

[2022-11-01 14:18] lawweiliang commented on #5310
@milospuac

Let't get back one step and think a little bit. Why I need to connect google calendar first then only can use google meet.
It does not make sense right? What do you think?

You try to create an account over calendly and play around with that. Then, you will get some idea.

[2022-11-01 14:38] gGh00sTt commented on #5317
@PeerRich, I am unable to replicate the issue. Is it already fixed?

[2022-11-01 14:57] PeerRich commented on #5320
i think you need a google calendar first, no? @baileypumfleet

[2022-11-01 14:58] PeerRich commented on #5310
its a limitation by google. they only let you generate a google meet link if you have a google calendar connected

[2022-11-01 14:58] baileypumfleet commented on #5320
Yes, that's correct

[2022-11-01 15:16] lawweiliang commented on #5310
Today only I know about this, thanks for your clarification @PeerRich.

[2022-11-01 15:20] sean-brydon opened #5322 "[CAL-301] Remove slack from prod app"
Slack app is currently broken and needs removed from prod DB and seed.

[2022-11-01 16:00] Jaibles opened #5324 "[CAL-302] Installed Apps / Automation / Zapier - Zaps UI Issues"
Currently there's a few differences from the Figma designs including

* Designs use a background behind the Zaps
* There should be no border around the logos
* The **Use Zap** button should be on a new line

Current

![CleanShot 2022-11-01 at 15.57.51@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/e398b30c-140f-41d8-86e8-a35800f609ba/1a7a060f-44d0-42dd-928f-acaacfd5b531)

[2022-11-01 16:20] PeerRich commented on #5274
the title comes from our linear sync when we add the "linear" ticket

[2022-11-01 16:20] PeerRich commented on #5274
@CarinaWolli will look into it tomorrow, she is OOO today

[2022-11-01 16:40] Jaibles commented on #5324
@PeerRich I'd envisaged settings going in a modal more so than being displayed here.

Proposal:

![CleanShot 2022-11-01 at 16.39.12@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/70c181aa-fc02-4579-a8f4-322b0a47a8ed/a2a7df32-9bcd-4afe-993e-a08a3ede06c7)

Which apps currently have settings so I can check/test and see.

[2022-11-01 17:28] PeerRich commented on #5324
that makes sense

[2022-11-01 23:08] ryansun96 commented on #3457
CalDAV integration with Feishu (a Lark Suite equivalent in China) does not work - events on my Feishu calendar do not block off my availabilities on the booking page.

What's even more interesting is if I toggle **on** the switch for that CalDAV integration, events from my other native integrations (e.g. Google calendar) will **not** block off my availabilities. If I toggle CalDAV integration **of

[2022-11-02 03:57] om-ray commented on #5324
@PeerRich @Jaibles If you want this fixed, I'd love to work on this issue!

[2022-11-02 05:13] wei opened #5327 "[CAL-304] Booking Page Event Location Bad Link"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

On the booking page, Zoom Video contains a bad link in the href.

### Steps to Reproduce

1. Go to a booking page of an event set up with Zoom Video.
2. Observe that the href is "Zoom Video" which is not a valid link.

<img width="225" alt="image" src="[https://user-images.githubusercontent.com/5880908/199403607-81c13804-af82-4

[2022-11-02 08:43] Jaibles commented on #5324
Yes please @om-ray 🙏

[2022-11-02 09:08] mattsmallman commented on #5209
Any luck with this? - I had to move back to acuity but would love to come back.

[2022-11-02 09:56] alishaz-polymath commented on #3457
Hey @felurx this isn't currently on the roadmap, I'm afraid, as there hasn't been a request for it in the community yet. If we do get a sizeable request though, we can definitely line it up. 🙏

[2022-11-02 09:57] alishaz-polymath commented on #3457
We don't have Feishu in the roadmap yet, but I'll go ahead and just add it to the list. However, please note that we can't confirm how long it might take to get it integrated, as it isn't of high priority right now. 🙏

[2022-11-02 10:06] #5274 closed

[2022-11-02 11:17] #4993 closed

[2022-11-02 11:18] PeerRich commented on #5327
thank you! added to roadmap

[2022-11-02 11:21] jdaviescoates commented on #2988
It's Wednesday and I'm still having the same issue... hopefully that's just because the merge isn't live on Cal.com yet?

[2022-11-02 11:25] alishaz-polymath commented on #2988
Hey @jdaviescoates it was merged yesterday so you definitely shouldn't be seeing that issue now. Could you please retest and maybe share a loom video? 🙏

[2022-11-02 11:44] jdaviescoates commented on #2988
Worked when I tested again so I think it's all fine! Many thanks for your work on this!

[2022-11-02 12:14] alishaz-polymath commented on #2988
@jdaviescoates Amazing 😃
Thank you for the bug report. Please feel free to let me know if you face any other caldav related bugs at all 🙏

[2022-11-02 12:21] wei commented on #5327
Looks like there is a bug with SyncLinear the edits it made caused the screenshots I attached to break. 😅

<img width="659" alt="image" src="https://user-images.githubusercontent.com/5880908/199487955-d10a633c-9963-4ab2-adde-9dc77129dee5.png">

It converted

[code]

to

[code]

[2022-11-02 12:32] PeerRich commented on #5327
ah right, opened a ticket in synclinear github repo

[2022-11-02 12:51] emrysal opened #5331 "[CAL-305] Round robin assigns to unavailable host"
If a host is not available due to their working hour settings, round robin still includes it into the pool which can cause the event to be assigned to an unavailable round robin host.

[2022-11-02 12:56] alishaz-polymath commented on #4205
Fastmail is fixed and Infomaniac is not currently fully supported due to lack of requests. If anyone wishes for us to consider developing support for Infomaniac, please let us know below and upvote it 🙏🙂

[2022-11-02 13:10] emrysal opened #5333 "Use single schedule / default host schedules for team events."
Round robin and collective events should have a method to choose between a single schedule for availability or to use the default schedules for individual hosts.

Currently if you explicitly set the schedule it will take that to be the point of truth and there is no way to unset that.

[2022-11-02 13:44] Udit-takkar commented on #4885
Not able to reproduce this. It is working fine for me.

[2022-11-02 13:50] MatheusBeniniF commented on #5315
@Jaibles, updates on that?

[2022-11-02 14:55] om-ray commented on #5324
@Jaibles Great I'll start on it asap!

[2022-11-02 16:27] LoveIsGrief opened #5335 "Introduce availability override / Allow adding events manually"
### Is your proposal related to a problem?

I would like to make myself unvailable for just one time segment on a specific day.
Right now I have to visit my link and add a few events with fake emails. Especially for longer unavailability e.g half day, then that requires adding 8 events for the 30 sections.

This is also related to a bug where using another invite link e.g https://cal.com/somebody/

[2022-11-02 16:38] LoveIsGrief commented on #2342
This is still happening

1 hour booking link

![image](https://user-images.githubusercontent.com/2829538/199547921-5ef12281-2b15-471c-bfc2-ea5dac848b60.png)

Even though booking already exists

![image](https://user-images.githubusercontent.com/2829538/199548258-c792d2b8-6410-4340-a6f5-fd8e3295b282.png)

These two are in different availabilities, but does that mean that they are ending up in diffe

[2022-11-02 18:53] emrysal opened #5336 "[CAL-307] Google calendar connection sends cancellation emails as new seats are booked"
When a second seat is booked the first seat receives an email informing them of the event cancellation. This happens when the organizer has a google calendar connected.

This also leaks additional notes of the second seat as part of the cancellation email.

[2022-11-02 18:57] emrysal opened #5338 "[CAL-308] Success page always shows the additional notes of the first seat"
When booking the second (or more) seat of an event the additional notes of the first seat is shown, this happens also when **Hide notes in calendar** is selected and has the potential to leak confidential information of the first seat member.

[2022-11-02 19:02] emrysal opened #5339 "[CAL-309] Rescheduling shows emails of other attendees when they should be hidden."
When rescheduling to different events, I am able to see the emails of all other attendees, regardless of the **Share attendee information between guests** setting.

Desired behaviour: The emails of other guests should not be shown when rescheduling an event when the **Share attendee information between guests** setting isn't enabled.

[2022-11-02 19:09] emrysal opened #5340 "[CAL-310] As an attendee I can't manage a multi-seat booking through my email if someone joined after me."
I am unable to reschedule a multi-seat event as the attendee if other people joined after me.

Cancellation results in "This booking is already cancelled" & Rescheduling action returns a 404

[2022-11-02 19:10] #3732 closed

[2022-11-02 19:10] emrysal commented on #3732
This work was completed.

[2022-11-02 19:15] emrysal opened #5341 "[CAL-311] When using seats, other guests (name, email) are always listed on the success page"
Other guests should only be listed when "Share attendee information between guests" has been selected.

<img width="443" alt="image" src="https://user-images.githubusercontent.com/1046695/199581174-f26ae106-e2e9-429a-8395-0b8299727ec8.png">

[2022-11-02 20:20] kopfpolster commented on #5312
Hi! I have the same issue. calendly uses owa.tld.com and it works. Im Using Exchange 2016 Server.
Thank you for investigating.

[2022-11-02 22:00] philippdormann commented on #5280
cool, good job 🙌

[2022-11-03 00:21] MuriloAmarals commented on #5245
Hey @CarinaWolli I couldn't solve the problem with the toast and another one came up when I went to test the PR. Apparently when I edit an Additional Input it gives an error as in the video below, because to make the design you sent it was necessary to remove the placeholder input. I'll send a print of how it turned out with the placeholder input, what do you think?

https://www.loom.com/share/80f

[2022-11-03 00:22] MuriloAmarals commented on #5245
The design was like this, if you wish I can try to remove the existing placeholder input.
![image](https://user-images.githubusercontent.com/87545137/199626286-f51eeb58-5433-4bf3-806c-9d0c001661bf.png)

[2022-11-03 02:39] om-ray commented on #5341
@PeerRich If this is something you want fixed, I would love to work on this!

[2022-11-03 06:46] G3root commented on #5327
@PeerRich where should the link point out ?

[2022-11-03 08:24] CarinaWolli commented on #5245
@MuriloAmarals I think we can leave the placeholder input like it currently is

[2022-11-03 08:36] hariombalhara commented on #5257
THis isn't an embed related issue and is probably fixed a long time back already.

[2022-11-03 08:36] #5257 closed

[2022-11-03 08:57] rksingh2001 commented on #2396
I am still facing the same issue even after setting core.symlinks to true

[2022-11-03 09:06] harshsinghatz opened #5344 "[CAL-1711] Add: Default Timezone based on user location while in getting started steps"
### Is your proposal related to a problem?

(Write your answer here.)

![image](https://user-images.githubusercontent.com/51085015/199682009-4fe406e7-7167-4963-af64-5096623461dc.png)

### Describe the solution you'd like
1. User should be able to get timezone according to his location
2. Getting the geolocation and selecting appropriate dropdown options

<sub>[CAL-1711](https://linear.app/calcom/i

[2022-11-03 09:09] harshsinghatz commented on #5344
I would like to pick this task, if this is something we can apply @Jaibles

[2022-11-03 09:26] harshsinghatz opened #5346 "Add: notifications section to get all the user/team related notifications directly on the app"
### Is your proposal related to a problem?

(Write your answer here.)
For eg: if i am inviting anyone to the team, the person i am inviting to gets an email with the joining link. But we can make it an in-house experience by adding a notifications section that will contain all the notifications related to a user/team

### Describe the solution you'd like
1. We can use web sockets to get real time

[2022-11-03 09:30] harshsinghatz commented on #5346
I think this would be a big change and not an urgent one currently
I would love to work on this issue, can i pick this task with a longer deadline?
@Jaibles @PeerRich

[2022-11-03 09:54] shirazdole commented on #3732
Wooooooh!!

[2022-11-03 09:57] PeerRich commented on #5341
sure go for it @om-ray

[2022-11-03 10:24] MuriloAmarals commented on #5245
@CarinaWolli Ok!

[2022-11-03 12:28] #4885 closed

[2022-11-03 13:30] asm0dey opened #5351 "Incorrect .gitmodules"
### Issue Summary

`.gitmodules` leads to inexistent repositories. The same behavior can be observed from the GitHub UI itself: navigation to `apps/api` fails, for example

### Steps to Reproduce

Clone the https://github.com/calcom/cal.com with submodules

Cloning fails with info about repos inaccessible

[2022-11-03 13:58] PeerRich commented on #5327
I think we should have no link there at all. just remove the link

[2022-11-03 14:26] onecallcloser opened #5352 "Availability Override"
Currently can't override and block out my availability when last minute things pop up.

There should be an override feature like in calendly.

[2022-11-03 14:29] emrysal commented on #5341
@om-ray For added context there is a setting that should power this in the eventType->Advanced tab: **Share attendee information between guests**. If this setting is toggled it should show everyone's email in the success page, if not it shouldn't. 🙏

<img width="823" alt="image" src="https://user-images.githubusercontent.com/1046695/199747761-03aa9a9b-dcd1-467b-938e-d91473614c95.png">

[2022-11-03 14:40] #5111 closed

[2022-11-03 16:10] JKetelaar commented on #5351
Same issue here

[2022-11-03 16:18] PeerRich commented on #5351
@zomars

[2022-11-03 16:32] TPAteeq opened #5354 "Stripe Payment Integration and UPI"
I wanted to integrate stripe payments with my bookings but the payment only accepts cards, it would be great if it also accepted other popular methods such as net banking or UPI for India.

[2022-11-03 17:36] JKetelaar commented on #5351
It seems like you can pull the repo, ignore the submodules failing, and then run the build with `docker-compose build calcom` or `yarn dx`

[2022-11-03 19:24] om-ray commented on #5324
@Jaibles @PeerRich Please review the PR!

[2022-11-03 19:32] PeerRich commented on #5354
does Stripe offer UPI? for now we only offer Stripe,  but we can add more payment options.

it's been on my mind for a while, I also wanna offer Lightning Network payments

[2022-11-03 20:05] alannnc opened #5356 "[CAL-312] Calendar credential validator"
Design a system that frequently validates calendar credentials and alert users when something changed.

[2022-11-03 20:07] PeerRich opened #5357 "[CAL-313] linear test"

[2022-11-03 20:07] PeerRich opened #5358 "[CAL-313] linear test"

[2022-11-03 20:08] #5357 closed

[2022-11-03 20:08] #5358 closed

[2022-11-03 20:13] PeerRich commented on #5352
@emrysal is working on it and it should go live in the next 15 days

[2022-11-03 20:14] PeerRich commented on #5352
#4614

[2022-11-03 20:19] PeerRich commented on #727
@alishaz-polymath did we fix this?

[2022-11-03 20:45] PeerRich commented on #5351
yarn dx should fix this

[2022-11-03 20:46] PeerRich commented on #2396
@zomars

[2022-11-03 20:50] asm0dey commented on #5351
Folks, I'm sorry, but it's still broken even if docker doesn't care about it at all… I mean, you still have this file in your repo, and on GitHub I still can't navigate to some subdirs (that should be projects theoretically). It's your project, so of course, you are the ones who decide what's wrong and what's not, but the behavior is not fixed.

[2022-11-03 20:55] PeerRich commented on #5351
@zomars will look into this, thank you for reopening @asm0dey

[2022-11-03 21:02] zomars commented on #5351
Can you provide more context on the "incorrect behavior" you're experiencing?

Are the "submodule not found" errors blocking you in any way?

[2022-11-03 21:13] asm0dey commented on #5351
I don't think so. But if modules are not needed anymore - maybe they should
just be deleted?

This way recursive clone will work correctly and people won't need to dig
for this issue to understand that it doesn't need fixing

On Thu, 3 Nov 2022, 22:03 Omar López, ***@***.***> wrote:

[2022-11-03 23:24] oliveiraantoniocc opened #5360 "process.browser is deprecated and browser.utils.ts is duplicated"
`process.browser` is deprecated
There are two references in the repo.
<img width="349" alt="image" src="https://user-images.githubusercontent.com/411161/199853249-755a303e-0602-45c5-9dda-82102c350464.png">

https://github.com/calcom/cal.com/blob/436f88a48e0de81a0bcbd33a32c113bd093904d5/packages/lib/browser/browser.utils.ts#L10

[code]

it seems to be a duplication between browser.info.ts
<img widt

[2022-11-03 23:51] om-ray commented on #5341
@PeerRich Could you assign this issue to me?

[2022-11-04 00:02] alannnc commented on #5341
I'm already investigating other seats related bugs, if you beat me to this do let me know so I can review it. @om-ray

[2022-11-04 00:03] om-ray commented on #5341
@alannnc Sure! I'll let you know when I finish

[2022-11-04 00:10] alishaz-polymath commented on #727
@PeerRich yes, this isn't relevant now.

[2022-11-04 00:10] #727 closed

[2022-11-04 00:27] om-ray commented on #5341
@alannnc I've fixed the issue! It was just an extra `not` operator in the ternary!

[2022-11-04 00:42] emrysal opened #5362 "[CAL-315] Certain timeZone situations can cause daysInMonth = 1 🤯"
Viewing from America/New_York

Traced the cause to a bug report in Dayjs:
[https://github.com/iamkun/dayjs/issues/1272](https://github.com/iamkun/dayjs/issues/1272)

<img width="879" alt="image" src="https://user-images.githubusercontent.com/1046695/199860834-7344c299-aca8-4093-8b46-6c94707874bb.png">

[2022-11-04 04:43] #5341 closed

[2022-11-04 06:54] voyagermedical commented on #1878
@PeerRich this would be an awesome feature, its what's stopping our firm from migrating from youcanbookme to cal.com. The big issue with not having this feature when plugged into Stripe means that we cannot do automatic telehealth services as we get a lot of bookings however as very little have confirmed in time very little of them get paid...

[2022-11-04 08:27] milospuac opened #5367 "[CAL-316] Zoom link not generated in the confirmation"
It falls back to calvideo even after disconnecting and installing the zoom app again

![Screenshot 2022-11-04 at 09.16.24.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/6fa26b41-2795-42a7-8314-1d5693b37f61/292c007b-ffe7-4cd5-b46e-425ec2cb2410)

![Screenshot 2022-11-04 at 09.22.17.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/ec02a6de-686e-4996-bed2-e20c

[2022-11-04 08:48] harshsinghatz commented on #5346
@PeerRich should I work on this?

[2022-11-04 08:48] harshsinghatz commented on #5344
@PeerRich Can I implement this?

[2022-11-04 10:13] hariombalhara opened #5368 "[CAL-317] Confirmation Email - Footer text isn't properly formatted."
![Screenshot 2022-11-04 at 3.42.20 PM.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/51096f92-0940-442c-9714-7f0e080eb0eb/2002c76f-83e0-4a67-b6a3-c066d29d58a3)

Footer text isn't properly formatted.

[2022-11-04 10:36] Jaibles commented on #5344
Are we not doing this based on the browser already?

[2022-11-04 10:45] MatheusBeniniF commented on #5344
@Jaibles, I saw this issue and realized that the timezone of some users is auto-set when it is created, I made a change and now we always get the timezone directly from the browser with dayjs, do you want me to open PR?

[2022-11-04 10:52] harshsinghatz commented on #5344
@Jaibles Currently we give an option to the user to adjust the timezone according to their location but that only happens after the getting started step.
This issue is for adjusting the timezone while creating the step.

[2022-11-04 10:54] CarinaWolli commented on #5368
Looks fine for me 🤔
<img width="420" alt="Screenshot 2022-11-04 at 11 54 04" src="https://user-images.githubusercontent.com/30310907/199956183-9e05026e-c630-4298-bb2c-a01d63202b5b.png">

[2022-11-04 10:57] harshsinghatz commented on #5344
@MatheusBeniniF You're talking about the getting started step right?

[2022-11-04 10:58] hariombalhara commented on #5368
Forwarded you an email where it's wrong. Maybe you can compare the two?

[2022-11-04 10:58] MatheusBeniniF commented on #5344
@harshsinghatz yes

[2022-11-04 11:01] Jaibles commented on #5344
So to clarify, currently in the Getting Started step we are not getting the timezone directly from the browser... we need to make a change to make it so that we do?

[2022-11-04 11:02] rasos commented on #3457
@felurx seems to be requesting webcal, which does not require authentication, but is read only. So appointments can not be written there, it is only useful to check for conflicts. Some frameworks (like Drupal 7) offer that with a token to have some semi-privacy.  Indeed, webcal would simplify to check with conflicts in some other calendars, like holiday calendars.

[2022-11-04 11:02] harshsinghatz commented on #5344
@Jaibles yep thats right

[2022-11-04 11:03] MuriloAmarals commented on #5368
@hariombalhara @CarinaWolli I don't understand why you're seeing it like this, because I made the update of these buttons in the email, and I put space just for that.

![image](https://user-images.githubusercontent.com/87545137/199957780-37a3116e-88d0-487c-ade2-14e24df4be56.png)

This bug didn't show up to me.

[2022-11-04 11:04] harshsinghatz commented on #5344
@MatheusBeniniF has already done the changes, @Jaibles do you think this is something we should implement?

[2022-11-04 11:04] CarinaWolli commented on #5368
Just checked, for me it's only shown correctly in the Mail app (Mac), but in Gmail or other Email Providers it looks like @hariombalhara has reported it

[2022-11-04 11:16] Jaibles commented on #5344
I think getting the time directly from the browser in the Getting Started step is something we should implement, yes.

[2022-11-04 11:23] harshsinghatz commented on #5344
@Jaibles cool, @MatheusBeniniF you can create the PR!

[2022-11-04 11:32] Jaibles commented on #5346
I would like to first list what other things we can use notifications for and give this a bit more thought and likely design it first. Introducing notifications for 1 very occasional notification seems like potentially a big lift for a small win.

[2022-11-04 11:36] #5331 closed

[2022-11-04 11:36] niteshsingh1357 commented on #5344
Hey @Jaibles I believe this was previously implemented [here](https://github.com/calcom/cal.com/pull/3677), not sure why it got reverted

[2022-11-04 12:08] harshsinghatz commented on #5346
Yes, making the whole feature for only one use case seems like an over kill
Maybe we can take three or four use cases and then incrementally improve and keep adding more
Would love if you can provide the design and some other use cases as well

[2022-11-04 13:05] Jaibles commented on #5324
What I can see in your screenshot looks great.

[2022-11-04 13:38] MuriloAmarals commented on #5360
Hey @oliveiraantoniocc Which do you think should be deleted?

[2022-11-04 13:49] dschuermann opened #5373 "n8n trigger throws 404 error"
### Issue Summary

I was creating a n8n workflow and added the cal trigger. The credential connection says "Connection tested successfully" but the actual "listen for event" results in a 404 error as shown on the screenshot's bottom right corner.

### Technical details

![Screenshot_20221104_144844](https://user-images.githubusercontent.com/321888/199988209-cac5ab4e-bf2c-45ba-82b6-2c5bba6d1c54.png

[2022-11-04 14:09] oliveiraantoniocc commented on #5360
Good question, depends on how you guys are seeing this growing.
Considering the mono-repo nature, all generic utility functions should be shared accounts in more than one web app, that's how I used to work in huge repos +180 projects. In this sense, the curse of action must be cleaning up all folders under: `apps/web/lib/core` and moving towards `packages/lib`.
In near future, if the plans are to

[2022-11-04 14:50] GlitchWitch commented on #4529
@leog Same here, just text would be really helpful.

As an example, my event types all have a custom text fields for `Company`. Being able to include that where I currently include `{ATTENDEE}` would be huge!

[2022-11-04 14:59] #5271 closed

[2022-11-04 15:19] milospuac opened #5376 "[OPS-226] If Apple Calendar is the default destination, Google Meet URL will not show in the confirmation"
Tested this multiple times with the customer. They have Google Cal connected in order to use Google Meet.

With Apple calendar as the default destination

![Screenshot 2022-11-04 at 16.08.46.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/e2117c40-7e00-4107-8acd-679b28e2b8a0/df60990e-c96f-4f0d-aa92-b5fba7ef9bf7)

With Google Cal as destination

![Screenshot 2022-11-04 at 16.02

[2022-11-04 15:39] milospuac opened #5377 "[CAL-318] If Apple Calendar is the default destination, Google Meet URL will not show in the confirmation"
Tested this multiple times with the customer. They have Google Cal connected in order to use Google Meet.

With Apple calendar as the default destination

![Screenshot 2022-11-04 at 16.08.46.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/e2117c40-7e00-4107-8acd-679b28e2b8a0/df60990e-c96f-4f0d-aa92-b5fba7ef9bf7)

With Google Cal as destination

![Screenshot 2022-11-04 at 16.02

[2022-11-04 15:54] #5002 closed

[2022-11-04 16:43] #5231 closed

[2022-11-04 16:56] CarinaWolli commented on #5373
@alishaz-polymath I saw that we are calling the `/hooks` endpoint in n8n but I think this got renamed to [`/webhooks`](https://github.com/calcom/api/tree/main/pages/api/webhooks) in our API. Not sure if this has anything to do with it, I didn't have enough time yet to look into our n8n code in detail

[2022-11-04 18:12] gGh00sTt commented on #4443
Hello @Jaibles . I was trying to work on this issue. Can you see this implementation video and check if it matches the requirements?

https://www.loom.com/share/d6d35d527194413ca9f8a63979cce5e3

[2022-11-04 18:38] Udit-takkar commented on #5377
duplicate https://github.com/calcom/cal.com/issues/5376

[2022-11-04 18:48] Jaibles commented on #4443
@gGh00sTt this looks great thank you 🙏

[2022-11-04 19:12] jjromary commented on #5264
Hei @antoniolocandro This working for me

![image](https://user-images.githubusercontent.com/37199044/200056691-ddc13b30-7183-49bd-8ab2-614ff8c7648d.png)

[2022-11-04 19:40] zomars opened #5381 "[CAL-320] New install wizard: Add Apps admin UI"
Right now when running a fresh Cal instance it will trigger a prompt to create your first ADMIN user.

We need to add a second step to this Wizard so the newly created ADMIN user can enable/disable apps and manage their APP keys from here directly to the DB.

This will allow us to enhance the initial DX and UX for self-hosted users and also will allow us to remove the App Store Seeder altogether.

[2022-11-04 19:50] melissamarvin commented on #5272
Changing to the 24 hour clock on impersonation is still occurring.

[2022-11-04 19:57] melissamarvin opened #5382 "When clicking on the settings page loads a blank screen. When refreshing the page the information appears."
Found a bug? Please fill out the sections below. 👍

### Issue Summary

If you login and click settings the page is blank.  Once you reload, it shows.  Dev console log shows

### Steps to Reproduce

1. login to cal
2. click on settings

Notice the page is blank

### Technical details

Self Hosted, main branch

Console log shows these errors.

framework-a4238fd52304273f.js:1 TypeError: undefined is

[2022-11-04 20:07] melissamarvin opened #5383 "No padding on settings page"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

What it says on the tin.  The icons on the settings page have no padding on the left side.

### Steps to Reproduce

1. go to cal and login
2. Click on settings
3. refresh if bug 5382 is still unfixed

Notice the padding on the left side is missing.  The icons have no space between the edge and the icon.
![2022-11-04_15-07-14](h

[2022-11-04 20:17] melissamarvin opened #5384 "[CAL-322] When rescheduling or scheduling the latest time during blocks we get the message that no available users have been found."
Found a bug? Please fill out the sections below. 👍

### Issue Summary

If you select the last slot available to schedule with you get a message that no available users have been found.

### Steps to Reproduce

Pre condition:  setup a booking

1. login to cal
2. Click on bookings
3. click edit on the booking from the pre condition
4. click reschedule

[https://user-images.githubusercontent.com/1170

[2022-11-04 20:20] Udit-takkar commented on #5272
@melissamarvin ok, will also fix this

[2022-11-04 20:21] melissamarvin opened #5385 "[CAL-323] The recurring session scheduled midway (3 pm /Havana Time) rendered “Unexpected end of JSON input”"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Json error when trying to schedule a recurring session.

### Steps to Reproduce

Cannot schedule recurring events

1. have user 1 use a recurring event that already existed (unsure if this matters)
2. have user 1 send the recurring session to another user
3. have user 2 click the recurring event
4. have user 2 select a time and

[2022-11-04 20:24] Udit-takkar opened #5386 "[CAL-321] We have high volume booking and appointments get “stolen” during the booking process when a user is slow."
We have a form that users fill out during their booking flow.
1) choose appointment time
2) complete form
We are getting complaints that users submit the form to then receive an error message that the slot is no longer available.
We will work on changing the order of the flow but some users asked why the appointment times don’t get “held” like tickets at an event.

[https://calendso.slack.com/arch

[2022-11-04 20:27] emrysal commented on #5382
Fix is approved and should be merged within the next 15m

[2022-11-04 20:30] #5382 closed

[2022-11-04 20:55] MuriloAmarals commented on #5383
hey @melissamarvin Look what I got

![image](https://user-images.githubusercontent.com/87545137/200073135-c7242ff4-80cc-44d2-a918-6ea2aa7f3940.png)

[2022-11-04 21:23] PeerRich commented on #5264
@emrysal saw this earlier

[2022-11-04 21:23] PeerRich commented on #5264
should be fixed now

[2022-11-04 21:23] PeerRich commented on #5264
try again @antoniolocandro

[2022-11-04 21:25] PeerRich commented on #5386
interesting. classic "shopping cart" problem where people buy items before others. we'll need to block out dates once the person already selects it and then wait for 5 min until releasing it again if the person doesnt confirm it

[2022-11-04 21:29] PeerRich commented on #5383
looks good on my end

[2022-11-04 23:15] zomars commented on #2396
Can you provide more context @rksingh2001 what's your specific error?

[2022-11-04 23:20] zomars commented on #5351
Modules are needed for our private repos. It shouldn't affect users at all. Hence my question. Those modules DO exist but are mainly used by ourselves and enterprise customers. Hope this clear things up.

[2022-11-04 23:21] #5351 closed

[2022-11-05 00:04] alishaz-polymath commented on #2396
@rksingh2001 The only way I see in your case  is to re-save the .env file containing the symlink once it has been turned to true for the project you already have, with admin permissions. Otherwise, you'd need to reclone with the admin rights and with the command mentioned above. 🙏

[2022-11-05 02:13] om-ray commented on #5339
@PeerRich @emrysal This issue was fixed by PR #5361

[2022-11-05 02:56] Kfelts commented on #5354
Additionally, profession specific processors like Lawpay (Affinipay) would be a huge draw from the legal network. Since it handles IOLTA requirements for us, it avoids compliance issues that we face with Stripe and other non-compliant platforms.

[2022-11-05 04:44] om-ray commented on #5338
@emrysal @PeerRich I'd love to work on this!

[2022-11-05 05:15] asm0dey commented on #5351
Well, then instructions for docker build should be updated, I think.
Because they don't say it's a normal situation

On Sat, 5 Nov 2022, 00:21 Omar López, ***@***.***> wrote:

[2022-11-05 05:18] alannnc commented on #5338
@om-ray Sorry I forgot to assign myself but I already have something for this.

[2022-11-05 05:19] alannnc commented on #5338
You can help me review it @om-ray.

[2022-11-05 05:39] alannnc commented on #5339
You're right it's no longer happening.

[2022-11-05 05:39] #5339 closed

[2022-11-05 06:00] G3root commented on #5244
hi @PeerRich can you elaborate more on this. if the location query param exist, does it have to be the default value on the location input field or should post query param rather than location saved on the DB, while form submission ?

[2022-11-05 14:38] melissamarvin commented on #5385
Version, because I didn't know what it was when I wrote the case.   v.2.1.2

melissamarvin opened this issue 18 hours ago · 0 comments
Comments
@melissamarvin

Add heading textAdd bold text, <Ctrl+b>Add italic text, <Ctrl+i>
Add a quote, <Ctrl+Shift+.>Add code, <Ctrl+e>Add a link, <Ctrl+k>
Add a bulleted list, <Ctrl+Shift+8>Add a numbered list, <Ctrl+Shift+7>Add a task list, <Ctrl+Shift+l>
Directl

[2022-11-05 15:16] Kfelts opened #5393 "[CAL-324] When rejecting a booking request, it results in a confirmed appointment that requires cancellation"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

A summary of the issue. This needs to be a clear detailed-rich summary.

### Steps to Reproduce

1. When receiving a booking that requires approval, it shows up as normal in upcoming/unconfirmed bookings;
2. When clicking on "reject", it asks for a reason, but then in the lower right corner, it shows "booking confirmation succe

[2022-11-05 18:13] #5367 closed

[2022-11-05 18:43] emrysal commented on #5383
@PeerRich this could be a windows only issue - worth investigating. @alishaz-polymath could you check whether the padding gets lost on windows?

[2022-11-05 18:47] #5338 closed

[2022-11-05 18:53] alishaz-polymath commented on #5383
@emrysal Yep, I'll investigate 👍

[2022-11-05 18:58] #5336 closed

[2022-11-05 19:26] #5327 closed

[2022-11-05 20:10] #5226 closed

[2022-11-06 12:16] alishaz-polymath opened #9124 "[CAL-1776] Path in swagger is wrong for deleting team"
https://github.com/calcom/api/blob/main/pages/api/teams/%5BteamId%5D/_delete.ts#L10

The swagger path for team deletion seems wrong and needs to be updated to match the API endpoint

<sub>[CAL-1776](https://linear.app/calcom/issue/CAL-1776/path-in-swagger-is-wrong-for-deleting-team)</sub>

[2022-11-06 15:30] PeerRich commented on #5385
@leog can you investigate this?

[2022-11-06 15:31] PeerRich commented on #5244
if there is a location query it should replace it

[2022-11-06 15:32] PeerRich commented on #5354
can you raise a feature request for lawpay? @Kfelts cal.com/feature

[2022-11-06 15:55] PeerRich commented on #5351
yep, working on it with @krumware but also happy to accept PRs

[2022-11-06 16:09] #5324 closed

[2022-11-06 16:26] PeerRich commented on #1878
which calendar is missing for you?

[2022-11-06 17:59] TPAteeq commented on #5354
Hi,
Thanks for replying to my emails and clearing my doubts.
I also would like to know if there is an api call I can make to confirm a
booking using my application instead of having to do it manually from the
dashboard.

On Sun, 6 Nov 2022 at 21:02, Peer Richelsen ***@***.***>
wrote:

[2022-11-06 19:09] PeerRich commented on #5354
yes, there is an endpoint to confirm bookings. lemme pull in @alishaz-polymath for docs

[2022-11-06 23:16] voyagermedical commented on #1878
@PeerRich Sorry I dont udnerstand the question. I am using cal.com and have connected Stripe into this, you can see an instance of this on this page https://pharmacistmigration.com/contact-us/. I would like people to look at availability, book then pay and then this is sent into my calendar. At the moment people look for availability, book, payment is on hold, and a confirmation email is sent to m

[2022-11-06 23:17] voyagermedical commented on #1878
Im using iCal btw.

[2022-11-07 03:20] ryansun96 commented on #3457
@alishaz-polymath Thanks for your reply. I understand it's not a priority to build a native client for Feishu - however wondering if enabling CalDAV for Feishu will stop events from other integrations to block off my availabilities an expected behavior (described in previous comment)?

[2022-11-07 04:48] TPAteeq commented on #5354
That would be great.

On Mon, Nov 7, 2022, 12:39 AM Peer Richelsen ***@***.***>
wrote:

[2022-11-07 05:23] alishaz-polymath commented on #3457
Hey @ryansun96
CalDAV implementation differs from service provider to service provider. It isn't like a toggle that we can "enable" for certain providers because we need to add adaptation for each service provider not following the basic standard.
When I said we don't have Feishu on the roadmap, I meant it for CalDAV integration and not a native integration. Debugging and monitoring the CalDAV int

[2022-11-07 05:36] alishaz-polymath opened #9123 "[CAL-1775] Allow to confirm an opt-in booking using API"
Currently, we don't seem to allow status updates on a booking using the API, however, it would probably be great if we can confirm opt-in bookings using the API calls. It has also been requested by a community member and makes sense to me.

<sub>[CAL-1775](https://linear.app/calcom/issue/CAL-1775/allow-to-confirm-an-opt-in-booking-using-api)</sub>

[2022-11-07 05:38] alishaz-polymath commented on #5354
@TPAteeq So currently we don't allow confirming bookings from what I can see (I would need to re-confirm), but I have raised a request for this nonetheless and I believe the support should be added very soon (potentially in a day or two) unless there's a reason I'm not currently aware of. I will post here again once I have the confirmation on how to confirm a booking using the API. To clarify, we

[2022-11-07 06:50] TPAteeq commented on #5354
Alright thanks

[2022-11-07 11:38] emrysal commented on #5232
Hi @melissamarvin - I'll close this as I believe this is fixed but feel free to reopen if this is still an issue.

[2022-11-07 11:38] #5232 closed

[2022-11-07 11:43] emrysal commented on #5230
This should be fixed now 👍

[2022-11-07 11:43] #5230 closed

[2022-11-07 11:45] emrysal commented on #3974
@zomars I believe this is fixed now, but could you confirm?

[2022-11-07 11:46] emrysal commented on #2913
Closing as fixed :)

[2022-11-07 11:46] #2913 closed

[2022-11-07 11:49] KlingerMatheus commented on #5118
Hello @PeerRich, which page it is using this slider? I'm not finding here.

[2022-11-07 12:25] JeroenReumkens opened #5397 "[CAL-325] Make it impossible to uncheck a default availability"
Currently at the top right of an availability you can 'uncheck' the 'set to default' of an availability. When the user does this, it won't work, because there's not other default selected, so we won't update anything.

![image.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/319bdf6a-c0fe-41b0-9946-b928a1b1a800/48dfed93-799a-4fcc-8502-6c81c3a6653f)

Goal:

In this issue we want

[2022-11-07 12:52] JeroenReumkens commented on #5362
@emrysal  How can I exactly reproduce this? The description isn't fully clear to me. Thanks 🙏

[2022-11-07 14:14] Udit-takkar opened #5401 "[CAL-326] Unable to update username"
![image.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/ec4f96a8-9511-4265-a713-00a07742c8c2/b61b8dc5-fb3b-4297-a1a0-9145bfafe2e5)

[2022-11-07 15:16] #5362 closed

[2022-11-07 15:45] Udit-takkar commented on #5272
<img width="1440" alt="Screenshot 2022-11-07 at 9 14 51 PM" src="https://user-images.githubusercontent.com/53316345/200352755-36b9a584-2079-4bc8-b576-81d906983e88.png">

@melissamarvin  i tried reproducing this and for me after impersonating the clock did not changed to 24 hour.

[2022-11-07 15:48] Udit-takkar commented on #5272
here's what i did
- Admin account had clock set to 24-hour, while trial example account uses 12-hour clock
- after impersonating the clock did not changed.

[2022-11-07 18:18] leog commented on #5385
Yes, added to my plate, been talking with @emrysal about this.

[2022-11-07 18:34] alannnc commented on #5340
Things to consider we should support.

- Individual seats status/info. Right now we lost any additionalDescription entered by user.
- Paid seats, reschedule them.
- When owner reschedule move entire attendees.
- When user reschedule only remove him from attendee and create new booking.

[2022-11-07 18:47] krumware commented on #5351
Apologies, coming back from from out-of-office. Is this a docker question, or a question about the availability of the submodules?

re docker, the instructions do mention in the cloning steps `Note: DO NOT use recursive submodule update, otherwise you will receive a git authentication error.`. Does that need to be rephrased to provide more context?

[2022-11-07 19:11] ohiomoba commented on #5385
Pointing out that the bug is in current main branch and that it prevents scheduling any booking with a recurring event type.

[2022-11-07 21:44] zomars opened #5404 "[CAL-327] Reschedule Event Team Bug (Round Robin → Collective)"
LFE — Reschedule Event Team Bug (Round Robin → Collective)

Created via Threads. See full discussion: [https://threads.com/34433029591](https://threads.com/34433029591)

Using a collective event-type with user **A** and **B**. we changed it from Collective to Round Robin. **C** booked a time with **A** using the **ROUND ROBIN collective event last week.** Today (or yesterday) I changed the event t

[2022-11-07 22:43] emrysal commented on #5360
Hi @oliveiraantoniocc - addressed in the attached PR; decided to move the utility function into @calcom/lib & keep HeadSeo in the @calcom/web app as this is very specific to that.

[2022-11-08 00:09] #5397 closed

[2022-11-08 07:37] #5360 closed

[2022-11-08 07:49] #4356 closed

[2022-11-08 08:26] Jaibles opened #5411 "[CAL-328] Event type location - possible with no location & no fallback"
Currently it's possible to have no location on your event type. People can book you and no location gets set.

We need to fallback to Cal video if it's not set or we need validation on the event type to make it a required field.

(Could be be nice to have validation that says something like.. you have no location set, we will apply Cal video to this event type..?)

[2022-11-08 09:06] CarinaWolli opened #5413 "[CAL-329] Testing Routing forms"
Ability to fully test form, router, etc without committing to database

[2022-11-08 09:07] alishaz-polymath commented on #5383
Upon further testing, it appears to be related to browser. I tested on Mozilla Firefox, Brave, and MS Edge on Windows and of them, Firefox doesn't have this issue but Brave and MS Edge pushes the content to make space for the scrollbar. I will test out a potential solution where the scrollbar floats on top instead of pushing the content.

[2022-11-08 13:05] milospuac opened #5416 "[CAL-331] Event from Google Calendar not accounted for"
Event set to busy in Google Cal (Occupé in French)

<img width="1077" alt="Capture-d--e-cran-2022-11-07-a--14-33-16" src="https://user-images.githubusercontent.com/97884287/200570432-fa614bbf-e2fc-4491-a41a-bf7bffa50ea1.png">

This event is from 14:00 to 15:00 but on the booking page slots after 14:00 are showing

<img width="1057" alt="Capture-d--e-cran-2022-11-07-a--16-35-37" src="https://user-i

[2022-11-08 13:47] shirazdole commented on #5404
![CleanShot 2022-11-08 at 13.47.32@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/c42a6c87-3471-4871-b9b0-3175348474ee/aaabe50d-e03c-4d5d-a7ab-bd6e0a370687)

Had a customer share that they're facing the following issues as well: [https://calendso.slack.com/archives/C0449HFN78B/p1667908612831219](https://calendso.slack.com/archives/C0449HFN78B/p1667908612831219)

[2022-11-08 14:21] #3948 closed

[2022-11-08 14:55] krumware opened #5418 "NEXTAUTH_URL can't be specified"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When cal.com is run in custom hosting formats, the URL may not be publicly available, or may differ from the clients' machine versus the server.

ie.

My local instance may be hosted on http://tester.localhost:3000
The server can only access itself via http://localhost:3000, requests to self at http://tester.localhost:3000 fail

[2022-11-08 15:25] PeerRich opened #5420 "[CAL-332] remove headline on mobile"
![04BF7E91-7E7C-480A-9D17-B2E7A25B29F0.jpeg](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/03d93e9b-7c19-44ef-b720-7b91cfe3fa56/08427365-f2d6-4e73-9479-7e434e03cfdd)

no need to show it at the top because we already show the name in the bottom nav on mobile

[2022-11-08 15:26] PeerRich commented on #5420
@Udit-takkar or @JeroenReumkens maybe this is a quick win for yoz

[2022-11-08 15:40] CarinaWolli opened #5421 "[CAL-333] Meeting link as a dynamic text variable in workflows"
Currently {LOCATION} only shows the meeting type like 'Zoom Video'. We want to show the meeting link instead

[2022-11-08 16:04] MatheusBeniniF commented on #5315
updates on that?

[2022-11-08 16:36] #5401 closed

[2022-11-08 16:45] #3974 closed

[2022-11-08 16:46] PeerRich commented on #5118
@hariombalhara can help out with this

[2022-11-08 16:57] AlexisSantin opened #5423 "CalDav (Zimbra) UNSYNC without notice"
My connection with Zimbra is not working properly : it syncs and unsync...

My connection works well with **simplymeet.com (using CalDav)**
I don't know where the problem comes from.

I succeeded to connect it few times but still... It unsyncs.

**_Something went wrong.
CalDav (Beta): Try reconnecting your calendar with all necessary permissions_**

<img src="https://i.ibb.co/0KGv9xv/gif-cal.gif">

[2022-11-08 17:14] Udit-takkar opened #5424 "[CAL-334] disable Update button unless you make a change that requires changing"
Follow up [https://github.com/calcom/cal.com/issues/5401](https://github.com/calcom/cal.com/issues/5401)

[2022-11-08 17:15] Jaibles commented on #5315
There's been some discussion on the team about this. @sean-brydon care to translate the update 😂? I'm not sure I'd do a great job of explaining the outcome.

[2022-11-08 18:56] JohanForngren commented on #5421
I think it would be nice to have both {LOCATION} and something like {LINK} or {URL}. One use case of the former would be to  include the location in the email subject. More options is better 😃

[2022-11-08 20:36] alannnc commented on #5340
Also found seats still count when booking is cancelled.

[2022-11-08 20:40] huzaifahj commented on #1529
I still do think this feature is essential. What if we wanted the event type to be private? Just showing all the options on the main profile link is too inflexible and leads to a lot of duplication.

[2022-11-08 22:24] PeerRich commented on #1529
yes we're reprioritizing this now! could be potentially next milestone. lemme tag @Jaibles, he has some thoughts

[2022-11-08 22:27] Jaibles commented on #1529
Will add designs!

[2022-11-09 00:16] mellkior opened #5428 "Railway build fails with Type error (implicit 'any' type)."
### Issue Summary

Railway 1-click deployment fails with build error: `Type error: Could not find a declaration file for module 'openapi-snippet'. '/app/node_modules/openapi-snippet/index.js' implicitly has an 'any' type.`

### Steps to Reproduce

1. Deploy on [Railway](railway.app) using the deploy button or starter.
2. (**Probably not required to reproduce**) Set GOOGLE_API_CREDENTIALS environme

[2022-11-09 02:00] ddm231 commented on #5226
Thank you for this feature. How can I translate the label "In Person (Attendee Address)" on my booking site?

[2022-11-09 06:05] newz666 opened #5431 ""Need to make a change? - Cancel" on recurring events, deletes just the next upcoming event"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

"Need to make change? - Cancel" on recurring events, deletes just the next upcoming event instead of the entire series.

### Steps to Reproduce

1. Schedule a recurring event
2. After creating the event click on "Cancel" next to "Need to make a change".
3. It cancels the next upcoming event instead of the entire series of event

[2022-11-09 07:16] CarinaWolli commented on #5431
Already fixed this in my branch when working on #5082. PR should come up soon

[2022-11-09 07:19] CarinaWolli commented on #5421
Yes makes sense, I will add a new variable 👍

[2022-11-09 09:44] Jaibles opened #5433 "[PRO-25] UI bug: Segment component is oversized and missing padding"
Currently

![CleanShot 2022-11-09 at 09.39.48@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/2289b3df-15b9-48bc-bb1c-fe2a9db4513c/990c0060-cf8c-46eb-aa81-e6c19e1f86c0)

Should be

![CleanShot 2022-11-09 at 09.42.21@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/bdefde5a-ab39-405b-9902-abc780a1b8a3/e7b81ce8-8e28-4260-926e-e1f332e00a11)

[Segments -

[2022-11-09 10:02] rene-mueller opened #5435 "Message: Only absolute URLs are supported"
### Issue Summary

i installed release 2.1.3 after starting and sign in there occurred a error in the console: Only absolute URLs are supported

### Steps to Reproduce

1. install release 2.1.3
2. start application
3. sign in

Any other relevant information. For example, why do you consider this a bug and what did you expect to happen instead?

### Technical details

[code]

[2022-11-09 10:11] AlexisSantin commented on #5423
Maybe due to how Cal manage accent (é è à) ?
Just offering ideas as it works flawlessly on [simplymeet.com](simplymeet.me)

[2022-11-09 12:53] hariombalhara opened #5439 "[CAL-336] Route Builder rules should be case insensitive"
Right now Route builder rules are case-sensitive.

To give more context on this, the text operators should be case insensitive

e.g.

![](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/a878af06-e203-4493-86d4-5ed329bfe31b/1dda76a0-c37e-40f5-b962-b821965315ed)

![](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/9211add0-b645-4e78-99cc-2f3cdb0585cb/08bc4be5-25a6-4ec

[2022-11-09 13:03] shirazdole commented on #5404
Could be related, but I canceled a meeting with an attendee, the flow was succesful and the event was removed, but after 20 minutes or so the calendar event was back on my calendar again, but both attendees aren't confirmed

![CleanShot 2022-11-09 at 13.01.31@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/1d0f173d-ac92-44cc-b95f-e0ca5784dc26/fa1c8041-f48c-4e37-aace-be9c4d8

[2022-11-09 13:05] hariombalhara opened #5440 "[CAL-337] Routing Forms - Reporting"
Implement a feature to show list of all responses with support of querying over it.

[2022-11-09 13:13] cyrilchapon opened #5441 "Ideas for better react embed"
### Is your proposal related to a problem?

Unclear and unorthodox current react integration (this is opiniated).
Especially [this one](https://codesandbox.io/s/action-event-listeners-demo-react-cmj1c8?from-embed) (likely the most useful) from the docs.

### Describe the solution you'd like

The best I can think of is a combination of `Provider` pattern with hooks, inspired by the excellent [`reac

[2022-11-09 13:32] shirazdole opened #5442 "[CAL-338] Elements on Calendar Widget Localization Translation not Working"
A few elements of the calendar widget are not getting localized / translated.

![CleanShot 2022-11-09 at 13.16.50@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/e5a4691e-da14-4929-9569-f31955af1bcd/d94894b3-43ca-4f67-8196-40328054c8de)

[2022-11-09 13:50] Jaibles opened #5444 "[CAL-339] Radio option in additional questions on public booking page"

[2022-11-09 14:37] J4VMC commented on #5226
Thanks for this feature. When will it be deployed?

[2022-11-09 14:39] cyrilchapon commented on #5441
Here is a full implementation.
Far from perfect, it allows to grasp the idea.

cal-context.ts
[code]

cal.tsx
[code]

Usage :

[code]

[2022-11-09 14:51] PeerRich commented on #5441
this is cool, check this out @hariombalhara

[2022-11-09 14:54] hariombalhara commented on #5441
@cyrilchapon Wow!! Thanks for the ideas. Will surely review those. Looks great to me so far.

[2022-11-09 15:04] cyrilchapon commented on #5441
@PeerRich @hariombalhara thanks for sweet words.

I just tried in an internal project; this allows some great stuff, like graceful fallback to a link while API is loading 😃 :
[code]

I might try to PR this, but gotta get used to the codebase, and perfect the idea.

--------

Also some thoughts :
- I feel like some types are missing (potentially to embed/core too). Basically the ones I reimplemente

[2022-11-09 15:15] hariombalhara commented on #5441
@cyrilchapon Would love a PR, if you are interested.
My goal is to keep the size to a minimum unless it provides huge benefits. So, won't want to use a third party library. I don't think we use any third party at the moment.

[2022-11-09 15:20] shirazdole commented on #5060
@Jaibles @PeerRich I just had another customer ask for this as well

[2022-11-09 15:25] hariombalhara opened #5446 "[CAL-340] Toggle to disable success page when success redirect is enabled"
When using the event "redirect" feature to another website, the redirect shows the confirmation page still then goes to the redirect, is it possible to add a toggle to disable showing the confirmation page

— Requested by a customer

cc @shirazdole

<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-340](https://linear.app/calcom/issue/CAL-340/toggle-to-disable-success-page-when-redirect-is

[2022-11-09 15:26] hariombalhara commented on #5446
It's doable. But we still need to show that banner which tells which URL(it being external) the user is being redirected to. So I presume on the booking page itself we would show that for some time and then redirect the user to the external URL.

[2022-11-09 15:45] emrysal commented on #5435
have you setup setup the NEXT_PUBLIC_WEBAPP_URL in the .env file?

[2022-11-09 16:26] rene-mueller commented on #5435
@emrysal yes `NEXT_PUBLIC_WEBAPP_URL` is set ;)

[2022-11-09 16:38] ecam900 commented on #5060
For now, we had to go with Calendly because of this requirement. However, will happily migrate back next year if implemented.

[2022-11-09 16:52] heathermeeker opened #5448 "Dynamic Collective title"
### Issue Summary

All my cal.com appointments are entitled "Dynamic Collective" events.

### Steps to Reproduce

Any appointment created by Cal.com.

This is confusing, as it presents a brand I was not aware of, and has nothing to do with the topic of the meeting or the attendees.

### Technical details

- using Chrome browser
- enterprise subscription to Cal.com

[2022-11-09 17:09] emrysal commented on #5435
In order to eliminate/ confirm a regression:
Does your setup work with 2.1.2?

[2022-11-09 17:27] rene-mueller commented on #5435
@emrysal yes the setup works with 2.1.2

[2022-11-09 18:43] proofrating opened #5450 "Integration with Zoho Bigin"
### Is your proposal related to a problem?

Yes it is.  Just want to be able to have my calendar app integrate with my CRM.

Frustrated when you have to use a third party to connect your calendar bookings with your CRM.

### Describe the solution you'd like

I'd like a direct integration with Zoho Bigin CRM where when a cal.com appointment is booked it creates the appropriate task/event.

### Desc

[2022-11-09 18:44] proofrating opened #5451 "[CAL-345] Integration with Zoho calendar"
### Is your proposal related to a problem?

I'd like [cal.com](http://cal.com) to allow me to connect my Zoho calendar for work.

### Describe the solution you'd like

I'd like the integration to work between Zoho calendar and [Cal.com](http://Cal.com)

### Describe alternatives you've considered

Tried using a free Google calendar and then sharing that Google calendar with my Zoho calendar for it

[2022-11-10 05:12] JohanForngren commented on #3822
Also multiple links would be useful, that could enable integration of multiple unsupported video apps.

[2022-11-10 06:54] alishaz-polymath opened #9122 "[CAL-1774] We don't have a "GET" for all availabilities"
https://github.com/calcom/api/tree/main/pages/api/availabilities

We don't seem to offer a list of all availabilities currently. I think this is quite a useful resource that people might want to have access to using the API.

<sub>[CAL-1774](https://linear.app/calcom/issue/CAL-1774/we-dont-have-a-get-for-all-availabilities)</sub>

[2022-11-10 10:43] Jaibles opened #5458 "[CAL-342] Inputs with suffixed icons are currently way too big"
Current

![CleanShot 2022-11-10 at 10.41.40@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/61225223-b45d-484e-a95c-ca651b2facb1/fc278ffd-a09f-451e-89e6-39da37b9df27)

In the designs these should have no background or borders. If we need to keep them for any reason, can we ensure it still just a square and not an elongated rectangle like now.

Should be

![CleanShot 2022-11

[2022-11-10 10:51] Jaibles opened #5460 "[PRO-27] App Card in Event Type Settings"
Currently

![CleanShot 2022-11-10 at 10.49.41@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/83e97abf-0adb-4f69-9cc0-7b5816b18eba/22c12a96-1a69-407c-aca6-4c653dac578a)

* Looks like there's something wrong with the icon size. It should be 40px.
* There should be a line seperating the app details from the setting
* The app name should be 16px not 14px

Should be

![CleanSho

[2022-11-10 10:51] Jaibles opened #5461 "[PRO-26] event-type-settings nav UI issues"
The icons are misaligned in the sidebar nav

![CleanShot 2022-11-10 at 10.44.00@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/90d90f25-8271-448a-ac34-2b803da4c01d/bed1a968-6b73-4b64-b51f-7cf3a76f0d9e)

[2022-11-10 10:57] Jaibles commented on #1529
[Scheduler to determine duration - Cal - New Features (Figma)](https://www.figma.com/file/UajFu4M1APhn2AywAEJkJr/Cal---New-Features?node-id=253%3A55169)

Designs attached!

[2022-11-10 11:54] #5322 closed

[2022-11-10 11:54] MatheusBeniniF commented on #4980
@Jaibles, so on mobile we need hidden copy buttons and show `Copy time to all`, right?

[2022-11-10 12:04] MatheusBeniniF commented on #5458
@Jaibles, which is this page?

[2022-11-10 12:20] MatheusBeniniF commented on #5315
can I do that?

[2022-11-10 12:29] cyrilchapon commented on #5441
@hariombalhara gotcha about minimum size. The Emittery stuff was just a thrown idea.

Gonna try and PR the other ideas.

[2022-11-10 12:33] Jaibles commented on #5458
@MatheusBeniniF this particular example is in event type settings under the advanced tab but I would like this edit made at the component level so it's fixed everywhere if possible 🙏

[2022-11-10 12:35] Jaibles commented on #5315
I've no objections! If you hit any issues or questions reach out to @sean-brydon perhaps. He's looked into this a little bit I know and warned me that it's perhaps not a task that's as easy as it looks :)

[2022-11-10 12:58] #5413 closed

[2022-11-10 13:29] nCrazed commented on #1529
Option B introduces an (imho) unnecessary click

[2022-11-10 13:30] huzaifahj commented on #1529
I think option B makes for a cleaner UI. Will there be an option for custom durations too? What if I want it to be 20 minutes.

[2022-11-10 14:19] chrisgick opened #5464 "[CAL-346] Changing location of booked meeting does not send mail and new location is not saved"
### Issue Summary

Changing location of booked meeting does not send mail and new location is not saved.

### Steps to Reproduce

1. Edit booked meeting
2. Change location and save

[2022-11-10 14:51] PeerRich commented on #5381
@leog you were working on the user setup wizard right? wanna do a peer programming with @joeauyeung ?

[2022-11-10 14:56] PeerRich commented on #5451
on the roadmap!

[2022-11-10 15:03] PeerRich commented on #5461
<img width="99" alt="CleanShot 2022-11-10 at 15 03 41@2x" src="https://user-images.githubusercontent.com/8019099/201129067-4780c806-0383-4586-abb3-d3aa5e6f064d.png">
also the text is being cut off (maybe related)

[2022-11-10 15:12] rene-mueller commented on #5435
@emrysal did you receive my comment?

[2022-11-10 15:23] leog commented on #5381
@PeerRich I'm up for that, sure! Let me know @joeauyeung

[2022-11-10 15:28] PeerRich commented on #5423
@alishaz-polymath

[2022-11-10 15:31] PeerRich commented on #5448
can you send me a link to test? peer@cal.com

[2022-11-10 15:31] Udit-takkar commented on #5461
@PeerRich  yeah checking why is this happening

[2022-11-10 15:32] PeerRich commented on #5060
yeah, we'll focus on this for Q1

[2022-11-10 15:32] chrisgick opened #5468 "Google calendar connection gets lost without notification"
### Issue Summary

Google calendar connection gets lost without notification

[2022-11-10 15:32] alishaz-polymath commented on #5423
@AlexisSantin this is a weird one. Can you maybe create a test account for me so that I can then test it locally to monitor what response is given and if there's a hidden error somewhere?
 Kindly send over the test credentials to me via email and I'll try to sort this out for you. 🙏

[2022-11-10 15:52] shirazdole opened #5469 "[CAL-347] Back Button on Console Checkout Not Working"
When you create a new Deployment on the Console and get to the Stripe checkout page, if you press the back button, you're presented with a 404 message

[https://app.birdeatsbug.com/sessions/xvFun2D7Yd5eQycL1SlH5SI_lJJNry7Q8GYLTD-QQjg0](https://app.birdeatsbug.com/sessions/xvFun2D7Yd5eQycL1SlH5SI_lJJNry7Q8GYLTD-QQjg0)

[2022-11-10 16:35] AlexisSantin commented on #5423
Sent it through your contact page on your personal website.

[2022-11-10 17:00] kg4201 opened #5470 "AWS EB Deployment?"
Anyone have success deploying this to AWS EB? I am having trouble since this uses yarn as the package manager.

[2022-11-10 17:03] alishaz-polymath commented on #5423
Got it. thanks a ton!
I've got se iCloud debugging to do right now, I'll go debugging this next 🙏
Thanks for your patience

[2022-11-10 17:13] tbalbous opened #5472 "Add options in time slot interval up to 2 h (by 15 min) instead of limitation to 60 min."
### Is your proposal related to a problem?

This is maybe just a limitation, maybe a simple parameter in the app.

When I set an event type, I can only select time slot interval up to 60 min.
I’m sometimes working with 90 min slots and I do want to take a 30 min break.
I want to be able to open slots every 2 h or every 90 min. (not being limited to 60 min).
Because if can client can schedule at 9

[2022-11-10 17:43] gzuzmark opened #5473 "[CAL-348] When updating user email in profile, the confirmation password input doesn't show the email when eye toggle button is clicked"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When updating user email in profile, the confirmation password input doesn't show the email when eye toggle button is clicked

### Steps to Reproduce

1. Login and go to settings/profile page
2. Change email
3. Click "Update" button
4. Fill the password input
5. Click the eye button to see the password and not the dots

### Tec

[2022-11-10 17:47] gzuzmark commented on #5473
If needed I can take this one, since I think the behavior is in web/pages/settings/my-account/profile.tsx

[2022-11-10 17:52] noxan commented on #5309
Can confirm the issue, a lot of my events are in the middle of the night apparently 😅

[2022-11-10 18:19] imjlk opened #5474 "[CAL-350] Issue with create a new team dialog"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

In `/teams` page, When the enter key is pressed in the create a new team dialog, a new team is not created and refreshed with parameter `/teams/name={myInputForTeamName}`.
It's reproduce also in `app.cal.com`

Click the button `Create a new team` for creating is working correctly.

### Steps to Reproduce

1. Go to `/teams` page

[2022-11-10 18:33] imjlk opened #5475 "[CAL-349] In edit team page, team URL is not validated appropriately"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

In edit team page, team URL is not validated appropriately.
It looks like anything can be input and save

### Steps to Reproduce

1. Go to `/teams` page, Select one team for editing
2. In `/settings/teams/{selectedTeamID}/profile` page, Input something in `Team URL` field.
3. Click `Update` button.
4. Check the saved Team URL.

[2022-11-10 18:59] Udit-takkar commented on #5473
hey @gzuzmark , thanks for reporting this bug. you can go ahead and raise a PR if you want

[2022-11-10 20:15] proofrating commented on #5450
I don't think Bigin has webhooks option yet - it does have open APIs to integrate though

---- On Thu, 10 Nov 2022 10:27:57 -0500 Peer Richelsen ***@***.***> wrote ---

have you tried webhooks?

—
Reply to this email directly, https://github.com/calcom/cal.com/issues/5450#issuecomment-1310461793, or https://github.com/notifications/unsubscribe-auth/AW57D2OP2327I7IWH4Y43NDWHUH73ANCNFSM6AAAAAAR3XUSH

[2022-11-10 20:23] #5166 closed

[2022-11-10 21:59] PeerRich commented on #5475
@Udit-takkar

[2022-11-10 22:00] PeerRich commented on #5474
@Udit-takkar

[2022-11-10 22:34] sean-brydon commented on #5472
I believe we have something already that may suit your use case a little nicer than the issue you have described above.

If you take a look into the limits tab you will see two drop downs for before and after limits. If you set a after limit for 30 minutes for example this will block you from being booked for 30 minutes after any existing meetings in your calendar.

[2022-11-10 23:48] joeauyeung opened #5477 "[CAL-240] Allow teams to edit # of seats for subscriptions"

[2022-11-11 03:35] jacksonblankenship commented on #5055
This would be huge for us, too

[2022-11-11 07:01] tbalbous commented on #5472
Hi,

Yes, I do agree, but it still allows the first visitor to pick the 9 am meeting that ruins my 2 slots morning.
Let say availability is 8 am to 12 pm with 60 min time slots intervals.
People can see and choose 8 am, 9 am, 10 am or 11 am.
if they pick 9 am for 90 min, + 30 min buffer, there in no space for another meeting on the morning.

With the same availability but a time slot interval of 1

[2022-11-11 07:59] jacksonblankenship commented on #5277
We started playing with Cal.com today (currently assessing a move from Calendly) and we've noticed slow load times already, too.

[2022-11-11 09:57] #5440 closed

[2022-11-11 10:57] sean-brydon commented on #5472
@emrysal what's your thoughts on this?

[2022-11-11 11:16] Jaibles opened #5481 "[PRO-28] Sidebar profile dropdown - Weird hover states"
Weird (blue outline?) hover states on the items in the sidebar profile dropdown. And it's also being chopped off oddly on the top & bottom border radius

**Currently**

![CleanShot 2022-11-11 at 11.09.31@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/43811860-4b75-4001-8172-39890ca0b789/9139d4cd-518f-4847-b6c5-48bc516698b8)

Should be

![CleanShot 2022-11-11 at 11.11.56@2x

[2022-11-11 12:02] rene-mueller commented on #5435
@emrysal unfortunately your revert did not fix the problem. Do you think it makes sense for us to do an appointment together?

[2022-11-11 13:38] #4958 closed

[2022-11-11 13:40] PeerRich opened #5483 "RFC: App Credentials Abstraction (hosted)"
### Discussed in https://github.com/calcom/cal.com/discussions/3281

<div type='discussions-op-text'>

<sup>Originally posted by **PeerRich** April 26, 2022</sup>
## Problem for self-hosters
- .env is getting quite big
- verification process for google, zoom and outlook is quite long and complex
- getting credentials for each app (hubspot, etc.) takes time

## Solution
- give self hoster the optio

[2022-11-11 14:03] PeerRich commented on #5481
@Jaibles moved to Engineering

[2022-11-11 14:03] Jaibles opened #5484 "[CAL-353] Sidebar profile dropdown - Weird hover states"

[2022-11-11 14:03] Jaibles commented on #5484
@Jaibles moved to Engineering

[2022-11-11 14:04] Udit-takkar commented on #5474
<img width="1440" alt="Screenshot 2022-11-11 at 7 32 18 PM" src="https://user-images.githubusercontent.com/53316345/201355942-1f20c557-9cf0-43a0-b25f-ce5f756c11d2.png">

@imjlk  which version are you using ? I see a different flow for creating a team

[2022-11-11 14:10] Udit-takkar commented on #5475
@PeerRich  should we only allow english alphabets, numbers and "-" in team URL ?

[2022-11-11 14:10] PeerRich commented on #5475
probably a good idea

[2022-11-11 14:11] Jaibles commented on #5481
oops yea

[2022-11-11 14:26] imjlk commented on #5474
@Udit-takkar As I wrote it happens in v2.1.4.
Now(v.2.1.5-h-trial, Current version of https://app.cal.com), in the screenshot you posted, still some problem with press Enter key. If you press Enter multiple time, team created multiple time with same name.

Also Step2, when clicking Publish team, `Missing required param: line_items[0][currency].` this error message notified.

[2022-11-11 14:34] shirazdole opened #5485 "[CAL-355] Set individual video links per user through team collective events"
* How can we set individual video links per doctor through team collective events
  Scenario: they have a round robin of all their doctors, when one doctor gets booked, how do they make sure it's their individual private link for a separate video streaming service they use

Created via Threads. See full discussion: [https://threads.com/34433289866](https://threads.com/34433289866)

[2022-11-11 14:49] shirazdole commented on #5444
Excellent, thank you!

[2022-11-11 15:01] #5114 closed

[2022-11-11 15:05] Jaibles commented on #5444
Working on this now. Still a wip but will remove the "needs design" label when done :)
https://www.figma.com/file/UajFu4M1APhn2AywAEJkJr/Cal---New-Features?node-id=495%3A67954&t=YRGcltGPVNnZPHaS-1

[2022-11-11 15:27] mattsmallman commented on #5209
@joeauyeung and @milospuac - I am no longer getting the errors when booking after 24 hours - but the meeting location shows "Office365_video" instead of a teams link (having been correct for approx 24 hours) - there are no failures to authenticate in my AD logs this time.

[2022-11-11 16:31] Udit-takkar commented on #5474
@imjlk thanks for reporting this we have fixed the step 2 and it would live soon

[2022-11-11 16:32] Udit-takkar commented on #5474
and i'll raise a PR to fix the step 1 soon

[2022-11-11 16:47] shirazdole commented on #5442
@Udit-takkar  the 12hr and 24hr format also needs to be translated

[2022-11-11 16:49] Udit-takkar commented on #5442
this is the image after fix

![image.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/04947146-5e3a-4b4d-a12d-8e2ccb4da7bd/95328ef7-c514-4f1e-9ae0-24e6c3aca4ec)

[2022-11-11 16:51] Udit-takkar commented on #5442
@shirazdole what exactly in 12h and 24h has to be translated? isn't is self explanatory?

[2022-11-11 16:52] shirazdole opened #5488 "[CAL-357] Hide Confirmation Page on Redirect to Another Website"
When using the event "redirect" feature to another website, the redirect shows the confirmation page still then goes to the redirect, is it possible to add a toggle to  disable showing the confirmation page

\--
From Hariom: That's doable. But we still need to show that banner which tells which URL(it being external) the user is being redirected to.

So I presume on the booking page itself we woul

[2022-11-11 16:52] shirazdole commented on #5488
@Jaibles @hariombalhara - created a ticket, but not sure who this should be assigned to

[2022-11-11 18:02] zomars opened #5489 "[CAL-359] env variables runtime checks"
[https://github.com/calcom/cal.com/pull/3586](https://github.com/calcom/cal.com/pull/3586)

[2022-11-11 18:25] shirazdole opened #5490 "[CAL-360] Email Confirmation in Two Languages"
I booked with an accupuncturist in Spain, whose language settings are in Spanish. When I initially booked, everything was in English for me. Once she confirmed the booking, I got a confirmation email in English AND Spanish.

I believe there should only be one confirmation email.

![CleanShot 2022-11-11 at 18.24.58@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/5c4ad0e5-b20

[2022-11-11 19:21] #5481 closed

[2022-11-11 19:22] #5484 closed

[2022-11-11 20:06] emrysal commented on #5472
I think the ability for longer time intervals is useful, e.g. I want to have two meetings; one in the morning and one in the afternoon - worth a think on how to achieve this; but 60 minutes max time is a bit arbitrary and can be a quick win to implement 90min and 120min

[2022-11-11 20:17] zomars opened #5491 "[CAL-361] Add manypkg to monorepo"
From [Turborepo handbook.](https://turbo.build/repo/docs/handbook/troubleshooting#handling-mismatched-package-versions) Useful for managing version across packages.

[2022-11-11 20:19] zomars opened #5492 "[CAL-362] Consider adopting Changesets for versionning/releasing"
[https://turbo.build/repo/docs/handbook/publishing-packages/versioning-and-publishing](https://turbo.build/repo/docs/handbook/publishing-packages/versioning-and-publishing)

[2022-11-12 12:58] #5461 closed

[2022-11-12 12:59] #5433 closed

[2022-11-12 12:59] #5460 closed

[2022-11-12 13:31] #5474 closed

[2022-11-12 21:21] #5393 closed

[2022-11-12 23:22] djm-35 commented on #4511
I am hitting the exact same errors.

[2022-11-13 15:39] PeerRich commented on #4511
@zomars @emrysal @alishaz-polymath

[2022-11-13 15:51] #5117 closed

[2022-11-13 22:16] newz666 opened #5502 "Add Guest does not add a guest"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When even booking, when trying to add a guest, the guest is not added.

### Steps to Reproduce

1. Select a date and time for any event.
2. Click Add Guest and enter guest email
3. The guest info is not being displayed on the confirmation page as well as in the bookings.

[Screencast from 11-13-2022 05:15:34 PM.webm](https://us

[2022-11-14 01:51] lienista commented on #4052
What is this variable supposed to be? Inside .env.example it shows a simple `` and no variable. Who do we contact to accept consent?

[2022-11-14 06:33] alishaz-polymath opened #5503 "[CAL-363] Working hours start time arbitrary constraint"
The working hours must currently start no later that 16.45 for some reason. Please remove that arbitrary restriction, so they can be started at any time.

Use case: One can have special event types for social events, which they can share with people to make private appointments in the evening. The social time starts later than 16.45

[2022-11-14 06:36] alishaz-polymath opened #5504 "[CAL-364] Event Type clone defaults location to Cal Video"
When you clone an event type it doesn't clone the location for some reason and always defaults to Cal Video, when it should ideally carry over the location data as well.

_And even after I manually set a cloned event type location to Zoom, it reverts to cal video after saving :\ After going back in to edit the new event and setting it to zoom again, it seems to stick_

[2022-11-14 06:39] alishaz-polymath opened #5505 "[CAL-365] Troubleshooting page is confusing and potentially not working as expected"
As per a customer's feedback

[Screencast Video](https://nextcloud.lightmeter.io/index.php/s/jDKfqj5FHJmkG75)

[2022-11-14 06:42] alishaz-polymath opened #5506 "[CAL-366] Google Calendar conflict not checked"
Reported by a customer:

[2022-11-14 07:30] hariombalhara opened #5507 "[CAL-367] Routing Forms - Improvements"
* Reporting
  * Add operators
    * **is Empty** → Doesn’t seem doable with JSON query because isEmpty can be in 2 ways
      * a.b === “”
      * a.b doesn’t exist → This doesn’t seem doable with json query.
    * i**s not Empty** → Would make sense together with isEmpty. So, add it when is Empty operator is added.
* Handle `jsonLogic.errors` object to show errors while saving or adding a logic a

[2022-11-14 08:21] hariombalhara opened #5508 "[CAL-368] RFC: Routing Forms - Reusability and Extensibility of Router"
* Allow a Router to be created outside of a Form - Call it a **Global Router**
* User can create a **Global Router** which would have just Form and Routing tabs.
  * This is because a Router can't be created without Form Fields.
* When a new Form is created user can optionally select which **Global Router** to use. We can call such a Form as **Global Router Linked Form**
  * It would automatically

[2022-11-14 08:26] hariombalhara opened #5509 "[CAL-369] Routing Form - Routing tab accidentally showing the text of Reporting tab"
Notice 'Query where' and 'Add Filter'
![](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/f9ebacf2-42f4-442c-bda2-ae556967ec5d/1b2d6ebc-d352-4c9a-8ed4-70006180702b)

[2022-11-14 08:46] hariombalhara opened #5511 "[CAL-370] Troubleshooter and Bug Reporter for Infra Users."
More details on [threads](https://threads.com/34433595232?s=vM3WCmpvNa9FtyCLaKYmFx)

Would be a continuation of https://github.com/calcom/cal.com/pull/3586

[2022-11-14 09:51] rene-mueller commented on #5435
i found the error in my .env file it contains `NEXTAUTH_URL='${NEXT_PUBLIC_WEBAPP_URL}'` in the .env.example is there a url set

[2022-11-14 09:51] #5435 closed

[2022-11-14 10:17] shirazdole commented on #5508
@hariombalhara could you share exactly what a "router" is?

[2022-11-14 10:18] hariombalhara commented on #5508
A router is the Routing Rules which are available under the **Routing** tab

[2022-11-14 10:53] #5509 closed

[2022-11-14 11:07] #5383 closed

[2022-11-14 11:59] rene-mueller commented on #5235
@devkiran i have now done further tests and found that when i set a value in HOSTED_CAL_FEATURES via the .env, the check does not work as desired. i have done some logging in a few places and the result is as follows:

To prevent errors when converting the number 1 to a boolean i have converted the value to a boolean in constants.ts:

![grafik](https://user-images.githubusercontent.com/48084558/20

[2022-11-14 13:28] Jaibles commented on #4980
Looks great @MatheusBeniniF 👏

[2022-11-14 14:42] shirazdole opened #5517 "[CAL-371] Dynamic events create collective event instead of single event for each attendees"
Currently, when sending a dynamic booking, it creates a separate event for each guest. It should create one collective event with all parties.

However, there is an issue of selecting who the event host should be. Is there a way to add this on as well? Currently, the person who books the meeting is the event host, but it should be the person who SENDS the dynamic link that should become the event

[2022-11-14 15:15] Guray00 commented on #4596
Still having problem

[2022-11-14 15:33] kg4201 opened #5518 "[CAL-498] Include video location in web hooks"
### Is your proposal related to a problem?

We want to use the webhook events to save the video location's url (ie google meet / zoom etc)

### Describe the solution you'd like

[code]

### Describe alternatives you've considered

N/A Feature does not exist currently

### Additional context

This is data point / feature available on other platforms (ie Calendly)

<sub>[CAL-498](https://linear.app/

[2022-11-14 23:25] sdan opened #5523 "Fastmail does not get confirmation emails"
### Issue Summary

I don't get confirmation emails when using a Fastmail email. Any other email provider (gmail, hey, etc.) works, just not fastmail for some reason. I am using a custom domain and have already checked thoroughly in any folders it might have fell into.

### Steps to Reproduce

1. Have a fastmail email
2. Use it as your account email

### Technical details

Fastmail emails in genera

[2022-11-15 05:24] manntam commented on #3710
Would also really love some insight here!

I'm running into issues with exactly these points too:

    getting cal.com running/listening only in http://127.0.0.1/ (no SSL)
    let the reverse proxy (Apache, but whatever if it's Nginx or else) do the SSL work while expose the service outside
    tell cal.com the "visible" URL is https://cal.example.org

[2022-11-15 06:04] hariombalhara commented on #5518
cc @alishaz-polymath

[2022-11-15 07:29] CarinaWolli opened #5524 "[CAL-372] Design issue in event type navigation tabs (in german)"
### Issue Summary

Text goes out of gray background when text goes over 2 lines:

![](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/65aeb36e-bb4e-4603-be3b-259ad9969c46/dbb3159a-e746-4170-9aa4-0a026a7247e0)

![](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/ba2de956-15cb-495e-9b39-769b4f6584f5/5de41bbe-7234-4935-a757-9e38fc89ea30)

Text should be truncated like

[2022-11-15 07:42] Jaibles commented on #5444
@shirazdole designs are ready for review!

Let me know if you have any feedback.

[Additional inputs - Single & Multi Selection - Cal - New Features (Figma)](https://www.figma.com/file/UajFu4M1APhn2AywAEJkJr/Cal---New-Features?node-id=495%3A67954&t=szkBGC4oYsyHx0wJ-1)

[2022-11-15 07:50] Jaibles opened #5525 "[CAL-373] Search in App Store"

[2022-11-15 09:16] alishaz-polymath opened #5527 "[CAL-374] Custom Payload for Webhooks not working"
Custom payload for webhooks seems to have stopped working now, and it isn't even automatically placing the custom template for Discord URL (which it used to in V1)

[2022-11-15 10:09] milospuac commented on #5523
Hi @sdan, thanks for reaching out.

@alishaz-polymath can you have a look at this one?

[2022-11-15 10:15] milospuac commented on #5518
@hariombalhara I think Carina mentioned something that she will work on it, no?

[2022-11-15 10:18] milospuac commented on #5472
@emrysal should I add this to linear then?

[2022-11-15 10:19] hariombalhara commented on #5518
Yeah, she is on it

[2022-11-15 11:58] #5424 closed

[2022-11-15 13:12] shirazdole commented on #5444
@Jaibles this looks fantastic!!! You killed it. Especially the "Other" option one. Let me share with our potential customer for feedback too.

[2022-11-15 13:39] #5502 closed

[2022-11-15 13:55] #5490 closed

[2022-11-15 13:56] Jaibles opened #5534 "[CAL-375] Rescheduling a meeting should show the previous time crossed out & the reschedule reason on the confirmation page & in email"
Currently a reschedule meeting shows this

![CleanShot 2022-11-15 at 13.53.26@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/b9c4b408-25ac-4af1-a1f2-6ec6a2bdde3e/982495d8-920c-41a0-bfc3-6520b24aa387)

It should show this

![CleanShot 2022-11-15 at 13.55.33@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/2263f8c2-2158-4439-b1ad-86bbddcc3565/28ac7bc3-

[2022-11-15 14:08] #5473 closed

[2022-11-15 14:24] #5524 closed

[2022-11-15 14:27] Jaibles commented on #5534
@leog based on this pr:[https://github.com/calcom/cal.com/pull/5035](https://github.com/calcom/cal.com/pull/5035) should I still have been seeing the behaviour screenshotted above today?

[2022-11-15 14:53] leog commented on #5534
@Jaibles yes, that PR only fixes showing the new rescheduled date crossed out, does not include the old date

[2022-11-15 15:07] Jaibles opened #5536 "[CAL-376] Move "Additional notes" into Additional inputs"
Move this..

![CleanShot 2022-11-15 at 14.56.58@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/246b3655-98f3-4243-8362-a37a6ecb48a0/ca5f0798-dae7-4c41-bb39-088386eea9e6)

Into additional inputs

[4a46ad2f-0f83-4be8-9e04-da58714cac04](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/2d74d509-345c-42e0-a981-72f20cc27bcc/4a46ad2f-0f83-4be8-9e04-da58714cac04)

[2022-11-15 15:07] Jaibles opened #5537 "[PRO-30] Include form and layout in a tab in event type settings"
![CleanShot 2022-11-15 at 15.06.50@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/4af4d3e3-ebe2-412a-a1ab-7659c5af3070/06561297-ed5b-4f88-aeb5-2eb6bc3aa3a6)

[2022-11-15 16:24] luiisca opened #5538 "[CAL-377] avatar preview wont update after new image uploaded on UserProfile page"
### Issue Summary

Avatar preview won't update after a new image is uploaded on the UserProfile page

### Steps to Reproduce

1. Go to [UserProfile page](https://app.cal.com/getting-started/user-profile)
2. Save profile photo change

I don't know if this behavior was intended or not. But either way, it'd be nice to provide a preview of the updated profile image to improve UX.

[2022-11-15 16:40] emrysal commented on #5536
I talked with @PeerRich about this last week and we both thought it wasn't a bad idea to build a form builder with by default having:

* Name
* Email
* Add guests
* Notes

And make everything user-controlled.

[2022-11-15 16:42] RebeccaCotton opened #5539 "[CAL-471] Calendar conflict is ignored in Round Robin meetings using individual default availability"
### Issue Summary

Calendar conflict is ignored when showing the available timeslots in Round Robin meetings using individual default availability.

### Steps to Reproduce

1. create two users, both with an availability set as follows: user1 (Mo, Wed 9-5), user 2 (Fri 9-5)
2. Create a round robin event with both users, this behaviour occurs both with common schedule and with individual schedules
3

[2022-11-15 17:45] Jaibles commented on #5536
Have made a separate issue to design something more inline with what you're describing 👍

Basically the idea is to have a tab that controls everything the booker sees. This will include what you're talking about plus where they'll edit things like what layout options to make available to the user (weekly / monthly) etc.

[2022-11-15 18:45] manntam commented on #5275
Also running into this issue!

[2022-11-15 19:32] Udit-takkar commented on #5538
@luiisca thanks for reporting this bug.

[2022-11-15 19:34] #5287 closed

[2022-11-15 20:05] aasargsian commented on #5444
This is exactly what we are looking for :) Minor question - will there be a way to temporarily turn off a question or it can only be deleted?

[2022-11-15 20:06] MatheusBeniniF commented on #5534
@Jaibles, this issue is duplicated, https://github.com/calcom/cal.com/issues/5134 is the other and already has a PR

[2022-11-15 21:01] Jaibles commented on #5534
Ah I see. I've given the design my blessing anyway! We need to poke an engineer to approve the code.

[2022-11-15 21:01] Jaibles commented on #5134
What do we need to do to get this approved and merged? Designs look good.

[2022-11-15 22:26] Kfelts opened #5542 "[CAL-416] Bookings are bypassing required confirmation and worflows/webhooks are not firing"
Found a bug? Please fill out the sections below. 👍

### Summary

I had a booking submitted around 4 pm EST, which requires both payment and confirmation. The booking was immediately placed in "upcoming" but did not appear under "unconfirmed." It also did not give me the option of confirming the appointment. I checked the settings and made sure that it was set up to require a confirmation from me d

[2022-11-16 01:30] lienista opened #5543 "yarn build error"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

I could not build the project.

### Steps to Reproduce

1. `yarn dev` started server but has issue. It started the server at `localhost:3000`, rather than specified url port from `.env` file
2. `yarn build` fails
3. environment variables:
NEXT_PUBLIC_WEBAPP_URL='http://localhost:8000'
NEXT_PUBLIC_WEBSITE_URL='http://localhost:8

[2022-11-16 07:53] alishaz-polymath commented on #5523
@CarinaWolli Can you please investigate this since you most recently worked on the emails 🙏

[2022-11-16 07:59] Maybach91 commented on #5094
Will this feature be planned any time soon? My switch to cal.com is depending on this integration (unfortunately, haha).

[2022-11-16 08:31] cyrilchapon commented on #5441
@hariombalhara I submitted my PR as a draft, because I'm struggling with unit tests.
Any help in there ? 🙂

[2022-11-16 08:57] Udit-takkar commented on #5538
@zomars should i remove getServerSideProps from /getting-started/[[...step]].tsx  and use trpc so that i can invalidate user query result ?

[2022-11-16 09:33] chrisgick opened #5545 "Landing on /undefined 404 after registration"
### Issue Summary

Landing on /undefined 404 after registration of a new account

### Steps to Reproduce

1. Register new account
2. Login for the first time

[2022-11-16 10:09] CarinaWolli commented on #5523
@sdan I just created a Fastmail email to test that and it is working fine for me

[2022-11-16 10:12] rimkov commented on #5312
hi! i have the same issue with our local exchange server 2019. calendso (3.15.2) receive a 401 unathorized error.
thank you for your support.

[2022-11-16 10:28] milospuac opened #5546 "[CAL-378] MS Teams link not showing in the confirmation email"
![Bildschirmfoto 2022-11-16 um 11.12.07.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/203db785-6903-4209-903c-08418fec9f2f/25d6d4c3-d0d0-436f-9ba9-a57f42c6a7c1)

[2022-11-16 11:24] Jaibles opened #5548 "[CAL-379] Inline banner needs to be responsive"
Right = Current

Left = Preferred

![CleanShot 2022-11-16 at 11.23.32@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/f9d5c6cf-6fab-449f-9862-db30813e2387/e4ff3110-af1b-48d2-8e53-a064bceef931)

[2022-11-16 11:26] sean-brydon commented on #5472
Yeah @milospuac please do - ill pick this up should be a very simple fix to just add 90 and 120

[2022-11-16 13:18] JeroenReumkens opened #5550 "[CAL-380] Move form component (in components directory) to its own file, instead of being place in input.tsx"
See [https://github.com/calcom/cal.com/pull/5514#pullrequestreview-1182472654](https://github.com/calcom/cal.com/pull/5514#pullrequestreview-1182472654)

[2022-11-16 14:06] tbalbous commented on #5472
For what I was able to track it happens here
https://github.com/calcom/cal.com/blob/main/apps/web/components/eventtype/EventLimitsTab.tsx

[code]

Not sure, and not aware of the possible impacts.

Kind of test I can imagine:
If my availability start at 8am and end at 12:30pm, and slot of 75min, I should have possible appointments at 8 am, 9:15am, 10:30 am, (not enough time for a slot at 11:45.
If

[2022-11-16 14:21] CarinaWolli commented on #5542
@alannnc could that be because the event-type requires payment?

[2022-11-16 14:25] suthargk commented on #5545
In which is the environment getting undefined? Can you please give steps to reproduce.

[2022-11-16 15:28] Udit-takkar commented on #5545
@chrisgick i am unable to reproduce the bug.
i created a new account at /signup and tried logging in (auth/login) and i was redirected to /event-types ( the default page)

[2022-11-16 15:31] Jaibles opened #5553 "[CAL-381] Zoom link disappears/breaks when you reschedule a meeting"
**Steps to reproduce**

* Book a call with me [https://cal.com/ciaran/catchup](https://cal.com/ciaran/catchup)
  * The zoom link gets added and Zoom is included
* Reschedule the meeting
  * The Zoom link drops off the meeting

I got an email about this but Zoom is correctly set in the event type.

![CleanShot 2022-11-16 at 14.33.30@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f

[2022-11-16 16:44] joeauyeung commented on #5124
The Google calendar API can send push notifications to our app if an event changes.

[https://developers.google.com/calendar/api/guides/push#responding-to-notifications](https://developers.google.com/calendar/api/guides/push#responding-to-notifications)

[2022-11-16 17:45] jbritten commented on #3457
I'm using CalDAV integration with mailbox.org using hosted Cal.com and works great. No issues so far.

[2022-11-16 18:15] zomars commented on #5167
PR here [https://github.com/calcom/cal.com/pull/5541](https://github.com/calcom/cal.com/pull/5541)

[2022-11-16 18:37] Jaibles commented on #5444
@aasargsian interesting idea. Hadn't considered it but don't see why we can't propose it in design and get an estimate on the difficulty from engineering!

[2022-11-16 18:44] Udit-takkar commented on #5543
@lienista meanwhile can you try with these variables
[code]

[2022-11-16 19:15] Udit-takkar commented on #5464
This is the current design

<img width="595" alt="Screenshot 2022-11-17 at 12 43 50 AM" src="https://user-images.githubusercontent.com/53316345/202272000-001f4520-7566-4a81-9fe4-e1bd5a294fd4.png">

should i update it like the figma one and include text box for location change ? cc: @PeerRich

<img width="595" alt="Screenshot 2022-11-17 at 12 44 21 AM" src="https://user-images.githubusercontent.com

[2022-11-16 19:48] #5082 closed

[2022-11-16 19:48] #5431 closed

[2022-11-16 20:03] #5320 closed

[2022-11-16 20:23] zomars opened #5555 "[CAL-382] Minimum booking notice conversion are incorrect"
### Issue Summary

It seems like the Minute / Hour / Days conversion for the minimum booking notice are incorrect:

[https://user-images.githubusercontent.com/3504472/202286359-fb0cba3c-cc84-4f4a-9569-35a0f87fd023.mov](https://user-images.githubusercontent.com/3504472/202286359-fb0cba3c-cc84-4f4a-9569-35a0f87fd023.mov)

### Steps to Reproduce

1. Go to an event type page
2. Go to limits tab
3. Pla

[2022-11-16 21:54] lienista commented on #5543
yes I did, and it defeats the purpose of build. I would need to build if I wanted to add more env vars for new features that I need

[2022-11-16 22:42] cachil0 opened #5556 "[CAL-407] Better phone number field"
I would be good to have a more intuitive field for phone number.

Where you can choose the country, the number length based on country. Also the possiblity to pre-populate this field on URL

[2022-11-17 07:45] Jaibles opened #5558 "[CAL-383] a dedicated booking url like /booking/[uid]"

[2022-11-17 07:51] #5558 closed

[2022-11-17 08:05] Jaibles opened #5559 "[CAL-384] Link in calendar description of a booking is missing reschedule option"
* Right now there's just a single link in the calendar description that assumes I want to cancel.
* To reschedule I have to click "Nevermind" then reschedule..

[1257ef5e-02ad-4d36-85f4-dbfb5432f13b](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/9f265e38-6abb-41ae-bd8f-d8176f55a6ce/1257ef5e-02ad-4d36-85f4-dbfb5432f13b)

It should have the options like in the email

Need to make a

[2022-11-17 09:09] Jaibles commented on #5534
duplicate

[2022-11-17 09:09] #5534 closed

[2022-11-17 09:17] #5472 closed

[2022-11-17 11:06] shirazdole commented on #5485
The way Calendly does this is on the collective event, under the location field, they have a "Video Configurator" which basically allows the host to pick which accounts Zoom or Daily link they want to use.

They also have a field saying "use this person as video configurator, but they still need to connect a Zoom account"

[2022-11-17 12:48] shirazdole commented on #5485
Need to take the video link of the person, not the actual event type

[2022-11-17 14:33] shirazdole opened #5563 "[CAL-385] Ability to make a user an owner of a single team event rather than the entire team"
If I were to create a round-robin of cal.com/team/cal/sales and had 10 sales reps in there, if I wanted someone to "own" that event type, I would need to make them the owner of the entire cal.com organization.

It would be great if there is a way to make someone an owner of that individual event even if they are not an owner or admin of the entire team.

[2022-11-17 15:04] JeroenReumkens commented on #5555
Closed by #5557

[2022-11-17 15:04] #5555 closed

[2022-11-17 15:15] shirazdole opened #5564 "[CAL-386] Control the order of fields on an event type"
VP of Marketing from Daily asked for the ability to control the order of fields on an event type. Especially if they add additional fields such as "company name."

[2022-11-17 15:54] shirazdole opened #5565 "[CAL-387] Admin view to see all bookings per collective events"
Admins/Owners should be able to see the bookings per collective event. A similar experience to how you can go to the bookings tab and see your individual bookings.

A good example is the [cal.com/team/cal/shiraz](http://cal.com/team/cal/shiraz) link — it would be awesome to have a bookings tab in the settings where I can see all the bookings Peer and I have had. It would also be good to highlight

[2022-11-17 16:41] shirazdole opened #5567 "[CAL-388] Cannot Delete Pending Members"
I'm trying to remove a member from a team and I get this prompt, is it worth a thread or a ticket?

After waiting several minutes, the member from my team was deleted.

Not sure exactly what is happening.

Created via Threads. See full discussion: [https://threads.com/messages/3ac5f762-2e64-4651-afa9-375ad13192ae?messageID=b670e596-be0a-43f2-b625-d91c7882e5dc](https://threads.com/messages/3ac5f762

[2022-11-17 16:41] shirazdole commented on #5567
cc @zomars - I believe you built user deletion

[2022-11-17 17:05] zomars commented on #5567
It sounds like some cache invalidation issue. Since the team is actually being deleted.

[2022-11-17 17:24] milospuac opened #5568 "[CAL-389] If Outlook is the default calendar GMeet URL not generated"
If Outlook is the default destination calendar GMeet URL doesn't get generated

Created via Threads. See full discussion: [https://threads.com/34434383642](https://threads.com/34434383642)

[2022-11-17 18:52] #5167 closed

[2022-11-17 18:56] #5475 closed

[2022-11-17 20:39] belle-isle opened #5570 "Meetings in Apple calendar are offset when calculating available time slots"
Found a bug? Please fill out the sections below. 👍

The calendar I use is iCloud and I am located in continental Europe (CET). My Calendar is in this timezone on my device. I have confirmed on [icloud.com](http://icloud.com/) that it is the same there. When an event is scheduled via [cal.com](http://cal.com/), it is correctly scheduled at the right time. However, the events in my calendar that are

[2022-11-17 21:09] alannnc commented on #5542
@CarinaWolli That could be something but not so sure right now, we should do a test replicating this scenario and work on a fix from that.

@Kfelts Thanks for reporting we are gonna try to fix this as soon as we can.

[2022-11-17 21:27] #5553 closed

[2022-11-17 23:27] Jaibles commented on #5553
Woohoo this is fixed?! 🙏

[2022-11-18 07:39] Udit-takkar commented on #5553
yes

[2022-11-18 08:01] alannnc opened #5575 "[CAL-391] Limit future bookings form state not being picked up"

[2022-11-18 08:39] Udit-takkar commented on #3085
@lienista thanks for reporting this. only password requirement for an admin user has been changed to 16 character because of SOC2 compliance. i have raised a PR to change the text here.

[2022-11-18 08:48] Udit-takkar commented on #3085
@lienista have you tried build on the current main branch? it is not throwing any eslint error for me

[2022-11-18 10:03] PeerRich opened #5578 "[CAL-392] top banner not responsive"
https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/6548026c-f818-470b-a331-e2ac66d5e574/cd681ef2-87b2-46b7-b4ff-ce3cf10b1e4a

[2022-11-18 10:05] PeerRich opened #5579 "[CAL-393] allow discount code in team checkout"
![CleanShot 2022-11-18 at 10.05.37@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/12b1e753-3837-402e-af91-c698d97f4efc/53f95b56-335c-40e0-a455-f9420d14b194)

[2022-11-18 10:51] Jaibles opened #5580 "[CAL-394] Input with prefix padding is too large"
Example from the sign up page but this issues exists everywhere.

![CleanShot 2022-11-18 at 10.47.01@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/18959efa-d599-408c-95e4-448f98f140c5/e76f2c8a-f3d5-42ab-b986-38fb61b9b448)

Should be

![CleanShot 2022-11-18 at 10.51.02@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/19bcf449-8be4-4b62-99b4-bc7fc7144

[2022-11-18 11:44] shirazdole opened #5581 "[CAL-395] Change text from "Delete Team" to "Disband Team" on the Button"
![CleanShot 2022-11-18 at 11.39.59@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/5f28bdd3-4713-42f9-8e27-8e3dde003de1/4305da17-3517-4a8d-91a2-094c12becb03)

Change the text of the button under Danger Zone from "Delete Team" to "Disband Team" within the orange box.

[2022-11-18 11:49] jorit-vasconezgerlach opened #5582 "[CAL-396] hard to read black on black text on select popups"
### Issue Summary

On nearly all of my devices the selection popup text is hard to read, because it's black on black. On some it works, but on hovering it's having the same issue.

### Technical details

* safari, chrome or cal for mac
* theme is system standard
* brand colours #db5cff for light theme and #fafafa for dark theme
* already user before cal 2.0

![](https://uploads.linear.app/e86bf957

[2022-11-18 12:41] chrisgick commented on #5464
Good idea!

[2022-11-18 12:58] jorit-vasconezgerlach opened #5583 "[CAL-400] faster copying of private link & no access to public link if private link is enabled"
### Is your proposal related to a problem?

It's kind of annoying to every time have to go on edit mode to copy the private event link. so yes.

### Describe the solution you'd like

If the option 'generate private link' is enabled on an event, on the event overview the copy button should directly provide you the private link.

![](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/7e

[2022-11-18 13:15] erik-bower-daily commented on #5565
This story will be complete when:

- A team admin can go to teams, bookings and see all the meetings across team members.
- A team admin can see if any meeting requests have not been accepted by a sales rep
- A team admin can reassign a calendar invite to another sales person if for some reason there is a conflict or the account belongs to another rep, or the rep hasn't accepted the invite in the

[2022-11-18 13:35] Udit-takkar commented on #5582
@jorit-vasconezgerlach thanks for reporting this. although i am not able to reproduce i will take a look at the code

https://user-images.githubusercontent.com/53316345/202716934-87ae6b58-d7f1-40d6-a415-540f1fd5c588.mov

[2022-11-18 13:36] thomasmazon opened #5586 "Nextjs error on performe "yarn dev""
Wndows: 10 Pro
Node: v16.15.0
yarn workspace v1.22.19
yarn run v1.22.19

@calcom/web:dev: error - Cannot read properties of null (reading '1')

unable to execute project.

`@calcom/web:dev: error - Error: Cannot find module 'G:\source\open-source\cal.com\apps\web\.next\fallback-build-manifest.json'
@calcom/web:dev: Require stack:
@calcom/web:dev: - G:\source\open-source\cal.com\node_modules\next\d

[2022-11-18 13:40] VinnyHS2 commented on #2396
I had the same problem and solved it by add the `DATABASE_URL="postgresql://postgres:@localhost:5450/calendso"` in the `package/prima/.env`

[2022-11-18 13:56] ahmedsadman opened #5587 "Cannot use full time-slot prior to midnight"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

For my work, I'm available from 10:30 PM to 1:30 AM. In the availability section, 11:46 PM to 11:59 PM gets totally wasted as there is no way to include that 15 min slot in my availability. Please refer to this image:
![xcxa](https://user-images.githubusercontent.com/11042267/202720919-6a42f300-9c57-439f-9de5-d0c1dcce6699.png)

[2022-11-18 14:15] milospuac commented on #5587
@emrysal Can you look into this?  From my understanding, 10:30 pm is the last slot someone can book for the day when you have 60-minute meetings. That meeting ends at 11:30 so there is essentially no space for another booking, that's fine.

However, it's impossible to have a slot that starts at 11:00 pm that lasts until midnight. 11:45 is the limit of our availability. Is there a reason for those

[2022-11-18 14:27] alishaz-polymath commented on #2396
@VinnyHS2 that's not recommended as it defeats the purpose of symlinks and might run into issues in the future if more env variables are added to the linked .env file

[2022-11-18 15:34] jahirfiquitiva opened #5588 "[CAL-399] Events are added twice to calendars"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When an event is created I get two events: one in the default account calendar, and one in the calendar that I have chosen in `cal.com`

![](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/0b6b038e-1b6e-4ee2-b6b2-2c400a6cdd85/fbfd7b09-3ccd-4bcb-89aa-bd43ae2b590a)

![](https://uploads.linear.app/e86bf957-d82f-465

[2022-11-18 17:03] Udit-takkar commented on #5582
just use 292929 brand color in light theme.
<img width="1439" alt="Screenshot 2022-11-18 at 10 33 38 PM" src="https://user-images.githubusercontent.com/53316345/202760901-7051bcbb-1695-47aa-9a66-39d93f70a578.png">

[2022-11-18 17:35] Udit-takkar commented on #5556
@cachil0 which page contains this phone number input field ?

[2022-11-18 17:41] #5546 closed

[2022-11-18 18:15] jorit-vasconezgerlach commented on #5582
Thank's this works. For the general user base it may be good to either disable this functionality completely or implement it so that
- the UI doesn't broke
- it really effects the theme and not only some outline

[2022-11-18 18:26] Udit-takkar commented on #5582
@jorit-vasconezgerlach  ok thanks for your feedback

[2022-11-18 18:26] #5582 closed

[2022-11-18 18:29] jorit-vasconezgerlach commented on #4691
@PeerRich I think this is fixed now

[2022-11-18 18:32] Udit-takkar commented on #4691
yes

[2022-11-18 18:32] #4691 closed

[2022-11-18 19:54] cachil0 commented on #5556
the only way I found to insert phone with the right pattern is choosing location as the attendee phone. I would be better to have the same field as custom input field, and also having the possibility to pre-populate this field into url parameter.

got it?

[2022-11-19 04:40] gGh00sTt commented on #5586
Running `yarn install` might help

[2022-11-19 10:06] Jaibles commented on #4535
related: [https://linear.app/calcom/issue/CAL-281/10-seconds-load-time-for-availability](https://linear.app/calcom/issue/CAL-281/10-seconds-load-time-for-availability)

[2022-11-19 10:08] Udit-takkar commented on #5464
<img width="1005" alt="Screenshot 2022-11-19 at 3 37 41 PM" src="https://user-images.githubusercontent.com/53316345/202845625-68ab21a5-7b75-46b9-9b76-f391d37c9786.png">

@chrisgick attendees are receiving mail when location is changed. can you try once again ?

[2022-11-19 10:13] Jaibles commented on #4544
@JeroenReumkens has this been taken care of? Let's move to 2.3 if not 🙏

[2022-11-19 10:15] Jaibles opened #5589 "[CAL-397] Buttons in forms should be disabled until something changes"
* Our buttons in all forms are all enabled by default.
* They should start disabled, then become enabled when there's a change.
* This helps act as a visual hint/reminder to hit Save (until we have autosaving)

![CleanShot 2022-11-19 at 10.12.31@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/b7b49954-97ba-411a-bf88-99bcb7c03373/56ff90fb-2241-4d21-a904-c46ee727f13c)

[2022-11-19 10:20] Jaibles commented on #4056
@alishaz-polymath @Udit-takkar can one of you try to resolve this in our 2.3 milestone and could you clarify when you think this is happening? Would like to get a sense of how many bookings this could affect 🙏

[2022-11-19 10:21] alishaz-polymath commented on #4056
I could explore this, yes. Let me add this to my next week's agenda 🙏

[2022-11-19 10:22] Jaibles commented on #3875
@shirazdole bump on @joeauyeung's question above. And how often does this issue arise right now? Trying to assess priority.

[2022-11-19 10:25] shirazdole commented on #3875
I actually think someone fixed this? People can cancel now, but I'm not sure of the flow @joeauyeung @Jaibles

[2022-11-19 10:26] shirazdole commented on #3875
Not a priority

[2022-11-19 10:27] shirazdole commented on #5565
cc @Jaibles on the above

[2022-11-19 10:41] Jaibles commented on #4535
Update from @emrysal

[2022-11-19 10:44] Jaibles opened #5590 "[CAL-398] New booking layout - Weekly view"
We're adding a new layout option for the public booking page, a weekly view.

[2. Weekly - Cal - New Features (Figma)](https://www.figma.com/file/UajFu4M1APhn2AywAEJkJr/Cal---New-Features?node-id=451%3A65668&t=pgAbFenXbJx7vDAK-1)

[2022-11-19 10:56] Jaibles commented on #5565
Cheers @shirazdole I'm going to work on the designs this week

[2022-11-19 10:58] shirazdole commented on #5565
@Jaibles legend!!

[2022-11-19 13:40] leog commented on #1529
@Jaibles maybe we can leverage the textbox with arrows to increasing or decreasing minutes like we use for the recurring count when increasing or decreasing number of occurrences. And with 5min increments.

[2022-11-19 14:03] Jaibles commented on #1529
@leog the host will set the time increments in their event type settings. So the options may not be even increments so I would rather use a single select interaction rather than a standard number input.

[2022-11-19 16:55] Jaibles commented on #1529
Ag sorry @leog did you mean in the event type settings we could have that? We could certainly look at that alright. I'll take a look and see whether we need that or should keep it restricted but include all reasonable options. (20m would obviously be one of those.)

[2022-11-19 18:04] PeerRich commented on #5287
tagging #5578 here

[2022-11-19 18:05] PeerRich commented on #5578
@Udit-takkar wanna take this up?

[2022-11-19 18:05] PeerRich commented on #5588
interesting, we'll investigate!

[2022-11-19 18:06] PeerRich commented on #5586
can you try

`yarn`

`yarn dx` (make sure docker is up and running)

[2022-11-19 18:07] PeerRich commented on #5583
great feedback, @alishaz-polymath can take a look. he built the private events

[2022-11-20 18:45] PeerRich opened #5593 "[CAL-401] search for apps"
@Jaibles made a mockup, i think it's time to add it ❤️

[2022-11-20 18:55] PeerRich opened #5594 "[CAL-402] make profile picture clickable and go to cal.com/<user>"
![CleanShot 2022-11-20 at 18.54.57@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/81358f75-04ec-4379-9d3f-fc0080ed4c19/aad82428-4799-4100-ab61-d0cda33455d7)

[2022-11-20 19:02] Udit-takkar commented on #5272
any update @melissamarvin  are you still facing this issue or should i close this ticket ?

[2022-11-20 19:04] PeerRich opened #5595 "[CAL-403] Stripe App: Pay Now button still v1"
![CleanShot 2022-11-20 at 19.03.57@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/0102e833-b1a4-4c3b-a7e0-83ace999d2d7/3cd70717-ea04-415a-b546-9a567d09c267)

[2022-11-20 19:05] Udit-takkar commented on #5578
@Jaibles any figma for mobile view of top banner ?

[2022-11-20 19:05] PeerRich commented on #5272
@tedspare we still have broken screenshots in linear, see here

[2022-11-20 22:00] #4969 closed

[2022-11-21 04:57] alishaz-polymath opened #5597 "[CAL-404] Dynamic Link issue list"
Currently, Dynamic Links are functional but not polished. Here's a list of issues we need to sort out before we can consider it a finished feature.

**Critical**

* [X] The availability should be fetched as a collective (which is not the case currently). This is by far the **most critical** issue as it often suggests either invalid times for teams in different time zones, or blocks out valid times

[2022-11-21 05:04] alishaz-polymath commented on #5597
Also adding #5517 to this list

[2022-11-21 08:03] #3085 closed

[2022-11-21 08:22] JeroenReumkens commented on #4544
@Jaibles  No actually it is not. I put most of the UI updates on hold until we have a single source of truth for a component. But since this applies to the public booking page as well, I'm actually picking this up right now, so at least the booking page looks neat 👌

[2022-11-21 08:37] rene-mueller commented on #5235
@devkiran any updates?

[2022-11-21 10:13] CarinaWolli opened #5599 "[CAL-405] Text editor for custom workflow templates"
Add a text editor (WYSIWYG) for custom workflow templates. This is needed to make workflow templates more flexible ([CAL-53](https://linear.app/calcom/issue/CAL-53/more-flexible-workflow-templates)) to for example allow bold text or lists.

[2022-11-21 10:17] PeerRich opened #5600 "[CAL-406] "link-based" apps in app store open in two external tabs"
to debug:

in packages/app-store/pipedream/api/add.ts

there is in line 13: `redirect` which takes an URL and `newTab` true

[https://www.loom.com/share/bb15f730593c475b9d82990544ffe172](https://www.loom.com/share/bb15f730593c475b9d82990544ffe172)

[2022-11-21 12:52] MatheusBeniniF commented on #4980
the same bug happens here, https://www.loom.com/share/7ad89fb8555d45c48028b6e25204bb82, you want to fix this in the same pr or create a new ticket for this?

[2022-11-21 13:46] AlexisSantin commented on #5423
Hello,
I tried to connect the calendar with **Chrome** and **Edge** and I have that message :
Cannot read properties of undefined (reading 'auth')
<img src="https://i.ibb.co/2g73vhQ/Annotation-2022-11-21-144105.png">

But with Firefox I can connect my account but it works sporadically...

**Edge** : Cannot read properties of undefined (reading 'auth')
**Chrome** :  Cannot read properties of undefi

[2022-11-21 13:51] xplosionmind opened #5604 "[CAL-417] “e is undefined” error when adding CalDAV"
### Issue Summary

I see the following error when trying to add a Nextcloud CalDAV url to my [cal.com](http://cal.com) account. **Note**: I already added another CalDAV Nextcloud calendar and everything went smoothly.

![](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/2efd6216-ba6f-42f5-8048-e37a8783cf94/35a8dc6a-e4f9-46ff-a26e-6a7f7a9f1dc8)

![](https://uploads.linear.app/e86bf9

[2022-11-21 14:25] Jaibles commented on #4643
There's also a line-height issue with the nav items causing it to not be vertically centered.

[35e7a9ac-dc46-473b-ab9b-9a3ca5bf6fb2](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/ae93d516-cbea-4285-b0f0-d8d924b7afa2/35e7a9ac-dc46-473b-ab9b-9a3ca5bf6fb2)

[2022-11-21 14:32] harshsinghatz commented on #4643
@Jaibles Got it!, is it a priority fix? or can i do this in a few days?
Because currently my exams are going on, so i would be active after the exams are done!

[2022-11-21 14:43] Jaibles commented on #4643
in a few days is ok! thanks @harshsinghatz  🙏 and good luck in the exams :)

[2022-11-21 14:43] Kfelts commented on #5542
Just wanted to follow up and say it occurred again with a new booking for me. They also aren't showing up on my calendar.

[2022-11-21 14:48] alishaz-polymath commented on #5604
Thanks for the report. I'll add it to the list 🙏

[2022-11-21 14:52] alishaz-polymath commented on #5597
Added #3884 to the list

[2022-11-21 14:52] Jaibles commented on #5578
@Udit-takkar
https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS?node-id=21311%3A144646&t=BTohhd5ULMwJ2CLG-1

<img width="375" alt="CleanShot 2022-11-21 at 14 52 37@2x" src="https://user-images.githubusercontent.com/4536123/203085450-f77c2e95-2a8c-4cda-aaff-927fa3014d9f.png">

[2022-11-21 15:09] shirazdole opened #5605 "[CAL-408] Fixed Round Robin"
MVP of Fixed Round Robin

Person A is fixed Person B round robins through a pool of individuals selected in the event type

[2022-11-21 15:12] shirazdole opened #5606 "[CAL-409] Weighted Round Robin"
Apply weights to the Round Robin attendees

Potential weights:

* Based on # of bookings
* Based on seniority
* Based on a star system (5 Stars, person with a 4 star is selected over person given a 3 star)

[2022-11-21 15:14] milospuac opened #5607 "[CAL-410] Different month showing once I switch to the timezone ahead of my own on the booking page"
[https://app.birdeatsbug.com/sessions/NpQFOvTCGYnwn4LiZT9O8qU2v6pD5mvr2iHl9fagSZtA](https://app.birdeatsbug.com/sessions/NpQFOvTCGYnwn4LiZT9O8qU2v6pD5mvr2iHl9fagSZtA) [https://app.birdeatsbug.com/sessions/NpQFOvTCGYnwn4LiZT9O8qU2v6pD5mvr2iHl9fagSZtA](https://app.birdeatsbug.com/sessions/NpQFOvTCGYnwn4LiZT9O8qU2v6pD5mvr2iHl9fagSZtA)

Created via Threads. See full discussion: [https://threads.com/me

[2022-11-21 15:24] shirazdole opened #5608 "[CAL-411] Round Robin Handover"
The scenario is when there is an Account Executive (Person A) on a Fixed Round Robin with a DevRel (Person B) Round Robining on their link.

When an AE has a call booked, but they want to reschedule the Round Robin Dev Rel to another Dev Rel, there is not an easy way to do that.

* Person A is the Fixed Attendee and Person B is the Round Robin Attendee
* If Person B (DevRel) is already selected, *

[2022-11-21 15:44] Udit-takkar commented on #5578
![image](https://user-images.githubusercontent.com/53316345/203097149-a3f7dbc8-583a-4e2d-b777-569bb1ca2a13.png)

banner z index bug when a modal is open

[2022-11-21 15:47] Jaibles opened #5611 "[CAL-412] Teams Onboarding - UI quick wins"
[https://www.loom.com/share/b1732998a2b84a2dacc8a2b9e2d73cbb](https://www.loom.com/share/b1732998a2b84a2dacc8a2b9e2d73cbb)

@Udit-takkar I'll provide designs for these but some of them are possible to tackle even without.

[Create a team → Step 1 - Cal - Live (Figma)](https://www.figma.com/file/xk4HOxtSI82J0F7enMxeak/Cal---Live?node-id=26%3A69689&t=hHQFqEMaQohJZFMR-1)

[2022-11-21 16:10] Jaibles opened #5612 "[CAL-413] Update the teams invite email"
[New invitation email - Cal - Live (Figma)](https://www.figma.com/file/xk4HOxtSI82J0F7enMxeak/Cal---Live?node-id=26%3A69964&t=hHQFqEMaQohJZFMR-1)

[2022-11-21 16:13] theJoshMuller opened #5613 "[CAL-415] Social Image no longer working on WhatsApp after commit: File size too big"
### Issue Summary

In the past, sharing my [Cal.com](http://Cal.com) link on WhatsApp showed the social image/`og:image` properly, until October 17. All my subsequent shares don't show the social image.

The problem appears to be because of file-size. [WhatsApp's Social Images are limited to a maximum of 300kb](https://stackoverflow.com/a/39182227) in size, where the current file size of the `og:i

[2022-11-21 16:32] Kfelts commented on #5542
Looking further, in my email notifications, it appears that the event is automatically approved around a minute after the initial request is sent to me.
<img width="587" alt="Screenshot 2022-11-21 at 11 29 44 AM" src="https://user-images.githubusercontent.com/51497445/203108977-a8bf4bdf-875f-4e43-9673-91db8041d139.png">
<img width="626" alt="Screenshot 2022-11-21 at 11 30 42 AM" src="https://user-

[2022-11-21 16:41] CarinaWolli opened #5615 "[CAL-414] Cancel bookings that are not yet confirmed"
A user who booked an event that requires confirmation should be able to cancel the booking even when it is not yet confirmed. Currently, the cancel link from the email redirects to /success but there is no option to cancel or reschedule when the booking is not yet confirmed.

![Screenshot 2022-11-21 at 17.40.29.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/c393ca3d-cfa9-4ca7

[2022-11-21 17:15] PeerRich commented on #5613
@JeroenReumkens can you look at this when you are back from OOO?

[2022-11-21 17:19] PeerRich commented on #4980
looks great, ship it!

[2022-11-21 17:29] Jaibles opened #5616 "[CAL-418] Cancelling a booking still going to old screen"
We've created a perfect state for showing a cancelled booking but right now we're still bringing you\\ to this screen after you hit Cancel:

![CleanShot 2022-11-21 at 17.12.01@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/6982f689-bbcf-47d4-8989-c21dbd34462c/9a50c1b2-4e4b-4780-bcc1-4d0fbf4b0fa8)

It should bring you straight here:

![CleanShot 2022-11-21 at 17.13.16@2x.pn

[2022-11-21 17:33] leog opened #5617 "[CAL-419] Intercom app"
Create an Intercom app similar to Calendly: [https://www.intercom.com/app-store/apps/calendly](https://www.intercom.com/app-store/apps/calendly)

[2022-11-21 17:34] leog opened #5618 "[CAL-420] Support WebAuthn"
Implement WebAuthn as a secondary alternative 2FA code method

[2022-11-21 17:35] #5385 closed

[2022-11-21 17:42] PeerRich opened #5619 "[CAL-421] add stripe payments to tips.tsx"

[2022-11-21 18:07] krumware opened #5620 "Password requirement mismatches backend in setup wizard"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

New installations currently require a 15 character minimum on passwords for the new user, but the UI says 8 characters. The failure is not reflected to the UI, and the spinner stays active.

Expected:
UI should handle the error
UI should also probably match the requirements being enforced by the backend (or visa versa).

### St

[2022-11-21 18:27] #5138 closed

[2022-11-21 18:53] shirazdole commented on #5597
Ali this is great. You covered everything that comes to mind. Was not aware of the **critical** portion…

Eventually, it would be a great way to do "dynamic search" to find the usernames of those on your team, maybe cal.com/dynamic and then there's a text box that pulls from a database of usernames from your team based on your account so that it's easier to create the dynamic links

[2022-11-21 19:15] PeerRich commented on #5617
duplicate of https://github.com/calcom/cal.com/issues/1490

[2022-11-21 19:15] #5617 closed

[2022-11-21 19:20] #5580 closed

[2022-11-21 20:06] newz666 opened #5621 "[CAL-436] When creating a booking based on newly created Recurring Event Type - creates a one time event"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

The very first time when selecting a recurring Event Type, the event gets created as a single event,

### Steps to Reproduce

1. Create a new recurring event.
2. Preview or Copy link for that event.
3. Select a date and time. Notice it's missing the recurring dates.
4. Go to bookings. Notice it's missing recurring events.
5.

A

[2022-11-21 20:40] luckman212 commented on #3457
How's Fastmail + CalDAV working these days? (referring to: https://github.com/calcom/cal.com/issues/3457#issuecomment-1289820804)

[2022-11-21 21:19] Udit-takkar commented on #5620
hey @krumware  thanks for reporting this bug. i have fixed this already here https://github.com/calcom/cal.com/pull/5577 and it will be pushed to production in few days.

[2022-11-21 21:23] krumware commented on #5620
awesome, sorry for the double report! Thanks!

[2022-11-21 21:31] melissamarvin opened #5624 "On duplicating an event type, spacing between arrows and label is wide (Length field)"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Spacing between the arrows and the time interval label is about an inch.  Seems like a bit much.

### Steps to Reproduce

1. login to cal
2. click event types
3. click the three dot button
4. click duplicate
5. hover over length

Notice the spacing between the arrows and the label is wide.
Found on a 17 inch monitor.

![length]

[2022-11-21 21:52] Jaibles commented on #5597
Yes we should probably split that out into a sept issue when tackling 👍ok for now.

[2022-11-21 22:38] melissamarvin opened #5625 "[CAL-432] On impersonation, a blank page loads first. You must refresh to see anything."
Found a bug? Please fill out the sections below. 👍

### Issue Summary

On first impersonating another user, a blank screen loads.  See video for dev console error.

### Steps to Reproduce

1. login with a user with admin permissions
2. click settings
3. click impersonate under admin
4. enter the person you wish to impersonate
5. click impersonate

Notice the page that loads is blank

similar behav

[2022-11-21 22:58] jahirfiquitiva opened #5626 "[CAL-430] Event confirmation page shows incorrect event name"
### Issue Summary

I have setup my event to have the name `{ATTENDEE} / {HOST}`, but the confirmation page is showing it as `{HOST} / {HOST}`.

This does not affect the event created in calendars.

![](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/46ce2910-3b3e-4cd1-825c-b1171a7f02e5/72a15deb-c13f-4072-a6df-d3b63643a76f)

![](https://uploads.linear.app/e86bf957-d82f-465e-b205-135

[2022-11-22 05:30] alishaz-polymath commented on #5597
That's the plan @Jaibles As I keep creating a new ticket for each of the issues in the list, I'll start adding the link here to have a single source of all Dynamic Link related issues 🙏

[2022-11-22 06:28] alishaz-polymath commented on #4575
The _Setup your first user_ step is actually useful in case `yarn dx` isn't used for a quick setup, which requires Docker and Docker Compose.
As for signing in from various users, the notes specify that the credentials are logged and available on the console when running `yarn dx`

[2022-11-22 06:28] #4575 closed

[2022-11-22 07:35] aasargsian commented on #5485
Our team used to utilize this feature actively in Calendly. Here is a reference of how it looks there:
<img width="681" alt="image" src="https://user-images.githubusercontent.com/33749906/203252915-b2702c6f-1dc0-4f44-a636-d39bbc0f1f50.png">

[2022-11-22 10:32] Jaibles opened #5628 "[CAL-423] Video/Conferencing App category naming inconsistency"
It's called "Video" in the app store and "Conferencing" in Installed apps.

Change it to Conferencing in the app store.

[2022-11-22 10:34] Jaibles opened #5629 "[CAL-424] Ability to set a default conferencing app"
We need to add the ability to set a default conferencing app.

* **Issue 1:** After creating an account and connecting a Google calendar, both Cal Video & Google Meet appear to be defaults. I don't understand how you can have two defaults, it should be one or the other.
* **Issue 2:**
  * I should be able to set which one is the default
  * I should also be able to install a new conferencing app a

[2022-11-22 10:38] Jaibles opened #5630 "[CAL-426] Event type location - Editing adds another, not replaces existing"
[0f26b4ba-4a5d-4d7f-bd41-bc5622874b05](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/c73c9a82-88bc-457c-8d7d-59037b197fad/0f26b4ba-4a5d-4d7f-bd41-bc5622874b05)

If I click to edit a location, it adds a second one - it doesn't replace the existing one as expected.

[2022-11-22 10:58] Jaibles opened #5631 "[CAL-427] Event type location - Improve the dropdown menu in location edit modal"
**Current**

![CleanShot 2022-11-22 at 10.56.43@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/72a0bbaa-cf18-4cee-9c14-78dadb8fe758/9032b899-6281-4a53-ab4d-e6448f5bfff3)

**Optimal**

![CleanShot 2022-11-22 at 11.01.19@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/6021ffab-7477-40c1-90ea-e35f8588de7e/bc67a371-cc4c-4e78-b511-dd1f99221a27)

If we ca

[2022-11-22 11:00] PeerRich opened #5632 "link location wrong icon and doenst need a tool tip"
<img width="246" alt="CleanShot 2022-11-22 at 10 59 31@2x" src="https://user-images.githubusercontent.com/8019099/203297553-ac4e8f86-c6e0-4941-a984-082191e50fed.png">

[2022-11-22 11:24] Jaibles commented on #3964
[Event type / Advanced 2.1 \[Requires Confirmation On\] - Cal - Live (Figma)](https://www.figma.com/file/xk4HOxtSI82J0F7enMxeak/Cal---Live?node-id=20%3A24769&t=FRUbeHSjntnsEpw9-1)

[2022-11-22 11:31] Jaibles opened #5633 "[CAL-429] Input component - Suffix with dropdown"
[Text Field Brief - ❖ Cal DS (Figma)](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS?node-id=346%3A30200&t=cfC1AJQvn652pNeu-1)

[2022-11-22 12:11] #5619 closed

[2022-11-22 12:27] Udit-takkar commented on #5626
hey @jahirfiquitiva thanks for reporting this bug. we are investigating it.

[2022-11-22 13:03] PeerRich opened #5637 "[CAL-431] WhatsApp Notifications in Workflows"

[2022-11-22 13:09] #5607 closed

[2022-11-22 13:16] PeerRich commented on #5631
agree, both changes are very useful. we can definitley show the logo

[2022-11-22 13:20] PeerRich commented on #5628
just double checked. renaming from video to conferencing will bork a lot of active URLs such as app.cal.com/apps/categories/videos

[2022-11-22 13:21] PeerRich commented on #5628
closing for now since renaming could bork a lot of routes

[2022-11-22 13:21] #5628 closed

[2022-11-22 13:22] Jaibles commented on #5628
@PeerRich what about changing "Conferencing" to "Video" in installed apps then?

[2022-11-22 13:27] #5595 closed

[2022-11-22 13:27] PeerRich commented on #5628
that may bork it in other places. I could research

[2022-11-22 13:31] PeerRich commented on #5628
yup. similar effort / risk ratio of borking something unfortunately. reminder: be careful when naming things haha

[2022-11-22 15:02] Udit-takkar commented on #5600
https://user-images.githubusercontent.com/53316345/203347609-a6204966-956f-4b2a-a8f9-7b67cbe24314.mov

not able to reproduce.

[2022-11-22 15:11] pgegenfurtner opened #5639 "Not able to login in prod build"
### Issue Summary

I installed cal on my server as the guide suggests. I have it running on my domain and set up users directly in the database.
But I'm not able to login. No session gets created in the database and the frontend seems to do nothing. In the network requests I can see a response with the 401 unauthorized status. Environment is setup with correct domains.

Nothing in the apps logs.

[2022-11-22 16:02] PeerRich commented on #5639
can you try an older tag just to test if it works there? cant reproduce

[2022-11-22 16:03] PeerRich commented on #5639
also, did we ship the admin creator UI already @leog @alannnc ?

[2022-11-22 16:46] PeerRich opened #5640 "[CAL-433] adds WhatsApp to location"

[2022-11-22 17:07] #4544 closed

[2022-11-22 17:28] pgegenfurtner commented on #5639
I tried every version going back to 2.1.0
When I'm logging in from localhost:3000 nothing happens.
When I try logging in from localhost:3000/event-types a redirect is happening, but back to the login page.

I get the following response for this request `http://localhost:3000/api/trpc/viewer.me?batch=1&input=%7B%220%22%3A%7B%22json%22%3Anull%2C%22meta%22%3A%7B%22values%22%3A%5B%22undefined%22%5D%7D

[2022-11-22 17:45] PeerRich opened #5642 "[CAL-434] Telegram App"
like whatsapp

[2022-11-22 18:04] PeerRich opened #5644 "[CAL-435] Signal App"
same as Whatsapp and Telegram

[2022-11-22 18:15] #5640 closed

[2022-11-22 19:18] #5581 closed

[2022-11-22 19:37] #5644 closed

[2022-11-22 19:53] zomars commented on #5458
Fixed by #5584

[2022-11-22 19:53] #5458 closed

[2022-11-22 20:19] Udit-takkar commented on #5642
@PeerRich should we also build something like scheduling content ( tweets, posts) like https://feedhive.io/features/scheduling ?

[2022-11-22 22:56] #5642 closed

[2022-11-23 08:50] AlexisSantin commented on #5423
And now I have that when trying to connect my zimbra calendar :
<img src="https://i.ibb.co/qxrwFWp/e-is-undefined.png">
e is undefined.

[2022-11-23 08:52] alishaz-polymath commented on #5423
Interesting. Thank you for reporting this. I'll take a look at this soon 🙏
Thank you for your patience 👍

[2022-11-23 08:54] chrisgick commented on #5545
Seems to be fixed, I also can not reproduce it any more.

[2022-11-23 08:54] #5545 closed

[2022-11-23 09:07] rene-mueller commented on #5464
@Udit-takkar which branch should be tested?

[2022-11-23 09:15] rene-mueller opened #5650 "Schema.org for Event with JSON-LD"
### Is your proposal related to a problem?

In order for the deeplink of a meeting to be indexed, a schema.org mapping is recommended. https://schema.org/Event

[2022-11-23 09:23] milospuac opened #5652 "[CAL-437] Rescheduling a meeting with attendee's phone number as a location throws an error"
[https://app.birdeatsbug.com/sessions/62H9W7sOUwthUMkkVnRd4oBWJUGIoQUYTw5BB3XrKOM8](https://app.birdeatsbug.com/sessions/62H9W7sOUwthUMkkVnRd4oBWJUGIoQUYTw5BB3XrKOM8)

Created via Threads. See full discussion: [https://threads.com/34435195648](https://threads.com/34435195648)

[2022-11-23 09:51] Udit-takkar commented on #5464
@rene-mueller i tried on main branch

[2022-11-23 10:51] milospuac commented on #5650
Hi there. Thanks for reaching out. Our team will look into this

[2022-11-23 14:52] sean-brydon commented on #5625
Hi thanks for reporting this :) I'll investigate this issue in the next few days @melissamarvin

[2022-11-23 16:04] jahirfiquitiva commented on #5588
@PeerRich giving it a more detailed look, I noticed a few things:

- the pink calendar events (default for `cal.com`) are events where I'm kind of the organizer, there are no options to confirm/deny attendance, and I can also see everyone in the meeting.
- the blue calendar events (my personal calendar) are events where I'm like an attendee, I can confirm if I'm attending or not, and I cannot see

[2022-11-23 17:35] zomars opened #5655 "[CAL-438] gCal without selected calendars still blocks availablity"
@zomars No, i didnt connect google Cal – do i need to in order to send emails as google cal event?

I didn't connect it as it's working buggy:
• When it's not connected, all availabilities a displayed correctly (see first screenshot).
• When it's connected *without the calendars toggled for checking conflicts*, immediately some availabilities in my calcom disappear. How come?
I only want the event

[2022-11-23 19:18] #5504 closed

[2022-11-23 19:53] #5548 closed

[2022-11-23 20:55] pgegenfurtner commented on #5639
Also, I could provide a link to my instance and credentials if that helps!

[2022-11-23 21:12] zomars opened #5658 "[CAL-439] Hash My Url tests are flaky"
It seems like sometimes the hashed URL returns 404 on tests:

![image.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/ee54b1d8-b576-4a35-9a4e-dbd3208d1815/c1d8a07a-f827-4306-9ee3-e0b14eebf66c)

[2022-11-23 22:09] rene-mueller commented on #5629
@Jaibles what about Dynamic Events?

[2022-11-23 22:30] #5652 closed

[2022-11-23 23:23] #5589 closed

[2022-11-24 07:41] hrtzg opened #5661 "Incorrect link on "claim username" footer of blog"
### Issue Summary

The claim username button in the footer of blog posts redirects to an incorrect link. Takes you to `https://cal.com/blog/signup?username=` over `https://cal.com/signup?username=`.

### Steps to Reproduce

1. Visited blog post such as https://cal.com/blog/solving-the-mixed-availability-problem-for-good
2. Clicked on claim username button in footer of page

Being caused by /blog/

[2022-11-24 09:53] alishaz-polymath commented on #5570
Hey @belle-isle this appears to be related to the daylight saving time issue. I am currently working on a fix for this and your patience is greatly appreciated in the mean time. Thank you for raising the ticket as well, much appreciated 🙏

[2022-11-24 10:12] alishaz-polymath commented on #4511
Hey @djm-35 @dizys
Are you guys still facing the same error? If so, could you please book a [call with me](cal.com/ali) so that we can explore this?

[2022-11-24 10:41] CarinaWolli opened #5663 "[CAL-440] Font size of text area gets larger on mobile"
### Issue Summary

The font size of text area gets larger with a smaller screen.

**Normal screen:**

![](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/23daae55-ceb6-4a1d-b9fa-5962489d63d6/f91fc0ec-c31a-49de-ae2f-d7fd43e7453d)

**Mobile:**

![](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/75591bf2-8cc2-4c0e-b681-0a2598a642d4/6b85ee65-d04d-4bfc-bb4b-768bf2fed4f4

[2022-11-24 11:07] #5309 closed

[2022-11-24 11:53] #5631 closed

[2022-11-24 12:25] #5630 closed

[2022-11-24 13:29] Udit-takkar commented on #5611
<img width="603" alt="Screenshot 2022-11-24 at 6 58 23 PM" src="https://user-images.githubusercontent.com/53316345/203795943-588397a7-18f4-42e2-8c5e-4edf51181e79.png">

should i change the label to email instead of "email or username" ?

[2022-11-24 13:39] Toledodev commented on #5663
Hey @CarinaWolli , I'm pretty sure I already fixed the problem, could you show me how I get to that TextArea in the screenshot?

[2022-11-24 13:49] Jaibles commented on #5611
are we able to add someone via username?

[2022-11-24 13:57] Udit-takkar commented on #5611
ok it is also working if i enter cal username. but this was not written in designs on figma.

[2022-11-24 14:09] CarinaWolli commented on #5663
Hey @Toledodev, the screenshot is from https://app.cal.com/settings/developer/webhooks/new when adding a custom payload template

[2022-11-24 14:35] Jaibles commented on #5611
yea sorry an oversight on my part. I didn't realise we could.

[2022-11-24 14:53] mishushakov opened #5665 "[CAL-443] Broken page for events that do not exist"
### Issue Summary

When you visit an event which does not exist, the title of the page turns `undefined` and no slots are available
No 404 Page is displayed

### Steps to Reproduce

Go to a event that does not exist
example: [https://cal.com/user/30m](https://cal.com/user/30m)

Any other relevant information. For example, why do you consider this a bug and what did you expect to happen instead?

#

[2022-11-24 15:24] rene-mueller commented on #5464
@Udit-takkar the mail delivery works now :)

[2022-11-24 15:35] Udit-takkar commented on #5464
great

[2022-11-24 15:35] #5464 closed

[2022-11-24 16:05] milospuac commented on #5665
@emrysal if you type in a wrong URL for the event type it should return 404, right?

[2022-11-24 16:39] PeerRich commented on #5661
thank you!

[2022-11-24 16:52] PeerRich opened #5666 "[CAL-441] i18n: translate attendee phone number and other video options if possible"
Hello

I am a new user - very interesting application! I like it very much
I changed the language (-> French) and some pieces of text are not translated. Surely you knew that? In doubt I put you some screenshots.

[2022-11-24 17:29] Jaibles opened #5667 "[CAL-442] Groups within teams"
We will need some way to be able to organise departments within teams.

[Cal.com](http://cal.com/)﻿

* Sales at Cal
* Engineering at Cal
* Marketing at Cal

[2022-11-24 17:35] shirazdole commented on #5667
Certain team members should only have access to certain teams?

This feels kinda relevant here as well: [https://linear.app/calcom/issue/CAL-385/ability-to-make-a-user-an-owner-of-a-single-team-event-rather-than-the](https://linear.app/calcom/issue/CAL-385/ability-to-make-a-user-an-owner-of-a-single-team-event-rather-than-the)

[2022-11-24 17:39] PeerRich commented on #5667
i think alternatively we introduce "Organisations" one layer above teams. so you are part of an Org and then the team is just "Sales"

[2022-11-24 17:40] #4980 closed

[2022-11-24 17:49] Udit-takkar opened #5669 "[CAL-444] [CAL-445] Reschedule dialog UI is broken"
### Issue Summary

Reschedule dialog UI is broken.

![](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/e5bbc69e-eff7-48bc-901d-200c4d1f9323/131420c3-bab0-4127-835a-b1accdc69e39)

How to reproduce?

1. go to bookings
2. Click request reschedule

![](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/5db20aa2-1b1c-4cf3-b81d-ab119100bdc7/a050f04f-0bd6-49a2-8516-51f5925d0

[2022-11-24 18:16] #3875 closed

[2022-11-24 18:18] PeerRich commented on #5650
replied in slack

[2022-11-24 18:19] PeerRich commented on #2799
long done

[2022-11-24 18:19] #2799 closed

[2022-11-24 18:21] PeerRich commented on #5600
ok closing for now

[2022-11-24 18:21] #5600 closed

[2022-11-24 18:33] PeerRich commented on #5588
@alishaz-polymath or @Udit-takkar can you try to reproduce this?

[2022-11-24 18:42] PeerRich commented on #5629
i wonder how that would work if people have different dynamic events

[2022-11-24 18:42] PeerRich commented on #5629
maybe the first person in the link will be used? like cal.com/peer+bailey will have my default whereas cal.com/bailey+peer has bailey's default

[2022-11-24 18:43] PeerRich commented on #5629
@Jaibles btw. the default here is actually a wrong word, it should be "installed"

because right now there is no way to uninstall google meet. we should change that and keep Cal Video as default for now.

![CleanShot 2022-11-24 at 18 43 11](https://user-images.githubusercontent.com/8019099/203849477-d56e476b-7e51-4451-a45d-0adb3ebcb993.jpg)

[2022-11-24 19:15] PeerRich commented on #5094
yes, we assigned @alishaz-polymath for it

[2022-11-24 19:16] PeerRich commented on #5568
yes, that is a known issue based on how google meet is currently implemented. @zomars i think had some ideas how we can make google meet independent of google calendar

[2022-11-24 21:38] PeerRich commented on #5642
i dont think that makes sense

[2022-11-24 21:43] Jaibles commented on #5629
Right, Cal video should start as the default but you should be able to change the default right?

[2022-11-24 21:55] rene-mueller commented on #5629
@Jaibles I think it's good as a default, but it should be changeable, possibly in the admin area for self-hosted. For dynamic events, the default should come from the first person, as @PeerRich wrote.

[2022-11-24 21:59] Jaibles commented on #5629
Why not closer to the installed app like the designs above?

[2022-11-24 23:38] PeerRich commented on #5629
i think on cal.com it should always be cal video as default when creating new event types

its easy enough to change

i see this as a low priority, high complexity issue

rather postpone to be honest

[2022-11-24 23:40] PeerRich opened #5672 "[CAL-447] rethink google meet"
* dont make it installed by default
* ability to use google meet without google calendar

<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-447](https://linear.app/calcom/issue/CAL-447/rethink-google-meet)</sub>

[2022-11-25 00:06] Jaibles commented on #5629
Is it not a quick fix to at least just communicate that cal video is the default?

[2022-11-25 00:36] Toledodev commented on #5663
Ok, I checked now and I fixed the problem. I will open a PR, thanks 😄

[2022-11-25 01:20] #1545 closed

[2022-11-25 11:11] rene-mueller commented on #5667
That sounds great :)

[2022-11-25 11:22] gGh00sTt opened #5678 "Event Requiring confirmation gets automatically removed from /Bookings/Unconfirmed upon rescheduling"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

If the user books an event that requires confirmation and reschedules it, the event gets automatically removed from /Bookings/Unconfirmed without the confirmation by event creator. Also, no rescheduling mail gets sent to the event creator or one who booked after rescheduling. However, the events didn't appear on the calendar so

[2022-11-25 11:32] Jaibles commented on #5667
I agree with this.

[2022-11-25 12:12] #5594 closed

[2022-11-25 12:15] CarinaWolli opened #5681 "[CAL-449] Usage of old select component"
### Issue Summary

The old select component is used everywhere.

No rounded corners:
![Screenshot 2022-11-25 at 13 12 01](https://user-images.githubusercontent.com/30310907/203983831-94ab98de-54da-41f7-99d9-d4b58f471302.png)

<sub>[CAL-449](https://linear.app/calcom/issue/CAL-449/usage-of-old-select-component)</sub>

[2022-11-25 12:16] CarinaWolli commented on #5681
@JeroenReumkens I think it's coming from this PR: #5561

[2022-11-25 12:36] #5625 closed

[2022-11-25 12:59] #5611 closed

[2022-11-25 13:55] alannnc opened #5684 "[CAL-450] Create Webhooks at an Org. level, not just per event type"
<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-450](https://linear.app/calcom/issue/CAL-450/create-webhooks-at-an-org-level-not-just-per-event-type)</sub>

[2022-11-25 14:16] kolaente opened #5685 "Public booking page does not work at all in Firefox"
### Issue Summary

The booking page does not work in Firefox. I only see a blank page:

![image](https://user-images.githubusercontent.com/13721712/204003325-4451745a-54b3-477b-90d9-c2e1cd262964.png)

The same page works fine in Chrome.

I discovered this on my self-hosted instance but it does not seem to work on the SaaS at cal.com either.

### Steps to Reproduce

1. Open any public booking page

[2022-11-25 14:34] #5599 closed

[2022-11-25 14:50] #5616 closed

[2022-11-25 15:08] Toledodev commented on #5681
Hey @CarinaWolli, are you sure this pr will solve this issue? I took a look at it and I didn't find something to replace the select

[2022-11-25 16:41] shirazdole opened #5687 "[CAL-452] Create "User Groups" that can be added to an "Event Type""
Similar in Slack, you can create a "User Group" that you then go @sales or @cohort to a channel and it adds everyone. We could adopt a similar type of "group" to make it easier for admins to bulk add folks to an event type.

See here for more details: [https://slack.com/help/articles/212906697-Create-a-user-group](https://slack.com/help/articles/212906697-Create-a-user-group)

<sub>From [SyncLinea

[2022-11-25 16:58] PeerRich opened #5689 "[CAL-453] add shortlinks to tips.tsx"
<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-453](https://linear.app/calcom/issue/CAL-453/add-shortlinks-to-tipstsx)</sub>

[2022-11-25 17:36] CarinaWolli commented on #5681
@Toledodev I was thinking that the changes from this PR may have caused this issue

[2022-11-25 17:39] Toledodev commented on #5681
Ok, I will fix this 😁

[2022-11-25 17:44] CarinaWolli commented on #5685
It is working for me:
<img width="929" alt="Screenshot 2022-11-25 at 18 43 15" src="https://user-images.githubusercontent.com/30310907/204034950-d243367e-e0cd-42b8-8152-b42af717a8df.png">

[2022-11-25 17:50] PeerRich commented on #4596
@alannnc can you investigate?

[2022-11-25 17:52] PeerRich commented on #5678
@Udit-takkar can you investigate this?

[2022-11-25 18:03] PeerRich commented on #5667
for now, the cal.com/ultimate plan fixes this. will reopen if we need it on cal.com free and team plans, too

[2022-11-25 18:03] #5667 closed

[2022-11-25 19:38] alannnc commented on #4596
Hey @Guray00 I will be investigating this issue.
My guess is there still some kind of recurrent event in your calendar. Feel free to book a 1:1 with me to debug this https://cal.com/alancalcom/15min
In the meanwhile I will take a look at the code to see if I can detect anything.

[2022-11-25 19:50] Guray00 commented on #4596
Thanks you for your support, how much before should I book?

I I should not have any recurring event, with calendy I haven't got any issue

[2022-11-25 21:33] PeerRich commented on #5539
@emrysal

[2022-11-25 21:34] PeerRich commented on #2854
take a look at "whereby" app to copy it!

[2022-11-25 21:36] PiotrKrzyzek opened #5693 "[CAL-907] Allow for users to use individual Zoom Accounts"
### Is your proposal related to a problem?

We are able to create one Zoom integration with one account and set the secret and private Zoom developer keys in the environment file, and that all works well. Though that integration works and is set for only one Zoom user.

This creates limitations as users then cannot add their own zoom accounts for scheduling private meetings. Nor are users able to

[2022-11-25 22:12] sean-brydon opened #5695 "[CAL-454] Our new top banner component doesnt reflect dialog blur"
![CleanShot 2022-11-25 at 22.11.27@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/6123d206-1b25-4380-93fd-dc324b47da4d/7f0a9c1d-4d61-4667-a92b-52799cf29a16)

<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-454](https://linear.app/calcom/issue/CAL-454/our-new-top-banner-component-doesnt-reflect-dialog-blur)</sub>

[2022-11-26 07:29] harshsinghatz opened #5701 "Add: pre-push instead of pre-commit"
### Is your proposal related to a problem?

- Currently we are using husky pre-commit hook which works fine but it leads to a bad DX as it provides resistance for the developer to make smaller and frequent commits
- I like to make small commits but waiting for the pre-commit to run every time makes me not want to do it

### Describe the solution you'd like
- Add pre-push hook rather than pre-commi

[2022-11-26 07:58] Udit-takkar commented on #5695
yeah i have raised this issue here https://github.com/calcom/cal.com/issues/5578#issuecomment-1322259511

[2022-11-26 12:50] #5663 closed

[2022-11-26 13:05] shirazdole commented on #5667
@PeerRich — I realize you've explained this multiple times for me, but could you explain again why Ultimate fixes this?

[2022-11-26 13:10] PeerRich commented on #5701
@zomars i am open to do pre-push instead

[2022-11-26 13:10] #5689 closed

[2022-11-26 13:24] zomars commented on #5701
We're only doing lint/formatting in pre-commit. We're not running any tests. Commits should not take that long to run. I would agree if we were doing more heavy intensive work but it's not the case.

Also you can always add the `-n` to skip it locally but we need the code formatted and listed in CI anyways so the failure will be translated to the cloud instead.

[2022-11-26 13:51] harshsinghatz commented on #5701
@zomars I think we're also running build and add scripts for app-store, but yeah they don't take much time. Also would there be any other problem related to pre-push because i think we still would be able to do lint/formatting in pre-push?

[2022-11-26 15:08] PeerRich commented on #5667
@shirazdole

ultimate customers OWN the entire database which means they can open a team "marketing" that wont have a name-conflict with others

essentially:

acme.cal.com/team/marketing

would work for acme

whereas on a TEAM plan it would need to be

cal.com/team/acme-marketing

the subdomain is the organisation

[2022-11-26 15:11] shirazdole commented on #5667
I don’t believe we are talking about the same thing here then 🙏🏽

What Ciarán and I are discussing is a department sitting within a company or organization

So everyone belongs to the organization, but not everyone belongs to say Marketing or Sales

Within the “‘Marketing Team” there will be team events that belong just to that team

[2022-11-26 21:18] miroslavpejic85 commented on #2854
Forgive me, but I don't understand what should I copy?
I think MiroTalk not need to copy others, it has all the features for a video conferences and more.. :)

[2022-11-26 23:07] PeerRich opened #5702 "[CAL-457] cal video recordings"
<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-457](https://linear.app/calcom/issue/CAL-457/cal-video-recordings)</sub>

[2022-11-26 23:07] PeerRich opened #5703 "[CAL-458] bitcoin app"
<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-458](https://linear.app/calcom/issue/CAL-458/lightning-network-app)</sub>

[2022-11-26 23:09] PeerRich commented on #5483
update: we’ll try to talk to google and zoom to expedite verification so people can use their own keys but speed up the process

[2022-11-26 23:09] PeerRich commented on #5483
which means we may move the “app abstraction” implementation a bit back

[2022-11-26 23:10] #5276 closed

[2022-11-26 23:10] #5626 closed

[2022-11-27 03:25] Zo-Bro-23 opened #5706 "Default Availability is what is used for ALL events"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

I have two availabilities: Working Hours and Flexible. Flexible is what I use for my hobbies, and it consists only of afternoon hours while Working Hours consists of most of the day. I have two events: Quick Chat (Working Hours) and Flexible (Flexible). Both the events, however, show the same availability, and this is whatever

[2022-11-27 06:42] harshsinghatz commented on #5684
@alannnc More info about this issue?

[2022-11-27 11:23] PeerRich commented on #5667
that is exactly what i am explaining

everyone belongs to

acme.cal.com

but only marketing belongs wto acme.cal.com/team/marketing

[2022-11-27 11:43] PeerRich commented on #5505
agree

[2022-11-27 11:43] PeerRich commented on #5706
@emrysal

[2022-11-27 11:44] PeerRich commented on #4052
@lienista dont worry, it'll be removed in the next update

[2022-11-27 11:47] PeerRich commented on #2854
no, i am referring to the whereby app in our code base

[2022-11-27 12:25] peter-palmer opened #5708 "Railway: Your project has no deploys"
### Issue Summary

Hello, I have been trying to one-click deploy cal on Railway (with the button attached in the README.md) but seems not to work.

I have followed the tutorial https://blog.railway.app/p/calendso but when I deploy the application, Raiway says: Your project has no deploys.

The database seems to deploy correctly. Is the github repo that is not being deployed.

### Steps to Reproduc

[2022-11-27 12:58] Udit-takkar opened #5709 "[CAL-459] disable save button when nothing has changed in /event-types/[type]"
![](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/571e3c13-0802-4e53-8a92-492e28ac47e5/d5b3b01c-6cbe-44ef-b1ff-8ea8d4372b10)

The save button on top right should be active only when something has changed.

<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-459](https://linear.app/calcom/issue/CAL-459/disable-save-button-when-nothing-has-changed-in-event-types[type])</sub>

[2022-11-27 13:00] #5695 closed

[2022-11-27 14:20] Zo-Bro-23 commented on #5706
This seems like a pretty bad issue, if I'm not wrong, so do you mind adding the high priority label? Thanks!

[2022-11-27 14:50] emrysal commented on #5706
Confirmed this is happening, pretty bad regression. Thanks for your report @Zo-Bro-23 - working on a fix with top priority.

[2022-11-27 15:44] emrysal commented on #5706
I've already cherry-picked this to production.

@Zo-Bro-23 Thank you for the quick spot; existing availability wasn't broken but on save of an event type the availability would be overriden by the default. A fix is already cherry-picked to production and a backport is in PR @ https://github.com/calcom/cal.com/pull/5710.

It also contains an backward compatibility fix so it will rectify itself on n

[2022-11-27 15:57] harshsinghatz commented on #5346
@Jaibles updates on this?

[2022-11-27 17:10] alishaz-polymath commented on #3457
@luckman212 It is working perfectly as far as I could test :)
If you find any issues, please feel free to tag me in 🙏

[2022-11-27 22:23] PeerRich commented on #5346
we'll put this on the backburner, maybe Q1 or Q2

[2022-11-27 22:33] PeerRich opened #5712 "[CAL-460] add each app from the app store to KBar"
![CleanShot 2022-11-27 at 22.33.35.jpg](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/24d58f98-9291-41f1-9cc0-afd60ff1042a/2d43211a-8c76-41aa-83c8-2de55a454be5)

<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-460](https://linear.app/calcom/issue/CAL-460/add-each-app-from-the-app-store-to-kbar)</sub>

[2022-11-28 03:34] Zo-Bro-23 commented on #5706
OMG, thanks so much! This is a really quick fix!

[2022-11-28 03:34] #5706 closed

[2022-11-28 07:41] aasargsian commented on #5444
@Jaibles Just wanted to quickly check if the radio buttons are still in the works?
We are looking forward to this functionality. We will be waiting for radio buttons to roll out Cal.Com at SleepDoctor ;)

[2022-11-28 09:34] kolaente commented on #5685
I've tried this on a Windows and Ubuntu system as well and it seems to work fine there. Looks like this only does not work on _my_ firefox.

[2022-11-28 09:37] kolaente commented on #5685
Does not seem to be a problem of any of my addons. (restarted in safe mode, does not work either)

Is there a way I can debug this properly? Maybe with some kind of debug build?

[2022-11-28 10:30] JeroenReumkens commented on #5317
Yes you're right @gGh00sTt  this has been fixed. Thanks for checking though 🙏

[2022-11-28 10:30] #5317 closed

[2022-11-28 10:35] JeroenReumkens commented on #5681
Hey @Toledodev  Were you already able to take a look at this? The fix for this is pretty minor, so if you didn't have the time yet I'd love to take this over from you so we can have to fix live asap. Thanks 😁

[2022-11-28 11:05] Jaibles opened #5718 "[CAL-461] Top banner should go across the entire app"
The top banner relates to all pages and should therefore go across the top of the entire app. Right now if feels like it could pertain to one page.

![CleanShot 2022-11-28 at 11.04.56@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/a81a8736-f8d2-489b-b291-3d7e863a5da3/d5253a8a-4de3-4e4b-ad3b-89116a1fd3e3)

[6ccca3fa-625c-4738-a12b-743e5a49b8be](https://uploads.linear.app/e8

[2022-11-28 11:18] Jaibles opened #5720 "[CAL-462] Team settings dropdown menu should be open when you navigate from Teams"
Currently when you click a team and go to settings, the dropdown doesn't open to show you where you are. When you arrive here from clicking a team, the dropdown should already be open

[2d59ae2e-8c94-4926-9510-482556772284](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/fadc08a9-9557-4de7-a29f-101e9958f2dc/2d59ae2e-8c94-4926-9510-482556772284)

<sub>From [SyncLinear.com](https://s

[2022-11-28 11:20] Jaibles opened #5721 "[CAL-463] Clicking Members from event types screen should take you to the members page"
Currently when you click the members on the event types page you're just taken to team in the settings. It should take you directly to the members page (with the sidebar dropdown menu open).

[05c66b99-44ae-40de-ba66-0e9e4cb90481](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/ea7d931a-c271-43d8-9d4f-4d0335cfc35b/05c66b99-44ae-40de-ba66-0e9e4cb90481)

<sub>From [SyncLinear.com](ht

[2022-11-28 12:05] milospuac commented on #5587
@emrysal

[2022-11-28 12:18] PeerRich commented on #5721
great observation

[2022-11-28 12:18] PeerRich commented on #5721
teams => settings has been rough since introduction

[2022-11-28 13:31] welovewebeu opened #5723 "Full HTML formating for emails"
We would like to request an improvement to the autoresponder email editor.
Now the possibility of formatting the email that arrives after booking a date is very limited.

It would be great if it would be **possible to use all standard html tags** to format the email message.

That way we could insert images, format text, add a signature, etc.

[2022-11-28 14:16] PeerRich commented on #5723
where exactly? In workflows or where?

[2022-11-28 14:46] JeroenReumkens opened #5728 "[CAL-464] Improve shell component"
* [ ] Navigation structure
* [ ] Profile block

![image.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/63c70ccf-5ac9-49ce-be98-b764c78a6807/46547cd5-0d47-4467-a215-d8ea10761233)

<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-464](https://linear.app/calcom/issue/CAL-464/improve-shell-component)</sub>

[2022-11-28 14:47] JeroenReumkens opened #5729 "[CAL-465] Improve chart styles"
See two examples below:

![image.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/32aec868-72d1-4255-96e3-63e1a7de7678/fa192ea9-da68-43c5-b49d-f48813dd3f4a)

![image.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/a1c3362a-ec73-4520-bfaf-85f2c5cd6bd8/56e3f972-c11a-4cdb-8d09-a26d6c92256d)

<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-465](https:

[2022-11-28 14:48] JeroenReumkens opened #5730 "[CAL-466] Dashboard layout"
* [ ] New chart
* [ ] See if we have data per day rather than only on monthly basis
* [ ] Add pagination for chart
* [ ] Update widgets design

![image.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/d9809f3e-2751-46db-b00d-ad748b4a8304/a3c70bce-a5dc-4217-8657-c8540d9ac513)

<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-466](https://linear.app/calcom/issue/CAL-466/

[2022-11-28 14:49] JeroenReumkens opened #5731 "[CAL-467] Billing page"
* [ ] Ui update
* [ ] Add charts

![image.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/f84d2d7c-6582-4151-9f24-6e84e461204a/513e7113-8da5-456f-acbc-242efe2aad24)

<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-467](https://linear.app/calcom/issue/CAL-467/billing-page)</sub>

[2022-11-28 14:49] JeroenReumkens opened #5732 "[CAL-468] Deployments empty state"
![image.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/521afdfd-5f50-4f8a-9dc9-dfd50131d716/cd837a07-3a8b-4700-8973-d50aceec08cd)

<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-468](https://linear.app/calcom/issue/CAL-468/deployments-empty-state)</sub>

[2022-11-28 14:50] JeroenReumkens opened #5733 "[CAL-469] Deployments overview layout"
* [ ] Layout is probably slightly different when there is only one deployment. See figma.

![image.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/411fb460-f61a-433f-866e-fc93f5b86f5e/fdd69da2-955d-47e6-8b07-924b975a8cb8)

<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-469](https://linear.app/calcom/issue/CAL-469/deployments-overview-layout)</sub>

[2022-11-28 14:53] JeroenReumkens opened #5734 "[CAL-470] Verify onboarding and deployment wizards"
For now it seems that the design already is implemented correctly for that. This ticket merely serves as a double check for that.

<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-470](https://linear.app/calcom/issue/CAL-470/verify-onboarding-and-deployment-wizards)</sub>

[2022-11-28 14:57] #5728 closed

[2022-11-28 14:57] #5729 closed

[2022-11-28 14:58] #5730 closed

[2022-11-28 14:58] #5731 closed

[2022-11-28 14:58] #5732 closed

[2022-11-28 14:59] #5733 closed

[2022-11-28 14:59] #5734 closed

[2022-11-28 15:51] zomars commented on #5539
@leog do you have bandwidth to investigate this one?

[2022-11-28 15:52] #5669 closed

[2022-11-28 15:53] gzim-joinfella opened #5735 "[CAL-572] Webhooks: not triggering"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Hey cal.com team,

We at Fella health have been using cal.com for a while now.
Recently, we had the need to add a new coach to our team, and we added two new event types. We quickly noticed that we are no longer receiving webhook events for these new event types.

Basically, it works fine for our existing team members/event-typ

[2022-11-28 16:04] PeerRich opened #5736 "[CAL-472] better empty screen /teams"
<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-472](https://linear.app/calcom/issue/CAL-472/better-empty-screen-teams)</sub>

[2022-11-28 16:07] PeerRich opened #5737 "[CAL-473] RFC: paid addons in app store"
Problem:

- we need a way to charge for features (SMS reminders, cal video recordings, disable branding)
- but we don't have a PRO plan anymore, only TEAMS
- for solo people, it doesn't make sense to upgrade to TEAM (and its confusing, why would I need to create a team to disable branding)

<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-473](https://linear.app/calcom/issue/CAL-473/come-

[2022-11-28 16:08] PeerRich commented on #5483
moved to backlog for now

[2022-11-28 17:00] Jaibles opened #5738 "[CAL-474] /event types - Teams promo banner on empty state page"
Adds a promo banner to the event types page for people who don't have teams.

[   ↳ Teams promo banner in event types - Cal - New Features (Figma)](https://www.figma.com/file/UajFu4M1APhn2AywAEJkJr/Cal---New-Features?node-id=923%3A95999&t=qFRVBQa7sYYtMQ5r-1)

* we already have a cookie for hiding sidebar tips which can be reused: only show if notInTeam

![CleanShot 2022-11-28 at 16.59.50@2x.png](h

[2022-11-28 17:20] zomars opened #5739 "[CAL-475] Additional notes added on booking have a formatting issue in the confirmation email"
Additional notes added on booking have a formatting issue in the confirmation email

Created via Threads. See full discussion: [https://threads.com/34435710075](https://threads.com/34435710075)

<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-475](https://linear.app/calcom/issue/CAL-475/additional-notes-added-on-booking-have-a-formatting-issue-in-the)</sub>

[2022-11-28 17:20] zomars commented on #5739
![image.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/551326f0-b658-4f73-ac76-d6ef78b7a1c7/8780aa28-d01d-40e8-8fab-23f2c82c7b21)

[2022-11-28 18:04] PeerRich commented on #5735
alternatively, @CarinaWolli can take a look too

[2022-11-28 18:14] #1529 closed

[2022-11-28 18:18] PeerRich opened #5740 "[CAL-476] extract booking page into our first "Cal Atom""
<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-476](https://linear.app/calcom/issue/CAL-476/extract-booking-page-into-our-first-cal-atom)</sub>

[2022-11-28 18:18] PeerRich opened #5741 "[CAL-477] create new nextjs app that is being used for public booking pages"
i.e. cal.com/peer should run on its own and ship as a standalone app (not with all the logged-in area stuff)

<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-477](https://linear.app/calcom/issue/CAL-477/create-new-nextjs-app-that-is-being-used-for-public-booking-pages)</sub>

[2022-11-28 18:19] PeerRich opened #5742 "[CAL-478] use <Scheduler/> in the new "Booker" App"
<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-478](https://linear.app/calcom/issue/CAL-478/use-scheduler-in-the-new-booker-app)</sub>

[2022-11-28 18:19] PeerRich opened #5743 "[CAL-479] use the tRPC + public API encapsulation for Booker + <Scheduler>"
<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-479](https://linear.app/calcom/issue/CAL-479/use-the-trpc-public-api-encapsulation-for-booker-scheduler)</sub>

[2022-11-28 18:20] PeerRich opened #5744 "[CAL-480] Reserveration system"
which "reserves" a time slot as soon as its being selected. it has to expire after 15 minutes, see RFC: [https://github.com/calcom/cal.com/discussions/5610](https://github.com/calcom/cal.com/discussions/5610)

<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-480](https://linear.app/calcom/issue/CAL-480/reserveration-system)</sub>

[2022-11-28 18:20] PeerRich opened #5745 "[CAL-481] more love for mobile booking page"
cc @Jaibles  and @JeroenReumkens

<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-481](https://linear.app/calcom/issue/CAL-481/more-love-for-mobile-booking-page)</sub>

[2022-11-28 18:21] PeerRich opened #5746 "[CAL-482] dynamic booking links currently use a different layout"
cal.com/peer+bailey

should be refactored and use the same layout as normal links

especially dark mode, avatar borders are broken

<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-482](https://linear.app/calcom/issue/CAL-482/dynamic-booking-links-currently-use-a-different-layout)</sub>

[2022-11-28 18:26] PeerRich opened #5747 "[CAL-483] add new "Calendar View" in new <Scheduler/> as a Prop and new Booker App"
<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-483](https://linear.app/calcom/issue/CAL-483/add-new-calendar-view-in-new-scheduler-as-a-prop-and-new-booker-app)</sub>

[2022-11-28 18:39] JohanForngren commented on #5421
Duplicate of #4733?

[2022-11-28 18:54] rice-b opened #5748 "ability to block book time so calendar slots will not be available"
I got booked when I was unavailable because my cal.com allowed the user to book my diary when I had something else on.
I'd like for it to not allow for bookings if my linked calendar already has a calendar event scheduled.

Could I add a recurring all day booking or long term calendar invite to stop bookings - i.e. over Christmas / holidays. But I also think there is a conflict feature it just doe

[2022-11-28 19:11] rice-b commented on #5748
it might be something in "Limit future bookings" to allow for a section to add in dates that are not bookable.

[2022-11-28 20:44] kvdb opened #5749 "cal.com not preventing users from booking a meeting when busy"
### Issue Summary

I've setup cal.com with 3 calendars (1x google calendar, 2x caldav through SOGo (mailcow))

![Screenshot from 2022-11-28 21-38-07](https://user-images.githubusercontent.com/97039/204376252-afcb5ec6-9e48-4eb2-b667-66a6e64d194e.png)

If I look at my caldav, it's already having appointments at those times, (repeating events). I'd expect no options to show up for that day at all.

T

[2022-11-28 22:34] PeerRich opened #5750 "[CAL-484] fix whereby validation for team.whereby.com"
<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-484](https://linear.app/calcom/issue/CAL-484/fix-whereby-validation-for-teamwherebycom)</sub>

[2022-11-28 22:46] HelloAlexPan opened #5751 "Cal.com not changing availability for event"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

A summary of the issue. This needs to be a clear detailed-rich summary.

### Steps to Reproduce

1. Have an event in the Sydney timezone
2. Go to /availability and create a new availability in the Taipei timezone
3. Go to original event and swap Sydney availability to new Taipei availability
4. Click save
5. The availability in

[2022-11-28 23:35] RiRe commented on #5312
Same problem here

[2022-11-29 00:09] MatheusBeniniF commented on #5721
@Jaibles, @PeerRich not better just render `Icon.FiUsers` when is a team? for me is better this
![image](https://user-images.githubusercontent.com/88898100/204406652-6cb45592-d943-452f-bfc3-1ebfb0894f77.png)

[2022-11-29 02:19] ito-desserts commented on #5751
Thanks @HelloAlexPan ! I am also experiencing the same issue with availabilities - the default availability settings seem to be applied to all event types in my case.

Thank you in advance for looking into this issue :)

[2022-11-29 04:49] frill-overwrite opened #5754 "Recurring Event Booking does not block off earlier dates that overlap with the booking"
### Issue Summary

Given you have a recurring event that runs for *2 occurrences*,
if the event is booked on Friday 12/9 at 5pm (which then correctly creates a booking for both 12/9 & 12/16 both at 5pm as expected), it would also be expected that Friday 12/2 at 5pm would no longer be available due to a collision between the prior booking and the second occurrence of the attempted booking on 12/9 @

[2022-11-29 05:02] frill-overwrite opened #5755 "Cal-Dav App does not check Next Cloud calendar conflicts (blocked off dates listed as available)"
### Issue Summary

Given cal.com is able to add new bookings to selected Next Cloud calendar,
and given the same calendar has been selected in the cal.com settings to be monitored for conflicts,
Cal-Dav app lists unavailable times (blocked off on selected calendar) as available for booking.

### Steps to Reproduce

0. Manually block off dates/times on Next Cloud calendar
1. Add Cal-Dav app
2. Add

[2022-11-29 06:38] xdaluca opened #5756 "Proton Calendar Integration"
### Is your proposal related to a problem?

for [Proton Calendar](https://proton.me/calendar) users, need to use .ics

### Describe the solution you'd like

integration with [proton calendar](https://proton.me/calendar) for availabilities and meeting confirmations, finally I can give up on google altogether.

### Describe alternatives you've considered

manual process, or Google.

### Additional c

[2022-11-29 08:24] Jaibles commented on #5721
Yes, show the icon only for teams as per Figma 👍

[2022-11-29 08:24] janjaromirhorak opened #5757 "Unable to register on cal.com - 500 Internal Server Error"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Not sure if it belongs here, since it is possibly only an issue with the official deployment on cal.com. But I was not able to find a support contact there, so I am trying my luck here.

I am not able to register to the app. After entering the preferred username, e-mail and password and clicking on "Sign up for free", a "Someth

[2022-11-29 09:02] CarinaWolli opened #5758 "[CAL-485] Missing rounded corners team member settings"
Missing rounded corners when 3 buttons

![Screenshot 2022-11-29 at 10 00 06](https://user-images.githubusercontent.com/30310907/204484795-ea5e3d7f-d6c9-45f0-b564-388188700cd1.png)

<sub>[CAL-485](https://linear.app/calcom/issue/CAL-485/missing-rounded-corners-team-member-settings)</sub>

[2022-11-29 09:09] vallbrd opened #5759 "[CAL-910] Pre-select country for phone number"
Currently when a person has to enter his phone number, he has to select the country or enter the code after "+"

![image](https://user-images.githubusercontent.com/99829906/204486474-e03e66c9-3b94-4495-bcff-c18247b78978.png)

We should add the possibility to pre-select a country for a form

![image](https://user-images.githubusercontent.com/99829906/204486785-bd64fb17-86bb-4d7b-85c7-4cf241647f88.p

[2022-11-29 09:12] gGh00sTt commented on #5678
Hello @PeerRich, I was trying to see if I can fix this issue. But I figured out that this really isn't a bug. It happens only when we are testing on a local machine using the same browser where the event owner is logged in to make the booking and reschedule the booking. The user's session id was compared with the current user id  to determine if the user is the event owner. If the event owner trie

[2022-11-29 09:35] sean-brydon opened #5760 "[CAL-486] ThemeProvider - Handle themes in ATOMS"
We need a way to handle a custom theme passed in by a user. Tailwind makes this a little complicated

<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-486](https://linear.app/calcom/issue/CAL-486/themeprovider-handle-themes-in-atoms)</sub>

[2022-11-29 09:40] CarinaWolli commented on #5735
@gzim-joinfella Could you try to add the same webhook to the accounts of all team members with the role admin or owner? I think this might be the issue here. As far as I know, webhooks are only triggering for the event types that the user has created themselves.

[2022-11-29 09:43] CarinaWolli commented on #4733
Duplicate of #5421

[2022-11-29 09:43] #4733 closed

[2022-11-29 09:44] CarinaWolli commented on #5421
@JohanForngren Thank you it is a duplicate indeed. I am currently working on it, PR is coming soon

[2022-11-29 10:04] Jaibles commented on #5444
@aasargsian I have an engineer working on it :) We're aiming to include it in our next release on the 15th but will keep you posted.

[2022-11-29 10:46] gzim-joinfella commented on #5735
@CarinaWolli I created the mentioned event types with the same account that I've used to set up the 'centralized' webhook.

[2022-11-29 11:02] Guray00 commented on #4596
i'm sorry, i booked for 12 AM instead of 12PM, my bad, I'm not used with it...

[2022-11-29 11:32] PeerRich commented on #5678
ohhh that makes sense

[2022-11-29 11:36] Jaibles opened #5761 "[PRO-42] /Event types - 1on1 label, even if the event type is 1 for many"
Do something more intuitive for event types that involve more attendees

![CleanShot 2022-11-29 at 11.36.22@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/ec129479-a453-4d8f-aae3-eef1255a1d93/1acb49c3-b9b2-4ca7-8d54-b439376fb2ab)

<sub>From [SyncLinear.com](https://synclinear.com) | [PRO-42](https://linear.app/calcom/issue/PRO-42/event-types-1on1-label-even-if-the-event-ty

[2022-11-29 11:41] Jaibles opened #5762 "[CAL-488] Timezone selection has a weird double dropdown"
![CleanShot 2022-11-29 at 10.18.29@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/53cf3cc1-d43a-4296-87ca-b9ed9daff132/787ebce7-b166-4c75-8457-35239037aa38)

**Should be**

![CleanShot 2022-11-30 at 08.49.53@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/2cc54e6a-88a0-417d-bdd5-3496ea0358f5/118de7da-5065-4062-83e9-70183d51be34)

[Public booking pag

[2022-11-29 11:43] Jaibles opened #5763 "[CAL-489] Truncate long descriptions?"
<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-489](https://linear.app/calcom/issue/CAL-489/truncate-long-descriptions)</sub>

[2022-11-29 11:43] Jaibles opened #5764 "[CAL-490] Allow hyperlinks in descriptions?"
![CleanShot 2022-11-29 at 11.43.31@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/e0995e98-0d15-447e-8135-75a81915c34b/8461960d-e51e-4e16-9805-efbc53e3d58e)

[e32dffae-e3e7-4c7c-a3f3-0519882bfdcf](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/2f621082-a5ac-42fa-bdb9-5d0daa276fec/e32dffae-e3e7-4c7c-a3f3-0519882bfdcf)

<sub>From [SyncLinear.com](https://syn

[2022-11-29 11:44] Jaibles opened #5765 "[CAL-491] Remove the back arrow"
![CleanShot 2022-11-29 at 11.43.31@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/ec92046c-0db3-4d58-82c9-c8a5e61d5a30/089f2db5-e4ef-4d52-9c1e-3528f3ca36a1)

<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-491](https://linear.app/calcom/issue/CAL-491/find-a-better-spot-for-the-back-arrow)</sub>

[2022-11-29 11:45] Jaibles opened #5766 "[CAL-492] Truncate months from "November" to "Nov""
![CleanShot 2022-11-29 at 11.45.09@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/cb24d4c8-0e71-4eb6-b62f-5349cb38f845/94de8aae-fef0-4d6e-b09d-166de00284d5)

<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-492](https://linear.app/calcom/issue/CAL-492/truncate-months-from-november-to-nov)</sub>

[2022-11-29 11:47] ciaranha opened #5767 "[CAL-493] Do accessibility tests on the booking page"
There's obvious areas that the contrast is not high enough (like available days on dark mode) but likely many many other things that wouldn't pass accessibility tests.

<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-493](https://linear.app/calcom/issue/CAL-493/do-accessibility-tests-on-the-booking-page)</sub>

[2022-11-29 11:49] Jaibles opened #5768 "[CAL-494] We need to communicate a load state between selecting a time and the next page"
When you pick a timeslot, there is nothing to suggest anything is happening while we wait on the next page to submit details to load and sometimes this is not a short time.

<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-494](https://linear.app/calcom/issue/CAL-494/we-need-to-communicate-state-between-selecting-a-time-and-the-next)</sub>

[2022-11-29 12:14] Jaibles opened #5769 "[CAL-495] I can currently only add 1 guests but it asks me to "Add Guests""
We should allow people to add multiple guests

[Public booking page / Enter details - Cal - Live (Figma)](https://www.figma.com/file/xk4HOxtSI82J0F7enMxeak/Cal---Live?node-id=1%3A6078&t=bkIksMbtnfd0feS2-1)

<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-495](https://linear.app/calcom/issue/CAL-495/i-can-currently-only-add-1-guests-but-it-asks-me-to-add-guests)</sub>

[2022-11-29 12:17] MatheusBeniniF commented on #5721
We can push a PR or  Uddit Takkar will do that?

[2022-11-29 12:21] CarinaWolli commented on #5735
@gzim-joinfella  I don't think we have something like 'centralized' webhooks. Looking into our data, it looks like you don't have any webhooks defined in your account and only your team owner has them defined. This means that for the two event types that you have created no webhooks will trigger. So as a first simple solution, please try to create a webhook in your own account and test if it is wo

[2022-11-29 13:03] Jaibles opened #5771 "[CAL-496] Sidebar profile dropdown - Weird hover states"
![CleanShot 2022-11-29 at 13.01.09@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/4bbed46f-6af1-4c02-9c75-619d745bbaf6/bedcf4d8-6754-4417-a549-91729cf672b6)

There's a weird outline appearing and it looks particularly broken on the top item

Should be

![CleanShot 2022-11-29 at 13.02.07@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/5a55d00e-a931-4

[2022-11-29 13:04] Jaibles opened #5772 "[CAL-497] Top banner is behind command K menu"
\~Z-index issue:\~

The issue:

![CleanShot 2022-11-29 at 13.03.33@2x.png](https://uploads.linear.app/e86bf957-d82f-465e-b205-135559f4b623/1a766895-40b3-4f6d-b1fb-14f5e0265623/de3bf05a-6b78-4b4f-9ca9-c872be64eb18)

<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-497](https://linear.app/calcom/issue/CAL-497/top-banner-is-behind-command-k-menu)</sub>

[2022-11-29 13:24] aasargsian commented on #5444
@Jaibles fantastic news! We are looking forward to ot

[2022-11-29 14:46] ciaranha opened #5774 "[CAL-499] Choosing the email you want to be displayed as the organizer"
**Problem**

* I have a personal [cal.com](http://cal.com) account for (eg [myname@gmail.com](mailto:myname@gmail.com)).
* I also want to use [cal.com](http://cal.com) for my work purposes. To do that I attached my corporate Gmail calendar (eg [myname@mycompany.com](mailto:myname@mycompany.com)) to the existing personal [cal.com](http://cal.com) account. As a result now I get scheduled events in t

[2022-11-29 15:22] CarinaWolli commented on #4783
@PeerRich is email updating not working? I just tested it and it is working for me

[2022-11-29 15:46] shirazdole opened #5776 "[CAL-455] Immediately Select Members after creating Team Event Type"
The current flow when creating a Round Robin is you navigate to the top right → click the team → then select the event type you want.

Once you complete creating the event-type you are presented with the settings of the event and then have to navigate to the Scheduling Type and then Add Attendees. The problem is that this is confusing and I believe the creator of the team event type would prefer t

[2022-11-29 15:46] shirazdole commented on #5776
@Jaibles — I left this private for now as it's not urgent, but a nice improvement when made

[2022-11-29 16:07] #4301 closed

[2022-11-29 16:08] #5621 closed

[2022-11-29 16:14] leog commented on #5539
@zomars talked with @emrysal and he will take a look, I'm second in line just in case

[2022-11-29 17:12] MuratDoganer commented on #5749
I too have the same issue, I have Tuesdays and Thursdays blocked out in my Google Calendar as busy, but cal.com still allows bookings at those dates

Also worryingly, it does not take into account other booked meetings either, it can double book by mistake quite easily (which is a bit silly given the point of the app)