[2021-09-16 11:53] PeerRich commented on #671
this was a manual input by me. changed it

[2021-09-16 11:53] #671 closed

[2021-09-16 11:56] ConnorGargano commented on #658
Hi @uxdmitryn,

You should be able to edit event types.

Can you refer to the following documentation to resolve the issue
https://docs.cal.com/docs/event-types#editing-an-event-type

If you are still having issues with this then let me know and we will have a further look into this for you!

Thanks Connor

[2021-09-16 11:56] #658 closed

[2021-09-16 11:58] ConnorGargano commented on #656
Hi @agordhandas,

We are still awaiting Zoom to approve our application. As soon as this is complete this should work.
We should not be waiting much longer!

Thanks Connor

[2021-09-16 11:58] #656 closed

[2021-09-16 13:35] rahulrs025 opened #672 "Events created on wrong calendar (Multiple Calendar list)"
Found a bug? Please fill out the sections below. 👍

### Issue Summary
I have created 3 calendar under one google account , XYZ.
1) Ground 1
2) Ground 2
3) Ground 3

 Each calendar is linked with user1,user2,user3. No when a event is created under User 3 (Ground 3) there is no calendar event created under Ground 3. Its created under main account , XYZ

### Steps to Reproduce
1. (for example) Went t

[2021-09-16 23:03] zomars opened #676 "[RFC] Start considering reducing bundle size"
### Is your proposal related to a problem?

Now that the v1.0 is released. I think it's good time to start focusing on reducing the bundle size of the overall application.

As for now the main public pages are getting a little bit chunky:

<img width="685" alt="image" src="https://user-images.githubusercontent.com/3504472/133696219-530b8118-f19a-4edc-b76f-483dbe7dc966.png">

### Describe the solut

[2021-09-16 23:29] zomars commented on #676
And the main culprits are in:

<img width="1342" alt="image" src="https://user-images.githubusercontent.com/3504472/133701344-e960882d-f107-4e40-88e1-b04dc877a8ef.png">

[2021-09-17 07:32] syedmdsaifihassan commented on #642
Hey @PeerRich, I would like to work on this issue, please let me know if it is not assigned to anyone.

[2021-09-17 08:11] aguilaair commented on #676
Maybe switching react with [preact](https://preactjs.com/guide/v10/switching-to-preact) on prod could help with bundle sizes. I've had quite good success with it (does not always work, though).

[2021-09-17 09:07] baileypumfleet commented on #676
An immediate thing I see here is moment.js. We use day.js, so moment should not be used. Not sure why it's here. Removing that should be an easy way to reduce bundle size

[2021-09-17 09:19] baileypumfleet commented on #676
Furthermore, we do need to move away from react-timezone-select anyway, so removing that and it's dependencies would be beneficial to bundle size.

[2021-09-17 12:06] phalox commented on #271
Hey everyone, what would it take to have this feature merged? We're looking for a solid solution for workshop bookings and a group booking feature is missing. We might be able to allocate some engineering work to make this happen.

The 'spots left' is configurable on calendly.

[2021-09-17 12:50] SB79 opened #680 "FR: Allow to configure non-repeating availability slots for event type"
### Is your proposal related to a problem?

At the moment, the availability of an event can be customized by specifying weekdays and hours that repeat each week. **I cannot select days and time slots that do not repeat**. For example, selecting December 3rd, 1 pm till 5 pm, and December 10th, 8 am till 12 am. Such non-repeating availability slots can be extremely useful in many organizations, incl

[2021-09-17 14:57] commandodev opened #681 "Error creating bookings"
Found a bug? Please fill out the sections below. 👍

### Issue Summary
When I create a booking, I have a booking in the database, but the calendar entry doesn't get created (and no email gets sent).

I'm running on railway with both the google and zoom integrations installed.

I see this in the logs:

[code]

### Steps to Reproduce

I create a booking.
I see the booking in the app, but no emails ar

[2021-09-17 14:59] commandodev commented on #681
I tried deleting the zoom integration and now I get this as well:

`No suitable credentials given for the requested integration name.`

[2021-09-17 15:01] #681 closed

[2021-09-17 15:08] ganeshmani commented on #643
@PeerRich I would like to work on this issue. let me know

[2021-09-17 19:23] PeerRich commented on #642
do it :)

[2021-09-17 19:24] PeerRich commented on #643
yes please :)

[2021-09-18 06:10] noobyogi0010 commented on #602
@aspiers I would like to work on this.

[2021-09-18 06:13] noobyogi0010 commented on #573
@emrysal @aspiers I would like to work on this, if possible.

[2021-09-18 12:29] aspiers commented on #602
@noobyogi0010 Great! Wish I had time to help :-(

[2021-09-18 14:25] Naman-Bhalla opened #684 "Event Level Availability seems to be getting overriden by Profile Level Availability"
### Issue Summary
Created an event with availability 5 PM to 8 PM on Saturday and Sundays. My profile had availability from 1 PM to 6 PM daily.

#### Screenshot of Event Settings Page:

![image](https://user-images.githubusercontent.com/6305474/133891929-95135756-c4e7-4c6a-b86e-44247d06ff4c.png)

#### Screenshot of Availability Settings Page:

![image](https://user-images.githubusercontent.com/630

[2021-09-18 16:15] SBagaria2710 commented on #643
I see this issue hasn't been assigned yet @PeerRich

[2021-09-18 16:24] PeerRich commented on #643
assigned to @ganeshmani

[2021-09-18 16:25] PeerRich commented on #643
oh actually hold on. @emrysal you're rebuilding this entire page, right?

[2021-09-18 16:39] SBagaria2710 opened #687 "[BR] No min-max value in place for StartTime and EndTime in "Change available time""
### Issue Summary
No min-max set for `StartTime` and `EndTime`. Users are able to set time slots outside the range of 24 hour system.
Please, refer the screenshot attached.

<img width="1071" alt="Screenshot 2021-09-18 at 9 55 23 PM" src="https://user-images.githubusercontent.com/33802361/133895734-7ed53a4b-49b0-4350-a5de-9994fb728372.png">

Notice at the text: `Currently, your day is set to start

[2021-09-18 16:40] SBagaria2710 commented on #687
I'd like to fix this issue if you guys allow me 🙇🏼

[2021-09-18 17:03] noobyogi0010 commented on #602
No worries. I'll look into it, and will resolve/update it.
Thanks!

[2021-09-18 17:11] SBagaria2710 opened #690 "Page Crashed 👉🏼 availability troubleshoot"
### Issue Summary
Page Crashed!

<img width="1920" alt="Screenshot 2021-09-18 at 10 35 08 PM" src="https://user-images.githubusercontent.com/33802361/133896815-5cc12ce2-1c52-422f-94de-d4571a308e9c.png">

### Steps to Reproduce
1. Went to [Availability troubleshoot](https://app.cal.com/availability/troubleshoot)

Page shouldn't have crashed no matter what.

### Technical details
* Browser version:

[2021-09-18 18:42] syedmdsaifihassan commented on #642
Okay, Thank You :)

[2021-09-18 19:50] SBagaria2710 opened #693 "Calendso not respecting "Buffer Value""
### Issue Summary
I've tried setting the Buffer value as 10mins/1hours, but it doesn't seem to respect it in both cases.

<img width="608" alt="Screenshot 2021-09-18 at 10 29 53 PM" src="https://user-images.githubusercontent.com/33802361/133906825-4d323486-f1c9-4485-9f1f-d4361a689373.png">

Here: Set buffer value to **1 hour** , StartTime to 3PM and EndTime to 6PM
Ideally, I should be getting **3:

[2021-09-19 08:00] virajsoni06 opened #695 "Unique constraint error thrown when booking a slot"
Hi, this is a pretty amazing project.

Found the below error is thrown when a cancelled slot is booked.

![image](https://user-images.githubusercontent.com/13236286/133919947-e09ab530-f6c5-44d6-a34a-6cae0c4bbe40.png)

To reproduce the issue
1. Create a booking slot
2. Cancel that booking slot
3. Attempt to re-book the slot.

The success window is shown but the logs throw a unique constraint error

[2021-09-19 08:07] masteradit opened #696 ""New event type" button description gets cut into 3 lines"
### Issue Summary
On `/event-types` page, the description that is shown when a user clicks on `New event type` button looks a bit weird as it gets cut into 3 lines. Here's a screenshot to get a better idea of what I am trying to say:
![image](https://user-images.githubusercontent.com/39951503/133920133-6c93285d-beba-4a3a-9e42-9d65b83bf217.png)

I looked at the source code and identified the issue

[2021-09-19 11:01] mehtajuhi01 opened #697 "Team member URL remains same after username change"
### Issue Summary
A summary of the issue. This needs to be a clear detailed-rich summary.

### Steps to Reproduce
1. Go to "Settings" page.
2. Create a team. Go to the "Team" page and click on your card.
3. Change "Username".
4. Click on "Save".
5.  Go to "Team" page again and click on your card, it takes you to your old username URL.

[2021-09-19 11:10] ShreyashVerma01 opened #698 "Uploading a profile picture throws an error"
### Issue Summary
Uploading my profile picture throws an error. It throws the error when I don't crop the image and the site does not change the profile picture, but it changes the profile picture if I crop it.

### Steps to Reproduce
1. Went to Settings Page
2. Clicked on the "Change Avatar" button
3. Chose picture as my profile picture
4. Clicked the "Save" button
5. Throws the error

### Techni

[2021-09-19 11:41] masteradit commented on #696
This issue will be fixed by PR #686.

[2021-09-19 15:41] bttger opened #700 "Availability does not get applied to account when setting it in registration wizard"
Found a bug? Please fill out the sections below. 👍

### Issue Summary
I just created my account on cal.com and noticed that the availability times that I set through the registration wizard after the first login were not applied.

### Steps to Reproduce
1. Register for a free account
2. Log in for the first time
3. Start the wizard and fill out the name
4. Dont connect any integration and go to th

[2021-09-19 19:48] PeerRich commented on #693
@emrysal

[2021-09-19 19:49] PeerRich commented on #690
hey there, troubleshooter is currently broken and we're working on replacing it with a better system

[2021-09-19 20:42] starlocke commented on #700
The same thing happens with a self-hosted, Docker-based edition of this system that I deployed just now.

Commit `b0ad3775176a8561c9133d2e566189a1ec3062d0` of https://github.com/calendso/docker, for reference.

[2021-09-19 20:52] starlocke commented on #700
I thought maybe it was just a slightly annoying "you have to configure it more deeply" thing, since I found that each event-type has an "advanced" setting to do fine-grained availability controls, but, those didn't give the effect that I intended of restricting availability to Monday-Friday business hours except-lunchtime.

![000072](https://user-images.githubusercontent.com/1019999/133942620-c7dc

[2021-09-19 21:02] masteradit commented on #696
Closing this issue as it has been fixed.

[2021-09-19 21:02] #696 closed

[2021-09-19 21:08] masteradit opened #701 "User's page shows Team events with broken links"
### Issue Summary
If a user is in a team and that team has an event `event-name`, then that event shows up on the user's Cal page. When someone clicks on that event, it takes them to `/username/event-name`, which does not exist and hence shows a 404 error.

### Steps to Reproduce
1. Create an account and create/join a team.
2. Create an event in the team.
3. Go to your Cal page. You will see the e

[2021-09-19 21:23] bttger commented on #700
Thanks for verifying it.

I also opened the advanced settings for an event but I honestly was confused because I only saw the timezone dropdown and didn't even notice the "Add another" button. For me it is not intuitive what that button does, maybe this should be improved from a UX perspective.

And, you are right, it should also be possible to ignore lunch time in the availability. This is defini

[2021-09-20 09:41] starlocke commented on #700
Hm... perhaps we're talking about slightly different "availability times" systems at play, between my report and the original report. A little bit hard to say without screenshots and more analysis. Anyway -- originally, I thought we were both reporting that "customized" availability times (with day-of-week) weren't being handled properly. However, it's true that there are some issues with user acc

[2021-09-21 10:00] SBagaria2710 commented on #690
Oh! Would it be possible to hide it in production 😅
If you want, I can raise a PR for hiding the `troubleshooter card` :)

[2021-09-21 10:29] PeerRich commented on #690
this page is getting a complete remake this week

[2021-09-21 10:36] PeerRich commented on #690
but yea, feel free to remove the card for now!

[2021-09-22 00:24] shunkakinoki opened #718 "Availability times are not working"
Found a bug? Please fill out the sections below. 👍

### Issue Summary
I put Sunday as a non-available time yet it shows that it's available. Need a fix asap.

### Steps to Reproduce
1. (for example) Went to ...
2. Clicked on...
3. ...

Any other relevant information. For example, why do you consider this a bug and what did you expect to happen instead?

### Technical details
* Browser version: You

[2021-09-22 10:11] manuelbiermann commented on #357
I would like to add to this the following logic:

Show slots available where at least one of the team members is available and if more than one is available then allocate booking with round robin.

When is this useful?

I would like to have a booking link for my sales team which is in multiple timezones. This way we can give all leads one booking link to pick their most convenient time...

[2021-09-22 14:19] zomars commented on #49
We have a PR ready on #717

[2021-09-22 15:38] timfee opened #724 "500 errors trying to confirm bookings"
Found a bug? Please fill out the sections below. 👍

### Issue Summary
* Attempting to confirm a booking fails with a 500 error, (`FUNCTION_INVOCATION_FAILED`).
* Attempting to reject the booking succeeds.

### Steps to Reproduce

1. Created a meeting via https://app.cal.com/tim/book?type=13663&date=2021-09-22T09%3A00%3A00-07%3A00
2. Clicked confirm
3. Opened my inbox to take action on the meeting

[2021-09-22 16:09] dotesfera commented on #481
Hi, maybe this is the right issue to post. I'm having a timeout error, can anybody help?

![image](https://user-images.githubusercontent.com/30806279/134381019-324e344c-bd9a-4014-a95e-c93b5b42e712.png)

[2021-09-22 16:40] SayanMaity234 commented on #724
Development Setup

   1.

   Clone the repo

   git clone https://github.com/calendso/calendso.git

   2.

   Install packages with yarn

   yarn install

   3.

   Copy .env.example to .env
   4.

   Configure environment variables in the .env file. Replace , , , with
   their applicable values

   DATABASE_URL='postgresql://:@:'GOOGLE_API_CREDENTIALS='secret'

   If you don't know how to configu

[2021-09-22 18:36] #49 closed

[2021-09-22 20:08] angel8au opened #726 "All booked display error"
👍

### Issue Summary
All booked display error

### Steps to Reproduce
1. I fulled my calendar in google calendar
2. Then when i try to make an apoiment the day that is booked, a display text can not read properly.
![Captura de Pantalla 2021-09-22 a la(s) 2 03 41 p m](https://user-images.githubusercontent.com/37971517/134414285-5baab113-4dd3-423a-8b18-6e79ad16f4ed.png)

[2021-09-22 20:59] zomars opened #727 "Selected Apple calendar is ignored"
### Issue Summary

Having an Apple Calendar with 3 calendars. Enable only the third one. When a booking is created. It's created on the first calendar. Am I making any sense?

[2021-09-22 21:24] PeerRich commented on #726
yes. that's what's causing it. I'll ship a hot fix for it

[2021-09-22 21:38] #726 closed

[2021-09-22 22:43] #447 closed

[2021-09-23 07:58] lcx commented on #479
ok I might have been to quick with my comment. This still seems to be an issue even though according to this it has been merged or am I reading this wrong?

[2021-09-23 14:06] ConnorGargano commented on #39
Hi @bennetfabian,
We now support Two-Factor Authentication!
How to enable this can be found here: https://docs.cal.com/docs/settings/two-factor-authentication
-Thanks Connor

[2021-09-23 14:06] #39 closed

[2021-09-23 18:16] SBagaria2710 commented on #727
Not really 😅
Could you maybe elaborate a little?

[2021-09-23 23:32] kelvinalfaro opened #760 "Login: "Something went wrong""
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Running my own deployment via railway.app
Everything was working up until a few days ago.
Latest deployment won't allow login.

A summary of the issue. This needs to be a clear detailed-rich summary.

"Something went wrong." Error message is presenter in training to sign in.

### Steps to Reproduce

1. (for example) Went to ...

[2021-09-24 00:08] emrysal commented on #760
Login functionality now requires a new environment variable called `JWT_SECRET`. We recommend setting this value to some kind of hash, an example could be `JWT_SECRET="b6182e2660addf13ec964a5c512c2f5d35d52da8"`.

[2021-09-24 00:22] jstrellner commented on #760
Unfortunately @emrysal, this didn't work for me.  I seem to be having the exact same issue as @kelvinalfaro (same platform, everything).

[2021-09-24 00:26] jstrellner commented on #760
Actually @emrysal, based on the network response to the `credentials` file, I think its my database.

[code]

Going to try running [the database migration](https://developer.cal.com/docs/migrations) to see if that fixes it.

[2021-09-24 00:39] emrysal commented on #760
@jstrellner Yes that's the other part of this, generally whenever doing a sync with main run:

[code]

[2021-09-24 00:55] jstrellner commented on #760
@emrysal Thanks.  I know this isn't a support site, but `npx prisma migrate deploy` returns an error:

[code]

Looking at your docs, you talk specifically about this and mention that all past migrations are in `_prisma_migrations`, yet I do not even have that table at all. Any idea on how to resolve that?

When I ran the initial install yesterday, it didn't seem to create that table.

[2021-09-24 00:57] emrysal commented on #697
@mehtajuhi01 I just tested this and it works for me now, so it may have been a side effect of an unrelated issue in the last 5 days.

[2021-09-24 01:25] emrysal commented on #760
Railway still uses the `npx prisma db push` method. That'll work if you have an unused database, I'll share a snippet I wrote to auto-sync prisma migrate with `--applied` tomorrow. Using `npx prisma migrate deploy` we are able to create custom migrations that ensure data stays intact between refactors, `npx prisma db push` I would therefore not recommend.

[2021-09-24 01:41] jstrellner commented on #760
@emrysal Something that sets migration thing up after the initial deploy would be awesome!

As for me, I was able to get it up and running, and I hope the following fixes the issue for @kelvinalfaro too.

### Here is what I did (going a bit further behind where I joined this conversation for context):
1. From within my local fork I ran `git remote add upstream https://github.com/calendso/calendso.

[2021-09-24 03:59] jstrellner commented on #727
In my case, I have a Google Workplace calendar configured (work), and Apple configured (personal, which has a Home, Work, and Family calendar).

It is adding the bookings correctly to my Google calendar, but I don't see any place to change which calendar meetings get booked onto. I would think it'd be set under Event Types, but I see no option... In my case it's not much of an issue, since they're

[2021-09-24 10:23] #701 closed

[2021-09-24 13:10] artistro08 commented on #760
I was just getting started and can say that these tidbits helped. Mainly the `JWT_SECRET` and merging from upstream. Thanks @jstrellner

[2021-09-24 16:17] kelvinalfaro commented on #760
Thanks, Everyone. @emrysal and specially @jstrellner for your support. @jstrellner your walk thought was super helpful.

[2021-09-25 15:31] shreyash-sharma opened #776 "Unable to send meeting invites"
### Issue Summary

Integrated both Google Calendars and Zoom, but I after the email is sent to the recipients I am unable to see anything in the meeting's "where" field.

How to send meeting location, either Google meet or Zoom to attendees?

[2021-09-25 20:21] marvinvonhagen opened #781 "First Day of the Week Not Corresponding to Settings"
### Issue Summary

First Day of the week on the booking page doesn't correspond to Settings

### Steps to Reproduce

1. Go to Settings → Profile
2. Set "First Day of the Week" to "Monday"

Still, when going to the booking page, Sunday is shown as the first day of the week. Would be great if the booking page would stick to the setting in the settings, or, even better, adapt to the current region/se

[2021-09-26 22:26] emrysal commented on #602
Had a look at @noobyogi0010's PR with some concerns :) - probably needs some kind of check to determine the event has passed or not - in general; this behaviour needs a bit of revisiting in this situation.

[2021-09-27 07:22] mani9896 opened #787 "Integration -> Connect a new App -> error : you must be logged in"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

On trying to Connect google calender in integration , after allowing and selecting the google account error is displayed as .
![image](https://user-images.githubusercontent.com/54025138/134862425-2d3f4140-c3c8-4e3f-ab73-140e96c6c84d.png)

### Steps to Reproduce

1. Go to intgerations
2. Cick on Connect New App
3. Select Google

[2021-09-27 07:48] nmiculinic opened #788 "The engine "node" is incompatible with this module."
### Issue Summary

I've tried to run the solution locally. It failed on node engine version constraint

### Steps to Reproduce

1. git clone
2. yarn

Any other relevant information. For example, why do you consider this a bug and what did you expect to happen instead?

### Technical details

- Browser version: You can use https://www.whatsmybrowser.org/ to find this out.

- Node.js version

 ▲ nod

[2021-09-27 08:07] nmiculinic opened #789 "Auto-build docker images as part of the CI"
The docker images should be built as part of the (release) CI pipeline and pushed to registry; (you can use GitHub registry fwiw)

### Describe the solution you'd like

* Use of many pre-packages Github actions for building docker images & pushing them to registry
* It's relatively easy to do, some googling and some copy-paste

[2021-09-27 10:52] dotesfera opened #792 "Docker hub Calendso not working"
Sorry to create a issue here, but seems like calendso on docker hub is dead or not working? I can't even pull it from docker hub...

[2021-09-27 15:28] alejandroaguilarhiguera opened #794 "bug x cross-site scripting on mail"
I wrote the tag with an image in the name of the team then invited a contact
![image](https://user-images.githubusercontent.com/43346195/134938745-59497f94-e2c2-4cab-b7ef-183c4e7f49b5.png)

[2021-09-27 17:26] maschmann commented on #781
Same goes for me.
As it seems, the value is never used as a param for the calendar - or I was too stupid to read the code of the AvailabilityPage.tsx where the initialization is always done with "Sunday", hardcoded.

If someone could point me in the right direction, I'd try to fix this ;-)

[2021-09-28 00:09] joshtemple opened #805 "Calendar shows no availability for any month"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

All meeting dates are disabled/unclickable in every month, implying that there's no availability.

![image](https://user-images.githubusercontent.com/8672171/135001363-62f369fa-e0ea-405e-971d-bfa74f71ed8b.png)

The troubleshooter _does_ seem to recognize the correct availability:

![image](https://user-images.githubusercontent.

[2021-09-28 08:29] ConnorGargano commented on #15
Hi @Nevon,
You are now able to check availability across multiple calendars as long as they are connected and are selected within your integrations settings.
More information can be found here: https://docs.cal.com/docs/integrations/manage-integrations/manage-calendars
-Thanks Connor

[2021-09-28 08:29] #15 closed

[2021-09-28 13:10] artistro08 commented on #805
The reason why there's no availability is because the time uses 24hr time. If you would like to be done at 5PM, you'll need to enter 17:00 for the end time.

[2021-09-28 13:35] joshtemple commented on #805
Got it. There's nothing in the availability UI to suggest that the times are in 24h (except for the absence of AM/PM, which is easy to miss). Maybe a toggle or a hint in the description would make that more obvious.

Also, the form should probably validate that 9:00 start and 5:00 end Isn't a valid interval within a 24h day.

[2021-09-28 13:45] joshtemple commented on #537
I have the same issue for Google Calendar. I've connected 3 accounts and new events are created on all three. This is undesirable for me as I already have external functionality to sync events the way I want them. Instead, I'd like to be able to configure where events get created.

At a minimum, a global setting, though being able to do it by meeting type would be even better (a meeting I can shar

[2021-09-28 13:47] joshtemple commented on #805
I probably wouldn't have struggled with this as much if #643 was fixed.

[2021-09-28 13:47] #805 closed

[2021-09-28 16:25] alejandroaguilarhiguera opened #809 "[bug] I shared the link undefined 🐞"
https://cal.com/undefined/30min?date=2021-09-30-0600

![image](https://user-images.githubusercontent.com/43346195/135126838-5c1f2c64-171b-4eb8-ac9d-55054715df1b.png)

[2021-09-28 16:59] alejandroaguilarhiguera opened #810 "Negative number on duration"
![image](https://user-images.githubusercontent.com/43346195/135132081-cc719203-0e2b-402d-bfc4-d9418f1f34a0.png)

[2021-09-29 22:16] baileypumfleet commented on #792
Please re-create this issue in the Docker repository (calendso/docker)

[2021-09-29 22:17] #792 closed

[2021-09-29 22:17] baileypumfleet commented on #789
Please re-create this issue in our Docker repository (calendso/docker)

[2021-09-29 22:17] #789 closed

[2021-09-29 22:18] baileypumfleet commented on #788
Node.js should now be locked in the project to version 14.x. Could you please try again?

[2021-09-29 22:19] baileypumfleet commented on #787
I'm going to close this off as we can't replicate this issue on our production and preview environments. If you find any more details, please reopen and we will look into this further :)

[2021-09-29 22:19] #787 closed

[2021-09-29 22:20] baileypumfleet commented on #724
Could you confirm if this is still happening? I vaguely recall that we fixed this

[2021-09-29 22:21] baileypumfleet commented on #104
Hi all,

This was released a few weeks ago.  We now have collective and round robin event types.

[2021-09-29 22:21] #104 closed

[2021-09-29 22:22] #235 closed

[2021-09-29 22:24] baileypumfleet commented on #238
The app now displays a proper error when we receive an error from the API call

[2021-09-29 22:24] #238 closed

[2021-09-29 22:25] #248 closed

[2021-09-29 22:25] baileypumfleet commented on #271
@phalox apologies for the late reply, but if somebody were to PR this, we'd be happy to get this merged in

[2021-09-29 22:26] #334 closed

[2021-09-29 22:31] baileypumfleet commented on #357
This was added a few weeks ago :)

[2021-09-29 22:31] #357 closed

[2021-09-29 22:31] baileypumfleet commented on #362
Apologies for the late reply, but this should have been fixed ages ago

[2021-09-29 22:31] #362 closed

[2021-09-29 22:32] #385 closed

[2021-09-29 22:34] #405 closed

[2021-09-29 22:40] donmccurdy commented on #724
Hi @baileypumfleet – I was experiencing this issue last week, Sept 21-22. The issue hasn't occurred since then, for me.

[2021-09-29 22:41] ConnorGargano commented on #810
Hi @alejandroaguilarhiguera,
Thank you for raising this, I will get this sent over to the engineering team to take a look for you!
-Thanks Connor

[2021-09-29 22:43] baileypumfleet commented on #408
Can you confirm if this is still occurring (on the latest build)?

[2021-09-29 22:43] #422 closed

[2021-09-29 22:44] baileypumfleet commented on #436
This should have been fixed. Can anyone confirm if this is still happening?

[2021-09-29 22:47] ConnorGargano commented on #781
Hi @marvinvonhagen,
I will see if this is a current issue and the engineering team is aware of this.
-Thanks Connor

[2021-09-29 22:52] ConnorGargano commented on #776
Hi @shreyash-sharma,
As you mentioned, your integrations have been connected but for a meeting location to be sent to yourself and the recipient, you must have set the location within your event type.
You can find out how to do this here: https://docs.cal.com/docs/event-types/edit-an-event-type.
If this has not resolved your issue please let me know.
-Thanks Connor

[2021-09-29 22:52] #776 closed

[2021-09-29 22:54] ConnorGargano commented on #718
Hi @shunkakinoki,
This has been a recent issue but has now been resolved, could you please give this another go and if the issue still occurs then please let me know!
-Thanks Connor

[2021-09-29 22:54] #718 closed

[2021-09-29 22:55] ConnorGargano commented on #700
Hi @bttger
This has been a recent issue but has now been resolved, could you please give this another go and if the issue still occurs then please let me know!
-Thanks Connor

[2021-09-29 22:55] #700 closed

[2021-09-29 22:57] ConnorGargano commented on #698
Hi @ShreyashVerma01,
Looks like this is all working and no issues are happening for this.
I will close this issue as I have now tested this however if you are still having issues please let me know.
-Thanks Connor

[2021-09-29 22:57] #698 closed

[2021-09-30 06:19] nmiculinic commented on #788
I got it working with nvm and setting node to version 14. I...don't usually use node, thus had to do some googling to get it working

[2021-09-30 06:20] nmiculinic commented on #788
Thanks for the help!

[2021-09-30 06:20] #788 closed

[2021-09-30 08:04] ConnorGargano commented on #684
Hi @Naman-Bhalla
We have had some issues with availability recently, I have had a little look at availability on my end and all looks to be working fine now. Would you be able to have another look for me and if the issue is still active let me know.
-Thanks Connor

[2021-09-30 08:04] #684 closed

[2021-09-30 08:10] #532 closed

[2021-09-30 08:13] ConnorGargano commented on #539
@masteradit is this an issue you are still having or has @joshsny PR been merged with the changes he said was needed?

[2021-09-30 09:27] ConnorGargano commented on #672
Hi @rahulrs025 I will get this passed over to the engineering team to see what we can do.
-Thanks Connor

[2021-09-30 09:35] ConnorGargano commented on #439
Hi @joshsny,
I have created a ticket for you and have sent the issue to the engineering team
-Thanks Connor

[2021-10-01 10:46] rittmang opened #837 "Deployment issue on Railway"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Deployment with current codebase fails in the Railway environment, possibly due to a Next issue

### Steps to Reproduce

1. Deploying on Railway

### Technical details
- Node.js version: v14.18.0 apparently. Here's a complete log:

=================
Using Buildpacks!
=================

20: Pulling from heroku/buildpacks
Digest:

[2021-10-01 10:46] rittmang commented on #837
Error: You cannot use different slug names for the same dynamic path ('idOrSlug' !== 'slug')

[2021-10-01 20:49] shunkakinoki opened #841 "Zoom app not including meeting location"
Found a bug? Please fill out the sections below. 👍
### Issue Summary

Zoom app is not including meeting location

### Steps to Reproduce

1. Installed zoom app
2. Zoom app does not include meeting location
3. Can't do anything

Any other relevant information. For example, why do you consider this a bug and what did you expect to happen instead?

### Technical details

- Browser version: You can us

[2021-10-04 19:23] munjalpatel opened #851 "Self-hosted calendso fails to redirect to home after logging in"
### Issue Summary

After signing in, a session is generated. However, instead of getting redirected to the home page, the user is redirected back to `auth/login`

### Steps to Reproduce

1. Deploy on Railway using the `Deploy on Railway` button on https://github.com/calendso/calendso

2. Railway build will fail due to missing db tables. Do the following to resolve it:
[code]

3. Re-deploy on Railw

[2021-10-05 09:37] EricDiepeveen opened #856 "Typeerror at login after updating"
After updating to the latest commit version I am unable to login.

### Technical details

`event - build page: /auth/login
wait  - compiling...
event - compiled successfully
prisma:query SELECT 1
prisma:query SELECT "public"."users"."id", "public"."users"."username", "public"."users"."name", "public"."users"."email", "public"."users"."emailVerified", "public"."users"."password", "public"."users"."

[2021-10-05 15:56] alexonufrak commented on #837
@rittmang I've recreated this error and successfully deployed by:

1. Running `railway run npx prisma db push`
2. Go to your railway dashboard and create a user following [railway's instructions](https://blog.railway.app/p/calendso#:~:text=Next%2C%20head%20over%20to%20your,Create%20user)
3. Then `railway up`

Cal should then successfully build and deploy.

[2021-10-05 18:42] compgeniuses commented on #83
does this mean that we have ldap support or something close to this?

[2021-10-06 06:07] emrysal commented on #856
Hi @EricDiepeveen - you need to add a JWT_SECRET to your .env file, e.g. `JWT_SECRET=your_secure_string`

[2021-10-06 06:07] #856 closed

[2021-10-06 08:13] EricDiepeveen commented on #856
This resolved my issue. Thanks

[2021-10-06 08:13] EricDiepeveen commented on #856
This resolved my issue. Thanks

[2021-10-06 14:42] munjalpatel commented on #837
@alexonufrak does authentication properly work for you after you do this?
When I do this ( as described in #851 ), I keep redirected back to the login page after successful login.

[2021-10-06 16:18] YashMudgal opened #866 "Add Jitsi Integration"

[2021-10-06 16:20] #866 closed

[2021-10-07 10:05] pelletencate opened #875 "Block availability based on delegated calendar with only busy/free access"
### Is your proposal related to a problem?

I want my personal Google calendar to be blocked by events on my work Google calendar. I've shared my work calendar with my personal Google account. For privacy reasons, I'm only allowed to share free/busy info, not full event details.

While free/busy info should be enough to block availability, the calendar does not show up on my "select calendars" lis

[2021-10-07 16:25] marvinvonhagen opened #877 "Fully booked days are not grayed out"
### Issue Summary

While days in the past and disabled days are correctly grayed out to indicate that booking is not possible on those days, fully booked days are not grayed out.

### Steps to Reproduce

1. Connect your Google Calendar to Cal
2. Have one day fully booked with meetings
3. Try to book a meeting on cal.com/username
→ This day is displayed as bookable / not grayed out. Only when you c

[2021-10-07 18:24] joshsny commented on #877
It'd probably make sense to refactor the getSlots function to pull availability for the whole month, rather than each day at a time. We'd then request the availability every time the selected month is changed rather than the selected date.

In terms of API response times, I think it'll be pretty similar requesting availability for 1 month vs for 1 day. What do you think @emrysal, since you recentl

[2021-10-08 17:34] kelvinalfaro opened #885 "Outlook meetings scheduled in UTC Time."
Found a bug? Please fill out the sections below. 👍

### Issue Summary
Self hosted version. All settings in availability and bookings links are set to the appropriate timezone. However, when booking meetings (using outlook); meetings are showing up as Universal time (UTC). This is confusing some folks.

### Steps to Reproduce

1. https://cal.alfaro.io/kelvin/ictrinterviews
2. Select a time and date

[2021-10-09 13:35] petrolins commented on #83
You can replace native login system to the auth0.com login system and use auth0 saml to make provising

[2021-10-09 14:32] munjalpatel commented on #851
@PeerRich any ideas?

[2021-10-09 18:27] DEV696 opened #891 "Security Vulnerability on https://app.cal.com/auth/login"
I have identified a security vulnerability. Kindly let me know if we can discuss this in detail to keep the product secure. Cheers!

[2021-10-09 18:30] baileypumfleet commented on #891
Certainly! Would you be able to join our community Slack (https://cal.com/slack) and DM me, Bailey Pumfleet?

[2021-10-09 18:59] DEV696 commented on #891
Thanks for giving your time to discuss the vulnerability. We will be waiting for your response on the closure/patch on the vulnerability.

[2021-10-10 06:08] compgeniuses commented on #83
hello @petrolins  thank you for the update.

Kindly how would I be able to replace that.
And would that work also with Lemonldap SAML

[2021-10-11 02:06] namesphill opened #896 ""Meeting Password: undefined" when user's zoom doesn't require meeting passwords"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When you schedule a meeting with a zoom video conference location with a user whose zoom settings don't require passwords for meetings, the email sent to all parties regarding the event's video call will read:

*Meeting Password*: undefined.

### Steps to Reproduce

1. Have your zoom account settings like so:
![168ea847-13b5-41

[2021-10-13 17:02] munjalpatel opened #937 "[BUG] Calendso fails to redirect to home after logging in"
### Issue Summary

After signing in, a session is generated. However, instead of getting redirected to the home page, the user is redirected back to `auth/login`

### Steps to Reproduce

1. Deploy on Railway using the `Deploy on Railway` button on https://github.com/calendso/calendso

2. Railway build will fail due to missing db tables. Do the following to resolve it:
[code]

3. Re-deploy on Railw

[2021-10-13 18:25] alexonufrak commented on #837
I had a similar issue. This is probably not recommended, but I rolled back the #730 commit (removed the jwt secret requirement/parameter) and was able to be properly redirected.

[2021-10-14 02:41] justsee opened #943 "[BUG] Team event type cannot be updated"
### Issue Summary

After creating a team event type in both the hosted and self-hosted versions, any attempt to 'Update' fails with a 500 error.

### Steps to Reproduce

1. Under 'Settings', go to the 'Teams' tab and create a new team.
2. Under 'Event Types', select 'New event type' to create a new team event.
3. Create a new team event type, selecting either 'Collective' or 'Round Robin'
4. With

[2021-10-14 16:37] PeerRich opened #956 "CalDav Bugfix Collection for Nathaniel (maker of tsdav)"
thank you Nathaniel (@natelindev ) for offering your help.

for context, we use https://github.com/natelindev/tsDAV by @natelindev

___

some of these may be out of date / fixed already

- [x] upgrade to latest tsDAV and test https://github.com/calendso/calendso/pull/993
- [x] research a list of most common calendars that use CalDav
- [x] CalDav integration with Fastmail doesn't work #626
- [x] Ev

[2021-10-16 18:16] llldar commented on #956
I'll be working on these this Sunday.

[2021-10-17 10:05] PeerRich commented on #956
let me know if you have any blockers 🙏

[2021-10-17 11:58] llldar commented on #956
I thinks it's better to add me to project collaborators list, I can work with forking the repo but it's not very elegant.

[2021-10-17 13:24] llldar commented on #956
list of service calendars that supports caldav:

1CRM
A1.net
all-inkl.com
AOL Mail
Baïkal
Bitrix24
Calendar and Contacts Server
cPanel
Cyrus IMAP
DAViCal
DavMail Gateway
Davis
Daylite
DingTalk / 钉钉 / Dīngdīng
Dolibarr
EDIS
EGroupware
Fastmail
fruux
GMX
Google
Group Office
Hetzner KonsoleH
Horde
IceWarp
iCloud
Kerio Connect
Kolab Now
Kopano
Liberta
luckycloud
macOS Server
mail.de
mail.ru
mailbox.or

[2021-10-18 13:53] ConnorGargano commented on #695
Hi @virajsoni06,
Allow me to send this over to the engineering team to have a look into this for you and see what can be resolved.
-Thanks Connor

[2021-10-18 13:59] ConnorGargano commented on #896
Hi @namesphill,
I will get this passed over to the engineering team to look into and see if we can make this more understanding in the booking confirmation.
-Thanks Connor

[2021-10-19 08:04] nileshtrivedi opened #989 "One-click app for CapRover"
[CapRover](https://caprover.com/) is a self-hosted PAAS for FOSS webapps. It is based on Docker, is very stable and has a [catalogue of many apps](https://github.com/caprover/one-click-apps) that can be installed with a single click.

I have filed an [app suggestion there for Calendso](https://github.com/caprover/one-click-apps/issues/519) to make it available in the catalogue but it seems Calends

[2021-10-19 22:06] jdauphant opened #995 "bundle-analyzer is in dev-dependencies but needed in production -> crash at startup"
### Issue Summary

bundle-analyzer is declared in dev-dependencies but needed in production -> crash at startup

### Steps to Reproduce

1. Deploy the commit 86d292838c05dddb0205b97163c0fc78c2b72ebc
2. Remove dev dependencies (automatly done by PaaS solution)
3. The don't start, with this error

[code]

[2021-10-19 23:51] #995 closed

[2021-10-20 14:31] tiredofit opened #1014 "CALDAV Integration with KDAV (Kopano) does not work"
Issue Summary

When trying to add a CalDAV service on my account on the official instance (cal.com), I get the message "Error: Could not add this caldav account".
The credentials I supply to Cal.com work fine when used via Thunderbird/Lightning.
The CalDAV server is a Kopano KDAV (https://kopano.io)
Steps to Reproduce

    (for example) Logged into cal.com
    Clicked on "Caldav"
    Filled in my

[2021-10-20 14:53] emrysal opened #1015 "Registration upon user invite through Teams is broken"
### Issue Summary

When someone is invited to join a team, the join link redirects to settings instead of sign up, as a new user of the team am not able to signup.

### Steps to Reproduce

1. Invite someone to a team.
2. On getting redirected to sign up page, fill in form.
3. Press "Sign up"
3. It says user already registered.

![image](https://user-images.githubusercontent.com/1046695/138117435-0

[2021-10-20 17:07] donmccurdy opened #1018 "Weekends available for bookings, not available in troubleshooter"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

I'm trying to make my calendar _unavailable_ on weekends (without, necessarily, having an 8am-5pm event every Saturday/Sunday). Currently the booking calendar shows these days as _available_. When I visit the booking troubleshooter it shows them as _unavailable_. Not sure if this mismatch indicates a bug, or if this is user err

[2021-10-20 17:34] ConnorGargano commented on #1018
Hi @donmccurdy,
Please find a loom video attached which will help you in blocking out and setting particular days as your availability per event type!
https://www.loom.com/share/c7e0832aa5dd42b5ae43d090c6be8025
-Thanks Connor

[2021-10-20 18:56] tiredofit commented on #1014
Thanks. I can provide access to a test account to a server if you would like. Let me know.

[2021-10-20 18:59] zomars commented on #1015
It may come from here: https://github.com/calendso/calendso/blob/a6eed6ffccf9ef7f51509a5068c23e72869b2056/lib/emails/invitation.ts#L51-L54

[2021-10-20 21:17] nk1tz opened #1019 "Round Robin Event double/triple books single attendee and ignores others."
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Trying out the round robin event type on cal.com with 2 attendees on a team.
The first attendee receives all the bookings and the event calendar never removes a time slot from available list.

### Steps to Reproduce

1. Create a team
2. Add a team member
3. Create a round robin event
4. Add both members as "attendees"
5. Procee

[2021-10-20 22:10] #891 closed

[2021-10-21 02:43] angel8au opened #1020 "Cal Sans don't support espacial characters for example Á"
Found a bug? Please fill out the sections below. 👍

Leters with acents like Á á É é ó Ó ú  for spanish user do not work.

<img width="1032" alt="Captura de Pantalla 2021-10-20 a la(s) 8 35 47 p m" src="https://user-images.githubusercontent.com/37971517/138202043-10fc2de3-38fa-4afc-be44-72c9497e0b8a.png">

Any other relevant information. For example, why do you consider this a bug and what did you

[2021-10-21 12:24] maschmann commented on #781
Hi @ConnorGargano you mean "now working" as in current main branch?
So, when does this end up in a release? :-)

[2021-10-21 22:21] zomars opened #1026 "Booking failed when zoom fails"
### Issue Summary

When creating a video meeting, the booking may fail if the Zoom token is expired. On the user side it just show a "Booking failed" error. But the booking is actually created.

### Steps to Reproduce

1. You need an expired Zoom token (IDK how to reproduce this)
2. Try to book an event that needs confirmation with Zoom as location
3. It will display an error.
4. On the dashboard

[2021-10-26 15:43] timfee opened #1051 "Cannot disconnect Google integration with an `invalid_grant`"
### Steps to Reproduce

1. Connect Google Calendar to Cal.com
2. Revoke permissions.
3. Visit integrations screen.
4. Observe the following behavior:

![Screen Shot 2021-10-26 at 08 39 51](https://user-images.githubusercontent.com/3246342/138913726-11647c51-0f0e-4dc7-a9a4-d7e730a9cd7b.gif)

### Technical details

- Browser version: Safari 15
`Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWe

[2021-10-26 22:18] marcorichetta opened #1052 "[BUG] Deploy on Railway button gives a 500 error"
### Issue Summary

The button to deploy to Railway gives a 500 error on a serverless function execution on Vercel.
This may be an error on Railway. I created the issue to warn you.

### Steps to Reproduce

1. Click the "Deploy on Railway" button on the [readme](https://github.com/calendso/calendso#railway) or use directly the link https://railway.app/new/template?template=https%3A%2F%2Fgithub.com%

[2021-10-28 02:30] fross123 opened #1056 "Video links are not added to events when multiple locations are options"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When allowing users to choose from multiple locations for an event, no link to a video meeting is added to either the calendar event or the notification email. When only one location is available for the event, ie: user does not make a location selection to book a time, the link is created as normal (notwithstanding other bug r

[2021-10-28 05:47] justshrey opened #1057 "Problem Selecting Invitees can Schedule Radio Button on Event Types Page"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

The event types detail page - advanced option - Invitees can Schedule Radio Button is not working

### Steps to Reproduce

1. Have tried both on hosted version as well a self hosted version
2. See below

https://user-images.githubusercontent.com/1253625/139180040-f8a1d4fb-d25f-4630-b3e4-80e4044c2df5.mp4

Any other relevant info

[2021-10-30 23:46] PeerRich commented on #1020
forwarded this to the creator of Cal Sans :)

[2021-10-30 23:52] PeerRich commented on #1020
![image](https://user-images.githubusercontent.com/8019099/139561430-c9d1a817-abab-4b6d-a1db-4677da646052.png)

fixed https://github.com/calendso/calendso/pull/1087

[2021-10-30 23:52] #1020 closed

[2021-10-31 04:43] manjufy opened #1089 "Same Booking slot can be booked multiple times"
### Issue Summary

The same booking slot can be booked multiple times.

I have an event with booking starting from 9 am to 12 pm.

I made a booking for the 9 am slot, and I could do the same multiple times. If the 9 am booking slot has already been taken, I believe, we should disable the slot for further booking.

### Steps to Reproduce

1. Create an Event Type
![Screenshot 2021-10-31 at 12 40 46

[2021-10-31 05:01] manjufy commented on #1089
Quite similar to https://github.com/calendso/calendso/issues/877

[2021-11-01 00:06] emrysal opened #1091 "Daily and Zoom seem to not get linked properly in the organizer email"
![image](https://user-images.githubusercontent.com/1046695/139605843-70abf08f-f1bc-4d0e-90ab-71cb10a28bbb.png)

[2021-11-01 04:51] jimafisk opened #1092 "Daylight Savings Time (DST) bug is scheduling bookings an hour early"
### Issue Summary

When booking appointments after 11/7 (daylight savings end), the start and end times get shifted one hour earlier on the confirmation page. The time looks correct when initially selecting a time slot and filling in your information:

<details>
<summary>See booking screenshot</summary>

![dst_before](https://user-images.githubusercontent.com/5913244/139622781-f71456c4-72a7-431a-b

[2021-11-01 17:03] lcx opened #1101 "CalDav does not take free/busy status of event into consideration"
### Issue Summary
With Zimbra (and probably other systems) events can be declared as free or busy, this is however not taken into consideration by calendso.

### Steps to Reproduce

1. create an event and declare it as free
2. check calendso, it will show up as busy

an example entry is this:

[code]

this seems to be done via the `X-MICROSOFT-CDO-INTENDEDSTATUS:FREE` curios if office365 uses the

[2021-11-01 19:02] sbw78 opened #1102 "Cannot create more than one in-person location"
### Issue Summary

I can add a single "Link or In-person meeting" location option, but when I go to add another the previous one is just modified.

### Steps to Reproduce

1. Go to event details (edit event)
2. Select 'Link or In-person meeting' and add an address/place/link
3. Click '+ Add a location' and select 'Link or In-person meeting' again.

    The previous address/place/link entered will

[2021-11-01 19:35] sbw78 commented on #718
I am also encountering this issue.

Browser: Firefox 93 on OS X 10.15.7; Safari v15
Node.js v16.13.0

[2021-11-02 00:43] marcorichetta commented on #1052
@ConnorGargano Today I retried and could deploy the app successfully! :+1:

[2021-11-02 04:16] joshtemple commented on #537
@PeerRich I wanted to point out that this issue does not seem to be limited to CalDav as myself (Google Calendar) and @aspiers reported above. It may be worth updating the issue title accordingly.

[2021-11-02 12:17] ConnorGargano commented on #1052
Brilliant!

[2021-11-02 12:17] #1052 closed

[2021-11-03 13:08] lcx commented on #989
looks like somebody added it to caprover
https://github.com/caprover/one-click-apps/blob/master/public/v4/apps/calendso.yml

[2021-11-03 17:48] zenflow commented on #989
@lcx Yup, it's not the official image though. See https://github.com/caprover/one-click-apps/pull/394#issuecomment-951546025

[2021-11-03 20:48] aleexalcaraz commented on #1089
Hello
I think it could be a good idea to have the option to be able to book a slot only once or multiple times.

I don't know if they are going to submit a PR for this but what I did to be able to only book a slot once is:

On pages/[user]/[type].tsx getServerSideProps I added
`const bookings = await prisma.booking.findMany({
    where: {
      eventTypeId: {
        equals: eventTypeObject.id,

[2021-11-04 01:21] manjufy commented on #1089
I will give it a try @aleexalcaraz
That's a great help. Thank you so much.

[2021-11-04 04:55] jimafisk opened #1122 "Creating a Team with a previously used name fails silently"
### Issue Summary

It seems that Teams get a specific namespace like https://cal.com/team/test. If you try to create a team with a name that is already taken, you won't get any UI notifications, but the team will not get added to your account. This could be confusing for someone who isn't familiar with what is supposed to happen when a team is added successfully.

### Steps to Reproduce

1. Sign i

[2021-11-04 05:08] jimafisk commented on #104
In case someone else is confused how this works, before you create a team you can only add one event type (https://app.cal.com/event-types) that will look something like this:

<details>
<summary>Single Event Type Screenshot</summary>

![event_type](https://user-images.githubusercontent.com/5913244/140260621-325c2a41-28ad-487b-8c45-adcb1cf5c830.png)

</details>

As soon as you add a new Team in yo

[2021-11-04 09:17] alderson59 opened #1123 "Unable to Login"
### Issue Summary
<details><summary>Logs</summary>

[code]

</details>

Unable to login.

Not sure why EAI_AGAIN shows. Docker container can reach internet, the calendso instance is reachable at https://calendso.domain.com (not my actual domain of course). URL is HTTPS-forced.

What else is needed when creating a new user? No further details specified in instructions. I added only user, name, emai

[2021-11-04 11:03] alderson59 commented on #1123
Didn't realise Google Calendar API is needed, since I didn't plan on using Google Calendar. Is this necessary? I added it anyway just in case the error was throwing due to this, but it still had similar issues as above logs.

[2021-11-04 11:07] dl-lim opened #1124 "Bookings made on cal.com do not show up in Nextcloud"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Connected Cal.com with Nextcloud via CalDAV, but bookings made on cal.com do not show up in nextcloud

### Steps to Reproduce

1. Successfully connected to Nextcloud via Cal.com
2. Can see multiple calendars in Cal.com interface.
3. Make booking on Cal.com
4. Visit Nextcloud to see calendar with no bookings, even after 15 mins

[2021-11-04 18:32] chintan-mishra commented on #1124
I can confirm this issue exists in my case as well. CalDAV doesn't work with the mentioned version of NextCloud.

[2021-11-05 14:03] bjornvdakker commented on #1123
Same issue here, deployed on Railway. Logs:

[code]

[2021-11-05 22:12] jdaviescoates commented on #1101
I came here to report the exact same thing.

I've connected my Nextcloud CalDav server in Cal.com but on my public profile page it's still possible to book the times where I'm actually already busy, as per my Nextcloud calendar.

[2021-11-05 22:16] jdaviescoates commented on #624
Really looking forward to this being deployed! I'm really loving Cal.com so far, but without CalDAV working properly I can't use it because my Nextcloud CalDAV calendar is my primary calendar.

[2021-11-05 22:17] jdaviescoates commented on #1101
It looks like a fix (that'd I'd guess will likely fix this too) is in the works #624

[2021-11-07 03:42] airplanenoise commented on #1123
i am also experiencing this issue on railway

`(node:36) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which was not handled with .catch(). To terminate the node process on unhandled promise rejection, use the CLI flag `--unhandled-rejections=strict` (see https://n

[2021-11-07 20:49] ConnorGargano commented on #1092
Hi @jimafisk,
Thank you for making us aware! We are working on this and we hope to get this fixed soon!
-Thanks, Connor

[2021-11-08 09:55] ConnorGargano commented on #1101
Hi @jdaviescoates, looks like these are in relation with each other and I can see you have noted this issue in the previous one so I will go ahead and close.
-Thanks, Connor

[2021-11-08 09:55] #1101 closed

[2021-11-08 09:57] ConnorGargano commented on #1102
Hi there,
I will get this raised to the engineering team and see if we can find a solution.
-Thanks, Connor

[2021-11-08 11:06] hamstah opened #1146 "Zoom link missing from calendar invite"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

- starting a few days ago, calendar invites don't include zoom links anymore
- the meetings are created in zoom but no mention of it in the invite
- zoom is still connected
-
### Steps to Reproduce

??

Any other relevant information. For example, why do you consider this a bug and what did you expect to happen instead?

### Te

[2021-11-08 13:25] cb5890 opened #1148 "Docker build fails on node:14-alpine due to Next.js 12.0.2 issue - Upgrade to Next.js 12.0.3 is required"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

It's currently not possible to build calendos's docker image (see [1]) due to an issue in next.js 12.0.2. The build fails with
[code]

The issue has been acknowledged in Next.js 12.0.2 and was fixed in 12.0.3 (see [2]).

From my point of view, fixing the docker image build just requires bumping the Next.js version up to 12.0.3

[2021-11-08 15:31] Kovah commented on #1148
The upgrade to Next.js 12.0.3 is not really necessary. I already opened a pull request with a fix to the Dockerfile.

https://github.com/calendso/docker/pull/41

[2021-11-08 16:01] cb5890 commented on #1148
Yes, well, both options seem to work. But you can leave build and runtime image the same.... and it often doesn't hurt to migrate to a newer version - especially when the release lists quite some fixes ;-)

The binaries that are required for the Next.js compilation are apparently downloaded to the build container for 12.0.3. However, I don't mind either way :)

[2021-11-08 20:29] wzrdtales commented on #1092
not just the scheduling. events read from a calendar also interpreted an hour earlier. big issue

[2021-11-08 22:17] TheBestMoshe commented on #16
@baileypumfleet The feedback link provided does not work. Is this being tracked anywhere?

[2021-11-09 04:18] Cobular commented on #1123
I am also seeing the same exact log statement as @bjornvdakker
[code]

[2021-11-09 07:53] Cobular commented on #1123
Update: see #856, that solved it. You need to add a `JWT_SECRET` env var. I'll try to PR something into the docker repo soon to get it's env file up to speed.

[2021-11-09 08:26] Cobular commented on #626
I'm also experiencing unsuccessful authorization issues with mailgun

[2021-11-09 17:01] llldar commented on #956
After some investigation of current implementation of caldav integration, I believe it need some major changes.
Currently fastmail, nextcloud works fine with tsdav integration tests, while not working at all in calendso.

[2021-11-09 18:20] drwb commented on #1146
Same issue here.

Built with docker. Integration with Zoom successful via (https://docs.cal.com/docs/integrations/zoom).

Zoom meeting *is* present in confirmation emails on event creation, but is missing from the invite. Invite says "integrations:zoom".

[2021-11-09 21:09] zephleggett commented on #1148
I resolved in my setup by using Next 12.0.3

[2021-11-09 21:16] Kovah commented on #624
Is there any ETA when this will be deployed? It's basically the only issue holding me back from using Cal right now. :(

[2021-11-10 09:13] jdaviescoates commented on #624
@Kovah it looks like there are quite a few CalDAV issues that need resolving see #956 - but I'm the same as you, as soon as CalDAV integration actually works I'll start using Cal :)

[2021-11-10 10:36] hamstah commented on #1146
Also I noticed that when a meeting is cancelled the zoom call is not.

[2021-11-10 12:39] drwb opened #1160 "Can not accept licence"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Licence acceptance banner remains even after adding lines to .env

Have tried =‘ agree’ = agree =“ agree”

### Technical details
Cal docker with manual fix #41 implemented.

[2021-11-10 18:10] JakeCooper commented on #1123
Indeed seeing this issue on Railway. Might be good to have a fallback secret generated automagically and stored inside the DB on first run?

https://discord.com/channels/713503345364697088/908039242167509054/908055005452439624

[2021-11-11 05:44] #1015 closed

[2021-11-11 12:40] drwb commented on #1160
Sorry, yes, it was "agree" not accept. Neither work though.
<img width="995" alt="Screenshot 2021-11-11 at 12 39 50" src="https://user-images.githubusercontent.com/16479230/141299664-4762c27d-3b2d-4beb-971f-2fcdd768e55e.png">
<img width="603" alt="Screenshot 2021-11-11 at 12 37 57" src="https://user-images.githubusercontent.com/16479230/141299669-1f20c3de-9274-4a4d-ae4c-1539bb84cd03.png">

[2021-11-11 13:14] drwb opened #1169 ""integrations:zoom" (not an invite link) in location in calendar invite"
A summary of the issue. This needs to be a clear detailed-rich summary.
If Location is set to Zoom in the Event Type, when an event is booked the confirmation emails contain the _correct_ Zoom details, but the calendar invite Location contains _integrations:zoom_.

<img width="418" alt="Screenshot 2021-11-11 at 13 11 12" src="https://user-images.githubusercontent.com/16479230/141304006-928c369c-73

[2021-11-12 02:25] aspiers opened #1171 "[CAL-1683] troubleshooter doesn't provide sufficient info"
### Is your proposal related to a problem?

The troubleshooter doesn't provide sufficient info to figure out what is blocking availability.  It simply gives a list of busy times:

![image](https://user-images.githubusercontent.com/100738/141397401-f20e0218-cbf2-4fc2-8fc4-a10e6a1751e5.png)

which on an account with multiple integrations / calendars doesn't help figure out where the bookings are com

[2021-11-12 11:44] juicejs commented on #537
Are there any updates on this? We are using CalDAV as a team with delegated calendars. So we have multiple calendars representing different people. It actually makes Calendso useless in our team environment, because events are not getting added per person but for the whole team.

[2021-11-12 20:51] PeerRich commented on #1160
I believe there was a problem with docker environments not being picked up.

just remove it from Shell.tsx:
![image](https://user-images.githubusercontent.com/8019099/141532927-505d2aa8-146d-47ab-ba3c-90035b5c7003.png)

[2021-11-15 09:35] asharabu opened #1175 "Steps to create a user."
Hi,

Please provide the steps to create a user for selfhosted calendso. I am facing issues trying to create via prismastudio.

![image](https://user-images.githubusercontent.com/42669995/141757781-2fcdd892-d343-4018-b0dd-6a6c90dab868.png)

![image](https://user-images.githubusercontent.com/42669995/141757638-2be5667c-d22c-4b44-a0b5-beda8597de85.png)

[2021-11-16 10:11] wzrdtales commented on #1092
it is very very weirdly wrong programmed.

the invitation is on time. the ics inside the invitation is one hour earlier. the zoom meeting is one hour earlier and the meeting parsing respects only one hour earlier.

[2021-11-16 12:41] pratikbalar commented on #368
Getting in docker environment when login
[code]

envs

[code]

[2021-11-16 23:04] jstrellner opened #1184 "Release v1.1 fails to build"
### Issue Summary

Fails to build on self-hosted install (on Railway)

### Steps to Reproduce

1. From a previously working local repo, I ran: `git pull https://github.com/calendso/calendso.git main`
2. Then, in the same directory, I ran `railway run npx prisma migrate deploy`
3. In the past this was all I needed to do to update to the latest version.  Now, it fails to build and is not deployed by

[2021-11-17 05:31] likeaj6 commented on #1184
Had same issue, Railway is using NPM instead of Yarn for some reason. Resolved by toggling "Experimental buildpacks".
![Screen Shot 2021-11-16 at 9 31 10 PM](https://user-images.githubusercontent.com/13268856/142140612-cadf4eef-abb1-4d37-a5f3-777ea621fa5d.png)

[2021-11-17 08:25] jstrellner commented on #1184
@likeaj6 Thanks, that almost got me there.  The other thing I had to do was change the node version in package.json to 16.13.0.

[2021-11-17 13:04] samuelmaker commented on #1184
+1 I had to revert the node version change in the package.json to get railway to deploy again.
I believe it fails when using node 17.x

[2021-11-17 14:28] wivaku commented on #1160
https://github.com/calendso/docker/issues/43

[2021-11-19 21:30] rberrelleza commented on #1169
This happens on 100% of my meetings. I'm using cal.com

[2021-11-22 11:25] chug2k commented on #1184
sorry for beginner question - the starter on Railway's site still uses 1.0. What's the difference between railway's starter calendso and just going here from HEAD?

[2021-11-22 11:55] chug2k opened #1196 "TRPCClientError: The column `Webhook.payloadTemplate` does not exist in the current database / The column `Webhook.payloadTemplate` does not exist in the current database, code :-32603"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

On the cal.com website, I created a webhook but didn't fill in the payload (I think). Now I'm unable to load the page again - infinite spinner.

### Steps to Reproduce

1. Go to https://app.cal.com/integrations
2. Site doesn't load, check browser console for errors

### Technical details

Console.log from the 500:
[code]

[2021-11-22 12:01] baileypumfleet commented on #1196
Migration wasn't run on hosted, fixed now.

[2021-11-22 12:01] #1196 closed

[2021-11-24 00:41] jdaviescoates commented on #956
Yeah, I think CalDAV ought to be unchecked over on #62 @baileypumfleet because integration that doesn't actually work isn't really integration at all. Really great product though, so can't wait to begin using it once CalDAV works!

[2021-11-24 08:40] PeerRich commented on #956
hmm that's bad news. I dm'ed you!

[2021-11-24 18:10] sreekaransrinath opened #1203 "Time slots gone wrong on self-hosted cal"
### Issue Summary

Timings gone awry on self-hosted cal.
Availability page timings start at 18:30 instead of 00:00.
![image](https://user-images.githubusercontent.com/50989977/143292352-208a1ca3-d9a8-4360-a8fb-3ead13b5c825.png)

My scheduling slots are offset as well (when I set my availability to be 12:00 PM to 10:00 PM on the event page, my availability shows up from 6:00 AM to 4:00 PM)
![image]

[2021-11-24 18:53] pedrorrivero opened #1205 "Able to schedule for past times in current date"
### Issue Summary
Past times for the current date are available for booking.

### Steps to Reproduce

1. Create an event type
2. Go to booking website
3. Select current date

### Technical details

- Browser version: Chrome 96

[2021-11-24 19:02] pedrorrivero opened #1206 "Only allow scheduling with certain anticipation (tunable for each event)"
### Is your proposal related to a problem?
I would like to avoid having people schedule with less than a few hours notice generally, however, for emergencies I would like to be able to reduce that to just a few minutes.

### Describe the solution you'd like
Default anticipation, tunable for every event type.

### Describe alternatives you've considered
Calendly

[2021-11-24 19:25] pedrorrivero opened #1207 "Allow multiple availabilities"
### Is your proposal related to a problem?
I would like to have professional events (i.e. weekdays), and social events (i.e. weekends also), however the best I can do right now is change the times for a particular event type.

### Describe the solution you'd like
Allow to save multiple availabilities and choose one on each event type.

### Describe alternatives you've considered
Allow editing days

[2021-11-24 19:30] pedrorrivero opened #1208 "Choose which google calendar to write to"
### Is your proposal related to a problem?
Currently events are written to my main calendar in Google calendar.

### Describe the solution you'd like
I would like to be able to choose the calendar where events are created. It would be best if this could be chosen for each event type, with a default option under general settings.

### Describe alternatives you've considered

### Additional context

[2021-11-24 19:38] pedrorrivero opened #1209 "Allow to cancel and delete past bookings"
### Describe the solution you'd like
Bookings should include an option to cancel them that could be used both by the host and the person who scheduled the event.
Additionally, a delete booking option should be added to erase them from history. This is useful if someone makes a mistake, or you are just testing a newly created event type.
This should all be reflected on calendar integrations, and th

[2021-11-24 20:11] sreekaransrinath commented on #1203
Just checked, app.cal.com has the same issue.

![image](https://user-images.githubusercontent.com/50989977/143306936-41b5c356-db94-439d-8fab-f33b8c68caf3.png)
For reference, my timezone is set as IST (GMT +5:30) across booking and scheduling

[2021-11-24 20:20] sreekaransrinath commented on #1203
Rolled back to release 1.1 and this issue doesn't seem to exist there

[2021-11-24 20:35] pedrorrivero opened #1210 "Times get cut when extra line in month view"
### Issue Summary
When there is one extra line in the month view the times do not display full height.

### Steps to Reproduce
1. Check January 22

### Technical details

- Browser version: Chrome 96

<img width="1037" alt="Screen Shot 2021-11-24 at 14 32 44" src="https://user-images.githubusercontent.com/52980156/143309486-7090f6c7-2f79-4e06-b468-3127dc2b58f3.png">

[2021-11-24 20:43] sreekaransrinath commented on #1203
Release 1.1 completely breaks. Separate issue:

[GET] /event-types/4
02:12:49:46
pe"."requiresConfirmation", "public"."EventType"."disableGuests", "public"."EventType"."minimumBookingNotice", "public"."EventType"."schedulingType", "public"."EventType"."userId", "public"."EventType"."price", "public"."EventType"."currency", "public"."EventType"."teamId" FROM "public"."EventType" WHERE ((("public"."

[2021-11-24 22:53] #1205 closed

[2021-11-24 23:15] emrysal commented on #1203
The select dropdown starting at 18:30 is purely a visual bug and does not affect the working;

I suspect some prisma commands need running: `prisma migrate deploy` & `prisma generate` as "DEBUG [error] server side logged this: Error: Attempted to serialize scalar 'unlimited' with incompatible type 'String' for field periodType." indicates an outdated client.

[2021-11-24 23:33] #1148 closed

[2021-11-25 02:22] sreekaransrinath commented on #1203
Well, something was going wrong, otherwise 1 PM should not have been book-able. I triple-checked to make sure that the timezones were lining up, and even tried booking events. Sure enough, the timeslots I'd made available for booking were offset.

[2021-11-25 02:25] sreekaransrinath commented on #1203
This is probably a stupid question, but I'm hosting on vercel and railway. How and where do I run prisma migrate deploy and prisma generate?

[2021-11-25 11:44] #1123 closed

[2021-11-25 11:45] ConnorGargano commented on #1123
I have closed this issue for now as it looks like a resolution has been found.

[2021-11-25 11:51] ConnorGargano commented on #1209
Hi @pedrorrivero,
I will get this raised with our engineering team now for you.

[2021-11-25 11:55] ConnorGargano commented on #1208
Hi @pedrorrivero,
I can confirm this is on our roadmap to complete and should be available soon.

[2021-11-25 12:02] ConnorGargano commented on #1146
Hi @hamstah,
We are currently working on a fix for this and it should be resolved soon.

[2021-11-25 12:02] #1146 closed

[2021-11-25 12:03] ConnorGargano commented on #1171
Hi @aspiers,
I will get this raised with our engineering team to see how we can improve this.

[2021-11-25 12:06] ConnorGargano commented on #1169
Hi there,
We are aware of this and someone is currently working on a resolution.

[2021-11-25 12:06] #1169 closed

[2021-11-25 12:11] aspiers commented on #1171
Thanks @ConnorGargano, much appreciated!

[2021-11-25 12:28] drwb commented on #1169
If it's closed, can you link to the PR please?

[2021-11-25 12:31] ConnorGargano commented on #1169
Hi there,

I have closed this issue as it's already currently raised under another here:

https://github.com/calendso/calendso/issues/1091

This is regarding Zoom as-well as Daily integrations

[2021-11-26 10:44] BahrouniYousra commented on #1160
Have you solved the problem ? I have the same here

[2021-11-26 10:45] arpitprod opened #1221 "Server Error - Error: Error serializing `.csrfToken` returned from `getServerSideProps` in "/auth/login"."
### Issue Summary

Code not running after setup new project

<img width="1439" alt="Screenshot 2021-11-26 at 16 06 24" src="https://user-images.githubusercontent.com/19798516/143568274-4c0a0163-c433-442f-9169-988262c216b7.png">

### Steps to Reproduce
1. Setup new project
2. run yarn dev

### Technical details

- Browser version: Chrome 96
- Node.js version: v16.13.0

[2021-11-26 10:46] drwb commented on #1160
I edited out the banner in the template as recommended above.

[2021-11-26 11:02] arpitprod opened #1222 "Unable to Login - Showing error when adding new user record"
### Issue Summary

error showing after add id, username, name, email, password in User table.
and Prisma Studio error modal not showing CTA button and full bug & I can't scroll.

<img width="1238" alt="Screenshot 2021-11-26 at 15 51 51" src="https://user-images.githubusercontent.com/19798516/143568928-dccc7043-636e-4c3e-b0b5-fdcf43bb225e.png">

### Steps to Reproduce
1. added new record with id, u

[2021-11-26 12:42] oleppe commented on #1089
@aleexalcaraz Could you please share the full code how to implement this. I'm new to react and I found it a little bit hard to understand this. Thanks

[2021-11-26 23:50] flemming-petersen opened #1226 "Jumping in years by selecting a day in a future month"
### Issue Summary

By clicking on a day in a future month, the year will be increased by one year. But only when the selected month is not in the current year.

### Steps to Reproduce

The video will explain it good.
https://www.loom.com/share/3aec0f617c544366878efaa0d4d7c478

### Technical details
Browser: Brave Version 1.32.113 Chromium: 96.0.4664.45 (Official Build) (64-bit)

[2021-11-27 17:40] flemming-petersen opened #1228 "The duration of an eventtype can be negative"
### Issue Summary

If you edit your event types the duration can be negative.

### Steps to Reproduce

1. Edit one of your event types
2. Edit the duration time and set a negative number

This will crash you public site and also the specific event page of your public account.

And also zero minutes results in no bookable time slots.

[2021-11-29 12:15] krzyzanowskim commented on #626
While it's possible to connect on hosted cal.com, but it's not functional apparently too

[2021-11-29 23:13] kamikazebr commented on #1175
In https://github.com/calendso/calendso#manual step 8 and 9 instructions to create user and password.

I'll recommend you some **offline bcrypt generator** like https://www.npmjs.com/package/bcrypt-cli using work_factor/**salt length** of **12** instead 10

You error looks like your database dont ran all migrations on prisma, that self-hosted its local machine?

[2021-11-29 23:19] kamikazebr commented on #1221
You tried ran `yarn` and `yarn dx`?

[2021-11-30 05:02] arpitprod commented on #1221
yes, I tried with Quick start (`yarn` and `yarn dx`) and manual both (`yarn` and `yarn dev`)
When Quick start not worked then I tried with manual also

[2021-11-30 19:18] #1228 closed

[2021-11-30 22:52] sec0ndhand opened #1236 "Date is off by 1 day when scheduling appointments on cal.com"
### Issue Summary

When rescheduling an appointment, the day is off by one day:
![Wrong Date](https://user-images.githubusercontent.com/13591749/144140167-821678a9-8651-4a4b-9349-11e8c89fc72e.gif)

### Steps to Reproduce

1. Schedule an event as a viewing user
2. Reschedule the event as the cal.com event organizer
3. Observe the date being inaccurate by +1 day

Any other relevant information. For

[2021-12-01 12:16] JakeCooper commented on #1184
I've created a PR for this bad boi^^

[2021-12-01 15:06] programmeddeath1 commented on #1222
Press ctrl - on the browser to zoom out and see the entire error message.

[2021-12-01 15:18] sreekaransrinath commented on #1203
It has now completely died.
![image](https://user-images.githubusercontent.com/50989977/144261439-75ac8317-9548-45fd-93dd-e00bf1d49bc3.png)

[2021-12-01 18:55] dmonn commented on #1236
Experiencing the same with inaccuracies being up to +5 days

https://www.loom.com/share/937cc55f352e4bcbabd04d74bef67f3c

Link: https://cal.com/dom/the-mentorcruise-podcast?date=2021-11-30%2B0100

## Technical details

Browser version: Chrome 96
I am in Central European Standard Time (CET) and this is the JS time in the console:

[code]

[2021-12-02 06:36] arpitprod commented on #1222
Previously It was not working without add id column also. So, I added id manually.
But It's working fine now as you guided.
thanks

[2021-12-02 06:36] #1222 closed

[2021-12-03 09:53] narzero commented on #1226
+1

**Technical details**
Browser:  96.0.4664.45 (Official Build) (64-bit)
Cal version: 1.1

[2021-12-03 16:18] #1019 closed

[2021-12-04 18:24] IRediTOTO commented on #943
Hi, I still have this error, don't know why
I have User model like this
[code]
I checked in `UserUncheckedUpdateInput` interface there is no field avatar, just have avatarId

Here is the error `Unknown arg `avatar` in data.avatar for type UserUncheckedUpdateInput. Did you mean `avatarId`? Available args:`

I ran this update

[code]
I am using newest version of prisma

[2021-12-05 07:49] manjufy commented on #1221
Experiencing the same problem here.

[2021-12-05 08:40] manjufy commented on #1221
@arpitprod
do the following
[code]

For me the issue was.
I was running the project on port 3005 by changing `dev: next dev -p 3005` and my .env was pointing to `http://localhost:3000`

[2021-12-05 13:19] 3-w-c commented on #666
Any advice on manually deleting users in the meantime? Is it enough to delete the row from the `users` table or will that break things?

[2021-12-05 13:53] jippi commented on #48
Was this fixed in https://github.com/calendso/calendso/commit/9e4422ea669293d27fdf654fe06734dfcc016c9f ? Looks to be some CI work

[2021-12-05 14:23] jippi opened #1253 "Configureable "frequency" between event starts (in handleAvailableSlots)"
### Describe the solution you'd like

Today calendso uses the `eventLength` to compute the possible start times for booking an event (e.g. a 60min event will start at 10:00, 11:00, 12:00, 13:00 etc by default)

Its however not possible to configure the `frequency` in `handleAvailableSlots` so I can offer more granular start times for a 1 hour meeting (e.g. 10:00, 10:15, 10:30, 10:45 etc) since the

[2021-12-06 11:41] PeerRich commented on #1210
fixed! thank you @zzwt https://github.com/calendso/calendso/pull/1256

[2021-12-06 11:41] #1210 closed

[2021-12-08 07:51] dmonn opened #1271 "Disregarding already booked spots or blocked calendar times"
### Issue Summary

Current events are disregarding already booked spots and blocked calendar times. This means bookers can double-book and generally don't know when a time is taken.

### Steps to Reproduce

1. Have a day fully blocked in your calendar
2. Head over to booking (https://cal.com/dom/15min?date=2021-12-15%2B0100)
3. Time is available

![Screenshot 2021-12-08 at 08 47 17](https://user-i

[2021-12-08 09:43] aaryamvn opened #1272 "Enhance the DB Model Creation Workflow"
### Is your proposal related to a problem?

My proposal isn't necessarily about a problem, however, it is something in regards to

- Increasing the scalability of DB Models
- Developing a more effective model-creation workflow
- Having a class-based approach to models, allowing the utilization of the model in other aspects of the application for type annotations.

### Describe the solution you'd l

[2021-12-08 10:20] ikadix opened #1273 "Team Booking Page has a cutoff avatar"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

If your team doesn't have an avatar the team list will appear cutoff at the beginning on the booking page.
![2021-12-08-101125_550x508_scrot](https://user-images.githubusercontent.com/10099540/145191202-eda1d917-fd78-4bab-b71e-8cf880daf584.png)

### Steps to Reproduce

1. Remove teams image / make a team without an image
2. Go

[2021-12-08 11:40] #1273 closed

[2021-12-08 20:13] Soft-Bred opened #1277 "When clicking a deleted type event while it's "deleting", it sends you to 500 error"
### Issue Summary

When clicking a deleted type event while it's "deleting", it sends you to 500 error

### Steps to Reproduce

1. Have an event type
2. Delete event type
3. Quickly click on the event type you just deleted, before it gets removed from the list
4. Get redirected to a 500: INTERNAL_SERVER_ERROR page
![image](https://user-images.githubusercontent.com/60551230/145277623-b1812964-8400-

[2021-12-08 20:39] christopherfriedrich opened #1278 "UserDropdown Overflow"
### Issue Summary

When choosing a really long username the `UserDropdown` overflows the Sidebar:

![image](https://user-images.githubusercontent.com/35369177/145280652-c2446f6f-dde4-42db-84e7-7285dfd1135e.png)

### Steps to Reproduce

1. Go to settings and type a long username

I would expect some truncating effect to avoid this behaviour.

### Technical details

- Browser version: Chrome 96

[2021-12-08 23:29] Hacksore opened #1279 "Not granting permissions bad user experience"
### Issue Summary

If you are using google calendar and you don't allow access to any scope you get into a denied state but only at something like an API layer.

I know this is rather "user error" but it would be good to drop them back to the app with something nice to look at explaining what they did wrong and or how to resolve it 😬.

### Steps to Reproduce

1. Link your Google Calendar
2. Do not

[2021-12-09 00:48] emrysal opened #1281 "Unable to zero minimumBookingNotice"
When updating the event type, I want to be able to 0 out the minimum booking notice. Currently it ignores the given 0 value and keeps the previous value.

### Steps to Reproduce

1. Go to event type
2. Set minimum booking notice to '0'
3. Save
4. Observe the minimum booking notice is not '0'.

[2021-12-09 09:04] ConnorGargano commented on #1277
Hi there, thank you for raising this, I will pass this over to the engineering team.

[2021-12-09 09:08] ConnorGargano commented on #1271
Hi @dmonn,
Can you confirm these events are set to 'Busy' and not 'Free'

[2021-12-09 09:18] dmonn commented on #1271
Can confirm

On Thu, Dec 9, 2021 at 10:08 AM Connor Gargano ***@***.***>
wrote:

[2021-12-09 11:53] #1278 closed

[2021-12-10 13:39] sec0ndhand commented on #1271
This could fix [office 365](https://github.com/calendso/calendso/pull/1269) but I haven't looked into GCAL.

[2021-12-10 16:01] ChipWolf opened #1290 "Disable branding doesn't remove Cal.com from page title"
### Issue Summary

Disable branding doesn't remove Cal.com from the page title

### Steps to Reproduce

1. Visit cal.com/username with branding disabled
2. Observe ` | Cal.com` appended to the page title
3. Profit?

[2021-12-10 16:03] ChipWolf opened #1291 "Custom domains on hosted application"
### Is your proposal related to a problem?

As a user of the hosted version of cal.com, I want to use my own domain for my booking page.

### Describe the solution you'd like

I'd like to point a CNAME record from my domain to Cal.com that would allow me to use a custom URL.

### Describe alternatives you've considered

Possibly an iFrame?

[2021-12-10 16:53] ChipWolf commented on #693
I'm not seeing an option for the buffer at all @PeerRich @emrysal

[2021-12-13 13:30] llldar commented on #624
cannot repoduce this now.

[2021-12-13 13:45] llldar commented on #622
cannot repoduce, tested on both chrome and firefox

[2021-12-13 13:58] #626 closed

[2021-12-13 14:26] jdaviescoates commented on #624
Nor can I. Just tested on cal.com and it does now block out times from my CalDAV calendar!

[2021-12-13 14:52] bigbaldy1128 commented on #1160
BASE_URL has the same problem in docker

[2021-12-13 16:15] PeerRich commented on #956
Nextcloud & Fastmail has been fixed: https://github.com/calendso/calendso/pull/1300

[2021-12-13 16:54] PeerRich commented on #1160
we're currently debugging why docker is not picking up all variables correctly. maybe @bvallelunga can help

[2021-12-14 03:35] manoj-manoharan opened #1302 "Location options are repeatedly added to Location Dropdown"
### Issue Summary

Every time I select a option and then cancel option from Location Dropdown
Link or In person meeting, Phone call these options are appended repeatedly to the Select Location dropdown options
I tried in my local setup and in cal.com

### Steps to Reproduce

1.  Edit Event Type
2. Select Location
3. Select Any option (eg:  Google Meet )
4. Cancel

### Technical details

- Browser

[2021-12-14 03:47] manoj-manoharan commented on #1302
I have created a [fix for this issue](https://github.com/manoj-manoharan/calendso/commit/e859535f241035966bbfe9783502b686c6421cb6), but not able to create a pull request

[2021-12-14 09:10] austinbrown101 opened #1305 "Teams' about text not showing up on their page"
### Issue Summary

After creating a team and filling out the Team's "About" section, that text doesn't show up on the team link under the team's name like it does with a person

### Steps to Reproduce

1. Create team and fill out about section
2. Go to team's link

### Technical details

- Browser version: Edge 96
- I'm running the self-hosted docker version

![Edit Team](https://user-images.githu

[2021-12-14 09:44] austinbrown101 opened #1306 "First timeslot delayed"
### Issue Summary

Depending on the length of the meeting, callendso sometimes has an arbitrary empty time from when the person is available to when a timeslot is offered.

For example, person "test" is scheduled to have availability starting at noon, but for a 17min meeting, the first timeslot isn't offered until 12:11. Why the wasted 11min? The program seems to work just fine for 10, 15, and 30

[2021-12-14 11:07] artistro08 commented on #1226
Got this issue too. Seems to be tied to the new year coming up

[2021-12-14 15:00] manoj-manoharan commented on #1302
When I try to create a pull request `Create Pull Request` button is disabled

[2021-12-14 15:14] PeerRich commented on #1279
not sure if we can change this, is this Google behavior? @baileypumfleet @emrysal

[2021-12-14 15:14] PeerRich commented on #1290
good point! we'll see how we can fit that into the roadmap 🙏

[2021-12-14 15:15] PeerRich commented on #1124
can you try again? we shipped a Nextcloud fix

[2021-12-14 15:19] zomars commented on #1302
@manoj-manoharan you need to add a title to the PR

[2021-12-14 15:20] PeerRich commented on #1306
@emrysal is currently working on a new system that likely fixes this

[2021-12-14 15:48] baileypumfleet commented on #1291
There is a technical limitation of our infrastructure that makes this difficult right now, but we will look into this at some point :)

[2021-12-14 15:53] ConnorGargano commented on #1305
Hi @austinbrown101,
Thanks for sharing this with us, I will get this raised to our team now!

[2021-12-14 16:29] emrysal opened #1314 "Zoom access token expiry does not work"
### Issue Summary

Zoom stores the expiry in an "expires_in" key on the `key Json` of the Credential database. This will always be set to 3599, as it uses the responseBody directly.

[2021-12-14 19:41] kennethcassel opened #1317 "When you are on the join call page, the text input autocompletes with card information as well as name"
### Issue Summary

When you join a call there is an input where you can enter your name.

The input box autocomplete shows my saved card information instead of just my name.

### Steps to Reproduce

1. Go to an active meeting at the /call route
2. Type in your name
3. See your browser autocomplete with CC information, instead of just name

Any other relevant information. For example, why do you co

[2021-12-14 20:38] drwb commented on #1091
Is this in a fix or a PR yet? It seems a pretty fundamental bug to me.

[2021-12-14 22:14] #1302 closed

[2021-12-14 22:17] ChipWolf opened #1320 "1-on-1 appears by event types unnecessarily, causing confusion"
### Issue Summary

As a user of cal.com, I see '1-on-1' appears by each event type despite additional guests enabled, causing confusion and clutter on the booking screen.

### Steps to Reproduce

1. Create an event type without any team members
2. Ensure 'allowing additional guests' is enabled.
3. Observe the confusing & unnecessary '1-on-1' label by the event type on the dashboard and booking pag

[2021-12-15 02:45] manoj-manoharan commented on #1302
Thank you for creating pull request 🙏🏻. I feel embarrassed🤦🏻‍♂️

[2021-12-15 14:02] #1314 closed

[2021-12-15 19:15] alejandroaguilarhiguera opened #1330 "There is no quick and conflict-free way to change the name of the site."
I propose to use an environment variable in .env for example: SITE_NAME=Cal.com

[2021-12-16 14:24] Graviis commented on #643
@PeerRich this is already solved, right?

[2021-12-16 14:38] Graviis opened #1331 "If i try to schedule a meeting for next month calendar goes bananas"
### Issue Summary

I can't schedule a meeting for the next month, the year start doing year+1

### Steps to Reproduce

1. Go to any user https://cal.com/jamie
2. Go to the next month
3. Click on any day.

![Kapture 2021-12-16 at 15 35 25](https://user-images.githubusercontent.com/21148423/146391657-379313b6-e9aa-48e1-9c51-cd1423e478a9.gif)

### Technical details

- Browser version: Chrome

[2021-12-16 15:20] #1236 closed

[2021-12-16 15:20] #1281 closed

[2021-12-16 15:20] #1226 closed

[2021-12-16 18:53] Graviis commented on #1331
I've been checking and the `DatePicker` is not working properly. I'll try to fix it.

[2021-12-16 19:16] TheBestMoshe commented on #1160
Variables that begin with `NEXT_PUBLIC` are only used at build time. The values are embedded in the build output.

See [this disucssion](https://github.com/vercel/next.js/discussions/17641#discussioncomment-339555) for a possible workaround.

[2021-12-16 20:05] sec0ndhand opened #1337 "Can't reschedule appointments on cal.com"
### Issue Summary

When rescheduling, I cannot complete the task:
![Cant_reschedule](https://user-images.githubusercontent.com/13591749/146441344-b363a1b6-feb8-4fb1-80e4-d0732889deb2.gif)

### Steps to Reproduce

1. Schedule a meeting
2. attempt to reschedule

I expected to be able finish filling out the reschedule form.

### Technical details

Chrome 96 on a mac.

[2021-12-16 20:38] PeerRich commented on #643
yes

[2021-12-16 20:38] #643 closed

[2021-12-16 21:46] Graviis commented on #1331
i saw a fix here https://github.com/calendso/calendso/commit/a3bd22634772bdb7c073cb2cf2488e2a54696e81 no sure why it's necessary all the new code

[2021-12-16 23:15] emrysal commented on #1331
@Graviis The year change was only one part of that PR, it was also fixing a few other issues and a few undocumented bugs, one of the main ones making sure that the dayjs instantiation is system-timezone-independant at all times (primarily to make tests pass).

[2021-12-17 07:52] Graviis commented on #1331
Alright, so im gonna close the issue and PR

[2021-12-17 07:52] #1331 closed

[2021-12-17 18:11] emrysal commented on #1277
@Soft-Bred I wonder how to reproduce this issue; when I go into an event type, then click "Delete" - I am presented by this dialog:

![image](https://user-images.githubusercontent.com/1046695/146589120-0aa46f0a-e718-4b1b-a46e-7191ad910eef.png)
(That one has a little text bug)

Which keeps blocking until the user is redirected back to the event-types page.

[2021-12-17 18:12] emrysal opened #1347 "Text bug whilst deleting an event type (&apos;)"
### Issue Summary

![image](https://user-images.githubusercontent.com/1046695/146589282-bd860b4e-fcdb-42f6-b6b9-71bd484c518d.png)

### Steps to Reproduce

1. Click "Delete" on an event type.

[2021-12-17 19:40] emrysal commented on #1279
No we have control over this endpoint.

[2021-12-17 19:46] PeerRich commented on #1279
yeah lets fix this @emrysal i agree this is not good behaviour

[2021-12-18 01:48] emrysal commented on #1253
Hi @jippi - I linked the PR that implements this "interval" feature. Have a look and see if this will solve your issue (feel free to unlink if you feel it differs from your requirements)

[2021-12-18 01:51] emrysal commented on #687
Having implemented the new /availability edit page; this is now fixed as the old start and endtimes are deprecated. 👍

[2021-12-18 01:51] #687 closed

[2021-12-18 01:55] emrysal commented on #570
Fixed by #1142

[2021-12-18 01:55] #570 closed

[2021-12-18 05:15] zzwt opened #1351 "Userdropdown not refreshed after profile update"
### Issue Summary

Change username didn't refresh Userdropdown.

### Steps to Reproduce

1. Go to settings and change username then save.
2. Updated username is not reflected on Userdropdown in sidebar

[2021-12-18 11:16] Soft-Bred commented on #1277
Yes, that is what should happen, after clicking the "yes, delete event type" button, when the page is redirected to the event types page, the just deleted event will still be there for a split second. if one spam clicks the event before it disappears, it takes you to an error page.

I just tried it and it still works. i would suggest adding multiple event types so as to create some "lag" before th

[2021-12-18 12:40] jippi commented on #1253
Hi @emrysal

I've tried out your PR on my local installation, and it perfectly fixes my use-case as described.

I do however think the default value of event length is not very intuitive, and a default value of 15min or a similar lower value would be "path of least surprise" for most users (based on my own experience).

The reason for this is that I want to optimize my calendar generally for "pack

[2021-12-18 15:06] #1351 closed

[2021-12-18 18:14] emrysal commented on #1253
The reason I kept intervals to default to the unintuitive event length is due to backwards compatibility reasons; it works for a large chunk of users (I'd say 90% is happy using the event length) and as such is probably a better default than something like 15m.

beforeBuffer is my next todo coincidentally; so that's not far off! designs are already done for that.

[2021-12-18 18:14] emrysal commented on #1253
The reason I kept intervals to default to the unintuitive event length is due to backwards compatibility reasons; it works for a large chunk of users (I'd say 90% is happy using the event length) and as such is probably a better default than something like 15m.

beforeBuffer is my next todo coincidentally; so that's not far off! designs are already done for that.

[2021-12-19 12:11] #1253 closed

[2021-12-19 14:03] rajatkulkarni95 commented on #1277
@emrysal The issue seems to occur when multiple consecutive clicks are done on the Delete CTA (kinda like a double click) since multiple `DELETE` events get called synchronously. Disabling the button on the first click should solve it, as the `onClick` would no longer be fired.

I can take a look at this if no one is already working on it

[2021-12-19 20:00] emrysal commented on #1277
@rajatkulkarni95 It's easy to fix but low priority (500 error looks bad but it does not break anything to re-attempt a deletion, as well as not happening for most users) - so I'll probably have a look in the next 1-2 weeks; to put in a debounce. If you're able to have a look before; great!

[2021-12-20 15:00] #1347 closed

[2021-12-20 15:02] llldar commented on #588
Tested with baikal, can add a baikal account succfully.

Just make sure you set `System Settings` -> `WebDAV authentication type` -> `Basic` and save changes
otherwise the authentication will fail.

[2021-12-20 20:31] wetneb commented on #588
Thanks! I will try it again then.

[2021-12-20 21:29] nrademacher opened #1363 "Team ID parameter remains set after cancelling team event type creation"
### Issue Summary

When creating a new team event type and cancelling in the 'Add a new event type' modal, `teamId` remains set. This causes the wrong form modal to appear when subsequently trying to create a regular/non-team event type.

### Steps to Reproduce

1. Be part of a team
2. Navigate to the Event Types page
3. Click on the 'New Event Type' dropdown button and select a team
4. Click 'Can

[2021-12-21 22:45] rjherrera commented on #693
I can't find that option either 🤔

[2021-12-22 00:03] PeerRich commented on #693
i believe @emrysal is bringing it back as "bufferBefore" and "bufferAfter" events

[2021-12-22 04:15] devotionsolutions opened #1371 "Error: Invalid `prisma.user.findUnique()` invocation: connect ECONNREFUSED ::1:55859 when trying to set up a new calendso instance"
I'm getting an Error:  Invalid `prisma.user.findUnique()` invocation:  connect ECONNREFUSED ::1:55859 when trying to set up a new calendso instance

### Steps to Reproduce

1. Follow development setup as described in README file
2. When trying to login with my new user, I'm getting a generic error saying "Something went wrong". I'm not able to login in calendso
3. If I try to access another url, l

[2021-12-22 05:13] flemming-petersen commented on #1371
Did you copied the .env.example to .env?

[2021-12-22 05:40] devotionsolutions commented on #1371
yes, I did that

[2021-12-22 07:03] devotionsolutions commented on #1371
I think I'm missing something here. I've also followed the instructions here: https://hub.docker.com/r/calendso/calendso and when I run  docker-compose exec calendso npx prisma studio and open the prisma studio, I'm now seeing this error:
Message: Error in Prisma Client request: Invalid `prisma.user.findMany()` invocation: The table `public.users` does not exist in the current database.

Am I miss

[2021-12-22 13:54] ConnorGargano commented on #1317
Hi @kennethcassel, I can't seem to replicate this issue, have you tried on a different browser or device? Does the same issue occur?

[2021-12-22 13:55] ConnorGargano commented on #1320
Hi @ChipWolf
Thank you for raising this, I will get this passed over to our engineering team now for you

[2021-12-22 13:58] ConnorGargano commented on #1337
Hi @sec0ndhand
Looks like you are pressing reschedule before inputting the required information, can you give it another go please but this time filling in the name, email ect before pressing reschedule

[2021-12-22 14:08] sec0ndhand commented on #1337
That's the point, If I am rescheduling an appointment, the information is already in the database, it should pre-populate everything EXCEPT the time.

[2021-12-22 15:22] zomars commented on #1371
Can you details the steps you followed? There are multiple options on the README.

[2021-12-22 20:38] #589 closed

[2021-12-23 04:46] ksfraser opened #1373 "Meeting start times - end of day times ignored"
Scenario:
I have multiple meeting lengths available.  Testing the 2 hour (120 minutes) meeting, I discovered I could book a meeting 1 hour before the end of the day.  This was using the default block length (advanced settings).

Similarly, when using 15 minute block sizes I am shown an 8:45pm meeting start time for a 2 hour meeting when end of day is 9pm.

[2021-12-23 16:13] wetneb opened #1374 "Requests to stripe generated on every single click in the app"
### Issue Summary

When I browse someone's availability on cal.com, my browser makes many requests to `https://m.stripe.com/6`. Those can be seen by opening the web developer tools and looking at the network tab.

This seems related to this:
https://stackoverflow.com/questions/45718026/stripe-js-making-duplicate-requests-new-requests-on-state-change

### Steps to Reproduce

1. Went to any cal.com

[2021-12-23 16:20] KrisKodira commented on #693
When is soon?

[2021-12-23 16:33] wetneb opened #1375 "Tracking requests made on every single click in the app"
### Issue Summary

When I browse someone's availability on cal.com, my browser makes many requests to `https://t.calendso.com/api/v1/event`. Those can be seen by opening the web developer tools and looking at the network tab.

uBlock Origin blocks those requests, suggesting that those requests are only there to track user behaviour rather than implementing a feature.

As a user, I do not want to p

[2021-12-23 16:36] wetneb commented on #479
Slowness of availability checking is still a problem for me, using a CalDAV integration. The requests to the backend take about 5 seconds when switching to another month, with no indication that anything is happening, so as a user I click on the "next month" button multiple times, and end up farther in the future than I originally would like to.

[2021-12-23 16:45] wetneb commented on #588
I did not realize this actually requires me to change Baikal's authentication method. It would be nicer if Calendso could support Digest authentication directly (I believe this is a basic feature of most HTTP client). At the very least, the error message you get in the dialog to add a calendar should point to this temporary solution.

Also, the integration suffers from other problems:
- Availabili

[2021-12-23 18:05] zomars opened #1376 "Removing a Zoom credential breaks event types that use it"
### Issue Summary

Some questions:

- What should happen when you remove a currently used Zoom credential?
  - Should it be removed as a location from the event type?
  - Should it prevent you from removing it since it's being used?
- What should happen currently used Zoom credential expires?
  - Should it auto-remove it? And from the event types too?
  - Should we alert the user?

### Steps to Re

[2021-12-23 18:39] PeerRich opened #1377 "send alerts by email if integrations break / booking page is not functional"
we need an email alarm system when an integration fails, similar to how zapier alerts you when a zap fails.

### Describe the solution you'd like

- send an email when something is not functional
- show an alert banner in the dashboard

[2021-12-23 18:47] PeerRich commented on #693
days, if it wasn't holidays haha

[2021-12-23 18:48] PeerRich commented on #479
we are changing the entire system of how we check availability and move to a monthly caching model so all requests will be super snappy. please be patient, we hope to launch it in Q1

[2021-12-23 19:58] maishumanos opened #1378 "detect timezone and choose am/pm or 24h per event type"
I don’t have coding skills but I would like to suggest a feature:

The ability to preset the display am/pm or 24h time format on the event time page.

I’m saying this because the user option to change the time format is hidden under the Timezone selector on the booking page and in some countries (like Brasil for example) the 24h format is more popular. We do often have people that got confused wit

[2021-12-23 23:08] PeerRich commented on #1378
yep. planned!

[2021-12-24 18:31] ChipWolf commented on #693
Total respect for the holiday season, but come January could we possibly see some use of GitHub's milestones and project tracking so we have a rough idea of where the focus is?

[2021-12-24 18:47] PeerRich commented on #693
@emrysal is already working on buffer. it'll be ready when its ready

just yesterday we made our entire list of internal tickets public: cal.com/open

we, similar as other open source projects, dont use github issues and milestones as our "ground truth" roadmap for several reasons

[2021-12-25 14:18] PeerRich commented on #1378
instead of making it a setting in event-types, we will use the locale timezone of the link receiver and show either am/pm or 24h

[2021-12-27 12:24] natelindev commented on #588
Other issues are tracked and being fixed, sorry for the inconveince.

[2021-12-27 12:26] lhqs1314 commented on #877
When will this feature be added :pleading_face:

[2021-12-27 12:47] masteradit commented on #1184
Thanks @likeaj6! This resolved my issue.

[2021-12-29 23:16] emrysal commented on #1375
This is in progress, we had a look at the event and we don't actually use it for anything, so it'll be removed shortly.

[2021-12-30 14:38] AlexRoehm opened #1398 "Set time before/after event type"
### Is your proposal related to a problem?

When I am working from home office I usually do Video calls. If I choose to offer an in person meeting, I need to commute to one of my offices. This takes me 20min before the meeting and in some cases time to get back. For some kinds of meetings I like also preparation time instead of time to commute. This feature I have used with calendly.

### Describe

[2021-12-30 18:17] AlexRoehm commented on #1378
Proposal: The default setting could be part of the user profile (where you also find the timezone default)

[2021-12-30 19:20] PeerRich commented on #1378
yes but for the booking page it should be based on the guests timezone, no?

[2021-12-31 05:02] meehawk commented on #642
Can I take this up?

[2021-12-31 06:29] shubhamV123 commented on #1337
Hey @ConnorGargano Can I look and fix this issue?

[2021-12-31 18:05] AlexRoehm commented on #1378
True

[2021-12-31 19:01] PeerRich commented on #1378
so yeah @maishumanos  and @AlexRoehm this is coming, just not as a dropdown but location-checked.

for the dashboard (your own timezone) + booking page (timezone of the guest)

[2021-12-31 20:08] maishumanos commented on #1378
Hi Peer, this is amazing!

And reading what you said, I had another idea:

The language of the booking page could also be defined based on the guest location!

I don't know how much effort is needed but this would be a cool feature! :)

Thank you guys and I wish to you all a happy new year!

[2022-01-01 08:53] ykguleriu commented on #19
More than happy to help with the Turkish translation! By the way is the #i18n channel closed?

[2022-01-02 01:38] austinbrown101 commented on #1305
Works great now, thanks for the fix

[2022-01-02 01:38] #1305 closed

[2022-01-03 10:26] PeerRich commented on #1378
yes that is planned. based on guests location

[2022-01-03 10:26] PeerRich commented on #1398
@emrysal is working on this already :) should go live soon

[2022-01-03 10:27] PeerRich commented on #1160
https://github.com/vercel/next.js/discussions/17641#discussioncomment-339555

[2022-01-03 10:27] #1160 closed

[2022-01-03 10:28] PeerRich commented on #1374
we will look into this!

[2022-01-03 14:08] zomars commented on #1374
This is expected behavior, Stripe uses this data to detect possible fraudulent transactions. We can opt-out of this at the cost of increased fraud risk. We should discuss if it's worth the annoyance.

[2022-01-03 14:33] wetneb commented on #1374
It is pretty unclear to me why Stripe needs to track the people who want to meet with me, since they will never have to interact with Stripe through Cal.com. I am the one paying for the app, not them.

[2022-01-03 14:35] zomars commented on #1374
It's part of our paid bookings integrations with Stripe. You can add your Stripe account on the integrations, put a price on a booking and charge your customers to book you. Stripe uses this data to prevent frauds on the payment step.

[2022-01-03 14:38] wetneb commented on #1374
I see! It would be nice if the tracking could be disabled if the Stripe integration has not been enabled.

[2022-01-03 14:40] zomars commented on #1374
Agreed we can improve this even further and add it to the backlog and be prioritized accordingly. You can read more about [Stripe's fraud detection here](https://stripe.com/docs/disputes/prevention/advanced-fraud-detection).

[2022-01-03 15:15] wetneb commented on #1374
The prioritization of this is your call, of course. But since your app is marketed as an open source alternative to another service, I would expect many of your users to be also privacy-conscious, and therefore care about this. Also the mitigation does not seem difficult to implement at all.

[2022-01-03 22:50] #1374 closed

[2022-01-04 16:00] redhoyasa commented on #1051
I have tested this and it's already fixed.

[2022-01-05 18:20] raro42 opened #1419 "Date selected not showing up on booking page"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

The selected day is not shown on summary page when booking a meeting any more.
Just shows Meetin time. So, you don't know which date was selected.

### Steps to Reproduce

1. goto https://cal.com/ralf
2. Select Meeting type
3. Select a date
4. Select hour
5. e.g. https://cal.com/ralf/book?type=30&date=2022-01-10T09%3A00%3A00%2B

[2022-01-06 15:54] Kfelts opened #1423 "Deployment on Railway Fail"
### **Issue Summary**
While attempting to deploy on Railway, it errors out

**Here is the error log:**
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: calendso@1.0.0
npm ERR! Found: react@17.0.2
npm ERR! node_modules/react
npm ERR!   react@"^17.0.2" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer reac

[2022-01-06 20:54] sreekaransrinath commented on #1203
Has this not been fixed yet? @emrysal

[2022-01-07 05:16] ArvindhMangoleap opened #1427 "Public booking page is inconsistent with available timings"
Found a bug? Please fill out the sections below. 👍

### Availability on public page is inconsistent with available timings

My Availability page time starts at 9am ends at 8pm for all day.

![72fe76c3-7a3a-4836-8698-08f024c52f8a](https://user-images.githubusercontent.com/72745366/148494309-17b3c9c8-df72-4492-953a-dc5276ac7f86.jpg)

My public booking page today. (6th) -  data is correct
![e5bc2ac4-

[2022-01-07 06:07] joshuakp opened #1428 "Unable to signup into calendso"
### Issue Summary

Unable to signup into calendso, while running via docker

### Steps to Reproduce

1. Run docker-compose to launch calendso
2. http://localhost:3000/signup fails to render with the following error
3. 404 ERROR

This page does not exist.
The username localhost/signup is still available.

### Technical details

- docker-compose, calendso:latest

[2022-01-07 10:23] ConnorGargano commented on #1427
Hi @ArvindhMangoleap
Can you please make sure you have no availability set directly in your event type advanced settings.
https://app.cal.com/event-types

[2022-01-07 10:28] ArvindhMangoleap commented on #1427
Hi @ConnorGargano
This is how my event page advanced settings looks
![image](https://user-images.githubusercontent.com/72745366/148530617-5c331051-2b7d-4690-a26a-b03b5c288c70.png)

[2022-01-07 13:57] kelvinalfaro commented on #1423
Select Experimental build and it will work. I had the same issue yesterday. ![image](https://user-images.githubusercontent.com/1563599/148554124-46867244-0ad8-4527-a8e0-2417644b3468.png)

[2022-01-07 19:37] kelvinalfaro opened #1431 "Unable to create books in Outlook"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Unable to create event. Even shows successfully created in Bookings, but is not able to create it in the actual connected outlook calendar.
![image](https://user-images.githubusercontent.com/1563599/148597620-4e54ad13-1d50-450f-83e8-8e427b0809aa.png)

Any other relevant information. For example, why do you consider this a bug a

[2022-01-07 20:21] zomars opened #1432 "Signup fails when inviting a new user to a team and username is not available"
### Issue Summary

When trying to accept an invite in `/auth/signup?token=xxxxx` and the username is taken this error appears:

![image](https://user-images.githubusercontent.com/3504472/148602285-67d5b613-8e88-4de0-9e02-c09f7fe04743.png)

From Vercel:

![image](https://user-images.githubusercontent.com/3504472/148602342-1caad7ed-f528-4f05-85ab-f2feca4072a2.png)

### Steps to Reproduce

1. Go to a

[2022-01-07 20:36] zomars opened #1434 "An new account accepting a team invite should be accepted by default"
### Issue Summary

When a new user is created via team invite, after doing the onboarding, you need to go to team settings and accept the invite again. The expected behavior is to be already on the team on account creation.

### Steps to Reproduce

1. As user "A" invite a new team member
2. New user "B" should accept the invite and create an account
3. Notice how the invite is still "pending"

[2022-01-08 16:45] borishinzer commented on #1124
Works for me (Nextcloud 19), but got another issue. Existing appointments are not taking into account. Slots remain free to book.

[2022-01-08 16:54] #1419 closed

[2022-01-09 16:08] gepran commented on #1423
Any Suggestions ?

[code]

[2022-01-09 16:59] manjufy commented on #1427
I have the similar issue.
This is my observation so far.

- There is no availability set in event type
- There is also no availability set at the global level (i.e Availability)

So its availability is defaulted.
The slots are actually incorrect for the first first day, however, it works for the following days.

![Screenshot 2022-01-10 at 12 55 04 AM](https://user-images.githubusercontent.com/5035

[2022-01-09 17:03] manjufy commented on #1427
My guess is that, the following date is being utsOffset twice. i.e. I'm in GMT+8,
following date being offset +8 + GTM+8 => Following day always starts with 04:00PM

[2022-01-09 18:06] skadefro commented on #22
I've started implementing a helm chart for calendso at https://github.com/open-rpa/helm-charts/tree/main/charts/calendso
But keep running into the issue with some envoriment variables not getting picked up by next.js like others have reported.
( i can make stripe payments, i can define mail-, google api-, db- settings but BASE_URL or NEXT_PUBLIC_BASE_URL or NEXT_PUBLIC_APP_URL seem to not work ( i

[2022-01-09 22:56] philprime commented on #537
I would like to ping this issue, as I experienced the same issue as @PicchiKevin with my Apple Calendar.

It created the exact same event in all my iCloud calendars (noticed it because it created new entries in the ones I share with my friends/family).

[2022-01-09 23:07] PeerRich commented on #537
@natelindev can you take a look into this?

[2022-01-10 08:01] dmonn opened #1437 "Availability is being ignored (or timezones are off)"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

I've set up my global availability after 10am  (GMT+1). The event availability itself starts at 9am (GMT+1). When I go to my scheduling, users can book times starting at 8am (GMT+1).

![Screenshot 2022-01-10 at 08 56 52](https://user-images.githubusercontent.com/6407031/148733809-5a21e284-e00d-47ce-963e-f5135a14e6ef.png)

![Scr

[2022-01-10 09:59] dit7ya commented on #1423
Did you pin node to 14?

[2022-01-10 11:39] emrysal opened #1438 "Timezone seems to affect the i18n language"
Reported by Rebase

[2022-01-10 13:09] gepran commented on #1423
I just run Reilway Deploy Button,  on github description, looks like I have to run locally an configure and than deploy

[2022-01-10 13:47] manjufy commented on #1437
Same issue as https://github.com/calendso/calendso/issues/1427

[2022-01-10 14:40] natelindev commented on #537
I believe this issue have already been solved by the option here.
You can pick which calendar you want to create events on.

<img width="332" alt="Screen Shot 2022-01-10 at 10 39 10 PM" src="https://user-images.githubusercontent.com/9290574/148783982-3db9f107-65b8-4a38-ae4f-4443cdb91279.png">

[2022-01-10 16:12] dit7ya commented on #1423
This blogpost has all the instructions you need

[Deploy Calendso (cal.com) on Railway](https://blog.railway.app/p/calendso)

You might also need to set the `JWT_SECRET` environment variable value using Railway's variables section.

[2022-01-10 20:37] philprime commented on #537
Yes the option exist, but it seems broken.

I am using the latest `main` branch and set up the following integrations:

<img width="1230" alt="Screenshot 2022-01-10 at 21 14 12" src="https://user-images.githubusercontent.com/30923007/148834814-b18abdd3-0cc0-4e41-8530-3e9991081222.png">

As you can see I create a calendar called "Calendso Bookings" in Google Calendar, which is also selected as the

[2022-01-10 20:41] philprime commented on #537
(wild guess) Why is the BaseCalendarService creating the event in every single calendar, even tough we can select a specific one?

https://github.com/calendso/calendso/blob/09c4040ce5da86e97dd6de08246f69876214e02c/lib/integrations/calendar/services/BaseCalendarService.ts#L53-L117

https://github.com/calendso/calendso/blob/09c4040ce5da86e97dd6de08246f69876214e02c/lib/integrations/calendar/services/

[2022-01-10 21:42] baileypumfleet opened #1441 "Integrations architecture revamp"
Integrations are one of the keys to our success. There are so many platforms out there which we could integrate with, so we need to ensure that the integrations platform is as scalable, efficient and easy to use as possible.

We should do a revamp/refactor of how our integrations system works. Currently, integrations are a little messy and it may be difficult for inexperienced developers to unders

[2022-01-10 21:43] baileypumfleet commented on #1441
#1369 is merged
#1394 is in review
#1393 is in review

[2022-01-10 21:44] baileypumfleet commented on #1441
So far we have:

- Apple Calendar
- CalDAV (Calendar)
- Google (Calendar)
- Office 365 (Calendar)
- Stripe (Payments)
- Zoom (Video)

The calendar integrations should be relatively similar, in the sense that they all provide the same functionality (get calendars, create events etc), with the only differences being how we fetch the data and parse it.

I have very little knowledge of how integration

[2022-01-10 21:50] baileypumfleet opened #1442 "Virtual (Cached) Calendar"
# Virtual Calendar
Store the user's availability in the database, which enables quick querying and additional functionality. We need a way to disable days on the calendar if they're fully booked, so we need to cache availability like Calendly, so when the page loads we fetch the data for which days are fully booked, then when you click on a date it loads the full available times for that day.

##

[2022-01-10 21:51] baileypumfleet opened #1443 "Self-serve account deletion"
Add an option in Settings to delete your account (drop the user field and all related records, such as SelectedCalendar). It needs to also delete the customer record in Stripe.

[2022-01-10 21:53] baileypumfleet opened #1444 "Locale fallbacks"
Here's a specific example.

My browser has the `es-mx` value in the language header
Since we don't have that locale it should fallback to es-419
If it doesn't has that string it should fallback to  es
Otherwise, fallback to en

Right now is falling back to en directly.

[2022-01-10 21:58] baileypumfleet opened #1445 "Jitsi Meet"
Add a Jitsi Meet integration, which enables people to use the public Jitsi meet instance (meet.jit.si) or use their own self hosted Jitsi.

Jitsi integration is as simple as generating a UUID and setting that as the URL (e.g. meet.jit.si/d8sf97s8d9f7s9).

[2022-01-10 21:59] baileypumfleet opened #1446 "[CAL-1110] Error page when rejecting Google Calendar permissions is blank"
We need a prettier way of handling permission rejection

<sub>[CAL-1110](https://linear.app/calcom/issue/CAL-1110/error-page-when-rejecting-google-calendar-permissions-is-blank)</sub>

[2022-01-10 21:59] baileypumfleet opened #1447 "Multiple availability schedules"
Implement the UX surrounding schedules which can be found in Ciarán's Figma document. Essentially, the user can create multiple schedules (e.g. Work hours, personal hours) and assign days and times to them, then when creating an event type they can assign that event type to a certain schedule.

[2022-01-10 22:01] baileypumfleet opened #1448 "Store custom fields + metadata against the booking"
Currently the data is just forwarded to the email, but not actually stored. This is a problem during reschedules.

[2022-01-10 22:03] baileypumfleet opened #1449 "Select calendar override for each event type"
As shown in Figma, add a “create events on” dropdown where you can choose a calendar override

[2022-01-10 22:04] baileypumfleet opened #1450 "Check that the slot is available again on the booking page"
**The customer reports**

"The issue is when there is two people trying to book the same slot at once.  If the first user and the second user have the slots page open at the same time, they can both book the same slot.  Rather than one use confirms/books the slot and the second user gets a denied message."

**Conclusion**
Essentially, we check the availability on the [user]/[type] page, but once y

[2022-01-10 22:06] baileypumfleet opened #1451 "Reason for cancellation"
Add a text field for the reason for cancellation which shows up in the cancellation email.

[2022-01-10 22:07] baileypumfleet opened #1452 "Only show reorder controls if there’s more than one event type"
Re-order shows when there is no other events.

[2022-01-10 22:09] baileypumfleet opened #1453 "Get rid of @headlessui/react"
and use radix-ui for everything.

[2022-01-10 22:10] baileypumfleet opened #1454 "Change email"
Enable changing your email address on the profile screen.

[2022-01-10 22:11] baileypumfleet opened #1455 "buffer before and buffer after meeting as advanced event-types"
must-have feature as seen in all other scheduling tools

[2022-01-10 22:11] baileypumfleet opened #1456 "Reporting"
Slack notifications, email digest, PDF report of bookings, cancellations, revenue (collected through our payment gateway).

[2022-01-10 22:12] baileypumfleet opened #1457 "Redirect to URL after successful booking"
Let users choose a URL to go to after a successful booking. Maybe also pass some data about the booking in query params (e.g. ?date=1234)

[2022-01-10 22:13] baileypumfleet opened #1458 "Recurring events"
Add the ability to create/schedule recurring events with people.

[2022-01-10 22:15] baileypumfleet opened #1459 "Add Description to Calendar Body"
As well as the invitee being able to set the description via notes, the host user should be able to set a description that the invitee will see in the calendar event.

[2022-01-10 22:17] baileypumfleet opened #1460 "Re-add delete and duplicate to eventType list and reshow menu on large screens"
Right now we hide the menu because all it does is show "preview and copy link" which the buttons already do, but in Figma there is duplicate and delete options.

[2022-01-10 22:18] baileypumfleet opened #1461 "Audit log"

[2022-01-10 22:18] baileypumfleet opened #1462 "Microsoft Teams integration"

[2022-01-10 22:19] baileypumfleet opened #1463 "Improve experience when disbanding a team"
Disbanding a team is not elegant

[2022-01-10 22:20] baileypumfleet opened #1464 "Prevent team from having more than one owner at API level"

[2022-01-10 23:25] #1337 closed

[2022-01-11 00:01] PeerRich opened #1467 "CAL-829: :warning: /bookings order is wrong"

[2022-01-11 07:04] saurabh-619 commented on #642
This issue seems to have been resolved. Is there any reason why it's still open? @PeerRich

[2022-01-11 09:05] #642 closed

[2022-01-11 09:10] emrysal opened #1468 "Avatar quality reduces over time"
Avatar seems to be re-saved - this should not happen as every time compression is applied eating away at our avatar picture quality. The quality degradation becomes meaningful only after quite some time.

[2022-01-11 10:35] baileypumfleet opened #1470 "Free/Away status does not update immediately after toggling your status"
If I run a mutation to update a user's status, although I have used invalidateQueries, it still requires a refresh to get the correct status showing.

https://calendso.slack.com/files/U01N7UQUCH1/F02SPLHN8KX/screen_recording_2022-01-05_at_11.52.46.mov

[2022-01-11 10:49] baileypumfleet opened #1471 "Refactor event types"
- Move out inline SVG's
- Upgrade components
- Divide markup
- Line up with Figma designs

[2022-01-11 11:00] baileypumfleet opened #1472 "Team Billing"
Team billing will allow us to charge team owners (usually a company or group leader) for each seat they use, agnostic to the individual accounts paid plan.

**Behaviour:**
- Teams can have X free seats
- Teams cost a separate subscription fee, to prevent username squatters

**Technical Changes:**
- Prevent teams from having more than one owner
- Create Stripe flexible price billing option

[2022-01-11 11:02] baileypumfleet opened #1473 "Prepopulate guests when rescheduling"
If you try to reschedule a booking which initially had guests on it, the guests list is not prepopulated on the bookings page (when confirming the reschedule) and as a result, only the organizer and attendee receive updated information of the booking.

[2022-01-11 11:08] baileypumfleet opened #1474 "Dashboard: Single use booking link"
Allow people to create disposable booking links, which don't give away their regular booking links.

[2022-01-11 15:28] PeerRich opened #1476 "CAL-830: Implement magic links for signup and verification"
I say: after signing up, we should show a dialog:

"We send an email to [peer@cal.com](mailto:peer@cal.com). Please confirm your email address to continue."

and in that email we have a "confirm" button that includes the token & redirects you into a logged-in version of [http://app.cal.com|app.cal.com](http://app.cal.com%7Capp.cal.com)

Reported by Peer.

[2022-01-11 16:01] emrysal commented on #1473
Fixed as part of yesterday's prepopulate field fix.

[2022-01-11 16:01] #1473 closed

[2022-01-11 18:44] hammer opened #1478 "More flexible "Invitees can schedule""
Thanks for the great open source product!

I would like to be able to limit the days on which invitees can schedule a meeting with more flexibility than is currently offered.

Currently, I can:
1. Choose a maximum limit of days relative to today.
2. Choose an absolute date range.

Here are a few things I'd like to be able to do:
1. Set a minimum limit of days relative to today. For example, don't

[2022-01-11 18:50] parapar opened #1479 "Error when booking on January (Month 1)"
Our installation of v1.1 is breaking and cannot render the success view and a booking when a booking is requested in January. It works ok in February and the following months. Even when the booking is created in DB, the mails are not sent, and the user can not see the message with the success of the booking. After some debugging, it seems related to some validation on the month in the start date:

[2022-01-11 19:47] s-gbz commented on #1441
Hey there @baileypumfleet - glad to see you guys progress so hugely!
Congrats on the 7 mil. deal! :tada:

Quick question: There used to be a public discussion that laid out the roadmap.
Last time I checked CalDAV was broken.
Has the discussion been moved somewhere? (and is CalDAV officially safe to use?)

Keep on rocking 🤘

[2022-01-12 12:20] philprime opened #1481 "GoogleCalendarService not using destination calendar id for deleting event"
### Issue Summary

When deleting a booking with an associated Google calendar event in a custom destination calendar, the API call fails to delete the event.

This is caused, because the API call to delete the Google calendar event is always using the `primary` calendar, instead of the calendar where the event is actually located at.

This is the HTTP URL currently used (example calendar event):

[2022-01-12 12:42] PeerRich opened #1483 "CAL-831: Team invite email not sent"
During a test with @emrysal we had no email notification of his pending invite to my team. Needs urgent investigation.

[2022-01-12 12:56] PeerRich opened #1484 "CAL-827: Allow metadata fields as a variable in the custom title"
Reported as a bug by Rebase; but it's a feature yet to be implemented:

[2022-01-12 13:00] PeerRich commented on #1479
have you tried the latest github pull? I believe this was fixed

[2022-01-12 13:00] PeerRich commented on #1479
btw. the next tagged release v.1.2 is coming out in 3 days.

[2022-01-12 13:26] natelindev commented on #537
I'll investigate further today.

[2022-01-12 13:28] PeerRich opened #1485 "CAL-833: As a Cal user, when booking another: I should not see the booking in the /bookings page before the organizer has accepted."
Currently; the booking shows with "Accept" and "Reject" buttons; but these don't do anything as the API guards against the booking being organized by the user trying to accept or reject.

[2022-01-12 13:40] philprime commented on #1481
Even tough PR #1486 fixes the issue, it is not an elegant solution.

Instead the calendar id should be stored with the BookingReference to the external event.

A Google Calendar event is uniquely identified by `calendarId` and `eventId`

[2022-01-12 13:56] #525 closed

[2022-01-12 13:57] #546 closed

[2022-01-12 13:57] emrysal commented on #546
Closing this; unable to reproduce and I believe long fixed.

[2022-01-12 13:59] #386 closed

[2022-01-12 14:03] baileypumfleet commented on #1470
Fixed. Used `onSettled` to trigger query invalidation:
[code]

[2022-01-12 14:03] #1470 closed

[2022-01-12 16:01] PeerRich opened #1490 "[CAL-422] Intercom App"
[https://developers.intercom.com/building-apps/docs/guidelines-tips](https://developers.intercom.com/building-apps/docs/guidelines-tips)

[2022-01-12 20:41] zomars commented on #1481
First of all I must say I'm impressed with this bug report. Thank you so much for taking the time for doing this. Looking into your PR #1486 and some things come to my mind.

First, we should make sure every calendar integration (Apple, CalDav, Google and Office) has the expected behavior when deleting an event.

Could do elaborate on this? Agreed we can always handle this in a more elegant way.

[2022-01-13 08:25] philprime commented on #1481
Right now the application tries to delete the Google event in the `primary` calendar instead of the actual calendar where the event is located in. e.g. `my-cal`.

My PR is more a quick fix, to validate the solution. Instead of `primary` it uses the destination calendar of the user, and "hopes" that is the correct one. This could still fail if we change the destination calendar to another one.

Ste

[2022-01-13 12:00] jdaviescoates commented on #624
Works for me using Nextcloud Calendar. What CalDAV are you using @obstschale ?

[2022-01-13 12:41] borishinzer commented on #624
Same issue here. Tested with Nextcloud 19 and 23

[2022-01-13 12:55] PeerRich opened #1495 "Emails are always in the bookers language"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Right now, the email that is being sent to both receiver and booker are always in the bookers language.

The emails need to be separate languages: the language of the booker and the language of the receiver. If no language is detected on the client, default to English

### Steps to Reproduce

1. change your user agent to anothe

[2022-01-13 13:55] PeerRich opened #1496 "CAL-835: Credit Card input layout is bugged"

[2022-01-13 15:30] jamiepine commented on #1483
Just tested this in prod and it seems to be working fine.
- Tested inviting to both roles `member` and `admin`.
- Tested inviting existing and non existing accounts.

Received all invite emails, closing this for now.

[2022-01-13 16:14] obstschale commented on #624
I use Synology Calendar. I use CalDav on my MacBook, Android Devices and have no problem at all.

[2022-01-13 16:48] ConnorGargano opened #1499 "Apostrophes are not appearing correctly in email subjects."
Found a bug? Please fill out the sections below. 👍

Apostrophes are not appearing correctly in email subjects when displaying the title of an event type.

Event type in question: cal.com/connor/game

I have attached screenshots below.

<img width="910" alt="Screenshot 2022-01-13 at 16 39 40" src="https://user-images.githubusercontent.com/88032331/149372722-65aa9da8-f715-48cc-8cb2-f04f7908567d.png"

[2022-01-13 17:37] zomars opened #1501 "Edge case: Changing a destination calendar and deleting a booking may fail to delete on the actual calendar"
Right now the application tries to delete the Google event in the `primary` calendar instead of the actual calendar where the event is located in. e.g. `my-cal`.

My PR is more a quick fix, to validate the solution. Instead of `primary` it uses the destination calendar of the user, and "hopes" that is the correct one. This could still fail if we change the destination calendar to another one.

Ste

[2022-01-13 21:46] wokawoka commented on #1445
Yes, I agree, Jitsi is also open source.
I'm waiting for calendso to add a way to integrate jitsi to immediately switch to it.

[2022-01-13 21:58] deepakprabhakara opened #1508 "[CAL-2872] Tweak forgot password for Google and SAML identities"
### Is your proposal related to a problem?

With the addition of Google and SAML identities (which do not have a password), we need to tweak the forgot password flow for these accounts.

### Describe the solution you'd like

We should tweak the email message to remind them that they do not have a password and they should use Google/SAML login.

### Describe alternatives you've considered

n/a

###

[2022-01-13 22:51] baileypumfleet commented on #1441
@s-gbz Thanks for the comment! We removed discussions because it was unclear where to add feature requests, but haven't moved over the integrations roadmap. However you can see which integrations we plan to ship in the next version on the products tab. Regarding CalDAV, it should be working, but there are some bugs to iron out

[2022-01-13 23:19] sydwardrae opened #1509 "Apple iCal Integration"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

2 confirmed issues relating to integration with Apple iCal (potentially 2 - 3 more, waiting for cust to confirm they're integrating with iCal)

### Steps to Reproduce

Cust 1 - My cal.com calendar is in some strange state such that it marks tomorrow (“today +1”) as fully-booked/unavailable even though there are no bookings or s

[2022-01-14 16:24] baileypumfleet opened #1511 "Team availability not matching up between booking page and team availability view"
This is what shows on the team availability view:
<img width="481" alt="Screenshot 2022-01-14 at 13 10 58" src="https://user-images.githubusercontent.com/25907159/149549469-7025e163-673a-4f9a-b15a-bb87566a785e.png">

On the team booking page it's showing as fully booked however.

[2022-01-14 18:52] sydwardrae commented on #956
Hey @natelindev , i have a customer with the following issues : a customer saying that their Appointments from CalDAV don’t appear as busy slots - they’re using Woelkli.com, a Nextcloud server.

From what I can see, their integrations are correct so I think it's a bug. Please let me know if I can provide further information - thank you!

[2022-01-14 19:42] ConnorGargano opened #1515 "Forgot Password Email Box"
Found a bug? Please fill out the sections below. 👍

When going to reset my password, the email address box is not the full length.

![image](https://user-images.githubusercontent.com/88032331/149575458-9a5db86f-7402-47b3-b0ec-76bb6354cec2.png)

A summary of the issue. This needs to be a clear detailed-rich summary.

Make the box longer.

Any other relevant information. For example, why do you cons

[2022-01-14 20:45] PeerRich commented on #1509
hey @natelindev our iCal / Apple Calendar is using TSDav under the hood. maybe you can give this a look

[2022-01-14 21:20] sydwardrae opened #1517 "Background Color Changing"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

From a cust: I just signed up for the cal.com trial. I’m embedding an iframe on our site and everything works great except for the background color changes from page to page. The first page is #F8F8F8 and on the second page the background color changes to #F5F5F5

### Steps to Reproduce

### Technical details

[2022-01-14 21:23] sydwardrae commented on #1517
@PeerRich

[2022-01-14 21:27] PeerRich commented on #1517
will look into it! thank you for flagging

[2022-01-14 21:34] krumware opened #1518 "Cannot destructure property 'client_id' of '(intermediate value)(intermediate value)(intermediate value)' as it is undefined."
Found a bug? Please fill out the sections below. 👍

### Issue Summary

The calendso/docker automated build started failing last night after the automatic submodule update.
This is the error:

[code]

It looks like there were several changes related to authentication, so perhaps a type issue was introduced?

linking with https://github.com/calendso/docker/issues/72

### Steps to Reproduce

Repo adm

[2022-01-14 21:49] PeerRich commented on #1518
i wonder if this has something to do with https://github.com/calendso/calendso/pull/1192 ? @deepakprabhakara @zomars timing wise it could fit

[2022-01-14 21:55] sydwardrae commented on #1517
hey @PeerRich here's the video from the customer as well to provide more context : https://files.swansonking.com/HFvRnjVr.mp4

[2022-01-14 22:01] PeerRich commented on #1517
fixed! really helpful video

[2022-01-14 22:04] zomars commented on #1518
We need to make sure that `GOOGLE_API_CREDENTIALS` is defined.

[2022-01-14 22:53] NightKing2k opened #1523 "Feature Request - Automatic redirect after scheduling an appointment"
### Is your proposal related to a problem?
I'm frustrated when I cannot redirect my website visitors after they book an appointment with me.

### Describe the solution you'd like
I'd like to have a feature where the user can be redirected to a webpage of my choice after they finish booking a call/appointment.

### Describe alternatives you've considered
Calendly is an alternative that I have used

[2022-01-15 01:42] delucca commented on #1428
Same issue here

[2022-01-15 04:16] manjufy commented on #1455
This is a nice feature to have +1

[2022-01-15 17:25] PeerRich commented on #1443
fixed https://github.com/calendso/calendso/pull/1403

[2022-01-15 17:25] #1443 closed

[2022-01-15 17:40] ConnorGargano opened #1524 "[CAL-72] Email Confirmation and Stripe Cancellation after Account Deletion"
### Describe the solution you'd like

When deleting an account via cal.com, confirmation via email would be nice.

[2022-01-15 20:57] jtylerhartley opened #1526 "Issue with Duplicated Availability in the Troubleshooter"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

A summary of the issue. This needs to be a clear detailed-rich summary.

### Steps to Reproduce

1. Linking multiple accounts (in my case two google calendar accounts) duplicates my availability in the troubleshooter. The two google accounts have completely separate calendars but somehow the availability from one calendar dupli

[2022-01-16 10:36] PeerRich opened #1527 "GitHub: fix checks"
for some reason, the 4th check is never finishing and blocks CI

![image](https://user-images.githubusercontent.com/8019099/149656547-eed6ae95-553b-4f61-bc80-d48c42197c8a.png)

[2022-01-16 16:07] kitallis commented on #1511
This looks like it is happening for the first open day for the rest of our schedule, only. Originally when we set this up on a Thursday, it was happening for the Friday thereafter.

Now since it's past Friday, it is happening for the Monday (next week).

**Next open day**

<img width="760" alt="Screenshot 2022-01-16 at 9 36 14 PM" src="https://user-images.githubusercontent.com/50663/149667799-5a16

[2022-01-16 17:28] jamiepine commented on #1511
The screenshots shared above appear to be from the booking screen, not team availability. @kitallis are you still referring to team availability(app.cal.com/settings/teams/{id}/availability) or the availability picker on the regular booking flow.

[2022-01-16 22:04] pietro14 commented on #1474
I think this would be a very useful feature!

[2022-01-17 03:02] woodwardjd commented on #1423
I ran through this setup on railway today.  Here's where what I did to get it to work varied from the previously posted [Deploy Calendso (cal.com) on Railway](https://blog.railway.app/p/calendso):

* switch to "experimental builder" as pictured above
* update package.json as follows
[code]
* you'll need to set a few environment variables.  for the "run it locally" step you can put them in `.env` a

[2022-01-17 03:42] woodwardjd opened #1528 "event created after booking confirmation is entered on wrong calendar"
### Issue Summary

* Fresh install today as-of `33694196e1730fe28310e54d441235fd3a02d993` aka tag `v1.2`
* First integration to google calendar (account on google apps for domains or whatever they call that these days)
* Second integration to o365

Creating a booking which requires confirmation, and then confirming the booking, results in an event created on the first calendar of the second integr

[2022-01-17 07:09] amigasoc commented on #624
If it's significant, we're seeing this in our logs:

timeZoneName WARN [[lib] caldav_calendar Method not implemented. dateFrom: 2022-02-24T00:00:00+00:00, dateTo: 2022-02-24T23:59:59+00:00, selectedCalendars: [object Object]

We're connecting to a CalDAV server on Radicale.

[2022-01-17 09:48] pietro14 opened #1529 "[CAL-343] Allow clients to choose different duration for a meeting"
### Is your proposal related to a problem?

Currently, each meeting has its specific duration. If you want to allow a client to choose between a meeting of 1 hour and one of 30 minutes, you have to create two different meetings, one of 60 minutes and one of 30 minutes. That's not very practical if the description of the meeting is the same and if you want to offer meetings with several durations (

[2022-01-17 10:39] milospuac opened #1530 "reschedules don't show up on my calendar"
The customer reported that reschedules don't show. He also put that it doesn't give him a meet link. He got the confirmation email it just doesn't show up on the calendar.

ID 181555500010569

[2022-01-17 12:33] PeerRich commented on #1529
interesting idea. I think i've seen this somewhere before in another scheduling product. we'll think about this!

[2022-01-17 12:34] PeerRich commented on #1530
@emrysal you were looking into some reschedule bugs, right?

[2022-01-17 12:34] PeerRich commented on #1524
@alishaz-polymath do you wanna work on this when you build the Pre-deletion survey?

[2022-01-17 12:38] alishaz-polymath commented on #1524
@PeerRich Yeah I think that would be the way to go

[2022-01-17 12:38] PeerRich opened #1531 "Ask reasons for account deletion"
when clicking "delete account"
![image](https://user-images.githubusercontent.com/8019099/149770647-3576ce77-6e57-4f3a-9ff8-f1ea3155cf43.png)
.. open a modal and ask for reasons:

- I don't need a scheduling link anymore
- It's too expensive
- Something is broken => show textfield: "What's not working?"
- I found a better product => show textfield: "Which app and what are they doing better?"
- Oth

[2022-01-17 12:43] PeerRich commented on #1523
that's a very good feature request and I'd love to add this in the next release.

I think it could just be a textfield in the event-types and if, empty it'll use the pre-made success page.

All I wonder is, if it should redirect immediately or show a countdown: "We are redirecting you in 5, 4, 3, 2, 1 seconds to `mywebsite.com/thankyou`

![image](https://user-images.githubusercontent.com/8019099/1

[2022-01-17 12:59] jamiepine commented on #1511
Okay that's very helpful, I'll look into this today!

[2022-01-17 13:02] #1518 closed

[2022-01-17 13:58] mathieugp commented on #624
I am seeing this problem too. My CalDav compatible server is NextCloud 20.x.

One difference maybe with the other cases above: for some reason, one particular event seems to be taken into account. That event was created by accepting an invitation sent from Google Calendar to my CalDav calendar, while the others were created by me manually. I am using Thunderbird 78.x on Ubuntu 20.04 on the client

[2022-01-17 14:14] pietro14 commented on #1529
Yes, that's right. It's a feature I found in this scheduling product:[ calendr.it](url)

[2022-01-17 15:42] woodwardjd commented on #1528
This was a repeatable problem last night.  Demoing to my partner this morning I'm unable to reproduce.  It correctly writes to the selected "Destination calendar"  😠

[2022-01-17 15:54] woodwardjd commented on #1528
Yet another update: turns out the problem still exists as described.

Where it worked as expected today was on a "collaborative" event type with two people.  In that case it showed on my correctly selected "Destination Calendar" and did not show on the other person's registered calendar (only one).  If I get a chance I'll troubleshoot this second problem more and create another issue, no time righ

[2022-01-17 16:24] PeerRich opened #1534 "have the second availability dropdown start after the value of the first one"
didnt come up with a better name for a ticket.

essentially have the second input start after 9:00 if the first input is 9:00 starting time (and not midnight)

![image](https://user-images.githubusercontent.com/8019099/149805923-fb0207e1-7ce2-4c76-a9f7-b4e3eedb15b4.png)

[2022-01-17 17:10] zomars commented on #1527
It seems this was introduced in #1504

[2022-01-17 17:20] sydwardrae opened #1535 "Customer Exit Survey"
### Is your proposal related to a problem?

Customer Exit Survey (whenever they delete their account)

### Describe the solution you'd like

What plan of cal.com were you subscribed to?

-     Free
-     Pro
-     Enterprise
-     Infrastructure

What is your primary reason for leaving?

-     Price
-     Service
-     No longer needed
-     Not enough ROI
-     Missing features
-     Competitor
-

[2022-01-17 17:33] zomars commented on #1527
Fixed by [updating repo settings](https://stackoverflow.com/a/68988320/6297100)

[2022-01-17 17:33] #1527 closed

[2022-01-17 17:39] sydwardrae commented on #1509
@natelindev , more context for this from the customer :

"It looks like to me there’s a timezone math problem somewhere in your system. I’d almost say for sure it is client side, but I don’t know how your machinery is structured underneath.

I’m in Asia/Taipei +8 GMT. My cal is configured with my availability and timezone in Asia/Taipei.

If I do this:

1. Set my availability today for: 09:00 to 2

[2022-01-17 18:26] aspiers commented on #570
Cool thanks, nice work @emrysal! I have just tested it out and notice that when you hover the mouse over any event type, up and down arrows always appear.  For the top and bottom ones in the list, only one arrow should appear for obvious reasons.

[2022-01-17 22:09] emrysal commented on #1437
@dmonn Could you confirm this been fixed by #1488?

[2022-01-17 22:10] emrysal commented on #1427
#1488 is now merged

[2022-01-17 23:52] DerpgonCz opened #1539 "Booked times are not taken into consideration when booking"
### Issue Summary

When a booking is created, the time is still available to book even though it should not when no integrations are used.

### Steps to Reproduce

1. Login to account on cal.com
2. Book a 30min meeting at any available time
3. Open the calendar page again
4. Select the same day as before
5. Select the same time as before
6. Book a meeting again

Result:

![image](https://user-imag

[2022-01-18 02:17] ianhyzy opened #1540 "Allow setting Reminders per account and per meeting"
### Is your proposal related to a problem?

When Cal creates an event on my Google calendar, it doesn't respect my default reminder settings and sets one reminder to be sent ten minutes before a meeting starts.

### Describe the solution you'd like

I would like Cal to use my default reminder settings, or allow me to set a reminder setting on my account or per event type. Respecting default is eas

[2022-01-18 09:21] RubenWaterman commented on #1509
After updating to the latest version of Cal, I have the same issue (both with my Google calendar and iCal). The odd part is that on the current day, there is availability with the 120 minutes advance requirement (while this date was completely blocked out yesterday) but now tomorrow is blocked out entirely (which should be available as there are no bookings). I can also confirm what @sydwardrae wr

[2022-01-18 09:49] PeerRich commented on #1509
this issue was reported yesterday and @emrysal is already investigating!

[2022-01-18 15:20] PeerRich commented on #1483
@sydwardrae is still experiencing this issue

[2022-01-18 15:26] PeerRich opened #1542 "og-image for event-types"
### Is your proposal related to a problem?

right now, only the profile page has an og-image / social preview (cal.com/peer):
![image](https://user-images.githubusercontent.com/8019099/149966140-011c09bc-0f53-4321-b791-c2c27f710941.png)

but not the event-type (cal.com/peer/15min):
![image](https://user-images.githubusercontent.com/8019099/149966179-e6eb3c7b-3266-4358-becd-39a9b83bd5b4.png)

### D

[2022-01-18 16:48] PeerRich commented on #1454
done

[2022-01-18 16:48] #1454 closed

[2022-01-18 16:49] PeerRich commented on #1441
this is closed, right?

[2022-01-18 16:50] #690 closed

[2022-01-18 16:50] PeerRich commented on #760
I believe this is fixed.

[2022-01-18 16:50] #760 closed

[2022-01-18 16:51] PeerRich commented on #565
it's a lot of complexity to fix that and very low priority. Happy to accept PRs but closed for now

[2022-01-18 16:51] #565 closed

[2022-01-18 16:54] PeerRich opened #1543 "Zapier App"
send same events as we do with webhooks but natively in Zapier

later: also receive data from zapier (i.e. create an event-type / create an event / etc.)

[2022-01-18 16:55] PeerRich opened #1544 "Slack App"
- access calendar embeds inside of slack
- /cal link to create a one time event type

[2022-01-18 16:56] PeerRich opened #1545 "[CAL-84] Salesforce App"
Send cal data to salesforce

[2022-01-18 16:57] PeerRich opened #1546 "PayPal App"
collect payments for event-types with PayPal (similar to the existing Stripe Integration)

[2022-01-18 16:58] PeerRich opened #1547 "Hubspot App"
similar to salesforce #1545, send booking data to Hubspot

[2022-01-18 16:59] PeerRich opened #1548 "Zoho CRM App"
similar to salesforce #1545, send booking data to Hubspot

[2022-01-18 17:00] PeerRich opened #1549 "[CAL-558] Greenhouse Integration"
Be able to use [Cal.com](http://Cal.com) from Greenhouse to schedule meetings.

[https://greenhouse.io/](https://greenhouse.io/)

<sub>From [SyncLinear.com](https://synclinear.com) | [CAL-558](https://linear.app/calcom/issue/CAL-558/greenhouse-app)</sub>

[2022-01-18 17:25] PeerRich opened #1550 "[CAL-584] Integromat / Make.com App"
similar to #1543

<sub>[CAL-584](https://linear.app/calcom/issue/CAL-584/integromat-makecom-app)</sub>

[2022-01-18 20:13] buschco opened #1551 "reschedule will change the uid in the webhook payload"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

A summary of the issue. This needs to be a clear detailed-rich summary.

### Steps to Reproduce

1. Book a appointment (I also tested with secret meetings and with or without metadata)
2. In the Mail to the appointment open the "Manage booking" link and reschedule the appointment
3. The `BOOKING_RESCHEDULED` webhook payload wil

[2022-01-18 20:21] philippdormann commented on #666
closed in PR #1403 🤫

ref #1443

[2022-01-18 20:21] #666 closed

[2022-01-18 21:29] buschco opened #1554 "BOOKING_CANCELLED webhook has different payload values (`type`, `startTime`, `endTime`)"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

A summary of the issue. This needs to be a clear detailed-rich summary.

### Steps to Reproduce

1. Book an appointment (I only tested non secret, without metadata, prefilled email and name)
2. Cancel the booking by visiting the manage link in the email and click `Cancel`

BOOKING_CREATED Webhook:
[code]

BOOKING_CANCELLED Webh

[2022-01-18 21:42] buschco commented on #1554
Ok this seems like a no brainer:
https://github.com/calendso/calendso/blob/038ea3365a02b3056e45673f4eff997d8e1c1ccc/pages/api/cancel.ts#L92-L96

I will submit a PR on this.

[2022-01-18 22:26] buschco commented on #1551
As a fix, the `rescheduleUid` could be included in the payload.
I am sure there is a better solution, but this could be a good starting point.
https://github.com/calendso/calendso/pull/1557

[2022-01-19 05:33] sammarks opened #1560 "Allow restricting Google login to specific domains."
### Is your proposal related to a problem?

I would like to enable Google login so it's easy for my teammates to create their own accounts on-demand. But currently, I can't restrict that to specific domains, so anyone would be able to create an account.

### Describe the solution you'd like

It would be nice to have an environment variable to be able to configure allowed domains for Login with Goo

[2022-01-19 09:29] alishaz-polymath commented on #1531
Where do I send the submitted form/reasons?

[2022-01-19 09:45] PeerRich commented on #1531
help@cal.com

[2022-01-19 12:37] PeerRich commented on #1535
done!

[2022-01-19 12:37] #1535 closed

[2022-01-19 12:38] baileypumfleet commented on #1560
This is something that we could build for the enterprise plan, but we probably wouldn't build this anytime soon, as it's not really applicable for our hosted solution.

[2022-01-19 12:40] baileypumfleet commented on #1551
Thanks for reporting this and submitting a PR! Our team will review this as soon as we can

[2022-01-19 12:41] baileypumfleet commented on #1539
Have you added any calendar integrations?

[2022-01-19 12:45] baileypumfleet commented on #1540
Great idea, we'd love to work on this

[2022-01-19 12:46] baileypumfleet commented on #1526
Our engineering team will have a look into this!

[2022-01-19 12:53] baileypumfleet commented on #1184
As this is now resolved, please try with the latest version.

[2022-01-19 12:53] #1184 closed

[2022-01-19 12:57] baileypumfleet commented on #19
We've since added i18n, please head to the #i18n channel on Slack if you wish to contribute!

[2022-01-19 12:57] #19 closed

[2022-01-19 13:51] manjufy commented on #1437
@dmonn is the code been rebased with your SaaS version.
I can take a look into it, if its still not working.

[2022-01-19 14:04] dmonn commented on #1437
It runs on your SaaS (cal.com), so no idea what the version on there is right now. Included link in message above, still not working as of today.

[2022-01-19 14:36] manjufy commented on #1437
Interesting.
I have pulled the latest codes and tested them. Yes, @dmonn there seems to be a bit of odd behaviour.

It seems to work well if you set global availability (From Availability tab), However, if you have a global availability set, together with event-based availability, slots are completely off, I do not even understand how the slots are calculated 😅.

![photo6287123499441041408](https:

[2022-01-19 14:58] msbt commented on #40
Thanks for adding this, however, is it possible to make this a .env setting so it can be set to 24 hours by default or is there already a way to do that? Couldn't find anything in the ui-settings.

[2022-01-19 15:00] ConnorGargano opened #1562 "Unable to create a new team on hosted platform"
Found a bug? Please fill out the sections below. 👍

I am going to create a team within cal.com at https://app.cal.com/settings/teams however the button 'Create Team'
is unresponsive and nothing is happening, I am having this issue in multiple browsers.
Has anyone else reported this issue or is this an issue only happening to me?

A summary of the issue. This needs to be a clear detailed-rich summa

[2022-01-19 15:01] ConnorGargano opened #1563 "Unable to confirm or reject a test booking made"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

I am unable to confirm or reject a test booking made, this page does not register the click I make

### Technical details

- Browser version: https://www.whatsmybrowser.org/b/L2MDH

[2022-01-19 15:04] milospuac commented on #1431
Thanks for the input, our engineering team will look into this

[2022-01-19 15:21] PeerRich opened #1564 "add "deploy on heroku" button to readme"
https://devcenter.heroku.com/articles/heroku-button

[2022-01-19 16:03] #1531 closed

[2022-01-19 16:28] #1564 closed

[2022-01-19 17:21] kwnc opened #1568 "Polish Language Support"
### Is your proposal related to a problem?

I always frustrated that there's no option of polish language

### Describe the solution you'd like

I want to have polish language support

### Describe alternatives you've considered

There's literally no alternative in the scheduling infrastructures, not even Calendly

### Additional context

[2022-01-19 17:23] kwnc commented on #1568
I would like to push new branch with new polish locale to next-i18 but I got:

Please make sure you have the correct access rights

[2022-01-20 03:26] jtylerhartley commented on #1526
Ok, thank you!

[2022-01-20 09:16] PeerRich opened #1571 "private teams (checkbox during team creation)"
iCustomer:
Groups/teams where members are not aware of each other or can be made private, because they are currently aware of each other when set up as teams.

Peer:
this makes a ton of sense and can easily be a checkbox when creating a team

[ ] private (team members won't see each other)

it would also need to hide avatars on the public booking pages

[2022-01-20 11:02] pelletencate opened #1572 "Client (browser code) doesn't draw correct events"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Certain time slots are not suggested

### Steps to Reproduce

1. Configured a schedule for tomorrow
2. Went to my booking page and selected tomorrow

**Expected behavior**
All available time slots to show up

**Observed behavior**
Time slots in the morning are missing (see screenshot)

As you can see in the screenshot below, th

[2022-01-20 13:18] milospuac commented on #1568
Hey Konrad

Here is the invite to our language platform https://cal.crowdin.com/u/signup?hash=58a5326a6d184ad2fb83ed7c0e525765219

Click on Polish/common.json and start translating

Thanks

[2022-01-20 13:38] milospuac commented on #1554
Thanks for pointing this out, our dev team is looking into this

[2022-01-20 13:39] milospuac commented on #1572
Hey Pelle

Thanks for sending us the issue. Our engineering team will look into this.

[2022-01-20 15:36] milospuac commented on #1428
Thanks for reporting this. Our team will address this.

[2022-01-20 18:36] PeerRich opened #1577 "opt-in emails are being sent after the event happened if unanswered"
I forgot to cancel an opt-in event so I keep getting reminders to accept/reject it, even tho the event already passed

solution: stop sending opt-in emails when time has passed

[2022-01-20 18:39] dan2kx opened #1578 "You will need to pass in an i18next instance by using initReactI18next"
I'm getting the following warning on each page, according to this: https://github.com/isaachinman/next-i18next#appwithtranslation  it looks like the _app isn't being correctly wrapped to initialize?

[2022-01-20 19:26] emrysal opened #1579 "Team webhooks"
Currently webhooks are "personal" and they only apply to the user that created them. This becomes a problem when a team has a round robin event and they expect a webhook to be sent; as the webhook is only sent when the lucky user actually has the webhook associated with him.

The only workaround to currently make ROUND_ROBIN work with webhooks is to create the Webhook in all user accounts capable

[2022-01-20 20:23] zomars opened #1581 "RFC: Migrate to a monorepo"
I'm borrowing @jamiepine original proposal and expanding upon it:

# Cal.com Monorepo Proposal

We're in the middle of big changes and the need to share code between new projects is increasing. This RFC is to discuss the best way to handle a posible migration to a monotipo approach.

The best contender so far IMO is [Turborepo](https://turborepo.org). It plays nice with our Vercel-based setup, is

[2022-01-20 21:06] PeerRich commented on #1581
looks really good already!

we also have /docs/ and /font/

[2022-01-20 22:06] PeerRich commented on #1581
i wonder if we find alternative names for the root folder `apps`

maybe `core`?

[2022-01-20 22:07] PeerRich commented on #1581
do we even need the top folder?

why not

| Folder        | Purpose |
|---|---|
| `web`        | The user facing app |
| `console`    | (**private**) The admin dashboard |
| `api`        | Both REST API endpoints and tRPC resolvers |
| `docs`        | Our current docs website |
| `website`        | (**private**) Our marketing website |
| `packages/ui` | Shared UI components |
| `packages/lib`

[2022-01-20 22:34] zomars commented on #1581
That's a Turborepo default and it kinda makes sense.

[2022-01-21 08:55] asharabu opened #1583 "Login issue"
Hi,
I have deployed calendo docker version as per the [link ](https://github.com/calendso/docker). I have also created user via prisma studio but while trying to login it is not getting success,
![image](https://user-images.githubusercontent.com/42669995/150496825-0f110c37-c6ee-4a2a-96f7-ffbc51839ff9.png)

I am also getting below error in the calendso container logs,

[next-auth][warn][jwt_auto_ge

[2022-01-21 11:50] NightKing2k commented on #1523
Yes, the text field in the event types is a great idea.

However, a countdown redirect will result in some users exiting the page. An automatic redirect will ensure that users don't bounce off the page. Most SaaS calendar apps are using an automatic redirect.

[2022-01-21 12:40] PeerRich commented on #1523
sounds good. i also think an automatic redirect is easier to implement

[2022-01-21 17:07] mjking commented on #1517
Here is one more spot where the background color is different. On the confirmation page https://files.swansonking.com/xEU2DgXx.jpg

[2022-01-21 18:05] DerpgonCz commented on #1539
Like I said, "...when no integrations are used.".

All I am saying it should take the booked times into consideration.

Then a time is booked, it should not be bookable again by anyone else. When an event is set to require a confirmation, the time should be available, but the user should receive a notification if his booking was confirmed, and send a notification to all other users that booked the

[2022-01-21 18:53] #1371 closed

[2022-01-21 18:54] devotionsolutions commented on #1371
Invalid issue. I was misleading a step during the setup

[2022-01-21 19:07] davidwuest opened #1585 "Error: Invalid key length - Apple Calendar Integration"
When trying to add the apple calendar I get the following error. Any ideas?
Error: Invalid key length
    at Cipheriv.createCipherBase (internal/crypto/cipher.js:103:19)
    at Cipheriv.createCipherWithIV (internal/crypto/cipher.js:121:20)
    at new Cipheriv (internal/crypto/cipher.js:227:22)
    at Object.createCipheriv (crypto.js:124:10)
    at symmetricEncrypt (/app/.next/server/chunks/1027.js

[2022-01-21 20:47] nrademacher commented on #1363
Issue has subsequently been fixed 👍

[2022-01-21 20:47] #1363 closed

[2022-01-21 21:35] #1449 closed

[2022-01-21 21:46] #1375 closed

[2022-01-21 22:02] francestanchanco opened #1586 "Booking page vs Availability Time issues"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

A summary of the issue. This needs to be a clear detailed-rich summary.

### Steps to Reproduce

For some reason, the time that appears on the booking page does not match the availability I set.

I have set the availability for the booking to be 2:30pm - 3:00pm MWF

On the booking page, it is showing up as 10:30pm even though i

[2022-01-21 22:12] PeerRich commented on #1586
thank you for submitting! @emrysal can take a look at this

[2022-01-22 06:36] Dax911 commented on #1585
Yes I have the same error.

[2022-01-22 08:46] davidwuest commented on #1585
@Dax911 thank you for your feedback. Just trying to narrow it down. I'm currently using a self signed certificate, since I'm on a test server. Are you using a self-signed or trusted certificate?

[2022-01-22 12:19] s-gbz opened #1588 "Busy booked events from CalDav (NextCloud) & Apple don't block scheduling availability"
Word of praise: Guys, I love Open Source I love your project & I love that you once again demonstrate the world the power of OSS :heart: :rocket:

# Summary
This is issue is probably related to #47 #78 #97 #1271 and possibly #1269 .

As described in the title, I conntected my personal calendar via CalDav from a NextCloud instance.
I booked all of January 24th as busy in said calendar & expected Ca

[2022-01-22 14:06] PeerRich commented on #1517
good catch. will fix

[2022-01-22 14:18] eazyAlf opened #1589 "Add "first day of week" settings for teams"
### Is your proposal related to a problem?

Yes, indeed.
People that book meetings (especially when there is a timeslot every day) get easily confused by the layout starting on sundays.

### Describe the solution you'd like

Either global settings or add to team settings.

### Describe alternatives you've considered

Right now I have turned of all 7 day meetings so that it's more clear where the w

[2022-01-23 00:15] PeerRich commented on #956
one user is reporting:

[2022-01-23 07:26] Bhupesh-V opened #1590 "Support for new line in event description"
### Is your proposal related to a problem?

So currently all the description text is continuous, even when I add new lines (or separate them in different paragraphs)

<img width="701" alt="Screenshot 2022-01-23 at 12 55 12 PM" src="https://user-images.githubusercontent.com/34342551/150668771-7d5a740c-5d4e-482c-b8af-e9d2173aa62a.png">

<img width="1217" alt="Screenshot 2022-01-23 at 12 53 36 PM" sr

[2022-01-23 17:20] Bhupesh-V opened #1593 "meeting scheduled at same time"
### Issue Summary

Users are able to schedule calls at the same date-time if they are in the "Unconfirmed" state
Ideally, a time slot should be made unavailable as soon as an event is scheduled, doesn't matter if it's confirmed or not. It can happen that the "organiser" might confirm the meeting later but before that, another meet gets scheduled for the exact same date/time.

As you can see below,

[2022-01-23 22:03] KierenB commented on #624
Commenting to note that I am also seeing this issue - connecting to Fastmail via caldav.

[2022-01-24 11:49] PeerRich opened #1594 "RFC: admin panel / console.cal.com"
RFC summary of the recent discussions and feature requests of our slack channel [#admin-panel-and-api](https://calendso.slack.com/archives/C02QT9R2HDW)

## Cal.com Admin Panel / console.cal.com

### Goals:
- launch new public RESTful API with a focus on infrastructure use cases
- launch UI for no code administrators to create, update, edit accounts, event-types, bookings (create, cancel, reschedul

[2022-01-24 11:58] PeerRich opened #1595 "App Store Folder Structure"
- pages/apps/zoom
- pages/apps/google-calendar
- pages/apps/COPY_ME

[2022-01-24 12:01] PeerRich opened #1596 "make app.cal.com/apps a public page"

[2022-01-24 13:15] pdepip commented on #1428
any updates on this?

[2022-01-24 14:27] #1517 closed

[2022-01-24 15:18] raro42 opened #1600 "Location selector on the Event-type form closes on most minimal mouse movement or keyboard event"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

The location selector on the Event-type form (backend) is sensitve to mouse moves and closes the select-pop-up sometimes and sometimes not. In general for a human the form works ... just click again, if the selector closes ... but it is hard to use for a machine (e.g. automated tests).

![2022-01-24 16_06_32-Cometa Meet _ Event

[2022-01-24 15:33] PeerRich opened #1602 "team event-type creation broken"
since recently (I believe yesterday) the team creation is broken and silently failing (no console errors):

https://user-images.githubusercontent.com/8019099/150813246-06efd796-caa9-4c06-b564-7148120ab4cb.mov

[2022-01-24 16:59] PeerRich opened #1605 "chinese translation not being picked up correctly"
for some reason the zh-CN (chinese simplified) file is not being picked up by next-i18next

![image](https://user-images.githubusercontent.com/8019099/150828686-cfe2f109-6673-4df9-a0c1-afbad3452131.png)
![image](https://user-images.githubusercontent.com/8019099/150828715-342dfb83-b585-4749-8854-7a910a26eef7.png)
![image](https://user-images.githubusercontent.com/8019099/150828735-5a6a3a80-0568-4d7

[2022-01-24 17:25] #1602 closed

[2022-01-24 17:28] PeerRich opened #1606 "availability: end time should not be lower than start time"
![image](https://user-images.githubusercontent.com/8019099/150833727-6aaecb53-4a13-46ff-9d60-730ad40193d5.png)

[2022-01-24 22:02] denik1981 opened #1607 "Yarn install: TypeError: Cannot create property '-registry-npmjs-org' on string"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

At the end of the yarn install I'm getting this type error.

[code]

I would like to think that's not due to **calendso** and it is something related to my local environment, but truth is that I'm able to use yarn with no issues in other projects. I'm using **volta** which is a toolchain manager that shims the executable paths

[2022-01-24 23:40] PeerRich opened #1610 "add prettier-plugin-tailwindcss to git commit hooks"
https://tailwindcss.com/blog/automatic-class-sorting-with-prettier

[2022-01-25 00:08] denik1981 commented on #1607
No worries about this. I solved it by cleaning the cache of yarn.
Closed.

[2022-01-25 00:08] #1607 closed

[2022-01-25 00:32] PeerRich opened #1611 "one off event-types"
- similar as calendly and savvycal and some other calendars
- instead of having a static booking link, generate a dynamic one that can only be used once

![image](https://user-images.githubusercontent.com/8019099/150888112-6578b7fb-4235-4094-9aec-e7e250504abe.png)

[2022-01-25 05:59] milospuac commented on #1578
Hey Dan! Thanks for raising this issue. Our team will have a look at it

[2022-01-25 06:01] milospuac commented on #1583
Thanks for sending this! Our team will have a look at it.

[2022-01-25 06:03] milospuac commented on #1585
Hey David! Thanks for sending this to us. Our calendar is working on the Apple Calendar integration issues, and I'll give you an update once sorted.

[2022-01-25 06:07] milospuac commented on #1588
Thanks for sending this! Our team will investigate further, and I'll give you an update once sorted.

[2022-01-25 06:19] milospuac commented on #1589
Thanks for your feedback. Our team will have a look at this, and I'll upvote this for the next round of product improvements.

[2022-01-25 06:21] milospuac commented on #1590
Hey Bhupesh! Thanks for the suggestion. I will bring this to the attention of our design team.

[2022-01-25 06:33] milospuac commented on #1593
Thanks Bhupesh! I'll notify our team about this.

[2022-01-25 06:45] milospuac commented on #1600
Hey Ralf! Thanks for bringing this to our attention. Our team will have a look at this.

[2022-01-25 06:56] milospuac commented on #1508
Thanks Deepak! Our team will have a look at this.

[2022-01-25 13:36] milospuac commented on #1589
Hey there! I just tested this out and your team should have the same Monday - Sunday setting as your profile. Change the first day of the week in your [Profile Settings](https://app.cal.com/settings/profile)

[2022-01-25 13:54] PeerRich commented on #1605
@isaachinman [mentioned](https://github.com/isaachinman/next-i18next/issues/279#issuecomment-1021147473):

@steven-tey maybe you can help? It seems like this is a next bug?

[2022-01-25 13:58] leerob commented on #1605
zn-CH is working with Next.js i18n + Nextra here: https://swr.vercel.app/zh-CN/docs/getting-started

[2022-01-25 16:08] baileypumfleet opened #1613 "Minimum event type length check only applies on edit page and not create modal"
When you create an event type, the create modal lets you put a value under 10, but when you update the event type it doesn't allow you to select a value under 10.

[2022-01-25 17:19] amvara-adrian opened #1615 "Rescheduling a meeting causes the server to throw a 500 error"
### Issue Summary

Doing tests on the bookings, I have found that when rescheduling them we get a 500 error. The bookings can be deleted.
This error occurs since [January 25, 2022 at 1:30 AM](https://prod.cometa.rocks/#/Default/Stage/457/run/89149/step/107988). [Test 457](https://prod.cometa.rocks/#/Default/Stage/457) have been run on app.cal.com

See also: #1556

### Steps to Reproduce
1. Goto bo

[2022-01-25 17:58] PeerRich opened #1616 "Add attachment to booking (additional inputs)"
### Describe the solution you'd like

it would be dope to offer an additional input field "attachment" which could be a pdf or similar.

use cases:
- upload a pitch deck (fundraising or capital marketplaces)
- upload a cv (hiring marketplaces)
- upload a medical recipe / medical record  (telehealth)

### Describe alternatives you've considered

Button: "attach file"

![image](https://user-images.g

[2022-01-25 22:47] MarthoxGT commented on #1600
Hey @raro42  and @milospuac

I've been reviewing this problem, and wasn't being able to reproduce it.

If you were using automatic tests, other than the ones already implemented on the main branch, could you please give some more context about the tests you were using please?.

If not, maybe you can upload any kind of multimedia (video) support for us, the readers, to understand better what is hap

[2022-01-25 22:57] raro42 commented on #1600
Cool that you looked into it.

Here is a video explaining it a little bit more.
https://user-images.githubusercontent.com/29251049/151073590-36dd3997-9a64-43c0-be10-d92fa28836b9.mp4

Let me know, if that helped you.

[2022-01-25 23:04] raro42 commented on #1600
And a short video explaining the "arrow-down" provoking the same "closeing of the pop-up". Imho the "pop-up select" is not "reliable" in it's state.

https://user-images.githubusercontent.com/29251049/151074329-ffc9b32f-db04-4871-ad3b-415cb3f127d6.mp4

Could you reproduce that on your side?

[2022-01-26 12:31] MarthoxGT commented on #1600
@raro42  Thank you very much for the multimedia you provided, it helped a lot to understand better the problem, sadly I wasn't able to reproduce it in (almost) the same conditions, I used a virtual machine with Linux (WSL2 with ubuntu 20.04) a Windows 11 setup and used in both chrome 97.

But I did some research about what could've been happening to see if I can provide any kind of solution approa

[2022-01-26 16:17] HanBaichuan opened #1621 "Attendee can't accept invitation directly from their Gmail"
### Is your proposal related to a problem?

Less of a problem, but more of an inefficiency:
Attendee's confirmation Email should include this "widget" below, allowing the attendee to accept the invitation within the Email. Otherwise, they need to go to their Google Calendar, find the new event, and choose "Yes" to the question "Going?".

![example1](https://user-images.githubusercontent.com/499715

[2022-01-26 16:33] milospuac commented on #1615
Hey there! Thank you for submitting this. Our team is working on it.

[2022-01-26 16:41] #1554 closed

[2022-01-26 16:47] ykktrcb7 commented on #588
Hi, I did change this configuration in Baikal and this started working with similar services.
Unfortunately, it did not fix it with calendso.
Am I missing something or do I need to do something else?

Thanks in advance.

[2022-01-26 16:56] #1432 closed

[2022-01-26 16:56] milospuac commented on #1621
Hi there. We always encourage our users to send us features and design flaws, but I am not sure what you are trying to achieve here. Are your teammates all using Google Calendar integration and participation check is something that is necessary?

[2022-01-26 17:31] #1542 closed

[2022-01-26 18:22] raro42 commented on #1600
Thanks!! AS we have a workaround for the testing, this is no big deal.

[2022-01-26 19:07] #1596 closed

[2022-01-26 19:09] zomars commented on #1581
Updated migration steps

[2022-01-26 20:09] miguelnietoa opened #1623 "NaN values are shown when creating new event types under your name"
### Issue Summary

When you try to create event types **under your name**, some NaN values are shown in the modal. The creation of event types under a team works properly.

### Steps to Reproduce

1. Login
2. Enter to Event Types tab (`/event-types`)
3. Click on "New event type" button and select your name
4. You can see the NaN values

![image](https://user-images.githubusercontent.com/39246879/1

[2022-01-26 20:10] miguelnietoa commented on #1623
I can work on solving this.

[2022-01-26 20:10] sydwardrae commented on #1623
Hey there, Miguel! Thanks so much for your request - our team received it and will get back to you as soon as we can! Thank you!

[2022-01-26 20:12] sydwardrae commented on #1623
Hey there Miguel! Thanks so much for bringing this to our attention - let us know what you need along the way.

[2022-01-26 20:21] jamiepine commented on #1581
Very clever concept for preserving the git history. I'm just wondering how existing PRs will be affected if merged post monorepo migration? We could possibly test this on a fork of the repo if need be.

[2022-01-26 20:27] zomars commented on #1581
Added section for Existing PRs:

### Existing PRs

[2022-01-26 21:56] miguelnietoa commented on #1562
It works in my case, do you still have the problem or is it already solved?

[2022-01-26 22:42] miguelnietoa commented on #1563
Hey there! Could you provide more info to reproduce the issue?

[2022-01-26 22:47] #1623 closed

[2022-01-26 23:46] zomars commented on #1562
Hey @ConnorGargano can you try that flow with [this extension](https://birdeatsbug.com) so we can see the console and network calls?

[2022-01-27 14:10] PeerRich commented on #588
it seems like it's still not working @natelindev. got another issue from a customer today

[2022-01-27 14:43] miguelnietoa commented on #1499
Hi @ConnorGargano, would you know how to enable email sending in my development environment? Does this require additional configuration?

[2022-01-27 15:17] MarthoxGT commented on #1577
Greetings @PeerRich!

I was looking at this issue and actually implemented various solutions based on code behavior, but I have a problem testing this in my local environment, because emails doesn't send, I tried creating a new a user on the database, creating a new user by an organization invitation, and modifying an already existing user email, all unsuccessful, so I would really appreciate if y

[2022-01-27 15:34] PeerRich opened #1631 "ability to upgrade from within the app vs. cal.com/upgrade"
### Is your proposal related to a problem?

right now cal.com/upgrade leads to a few problems, namely accounts sometimes are not associated with the stripe billing.

### Describe the solution you'd like

be able to upgrade/downgrade from within app.cal.com

### Describe alternatives you've considered

add an email parameter and prefill the email: cal.com/upgrade?email=peer@example.com

[2022-01-27 19:33] PeerRich commented on #1577
@baileypumfleet what do we recommend for sending emails on staging / localhost?

[2022-01-27 20:32] #1495 closed

[2022-01-27 21:45] miguelnietoa commented on #240
This issue is already solved, right?

[2022-01-27 22:30] HanBaichuan commented on #1621
@milospuac Thank you for your reply! I might have imagined something wrong:

I thought the participation check is necessary for 2 reasons:
1) The event box appears with a solid blue colour on the calendar, clearly indicating it's a confirmed meeting.
2) Only events accepted will send notification alert before the meeting.

I think I was wrong on the second point. I just tested that even unaccepted

[2022-01-28 00:04] PeerRich opened #1636 "error when changing email address in settings"
Unique constraint failed on the fields: (‘email’)

[2022-01-28 00:58] zzwt commented on #1605
Did some quick investigation. The zh-CN file DOES picked up by Next.js i18n, however, the zh-CN file is not fully translated. Full translation have about 600 items but the zh-CN only have about 170 items translated as of 27/1/2022 and 359 items translated in latest update as the time of writing.

[2022-01-28 01:20] PeerRich commented on #1605
but even the things that are translated are not shown, right?

[2022-01-28 01:25] zzwt commented on #1605
I understand Chinese, and the one get translated DOES show.
![image](https://user-images.githubusercontent.com/12154828/151470767-e92def59-788d-4ae1-aef8-d6063a698c00.png)

[2022-01-28 01:27] PeerRich commented on #1605
ahh perfect!!

[2022-01-28 01:27] PeerRich commented on #1605
it seems like its working then!

[2022-01-28 01:27] #1605 closed

[2022-01-28 09:15] alishaz-polymath commented on #1631
I'd recommend having the upgrade/downgrade from app.cal.com as that's the standard practice and is a smooth flow. Should be accessible from settings/billing

[2022-01-28 09:54] #1613 closed

[2022-01-28 10:31] milospuac commented on #1621
I respect your personal preference, it's just that I don't think we would revisit the design of the event box anytime soon. However, do let me know if you have more questions or suggestions.

[2022-01-28 12:48] miguelnietoa commented on #1636
I'll take a look at this

[2022-01-28 13:08] ykktrcb7 commented on #588
Update on my side:
once there is a valid certificate on my server I was able to connect via Caldav. I will continue with testing and update if I find anything else.

[2022-01-28 17:40] #1451 closed

[2022-01-28 18:55] ilhamakbarki commented on #1428
same error, can fast to fix it ?

[2022-01-28 19:04] lionux2 commented on #624
The same issue with Apple Calendar ... tested today, and failing too.

[2022-01-29 00:46] #1631 closed

[2022-01-29 12:38] PeerRich commented on #1089
did you connect a calendar? this happens when no calendar is connected

[2022-01-29 18:11] PeerRich opened #1651 "advanced availabillity"
/availability
- [ ] ability to create multiple schedules
- [ ] select a default
- [ ] timezone
- [ ] date overrides
- [ ] "active on" dropdown

/event-types

- [ ] availability dropdown in event-type settings

![image](https://user-images.githubusercontent.com/8019099/151672259-709abe2e-e188-4725-a44e-a7b4f034f558.png)
![image](https://user-images.githubusercontent.com/8019099/151672321-f1caab43-7

[2022-01-29 18:56] #1434 closed

[2022-01-29 19:22] #1452 closed

[2022-01-29 19:22] #1590 closed

[2022-01-29 20:38] 7d916724 commented on #1583
@asharabu - can you confirm that the `JWT_SECRET` environment variable is defined in the docker container? This error appears to match the github issue here - https://github.com/calendso/calendso/issues/856#issuecomment-935540636

[2022-01-29 20:46] 7d916724 commented on #1585
@davidwuest - can you confirm that the `CALENDSO_ENCRYPTION_KEY` environment variable is defined? I was able to recreate this error by leaving that env variable empty.

You can see [here](https://github.com/calendso/calendso/blob/main/pages/api/integrations/apple/add.ts#L33) that the code expects `process.env.CALENDSO_ENCRYPTION_KEY` to not be null.

[2022-01-30 23:25] HanBaichuan commented on #1621
Thank you @milospuac! I'm closing this issue now

[2022-01-30 23:25] #1621 closed

[2022-01-31 01:05] Fynn opened #1659 "Reset Password Screen style does not match other authentication screens"
### Issue Summary

The password reset screen **style** does not match other authentication screens

___
##### ⛔️Screenshot with not matching style:
![FORGOT-PASSWORD-FORM-BAD](https://user-images.githubusercontent.com/47244955/151725434-8e336f51-3140-4e59-a6c7-54c6f63cb32b.jpg)
##### ✅️Should match this style:
![LOGIN-FORM-GOOD](https://user-images.githubusercontent.com/47244955/151725503-35d160ed

[2022-01-31 01:59] PidgePenPen opened #1660 "Daily digest request"
I am requesting a daily digest feature. I would love to have an email be able to be sent each day at a time I specify that Alerts me to the next days meetings that has been scheduled. Thank you!

[2022-01-31 08:56] ykktrcb7 commented on #624
Same issue with Baikal server

[2022-01-31 09:37] PeerRich commented on #1562
@jamiepine you fixed this right

[2022-01-31 09:42] PeerRich opened #1661 "dynamic group links (collective)"
it would be amazing to have dynamic links such as:

cal.com/peer+bailey+zomars

for a collective call with all three

for now it should by default use Cal Video.

lets start with the default event types:

- 15 Minute meeting (cal.com/peer+bailey/15)
- 30 Minute meeting (cal.com/peer+bailey/30)
- 60 Minute meeting (cal.com/peer+bailey/60)

each uses Daily.co as location

<img width="992" alt="image

[2022-01-31 10:39] PeerRich opened #1663 "changing email does not update stripe email => stripe redirect fails for upgrading"
when changing your email in settings, it does not update the stripe record.

if the user then wants to upgrade, it will silently fail

## solution:

make an API call to Stripe to update the user when changing email

[2022-01-31 10:50] PeerRich commented on #624
has this not fixed the bug? https://github.com/calendso/calendso/pull/1649 if not, @natelindev can take a look!

[2022-01-31 11:01] milospuac commented on #1660
Hi there! That is actually a great idea. I will put this on our list of requested features and our team will have a look into it down the line.

Thanks for reaching out.

[2022-01-31 11:03] milospuac commented on #1659
Hi there! Thanks for reaching out. Our team will have a look into this.

[2022-01-31 12:00] ConnorGargano commented on #1562
@zomars @PeerRich

Looks to be working, it was actually the fact that the team name was already taken but I did not get any banner to say so.
Just no response.

Do you think a banner should be added or error box saying something like 'Team Name already taken'?

@zomars Here is what happened when I used the extension you provided: https://app.birdeatsbug.com/sessions/fxnJf-uCX7KX9K-wDqIB5?

[2022-01-31 12:17] PeerRich commented on #1562
@jamiepine build this already, i believe its not merged yet tho

[2022-01-31 12:20] PeerRich opened #1664 "improve lighthouse score (google page speed) of mobile pages"
https://pagespeed.web.dev/report?url=https%3A%2F%2Fcal.com%2Fpeer

[cal.com/peer](https://cal.com/peer) has a great lighthouse score of 98 on desktop

![image](https://user-images.githubusercontent.com/8019099/151792925-524ce717-29d5-4a22-b938-bfc86f0b90fb.png)

but not on mobile:
![image](https://user-images.githubusercontent.com/8019099/151792950-3a677d01-07d5-48a0-93ec-7cbf8b6fad69.png)

[2022-01-31 12:26] PeerRich commented on #1664
https://cal.com/peer/15min looks a bit worse on mobile:
![Uploading image.png…]()

[2022-01-31 13:03] PeerRich opened #1666 "don't load intercom on public booking pages (cal.com/peer)"
to decrease js load, don't load intercom for public pages

[2022-01-31 13:22] davidwuest commented on #1585
@7d916724 - I had the `CALENDSO_ENCRYPTION_KEY` environment variable defined, but not in the correct length. Regenerated and it worked. Thanks for pointing it out.

[2022-01-31 18:48] PeerRich opened #1669 "stripe connect: save booking id for each payment"
right now you can only match payments to customers by email but not each individual payment

[2022-02-01 06:57] AshnaSabu123 commented on #1583
I have the environment variable JWT_SECERT in the .env file, but not able to login.

[2022-02-01 11:40] carlosrojas commented on #1437
My default time zone is GMT-8. As stated above, when I set the global availability it works just as intended. When I set event availability I can only get my availability to show correctly if I set the event timezone to UTC, but my availability can’t be set past 4pm. If I go past 4pm my availability doesn’t make sense. I assume it stops working after 4pm because that’s when UTC transitions to the

[2022-02-01 12:55] dotesfera commented on #9
Is this implemented already?

[2022-02-01 13:00] 3nprob commented on #9
@dotesfera Yes, as per [v1.0](https://github.com/calcom/cal.com/releases/tag/v1.0) (for next time in a similar situation, you could have just searched for `caldav` in releases and commits)

[2022-02-01 14:13] SylvainRamousse commented on #1455
+1 !

[2022-02-01 14:18] dotesfera commented on #9
Ok, sorry about that. But I was asking this because I'm experiencing strange issue when trying to connect a CalDAV, when I press OK nothing happens.
![image](https://user-images.githubusercontent.com/30806279/151985067-5c3d17ba-4c0f-437c-b762-e7473bd93152.png)

[2022-02-01 14:27] Jenietoc commented on #1593
Hello everyone, I would like to be able to collaborate on this issue.

[2022-02-01 18:36] philippdormann commented on #1445
~ https://github.com/philippdormann/calendso/commit/4d6b4d44515ccd9108e67e1ac2402cbfa6e09c74#commitcomment-65780192

Hi @dominikfehr

**The feature branch is not quite ready yet.** The things left to do is generating the random meeting id in the VideoApiAdapter and displaying the meeting URL in the /success view.

I would probably handle configurable URLs (currently "meet.jit.si/cal/\<uuid>") and

[2022-02-01 19:04] eazyAlf commented on #1589
Hi there,

I have a self hosted instance with the most updated version running on it.

I have tried re-setting the profile, creating a new team and a new event. It's fine on my personal page, it doesn't work for the team.

How can I help figuring out whats wrong?

[2022-02-01 20:10] PeerRich commented on #1445
we currently have daily video do: cal.com/call/3ZTC43qUPtVnTfEg4MzrnV

i think we should do cal.com/jitsu/3ZTC43qUPtVnTfEg4MzrnV

[2022-02-01 20:10] PeerRich commented on #1445
@baileypumfleet whats your take on this?

[2022-02-01 22:58] philippdormann commented on #1445
hm... with that you would kind of break the compatibility for other/ selfhosted Jitsi instances 🤔☹️ (if - ofc - you would want to support that. I would like custom instances to be supported.)

[2022-02-01 23:42] PidgePenPen commented on #1660
Thank you! And if it's helpful, the other scheduling app I use through my website provider (Squarespace) has this feature. I believe the integration is with the shceudling app called Acuity (spelling). This feature on Cal.com would be so helpful. thanks again!

[2022-02-02 00:21] dominikfehr commented on #1445
+1 for support of other / selfhosted Jitsi instances. The main reason for myself to use the combination is the ability to be fully GDPR compliant. Therefor this feature would be quite useful.

[2022-02-02 09:16] PeerRich commented on #1445
no why would that break??

i meant <domain>/jitsu/meetingid not specifically cal.com

[2022-02-02 10:31] PeerRich opened #1682 "Web3 Contribution Roadmap"
## Join our slack:

1. https://cal.com/slack
2. send a message to `@peer`
3. get invited

___

open tasks, ordered by priority

- [x] replace web3.js with either https://rainbowkit.com/ or https://docs.family.co/connectkit
- [x] move all crypto logic out of the booking page into /packages/apps-store and use an interface instead (same as we do with locations)
- [x] potentially abstract all crypto l

[2022-02-02 10:55] achammah opened #1683 "HEROKU deploy- Dangerous semver range (>) in engines.node"
[code]
       import { PrismaClient } from '@prisma/client'
       const prisma = new PrismaClient()
[code]
[code]

[2022-02-02 12:28] marekeiba opened #1686 "Customizable e-mail with confirmation"
### Is your proposal related to a problem?

I'd like to make confirmation emails more personal + add extra information like troubleshooting most common problems when a client can't connect to a call etc.

### Describe the solution you'd like

- Editable Textarea with confirmation email body text
- Added to Advanced settings section in Event Type detail (https://app.cal.com/event-types/XXX)
- Just

[2022-02-02 12:35] marekeiba opened #1687 "Czech language support"
### Is your proposal related to a problem?

Many Czech clients have problems with undestanding the English names of days, months when scheduling.

### Describe the solution you'd like

I'd like to help with a Czech translation. (Is there a localization file I could help translate?)

### Describe alternatives you've considered

- There are none, can't find anything supporting Czech
- Translating vi

[2022-02-02 12:53] eazyAlf commented on #1589
Personal:

![image](https://user-images.githubusercontent.com/58122515/152157343-d87b3fa3-077b-4e30-bbf8-1b08a4bf5eef.png)

Team:

![image](https://user-images.githubusercontent.com/58122515/152157553-af2ac9d8-1cba-4875-8dff-3b1d84286db2.png)

[2022-02-02 15:32] valimero commented on #1579
@emrysal This would be very useful !

[2022-02-02 16:03] saurabh-619 opened #1689 "Roadmap link `https://cal.com/roadmap` is broken"
### Issue Summary

The roadmap page on GitHub seems to be not available which is causing `https://cal.com/roadmap` to fail.

### Steps to Reproduce

1. Go to the home page - `http://localhost:3000/event-types`
2. Click on the Profile photo and then Roadmap Button
3. It takes us to the `https://github.com/orgs/calendso/projects/1/views/4` page, which is not available.

I don't if this is deliberate

[2022-02-02 16:24] #1687 closed

[2022-02-02 17:04] PeerRich commented on #1689
great catch! we recently renamed the repo and it looks like this was not renamed

[2022-02-02 17:04] PeerRich commented on #1689
fixed! deploying now

[2022-02-02 17:04] #1689 closed

[2022-02-02 18:23] edgarlr commented on #1666
Hey @PeerRich, maybe also looking into something like [Party town](https://github.com/BuilderIO/partytown) could help not only for intercom but for all third-party services 🤔  Should also help to improve page's performance

[2022-02-02 18:29] edgarlr commented on #1664
@PeerRich, I notice the site is already using next.js 12, maybe to improve performance overall could help to move at least all marketing pages to getStaticProps and use [Next.js Middleware] to keep all the server-side functionality. Maybe will take more effort but it may be worth it, 🤔

[2022-02-02 18:39] PeerRich commented on #1666
ohh interesting. are there any drawbacks? does Safari support web workers? do they offer polyfills if the browser doesn't offer web workers? https://caniuse.com/webworkers

[2022-02-02 18:42] PeerRich commented on #1666
have you worked with it before @edgarlr would you be down to make an MVP PR?

[2022-02-02 18:45] PeerRich commented on #1664
what do you mean by marketing pages? This repository doesn't include the marketing content, it's in a separate repository

[2022-02-02 18:51] edgarlr commented on #1664
yes, I just updated the comment! I meant maybe for crucial pages first (like /[user] or /index)

[2022-02-02 18:57] edgarlr commented on #1666
I've used it for a client's site a few months ago,  I'm not sure if they offer polyfills but I believe the strategy they use is to still load the scripts "normally" (like if it was a normal script) if the browser does not support web workers https://github.com/BuilderIO/partytown/wiki/Browser-Support). and sure, I can work on an MVP PR, and maybe that way would be easier to discuss it!

[2022-02-02 20:23] PeerRich commented on #1666
awesome thank you man!

[2022-02-02 21:00] acvalencia commented on #1659
Hello @Fynn, I could take a look

[2022-02-02 21:00] MarthoxGT commented on #1437
Greetings @emrysal !!
I just submitted a PR that I think solves this problem, so feel free to give it a look, any feedback is aprecciated.

[2022-02-03 02:16] adriaanvanrossum opened #1693 "Meeting picker shows busy time slots but troubleshooter is correct"
### Issue Summary

I use CalDAV with mailbox.org which shows me this event from 7:30 to 8:30 CET (6:30 to 7:30 GMT) ✅

<img width="477" alt="2022-02-03-03h03-screenshot@2x" src="https://user-images.githubusercontent.com/1079135/152269400-3dfedb0a-a3c7-4243-a31f-2e7d7a9b7245.png">

When selecting Europe/Amsterdam in the date scheduler, it shows the available timeslot for 8:00 CET. This should not b

[2022-02-03 11:26] matbe81 opened #1695 "/lib64/libc.so.6: version `GLIBC_2.18' not found"
### Issue Summary

Error message while installing:

[code]

### Steps to Reproduce

Just executed the installation "yarn" script.

### Technical details

- Node.js version v16.13.0

[2022-02-03 17:10] adriaanvanrossum commented on #1693
Today I found out it is behaving like expected when you set all time zones to UTC.

At `/settings/profile`:

<img width="376" alt="image" src="https://user-images.githubusercontent.com/1079135/152392839-60c27142-2a27-4b3f-b51e-46cc7c95776e.png">

At `/event-types/xxx`:

<img width="747" alt="image" src="https://user-images.githubusercontent.com/1079135/152392919-5e1ef768-7a0f-4664-b877-e69741ab53a

[2022-02-03 20:25] philippdormann commented on #1445
@PeerRich Let me explain - if you intend to only use the official Jitsi Meet instance (meet.jit.si), /jitsi/\<meetingid> would suffice.

If you intend to support custom ([selfhosted](https://jitsi.github.io/handbook/docs/devops-guide/devops-guide-quickstart)) Jitsi Meet instances, the user needs to configure this (either as a user preference or on a global level via env).

I would propopse only bu

[2022-02-03 20:40] philippdormann commented on #1661
This could either use Daily.co, Huddle01 oder Jitsi Meet (see #1445) since no registration is needed.

Maybe as a base (so users can actually remember how to generate URLs), use something like "/peer+philipp/30min" to configure a meeting.

To extend this (for more advanced users) one could provide GET params - e.g. "/peer+philipp/30min?location=daily" or "/peer+philipp/30min?type=rr" for round-rob

[2022-02-03 20:48] PeerRich commented on #1661
seems too complicated. i think as a test we should go with daily.co

[2022-02-03 20:50] PeerRich commented on #1445
i think it s a great first MVP to just link to meet.jit.si/meetingid vs having it whitelable branded. go for it!

[2022-02-04 12:39] jdaviescoates commented on #624
I just re-checked and this works fine for me using a Nextcloud calendar. Events on my Nextcloud calendar are taken into consideration are those time slots are not available to book via Cal.com

[2022-02-04 14:41] milospuac commented on #1695
Thanks for reporting this. Our team will have a look at this issue.

[2022-02-04 14:43] milospuac commented on #1686
Thanks for the suggestion. Our team will have a look at this.

[2022-02-04 14:44] milospuac commented on #1683
Hi there! Thanks for reporting this. Our team will take a closer look

[2022-02-04 14:49] Jenietoc commented on #1428
Hello everyone, I'm going to take a look at this issue

[2022-02-04 14:54] elie222 commented on #1682
Supports ERC721 already, no?

[2022-02-04 15:23] acvalencia commented on #1467
Hi @PeerRich, can you give me details to reproduce the error? Thanks

[2022-02-04 15:43] acvalencia commented on #1122
I can take a look at it issue

[2022-02-04 15:44] PeerRich commented on #1682
can you test? I think last time i tested it didn't work

[2022-02-04 15:46] PeerRich opened #1705 "web3: rethink redirect (wallet verification on event pages)"
instead of linking back to cal.com/username when unverified, disable the UI and ask to verify (i.e. https://cal.com/peer/orange-dao)

[2022-02-04 16:57] KierenB commented on #624
I just checked using cal.com, it's not fixed there yet (not sure if the fix has been deployed there yet or not?)

[2022-02-04 18:14] PeerRich commented on #1467
its fixed 🙏 closing

[2022-02-04 18:14] #1467 closed

[2022-02-04 20:34] sec0ndhand opened #1708 "Bookings between 2 cal.com users show on both accounts, cancel email sends to wrong account"
### Issue Summary

When creating an event between 2 people on cal.com (just for a test), The event shows up in both user's upcoming bookings.  This happened once in the past (sometime around December) when I met with Peer, and it happened again today between my 2 cal.com accounts.

### Steps to Reproduce

1. Create 2 accounts, account A and B on cal.com
2. View the calendar of account A
3. Schedul

[2022-02-05 01:13] paulofonseca1987 opened #1709 "Support for multiple chains like polygon, celo, gnosis chain, etc"

[2022-02-05 07:11] compgeniuses commented on #83
seems they are never going to implement a user dashboard ever. ok point noted and taken

[2022-02-05 09:05] lionux2 commented on #624
Just checked and not working for me either. Based on jdaviescoates, it works, so maybe his configuration on Nextcloud calendar works. I have multiple ' calendars', such as personal, work, etc... so maybe cal.com does not go through any of them if many exists?

[2022-02-05 09:43] PeerRich commented on #624
can you record a loom.com and @natelindev can you take a look?

[2022-02-05 14:48] PeerRich opened #1711 "dark mode pages flicker with white background in iframes"
see: https://cal.com/peerrich-eth/orange-dao or  https://cal.com/web3

https://user-images.githubusercontent.com/8019099/152646668-a81c1f40-10a3-4624-a04e-badf006c1f38.mov