[2022-02-05 19:24] elie222 commented on #1682
Just tested and works fine

[2022-02-05 19:42] ritvij14 commented on #1682
Hello @PeerRich, we talked on Slack a while back. I am taking up task 4 regarding web3modal. 😄

[2022-02-06 00:26] PeerRich commented on #1682
we maybe will be using wagmi instead

[2022-02-06 06:12] ritvij14 commented on #1682
Ok got it.

[2022-02-06 13:17] ritvij14 commented on #1682
@PeerRich any information regarding the UI of the wallet connection box? Need it to show the multiple wallet options. Also right now wagmi has 3, injected, walletconnect and walletlink.

[2022-02-06 15:08] PeerRich commented on #1682
oh interesting, so web3modal has more connections right? Maybe is it worth to open a PR with web3modal and one with wagmi to see the differences?

we have a Dialog.tsx component which you can use: https://github.com/calcom/cal.com/blob/main/components/Dialog.tsx

[2022-02-06 15:43] tmm commented on #1682
Injected (i.e. MetaMask), WalletConnect (Rainbow, [and more](https://walletconnect.com/registry/wallets).), and WalletLink (Coinbase Wallet) represent tens of millions of wallets, and are the top three options for [OpenSea](https://opensea.io), [Uniswap](https://uniswap.org), [Foundation](https://foundation.app), etc. The long tail of other wallets aren't used as much, especially because MetaMask

[2022-02-06 15:45] PeerRich commented on #1682
i am open to compare. would you be down to make a PR with wagmi?

[2022-02-06 18:40] PeerRich commented on #1682
just tested wagmi and it looks really epic. would you be down to collab on this? we'd may even run a paid project @tmm for "auth with eth" too so people don't need email + password to create an account

[2022-02-06 19:03] PeerRich opened #1714 "daily.co: change app.cal.com/call/<meeting-id> to cal.com/video/<meeting-id>"
can we change `https://app.cal.com/call/<meeting-id> `

to `cal.com/video/<meeting-id>`

(to have no app.cal.com subdomain we need a redirect in the cal.com repo, cc @emrysal)

reasons:
- shorter (no app.)
- Cal Video sounds better than Cal Call

[2022-02-06 22:34] PeerRich opened #1716 "remove "edit location" dialog for non-in-person"
this dialog ![image](https://user-images.githubusercontent.com/8019099/152704323-3320744e-29de-403f-9530-0d11afb33f80.png)

should only be shown when selecting "in-person or link"
![image](https://user-images.githubusercontent.com/8019099/152704348-a827eb6d-7672-4aca-bab6-ade580a5d0d0.png)

[2022-02-07 03:57] LecrisUT opened #1717 "Mutliple participant event with meeting poll"
### Overall

We want to orchestrate an event among multiple participants, each selecting their available timeslots. Then the creator of the event can select one of the timeslots and backups to schedule the event.

### Logic to implement

- [ ] Add a multiple participant event type
  - [ ] Scheduled when all selected participants/minimum participants, or a mix of those have selected their timeslots

[2022-02-07 06:46] alishaz-polymath opened #1718 "End Time not 24:00 for other TZ users after the end time check fix in #1673 issue"
Reported by Cristian Le (@LecrisUT) on PR#1673
[code]
![image](https://user-images.githubusercontent.com/25577083/152717033-39390692-c542-4a1e-9033-c5477127c70b.png)

_Originally posted by @LecrisUT in https://github.com/calcom/cal.com/issues/1673#issuecomment-1031018770_

[2022-02-07 06:58] alishaz-polymath commented on #1718
I think that the way time is processed in `/availability`, creating options based on UTC but then only their time (HH:MM) is considered later on, it allows for the possibility of an issue where logically, the end time can't be before start time in terms of the dayjs value but it can still be processed just fine in the API as only time is considered.

An example scenario:

- We set time from 16:00

[2022-02-07 07:07] LecrisUT commented on #1718
Unrelated, but an interesting btw, there are time systems that use `25:00`, etc. so that the continuity is not broken. This is only relevant if the fixed day of the week is relaxed and/or a continuous week view is adapted.

[2022-02-07 07:11] alishaz-polymath commented on #1718
@LecrisUT Thank you for pointing out the bug, btw, and thanks for this input. I'm currently exploring how we're processing the selectable timeslots in Availability to see if that can be improved. Rather than patching here and there, it would be better to ensure that the setup is coherent and stable in and of itself :)

[2022-02-07 07:32] LecrisUT commented on #1718
Also, relevant PR to work on top of is #1691

[2022-02-07 09:03] milospuac opened #1720 "Option for mandatory payment at the time of booking"
### Customer feature request

  User wants to make his Stripe payments mandatory at the time of booking and not give his customers the option to pay later

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

 https://app.intercom.com/a/apps/txijvysj/inbox/inbox/5366480/conversations/181555500010847

<img width="434" alt="Screen Shot 2022-02-07

[2022-02-07 10:03] buschco commented on #1551
I think this issue should be reopened.
I messed up the branch and the wrong thing was merged, so this issue was never addressed in any commit.

https://github.com/calcom/cal.com/pull/1556#issuecomment-1018587633

[2022-02-07 13:58] raro42 opened #1725 "Warn on calendar requests from disposable email adresses"
### Is your proposal related to a problem?

I got bookings from people that are using disposable email adresses as seen on https://disposable.help/domain/mannawo.com

It would be nice to either not allow such emails to be used for booking or put a WARNING in the calendar entry.

### Describe the solution you'd like

Have an option in my app.cal.com settings that per default blocks disposable email

[2022-02-07 14:13] Jenietoc commented on #1593
Hello everyone, I am going to take a look at this issue, I have a question how can I create Unconfirmed events?

[2022-02-07 15:28] PeerRich commented on #1725
lets see if we can find an email spam package that covers some of those things.

it would also be cool if the frontend warns you if you type in gnail.com instead of gmail.com

[2022-02-07 15:32] milospuac commented on #1717
Thanks for the suggestion. Our team will have a look.

[2022-02-07 17:06] PeerRich commented on #1551
@alishaz-polymath

[2022-02-07 17:51] AnandChowdhary opened #1729 "Slash (`/`) in meeting URLs throws a 404"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When editing an event type, you can add a URL with a slash (`/`).  For example, I tried to set up cal.com/anand/hiring/20 for a 20-minute introductory call for hiring. However, this throws a 404 error since the slug only matches one level of route param.

We should either add validation to prevent the use of certain special cha

[2022-02-07 18:07] PeerRich commented on #1729
i think nested routes could cause many side effects so we rather not allow it but we could add a duration overwrite hiring/15 overwrites the `hiring` event-types duration from 20 to 15

[2022-02-07 18:08] AnandChowdhary commented on #1729
That's a good idea! For now, maybe the best is to not allow a slash in the URL?

[2022-02-07 19:05] PeerRich opened #1730 "add react-colorful for BrandColor picker"
https://www.npmjs.com/package/react-colorful

<img width="455" alt="image" src="https://user-images.githubusercontent.com/8019099/152854788-dd629286-2b39-49a1-9eeb-bfea281ed899.png">

[2022-02-07 19:08] Jenietoc commented on #1729
Hi everyone, can I add the validation to disallow `/` in the URL

[2022-02-07 19:10] PeerRich commented on #1729
sure go for it! Thank you @Jenietoc

[2022-02-07 19:39] miguelnietoa commented on #1730
Hi, I will work on that!

[2022-02-07 22:00] PeerRich commented on #1730
awesome!

[2022-02-07 22:05] PeerRich commented on #1428
hey everyone. We need to clarify that account creation is not included in the open core, yet.

[2022-02-07 23:59] PeerRich opened #1735 "/booking order is mixed"
somehow the list entries are not sorted correctly.

it should be:

most upcoming event = top

[2022-02-08 05:00] alishaz-polymath opened #1738 "Invalid hex code is currently accepted without support resulting in white bg and text"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

brand color input without '#' results in white background and white text
![image](https://user-images.githubusercontent.com/52925846/152921171-61f9888d-f3f8-4880-b5b1-8dbb46824afb.png)

### Steps to Reproduce

1. go to settings/profile and save brandcolor without '#' => all primary buttons are now white bg and white text

[2022-02-08 08:46] alishaz-polymath opened #1739 "Eventtype advanced availability validation"
- [ ] When inputting the availability time in the event's advanced menu, there is no check if `end time < start time`.
- [ ] Curiously it also allows for `>24h` format, however it does not have proper logic to deal with it. Intended logic is for it to spill over the next day (similarly for `-24h` format), e.g. selecting `Tue, Wed` with availability `20:00 - 26:00` should translate to `Tue 20:00-24

[2022-02-08 12:49] pow-nico opened #1742 "integration with openproject"
### Is your proposal related to a problem?

I would like to use cal.com together with https://www.openproject.org

### Describe the solution you'd like

Maybe it's possible to integrate their API in your product

### Describe alternatives you've considered

Nextcloud with Nextcloud Appointments App (https://github.com/SergeyMosin/Appointments)

Thanks for your consideration!

[2022-02-08 13:36] PeerRich commented on #1428
more context: https://github.com/calcom/cal.com/pull/1734

[2022-02-08 13:36] #1428 closed

[2022-02-08 13:38] PeerRich commented on #1742
hey @nico-pwn what exactly do you want to integrate with of openproject?

[2022-02-08 14:40] PeerRich commented on #1682
do you still wanna contribute? do you wanna use wagmi instead + our Dialog.tsx component?

[2022-02-08 15:17] KATT opened #1747 "Additional inputs on booking page"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Additional inputs are a bit funny looking with the `<br/><br/>`-stuff

<img width="1180" alt="Screenshot_2022-02-08_at_16_11_32" src="https://user-images.githubusercontent.com/459267/153016727-88667ee1-b589-48ae-ad1c-9167762e54b7.png">

### Steps to Reproduce

1. Add additional input (TEXT)
2. Book a meeting
3. Go to `/bookings

[2022-02-08 15:54] PeerRich commented on #1747
can you check if this fixes it? https://github.com/calcom/cal.com/pull/1750

[2022-02-08 16:01] #1718 closed

[2022-02-08 16:13] #1730 closed

[2022-02-08 16:13] #1738 closed

[2022-02-08 16:13] denik1981 commented on #1747
I'm not able to reproduce this locally (meaning without the #1750 fix).
I have tried using different types of text input patterns (newline prefix, whitespace, multiline, etc)

[2022-02-08 16:55] PeerRich commented on #1747
@KATT can you do another test?

[2022-02-08 17:13] nico-pwn commented on #1742
Hey @PeerRich,

as I understood cal.com has support for calDAV and some proprietary APIs for Apple, Microsoft and Google to integrate the appointments made in cal.com with these respective services.

Unfortunately openproject doesn't support calDAV and that's why I thought to open that feature request.

TLDR: integration of appointments of cal.com into openproject through their API (https://www.op

[2022-02-08 17:46] PeerRich commented on #1742
do you know someone working on OP? happy to accept pull requests but we will likely not work on an integration ourselves

[2022-02-08 17:51] ritvij14 commented on #1682
@PeerRich sure I will give it a try once.

[2022-02-08 18:33] snikpic opened #1752 "Daily.co Cloud Recording on new booking"
### Is your proposal related to a problem?

Is there a way to ensure sessions are recorded when integrating Daily.co video calling ? There doesn't seem to be an option on either the booking or the interface when the call starts

### Describe the solution you'd like

Have recording button in the virtual conference room

### Describe alternatives you've considered

Have the option on the booking eve

[2022-02-08 19:44] denik1981 commented on #1747
https://user-images.githubusercontent.com/66160623/153063579-7977a864-688c-45b5-88e3-4ac60cf44222.mov

[2022-02-08 22:11] zomars opened #1754 "Check for end time < start time on events availability"
@zomars this issue is still relevant though

_Originally posted by @LecrisUT in https://github.com/calcom/cal.com/issues/1721#issuecomment-1033097028_

[2022-02-08 22:12] #1445 closed

[2022-02-08 23:24] OITDE commented on #1431
Hi!
weve got the same error. Created the App in Azure twice. Reading the Calendar for free times is working.
Regards, Ingo

[2022-02-09 00:49] russellwmy opened #1755 "Improve code quality with code climate"
### Is your proposal related to a problem?

(Write your answer here.)
Since the codebase is getting complex and bigger, the workload for PR reviewers will be very high and the code quality is hard to maintain.

### Describe the solution you'd like

(Describe your proposed solution here.)
Add [code climate](https://codeclimate.com) to the CI/CD pipeline to automate code quality check.

### Describe

[2022-02-09 01:14] zomars commented on #1754
closed in favor of #1721

[2022-02-09 01:14] #1754 closed

[2022-02-09 03:25] alishaz-polymath opened #1757 "Team member doesn't show up in team public page if their avatar doesn't exist"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When the user doesn't have an avatar uploaded, they can still be added to a team event but they don't show up on the public page of the event, or on the listing of the event

### Steps to Reproduce

1. Add a team member who doesn't have their avatar uploaded, to a team event
2. Check event listing and look for their gravatar fa

[2022-02-09 10:43] alishaz-polymath opened #1761 "An optional reason for rejection"
### Describe the solution you'd like

Add a textarea field for the reason for rejection (in opt-in bookings) which shows up in the rejection email.

![image](https://user-images.githubusercontent.com/52925846/153182157-5fe332fa-155b-422c-8518-0ddd12f2abbe.png)

[2022-02-09 13:25] PeerRich opened #1763 "event-types: add app logos to location dropdown"
this dropdown should show the .svg of each app

<img width="740" alt="image" src="https://user-images.githubusercontent.com/8019099/153209404-470f7e09-9b45-4677-a35b-c718c9272408.png">

like this:

<img width="723" alt="image" src="https://user-images.githubusercontent.com/8019099/153210312-321daa36-d7e7-48bd-953a-11e6c51d719a.png">

[2022-02-09 17:18] denik1981 opened #1766 "yarn db-reset throws "Can't reach database server""
### Issue Summary

Running `yarn db-reset` ends up in a Prisma Error within the migration step.
[code]
Running the inner tasks separately and in the proper order doesn't make the task fail.
Seems postgres isn't ready by the time prisma attempts to start the migrations.

### Steps to Reproduce

1. `yarn dx`
2. `yarn db-reset`

### Technical details

- yarn: '1.22.17'
- calendso: '1.0.0'
- node: '14

[2022-02-09 18:00] PeerRich opened #1768 "implement "web-share" on mobile devices instead of copying the event-type"
this button:

<img width="548" alt="image" src="https://user-images.githubusercontent.com/8019099/153261471-66ac9831-60d0-421e-a1e0-89e3a8ba7f4a.png">

should open the android or iOS "web share" bottom panel:

<img width="303" alt="image" src="https://user-images.githubusercontent.com/8019099/153261553-486d0b4b-eba8-4112-b350-cbc43b39420a.png">

we can use: https://web.dev/web-share/

[code]

[2022-02-09 18:25] #1761 closed

[2022-02-09 18:34] #467 closed

[2022-02-09 18:44] PeerRich commented on #1423
we're experiencing issues on Azure with Node 14 right now too. can someone investigate? Very surprised this is failing

[2022-02-09 18:49] emrysal commented on #1766
I think in this situation you can use `yarn prisma migrate reset` to reset and reseed the db - have a look whether this works for you and we'll probably update our scripts to match.

[2022-02-09 19:06] denik1981 commented on #1766
I think the idea behind **db-reset** is to make a **hard** cleanup of the whole db. Meaning not just the migrations and the seed data but the physical volume as well which is something Prisma alone cannot do. IMHO is a good idea to have it in place for a life-saver and handy start-over task.

[2022-02-09 20:06] acvalencia commented on #1616
Hello @PeerRich. How attachments will be visible in bookings?
Is an option needed to display the details or add a link to download the file?

![image](https://user-images.githubusercontent.com/97113254/153281417-02b87deb-3d04-4c20-a425-11bca5394d50.png)

[2022-02-09 23:11] miguelnietoa opened #1773 "Event types page does not load once the onboarding is finished"
### Issue Summary
Once the onboarding at route `/getting-started` is complete, it redirects to `/event-types` but the page does not load. It's necessary to reload the page.

### Steps to Reproduce

1. Sign up a user
2. Login this user
3. Complete the onboarding (`/getting-started`)
4. Page keeps loading...

https://app.birdeatsbug.com/sessions/8BJH3WZ7GycPFmqT7mC39

### Technical details

- Browse

[2022-02-09 23:45] alii opened #1774 "404 Page has incorrect "claim username" URL"
### Issue Summary

Claim username page has invalid registration URL, has the username query param set to an apple-touch-icon

### Steps to Reproduce

Go to a username page that doesn't exist and click the "claim username" (check bottom left of screenshot)
![image](https://user-images.githubusercontent.com/25351731/153309631-b55827f7-15c3-4540-bcfe-0c27edf18da7.png)

[2022-02-09 23:46] alii commented on #1774
Also not sure if it's a bug or not, but I can't seem to access my personal URL `/@alistair` as it is causing this 404. I think it might be a caching issue but not running this locally so just wanted to report either way.

[2022-02-10 01:56] #1757 closed

[2022-02-10 03:39] tompec commented on #1725
Hey @PeerRich, you can't fight this with a package because new domains are added daily.
I've built [MailCheck.ai](https://www.mailcheck.ai/) for that reason. It has a generous free tier that should solve your problem.
See also: https://www.mailcheck.ai/domain/mannawo.com
Let me know if I can help!

[2022-02-10 05:48] miguelnietoa commented on #1774
Could you be more specific about the scenarios in which this issue happens? Everything seems to work fine based on my tests 🤔

[2022-02-10 08:29] arthurdenner commented on #1774
I can reproduce it on different URLs on cal.com and on localhost after building the project - not in dev mode.

![image](https://user-images.githubusercontent.com/13774309/153365511-797530d6-73e5-4256-8655-836a5f93dea2.png)

Sometimes I got ?username=rss too. On localhost, after building the project, I got ?username=404 too.

I added a debugger to the code on cal.com and could see it happening:

h

[2022-02-10 09:07] rihards-simanovics opened #1779 "Fresh install - issues with Office 365 integration"
**Thanks to @akina5525 for a temp workaround:**

Start Prisma Studio:
![image](https://user-images.githubusercontent.com/52106095/153873509-442f8670-2f82-41fa-ab2c-d86c02a106ad.png)

In Prisma Studio, navigate to `DestinationCalendar` Model:
![image](https://user-images.githubusercontent.com/52106095/153874049-c0e66046-62a6-4e5e-bf24-70fbe536d4aa.png)

In Selected Office365/Outlook calendar remove

[2022-02-10 09:17] PeerRich commented on #1774
wtf that is pretty wild behavior.

[2022-02-10 09:21] PeerRich commented on #1711
i believe this has been fix. can someone else confirm?

[2022-02-10 09:24] PeerRich opened #1780 "reminders (sms, email, todoist)"
ability to create reminders for event types, both
- N days/hours/minutes before the event (reminder)
- N days/hours after the event (follow up)

we could implement todoist too:
- before: [] prepare for {EventName}
- after: [] follow up with {EventName}

add webhook support too @alishaz-polymath

[2022-02-10 09:37] #1739 closed

[2022-02-10 09:48] adriaanvanrossum opened #1781 "Disable GitHub actions when forking, otherwise it costs you $30 a month"
It's basically a warning for people who fork this repo **and make it private**.

When forking this repo and you're running the GitHub Actions (which did run for me automatically), you will be charged around $30 by GitHub per month.

Not sure if the team can do anything about it, but maybe an instruction in the README.md would be good? If the team agrees I can do that.

Date | Product | Quantity |

[2022-02-10 10:35] PeerRich commented on #1773
has been fixed by @alishaz-polymath great stuff! thank you for reporting

[2022-02-10 10:35] milospuac commented on #1781
Thanks for sharing. Our team will have a look at this.

[2022-02-10 10:38] milospuac commented on #1779
Hey there! Thanks for reporting this. Our team will have a look.

[2022-02-10 10:45] milospuac commented on #1755
Hey Russell! Thanks for your suggestion. Our team will have a look.

[2022-02-10 10:58] milospuac commented on #1752
Hi there! Thanks for sharing this. Our team will have a look see what can be done. Will update you once I know more

[2022-02-10 11:02] PeerRich commented on #1725
also for privacy reasons we cant send emails to your server

[2022-02-10 11:07] #1711 closed

[2022-02-10 11:28] alii commented on #1774
I really couldn't unfortunately, it was literally just opening a 404 page and seeing that as the `username` query param.

[2022-02-10 11:34] PeerRich commented on #1774
i was able to reproduce it and got x.php which is really weird since we dont have a single php file in the repo lol

where the fck is this coming from

<img width="1058" alt="image" src="https://user-images.githubusercontent.com/8019099/153400835-dc310da9-07a9-435d-a437-51a1810226f5.png">

[2022-02-10 11:35] PeerRich commented on #1774
it literally uses the same {username} variable that is being used to render **Register /testing-test**

why does it work for text but not for a link?

https://github.com/calcom/cal.com/blob/main/pages/404.tsx#L180

[2022-02-10 11:42] PeerRich commented on #1774
added a Link component, lets see if it fixes it. https://github.com/calcom/cal.com/pull/1784

can't reproduce it on localhost for some reason

[2022-02-10 11:51] alii commented on #1774
This is so odd 😆

[2022-02-10 12:14] PeerRich commented on #1711
thank you @hariombalhara 🎉

[2022-02-10 12:17] PeerRich commented on #1781
thank you for flagging this! we'd recommend removing the .workflow folder for github actions instead of forking a private repo. given the AGPLv3 license you need to fork in public so we **do not recommend** to fork in private

[2022-02-10 12:20] #1766 closed

[2022-02-10 13:34] PeerRich commented on #1781
are you sure this is a problem? github says its free for public https://docs.github.com/en/billing/managing-billing-for-github-actions/about-billing-for-github-actions

[2022-02-10 13:52] Jenietoc commented on #1768
Hi @PeerRich I want to work on this issue can you assign me?

[2022-02-10 13:54] tompec commented on #1725
There's an endpoint to send only domains. I've sent you an email!

[2022-02-10 16:36] lunchpaillola commented on #1752
Hey, @snikpic! In your .env file if you set the Daily_Scale_Plan parameter to 'true' you'll have access to local recording which will allow you to see the record button and start a recording when you're in a meeting.

[2022-02-10 17:24] snikpic commented on #1523
+1 - This is great stuff, would love to see it implemented

[2022-02-10 20:53] OITDE commented on #1779
Hi!
Same Error:

https://github.com/calcom/cal.com/issues/1431

Greetings, Ingo

[2022-02-10 21:07] denik1981 opened #1791 "prisma/zod/* files get all changed after the initial setup"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

By running `yarn generate-schemas` (post-installation step) all the files within the `prisma/zod` directory changed diffing from HEAD in a single newline missing after the first import.

### Steps to Reproduce

1. `yarn generate-schemas`
2. `git diff --name-only`

[code]

Any other relevant information. For example, why do you

[2022-02-10 21:10] miguelnietoa commented on #1791
Yeah, the same happens to me

[2022-02-10 21:14] denik1981 commented on #1791
Don't worry. I have fixed it in a PR (which I'm preparing) but I have to submit the linked issue first.

[2022-02-10 21:17] miguelnietoa commented on #1791
Nice! 🚀🚀

[2022-02-10 21:43] PeerRich commented on #1768
assigned! make sure it only opens in web-share on mobile and falls back to copying if web-share is not supported.

[2022-02-10 23:23] PeerRich commented on #1768
assigned you @Jenietoc

[2022-02-10 23:25] PeerRich commented on #1780
@Jaibles wanna design a quick mock how this could look like in the event-types detail?

[2022-02-11 00:01] Jenietoc commented on #1768
Hey @PeerRich  how are you? do you think this is a good solution? (I know I have to internalize the strings used).
![code](https://user-images.githubusercontent.com/89233604/153517370-310f7947-66c0-48fd-be58-ccefe601b710.png)

[2022-02-11 00:50] baubie commented on #1725
Would be great to keep this discussion public please.  I'm curious if people feel that domains can be just as sensitive since small domains can be personally identifying.

[2022-02-11 00:57] PeerRich commented on #1725
absolutely. we dont want to run any data through a third party.

[2022-02-11 00:58] PeerRich commented on #1768
yes looks good! only missing is wrapping hard coded strings in {t("key")}

[2022-02-11 05:02] hariombalhara opened #1801 "When user is "Away", Booking Page shows no information on why the Event Types aren't available for booking"
### Issue Summary

When a user set himself as  "Away" in profile, the booking Page is empty. It shows no information on why the Event Types aren't available for booking.

**This is how the booking page looks.**
<img width="1774" alt="Screenshot 2022-02-11 at 10 26 57 AM" src="https://user-images.githubusercontent.com/1780212/153539722-d9dd64d0-3487-4efd-9d7f-3a466117d586.png">

### Steps to Reprod

[2022-02-11 10:57] mourier opened #1804 "Faktura fungere ikke på mobilvisning."
### Issue Summary

A summary of the issue. This needs to be a clear detailed-rich summary.

### Steps to Reproduce

1. Browse invoice?id=5d06c555-6608-48c9-5e73-08d9df327d97
2. Ændre browser til at vises det i fx iPhone 12

### Technical details

- Brug id: 5d06c555-6608-48c9-5e73-08d9df327d97 til at teste med
- Node.js version 16.12.0
- Hvis der er behov for at opdatere node - skal vi have opdate

[2022-02-11 10:58] #1804 closed

[2022-02-11 10:59] mourier commented on #1804
wrong repo sorry

[2022-02-11 11:25] PeerRich commented on #1774
added `<Link>` and didn't help. still getting the weirdest strings

<img width="602" alt="image" src="https://user-images.githubusercontent.com/8019099/153583607-b63a7b6f-9d7c-4217-bdae-1afe0c254c8d.png">

[2022-02-11 11:28] PeerRich commented on #1774
OHH I have a hunch. this could be a caching error. someone may have entered cal.com/x.php before me

[2022-02-11 11:30] PeerRich commented on #1774
https://www.loom.com/share/1ed46db630ed4cea861432b2d67d6262

[2022-02-11 12:44] #1774 closed

[2022-02-11 12:57] PeerRich opened #1809 "create account with google creates empty user"
<img width="551" alt="image" src="https://user-images.githubusercontent.com/8019099/153595240-907aef81-40a9-4846-b949-39c7b67e8672.png">

<img width="1205" alt="image" src="https://user-images.githubusercontent.com/8019099/153595201-6d065a33-7146-4b4a-beff-87d90f1f0191.png">

i also can't find the "sign in with google" anymore on our app.cal.com auth page:

<img width="559" alt="image" src="https:

[2022-02-11 14:06] deepakprabhakara commented on #1809
Google login needs to be enabled in the app, seems to have got disabled somehow.

[2022-02-11 14:34] #1664 closed

[2022-02-11 15:48] ankitsridhar16 commented on #1801
Looking into it 👀

[2022-02-11 16:08] denik1981 commented on #1747
I tried every possible combination for `[\s-\t]*.*\n*` but I didn't include those in the video.
And I only test this locally (dev). MIght be happening in prod.

[2022-02-11 16:36] marcoscannabrava opened #1813 "Enable availability inputs to respond to typing"
### Issue Summary

Availability inputs don't respond to typing, only to selecting with the mouse via the dropdown.

### Steps to Reproduce

1. open availability page
2. try to change availability with keyboard without using the mouse

### Technical details

- Browser version: Chrome 98
- Node.js version: Cal.com's

[2022-02-11 17:47] PeerRich commented on #1809
i think it was caused by turbo repo migration. fixed now. closing

[2022-02-11 17:47] #1809 closed

[2022-02-11 18:20] jamiepine opened #1815 "Migration of lib & components to monorepo packages"
# THIS IS WIP

After now having successfully converted to a monorepo we can begin moving files to shared packages.

Note: This can be done while preserving the git history using `git mv`.

Here are the packages I have created so far:

<img width="248" alt="CleanShot 2022-02-11 at 06 38 38@2x" src="https://user-images.githubusercontent.com/32987599/153611367-1c10e206-d2d5-4899-a3d7-08f72886a87a.png

[2022-02-11 19:41] zomars commented on #1815
You can also check the packages already made on the mono repo proof of concept: https://github.com/calcom/monorepo/tree/main/packages

[2022-02-11 20:17] PeerRich commented on #1815
let me know once this leaves WIP 🚧 exciting stuff

[2022-02-11 20:26] zomars opened #1819 "Fix linting errors after plugin conflict got resolved"
The linter is working "too well" now 🤣 will merge as it is for now and we can fix those error on a followup.
![image](https://user-images.githubusercontent.com/3504472/153664847-9bac2f91-690f-4c4e-8061-00a10cd5aa95.png)

_Originally posted by @zomars in https://github.com/calcom/cal.com/issues/1796#issuecomment-1036591438_

[2022-02-11 21:03] denik1981 commented on #1791
Fixed in #1796

[2022-02-11 21:22] PeerRich opened #1822 "can't remove smart contract address"
https://www.loom.com/share/aa0f6b8b775c45fcb1a4e86759ea64a8

[2022-02-11 21:49] ankitsridhar16 commented on #1822
Taking a look

[2022-02-11 22:20] #1819 closed

[2022-02-11 22:23] PeerRich opened #1828 "re-add away mode dialog"
@baileypumfleet knows

[2022-02-11 23:23] PeerRich opened #1829 "stop sending "waiting for approval" email for opt-in bookings off the past"
### Issue Summary

when you forgot to accept or reject an opt-in booking, you still get 3 email reminders, even tho the date has already passed.

### Steps to Reproduce

1. make an event type with opt-in bookings
2. book it
3. wait for it to pass

Any other relevant information. For example, why do you consider this a bug and what did you expect to happen instead?

[2022-02-11 23:23] #1828 closed

[2022-02-11 23:24] PeerRich commented on #1828
duplicate of #1801

[2022-02-12 01:58] jamiepine commented on #1829
I might take this one, it bothers me too

[2022-02-12 13:38] PeerRich opened #1833 "fix order of past bookings"
right now we the order is mixed.

![image](https://user-images.githubusercontent.com/8019099/153713605-5b78b891-329a-420a-b2b3-4985610ce995.jpeg)

it should be by date, most recent event at the top

[2022-02-14 08:28] milospuac commented on #1709
Thanks for the suggestion. Our team will have a look at your request.

[2022-02-14 08:30] milospuac commented on #1813
Hi there! Thanks for the suggestion. Our dev team will have a look at your request.

[2022-02-14 08:46] milospuac opened #1836 "Option to hide the meeting link from site, or not have it shown at all"
Customer wants the meeting link only shown in the confirmation email and not on site:

<img width="768" alt="(Screenshot) Brave Browser - Confirm your PATH Virtual Meeting with Adam Callaway  Cal com (2022  02  11)" src="https://user-images.githubusercontent.com/97884287/153829651-df6e0134-0a3d-4102-a120-1099658bfed3.png">

Would be great if we can build an option to hide the meeting link from thi

[2022-02-14 11:56] akina5525 opened #1837 "ERROR [[lib] office365_calendar Error Bad Request"
Found a bug? Please fill out the sections below. 👍

## Error Message
"Resource not found for the segment 'AQMkADAwATNiZmYAZC00N2ExLTdlODctMDACLTAwCgBGAAAD7jN-6qXfYUK5I7_NSdw3mwcAw-EeMTadC0iyE6okvlPqEwAAAgEGAAAAw-EeMTadC0iyE6okvlPqEwAAAgk-AAAA'.",

### Issue Summary
Using a personal outlook.com account, calendars are listed OK. Busy/Free time shows ok in Trouble shootscreen.
Office365
### Steps to

[2022-02-14 13:00] #1837 closed

[2022-02-14 13:00] akina5525 commented on #1837
Duplicate of https://github.com/calcom/cal.com/issues/1779

[2022-02-14 13:02] akina5525 commented on #1779
Possible workaround to use default calendar:
it works for me with default calendar when I remove externalID from the database entity DestinationCalendar

[2022-02-14 13:32] PeerRich opened #1838 "Vulnerability #7"
see slack

[2022-02-14 15:08] miguelnietoa opened #1839 "Prisma commands don't work"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Prisma commands don't work due to the project reorganization.

### Steps to Reproduce

#### Running the Prisma commands found in the README.md file.
- ❌ `npx prisma studio`
![image](https://user-images.githubusercontent.com/39246879/153887677-44598202-c1a1-4252-8c2e-0c4a143d1207.png)

- ❌ `npx prisma migrate deploy`
![image](ht

[2022-02-14 15:17] milospuac opened #1840 "Option to choose 24hour clock for the booking widget"
It would be great if users could choose between a 12hour or 24hour booking widget. A lot of European-based users already requested this.
<img width="803" alt="Screen Shot 2022-02-14 at 15 29 04" src="https://user-images.githubusercontent.com/97884287/153890740-fa2120fb-e558-4ed0-9c2a-6ef3916fd596.png">

[2022-02-14 15:42] Jenietoc commented on #1836
I cannot reproduce the issue, the link to be hidden does not appear.
<img width="557" alt="image" src="https://user-images.githubusercontent.com/89233604/153896161-e79aaa59-bcfd-4ce4-b9c6-e54422bd14f2.png">

[2022-02-14 16:08] miguelnietoa commented on #1839
Hi @milospuac, I found a way to fix those commands!
But I have a question: To make a change to documentation is directly on `apps/docs/` or in https://github.com/calcom/docs?

[2022-02-14 18:27] milospuac commented on #1839
https://github.com/calcom/docs

[2022-02-14 18:27] #1840 closed

[2022-02-14 19:23] PeerRich commented on #1836
hiding external URLs now: https://github.com/calcom/cal.com/pull/1844 it's a good idea to hide it before booking for privacy reasons

[2022-02-14 19:23] PeerRich commented on #1836
i realised it's only for in-person/URL events

[2022-02-14 20:09] miguelnietoa commented on #1839
This can be fixed in #1843

[2022-02-14 20:20] #1836 closed

[2022-02-14 20:22] akina5525 commented on #1779
You can only use default calendar as your destination like this though.

[2022-02-14 20:49] samtuke opened #1846 "iCal Support"
Hey we use Harmonizely integrated with Nextcloud via iCal. If you support iCal you support lots of calendaring tools 😎  Harmonizely seems to have been sold and their service is deteriorating. We're looking for another solution which supports iCal as well.

[2022-02-14 22:13] ianhyzy opened #1847 "Allow using self-hosted Jitsi"
### Is your proposal related to a problem?

Currently, you can only use Jiti (https://meet.jit.si/) servers with Jitsi meetings.

### Describe the solution you'd like

I'd like the option to hosting meetings on my own Jitsi server on my own domain.

### Additional context
Jisti is the largest (only?) FOSS video calling solution, and it would be a great complement to the only FOSS scheduling soluti

[2022-02-15 03:54] frankgreco opened #1849 "Date Widget Doesn't Work on Safari"
### Issue Summary

https://user-images.githubusercontent.com/22604233/153989749-b1c42a7a-2588-48fe-9f7f-9a99a9ed5f28.mov

### Steps to Reproduce
Create a new event type with a custom date range.

Any other relevant information. For example, why do you consider this a bug and what did you expect to happen instead?

### Technical details
https://www.whatsmybrowser.org/b/1LKMS

[2022-02-15 07:14] hariombalhara commented on #1849
This is actually an issue on Safari. Works on Chrome.
The bug exists in daterange-picker library. I have it replicable here https://codesandbox.io/s/react-daterange-picker-bug-with-radiogroup-from-radix-ui-on-safari-v9pji

I also filed an issue there https://github.com/wojtekmaj/react-daterange-picker/issues/114

[2022-02-15 08:33] #1839 closed

[2022-02-15 14:06] edanfesi commented on #1838
PR Ticket: https://github.com/calcom/cal.com/pull/1855

[2022-02-15 18:56] frankgreco opened #1861 "Make Additional Inputs Available as Template Variables"
### Describe the solution you'd like

Currently, `{USER}` is the only template variable available for usage in the _Event Name_ field.

For example, considering a required input of _Location_, we could have, `Coffee with {USER} at {LOCATION}`.

[2022-02-15 20:26] PeerRich opened #1864 "NIT: hide "additional notes" headline from email and calendar entry if empty"
email:
<img width="453" alt="image" src="https://user-images.githubusercontent.com/8019099/154143504-81304a1b-2297-410f-9ffa-543c2753ce97.png">

calendar entry:
<img width="88" alt="image" src="https://user-images.githubusercontent.com/8019099/154143766-47b1a236-ffc7-406f-bd66-d794aad2d050.png">

[2022-02-15 20:59] frankgreco commented on #1864
I'd like to tackle this as a first issue :)

[2022-02-15 21:02] PeerRich commented on #1864
go for it!

[2022-02-15 21:48] nCrazed commented on #1529
I am currently considering trying out cal.com, but without this feature it's unusable to me

[2022-02-15 21:52] #1838 closed

[2022-02-15 22:03] PeerRich opened #1868 "SSO (Google) appends weird characters to username"
when creating an account with Google, the username appends some characters (i.e. cal.com/peer-3tagJE)

those links also throw 404 when clicked on

___

happens here: https://github.com/calcom/cal.com/blob/main/apps/web/pages/api/auth/%5B...nextauth%5D.tsx#L311

___

fix: we need to show the username input during onboarding for "sign in with google" accounts

[2022-02-15 23:43] PeerRich commented on #1529
can you not create multiple event-types with different duration and give your clients the option to pick one?

i, for example, have 15 and 30: https://cal.com/peer

[2022-02-16 02:09] frankgreco opened #1871 "Event Duration not Taken into Consideration When Offering Time Slots"
### Issue Summary

Consider an event type with a _Duration_ of 60m and a _Time-slot Interval_ of 15m. This event type has a custom availability when ends at 11pm. The time slots that will be generated will go all the way until 10:45pm. If the duration were taken into account, the last slot would start at 10pm.

### Steps to Reproduce

Just follow the steps outlined in the previous section.

[2022-02-16 10:32] #1864 closed

[2022-02-16 15:17] zomars commented on #1579
This could be solved if we enabled web hooks to be associated directly to an event type. In that way we could enable web hook per event type and would cover the team event type use case.

[2022-02-16 15:26] #1666 closed

[2022-02-16 16:52] dit7ya opened #1876 "Railway build fails on turbo run build step"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Deployment on Railway fails with latest master with the following error (last few lines).

[code]

### Steps to Reproduce

1. Pull the latest master
2. `railway up`

[2022-02-16 17:40] zomars commented on #1594
# Public API

Now that we have Monorepo, @baileypumfleet and I were discussing on how can we proceed with public API project. Here are my thoughts.

## Requirements

- It should be TypeScript first
- It should be compatible with our current stack as we're not looking to migrate any time soon:
  - Prisma
  - Next Auth
- It should "feel just right" for our mono repo structure, if we're feeling that

[2022-02-16 18:21] sydneyliu opened #1877 "Monthly limits to bookings"
### Is your proposal related to a problem?

Some events I don't want too many of on my calendar, especially ones on a monthly cadence

### Describe the solution you'd like

Monthly limits on an event. This event can only be booked 4x a month for example

### Describe alternatives you've considered

Calendly has daily limits, not monthly. Still looking at other options

### Additional context

Figm

[2022-02-16 21:00] sagivo commented on #1876
same issue here.

[2022-02-16 21:28] sagivo commented on #1876
I was able to resolve it by changing `package.json` file:
[code]

[2022-02-16 22:24] PeerRich opened #1878 "auto-accept incoming calendar events"
right now you need a manual confirmation to attend a call when someone books you.

i initially thought it's a good idea but we should instead always auto-accept all incoming events from cal.com

- [x] Google Calendar @emrysal
- [ ] Outlook Calendar
- [ ] Apple Calendar
- [ ] CalDav Calendar

[2022-02-16 22:26] PeerRich commented on #1878
comment by @emrysal:

[2022-02-16 23:08] PeerRich commented on #588
@natelindev there seems to be still issues with Baikal
<img width="609" alt="image" src="https://user-images.githubusercontent.com/8019099/154372713-2596048e-f986-4590-88fc-608508d2af2a.png">

[2022-02-17 00:31] jtylerhartley commented on #1526
Any update on this. I am still having the issue unfortunately.

[2022-02-17 07:23] dit7ya commented on #1876
After trying this though the build succeeded the app is crashing with errors like this in the console.

[code]

[2022-02-17 07:27] alishaz-polymath opened #1885 "Webhook custom template at webhook create being ignored"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

- Webhook custom template is ignored if added at the time of webhook creation
- Webhook custom template returns unstringified JSON

Any other relevant information. For example, why do you consider this a bug and what did you expect to happen instead?

[2022-02-17 10:04] voyager163 opened #1888 "Images unable to load due to 502 gateway error"
### Issue Summary

After deploying the cal.com in azure cloud, the web portal random will not load the images (Attached Below).

![Screenshot 2022-02-17 at 5 42 27 PM](https://user-images.githubusercontent.com/4599055/154452696-ec48b0ab-c7c9-4f00-970e-529192eb5114.png)

### Steps to Reproduce

1. Go to the cal.com url
2. Login to the cal.com
3. Click on the Integration button
4. Images not load

*

[2022-02-17 11:55] arthurdenner commented on #1876
The `build` script is failing with this error even locally, we need to fix it. But fixing it may not be enough to get a successful deployment since we'd be building both the `web` and `docs` apps.

Is there a way to override the build command on Railway through configuration in the repository?

For example, to fix the deployment on Heroku, I added a Heroku-specific script to only build the `web` a

[2022-02-17 12:15] hariombalhara commented on #1861
What other inputs do you see yourself using apart from Location?

[2022-02-17 13:17] milospuac commented on #1888
Thanks for sharing this. Our engineering team will have a look

[2022-02-17 13:20] milospuac commented on #1877
Thanks for sharing this. Our team will put it into consideration.

[2022-02-17 13:26] milospuac commented on #1871
Hi there,

Thanks for sharing this. Do you mind sending the screenshot of the custom availability of the event type?

[2022-02-17 13:31] milospuac commented on #1847
Thanks for the suggestion. We added Jitsi just recently into our integrations and this could be something to implement in the near future.

[2022-02-17 14:02] milospuac commented on #1846
Yes, we do support iCal, although we are working at the moment on some issues with CalDav integrations. Should be fixed soon :)

[2022-02-17 14:33] agustif commented on #1378
Hey, I'll start working on this now, we should have a good solution for it soon.

[2022-02-17 14:34] #1472 closed

[2022-02-17 14:36] #1636 closed

[2022-02-17 15:40] #1801 closed

[2022-02-17 16:26] zomars commented on #1663
Yes @PeerRich we now use the customer Id for billing/upgrade. Closing this now.

[2022-02-17 16:26] #1663 closed

[2022-02-17 16:56] zomars opened #1892 "Event type day availability isn't updated."
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Trying to update an event type available days to Saturday, upon save it goes back to the default Monday to Friday.

<img width="728" alt="image" src="https://user-images.githubusercontent.com/3504472/154530965-7be6e3b6-b571-4f05-b374-4689993a1e54.png">

<img width="722" alt="image" src="https://user-images.githubusercontent.com

[2022-02-17 17:07] samtuke commented on #1846
@milospuac Great to hear that - is there a ticket I can track for fully supported caldav?

[2022-02-17 17:36] milospuac opened #1893 "Meeting link still visible once someone makes a booking"
### Is your proposal related to a problem?

When someone goes through with the booking, the meeting link is still visible on the page below even though they choose opt-in booking

### Describe the solution you'd like

It can contain the domain name only, or have it hidden.

@PeerRich

[2022-02-17 18:39] jschulman commented on #1709
Confirmed this works out of the box.

I have an NFT on Polygon and it doesn't work unless I switch Metamask to Polygon.

The "to-do" here is:

1. pull down in meeting configuration after Smart Contract config to pick which Chain the smart contract sits on
2. When user is booking, prompt them to pick that chain in Metamask

[2022-02-17 19:05] denik1981 commented on #1791
This issue is showing up once again but for a different reason.

I saw that in a recent PR `prisma/zod/*` files have been excluded from formatting (prettierignore) and now there is a mismatch between the committed and formatted version of these files and the ones that are generated by the user in the post-installation step.

Imho these files shouldn't be versioned at all. I don't see the point if

[2022-02-17 19:19] zomars commented on #1791
Solved in #1896

The idea is to track changes of these files as prisma.schema gets modified. That's the main reason they're prettier ignored.

[2022-02-17 19:37] denik1981 commented on #1791
Thanks for the fix!

[2022-02-17 19:37] #1791 closed

[2022-02-17 20:18] sagivo commented on #1876
looks like this commit solved the compile error - https://github.com/calcom/cal.com/commit/2194b92fdf5f705f6faf47e0a6c0b648ba877859
However, the site still doesn't render and I also get these errors - https://github.com/calcom/cal.com/issues/1876#issuecomment-1042646568

[2022-02-18 08:43] denik1981 opened #1907 "At Login: 500 | TypeError - The "data" argument must be of type ... Received undefined"
When I logged into the app using the `free@example.com` account I'm seeing this error through the server console.
The app, fortunately, runs "well" and it seems I'm able to authenticate myself with the server but I'm not sure if there are some hidden bad side effects because of this.

[code]

Bootstrapping with **DEBUG:*** (.env) gives you more information.
I researched a little bit about this and

[2022-02-18 09:51] SimonMayerhofer opened #1908 "Vercel build fails: Error: The file "/vercel/path0/.next/routes-manifest.json" couldn't be found."
Since the last release my vercel builds are not working anymore.
Do I need to change something in the configuration?

Log:

<details>
<summary>Details</summary>

[code]

</details>

[2022-02-18 10:56] kelseysmithdesign opened #1909 "Add line breaks, styling, and/or markdown to event description"
### Is your proposal related to a problem?

I write a lot of text in the event description field because I need to keep my participants informed about the event type (namely user interviews) and what they are consenting to, their rights, and how their privacy is protected. The problem is that I cannot style the text, and it becomes a block paragraph. This is not usable - I would like to be able to

[2022-02-18 16:25] PeerRich opened #1912 "(Draft) RFC: Refactor Booking Page"
## Goals:
- its own package in turbo repo
- increase performance
- make it embeddable as a <script> and/or offer a react package: `yarn add cal-react`
- shallow route (and merge) instead of redirect between `/[user]/[type].tsx` and `/[user]/book.tsx` (prevent page load)

[2022-02-18 17:32] #1868 closed

[2022-02-18 17:45] agustif opened #1913 "(Draft) RFC: Gates for Events"
After recently joining the team at cal.com, I’ve been tasked re-factoring our current implementation of the web3 integration of cryptowallets with metamask.

As I started porting the integration to use wagmi library. We saw the potential for a new abstraction to fit both the new web3 usability (Booking restriction of holding an ERC-20 Token by introducing the SmartContractAddreess in the event add

[2022-02-18 17:47] PeerRich commented on #1913
love this. i thinkg "Disposable Email Gate" should be a default core feature and always warn booking receivers about the incoming booking request and not be a "gate"

[2022-02-18 17:48] PeerRich commented on #1725
it looks like we can use this: https://www.npmjs.com/package/deep-email-validator it also includes blacklisted emails

[2022-02-18 17:49] #1885 closed

[2022-02-18 18:11] PeerRich commented on #1833
thank you!

[2022-02-18 20:23] agustif commented on #1780
Leaving this lib I've looked up in the past that could be useful to integrate different services other than email here
https://github.com/notifme/notifme-sdk

[2022-02-19 00:07] zomars commented on #1913
Would the paid bookings fit into these gates? We could do abstract away into a StripeGate, PayPalGate, etc.

[2022-02-19 00:09] #1551 closed

[2022-02-19 00:15] zomars commented on #1908
Since we moved into a Monorepos structure, you may need to update you build command and root directory according to [their docs](https://vercel.com/docs/concepts/git/monorepos#turborepo).

[2022-02-19 12:47] pietro14 opened #1919 "Sync issue when deleting appointments on Google Calendar"
### Issue Summary

After scheduling an appointment, if I cancel it directly from google calendar, the appointment remains on the Cal.com dashboard under the section "Bookings"

### Steps to Reproduce

1. (for example) Go to your Google Calendar and cancel an event that was created with cal.com
2. then go to Cal.com dashboard under the section "Bookings"
3. the appointment is still there (so I gues

[2022-02-19 15:47] denik1981 commented on #1773
I can confirm this is happening as well.
I have submitted PR #1981 which fixes this.

[2022-02-19 19:10] SimonMayerhofer commented on #1908
Thanks, that helped!
Their docs are not fitting for this repo though. Needed to change the build command to ` cd ../.. && yarn run build` and install command to `yarn install --prefix=../..`.

But now I ran into the limits of the Hobby plan of vercel, which is not related to this though.
`Error: No more than 12 Serverless Functions can be added to a Deployment on the Hobby plan. Create a team (Pro

[2022-02-19 19:10] #1908 closed

[2022-02-19 19:51] agustif commented on #1913
Yeah I think so! I think each integration could provide it's extra gates when enabled.

In another note We also commented of subscription roles in stripe or patreon to book events. (Patreon is available in next-auth as SSO provider I think) and seems like a good perk for patrons exclusive booking access.

[2022-02-20 04:27] zomars commented on #1833
Fixed by #1920

[2022-02-20 04:27] #1833 closed

[2022-02-20 13:35] PeerRich commented on #1773
awesome thank you! will test today

[2022-02-20 14:07] #1773 closed

[2022-02-20 15:46] PeerRich opened #1923 "RFC: Apps folder structure and hooks"
RFC summary of the recent discussion around `apps` (previously `integrations`) and what the best architecture is to build third-party apps

## Goals
- super easy to launch your own app
- unified abstractions around installation, removal, authentication (i.e. OAuth)
- minimize merge conflicts
- touch as little lines of `core code` as possible (with smart abstractions)

## Status quo

- the new app

[2022-02-20 15:50] PeerRich commented on #1581
looks like the RFC has been resolved? or are more comments required? If not, I'll unpin and close this

more issues (like moving apps/website and apps/ui) can be created separately

[2022-02-20 15:51] PeerRich commented on #1909
@agustif was proposing this!

[2022-02-20 15:52] PeerRich commented on #1909
we should add simple markdown support and small buttons like this:

<img width="159" alt="image" src="https://user-images.githubusercontent.com/8019099/154851314-6c5080da-d6d5-460b-996e-8963e313f293.png">

i think we should strip down markdown to only offer:
- bold
- italic
- ordered list
- unordered list

[2022-02-20 16:45] krzyzanowskim commented on #1588
on the flip side, my WebDAV (fastmail) entry whatever is marked as free or busy, is always imported as **busy**.

[2022-02-20 17:32] PeerRich commented on #1682
@agustif i wonder if its worth using https://github.com/Developer-DAO/web3-ui which includes a UI layer

@tmm how does it compare to wagmi?

[2022-02-20 18:49] agustif commented on #1923
Awesome @Peer, my original insights I think come mainly from two open source projects, Im gonna share ‘em here.

I really lie the proposal! Adding my two cents here with some links to how other projects do it

I think our goal should be to aim for modularity which as much core and both first and third party packages as makes sense for us. We can mantain official ones, community can maintain the ot

[2022-02-20 20:17] PeerRich commented on #1876
we'll look into it. works on our end.

btw the usage of main is not always compatible with every provider. we recommend using the tagged releases (v.1.3)

[2022-02-20 20:22] zomars commented on #1876
IIRC this is already solved. Also add @PeerRich said We would recommend to wait for the official bi-weekly releases to update your self hosted instances. You really shouldn't be using every single update to main.

[2022-02-20 22:56] #1822 closed

[2022-02-21 08:41] smithkelseyj commented on #1909
Thanks for responding! Seems like a great solution. :)

[2022-02-21 14:01] borishinzer commented on #624
from our cal server's `/var/log/messages`:
[code]
I would guess Nextcloud and Cal timezones are not matching?

[2022-02-21 16:06] zomars commented on #1581
Closing!

[2022-02-21 16:06] #1581 closed

[2022-02-21 16:31] PeerRich commented on #1846
What's missing for CalDav? Can you join our slack? https://cal.com/slack and join `#caldav` to help us debug

[2022-02-21 16:31] #1846 closed

[2022-02-21 16:36] PeerRich commented on #1878
done!

[2022-02-21 16:36] PeerRich commented on #1878
@natelindev do you know if this is possible with CalDav?

[2022-02-21 16:45] PeerRich opened #1928 "track no shows with daily video"
ability to track no-shows and throw API/Webhook events, etc.

[2022-02-21 16:46] PeerRich commented on #1928
@lunchpaillola is this possible to get a call back from Daily to see if people who were invited actually joined?

[2022-02-21 16:53] #1729 closed

[2022-02-21 18:31] PeerRich commented on #88
I dont think its a good idea to have dynamic times for each event-type. I think it's better to have one event-type for each duration.

in my experience its quite rare that the same event type has different durations.

closing for now.

a way to solve this:

have an event type for 15min, 30min and one for 60min (that's how all scheduling tools do it)

[2022-02-21 18:34] PeerRich commented on #271
@alishaz-polymath is working on it now!

[2022-02-21 18:41] PeerRich commented on #271
for anyone reading here why it took a couple months: we had to make some major changes to the calendar system first in order to support this! 🎉

[2022-02-21 19:04] zomars opened #1932 "Billing portal is broken for users without metadata.stripeCustomerId"
### Issue Summary

There are many users that don't have a stripeCustomerId on their `users.metadata` column. We should add a step in our logic so this happens:

1. If user doesn't have a `stripeCustomerId`.
2. Look him up by email and if found save his `stripeCustomerId`.
3. If not found, create a new customer with his email and save the new `stripeCustomerId`.

This should happen on upgrade, and

[2022-02-21 19:08] #1892 closed

[2022-02-21 19:36] PeerRich opened #1933 "Team billing downgrader"
run the cron job to downgrade illegitimate pro team members

[2022-02-21 19:40] PeerRich commented on #1208
You should be able to do it for a couple of months now

[2022-02-21 19:40] #1208 closed

[2022-02-21 19:40] PeerRich commented on #1463
what's missing to make it elegant? @baileypumfleet

[2022-02-21 19:46] PeerRich opened #1934 "rethink reschedule events as booking owner"
an owner of an event should instead "Request to Reschedule" that cancels the active event and sends an email to the attendee to re-book the same link

right now it shows the embed page of the owner (which is stupid, doesn't make sense because the owner doesn't know what works for the attendee)

<img width="430" alt="image" src="https://user-images.githubusercontent.com/8019099/155017697-d94faf19-0

[2022-02-21 19:46] PeerRich commented on #1934
@Jaibles can you sketch out the emails or something missing?

[2022-02-21 19:49] PeerRich commented on #1934
it would also be great if we can have a mass-query API for rescheduling lets say an entire day (i.e. nuke-my-cal app which requests to reschedule the entire day of events)

[2022-02-21 20:42] sagivo commented on #1876
@PeerRich, @zomars I disagree. `main` branch should always be working. If you want to experiment with different features you should open other branches for that. There's a need to always have an available, working, up-to-date version of your service and this is what `main` is made for. Tags/versions/releases are for milestones, not an indicator for availability.

[2022-02-21 20:44] zomars commented on #1876
Agreed to disagree 🙏🏽

[2022-02-21 21:35] agustif commented on #1476
I'll start working on this as @zomars said to me to prioritize it.

[2022-02-21 21:54] PeerRich commented on #1932
can we either (a) run a query to assign all or (b) show an error message to reach out to support?

[2022-02-21 23:59] #1893 closed

[2022-02-22 00:01] PeerRich commented on #1476
I'll add the "Open Email" Buttons once it's ready!

[2022-02-22 00:07] PeerRich commented on #1476
@Jaibles let me know if you want to make any changes to this draft should be good to go

cc @agustif

<img width="675" alt="image" src="https://user-images.githubusercontent.com/8019099/155040628-646d3d45-5e11-48c6-8b13-abea0129d341.png">

[2022-02-22 00:13] PeerRich commented on #1934
@Jaibles I tagged you here because i don't know if this is ready for engineering. can you assign a dev once you think its ready?

[2022-02-22 00:14] PeerRich commented on #1455
duplicate of #1398

[2022-02-22 00:14] #1455 closed

[2022-02-22 00:17] PeerRich commented on #1207
duplicate of #1651

[2022-02-22 00:17] #1207 closed

[2022-02-22 00:18] PeerRich commented on #1447
duplicate of #1651

[2022-02-22 00:18] #1447 closed

[2022-02-22 00:52] denik1981 commented on #1594
Thanks for the proposal and the later summary.
I vote up for Express.

[2022-02-22 08:33] raro42 commented on #1615
3x to 5x/day we receive "Could not reschedule the meeting" as seen in screenshot.

![2022-02-22 09_31_31-304001581-reschedule_broken](https://user-images.githubusercontent.com/29251049/155093128-b376f6fa-6b78-4481-a63e-0fc9f95e614a.png)

May this be related?

[2022-02-22 09:44] milospuac commented on #1919
Thanks for reporting this! Our team will address this issue

[2022-02-22 09:47] milospuac commented on #1907
Thanks for reporting this. Our team will have a look

[2022-02-22 10:03] PeerRich commented on #1398
@Jaibles anything that needs to be mocked? or has this been mocked already? can you show the screenshot, here?

@alishaz-polymath do you want to work on this?

gives @emrysal a bit more room to work on cached calendars and availability 🙏

[2022-02-22 10:05] alishaz-polymath commented on #1398
Yeah, I can pick this up!

[2022-02-22 10:38] Jaibles commented on #1398
I'll mock this and put in a link 👍

[2022-02-22 10:46] Jaibles commented on #1398
[Here is a link to the designs](https://www.figma.com/file/6sITaSOZ2JCXyKEYhC10P5/Cal-Web-App?node-id=3412%3A41843)

And a screenshot...
<img width="1440" alt="CleanShot 2022-02-22 at 10 45 40@2x" src="https://user-images.githubusercontent.com/4536123/155116688-a12548d5-fecf-49db-8914-c723fd95407f.png">

[2022-02-22 11:01] PeerRich opened #1938 "Twilio App"
- SMS Reminders
- WhatsApp Reminders

[2022-02-22 11:03] PeerRich commented on #1780
that's super smart!

[2022-02-22 11:18] denik1981 opened #1939 "End-time default availability in form is not compared to already selected start-time (and viceversa)"
The user is able to select wrong start/end times in the availability modal form in the event-types page.
See the video for a more graphical explanation of the issue.
[See in video](https://watch.screencastify.com/v/dxu2E7fBm5k8uUU4MoMV)

Follow-up validation is taking place well, but we should prevent reaching the step of catching the error imho and, instead, dynamically change the min/max values

[2022-02-22 12:31] PeerRich commented on #1594
i used strapi in the past and quite liked it

[2022-02-22 12:35] PeerRich commented on #1876
yes-ish.

main works-- cal.com currently runs on it perfectly fine

but we won't postpone a merge into main just because railway or heroku may not work

thats what the tagged releases are for

also, we dont expect main to cause issues often, we just moved to turborepo last week which caused this (obviously the build flow needs to be adjusted for turborepo)

[2022-02-22 15:45] miguelnietoa commented on #1919
Hi, I would like to contribute to this issue. Could you please assign me?

[2022-02-22 16:53] lunchpaillola commented on #1928
@agustif @PeerRich

Yep, the /presence endpoint shares who's in a call at the moment you call the API.  if you're looking for info to display on whether someone was ever in a call you'd look at /meetings. I think in all cases you'd need to also create a meeting token to identify who the users are and make sure you're passing the correct meeting token when users join.

Here are all the participant

[2022-02-22 17:07] zomars commented on #1594
I think Strapi is more CMS-focused. I could be wrong tho.

[2022-02-22 18:39] zomars opened #1944 "Add new contributing guide to docs.cal.com"
Follow up to this comment:

_Originally posted by @PeerRich in https://github.com/calcom/cal.com/pull/1930#pullrequestreview-889728121_

[2022-02-22 19:11] PeerRich commented on #1594
yeh probably a bad usecase to use it

[2022-02-22 23:39] PeerRich opened #1947 ""secret" event-type is not hidden"
the pre-made secret event-type used to be hidden but now it's hidden: false

<img width="211" alt="image" src="https://user-images.githubusercontent.com/8019099/155238219-101d1e0f-c9ad-4792-8857-7f6605526ad7.png">

[2022-02-23 00:11] frankgreco commented on #1871
These screenshots are for a different example than the one mentioned but here, the duration is 120m so I'd expect the last slot to be at 9pm. However, it's (internal time) before the end time.
<img width="699" alt="Screen Shot 2022-02-22 at 4 10 08 PM" src="https://user-images.githubusercontent.com/22604233/155241249-96232341-aea3-4461-ace6-f0fd209747ae.png">
<img width="599" alt="Screen Shot 2022

[2022-02-23 00:13] frankgreco opened #1948 "Updated Custom Availability has No Effect"
### Issue Summary

Consider an event with a custom availability from 1/1-1/7. Now update it to make it 1/1-1/6. After doing so, slots for 1/7 will still be shown.

### Steps to Reproduce

- create an event with custom availability
- modify the custom availability
- observe that the slots were not modified

[2022-02-23 00:15] frankgreco commented on #1861
Any that are custom defined. I think giving the ability for the user to use `{inputs.<name>}` is flexible. Hard coding what can and can't be used in the event name seems too strict.

[2022-02-23 00:23] #1939 closed

[2022-02-23 03:02] agustif commented on #1594
I was gonna -1 it (for public api)because I had some drama it only supporting integers for prices on an e-commerce once.

I think strapi is more a candidate for an integration maybe down the road although that does seem far fetched! Who knows where the app store will take us 🚀🚀.

For public API I like both Next and express, although separating it into it's own app feels off (although I think nextj

[2022-02-23 08:20] milospuac commented on #1948
Hey Frank, thanks for reaching out! Our team is already working on the custom availability for the event type.

[2022-02-23 10:51] baileypumfleet commented on #1594
The idea (for now) is to use personal access tokens, and later we can extend to OAuth support for third-party apps to build on top of the Cal.com API.

I wouldn't mind having the API as part of the next project. Alternatively, I think a separate project makes it cleaner, and especially now that we have the shared Prisma logic libraries and such, it should make it easier. I'm totally open to both o

[2022-02-23 11:04] denik1981 commented on #1594
I'm quite a fan of next but its main use case I think falls outside of building an API.
 I'm not saying you cannot build one and I believe the argument from @agustif is a valid one meaning that the whole codebase is already driven by Nextjs, but at the same time, I believe using a backend option like Express will embrace much more power to Cal than the limitations you will find with next. Also, Tu

[2022-02-23 11:06] PeerRich commented on #1594
👍 to pure Express

[2022-02-23 11:52] PeerRich opened #1953 "add "light-brand" and "dark-brand" colors (add a second color picker)"
defaults:

light: `#212121`
dark: `#fafafa`

<img width="1227" alt="image" src="https://user-images.githubusercontent.com/8019099/155314239-f8390d05-75c2-4ff2-871b-7f615ee14a6c.png">

[2022-02-23 12:37] #1378 closed

[2022-02-23 14:51] glekhak opened #1955 "Unable to create event in outlook calendar with external id"
**Issue Summary**
For Office 365 Calendar service microsoft provides different api's for creating events with & without external Id. Here in cal.com we are using same api for both. If external id is present it is not able to create event in connected calendar.

![image](https://user-images.githubusercontent.com/12994387/155342576-55980b10-1cf5-4704-b59f-d6f91553717b.png)

**Code causing issue**

[2022-02-23 17:04] agustif commented on #1938
Twilio has calls too.

Allow accepting/decline of bookings requests or invites by answering via sms/whats/press 1 for accept

[2022-02-23 17:52] zomars opened #1959 "Half hours are ignored in booking page"
### Issue Summary

Having this setup for an hour long event type:

![image](https://user-images.githubusercontent.com/3504472/155377371-64ebae2e-e159-4840-8732-087694f987ed.png)

One would expect to have only three slots with 10, 11:30 and 13. But the 11:30 slot starts at 12:

![image](https://user-images.githubusercontent.com/3504472/155377406-5a3e6cf8-6980-4ea2-8b6d-a11244e5823d.png)

### Steps

[2022-02-23 18:35] agustif opened #1960 "Update twitter handle to @calcom in next-seo"
### Issue Summary

Update twitter handle to @calcom in next-seo
`apps/web/lib/config/next-seo.config.ts`
[code]

[2022-02-23 19:00] duduribeiro commented on #1539
I agree this behave is weird.

I've setup cal and I don't have any calendar integration and anyone can book the same time with me because I still appear as available on the same booked time 😄

[2022-02-23 19:11] FlxMgdnz opened #1961 "Encoding bug in notification emails"
### Issue Summary

Email clients do not properly display event titles that contain special characters.

### Steps to Reproduce

1. Create an event name that contains special characters, e.g., & or '
2. Book a meeting with that event
3. See email subject

### Technical details

- Bug reproduceable on iOS Mail and Gmail

![image](https://user-images.githubusercontent.com/20115649/155389971-95947ce2-

[2022-02-23 21:29] PeerRich opened #1965 "mobile: grouped avatars line break"
![image](https://user-images.githubusercontent.com/8019099/155411622-1cd13da5-45da-4145-bf52-4377cd43c308.jpeg)

[2022-02-23 22:51] #1932 closed

[2022-02-24 07:42] milospuac commented on #1948
I don't think that there is an existing issue open. However, I tried setting up the custom availability for one of my event types and it looks like it's working now. I selected Tuesday and Wednesday from 12:00 to 17:00 and it's reflecting correctly

<img width="520" alt="Screen Shot 2022-02-24 at 08 40 38" src="https://user-images.githubusercontent.com/97884287/155479703-fb3f69df-9cba-4a5f-a919-cb

[2022-02-24 07:51] milospuac commented on #1961
Thanks for reaching out! Our team will look into this.

[2022-02-24 07:52] milospuac commented on #1955
Thanks for reporting the issue. Our team will have a look into this.

[2022-02-24 11:19] 7aklhz opened #1970 "Lag on events"
### Issue Summary

There is a lag when clicking on months arrow

### Steps to Reproduce

1. Open an event
2. Click on the arrow next to the month name, to skip over to next month
3. Lag for around 4 to 6 seconds before the calendar moves over to next month

![calcom lag](https://f003.backblazeb2.com/file/7ak-public/calcom%20lag.png)

### Technical details

Browser : Brave (Chromium version 98.0.47

[2022-02-24 11:24] gjvalentin opened #1971 "When giving access to my Google Calendar, it redirects me to undefined/integrations (cal.com)"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When connecting my Google Calendar and when I give access to Cal.com, it redirected me to undefined/integrations.
The integration is successful though.

### Steps to Reproduce

1. Go to integrations
2. Click Connect Google Calendar
3. Allow Access to Cal.com
4. And lick Continue
5. It should redirect you to undefined/integratio

[2022-02-24 11:41] dit7ya commented on #1876
Ummm, I tried to deploy `main` on a separate environment on Railway but still getting the same errors as https://github.com/calcom/cal.com/issues/1876#issuecomment-1042646568. Then I tried deploying v1.3 and then got errors of https://github.com/calcom/cal.com/issues/1876#issue-1140306418.

[2022-02-24 11:55] PeerRich commented on #1876
i will contact the railways team

[2022-02-24 12:45] amvara-adrian commented on #1971
Yesterday I was working with "cometa" when I discovered the same issue that when connecting Outlook with [cal.com](http://cal.com/) the login redirect returned undefined in the URL

### Steps to reproduce

1. Login on [app.cal.com](http://app.cal.com/)
2. Go to integrations
3. Connect outlook account
4. Login outlook (optional if you are already logged in)
5. Wait for redirect https://undefined/in

[2022-02-24 13:57] PeerRich opened #1972 "additional inputs cause <br> in /booking description"
right now, additional inputs are saved as pure HTML with `<br>` in the "description" column, which results in:

<img width="453" alt="image" src="https://user-images.githubusercontent.com/8019099/155537821-f25ba5c8-f57d-40b4-8d2c-8d82fb1d7cbd.png">

<img width="626" alt="image" src="https://user-images.githubusercontent.com/8019099/155537525-ca3b1a17-f3c4-45b7-b7db-67b3781140f5.png">

<img width="

[2022-02-24 14:26] miguelnietoa commented on #1919
Hey @PeerRich , do you think that when someone indicates that he/she will not attend, the event should be deleted from Cal.com?

[2022-02-24 15:21] PeerRich commented on #1919
@baileypumfleet maybe like a soft-delete?

[2022-02-24 18:07] PeerRich commented on #1876
@zomars can you take care of this?

[2022-02-24 18:07] #1876 closed

[2022-02-24 18:10] PeerRich commented on #1876
we will investigate. seems to be an issue unrelated to railway hence we will prioritize it higher. thank you all for reporting.

main has the objective to be stable (it is on our end surprisingly)

just this week we moved to turborepo and this error is a one time side effect of that massive change

[2022-02-24 18:17] zomars commented on #1876
I'm deploying a new Railway instance from [my freshly forked repo](https://github.com/zomars/cal.com). Will update my findings here.

[2022-02-24 18:21] PeerRich commented on #1971
did you set BASE_URL in .env?

@agustif is there a way to do this without BASE_URL?

[2022-02-24 18:22] zomars commented on #1876
The original issue was fixed by #1887 BTW. Leaving it here for reference.

[2022-02-24 18:37] zomars commented on #1876
I've successfully deployed a new Railway instance, you can [try it yourself here](https://calendso-production-284a.up.railway.app). These are my findings:

- By default Railway tries to use Node v17 which is not supported by our project. I'll [open a PR](https://github.com/calcom/cal.com/pull/1977) to lock it to v14 from package json which Railway uses to determine the version to use.
- Generated

[2022-02-24 18:51] agustif commented on #1971
I will check it out. But if this is on cal.com Base url should br available as env var right?

[2022-02-24 19:10] PeerRich commented on #1971
i think its self hosted no?

[2022-02-24 19:39] zomars commented on #1960
Fixed in #1967

[2022-02-24 19:39] #1960 closed

[2022-02-24 20:23] juliansg022 commented on #1959
Hello, I'll take a look at this

[2022-02-24 22:48] joeauyeung commented on #1947
Hi @PeerRich, I edited the `hidden` field to `true`. On the frontend end the pre-made secret event is now displaying hidden. Is this the expected behaviour?
![Screenshot from 2022-02-24 17-45-53](https://user-images.githubusercontent.com/65426560/155620403-f6d536c1-e459-41e8-9ab2-94a1b25fe99f.png)
If so I can follow the instructions to do a proper pull request.

Thanks.

[2022-02-25 00:37] joeauyeung commented on #1947
Hi @PeerRich, I solved the problem and now I'm running the tests before I do a pull request.

[2022-02-25 00:59] joeauyeung commented on #1947
Woops looks like I made a change in a file that's part of the .gitignore. I noticed it's a bug that stems from #1946 - Second go at removing Zod generated classes.

In `packages/prisma/zod/custom/eventtypes.ts` in the `pick` method the `hidden` field was left out.  This is my first time working with the Zod package but I'm looking into how we can keep the required fields while having `hidden` as o

[2022-02-25 06:56] denik1981 commented on #1876
Thank you for this @zomars!

What did you find wrong with `node@16.x` (node LTS)?
I found the same issue with Railway due to Cal's `next-auth` dependency which is restricting the node engine to  `^14.15.0 || ^16.13.0`. An attempt to install with node@17 will fail as you mentioned but using `^14.15.0 || ^16.13.0` (intersection with next-auth) as Cal's node engine is working fine at my end.

[2022-02-25 09:00] dit7ya opened #1981 "Jitsi: No meeting link in Emails"
### Steps to Reproduce

1. Schedule something.
2. Check the email received - the `Where` field.

It should have a link to the scheduled video call - but it only has the provider name.

For example
![2022-02-25_14-28](https://user-images.githubusercontent.com/14034137/155685956-0fd517bb-4ebe-41bc-b152-cb2d9a5ebc8f.png)

[2022-02-25 09:20] manjufy commented on #1594
I second to have API separated from the next. Right now, UI + Prisma logic that powers API are tightly coupled.

[2022-02-25 09:24] Jaibles opened #1982 "Booking an opt-in booking on someone elses calendar is suggesting I confirm it in the app"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

I make a booking one someones calendar who has it set to an opt-in booking. When I go to view Bookings in the app I can see a link to Confirm the booking, even though it is the other person who needs to confirm it.

### Steps to Reproduce

1. Book a time on someones calendar who has the Event Type set to "Opt-in booking"
2. Go

[2022-02-25 12:18] milospuac commented on #1981
Hi there! Thanks for reaching out. Our team will have a look into this.

[2022-02-25 15:27] zomars commented on #1876
We haven't tested it yet.  We use since it's stable enough and it's Vercel's default.

[2022-02-25 17:21] PeerRich commented on #1981
does it appear in the calendar invite?

[2022-02-26 12:40] philippdormann opened #1985 "[CAL-3105] BigBlueButton Integration"
### Is your proposal related to a problem?

No, this is a new feature request

### Describe the solution you'd like

App Integration for [BigBlueButton](https://bigbluebutton.org/) using the [BigBlueButton API](https://docs.bigbluebutton.org/dev/api.html#create)

<sub>[CAL-3105](https://linear.app/calcom/issue/CAL-3105/bigbluebutton-integration)</sub>

[2022-02-26 17:08] joeauyeung commented on #1947
I was mulling over this and I was thinking we could have the `hidden` field included with every new event creation. Although this maybe a bigger change since we would have to ensure that all options to create a new event has the `hidden` field included.

[2022-02-26 18:00] ankit-io commented on #1585
Hi @davidwuest, what is the correct length?

[2022-02-26 18:20] davidwuest commented on #1585
Just do `dd if=/dev/urandom bs=1K count=1 | md5sum`

[2022-02-27 00:19] #1970 closed

[2022-02-27 12:25] PeerRich opened #1988 "send email when booking an opt-in booking"
as of today we only send emails when a booking was confirmed

for opt-in bookings we should also send an email with this content:

![image](https://user-images.githubusercontent.com/8019099/155882207-e585f25c-ab58-4766-a5ad-8b09dc0df894.png)

[2022-02-27 15:32] jtylerhartley opened #1990 "Support for 12 and 24 hour time formats"
I am used to both the 12 hour clock rather than the 24 hour clock so I think it would be useful to provide support for both. A toggle on the settings page would be perfect. Thanks!

[2022-02-27 17:30] PeerRich commented on #1990
where do you want that setting? we already offer that in the booking page

<img width="1145" alt="image" src="https://user-images.githubusercontent.com/8019099/155892912-59fcd04b-7cfc-4527-9eae-18a5f4842e4c.png">

do you refer to the dashboard?

[2022-02-27 17:39] jtylerhartley commented on #1990
Yes, the setting would be referencing the dashboard. I apologize for the confusion but I appreciate the opportunity to clarify things.

[2022-02-27 18:25] PeerRich commented on #1990
the dashboard should already detect your local timezone and use the right time format, does it not?

we could add a dropdown in the https://app.cal.com/settings/profile settings:

- "am/pm"
- "24 hours"

with a checkbox:

Automatically adjust time format on invitee preferences

same as we do with theme

<img width="1098" alt="image" src="https://user-images.githubusercontent.com/8019099/155894831-

[2022-02-27 19:51] buschco opened #1992 "Apple Calendar events seems to be handled with the wrong timezone"
### Apple Calendar events seems to be handled with the wrong timezone

I have an appointment in my calendar which should prevent people from booking.

- In my timezone (Berlin) there is an event starting at 13.00 (1pm) on March 4 and ending 15.00 (3pm)
- I have availability from 12-13, 13-14, 14-15, 16-17 (12-1pm, 1pm-2pm, 2pm-3pm, 4pm-5pm)
- So the appointment should block: <s>12-13</s>, <s>13-14

[2022-02-27 20:08] PeerRich opened #1993 "refactor old dialog usage with <Dialog>"
a lot of places still use an old variant of a dialog and should be replaced with the (fairly new) `<Dialog>` component.

search for `className="fixed inset-0 z-50 overflow-y-auto"` for all instances:

<img width="431" alt="image" src="https://user-images.githubusercontent.com/8019099/155898009-b6f9f884-4e16-442f-a87e-bb10ec54d67e.png">

[2022-02-27 20:29] agustif commented on #1992
Hey there @buschco I've been able to reproduce the bug on my end too, and I'm further investigating to fix this.

Will let you know once it's fixed!

Thanks for the thorough report, really helps us do our work!

[2022-02-27 22:17] baileypumfleet opened #1997 "Public API"

[2022-02-27 22:51] #1959 closed

[2022-02-27 23:16] daimajia opened #1998 "iCloud from China could not connect."
Thanks all your work on this awesome project.

As you may know the iCloud in China is running by Cloud Guizhou. https://support.apple.com/en-hk/HT208351

I tried several times to connect iCloud, but failed. Have no idea how to solve this.

You could reproduce this issue by setting the account location to China.

<img width="497" alt="图片" src="https://user-images.githubusercontent.com/2503423/15590

[2022-02-28 01:02] jtylerhartley commented on #1990
As shown on the image below, the availability page is displayed in a 24hr format rather than my preferred 12hr format. Changing my local time zone has no effect on the time display on the availability page in my testing so far.

![CleanShot 2022-02-27 at 19 58 35](https://user-images.githubusercontent.com/70040274/155908187-5957a362-31d4-4ed4-96f1-c9ec9ddf1b10.png)

[2022-02-28 12:39] imkrunal commented on #1981
There seems to be issue with `BookingReference`. I have tried to create a jitsi meeting and huddle meeting. In jisti meeting it did not create booking reference when it should.

One more issue huddle meeting credentials received in email but not displayed on success page.

![image](https://user-images.githubusercontent.com/82360200/155984653-021a1eca-ecc4-4764-8017-fb3d708423c8.png)

I will try to

[2022-02-28 12:56] baileypumfleet commented on #1990
I've added support for this in PR #2002 @jtylerhartley

[2022-02-28 12:58] PeerRich opened #2003 "show "acquire commercial license" banner vs "trial banner" on self-hosted instances"
<img width="288" alt="image" src="https://user-images.githubusercontent.com/8019099/155987320-fb5e53a6-f1fe-42e1-98f2-f1a00a052359.png">

[2022-02-28 13:02] baileypumfleet commented on #1695
This is a Node.js issue and not related to Cal.com as far as I can see

[2022-02-28 13:02] #1695 closed

[2022-02-28 13:04] baileypumfleet commented on #1583
Closing this as we are unable to reproduce, and is likely an issue solely occurring with your environment

[2022-02-28 13:04] #1583 closed

[2022-02-28 13:10] baileypumfleet commented on #547
Closing this as we don't support Nginx (for now)

[2022-02-28 13:10] #547 closed

[2022-02-28 13:11] #9 closed

[2022-02-28 13:30] imkrunal commented on #1981
Update: I have created PR. We were creating the jitsi link on the fly on success page instead of this i have created a booking reference like huddle integration and stored it then send the email with meeting link.

[2022-02-28 13:58] philippdormann commented on #1981
Yeah, good catch!
The reason i built `BookingPage.tsx` this way was to support directly displaying the meeting link on `/success` 👀

This will break with this PR - right?

[2022-02-28 14:02] philippdormann commented on #1971
can confirm I had the same error 3 days ago.

seems to be fixed now.

[2022-02-28 15:19] imkrunal commented on #1981
By break if you mean meeting link will not be displayed on success page then yes. I tried with huddle and it wasn't displaying link for it as well. Let me see if i can fix that.

[2022-02-28 15:52] zomars commented on #1998
Could you provide a reproduction as stated in the Issue template? (Using birdeatsbug.com)

[2022-02-28 15:55] philippdormann commented on #1981
exactly, that link display on `/success/` will break 😉

The returned string is used in the url as a query parameter.
[code]
This can't use a much more complex data structure (such as the whole location info/ calEvent) if you were also thinking about that solution 🤔😁

Maybe we should accept this breaking for now and open a new feature request "/success/: directly show meeting url for non-opt-in mee

[2022-02-28 16:21] imkrunal opened #2005 "Docs title showing untitled"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

All the pages on docs showing `Untitled` as title.
![image](https://user-images.githubusercontent.com/17720036/156018766-533c759b-720d-4c78-9713-f9b570c10e91.png)

### Steps to Reproduce

1. Open any page in `docs.cal.com`

### Technical details

- Maybe new version nextra of docs broken the titles.

[2022-02-28 16:30] agustif commented on #1971
Can you guys @philippdormann @amvara-adrian @gjvalentin  try again if you were experiencing this in cal.com (not self-hosted)

We shipped a couple fixes during the weekend that should have solved this issue. Please do let me know so I can either close it or keep investigating!

Thanks

[2022-02-28 16:36] philippdormann commented on #1971
🙂😉

[2022-02-28 17:35] AnandBaburajan opened #2008 "https://cal.com/peer/15min gives 404"
The https://cal.com/peer/15min page inside an iframe at  https://cal.com/pricing gives 404.

[2022-02-28 17:54] PeerRich commented on #2008
whops. i deleted that event type.

readded

[2022-02-28 17:54] #2008 closed

[2022-02-28 19:57] slavakurilyak opened #2009 "Rescheduled/Cancelled Events Showing on Google Calendar"
### Issue Summary

I would like to report a bug (or feature request) with Cal.

One of my clients scheduled and cancelled an event with me. When I went to check on my Google Calendar, I noticed the event was showing on my schedule. In other words, Cal did not delete my Google Calendar event.

I assume that Cal has user permissions to delete events on Google Calendar. If so, then the event should b

[2022-02-28 20:14] LouisHaftmann opened #2010 "HTTP 404 when trying to access `/[user]/book` route with username containing uppercase letters"
### Issue Summary

HTTP 404 when trying to access `/user/book` route with username containing uppercase letters

### Steps to Reproduce

1. Went to https://cal.com/UppercaseName/book?type=...&date=... (Username with uppercase letters)
2. HTTP 404 Error

### Reason

- missing `toLowerCase()` in [/[user]/book route](https://github.com/calcom/cal.com/blob/7826a34b007f5c59fc736ae8cffb6066500c64b2/apps

[2022-02-28 20:34] zomars commented on #1923
This is what we have so far in #1869

The chosen structure would be this one:

[code]

[2022-02-28 21:23] #1947 closed

[2022-03-01 04:37] alishaz-polymath opened #2011 "The username shouldn't contain capital letters"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

The username may contain capital letters and that causes issues in user page, returning a 404 as it expects lowercase letters only.

[2022-03-01 05:07] ThangHuuVu opened #2012 "docs page is showing `Undefined` in title"
### Issue Summary

Seems like a problem with `nextra`? All docs pages are showing "Undefined | Cal.com".

### Steps to Reproduce

1. Went to https://docs.cal.com/
2. Observed the title or the `<title>` tag in `<head>`
<img width="571" alt="Screen Shot 2022-03-01 at 12 06 35" src="https://user-images.githubusercontent.com/31528554/156108514-da813dbf-1b79-4500-b729-c0f94d23f462.png">

### Technical

[2022-03-01 07:24] ThangHuuVu opened #2013 "Figure out why "Nameless User" happens"
### Issue Summary

~~"Nameless User" alt is too long, making it hard to see the rest of the component.~~

Find out why "Nameless User" is shown every now and then

### Steps to Reproduce

1. Log in as a nameless user.
2. Observe the bottom of the navbar.
3. Instead of a proper default image, alt text is shown.

![Screen Shot 2022-03-01 at 10 28 28](https://user-images.githubusercontent.com/3152855

[2022-03-01 07:29] ThangHuuVu commented on #2012
Addressed in #2006 🙏

[2022-03-01 07:29] #2012 closed

[2022-03-01 08:32] milospuac commented on #2005
Thank you for bringing this to our attention! Our team will fix this

[2022-03-01 08:33] milospuac commented on #2011
Thank you for reporting this! One of our engineers is on it.

[2022-03-01 08:34] milospuac commented on #2013
Thank you for reaching out! Our team is on it

[2022-03-01 08:44] milospuac commented on #2009
Hi there! Thank you for reaching out and reporting this. Our team is on it

[2022-03-01 08:48] milospuac commented on #2010
Hi there! Thanks for reaching out and reporting this. Our team will address the issue

[2022-03-01 08:51] milospuac commented on #2010
In fact, it's already opened  #2011

[2022-03-01 08:51] #2010 closed

[2022-03-01 08:52] milospuac commented on #1985
Thanks for reaching out and your suggestion. Our team will look into this

[2022-03-01 09:01] ThangHuuVu commented on #2013
@milospuac I'd love to help in the linked PR, if possible :D

[2022-03-01 09:29] amvara-adrian commented on #1971
@agustif I confirm thats works

[2022-03-01 09:47] imkrunal commented on #2011
This issue must be with existing users with capital letter in their name? I tried to update the username from settings and it automatically converted using `slugify`.

![image](https://user-images.githubusercontent.com/17720036/156145576-bb917aaf-bb83-400e-a9a2-fb6a4ffab1d7.png)

[2022-03-01 09:49] #1971 closed

[2022-03-01 09:51] sean-brydon opened #2016 "Input components selection - A11y"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Dark-mode selection color on booking components is against A11y Standards
![image](https://user-images.githubusercontent.com/55134778/156145875-b7bd347e-b72c-493b-a53a-44f565ec81f0.png)

### Steps to Reproduce

1) Navigate to www.cal.com/[user]
2) Follow form steps till you get to the input components
3) Activate dark mode
4) h

[2022-03-01 09:52] sean-brydon commented on #2016
Happy to pick this up in a PR :)

[2022-03-01 09:54] imkrunal opened #2018 "Force user to choose username after signup"
Found a bug? Please fill out the sections below. 👍

### Issue Summary
I have added new user to the team and he signed up and tried to create a booking for one of the default event but it gave 404 error because of incorrect url it caused because user didn't setup the username.

![image](https://user-images.githubusercontent.com/17720036/156146355-62f2b20a-88d9-4d7c-b6a7-fe6a7010c6ae.png)
![image](h

[2022-03-01 09:56] alishaz-polymath commented on #2011
This issue was through a 3rd party sign up. Closing it as this has already been fixed in Cal.

[2022-03-01 09:56] #2011 closed

[2022-03-01 11:27] LouisHaftmann commented on #2011
where has this been fixed?

[2022-03-01 12:08] alishaz-polymath commented on #2011
Slugify doesn't allow capital names, does it?

[2022-03-01 12:09] sw506 commented on #1971
@PeerRich still not working in my self-hosted instance of cal, have installed the latest patches. Still getting redirected to undefined/integrations like amvara-adrian when I add a Outlook-Calender after the MS-Login prompt, even though the calendar is added.

[2022-03-01 12:15] PeerRich commented on #1971
do you have BASE_URL and NEXT_BASE_URL in env?

[2022-03-01 13:25] sw506 commented on #1971
Have set BASE_URL, NEXT_PUBLIC_APP_URL like  advised in .env.example

[2022-03-01 14:09] agustif commented on #1971
Hey sorry there I actually named the new env var NEXT_PUBLIC_BASE_URL, can you try with that one. Maybe we need to change it to the default NEXT_PUBLIC_APP_URL though if it doesn't interfere

[2022-03-02 00:16] joeauyeung commented on #1982
Hey I found a fix for this. I have to read the guidelines for a PR but it's on the way!

[2022-03-02 12:29] noonscoomo commented on #1985
We (infra.run) support this request. Such an integration would help a lot to enable both, cal.com and BBB, to the business world with focus on open-source-software.

[2022-03-02 15:42] #2005 closed

[2022-03-02 16:58] zomars opened #2035 "[CAL-1682] Team members can create team events but can't update them"
### Issue Summary

Being a member of a team allows you to create new event types from the team, but doesn't allow you to update them.

### Steps to Reproduce

1. Went to dashboard
2. Created a new event type for a team I'm a member of (not owner)
3. Can't update that same event type

Any other relevant information. For example, why do you consider this a bug and what did you expect to happen inste

[2022-03-02 21:24] PeerRich commented on #2013
"Nameless User" is actually a bug  – a placeholder when a user is not authorized. We should instead find out why this is happening. I think @alishaz-polymath build this?

[2022-03-02 21:32] alishaz-polymath commented on #2013
@PeerRich I have worked on the user image (avatar component) in shell, yes, but I didn't build the logic here. Although, I know why this is happening. The avatar component would work when it is fed a username, and when it isn't, we get the alt which is set to "Nameless User". We can simply create a better(and smaller) alt for this, and it should be fine. In the case above, username is likely not s

[2022-03-02 21:57] PeerRich commented on #2013
usernames should never be set to empty/null/undefined in the first place. lets debug why that happened and how we can prevent that

[2022-03-03 05:06] alishaz-polymath commented on #2013
@PeerRich I think I have only seen this when the user session expires and the user is still at the logged in page, the message says "unauthorized" while the Shell's user data says "Nameless User" et al.
The only time when it would say "Nameless User" is when the session data is unavailable, or if someone tinkers with changing the username to blank/null explicitly in the DB (since that is not allow

[2022-03-03 05:17] ThangHuuVu commented on #2013
@alishaz-polymath I can reproduce this consistently on production ever since I registered a new account without claiming a username. Whenever I log back in, I see "Nameless User". I haven't been able to debug this in dev yet because I don't have a required commercial license 🤔

[2022-03-03 05:29] alishaz-polymath commented on #2013
Okay, thanks. I'd say the issue in this case would be allowing to not claim a username during the registration process itself. If we are set to allow it, we'd need to update how we handle it, else we should just not allow it in the first place. Thoughts @PeerRich ?

[2022-03-03 06:37] Mayowa-Ojo commented on #1988
I would like to take this on. Can get a PR up in a few hours
@PeerRich

[2022-03-03 06:51] heikog18 commented on #1779
Thanks as well for this great project and your effort!
We are using the hosted version of cal.com for test purposes. We do have problems with Office 365 integration too.

Thanks for fixing this or giving feedback!

Steps to Reproduce
* Create a user at cal.com
* Use the UI to register the user calendar using the Office 365 integration
* Use the UI to create an event
* Use the UI to book a time slo

[2022-03-03 07:19] slavakurilyak opened #2043 "Unusual Cal Events via Webhook"
### Issue Summary

After setting up the Discord webhook for Cal, I am noticing unusual requests which do NOT show up in the [upcoming bookings](https://app.cal.com/bookings/upcoming).

### Steps to Reproduce

1. Set up Discord webhook for Cal
2. Receive unusual calendar requests

![01](https://user-images.githubusercontent.com/6625584/156515398-12b5470c-3264-42ec-a84e-49a7a1a07b87.jpg)
![02](https

[2022-03-03 07:30] alishaz-polymath commented on #2043
Hi @slavakurilyak Thank you for reporting this. This is odd, as the webhook only fires once the event is booked, doesn't matter if we're using the webhook template (for discord) or otherwise. Can you check through the Past and Cancelled tabs as well, just to make sure it isn't in one of them?
Otherwise, I would imagine that the same webhook is being used by someone else which could only mean that

[2022-03-03 07:31] alishaz-polymath commented on #2043
But I do figure that currently, the discord webhook template doesn't take the event trigger info into consideration, so that would need to be added as a follow up!

[2022-03-03 07:31] alishaz-polymath opened #2044 "The discord webhook template doesn't take the event trigger info into consideration"
But I do figure that currently, the discord webhook template doesn't take the event trigger info into consideration, so that would need to be added as a follow up!

_Originally posted by @alishaz-polymath in https://github.com/calcom/cal.com/issues/2043#issuecomment-1057754600_

[2022-03-03 07:55] PeerRich commented on #2013
lets discuss in engineering channel.

btw. what he's experiencing is on self-hosted, not cal.com

could be many things

[2022-03-03 08:04] ThangHuuVu commented on #2013
@PeerRich FYI I experienced this on cal.com when I registered, not self-hosted. Sorry for not being clear about it at first.

[2022-03-03 10:13] PeerRich commented on #2013
oh! weird

[2022-03-03 11:41] PeerRich opened #2046 ""Team Webhooks" overwrote "Webhooks" title in individual integrations"
![image](https://user-images.githubusercontent.com/8019099/156558141-13fb0c6c-d48b-4d64-88c4-784673342241.png)

ref: https://twist.com/a/195135/msg/1312811/m/64873788

[2022-03-03 14:16] #2046 closed

[2022-03-03 16:20] PeerRich opened #2050 "event-type dropdown with duplicate and delete"
depends on https://github.com/calcom/cal.com/issues/2073 to be done first

<img width="411" alt="image" src="https://user-images.githubusercontent.com/8019099/156606087-69b29522-28e7-420e-a91b-86d2093c4ea6.png">

- later: archive

[2022-03-03 23:05] rihards-simanovics commented on #1779
@heikog18 to temporarily fix this issue, you can "remove externalID from the database entity DestinationCalendar", as suggested by @akina5525. Please note that you can only use the default calendar as your destination like this.

Please read the first part of the issue description for the workaround steps.

[2022-03-04 08:40] mountainsandcode opened #2054 "Get availability from ics-URL"
### Is your proposal related to a problem?

I would like to be able to share my calendar availability automatically without having to grant full CalDav access.

### Describe the solution you'd like

Many calendar providers offer a URL with free/busy information only, i.e., no details of calendar events. That URL returns an ics-file with events, except that the event details are hidden.

_Example:

[2022-03-04 08:48] mountainsandcode commented on #1934
One additional idea on reschedules: While I fully agree that it can be problematic for the owner to reschedule without knowing the attendee's availability, it might make sense for the owner to be able to choose a time outside of the availability schedule (perhaps showing a checkbox which allows the owner to select times outside of the availability schedule). Rationale being that they might try to

[2022-03-04 09:10] milospuac commented on #2054
Thanks for the suggesition. Our team will have a look into this

[2022-03-04 09:12] milospuac commented on #2018
Thanks for reporting this. Our team will address this issue

[2022-03-04 10:19] #1398 closed

[2022-03-04 12:24] astrojuanlu opened #2056 "Clarify generic "remote meeting" link"
### Is your proposal related to a problem?

I have a custom solution for videoconference calls I use for my meetings. However, none of the options for "Location" works in this case. These are the ones I see at the moment:

:x: Google Meet (nope)
:x: Daily.co (nope)
:x: Jitsi (close, but no cigar)
:x: Huddle01 (nope)
❓ Link or In-person meeting - closest, but the link seems to expect an address?

!

[2022-03-04 13:19] hariombalhara opened #2058 "Back Button on Event Booking page [user]/[type]"
### Is your proposal related to a problem?

I am not able to go and choose a different Event Type once I have chosen one.
See <img width="1304" alt="Screenshot 2022-03-04 at 6 47 09 PM" src="https://user-images.githubusercontent.com/1780212/156770249-29e84c78-cefe-43a0-bf83-3e4dbb0dd1f8.png">

### Describe the solution you'd like

There should be  a button to take me back to Event Types List page

[2022-03-04 17:04] heikog18 commented on #1779
@rihards-simanovics thanks for your feedback.
We are using https://cal.com/ for test purposes and have the described Office 365 problems too. AFAIK works the described workaround for self hosted instances with database access. Since we are using https://cal.com/  we do not have database access. I have added my comment and desciption to show that the problem exists on https://cal.com/ too. Please c

[2022-03-04 21:17] alannnc opened #2064 "RFC: EventTypes with slots/seats"
## RFC: Event Types with slots/seats first steps
The following are all the description and ideas gathered for this new feature.

### Example User cases
- Private tutor can be booked "5 times per day" he has a 9 to 5 availability. He has 8 one-hour slots. But if he has been booked 5 times already, then he's done for the day and should appear unavailable even if he has slots left.
- Classroom has a

[2022-03-04 21:51] PeerRich commented on #2064
i think more than 5 people should be pro. more than 5 sounds like a commercial usecase and then it's fine to upgrade

[2022-03-04 23:04] PeerRich commented on #1934
@Jaibles once you are back from OOO can you post your new Figma workflow here and assign an engineer? 🎉  should be straight forward and would be great to be included in the [v.1.4 milestone](https://github.com/orgs/calcom/projects/1/views/1)

[2022-03-05 13:55] PeerRich opened #2067 "get rid of cal.com/claim and instead use Stripe Checkout"
"Claim it at cal.com/claim/liam" causes premium usernames to not be assigned.

<img width="484" alt="image" src="https://user-images.githubusercontent.com/8019099/156886326-71186e85-4bbf-4d70-b4ee-86bc264f3378.png">

<img width="414" alt="image" src="https://user-images.githubusercontent.com/8019099/156886359-98c8b867-5138-4b50-b093-e2dd234cf1a0.png">

instead, we should use the existing Stripe Ch

[2022-03-05 13:57] PeerRich commented on #2067
same problem with "Continue with Google"
<img width="547" alt="image" src="https://user-images.githubusercontent.com/8019099/156886465-ecfae5db-a8c5-484d-bf60-f14639b8c277.png">

[2022-03-05 13:58] PeerRich commented on #2067
either we open the Stripe Checkout in each screen (onboarding or settings) or we still link to cal.com/claim but replace the "Get Started" button with the Stripe Checkout.

problem is: cal.com/claim doesn't validate if a username is already in use

[2022-03-05 14:40] sean-brydon commented on #2058
Thanks for reporting this - Ill take a look at implementing this :)

[2022-03-05 15:37] #1953 closed

[2022-03-05 23:13] denik1981 opened #2069 "E2E tests not working `P1001: Can't reach database server`"
From time to time, e2e tests, when triggered with `yarn test-2e2`,  aren't working as the initial steps that are aimed to prepare the database are failing.

_Last lines of a clean `yarn test-e2e` execution._

[code]

### Steps to Reproduce

1. `yarn test-2e2`

[2022-03-06 00:35] agustif opened #2071 "Move booking page to SSG + ISR instead of SSR"
### Is your proposal related to a problem?
Improvement of user/book page, after seeing #2057 and thinking about how we could improve it further.

What if we move the user/book page to ISR, and call whenever the user profile/ event types are modified and thus the page needs to be updated?

https://nextjs.org/docs/basic-features/data-fetching/incremental-static-regeneration

[2022-03-06 05:38] imkrunal commented on #2050
can i take this? @PeerRich

[2022-03-06 07:08] hariombalhara commented on #2071
ISR can totally improve the User experience and PSI score.But it would add some delay(in multiple seconds) for any changes in app to be reflected in the page.
 e.g. I disable an event and it would still show up for a few seconds.

If I keep the revalidation too low(say 1 second), it would be like SSR but would have the benefit of lower CPU cost. But there would be one big limitation then which is

[2022-03-06 10:51] PeerRich opened #2073 "replace headlessui with radix-ui"
we still have some places where we use headless-ui
<img width="381" alt="image" src="https://user-images.githubusercontent.com/8019099/156919787-ce85636c-bde6-4590-b242-d992711355ec.png">

instead of `radix-ui`. Lets replace those components and remove the dependency.

`import { Switch } from "@headlessui/react";` => https://www.radix-ui.com/docs/primitives/components/switch

`import { Menu, Trans

[2022-03-06 10:53] PeerRich commented on #2050
i noticed, let's do this ticket first: https://github.com/calcom/cal.com/issues/2073 and introduce a new `<Menu>` component before working on this

[2022-03-06 11:10] PeerRich commented on #2071
@KATT had some opinions on this. i mostly agree with @hariombalhara

[2022-03-06 11:11] PeerRich commented on #2071
also, @emrysal is working on cached calendar availability which may open up new avenues for us in terms of rendering

[2022-03-06 11:11] PeerRich commented on #2069
@zomars

[2022-03-06 11:12] PeerRich commented on #2056
Yeah I am open to have two options:

- Link (validates URLs)
- In-Person (validates for address, could even use auto-completion for addresses)

[2022-03-06 11:15] PeerRich commented on #2016
thank you!

[2022-03-06 11:15] #2016 closed

[2022-03-06 13:40] agustif commented on #2013
Yeah I was nameless for a while too on cal.com when signing up.

[2022-03-06 16:19] leog commented on #2073
@PeerRich can you point to where the new Menu component should be used and if there is a Figma design for it? I'm not needing such a component for #2050 so I will tackle this requirement separately alongside the move from headlessui to radix.

[2022-03-06 18:41] PeerRich commented on #2013
any clue why? thats a much higher priority than the alt tag

[2022-03-06 22:26] agustif commented on #2013
It's possible I had an old account pre-renaming that had no username? I just was able to signup without choosing one I think. I had to set it up in settings. Will try to reproduce with a fresh new account

[2022-03-06 22:31] agustif commented on #2073
Could this be useful https://github.com/ecklf/tailwindcss-radix to us?

[2022-03-07 00:12] PeerRich commented on #2073
tagged you in twist

[2022-03-07 05:56] alishaz-polymath opened #2078 "Bug in event buffer when used alongside custom slot intervals"
### Issue Summary

Event buffer is not working well with slot intervals
[code]

### Steps to Reproduce

1. Block time between 12:50 and 13:50 or any other hour long timeslot (1 hour slots for the event-type as well)
2. Set before event Buffer to 15 mins
3. Add 5min interval

[2022-03-07 12:54] Jacubeit commented on #1992
currently testing cal.com - can confirm this.
Additional Info:
I connected three calendars (zoho caldav, apple caldav, google).
Timeslots in the google calendar are not bookable in cal.com.
Apple and zoho are 1hour off.

Maybe there could be an issue with interpreting `TZID` in [iCalendar format](https://icalendar.org/iCalendar-RFC-5545/3-2-19-time-zone-identifier.html)? @agustif

[2022-03-07 15:28] zomars commented on #2069
@denik1981 Can you make sure that there's an `.env` setup in `packages/prisma` and that you don't have a `DATABASE_URL` anywhere else that could be conflicting?

[2022-03-07 15:36] denik1981 commented on #2069
Yes, the only place I have the DATABASE_URL set is in `@calcom/prisma`.
Check the link PR to this issue that I think explains what is the source of the issue.

[2022-03-07 16:35] #2069 closed

[2022-03-07 17:55] #1271 closed

[2022-03-07 18:18] #1988 closed

[2022-03-07 18:32] k3davis opened #2082 "Time format not respected"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

In my profile I've selected "12 Hour" time format, by on my events it lists available slots in 24 Hour time format (13:00, etc.). I could not find a time format setting on the event setup itself, which is what led me to believe the profile setting controlled this. Perhaps there is another location I have missed?

### Steps to R

[2022-03-07 19:07] agustif commented on #2082
Hello @k3davis thanks for your report.

We recently implemented some improvements on the 24/12h settings.

What is your browser locale? Would make sense that your browser's locale and profile settings don't match and thus the different views?

I'll look into this

[2022-03-07 22:15] zomars commented on #2064
Are seats counted per time slot? Per day? Or could it be configurable? Can we check for some actual use cases to validate the mvp features?

[2022-03-07 22:26] alannnc commented on #2064
@zomars So far it will be only per time slot. For configurations, you should only be able to assign a maxSeats number per event type and this translate to max seat per time slot available. Pro users can set a higher amount than trials.

[2022-03-07 22:53] emrysal commented on #2064
Looks good, is 3. optional? Seems required to me. 4 is optional but a low hanging fruit

[2022-03-07 23:10] k3davis commented on #2082
My browser local is `en_US`, so if the display is based on that it's even more odd to see 24h time by default. Thanks for looking into it!

[2022-03-07 23:44] zomars commented on #2064
Use cases that come to mind:

- Private tutor can be booked "5 times per day" he has a 9 to 5 availability. He has 8 one hour slots. But if he has been booked 5 times already, then he's done for the day and should appear unavailable even if he has slots left.
- Classroom has a 10 students per class limit. The time slot can be booked 10 times, one per student. After that the time slot can't be book

[2022-03-08 00:46] alishaz-polymath commented on #2064
Agree with your analysis @zomars . I think there are a couple other important features/points that come to mind:

- we would potentially need an optional date range allowing people to book within that date range rather than using the the minimum booking notice for this purpose (since they might need to organize stuff accordingly and need more time, or be something like a flash booking where they o

[2022-03-08 07:05] hariombalhara commented on #1965
@PeerRich I don't think it is an issue anymore.

<img width="734" alt="Screenshot 2022-03-08 at 12 35 06 PM" src="https://user-images.githubusercontent.com/1780212/157184611-ce700259-232b-42a1-a501-c96a17d4b000.png">

[2022-03-08 07:24] Jacubeit commented on #1992
To add on my previous post. I managed to pull the caldav data directly.
It may help?

[code]

[2022-03-08 07:49] hariombalhara opened #2085 "User lands on 404 page after login in a specific case"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

User lands on 404 page after login if he had landed on the login page due to automatic redirection from a protected page

### Steps to Reproduce

1. Go to https://app.cal.com/event-types
2. You would get redirected to https://app.cal.com/auth/login?callbackUrl=https%3A%2F%2Fapp.cal.com%2F%2Fevent-types
3. Now, log in with your

[2022-03-08 09:25] sean-brydon commented on #2058
Merged - Thank you for reporting this.

 Closing issue

[2022-03-08 09:25] #2058 closed

[2022-03-08 10:18] hariombalhara opened #2088 "Invalid Payment URL gives 500"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Accessing an invalid payment URL gives 500. It should simply give 404

### Steps to Reproduce

1. Go to https://cal.com/payment/asdfasdf

[2022-03-08 13:06] milospuac opened #2089 "Team Owner/Organizer issue"
If you change the role of the team owner for example to Admin, it isn't possible to select it back to Owner.
<img width="598" alt="Screen Shot 2022-03-08 at 14 02 45" src="https://user-images.githubusercontent.com/97884287/157243247-762ce4fb-866d-4ad1-9f4c-927db58b5607.png">

Also, there is an issue where the organizer of the team isn't shown as the Organizer in the confirmation email, it shows th

[2022-03-08 13:07] milospuac commented on #2088
Thanks for reaching out. Our team will have a look at this

[2022-03-08 13:08] milospuac commented on #2085
Thanks for sharing this. Our engineers will address this issue

[2022-03-08 13:55] #1965 closed

[2022-03-08 15:16] adowbor commented on #1780
@PeerRich I think it would be interesting to have a webhook fire when these events are triggered, this way we can connect to any other service as required. You may want to receive a Slack notification for example or send an update to a CRM system.

[2022-03-08 17:16] juliansg022 commented on #2089
Hi, I'll take a look at this.

[2022-03-08 17:44] alannnc commented on #2064
Thank you for all the feedback, will start updating the details above.
I will start defining two user cases described by @zomars as our main goal for this development.
And for @alishaz-polymath comments, some of your points will be moved too optional and challenges.

[2022-03-08 17:49] alishaz-polymath commented on #2064
@alannnc amazing! I plan on getting started on this pretty soon. If everyone is in agreement on the discussed points wrt goals and expected outcome, I'll get started on it. 😄

[2022-03-08 18:16] alannnc commented on #2064
@alishaz-polymath Just updated all the details, before moving into code let's do a quick run of what the mentioned changes should affect current app flow.

[2022-03-09 00:02] PeerRich commented on #1780
cc @alishaz-polymath

[2022-03-09 06:04] alishaz-polymath commented on #2064
@alannnc Precisely!
@Jaibles Do we have a flow ready for this?

[2022-03-09 09:47] zeorin commented on #693
The current version has it implemented as separate before and after buffers, but they are not being respected. Really annoying as I specifically set those so that I'd have time to prepare for the events, which in several cases I have now _not_ had because it's not being respected.

[2022-03-09 09:58] dotesfera commented on #9
Hi @baileypumfleet I assumed you closed this issue because it was solved?

[2022-03-09 10:02] PeerRich commented on #2013
renamed ticket to "Figure out why Nameless User" happens

[2022-03-09 10:31] alishaz-polymath commented on #2013
I think @zomars mentioned this being a Normal Behavior
[code]

[2022-03-09 10:33] alishaz-polymath commented on #2013
What we can do to improve this (off the top of my head) is to only allow registration with premium usernames **after** the stripe payment intent is successful, otherwise fail the registration process due to pending payment. But I'm not sure how good of a flow this is, just that the nameless user issue happening because of the above flow would be resolved this way

[2022-03-09 11:58] agustif commented on #2013
I propose to add a verification check for username.

If the user is loggedIn and doesn't have a username setup, we ask him to set up one (either free or premium and pay) I think we wanted to re-implement paying for premium via stripe checkout in-app either way too, so it would be good if in any case where you end up nameless, the webapp prompts you to update it.

I also wonder if we want to limit

[2022-03-09 12:32] alishaz-polymath commented on #2013
I like it 👍

[2022-03-09 14:47] #2085 closed

[2022-03-09 17:36] PeerRich opened #2096 "only show 2 avatars in avatargroup on mobile"
![image](https://user-images.githubusercontent.com/8019099/157498646-ef357a6c-d959-4f9b-8b1e-3e75dc37c6ce.jpeg)

[2022-03-09 19:50] zomars opened #2097 "New linting workflow breaks with external contributions"
### Issue Summary

#2083 Introduces GitHub annotations for linting errors like these:

![image](https://user-images.githubusercontent.com/3504472/157522361-84ff4975-ecef-468a-9958-e9759644924d.png)

The downside of this is that it seems that it's breaking for some external contributors.

![image](https://user-images.githubusercontent.com/3504472/157522260-ed15081f-5325-47f7-a164-181531b7fc8a.png)

[2022-03-09 20:36] juliansg022 commented on #2089
@milospuac The idea is that the team owner may change his role but conserve its status as the owner? Or to establish in the field the "Owner" option but this is only available to the team owner?

Could you give me more details please?

[2022-03-09 21:55] baileypumfleet commented on #9
Yes, I closed this as we now have CalDAV support

[2022-03-09 22:03] dotesfera commented on #9
Yes but this error I present on the issue is still there. Is it something I can fix on my side?

[2022-03-10 01:44] slavakurilyak commented on #2043
After deleting my Discord webhook and adding a new one, the issue still persists.

![screenshot](https://user-images.githubusercontent.com/6625584/157569762-a0b5b657-f957-4037-ab53-5a4d4ad20260.jpg)

I also checked my past and cancelled tabs using Cal.com but I did not see any related events.

No one has access to my webhooks.

![screenshot-2](https://user-images.githubusercontent.com/6625584/1575

[2022-03-10 07:31] kb24x7 commented on #2043
Same issue here

[2022-03-10 07:34] alishaz-polymath commented on #2043
@kb24x7 @slavakurilyak This has only started happening recently?

[2022-03-10 07:37] kb24x7 commented on #2043
I added my webhook yesterday so can't confirm the duration of how long its been happening since.

[2022-03-10 09:36] alishaz-polymath opened #2102 "The slots seem to be off and somehow related to the UTC offset"
Found a bug? Please fill out the sections below. 👍

I'm not sure if this is intended but the slots seem to be off and somehow related to the UTC offset 🤔
Here's the loom video, please do tell if this is intended

[Test event | Syed Ali Shahbaz | Cal.com — Mozilla Firefox - 9 March 2022](https://www.loom.com/share/c3a23ef62cfa4314b13eaf7f37386ffe)[](https://www.loom.com/share/c3a23ef62cfa4314b13eaf

[2022-03-10 10:04] sean-brydon opened #2103 "Ghost Input on Event Location"
### Issue Summary

Whenever address is populated in the event location - editing any other field creates a ghost input or simply doesnt work.

### Steps to Reproduce

1. Add In person location
2. Add another location
3. Try and edit either
4.
### Technical details

- [Birdseatbugs](https://app.birdeatsbug.com/sessions/vpjztaBdaovEGCYw5fopf)

[2022-03-10 10:31] alishaz-polymath commented on #2043
The weirdest part of the payload is it is missing `'type'` (notice empty paranthesis in the `what`). I tried re-creating it locally, but to no avail. ALthough, I might know what's going on here, will run a few tests.

[2022-03-10 12:56] milospuac commented on #2089
I think establishing the field "Owner" and that one to be available only to the team owner would make sense. And if the team owner should change his role, or someone else's role to owner, he should be able to change it back instead of being stuck as either Admin or Member.

Does that make sense?

[2022-03-10 13:10] juliansg022 commented on #2089
I understand, but do you mean that a team could have more than one owner? In that case, the new owners should be able to change their roles to Admin or Member, and change again to Owner?

[2022-03-10 13:18] milospuac commented on #2089
If a team owner wants to assign someone else as the owner (going on a sabbatical for example) maybe to automatically sets them as Member or Admin? So that way you can't have more than one owner.

Also, team owner to be the only one in full control of the role assigning. Idk, we are in the realm of personal preference now, what do you think?

[2022-03-10 13:25] juliansg022 commented on #2089
That sounds good to me. I'm going to work on it.

[2022-03-10 19:29] zomars commented on #1933
Closed by #2063

[2022-03-10 19:29] #1933 closed

[2022-03-10 19:31] zomars commented on #1595
Closing in favor of #1923

[2022-03-10 19:31] #1595 closed

[2022-03-11 01:30] Mayowa-Ojo commented on #2096
@PeerRich I'm picking this up. I have the `pr` ready. Just want to confirm if it's just for this page alone?

[2022-03-11 02:49] alishaz-polymath commented on #2043
Thank you @slavakurilyak for raising this issue. After a lot of debugging and testing, I have finally managed to re-create the issue and here are the steps:

1. Create a new webhook on one account.
2. Log in to another account and either create a new event-type (as you would need to delete this later for testing purposes)
3. Create a test booking on the new event
4. Delete the event-type
5. Now ca

[2022-03-11 07:28] avinal opened #2110 "Website doesn't load on Chrome for Android"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

The website doesn't load properly on Chrome for Android. Initially, there is some appearance but then it disappears completely. Please see the attached recording.

https://user-images.githubusercontent.com/74113200/157820282-2d487506-7e85-4bfe-9645-6d4d8dc01b30.mp4

### Steps to Reproduce

1. Open Chrome for Android
2. Put your

[2022-03-11 09:00] #2043 closed

[2022-03-11 09:19] milospuac commented on #2110
Thanks for sharing this. Our team will have a look

[2022-03-11 09:29] PeerRich commented on #2096
i think you can do it on AvatarGroup level, so it's everywhere.

maybe we wanna show a (+2) as a bubble like here

![image](https://user-images.githubusercontent.com/8019099/157840008-f44fe3ef-62be-4f3a-aae6-6225dc3c992d.jpeg)

[2022-03-11 13:25] Mayowa-Ojo commented on #2096
@PeerRich Okay, makes sense

[2022-03-12 06:52] #1871 closed

[2022-03-12 06:52] #2078 closed

[2022-03-12 18:14] denik1981 commented on #2089
@juliansg022 I think we should not convert an issue in a requested feature. The issue here is that an Owner should not be able to downgrade his role (probably neither have access to change it) if he is the only owner of the team. An Owner can change his role to Admin (or Member) only if there is already another Owner in the Team that can backup the potential owner orphans of the team. Another poli

[2022-03-12 23:51] juliansg022 commented on #2089
@denik1981 I understand, no problem. Can I solve this issue doing changes to PR #2119 or should I open a new PR for this?

[2022-03-13 13:46] denik1981 commented on #2089
@juliansg022 It hasn't been merged yet so it wouldn't make a difference if you modify the already submitted one. If you need a hand with it, I can help you as well. I haven't explored further within the code of your PR. I read the title and the description of what it was supposed to do. In any case (just me) I would separate the concerns for two different PRs for what the resolution of the issue (

[2022-03-13 22:09] #2073 closed

[2022-03-14 08:20] hariombalhara opened #2133 "User Dropdown at bottom left is broken"
Found a bug? Please fill out the sections below. 👍

### Issue Summary
User Dropdown at bottom left is broken

### Steps to Reproduce
Simply click the dropdown to see that it doesn't open.

[2022-03-14 08:24] shengslogar opened #2134 "Availability checker not considering rejected or cancelled events"
Greetings! New to this project. Kudos for making it OSS! ✨

## Issue

Cancelled/declined events are included in availability logic, meaning cancelling an event won't truly free up that calendar slot and an end user would see a "Could not book the meeting." error message on the scheduling end.

## Potential Solution

https://github.com/calcom/cal.com/blob/71c9a7b931a54ef4c7db4a4dadae5c7ad151a1a8/ap

[2022-03-14 08:32] shengslogar opened #2135 "Missing `calendar_no_busy_slots` translation"
### Issue Summary

Translation referenced here is missing from `en/common.json`:

https://github.com/calcom/cal.com/blob/8c4eed2bbc80f53a2fce96a490bf8cbd9f168ce9/apps/web/pages/availability/troubleshoot.tsx#L93

### Steps to Reproduce

1. Go to `/availability/troubleshoot` endpoint, select date with no events.

### Potential solution
[code]

### Technical details

N/A

[2022-03-14 08:38] shengslogar opened #2136 "`You have no {{status}} bookings` unexpectedly capitalized"
### Issue Summary

Status shouldn't be capitalized.

https://github.com/calcom/cal.com/blob/7add1f44e99480cec42d34b1e46efb1c71f0697b/apps/web/public/static/locales/en/common.json#L271-L272

<img width="1387" alt="Screen Shot 2022-03-14 at 02 36 39" src="https://user-images.githubusercontent.com/4350009/158134890-4f2bddf7-a7ad-44e6-829b-57b6fb135b51.png">

### Steps to Reproduce

1. Navigate to `/b

[2022-03-14 08:44] shengslogar opened #2137 "Removing `@headlessui/react` breaks desktop "shell" menu"
### Issue Summary

Main profile menu no longer works on desktop following commit https://github.com/calcom/cal.com/commit/424482646fe1f20d6442fc875284f91f8a297412

Breaks [Shell.tsx](https://github.com/calcom/cal.com/blob/main/apps/web/components/Shell.tsx) component.

### Steps to Reproduce

1. Go to https://app.cal.com/
2. Click on profile menu
3. Pointer is disabled but menu doesn't show

### T

[2022-03-14 08:45] shengslogar commented on #2137
Oops. Closing, dupe of https://github.com/calcom/cal.com/issues/2133

[2022-03-14 08:45] #2137 closed

[2022-03-14 09:21] milospuac commented on #2133
Hey Hariom. Thanks for addressing this

[2022-03-14 09:23] milospuac commented on #2134
Hi there. Thanks for reaching out. Our team will have a look

[2022-03-14 09:23] milospuac commented on #2135
Thank you for addressing this

[2022-03-14 09:33] milospuac opened #2139 "Apple Calendar/CalDav events are getting converted to GMT"
Apple Calendar events are shown in the GMT time zone in Cal even though the apple calendar account is set to EST.
This is causing double booking.
![cal com timezone bug](https://user-images.githubusercontent.com/97884287/158144352-e491ab20-02ba-4ca7-b7bd-3907a33a8ae3.jpg)

[2022-03-14 10:15] #2133 closed

[2022-03-14 11:10] PeerRich opened #2141 "Exchange App"
Reuse: https://github.com/calcom/cal.com/pull/1157 but make it work for the new app store file structure

[2022-03-14 11:27] #2044 closed

[2022-03-14 13:16] juliansg022 commented on #2089
@denik1981 I like the idea. Then, I'm going to open a new PR to solve this issue, based on your clarifications. After I'll talk with my fellows about the proposal to convert #2119 to an RFC. Thanks for your feedback.

[2022-03-14 13:51] juliansg022 commented on #2089
@denik1981 I have a doubt, should an Admin be able to change the role of an Owner (if exists another Owner)? or only an owner could change the role of another owner?

[2022-03-14 14:29] denik1981 commented on #2089
The owner is the root user of the team. IMHO, an Admin shouldn't be able to change his role.
Neither Owner should be able to change other Owners' roles because they shared the same level of permissions.
Again, I haven't seen the implementation of a multi-owner team. I'm not sure if this is just a side-effect of how the code is written or if there is a real use behind this that Cal wants to address

[2022-03-14 17:40] Colelyman commented on #1861
I agree with @frankgreco to allow any that are custom defined.

To give an example of my intended use case (which led me here), I am scheduling interviews for clients and I have a custom field `Company`. It would be great if I could have the event name be: `Interview with {USER} @ {inputs.Company}` (or something similar).

Thanks!

[2022-03-14 22:40] leog opened #2147 "RFC: Storybook Design System"
RFC summary of the recent discussion in our Design channel at Twist (https://twist.com/a/195135/ch/555266/t/3302952/c/74518271)

## RFC: Storybook Design System

### Goals:
- Concentrating all design decisions, look and feel, colors, showcase components and their configuration in a single place
- Avoid having different repositories to be able to rapidly accommodate the information from a single so

[2022-03-14 22:48] vikramraja opened #2148 "Notify me when sooner availability becomes available"
### Is your proposal related to a problem?

I'm always frustrated when I get a scheduling link and the closest time is 2 weeks away

### Describe the solution you'd like

I would love an option to be notified when a sooner date becomes available, so I can meet with the person sooner.

### Describe alternatives you've considered

I've considered asking the other person to notify me if any closer da

[2022-03-14 22:51] agustif commented on #2148
Intresting use case, I wonder how this would work.

As an end-user, you see 2 weeks full, and want to provide your contact details and be notified if anything before that opens up.

This would require we ask you for your details, and save the lastAvailableDate (you didn't want to book)
And then would need some kinda recurring task /cron job whatever to check if any available date sooner than that

[2022-03-14 23:44] PeerRich opened #2149 "set a default for "create events on""
the lack of defaults here may cause side effects:

<img width="207" alt="image" src="https://user-images.githubusercontent.com/8019099/158278667-0fe0f01c-5c88-44b4-a3b7-93d7a202a30a.png">

[2022-03-14 23:45] PeerRich commented on #2013
@agustif @alishaz-polymath has this been resolved?

[2022-03-14 23:52] agustif commented on #2013
Not really, should I work on a fix for this? The problem is I don't know the underlying problem, I think I remember @zomars mentioned this being an expected behaviour.

I think the problem is if I ask for premium, but don't pay, I get signup, but without a username.

Btw, on onbarding we ask for the name, but not the username, we could add it there too, but I don't know if it would catch all cases

[2022-03-14 23:55] agustif commented on #2089
I think we could take the lead from github/vercel where they do have a way to transfer ownership, but it does have some extra requirement checks (like the other part being notified by email, and having to accept the transfer), and also requires you to have both a pro account /team in the case of vercel. or not be private repos in the case of free github.

Something like that could work, maybe?

[2022-03-15 09:16] montespertoli-paktribune opened #2154 "Bitcoin / BTCPay Server App"
### Is your proposal related to a problem?

Unfortunately, there is no self-hosted, open-source payment processor for cryptocurrencies.

### Describe the solution you'd like

Integration of the [BTCPay Server](https://btcpayserver.org/) into cal.com. Similar to the integration of Stripe.

### Describe alternatives you've considered

It would also be possible to add a field for a Bitcoin address. B

[2022-03-15 10:38] PeerRich commented on #2154
we're likely only supporting lightning for accepting bitcoin due to the low prices for events

[2022-03-15 10:46] montespertoli-paktribune commented on #2154
The BTC Pay Server is made for all types of Bitcoin transactions. It supports Lightning and On Chain. The important thing is that it can be self-hosted like cal.com.

coincharge has a public server that can be used for demo purposes. Just register and try.
https://btcpay.coincharge.io

https://coincharge.io/en/btcpay-server/
https://coincharge.io/en/btcpay-server-hosting/

[2022-03-15 11:00] PeerRich commented on #2154
Oh i was unaware that it supports LN! Thats epic. lets do it. Do you have experience implementing it?

[2022-03-15 11:32] PeerRich opened #2155 "Raycast App"
Similar to the #1544

- See and copy all links
- See schedule
- Create a new event

Documentation: https://developers.raycast.com/

Support: https://raycast.com/community

[2022-03-15 13:18] montespertoli-paktribune commented on #2154
No, sadly i am not a web developer.

[2022-03-15 14:29] miguelnietoa commented on #1716
Is this issue still available? Can I take it?

[2022-03-15 15:52] zomars commented on #2097
Related the [this issue](https://github.com/ataylorme/eslint-annotate-action/issues/28#issue-944045337)

[2022-03-15 20:27] sean-brydon commented on #2056
Closing - Solution has been implemented

[2022-03-15 20:27] #2056 closed

[2022-03-16 00:22] astrojuanlu commented on #2056
Just saw it deployed, awesome 🙌🏽 you rock!

[2022-03-16 11:38] raro42 opened #2164 "Booking any event type throws server error 500 after selecting the hour"
### Issue Summary

Open https://cal.com/ralf/ ... select day ... select hour ... results in server error 500

Has been also reported in #test-test-test on slack .

### Technical details

- using latest chrome
- also happens in latest FF
- also in Incognito Windows

[2022-03-16 15:11] #2164 closed

[2022-03-16 17:49] zomars opened #2170 "Unpaid/Unconfirmed bookings should not block availability"
### Issue Summary

Found out that unconfirmed/unpaid bookings are blocking availability when they should only do if they're confirmed/paid.

### Steps to Reproduce

1. Connect a Stripe account
2. Create a priced event type
3. Remove Stripe account (so we can trigger an error)
4. Try to book paid event type
5. You'll get this error `ERROR [api] book:user Creating payment failed`
6. Try to book agai

[2022-03-16 19:55] #2050 closed

[2022-03-16 20:40] PeerRich commented on #2013
is this still happening sometimes? havent seen it being reported lately

[2022-03-16 20:45] PeerRich commented on #1878
closing until relevant again

[2022-03-16 20:45] #1878 closed

[2022-03-16 21:04] #2103 closed

[2022-03-17 02:29] denik1981 opened #2175 "E2E tests are not working in development"
A summary of the latest run I made for **e2e** tests under localhost.
There are a bunch of tests that are failing. I suspect this is true also for CI based on the list of failures within the open PR pool.

![image](https://user-images.githubusercontent.com/66160623/158723996-9f23d6ba-d2f3-4582-abf2-0c611ed841ec.png)

### Steps to Reproduce

_as it is instructed by the README_
1. `yarn dx` in one t

[2022-03-17 02:39] mxwlf opened #2176 "Duplicate event type does not really duplicate the event type"
Found a bug? Please fill out the sections below. 👍

### Issue Summary
**Duplicate event type does not really duplicate the event type**

Given that I have an event type already with some extra parameters, such as fields to ask to the requestor, minutes in advance restrictions, etc.

The expectation would be that once I have these set up for one event type I can simply duplicate it and just change

[2022-03-17 09:55] PeerRich opened #2178 "NIT: Black on Black color when selecting an item from <Select>"
should keep the text white onFocus

https://user-images.githubusercontent.com/8019099/158784092-77db349f-8d16-4dab-91ed-a8780437aec3.mov

[2022-03-17 12:44] wokawoka commented on #1445
@philippdormann hey philipp, thank you very much for your commits!
still, I'm a little bit confused. I mange a couple of selfhosted jitsi installations and I would love to switch to using cal.com to book my appointments. The project looks great.
Are you guys by chance going to add the possibility to point to a selfhosted jitsi installation someday in the future?
Thank you again

[2022-03-17 15:32] PeerRich commented on #1458
reopening RFC

[2022-03-17 15:38] PeerRich opened #2180 "RFC: Recurring Events"
## Goals:

- offer customers to create an event-type with recurring events

## Target customers / use cases:
- office hours
- workshops
- recurring therapy
- coaching
- gym memberships
- yoga lessons
- ...

![image](https://user-images.githubusercontent.com/8019099/158838407-129f3014-6dba-4f7c-90d9-680f421e3867.png)

## MVP:
for now we will not use the native "recurring event" APIs of each calenda

[2022-03-17 16:23] PeerRich opened #2181 "<EmptyScreen/> component for new availability"
![image](https://user-images.githubusercontent.com/8019099/158846675-f08cc757-6af0-4b0d-aef4-ad83a7b51f64.png)

![image](https://user-images.githubusercontent.com/8019099/158846694-e7b4a1e1-98a9-4324-bbfe-b90f5d12eeea.png)

[2022-03-17 16:39] PeerRich opened #2182 "Advanced availability follow up design improvements"
![image](https://user-images.githubusercontent.com/8019099/158849852-bc3caa54-b943-4954-b94a-875fefa06624.png)

[2022-03-17 17:02] zomars opened #2185 "Follow up for Schedules visual fixes"
![image](https://user-images.githubusercontent.com/8019099/158844027-e23a075f-6547-43f1-80a6-2db6fd1804ac.png)

NIT: lack of padding and I believe we have an` <EmptyScreen/>` component already no?

lets reuse this:

![image](https://user-images.githubusercontent.com/8019099/158844341-05a13b52-a5b8-4177-a1e8-fd52fb57716f.png)

missing padding left on mobile

![image](https://user-images.githubuserc

[2022-03-17 18:58] zomars commented on #2175
Thank you for the reminder @denik1981 Will check ASAP.

[2022-03-17 21:15] alannnc opened #2192 "Payment amount input leading 0"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

While entering payment amount of stripe it displays a 0 before the selected amount.

![image](https://user-images.githubusercontent.com/4461358/158896098-5e736ae9-d0c7-49e8-af51-005d99988fad.png)

### Steps to Reproduce

1. Need stripe connected account
2. Go to event-types/[id], advanced settings
3. Try to edit payment amount

[2022-03-18 01:26] denik1981 commented on #2176
Thanks for sharing this!

It might be worth to instead of having the duplicate event type feature,  have a `set as a template` feature for the events that you create recurrently and shared similar settings.

[2022-03-18 06:20] denik1981 opened #2196 "Login auth callback is not fully sanitized."
### Issue Summary

A double forward slash is injected into the callback and next-auth is sounding about it.

![image](https://user-images.githubusercontent.com/66160623/158947691-6126d5fa-cdfc-4f63-b912-ecd2e45fef27.png)

### Steps to Reproduce

1. Clean up your session.
2. Login with example credentials, or your own
3. Check the console.

Seems next-auth is fixing this for us despite complaining

[2022-03-18 09:12] milospuac commented on #2196
Hey Demian. Thanks for the pull request, our team will review it.

[2022-03-18 09:58] #2181 closed

[2022-03-18 09:59] #2182 closed

[2022-03-18 10:00] PeerRich commented on #1651
done #2150

[2022-03-18 10:01] PeerRich opened #2198 "availability: "Active On""
![image](https://user-images.githubusercontent.com/8019099/151672321-f1caab43-7f6a-4f94-a65e-d5b5ce388717.png)

follow up to #1651

[2022-03-18 10:02] #1651 closed

[2022-03-18 10:04] PeerRich opened #2199 "[CAL-505] availability: date overwrite"
the date overwrite feature needs more visuals, @Jaibles

<img width="954" alt="image" src="https://user-images.githubusercontent.com/8019099/158982744-2b076a8d-5a06-45d3-a1dd-702902c8aab7.png">

<sub>[CAL-505](https://linear.app/calcom/issue/CAL-505/availability-date-overwrite)</sub>

[2022-03-18 10:09] PeerRich commented on #1779
is this still open? if yes, @agustif can take a look at a free minute

[2022-03-18 10:10] PeerRich commented on #1478
@Jaibles this would require the day-specific schedule feature that we were talking about

[2022-03-18 10:14] PeerRich commented on #2185
merged

[2022-03-18 10:14] #2185 closed

[2022-03-18 11:30] PeerRich commented on #2198
@ankitsridhar16 will wrok on this

[2022-03-18 15:05] PeerRich opened #2205 "Auth: make username required an pass it into onboarding"
## Goal

- make username required in /signup for google sign in
- check for premium and check if username is in use
- disable google sign up button if username empty
- when clicked, mark username as required
- pass username into localstorage or cookie
- when signing in with google, read from cookie or localstorage

## Status Quo

if you sign in with google, it generates an ugly username: tom-holla

[2022-03-18 17:43] VladSez commented on #2178
I have created a PR that hopefully solve this issue :)

[2022-03-18 17:56] #2196 closed

[2022-03-18 18:31] #2178 closed

[2022-03-18 20:17] PeerRich opened #2212 "fix dark mode team page"
- [ ] "OR" has wrong background
- [ ] AvatarGroup needs dark border

<img width="836" alt="image" src="https://user-images.githubusercontent.com/8019099/159077412-9f723278-4a5d-4c48-b45a-73021f5915ca.png">

[2022-03-19 17:35] aspiers commented on #88
Unfortunately this is not a good solution.  I already tried that as a workaround in the past, and it was a massive pain.  For example, let's say I want the following event types:

- Personal video call for non-work topics
- In-person meeting for personal topics
- Work video call with colleagues within my company
- Work video call with external particpants outside my company

All of these need thei

[2022-03-19 21:51] ultrazeus commented on #1992
I am experiencing the same issue. E.g. an Apple calendar entry from 10AM-11AM: this shows up on Cal.com as a bookable timeslot, whereas 11AM-12AM is blocked on Cal.com.
Any update on this?

[2022-03-19 23:39] PeerRich commented on #88
can you recommend your favorite way you'd want this to be implemented?

[2022-03-20 06:47] JoeyFenny opened #2217 "error Command "prisma" not found. ---- Deploy on Heroku"
### Issue Summary and steps to recreate.

Click the deploy to Heroku button in the README of this repo. Not sure if this makes a difference but give it a hyphenated name like my-self-hosted-cal. Generate and paste an encryption key using `openssl rand -base64 24` and provide a JWT secret. Click deploy. Wait for heroku to finish and say the app is deployed successfully. Visit the heroku app link in

[2022-03-20 13:47] aspiers commented on #88
[**@PeerRich**](https://github.com/PeerRich) commented on [March 19, 2022 11:39 PM](https://github.com/calcom/cal.com/issues/88#issuecomment-1073130620 "2022-03-19T23:39:59Z - Replied by Github Reply Comments"):

Thanks a lot for the quick response and for being open-minded on this!  I think the implementation could be very simple:

1. When creating a new event type, multiple durations are allowed

[2022-03-20 13:47] aspiers commented on #88
I also note that there seems to be some terminology confusion here which we should try to clear up:

[**@harad**](https://github.com/harad) commented on [April 22, 2021 9:43 PM](https://github.com/calcom/cal.com/issues/88#issuecomment-825172079 "2021-04-22T20:43:30Z - Replied by Github Reply Comments"):

That seems the exact opposite of what I'd expect, and therefore quite confusing.  In my mind,

[2022-03-20 14:19] #88 closed

[2022-03-20 14:21] PeerRich commented on #88
we talked about it internally and the implementation is not straightforward enough to ship a quick fix and for a proper feature release it is not demanded by enough people yet.

if you think this is a super high priority and we should work on this, instead of other critical things, upvote the initial post 👍

[2022-03-20 19:08] JoeyFenny commented on #2217
It works if I do this, but I don't think it's the ideal solution.

`packages/prisma/package.json
`
<img width="1393" alt="image" src="https://user-images.githubusercontent.com/16143306/159178516-cfedfcd0-cc74-4064-8e61-14e11db76b4e.png">

[2022-03-20 22:23] aspiers commented on #88
I definitely don't think it's super high priority, or perhaps even high priority :-)  And I agree that it's not a super quick fix.

However I do think it would be a valuable addition to the feature set, and quite possibly a feature that people won't necessarily realise they want until it appears.  So I hope you keep it on the backlog of things to consider for the future at least.  Thanks again!

[2022-03-21 02:27] shengslogar commented on #2217
Same here. Something to do with Heroku pruning `devDependencies` and then the web process requiring some of those deps (specifically `prisma`) to begin running.

https://github.com/calcom/cal.com/blob/94b210329becc3ee0bd72b86ec874d0019cca0ba/packages/prisma/package.json#L21-L30

Add:

[code]

and you should be good to go.

[2022-03-21 06:28] hariombalhara opened #2221 "RFC: Embedded Bookings"
### WIP:
https://github.com/calcom/cal.com/pull/2227

## Right now two options are there ##
* Standard Iframe Embed
* Responsive Full-Screen Iframe Embed

**Known Issues**
- ~~Doesn't inherit the site theme~~
- ~~height problems with iframes (iframes commonly don't know the height of their content)~~
- performance (the iframe loads the entire Next.js app)
- Issues in accessing Cookies/WebStorage i

[2022-03-21 10:08] harad commented on #88
@aspiers whilst I appreciate your argument, I still think that the cal.com's user is the inviter, and the person receiving the link would be the invitee. Since the link originates with the inviter, not the invitee. Ultimately, it's the person with the greater control over the link and the available times for the meeting should be the inviter.

The inviter, the cal.com's user, is streamlining the p

[2022-03-21 10:19] Jaibles opened #2223 "Availability time dropdown starts at random hour"
### Issue Summary

When clicking into the hour dropdown in the availability schedule, the start time seems to be at a random hour so when I create a new schedule and want to move all days from 5pm to 6pm, it's very tedious.

### Steps to Reproduce

1. Go to Availability.
2. Edit an existing or create a new one.
3. Try to edit the time on any input.
4. You will see that where the dropdown starts is

[2022-03-21 11:37] aspiers commented on #88
Thanks @harad, I do see your points.  Ultimately both perspectives have validity, and it's not a matter of one being right and the other being wrong.  In case you have any doubts about that, please consider this scenario:

1. I have a conversation with a friend or colleague, either online or offline, in which I mention that if they ever need to talk to me about anything, they are welcome to book a

[2022-03-21 12:23] Jaibles commented on #1934
@PeerRich https://www.figma.com/file/6sITaSOZ2JCXyKEYhC10P5/Cal-Web-App?node-id=4802%3A34616
Can you review this when you get a chance?

[2022-03-21 12:28] hariombalhara opened #2224 "Meeting Booked by User1 with User2 is sending wrong email. Also, User2 didn't get notification for meeting booking."
I had scheduled a meeting with [/bailey](https://cal.com/bailey). It is showing as unconfirmed which I am assuming that it is because Bailey didn't confirm it.

But I got an email at the time of booking (which I now read thoroughly) that Hariom needs to confirm the booking when in fact I had booked the meeting. I had assumed Baily would need to confirm it 😃

The email subject is also wrong.

Also,

[2022-03-21 12:32] hariombalhara opened #2225 "[CAL-73] If a meeting is not booked, send a reminder email that if you are expecting the meeting to happen, it is not happening"
Found a bug? Please fill out the sections below. 👍

### Issue Summary
I booked a meeting with a user 2 days in advance and that user was supposed to confirm the booking. The day came and I thought the meeting was booked(my fault I should have checked) but cal.com should also notify me about this so that it doesn't create confusion.

An actual scenario where it happened https://github.com/calcom/ca

[2022-03-21 12:33] Jaibles opened #2226 ""Create events on" dropdown in Integrations UI is broken"
### Issue Summary

- The "Create events on" dropdown goes over 2 lines with longer emails.
- There is also an issue where there appears to be an input in an input

### Steps to Reproduce

1. Go to Integrations
2. Look at the "Create events on" dropdown
3. With a long email it goes over 2 lines
4. Also look at it with a shorter email - there appears to be a dropdown within a dropdown appearing.

Br

[2022-03-21 14:48] PeerRich commented on #2221
great RFC! Lets get going

[2022-03-21 15:59] Jaibles opened #2228 "RFC: Rescheduling bookings"
### Overview

As a cal.com user I want to be able to reschedule bookings. There are two ways I may want to do this.
- I may want to choose a new time myself and effectively edit the booking.
- I may want to request that the scheduler picks a new time on my calendar (immediately cancelling the original booking)

### Describe the solution you'd like

The proposed solution is detailed in [this Figma

[2022-03-21 16:50] Jaibles commented on #1934
@PeerRich will I close this and add this to 1.5 instead https://github.com/calcom/cal.com/issues/2228 ?

[2022-03-21 17:34] shengslogar opened #2229 ""Undefined" appearing as event location in confirmation email when rescheduling"
### Issue Summary

Event is improperly polluted by update API, causing the location type > label mapping to fail.

Email screenshot:

<img width="303" alt="Screen Shot 2022-03-21 at 11 31 32" src="https://user-images.githubusercontent.com/4350009/159330719-d69be820-1c52-450d-bfec-f484663cb19b.png">

### Steps to Reproduce

1. Schedule event.
2. Reschedule event.
3. Error occurs in rescheduled even

[2022-03-21 20:24] PeerRich opened #2231 "refactor: replace classnames with twMerge"
- [ ] remove classnames package
- [ ] add twMerge https://www.npmjs.com/package/tailwind-merge
- [ ] use twMerge in lib/classNames https://github.com/calcom/cal.com/blob/main/packages/lib/classNames.ts

always import classNames from lib/classNames

<img width="502" alt="image" src="https://user-images.githubusercontent.com/8019099/159357577-625f001c-137b-49d2-ad9d-05b2375c1766.png">

[2022-03-21 20:45] #1716 closed

[2022-03-21 22:55] #2231 closed

[2022-03-21 23:51] PeerRich commented on #1912
superseded by #2221

[2022-03-21 23:51] #1912 closed

[2022-03-22 05:33] hariombalhara commented on #2221
If the booking page is configured with a dark theme. Can the embedded booking page be configured with a light theme or system preference?
Asking because it’s possible that the user's website doesn’t support dark mode and he would want dark mode for booking but his website doesn’t support it yet and keeping the booking page dark in embed would make it look out of place.

[2022-03-22 06:35] denik1981 opened #2235 "Chunk for prisma client (biggest server-side chunk) is generated twice at build time"
### Issue Summary

The biggest webpack chunk (behind prisma/client module) for the server is generated twice, increasing Cal's build time and potentially hitting the runtime performance.

![image](https://user-images.githubusercontent.com/66160623/159421690-80ebfc8f-d485-44ea-a3b4-75d890857632.png)

### Steps to Reproduce

- `ANALIZE=true yarn build`
- Check the bundle analysis in your browser (se

[2022-03-22 07:30] zeorin opened #2236 "Events with availability: free on my calendar still block booking availability"
### Issue Summary

Cannot book event if an "availability: free" event conflicts with the desired time slot.

### Steps to Reproduce

1. Create an all-day event on a linked calendar, but set your availability for this event as free
2. Go to availability -> troubleshoot
3. See the event listed there
4. Try to book an event on that day
5. Can't ("All booked up")
6. Remove the all-day event
7. availab

[2022-03-22 10:36] PeerRich commented on #2221
I think that should be a very strong requirement to give people the power to decide what team to apply

[2022-03-22 11:23] AshnaSabu123 commented on #1221
Facing the same issue.

[2022-03-22 12:43] adam-nygate opened #2240 "[CAL-693] Calendar availability is not correct when an "all-day" event is used"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

I presumed that if there was an "all-day" calendar event (used for things like holidays, vacation etc.) that this would block out availability when using Cal.com to schedule an appointment. It doesn't.

### Steps to Reproduce

1. Create an "all-day" calendar event on a Google Calendar linked to Cal.com
2. Browse for appointment

[2022-03-22 14:16] hariombalhara commented on #2221
I have also added namespacing support allowing a website to embed multiple users' calendar on the same page. There would be separate roads for these namespaces. Any one subscriber to road-1(namespace-1) would only be able to see namespace-1 events.

For anyone not interested in multiple namespaces api looks like namespaces don't exist.

An example implementation is now on testpage in the branch.

[2022-03-22 14:21] agustif commented on #1221
This seems related to NextAuth somehow will investigate it further

[2022-03-22 15:22] #2235 closed

[2022-03-22 16:24] agustif opened #2242 "# RFC: Auth Sessions JWT or Database. Multiple providers using Accounts in db"
Now that I'm more familiarised with both how we use Next-Auth, and how we've implemented Google and SAML in app. Almost finished magic-login signup, and started working on API-auth.

 I think it's a good moment to bring this up. NextAuth supports two strategies for managing sessions. "jwt" or "database". We use the former now.

Do we want to use Sessions in the database instead of only relying on

[2022-03-22 21:32] dotesfera commented on #9
Hi @baileypumfleet  sorry to insist, but this is not working on my side, do you have any idea why that error happens?

[2022-03-23 01:54] denik1981 commented on #2228
I like the idea @Jaibles. I would like to suggest later extending this feature (version 2?) and giving the organizer also the option to mark available time slots where he suggests rescheduling this meeting and preventing going all over again with the rescheduling flow. So the UI might should to the scheduler the dates that are suggested by the organizer as mandatory or as optional (not sure about

[2022-03-23 04:18] hariombalhara opened #2245 "Bad UX when user wants to set the default Event Type Title"
Found a bug? Please fill out the sections below. 👍

### Issue Summary
See https://www.loom.com/share/003c71cbe105426192b2b35adbe27904
A summary of the issue. This needs to be a clear detailed-rich summary.

### Steps to Reproduce
1. I went to fix my even-type title.
2. I wanted to keep the default one(by cal). So I deleted mine and it showed me the default value
3. But I couldn't save it. No error

[2022-03-23 08:27] Jaibles commented on #2228
@denik1981 yea nice idea, this also overlaps with some other features we're designing in our very near-term roadmap which could be utilised to offer exactly what you mention. Will keep it in mind to include them for rescheduling when I look at them this week. Thanks!

[2022-03-23 08:49] milospuac commented on #2236
Thanks for reporting this. Our team will have a look and address the issue

[2022-03-23 08:49] milospuac commented on #2229
Thanks for reporting this. Our team will have a look

[2022-03-23 08:55] soplan commented on #2240
@adam-nygate You can try out soplan.com which handles all-day events correctly

[2022-03-23 08:58] soplan commented on #1919
At soplan.com we have full sync working with Google and Microsoft. So deleting or updating events in Outlook and Google will be updated in bookings accordingly. It took us some time to get it working as it's quite complex to solve without scanning and comparing bookings and calendars.

[2022-03-23 09:03] milospuac commented on #2240
Hi Adam,

I couldn't reproduce the issue. Can you check if the all-day calendar event is set to **Free** or **Busy**? You can toggle between those two here
<img width="405" alt="Screen Shot 2022-03-23 at 09 54 37" src="https://user-images.githubusercontent.com/97884287/159661825-4ed35ca3-d4e1-41c7-9183-7d8e15a08616.png">

If it's set to **Busy**, this is how it shows in your availability for the d

[2022-03-23 09:06] adam-nygate commented on #2240
@milospuac that was the issue! Thank you :)

[2022-03-23 09:07] milospuac commented on #2240
No worries, glad I could help :)

[2022-03-23 09:29] Jaibles commented on #2199
@PeerRich let me know what you think when you've had a chance to review
https://www.figma.com/file/6sITaSOZ2JCXyKEYhC10P5/Cal-Web-App?node-id=4884%3A35105

[2022-03-23 09:44] PeerRich opened #2246 "Event-Types: Hide notes in calendar (Boolean)"
- if TRUE hide "additional notes" from the calendar entry (default false)

<img width="899" alt="image" src="https://user-images.githubusercontent.com/8019099/159670077-8c385b2e-37fb-446f-8be3-e4a8f22f52f2.png">

[2022-03-23 10:21] PeerRich commented on #2199
left comments in twist

[2022-03-23 12:16] PeerRich opened #2247 "booking page: reduce routes (page changes) and use shallow routes instead"
https://user-images.githubusercontent.com/8019099/159696925-9c8f55a6-81c5-44d6-9cfa-456a079b1fed.mov

[2022-03-23 12:33] hariombalhara commented on #2221
Here is the current state for those interested :)

## Embed Demo

![Embed Demo](https://user-images.githubusercontent.com/1780212/159699805-fe7831f4-f98b-40e7-9eda-e95338cc6bfb.gif)

## Preload/Prerender Demo

![prerender-demo](https://user-images.githubusercontent.com/1780212/159699888-245d2869-4443-4883-ab86-81a2b1ac440f.gif)

[2022-03-23 12:46] PeerRich commented on #2221
super cool!!

[2022-03-23 12:50] Tornike-Papuashvili opened #2248 "Availability: Browser window reloads when creating new schedule or deleting existing one"
Testcase :  `create new schedule`
1.  Navigate to avaliability
2.  Create new schedule
3.  Select a day
4.  Click save

Testcase : `delete existing schedule`
1.  Navigate to avaliability
2.  delete an existing schedule

Issue: In both cases, app forces browser window reload in order to render actualized list of schedules
This behavior takes place on domain `cal.dev` and `cal.com`

Check the video

[2022-03-23 17:11] agustif commented on #1594
Started working already on the API, sharing here a first draft of CRUD endpoints needed to start working on admin functionality.

I think those are the biggest models we have and basically with them and extra relations that can be included on a prisma call, we should be able to cover a lot of ground. Let's go for it.

@emrysal  would love a little chat about availabilities, or maybe your general i

[2022-03-23 17:33] guillaume-ro-fr opened #2250 "Changing timezone in event with DST"
### Issue Summary

Changing timezone before the daylight saving time (DST) with a date after the DST change available slots.
Maybe the DST is not evolved.

### Steps to Reproduce

1. Open en event booking page
2. Select a date
3. Change the timezone (Paris --> Sarajevo)
4. Select the same date: The datetime is correct
5. Change again the timezone (Sarajevo --> Paris)
6. Select the same date : Date

[2022-03-23 19:04] chokeul8r opened #2253 "Jitsi and RocketChat integration would be fantastic"
### Is your proposal related to a problem?

(Write your answer here.)

### Describe the solution you'd like

(Describe your proposed solution here.)

### Describe alternatives you've considered

(Write your answer here.)

### Additional context

(Write your answer here.)

[2022-03-23 19:08] chokeul8r commented on #2253
I love FOSS. It would be great to have integrations with apps like Jitsi (instead of Zoom), Rocket Chat, and Mautic.

[2022-03-23 19:28] raro42 commented on #1594
I am using Django for REST API backend. It works incredibly well. Can only recommend.

Pls. think about providing a URL with documentation right from the API code with requiring authentication.
PUT and DELETE are methods that are often blocked per default in big corps firewall rules. Would limit to only use POST and GET.
Translates into: POST /bookings/update/{id} or ... GET /bookings/delete/{id}

[2022-03-23 19:43] alannnc commented on #1594
For the last year I've used NestJs for api, it's pretty solid. It has Express under the hood, and what I really liked it leaves you with a very good architecture.
https://docs.nestjs.com/
- Controllers
- Providers
- Modules
- Dependency Injection
- Prisma

[2022-03-23 19:51] denik1981 commented on #1594
@raro42 this is closed-source. At first, it leads to confusion for me as well.
I cannot say enough about this but in terms of cost you would want to keep your stack close to what your crew can manage.
Django is Python. Most Cal devs are TS devs.

[2022-03-23 20:07] zomars commented on #2242
I'm all about reaching this. My suggestion would be to keep JWT support for now and start to plan an incremental migration path. Starting with API Keys for the open API. Which are so similar to Sessions. Once API Keys are fully implemented we can start slowly migrate from JWT to the Sessions model.

[2022-03-23 20:24] zomars commented on #1594
Expanding on what @denik1981 said, we're going to use NextJS api routes in a new project for that same reason.

[2022-03-23 23:21] zomars opened #2255 "RFC: Expand Booking E2E tests"
Since there's a ton of possible event type configurations we should expand our testing with some of the most common use cases, these are the ones that come to my mind:

- Can book an event with Zoom Video as location
- Can book an event with Google Meet as location
- Can book an event with Daily.co Video as location
- Can book an event with Jitsi Meet as location
- Can book an event with Huddle01

[2022-03-23 23:23] #2248 closed

[2022-03-23 23:23] zomars commented on #2255
@hariombalhara @denik1981 I would love to hear your input on this 🙏🏽

[2022-03-23 23:45] PeerRich commented on #2255
great RFC

[2022-03-24 00:44] hariombalhara commented on #2255
I have added zoom tests in PR #2202

It right now just tests that user is able to install zoom app. We can very easily expand its to Event creation.

The philosophy I am using here is that third party code shouldn't be tested in core. We should just mock the API as per their documentation and use those mocks.(Core Tests that run on every PR)
Benefits:
- You can create any type of third party API s

[2022-03-24 00:46] zomars commented on #2255
Yeah, we already use Checkly to run playwright on staging/production. We could setup those tests in there and use the example account with all integrations enabled.

[2022-03-24 01:41] denik1981 commented on #2255
Thanks for taking me into consideration.
Sure, I will take a look and I will be happy to contribute to this.

Indeed and this statement can be expanded to other areas of Cal. Especially, when it counts to moving things around like the major PRs with turbo and now with the app-store, or even with a small chore code modification is when you want to have a solid base of tests holding your back and he

[2022-03-24 07:55] denik1981 opened #2265 "Installation is taking too long and a fair comparisson between package managers"
I have measured the installation time of Cal using `yarn`, `npm@8`, and `pnpm`.
Be aware that times are related to my machine. What matters here are percentages that I expect will stay similar to yours.

There are three measurements for each package manager corresponding to the installation order. The first time shouldn't be representative of the average because the package manager must request ev

[2022-03-24 12:54] milospuac commented on #2265
Hey Demian. Thanks for reaching out and for reporting this. Our team will have a look

[2022-03-24 12:58] milospuac commented on #2253
Hey Mark. Jitsi is available. RocketChat however is not and is something that could be implemented down the line

Thanks for reaching out.

[2022-03-24 13:00] milospuac commented on #2250
Hi there. Thanks for bringing this to our attention. Our team will have a look

[2022-03-24 15:50] agustif commented on #2082
Hey, we recently merged an update to our timeFormat lib.

Can you please tell me if you're still experiencing this issue or has been solved for you @k3davis thank you!

[2022-03-24 17:34] FlxMgdnz opened #2268 "Calender invite 1h off"
### Issue Summary
A contact from Germany today booked a meeting with me (also German) for 10:30 but we both received a cal invite for 11:30.

This may be related to the fact that US already switched to summer time but Germany has not.

[2022-03-24 17:45] #2205 closed

[2022-03-24 18:07] hariprasadiit opened #2269 "Login redirects to cal.com website"
### Issue Summary

After successful login user is redirected to https://cal.com

### Steps to Reproduce

1. Login to app.cal.com

Any other relevant information. For example, why do you consider this a bug and what did you expect to happen instead?
User should be redirected to the portal

[2022-03-24 22:00] k3davis commented on #2082
Doesn't appear to be any change so far.

![image](https://user-images.githubusercontent.com/1307914/160017452-b7ce6a92-c0c2-4335-87c6-bfc71753b1a1.png)

[2022-03-24 23:14] lharries opened #2274 "The wrong date is highlighted when clicked on, both on Cal.com and the iFrame (see attached video) - breaks the UI for the user"
### Issue Summary

When booking a Cal.com event, after clicking on a date the wrong date is being highlighted.

### Steps to Reproduce

This is the URL that I used: https://cal.com/team/fella/dana-kickoff-staging?email=luke+test-2022-03-24+22-55-%40joinfella.com&name=Jenny+Rosen&metadata%5Btype%5D=COACHING&metadata%5Bemail%5D=luke+test-2022-03-24+22-55-%40joinfella.com&date=2022-03-31%2B0000

Here

[2022-03-25 04:42] alishaz-polymath opened #2276 "Add secret signature to the webhook payload"
### Is your proposal related to a problem?
Currently, the webhook doesn't have a signature that can be used to verify the source. Adding a secret signature would help in making the webhooks a lot more secure.

### Describe the solution you'd like
Something similar to what Github does for its webhooks would be ideal.

[2022-03-25 08:55] hariombalhara commented on #2247
@PeerRich I just found out that the redirect is actually caused only on `cal.com` and not on` app.cal.com`
Try booking through `app.cal.com` to see the difference.

See the difference in number of Document requests that are sent
<img width="1789" alt="Screenshot 2022-03-25 at 2 22 21 PM" src="https://user-images.githubusercontent.com/1780212/160088109-dd7e2f1d-8e24-4065-b470-167d5b26292c.png">

<i

[2022-03-25 12:59] hariombalhara commented on #2221
This is a UI Styling demo for embed https://www.loom.com/share/222e5be836424917a3f9da0e74e75d70

[2022-03-25 13:22] hariombalhara commented on #2221
Bulk API Support also added.

<img width="917" alt="Screenshot 2022-03-25 at 6 51 51 PM" src="https://user-images.githubusercontent.com/1780212/160128544-53fbb988-d6e3-4857-8470-fc984e4c09d7.png">

[2022-03-25 21:05] dimadk24 opened #2282 "Broken link on the website"
### Issue Summary

A broken link on the landing page: https://app.cal.com/integrations throws 404 error

### Steps to Reproduce

1. Open https://cal.com/
2. Click on Apps in the header menu
3. Click on any integration except web3

And on the bottom of https://cal.com/pricing there's also a 404 iframe of something like this: https://imgur.com/a/7jOuvwV

[2022-03-26 02:30] artistro08 commented on #1056
Not sure if this isn't marked as fixed, but in the self-hosted version, I can successfully add two different types of locations.

[2022-03-26 11:14] KrisKodira commented on #1992
Same here. Any updates? Any possibilities for fixing this?

[2022-03-26 21:25] sean-brydon commented on #2282
Closing Fixed in https://github.com/calcom/website/pull/99

[2022-03-26 21:25] #2282 closed

[2022-03-26 21:55] PeerRich opened #2291 "screenshots for app details"
- max 5
- use the same slider as "popular apps" slider
- use nextjs Image
- screenshots in app folder
- maybe 1.jpg, 2.jpg, ..?

[2022-03-27 09:13] denik1981 opened #2295 "Cannot logout when using the logout path route (/auth/logout)"
### Issue Summary

A little weird behavior that when I navigate to the logout path, I got the message feedback that I have successfully logged out, but I'm actually still logged in. Navigating to the root "/", takes me to my home events page as usual.

### Steps to Reproduce

1. Log in.
2. Navigate to [http://localhost:3000/auth/logout](http://localhost:3000/auth/logout), or your live hosted copy

[2022-03-27 14:12] buschco commented on #1992
I tried to debug this today. Correct me if I am wrong, but booking these Events should not cause any collision in the calendars right? So it is a display issue and I also suppose it does not apply to Apple Calendar only.

I created this [PR](https://github.com/calcom/cal.com/pull/2296) maybe someone of the maintainers could have a look 🙏

[2022-03-27 16:04] StitiFatah commented on #1594
If they wanted to go with the Django Rest Framewrok + React Stack I guess they would have used it directly instead of using Prisma, I've never tried Prisma but I guess it's being used as an ORM for postgres and Django's ORM is maybe one of its biggest strength + it also has a customizable GUI  for database operations.

[2022-03-27 16:08] StitiFatah commented on #1594
Are the api endpoints going to be closed source too or only the admin UI letting people build their own dashboards ?

[2022-03-27 16:15] denik1981 commented on #2255
Quick update: I'm working on this and I think I find a good solution to do both. Test again real and mocked data in demand although I need to explore this further and, of course, test it. Will see.

@zomars Could you please review #2293?
For my app-store tests I will be using a users fixtures I have created in this PR, thus I'm rebasing from it.

[2022-03-27 19:13] #2223 closed

[2022-03-27 21:45] sean-brydon commented on #2226
I am unable to replicate this - Guessing it could have been fixed?

![CleanShot 2022-03-27 at 22 39 37](https://user-images.githubusercontent.com/55134778/160302153-1b0ebcff-30cc-4e01-a528-ad1b98b39a2e.png)
![CleanShot 2022-03-27 at 22 39 52](https://user-images.githubusercontent.com/55134778/160302163-0cd343e8-8196-488f-9ccc-9644d337b683.png)

I believe this came from @zomars commit https://githu

[2022-03-28 03:05] pydonny commented on #1594
Great to see this get off the ground.  I would really like to see availability endpoints in there also.

[2022-03-28 05:12] hariombalhara commented on #2269
The issue seems to be fixed.

[2022-03-28 08:51] #1923 closed

[2022-03-28 11:18] PeerRich commented on #1594
@agustif can post the new update here too

[2022-03-28 12:35] AshnaSabu123 opened #2299 "error: Environment variable not found"
Hi,

While executing the yarn start command , getting the below error. Please have a look and kindly update as with the solution.

@calcom/prisma:db-deploy: Environment variables loaded from .env
@calcom/prisma:db-deploy: Prisma schema loaded from schema.prisma
@calcom/prisma:db-deploy: Error: Get config: Schema Parsing P1012
@calcom/prisma:db-deploy:
@calcom/prisma:db-deploy: error: Environment v

[2022-03-28 12:38] AshnaSabu123 opened #2300 "Docker Implementation"
Hi Team,

Kindly update the docker implementation for cal.com.

[2022-03-28 13:01] #271 closed

[2022-03-28 13:02] PeerRich commented on #2064
designs:
https://user-images.githubusercontent.com/8019099/155010924-2694ad1d-4f88-4bf1-97a2-1a9369850d23.png

[2022-03-28 13:06] #1934 closed

[2022-03-28 13:15] milospuac commented on #2299
Thanks for reaching out. Our team will have a look

[2022-03-28 13:16] milospuac commented on #2295
Thanks for the contribution. One of our team members will review this

[2022-03-28 13:26] #2274 closed

[2022-03-28 16:21] PeerRich opened #2301 "RFC: extract and rewrite booking page in a faster framework (svelte)"
related to #2221

## Known Issues
- booking page loads the entire nextjs app
- performance can be improved
- making changes to the booking page means you'll have merge conflicts in the entire app

## What we want
- super lightweight page
- fast and great lighthouse score
- very customisable

## Proposal
- rewrite the booking page in something faster like svelte or even vanilla js
- focus on custom

[2022-03-28 16:22] PeerRich commented on #2301
alternatively, we make the booking page super duper fast with nextjs

[2022-03-28 17:51] denik1981 commented on #2301
This is very related to #2237 and the way we are using turbo which is in many cases as a symlink server and not as a monorepo package manager. We must check the way we import artifacts because we might be falling in double imports which increases our final bundle size and slow down performance. Webpack does not work pretty well in this way.

As an example, if we want to work with the availability

[2022-03-28 18:50] #1992 closed

[2022-03-28 18:59] zomars commented on #2301
Turbo serves here in more of terms of reusability. The general rule is that if the package is going to be used in multiple projects, it should be extracted to a reusable package. But agreed. We still have some code organizing to do. @denik1981

[2022-03-28 19:23] #2226 closed

[2022-03-28 19:59] denik1981 commented on #2301
Yes, agree. The tagline here is to avoid buying into a costly solution for a problem we might not have.

My humble suggestion is to treat packages as isolated packages within turbo. Make them have all the dependencies they need (not the hoisted ones) and group all the exports into a single index.ts aimed to export everything. Then benchmark once again the booking page to see if this has contribute

[2022-03-28 20:06] #2295 closed

[2022-03-28 21:35] krumware opened #2305 "Do the submodules need to be ssh?"
### Is your proposal related to a problem?

It's long been a challenging issue to use ssh paths in submodules (ssh vs https), and creates a challenge for cloning on many machines.

This is currently causing failed submodule update runs over on calcom/docker
such as
[code]

### Describe the solution you'd like

Update .gitmodules to use https

(Describe your proposed solution here.)

### Describe a

[2022-03-28 21:44] emrysal commented on #2265
Back when I've done a deep dive in getting Yarn 2 to work; Except for Prisma (node_modules/.prisma directory doesn't quite work as well when there is no node_modules). I've also investigated pnpm back then;

The main reason we do not have npm at the moment is because the peer dependency issues in the project cause npm not to build, but in yarn these are simply warnings (this is mainly a problem in

[2022-03-28 21:46] emrysal commented on #1468
Has been fixed, cleaning up old issues

[2022-03-28 21:46] #1468 closed

[2022-03-28 21:47] #1091 closed

[2022-03-28 21:51] emrysal commented on #341
@0xthierry So sorry I never came back to you on this! I must've read your response but forgotten about it as I was heavily brainfogged at the time (Covid mid-July 2021). Closing now as it's probably fixed now.

[2022-03-28 21:51] #341 closed

[2022-03-28 21:54] krumware commented on #2300
In progress! Please make issues on https://github.com/calcom/docker

[2022-03-28 22:11] denik1981 commented on #2265
Yes, I saw that peer dependency issue but I ultimately passed with both (with some tears in the process I won't deny that).

What I saw with yarn (v1) is that it lets you bypass a peer dependency if it is hoisted at the root level of the mono. A practical example will be with `zod` which is a dependency of `@calcom/web` but a peer for `@calcom/prisma` issued by `zod-prisma`. Npm will fail if you d

[2022-03-28 22:17] krumware commented on #2305
I think there may also be an issue here where branch is not specified in the submodules

these convenience additions in vercel.sh are buried, and most users will not have them:
[code]

[2022-03-28 23:12] agustif commented on #2265
Found this blog post from 6 days ago https://vercel.com/changelog/projects-using-pnpm-can-now-be-deployed-with-zero-configuration

Also vercel's sponsorship should keep pnpm maintained for the near future at least ;)

[2022-03-29 00:26] denik1981 commented on #2265
@agustif awesome finding. Yes, in fact, turborepo's core always read making a special recommendation for using pnpm although they support all of them.  And it is really not difficult to learn. It is almost similar to npm (they tried to keep the same verbs for the CLI) but they added a few more like filter and exec.

Check this very recent tweet from Jared Palmer the creator behind turbo.
[https://

[2022-03-29 07:21] titouanvct opened #2308 "Railway deployment problem - crowdin"
Hello,

I tried to deploy Cal.com on Railway via the 1-click deployment feature unfortunately, after a few seconds of waiting, I get an error message on Github telling me that :
_❌ Configuration file is invalid. Check the following parameters in your configuration file:
	- Required option 'api_token' is missing
	- Required option 'project_id' is missing_

Can you tell me where the problem is comin

[2022-03-29 07:51] Jaibles commented on #1474
@alishaz-polymath designs for this are now [here](https://www.figma.com/file/6sITaSOZ2JCXyKEYhC10P5/Cal-Web-App?node-id=5013%3A45828). There are one or two small final decisions to make about how to display the times and title with both options there but will be resolved in the next day or so and shouldn't be blocking for you to start. If you have any questions on this or want to sync up let me kn

[2022-03-29 09:26] guillaume-ro-fr commented on #2250
Resolved with #2296

[2022-03-29 09:26] #2250 closed

[2022-03-29 15:00] emrysal commented on #2301
I've got pretty strong views here that we shouldn't shift framework over performance concerns. There is a LOT that can be done before we do so that can improve our booking pages, but measuring is knowing. Like @denik1981 said, our performance could be due to a variety of things (Nor do we currently use any next12 features on our booking page).

But ultimately; with NextJS we have acquired the know

[2022-03-29 15:10] sagivo opened #2309 "dotenv fails on railway"
When using `railway up` with the latest code in main you get this error:

[code]

[2022-03-29 20:45] sean-brydon commented on #2269
Agreed - I can't seem to replicate this issue.

Closing the issue for now - Please reopen this issue if you are still having this issue. If this is the case please use https://birdeatsbug.com/ to demo the issue to us

[2022-03-29 20:45] #2269 closed

[2022-03-29 20:48] denik1981 opened #2312 "Apps allow you to reinstall them and there is no visual feedback they have been installed"
### Issue Summary

If you go through the flow of adding an app from the new App Store, after it gets installed, it is still showing the app without any visual feedback that it has been installed, and even let you reinstall it again if you try so.

For example, after installing the zoom app  I got this response when I trip again to the App Store
![image](https://user-images.githubusercontent.com/66

[2022-03-29 20:50] denik1981 commented on #2312
@PeerRich I'm running some tests against the App Store so I would probably want to take in this one.

What do you think should happen after the App gets added? Should we add an "Installed" label (replacing the Add button), or should it be removed from this page taking into account that it is also listed in the Installed section of the App Store?

[2022-03-29 21:01] MaiTemraz opened #2313 "Issues with availability and event links"
### Issue Summary

My name is Mai Temraz and I'm a program manager at Manara (a job hunting program). Over 100 of our current participants uses Cal.com to schedule their mock interviewes and job interviews. Recently they've been reporting a lot of issues including:

- Their availability being wiped out

- Getting double booked

- Their event link getting changed

- Not receiving a calendar invite

[2022-03-30 07:33] PeerRich commented on #2312
@Jaibles and @zomars, thoughts?

[2022-03-30 07:34] milospuac commented on #2313
Hi Mai. Thanks for reaching out.

- Availability being wiped out is a weird one, however, it's most likely an all-day calendar event that is marked as **Busy**. Those will take up the entire slot.
- Having opt-in bookings selected, you can get double-booked only if you confirm those requests for meetings. Technically you can get an unlimited amount of requests for the same slot unless you confirm

[2022-03-30 07:35] milospuac commented on #2309
Thanks for reaching out. Our team will have a look at this

[2022-03-30 07:36] milospuac commented on #2268
Hey Felix. Thanks for reaching out. Our team will address this issue

[2022-03-30 07:37] milospuac commented on #2308
Hi there. Thanks for reaching out. Our team will have look

[2022-03-30 07:42] PeerRich commented on #2064
i think a disabled state with
"4/4 seats taken"

is the best so people know there used to be a time

[2022-03-30 11:00] hariombalhara opened #2316 "Broken UI and wrong username is identified if query params are present and user doesn't exist."
<img width="1734" alt="Screenshot 2022-03-30 at 4 28 18 PM" src="https://user-images.githubusercontent.com/1780212/160816547-c2577eee-dc74-4c6e-8dfc-f16da19f951c.png">

This is mostly possible in case of embed.

It should have been just "pro"

[2022-03-30 15:37] Lucas-Steinmann opened #2317 "CalDav calendar busy not working when there is non-parseable? start- or end-date"
### Issue Summary

We are using CalDav as CalendarService.
My colleague reported that sometimes the busy service is not working and people book events clashing with other events.
I used "availability/troubleshoot" to check that date.
It says: `calendar_no_busy_slots`.
Availability works for other dates.

### Steps to Reproduce

1. Go to: https://private-cal-url/availability/troubleshoot
2. Select

[2022-03-30 15:47] zomars commented on #2312
It depends, for example in the case for calendars you may add multiple calendars so you can "install" them multiple times. In the case for video apps, it would make sense being able to install just once. Also there are these "global" installs that are available without user interaction like Daily.co and Huddle01.

[2022-03-30 15:53] miguelnietoa opened #2318 "cal.com/web3 shows a not found page"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

![image](https://user-images.githubusercontent.com/39246879/160876645-44df8810-ed44-403b-aea4-a40c5011803f.png)

### Steps to Reproduce

1. Went to cal.com/web3

Any other relevant information. For example, why do you consider this a bug and what did you expect to happen instead?
If you see the requests, it seems like it makes

[2022-03-30 16:21] zomars commented on #2312
Agreed, @Jaibles will have the last word on finding the optimal way of handling these.

[2022-03-30 16:27] rjherrera commented on #1092
hi there! I experienced this bug today, and i think it's related to this, as we will change our timezone this saturday.

In the link it shows the correct slot, but once the appointment is confirmed, it appears in my calendar one hour earlier, and it disregards any conflict (I have another meeting there).

Do you guys know if it is fixed in any recent release or commit?

[2022-03-30 16:34] astrojuanlu commented on #1092
Folks, I know that Timezones Are Hard™ but I can't think of anything that is more important to get right in a scheduling app to be completely honest. I know I'm not being particularly helpful here, just trying to highlight the fact (well, just my opinion actually) that "handling timezones correctly and transparently" is not a "nice to have", it's critical functionality. Mandatory XKCD reference:

[2022-03-31 02:34] drochag opened #2326 "Allow booking links to be linked to a specific calendar"
### Describe the solution you'd like

When creating a booking link, I'd like to select the specific calendar it would go to.

### Additional context

When having different calendars, it would be nice to share one link with the work calendar to coworkers, but having another link to your custom clients as a freelancer but that one linked to your personal account.

[2022-03-31 03:34] adityathakurxd opened #2327 "Pricing doesn't convert"
### Issue Summary

When I  set pricing for an event in INR it shows up in USD on the preview page.

![Connect Call _ Aditya Thakur _ Cal com - Google Chrome 3_31_2022 8_58_30 AM](https://user-images.githubusercontent.com/53579386/160971045-e000858c-1191-4593-978e-a5976b38beae.png)

**Preview Page:**

![Connect Call _ Aditya Thakur _ Cal com - Google Chrome 3_31_2022 8_58_18 AM](https://user-images

[2022-03-31 09:08] PeerRich opened #2328 "you cant scroll on mobile after opening a dialog or dropdown"
https://user-images.githubusercontent.com/8019099/161019695-1f97eea2-881a-49b1-b82c-eedf07c0526c.MOV

in order to scroll again, you need to change the focus. as long as the button that opened the dialog or dropdown has focus, you can't scroll

[2022-03-31 09:36] milospuac commented on #2327
Hi there. Thanks for reporting this. Our team will have a look

[2022-03-31 09:40] agustif commented on #2082
Will  check again and come back with news, sorry

[2022-03-31 09:40] milospuac commented on #2326
Hi there. Thanks for reaching out. Correct me if I understood incorrectly what exactly you are trying to achieve, but each event type that you created can have a different calendar to create an event on. You can set that up in the advanced settings of the event type
<img width="898" alt="Screen Shot 2022-03-31 at 11 39 46" src="https://user-images.githubusercontent.com/97884287/161026077-5279f1c4-

[2022-03-31 09:42] milospuac commented on #2318
Hi there. Thanks for reporting this. Our team will have a look

[2022-03-31 09:42] milospuac commented on #2317
Hi Lucas.

Thank you for bringing this to our attention. Our team will have a look into this issue

[2022-03-31 10:15] kelseysmithdesign opened #2329 "Calendar design indicates that dates have availability when a date is "All booked today.""
### Issue Summary

**Context**
On the booking page, the calendar UI has 3 modes for dates:
1. no availability = no box, gray text, not clickable
2. available to book that day = gray box, bold text, clickable
3. selected date = black box, bold text, status: clicked (times shown in the right panel)

<img width="757" alt="Frame 18" src="https://user-images.githubusercontent.com/56199177/161032216-a92

[2022-03-31 10:30] PeerRich opened #2330 "RFC: advanced routing (round robin)"
## Status Quo:

- today we only have simple round-robin functionality that does not take any parameters.

## Goal:
- receive parameters (either URL or input fields before booking flow)
- route differently for certain parameters
- if two or more people get chosen for the same time: round-robin at the end to decide who gets the booking

## Example:

ACME Inc is doing sales and has 3 locations: San F

[2022-03-31 15:08] milospuac opened #2332 "Link meeting location of the event type - URL from certain platforms not showing in the mail confirmation"
So far, this has been happening with Nextcloud platform video call link, Zoom link, and Google Meet link

### Nextcloud

<img width="499" alt="Screen Shot 2022-03-29 at 10 55 58" src="https://user-images.githubusercontent.com/97884287/161085596-29216b34-db28-4306-8b64-f98ec90e7595.png">

### Zoom link

<img width="552" alt="Screen Shot 2022-03-31 at 09 47 44" src="https://user-images.githubusercon

[2022-03-31 16:20] bhopmann commented on #2134
In addition, it would be helpful if already accepted events do not appear in the appointment selection at all.

[2022-03-31 17:26] #2149 closed

[2022-03-31 22:29] zomars commented on #2305
Unless I'm missing something about SSH keys, it shouldn't make a difference if they're served from git or https.

[2022-04-01 04:45] drochag commented on #2326
Definitely !

Thanks a lot, I didn't noticed because I hadn't upgraded to Premium when I first checked event types

[2022-04-01 04:45] #2326 closed

[2022-04-01 07:23] sean-brydon commented on #2332
PR merged this should be now fixed :)

[2022-04-01 07:23] #2332 closed

[2022-04-01 07:39] bhopmann opened #2342 "[CAL-935] Already booked event is still included in availability"
### Issue Summary

Current events are disregarding already booked spots. This means bookers generally don't know when a time is taken, because already accepted events still do appear in the appointment selection. Only at the end of scheduling an error message appears: "Could not book the meeting. [Name] is unavailable at this time".

### Steps to Reproduce

1. Set availability in backend
2. Book a

[2022-04-01 07:47] bhopmann commented on #2332
"No App Name" also appears when using a location for in_person_meeting, this seems not to be fixed with the merged PR.

[2022-04-01 08:49] milospuac commented on #2342
Hi there! Thanks for reaching out

Do you have a calendar connected? Because if you don't, that's what is causing this issue.  At this point in time, we do not yet check our own events for conflicts (intended to be added by the virtual calendar); this will come relatively soon but that is likely the cause of the confusion.

[2022-04-01 09:36] milospuac commented on #2329
Hey Kelsey,

Thanks for reaching out. Our team will have a look at your suggestion

[2022-04-01 09:52] bhopmann commented on #2342
Thank you for your hint: Connecting a calendar (nextcloud) does resolve this issue. But I notice some problems when rescheduling an event: A rescheduled event only occurs in the cal.com backend, but not in the availability section and not in the connected calendar.

[code]

[2022-04-01 10:08] PeerRich commented on #2318
will fix!

[2022-04-01 12:39] sean-brydon commented on #2318
This appears to be fixed :) Thanks for reporting this

[2022-04-01 12:39] #2318 closed

[2022-04-01 14:26] PeerRich opened #2347 "Save additional inputs as JSON data"
right now we save additional inputs as a string in `description`

we should save it as structured data

reasons:
![image](https://user-images.githubusercontent.com/8019099/161424606-8e5c062b-4e38-4417-8464-dd92a4096f6c.jpeg)
- /booking shows <br>
- harder to parse in webhooks/API

[2022-04-01 14:28] PeerRich opened #2348 "(DRAFT) "operator" access to existing account"
- give access to another user (EA or operator)

[2022-04-01 14:36] PeerRich opened #2349 "(DRAFT) Blacklist feature (maybe /contacts)"

[2022-04-01 18:35] #2305 closed

[2022-04-02 15:55] agustif commented on #2305
One thing to note, is that those errors will still exists because those are private submodules.

I think one good thing about enforcing git usage in the repos is that it makes the user use ssh keys for contributing, which makes theoretically less easy for an attacker to impersonate him or her and push malicious code to the project.

I don't think it's that important, but in a previous project we d

[2022-04-02 22:11] leog commented on #2180
@PeerRich Wanted to gather information about what's out there when it comes to recurring events. I found Google's "Bookable Appointment Schedule" feature which is a revamped version of what's used to be the Slots feature I used in the past. I think it relates a lot to a schedule (option 2) rather than an event type option (option 1).

In terms of its implementation, we already have an interface to

[2022-04-02 22:42] PeerRich commented on #2180
the more i think of it, the more I'd like to have "recurring availability" in app.cal.com/availabilty than in /event-types

thoughts @baileypumfleet @Jaibles ?

[2022-04-02 22:45] PeerRich commented on #2180
<img width="696" alt="image" src="https://user-images.githubusercontent.com/8019099/161403753-107d1e84-cff8-422e-8184-e05cf1e807dc.png">

[2022-04-02 22:46] PeerRich commented on #2180
a recurring schedule should also overwrite/ignore connected calendars

[2022-04-02 22:47] PeerRich commented on #2180
however, I wonder there is a reason to use a recurring schedule more than for one event type ... 🤔 probably not.

normal "Working Hours" you would use multiple times for different event-types.

recurring "Yoga Classes" probably not

[2022-04-02 22:47] PeerRich commented on #2180
and if it's one availability for one event-type, we may as well have the recurring logic in /event-types

[2022-04-02 23:02] EclipseKnight opened #2358 "Microsoft Teams Integration not completed/working?"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Cannot add/install Microsoft Teams app in the app-store.

### Steps to Reproduce

1. Click Apps
2. Click App Store
3. Click Microsoft 365/Teams 'Add'
4. Install App button is missing.

I looked through the [open integration issue](https://github.com/calcom/cal.com/issues/1462) but the branch it was merged to 'monorepo/app-store

[2022-04-03 09:08] PeerRich opened #2360 "internationalise all dates (i.e. in email)"
![image](https://user-images.githubusercontent.com/8019099/161420282-d1e9d8a9-a1a2-4c80-b5e2-6ed621cc94dc.jpeg)

in spanish and germany we have the day first:

German: 4. April
Spanish: 4 Abril

[2022-04-04 08:04] milospuac commented on #2342
I see... Our engineers will have a look at this

[2022-04-04 10:35] PeerRich commented on #2064
this has been stale, who is working on this? @alishaz-polymath @alannnc @joeauyeung?

[2022-04-04 10:39] alishaz-polymath commented on #2064
@PeerRich Last I checked, it was @joeauyeung.

[2022-04-04 12:00] PeerRich opened #2366 "infinite scroll event-types to decrease size of API request"

[2022-04-04 12:14] PeerRich commented on #1779
doesn't seem like it's still an issue. is it? @rihards-simanovics

[2022-04-04 12:14] #1779 closed

[2022-04-04 12:17] PeerRich commented on #1459
<img width="328" alt="image" src="https://user-images.githubusercontent.com/8019099/161541792-a70386d5-0a19-4a53-a277-d09530ec9302.png">

<img width="470" alt="image" src="https://user-images.githubusercontent.com/8019099/161541812-9ce2e861-6d10-4fbb-a33d-6b77d0213e3f.png">

[2022-04-04 12:18] rihards-simanovics commented on #1779
Hi @PeerRich, I don't know, as I haven't seen the fix listed in the release notes. I will check with a fresh instance today, as I'm still running with the quick patch.

[2022-04-04 14:21] #2291 closed

[2022-04-04 15:17] #2358 closed

[2022-04-04 17:26] PeerRich opened #2372 "make huddle01 and jitsi uninstallable"
right now its built in a way that its preinstalled and cannot be removed

instead we should treat it like the web3 app and be able to add/remove it

- [ ] jitsi
- [ ] huddle01

[2022-04-04 17:27] PeerRich commented on #2372
@zomars can you take care of this?

[2022-04-04 17:28] PeerRich opened #2373 "move web3 into apps/metamask"
move web3 into apps and rename it to metamask (until we support more)

[2022-04-04 17:41] zomars commented on #2372
Can you put a priority into this? @PeerRich

[2022-04-04 17:51] rihards-simanovics commented on #1779
Hi @PeerRich, I can confirm that the issue is not present in **v1.4**. Also, since I'm still running on 1.2, I will have to make a few changes to make it work properly on my custom micro VPS (just the build process maxes out the two vCores on the CPU, haha).

[2022-04-04 19:00] zomars commented on #2372
TODO: Find a way to make global apps opt-in, these can be achieved both by using the already made credentials model or add something new to save an enabled toggle on the user data.

[2022-04-04 21:02] compgeniuses commented on #1594
Looking forward to this functionality

[2022-04-04 22:36] PeerRich opened #2378 "Move video sources into /apps and get them dynamically"
https://github.com/calcom/cal.com/blob/b3f9921dd82cfb0bfbdcacb8df1dc7258cf7d482/apps/web/components/booking/pages/BookingPage.tsx#L134

[2022-04-04 22:47] tomlobato commented on #22
Exactly same here.
For now we'll try to build another image based on calendso/calendso but adding our .env file with the constants that Next is not able to read from environment. Ugly but enough to wait the fix.

[2022-04-05 01:05] tomlobato commented on #22
https://github.com/calcom/cal.com/issues/1160#issuecomment-996105348

[2022-04-05 02:46] dlemery opened #2381 "Memory error on build after latest updates"
### Issue Summary

After updating to the latest via Git Pull, can no longer build the application with "yarn build." Get the error FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory

### Steps to Reproduce

1. git pull
2. yarn workspace @calcom/prisma db-deploy
3. yarn build
4. error occurs

### Technical details
yarn dev works. Some pages resu

[2022-04-05 04:19] andreaestefania12 commented on #1708
Hi, I would like to contribute to this issue. Could you please assign me?

[2022-04-05 08:05] #1457 closed

[2022-04-05 09:42] PeerRich opened #2382 "google meet missing in location dropdown"
https://calendso.slack.com/archives/C01NXDSRY9W/p1649092723605229

[2022-04-05 12:56] hariombalhara commented on #2247
@zomars @PeerRich The reason for redirects that I accidentally found out today(not sure if you guys know) is that _data URLs are not handled by rewrites which is why they give 404 which causes the page to reload.
This is somewhat related https://arihantverma.com/posts/2021/07/18/workaround-nextjs-data-urls-same-domain-multiple-apps/ but not exactly the same thing.

[2022-04-05 14:07] PeerRich commented on #2247
no way that's a great discovery.

any quick fixes? or do we need to change the entire rewrite system?

[2022-04-05 15:20] miguelnietoa commented on #2327
Hello, I would like to contribute 👍🏻

[2022-04-05 15:31] miguelnietoa commented on #2328
I can confirm this behavior, I'm going to take a look at it to see if I can find a way to fix it.

[2022-04-05 15:53] PeerRich opened #2384 "refactor redirect success page"
- [ ] extract the string into t("you_are_being_redirected")
- [x] indigo => green
- [x] fix banner on mobile (it currently overlays the content)

<img width="369" alt="image" src="https://user-images.githubusercontent.com/8019099/161807236-8616d87c-7668-4052-a7cf-e952c86e6660.png">

[2022-04-05 16:35] PeerRich commented on #2384
oh right it was cancellable before. lets remove that for now until people complain (i doubt it)

[2022-04-05 17:11] zomars commented on #2247
A temp workaround could be what I've proposed so we prioritize the web app and rewrite the marketing pages on top of it.

[2022-04-05 18:03] #2382 closed

[2022-04-05 18:05] #2378 closed

[2022-04-05 18:23] PeerRich commented on #2247
@zomars wanna do that? is there a way we can test this on staging? cal.dev

[2022-04-05 18:25] zomars commented on #2247
Yeah let's open a ticket for it.

[2022-04-05 18:37] indeavr opened #2389 "Error (503) after clicking "Deploy to Heroku" button."
### Issue Summary

I'm unable to make the "Deploy to Heroku" button work. It does deploy successfully, but when I navigate to the url I get 503.
Error below.

### Steps to Reproduce

1. Add the 3 env vars - BASE_URL, CALENDSO_ENCRYPTION_KEY and JWT
2. Click deploy
3. The error above when accessing BASE_URL

Any idea why am I getting this ?

### Technical details
ERROR:

heroku[router]: at=error co

[2022-04-05 20:55] PeerRich opened #2391 "for 1:1 make both participants admins (to edit events)"
requested by a customer: right now only the link creator can edit calendar entries, not the booker.

for 1:1 i think its save to give both participants "admin rights"  to edit the calendar entry

[2022-04-06 02:24] clarkhacks commented on #2389
I am having the same issue here. Logs:
[code]

[2022-04-06 06:21] hariombalhara opened #2393 "Allow organizer to set the meeting link for the booking later."
### Is your proposal related to a problem?
Someone booked a meeting with me. I didn't have any `location` set in the event type. The meeting got booked, but there is no URL where the meeting would occur. Now, I want to update it in the booking.

### Describe the solution you'd like

Allow organizer to set location in booking and email should be sent to the guests notifying about the meeting place.

[2022-04-06 07:57] surjithctly opened #2394 "Currency symbol mismatch"
I activated the Stripe plugin in the cal.com web app. The Event Settings shows ₹ symbol (local currency) but the booking link shows $ dollar sign. Since the conversion rate is huge, it could be a serious problem. See screenshots for better undertstanding.

**Settings page:**
<img width="900" alt="image" src="https://user-images.githubusercontent.com/1884712/161924687-5cfa7064-6713-4364-83ef-36d4e3

[2022-04-06 09:00] indeavr commented on #2389
I tried running it again today, still the same error.

[2022-04-06 10:35] lharries commented on #2329
Hi @milospuac, this is also something we'd really want too. It's currently a poor experience if lots of the days don't have availability

[2022-04-06 11:54] adriaanvanrossum opened #2396 "DATABASE_URL missing in schema.prisma:6"
In 9d512e70c46fa09977c6e9458c11ec3657d110ee I get an error with about the DATABASE_URL:

[code]

<img width="1007" alt="image" src="https://user-images.githubusercontent.com/1079135/161969233-034d32bd-f8cf-47a0-85ac-ca2ea9ce2300.png">

I moved DATABASE_URL from `.env` to `packages/prisma/.env`.

When I add `DATABASE_URL` to `.env` as well the command `yarn dev` works fine.

[2022-04-06 11:59] warum7 commented on #2389
Same here when trying with heroku. Same output as above. Same thing happens with Docker.

[2022-04-06 12:00] PeerRich opened #2397 "Automated Holiday Blackout Dates"
### Discussed in https://github.com/calcom/cal.com/discussions/1370

<div type='discussions-op-text'>

<sup>Originally posted by **Pintadog** December 21, 2021</sup>
Hi, looking for options that would allow me to exclude certain days of the year. An example use case for this would be used for repeating events such as holidays, company events, or personal events.

Would also be nice if these settin