[2022-07-30 21:42] dezerb commented on #3566
@PeerRich I found discussion na radix github page. The solution is pretty straight forward and doesn't duplicate properties for potential new modals
https://github.com/radix-ui/primitives/discussions/1436
I updated the PR https://github.com/calcom/cal.com/pull/3607. When it be accepted the same should be done for the "remove member" modal

[2022-07-30 23:00] PeerRich commented on #3566
we will review and merge on monday 🙏 thank you

[2022-07-30 23:03] agustif commented on #3612
Hello @bhopmann can you try with node v16?

performance is not included in node v14, and this is why its breaking most probably!

We need to fix some engines to not allow / discourage use of node v14, thanks for opening up the issue, please let us know if node v16 fixes it for you.

[2022-07-31 08:03] noobyogi0010 commented on #3425
Thank you @zomars it worked.

But now to access the workflow feature I need a calcom license key. How can I get it?

[2022-07-31 08:06] PeerRich commented on #3462
hey @ch-ruetgers-RMH we're working hard to resolve this issue right now @alannnc @joeauyeung

[2022-07-31 08:23] #3601 closed

[2022-07-31 08:29] PeerRich commented on #1478
new designs:

<img width="852" alt="CleanShot 2022-07-31 at 10 29 10@2x" src="https://user-images.githubusercontent.com/8019099/182017538-5d72b1de-578f-45e9-86fc-50e833dee705.png">

figma: https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=1526%3A76162

[2022-07-31 08:40] PeerRich commented on #3409
this would be great if it makes it into 1.8.3 this week

[2022-07-31 08:41] PeerRich commented on #3357
@CarinaWolli do you think this is a higher priority than Zapier Templates?

[2022-07-31 09:02] alishaz-polymath commented on #3409
This is priority number one for this week @PeerRich

[2022-07-31 09:09] hariombalhara commented on #2247
This is already fixed by @zomars by fixing the rewrites.

[2022-07-31 09:09] #2247 closed

[2022-07-31 10:04] bhopmann commented on #3612
@agustif Thank you, upgrading to node v16 indeed fixes this error.

[2022-07-31 10:04] #3612 closed

[2022-07-31 11:35] PeerRich commented on #3547
interesting idea! i see some use cases for this

[2022-07-31 13:11] Udit-takkar commented on #3554
@Jaibles just comment here when design is completed.

[2022-07-31 14:28] joeauyeung commented on #3462
@alannnc created a major fix for this issue. PR is approved and should be included in the next release.

https://github.com/calcom/cal.com/pull/3534

[2022-07-31 15:17] PeerRich commented on #3462
fyi, next release is tomorrow cc @zomars

[2022-07-31 15:18] Jaibles commented on #3554
It's ready now.

[2022-07-31 17:29] PeerRich commented on #3536
trial is going away soon

[2022-07-31 17:29] #3536 closed

[2022-07-31 18:12] nosovk opened #3615 "Deploy to Heroku is broken"
### Issue Summary

It seems that deploy to Heroku is not working

### Steps to Reproduce

1. Fork repo
2. Attach it to new heroku app
3. Fill env with remote DB etc. I used console.neon.tech, but actually no difference which one to use
4. build app
In logs you can see that migrations are done successfully.
I connected to DB and created user after that
5. launch app, and catch errors like that:
<im

[2022-08-01 03:50] hariombalhara opened #3618 "Update docs for App Store"
Update docs for App Store - https://developer.cal.com/guides/how-to-build-an-app

- Introduce app-store-cli here.
- Work on a step-by-step tutorial to create a very simple app.

[2022-08-01 04:10] hariombalhara opened #3619 "Improvements: Routing Form"
- Duplication of a Form
- Routing Form Embed links, similar to Event Type Embeds
- Confirmation on the deletion of Form
- Ability to name and define description of the form during creation instead of doing it after creation.
- Don't allow rules in fallback. Because fallback is supposed to always match if no other route matches.

[2022-08-01 04:59] yodahuang commented on #3279
I am seeing the same error in local development for Apple calendar.
The exact error message:
[code]

[2022-08-01 05:01] yodahuang commented on #2967
I see the same error with newly created instance. While the json is being put in to envvar, it seems that the client is not reading it successfully.

[2022-08-01 05:28] yodahuang opened #3621 "No app in App Store caused by empty table "App""
### Issue Summary

When self-hosting the app, it has the following behavior:
In "getting started" page:
- When trying to connect it to Google Calendar, it tells no client id is found (may not be related)
- When trying to connect to Apple Calendar, it fails, and Postgres log shows
[code]
After skipping the "get started" page, in "App Store", all I can see is "Cal Video". This is the same behavior a

[2022-08-01 07:39] PeerRich commented on #3621
hey @yodahuang have you followed the instructions and added the google calendar credentials to the Apps table? @zomars can help, too

[2022-08-01 07:44] PeerRich opened #3624 "Improve docs around setting up apps"
Explain step by step how to set up all apps. One page per app in developer.cal.com

- [ ] https://github.com/calcom/cal.com/discussions/3623
- [ ] https://github.com/calcom/cal.com/discussions/3622

[2022-08-01 07:47] PeerRich commented on #3624
is the readme still up to date? https://github.com/calcom/cal.com/blob/main/README.md

lets move each app into one subpage in a developer.cal.com subpage

[2022-08-01 07:48] PeerRich commented on #3624
I wonder if its possible to have the apps in the setup wizard, too? @leog

[2022-08-01 08:05] wzrdtales commented on #3431
model or data? The row with the zoom entry is there yes, model don't know where to check?

[2022-08-01 08:10] hariombalhara commented on #3581
This is still in `main`, yet to go live to be considered closed.

[2022-08-01 11:08] gracebir commented on #3535
@Jaibles , which solution are you suggesting here ? Cause I was about to add `AdditionalCalendarSelector`, and this the solution that I am thinking about

[2022-08-01 12:31] zomars commented on #3547
Don't we already do this?

[2022-08-01 12:34] zomars commented on #3547
You Can add a hidden field and prefill it like [explained here](https://github.com/calcom/cal.com/blob/main/apps/docs/pages/developer/pre-fill.mdx).

Cc @PeerRich  this doc is not on GitDoc yet BTW

[2022-08-01 14:00] dezerb commented on #3582
@shirazdole  @PeerRich  I created small proposal how could like such a warning icon for this case
https://github.com/calcom/cal.com/pull/3627

![image](https://user-images.githubusercontent.com/14241061/182164966-8b93b18b-f3ec-4877-8239-cf2627b14bba.png)

[2022-08-01 14:06] leog opened #3628 "Website signup form improvements"
### Summary

Implement what was applied to the onboarding wizard regarding password hints into the Website signup form. See #3486.

### Describe the solution you'd like

Use the implementation for `hint errors` that come from `v2` form fields ui components.

Loom 1: https://www.loom.com/share/a2e4b9fa83814308a3f4f637cfde04bf
Loom 2: https://www.loom.com/share/68128ecca3f4466a968ec3ff48e0d4af

[2022-08-01 14:12] samizdis commented on #2236
How is this going? I'm currently straddling GCal/Calendly, but would rather keep with my CalDav setup. I'm also happy to try to help/code, but would require guidance.

[2022-08-01 14:14] leog commented on #3582
We already have a way to communicate extra information about the state of an event type. Maybe we can reuse it:
<kbd><img width="1047" alt="image" src="https://user-images.githubusercontent.com/467258/182167174-566d132d-8c6e-4645-bfd8-344225177f6e.png"></kbd>

Something like:
<kbd><img width="1020" alt="image" src="https://user-images.githubusercontent.com/467258/182167639-8c1144e0-802e-4cae-94c7-

[2022-08-01 14:17] alishaz-polymath commented on #2236
Hey @samizdis
Thanks for your offer. Yeah I've compiled a CalDAV specific thread where we explore and take down all CalDAV issues.
https://github.com/calcom/cal.com/issues/3457

You can keep it under tabs there and any help is greatly appreciated. Do let me know what you wish to help out with, and I'll be happy to provide any necessary guidance for it. 🙏

[2022-08-01 14:40] dezerb commented on #3582
@leog such a solution is even less complicated, I pushed update to PR (with both solutions)
![image](https://user-images.githubusercontent.com/14241061/182174862-2ffaf4ea-6e60-48d8-89d8-7d0307180b22.png)

[2022-08-01 15:38] PeerRich opened #3631 "Upgrade Radix UI to v.1.0"
related: https://github.com/radix-ui/primitives/issues/1241#issuecomment-1201361667

would fix: https://github.com/calcom/cal.com/issues/2328

[2022-08-01 19:21] PeerRich opened #3633 "sync user data with helpscout, close and sendgrid"
- [ ] close.com
- [ ] helpscout
- [ ] sendgrid

[2022-08-01 19:25] #3279 closed

[2022-08-01 19:54] shirazdole commented on #3582
@dezerb this looks great! cc @Jaibles

[2022-08-01 20:02] zomars commented on #2985
Can we replicate this? I think the consensus was that you shouldn't see your booked events where you''re an attendee on upcoming bookings. You should only see the upcoming bookings you're hosting or part of as a team.

[2022-08-01 20:59] PeerRich commented on #3631
changelog / upgrade guide: https://www.radix-ui.com/docs/primitives/overview/releases#july-21-2022

[2022-08-01 21:07] PeerRich commented on #3547
@baileypumfleet can you make sure to move over all docs to gitbook?

[2022-08-01 21:55] wzrdtales commented on #3431
It has that row yes it gets created upon startup.

Sent from Nine

--

Best

--
Tobias Gurtzick
CEO
WizardTales GmbH

Additional Contacts:
@github | ***@***.***
--
Website: https://www.wizardtales.com
***@***.***
nmlpm: -- coming soon & open source --

Please tag your mails with "request", "issue" or "proposal", unless none of these fit or there already exists a thread.

-- Why should one reach fo

[2022-08-02 03:42] hariombalhara commented on #3581
This is in production now

[2022-08-02 03:42] #3581 closed

[2022-08-02 03:59] agustif commented on #3164
https://github.com/calcom/website/pull/172
Also related https://github.com/calcom/cal.com/pull/3580
Has been merged to main, (where it works as expected) but did get the infinite redirect loop again on production, we will investigate tomorrow / try again at deploying during the week.

[2022-08-02 04:28] CarinaWolli opened #3639 "Improve design of reminder email"
### Issue Summary

Improve design of reminder email:

<img width="591" alt="Screenshot 2022-08-02 at 00 27 35" src="https://user-images.githubusercontent.com/30310907/182291724-78e476c4-d837-45af-b784-afaff220090a.png">

[2022-08-02 08:02] PeerRich commented on #3639
awesome!

[2022-08-02 08:02] PeerRich commented on #3639
very clean, nothing fancy

[2022-08-02 11:16] shapel commented on #3389
The number of records doesn't look too big, so it seems like we can do data migration in one go.
I'm going to tackle this one.

[2022-08-02 11:36] om-ray commented on #3554
@Jaibles Would it be possible for me to work on this?

[2022-08-02 11:42] aspiers opened #3641 "cannot reschedule unconfirmed events in the past"
### Issue Summary

If a booking is made which needs confirmation, but is not confirmed before the time of the event passes, it cannot be rescheduled.

### Steps to Reproduce

1. Configure an event type which requires confirmation prior to booking
2. Someone requests a booking using this event type
3. Ignore request until time of booking passes
4. Observe that booking appears in the `Past` tab, but

[2022-08-02 11:43] aspiers commented on #602
See also #3641.

[2022-08-02 11:49] PeerRich commented on #3641
fair point. this is something I had on my mind for a while now. lets get this done, maybe before 2.0. will cycle back with the team

[2022-08-02 12:04] PeerRich opened #3642 "event-types group-hover of icons not working"
somehow only the "preview link" icon is behaving correctly:

https://user-images.githubusercontent.com/8019099/182370312-95d045c3-94b0-49b3-9f9e-d7a92088091e.mp4

[2022-08-02 12:09] Udit-takkar commented on #3554
@om-ray i am working on this. was busy because something came up.

[2022-08-02 12:10] om-ray commented on #3554
Ahh ok, thanks for letting me know

[2022-08-02 12:16] aspiers opened #3643 "[CAL-1684] wrong meeting organizer used with multiple Google accounts"
### Issue Summary

I have multiple Google accounts connected (one personal, and two for work):

![image](https://user-images.githubusercontent.com/100738/182369620-3c8d1c6f-ad43-42c8-ad80-b3571bd62d00.png)

and some event types which are configured to book events onto one of the secondary (i.e. non-default) Google calendars which I use for work:

![image](https://user-images.githubusercontent.com/

[2022-08-02 12:34] aspiers commented on #3643
BTW there is another undesirable consequence of this issue: emails about this booking will go to the cal.com account's main email address rather than to the address of the Google account on whose calendar the event is booked.  So effectively I then get emails about a work meeting going to my personal email account rather than to my work account.

[2022-08-02 13:17] om-ray commented on #3348
@PeerRich There's a lightweight tool called [markitup!](https://markitup.jaysalvat.com/home/), if you think that looks good then I would love to work on adding it!

[2022-08-02 14:00] PeerRich commented on #3348
of course, go ahead!

[2022-08-02 14:14] joeauyeung opened #3644 "Get Cal.com verified by Microsoft"
Some admins will not allow unverified apps be added to their workplace. If we go through this process we should get more enterprise users using Cal.com. We'll also get a little check mark beside our name as well.

Instructions
https://docs.microsoft.com/en-us/azure/active-directory/develop/mark-app-as-publisher-verified

[2022-08-02 14:15] joeauyeung opened #3645 "Referral engine"
Add a basic referral engine that generates referral codes for current users to share with new users when signing up to Cal.com

[2022-08-02 14:23] sydwardrae opened #3646 "Attempt to duplicate a time turns into a new timeslot"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When I attempt to duplicate a time in the Availability panel, it instead creates a new time slot.

### Steps to Reproduce

### Technical details

[2022-08-02 14:28] sydwardrae opened #3647 "Cannot read properties of undefined (reading 'map') error with Outlook 365"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

I am getting this error when trying to install/connect Outlook 365 Calendar:
Algo salió mal, intente volver a conectar su calendario con todos los permisos necesarios
Cannot read properties of undefined (reading 'map')

### Steps to Reproduce

1. Tried to connect Outlook Calendar
2. Got error message Cannot read properties of u

[2022-08-02 16:45] PeerRich opened #3649 "new badges dont have dark mode yet"
<img width="1024" alt="CleanShot 2022-08-02 at 18 44 26@2x" src="https://user-images.githubusercontent.com/8019099/182428863-5d9a8fff-bbfb-4e37-bd73-dec7e7503fff.png">

also:

<img width="129" alt="CleanShot 2022-08-02 at 18 45 26@2x" src="https://user-images.githubusercontent.com/8019099/182428964-3c3d530e-f421-4041-a445-4b2f7763adce.png">

[2022-08-02 16:52] om-ray commented on #3348
@PeerRich Thanks! ill get on it asap!

[2022-08-02 16:59] #3649 closed

[2022-08-02 17:27] shirazdole commented on #3575
@zomars my availability is set through my Working Hours in Availability:
<img width="1228" alt="CleanShot 2022-08-02 at 07 24 53@2x" src="https://user-images.githubusercontent.com/16177678/182436471-79123d7b-bd19-4397-8b2d-546712f53e32.png">

- I don't believe there is a custom selected calendar
-
<img width="808" alt="CleanShot 2022-08-02 at 07 26 10@2x" src="https://user-images.githubusercontent

[2022-08-02 17:34] PeerRich opened #3651 "[CAL-506] Enable Cal Video (Daily) Recording"
Three things. We need to:

* enable DAILY_SCALE_PLAN=true in .env
* send a follow up email after the call with the download link of the Daily recording
* show the ”Download Recording” in "past bookings" as mp4 with all participants visible

Daily.co Docs: https://docs.daily.co/guides/products/live-streaming-recording/recording-calls-with-the-daily-api

![](https://uploads.linear.app/e86bf957-d82f-

[2022-08-02 17:59] alannnc commented on #3647
Gonna take a deep dive on this later, I think it's unrelated to newest patch for availability and it's more on the installation side.

[2022-08-02 17:59] Jaibles commented on #3582
@dezerb great work 👏 can we add an icon to it?
<img width="808" alt="CleanShot 2022-08-02 at 18 58 52@2x" src="https://user-images.githubusercontent.com/4536123/182442515-b83ee547-62a8-480e-b1e7-fcb3c0b36432.png">

[2022-08-02 18:02] Jaibles commented on #3582
So I assume this is just for calendars for which the default calendar was overriden right? The other will be automatically reconnected when you reconnect?

[2022-08-02 18:04] alannnc commented on #3610
This problem should be solved on v1.8.4

[2022-08-02 18:04] #3610 closed

[2022-08-02 18:07] CarinaWolli commented on #3425
@noobyogi0010  For local development you can just return true in the checkLicense function (https://github.com/calcom/cal.com/blob/main/packages/features/ee/common/server/checkLicense.ts)

[2022-08-02 18:42] leog commented on #3633
So, this is the plan:

1. Export users table from PROD database to be imported into Sendgrid and Close.com
    - I already contacted @zomars to get his green light to do this, yours is also appreciated @baileypumfleet
    - HelpScout would be an exception on how the other services work, more in the next paragraphs.
3. Work on a definitive solution to this need, abstracting CUD (no R) operations re

[2022-08-02 18:47] shirazdole commented on #3582
Correct, so if cal.com/shiraz/15min had shirazdole@gmail.com connected ( but that had to be disconnected and reconnected) then yes that should automatically get appended back to that event type rather than leave it blank (as it is now)
but say cal.com/shiraz/30min had shiraz@cal.com - that would just stay as is and not need to be touched

Did that answer your question?

[2022-08-02 18:52] #3246 closed

[2022-08-02 18:58] shirazdole commented on #3535
@Jaibles Not quite sure if we are still on the same page, lmk if this is helpful? https://www.loom.com/share/ea0f848512674fdea38ef7436f8cd054

[2022-08-02 19:04] saschafoerster opened #3652 "Upgrade to 1.8.4: error next-axiom@0.10.0: The engine "node" is incompatible with this module. Expected version ">=15". Got "14.19.3""
I tried to upgrade from 1.8.3 to 1.8.4 (Debian VM 11)

[code]

[2022-08-02 19:07] saschafoerster commented on #3652
yarn:

[code]

yarn build:
[code]

[2022-08-02 19:09] saschafoerster commented on #3652
Okax, now I got it!: I have to get a newer version of node on the machine:

`Node.js (Version: >=15.x <17)`

[2022-08-02 19:09] #3652 closed

[2022-08-02 19:24] galligan opened #3653 "Using Slack to confirm/reject meeting approvals"
### Is your proposal related to a problem?

I currently have it set up so that I have to approve the meetings that come in through cal.com. Right now all of those requests are being sent to my email, but there's sometimes where I miss the approvals because I'm not in my email as often.

### Describe the solution you'd like

It would be great if cal.com could send me a DM with the request details,

[2022-08-02 19:43] shirazdole opened #3654 "Setup Wizard Not Pulling Timezone"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When a user joins Cal.com, they go through a set-up wizard, part of that set-up wizard is Step 1 selecting your timezone. Currently, it doesn't auto-pull my timezone based on my location (no VPN running)
<img width="1055" alt="CleanShot 2022-08-02 at 09 41 02@2x" src="https://user-images.githubusercontent.com/16177678/182459766

[2022-08-02 19:45] META-DREAMER commented on #3652
When I try to use node v15 I get the following error instead:

[code]

When I try with node 16, I get the following error:
[code]

[2022-08-02 19:46] emrysal commented on #3654
If someone is interested in picking this up: `dayjs.tz.guess()` is your friend 👍

[2022-08-02 19:52] META-DREAMER opened #3655 "Vite build error: Transforming const to the configured target environment ("es5") is not supported yet"
### Issue Summary

Getting this build error when using node v16.14.2 on latest main branch

### Steps to Reproduce

run yarn build on latest main

### Technical details
[code]

[2022-08-02 20:24] shirazdole commented on #3633
Hi @leog for the purpose of Close, it would be great to understand the activity of the user. If the goal is to sell/retain them, I want to understand the following:

- Do they have an account? (Right now, I search for their email in Stripe)
- Are they on a team account?  (I don't know how to get this information if I don't have their username to impersonate)
- When did they create an account? (Rig

[2022-08-02 20:43] shirazdole opened #3657 "TRIAL to to PRO-TRIAL Not Showing Pro Features"
Found a bug? Please fill out the sections below. 👍

### Issue Summary.

The bug here is that trial users should be able to have multiple event types, but in the case of this particular user (information located in Twist) their pro features are not working (multiple event types, workflows, etc).

Their trial is extended in Stripe, but still not reflecting in the product.

### Steps to Reproduce

1.

[2022-08-02 20:46] shirazdole opened #3658 "Promo code not Upgrading Account from Free to PRO"
### Issue Summary

A user used a promo code from the team for 6-months pro free. When they use the code, the code deducts the amount from the checkout, but when they confirm the transaction, the account is still on a trial plan.

[More context in twist (this comment)](https://twist.com/a/195135/ch/554218/t/3663518/c/77825091)

[2022-08-02 20:56] sydwardrae commented on #3575
confirming this is also happening with another customer

<img width="753" alt="CleanShot 2022-08-02 at 16 55 55@2x" src="https://user-images.githubusercontent.com/94979838/182471904-fa5d3a96-5dad-442f-98d3-3c7af88e8edf.png">

[2022-08-02 21:01] bhopmann opened #3659 "Event Type not updating/saving when "Redirect on booking" is used"
### Issue Summary

Event Type not updating/saving when "Redirect on booking" is used.

### Steps to Reproduce

https://user-images.githubusercontent.com/2770597/182472212-e9cb0fe7-957d-4ad2-b158-fe922d9fd559.mov

### Technical details

- Firefox 103.0.1
- Node.js version v16.16.0
- cal.com selfhosted v1.8.4
- CalDAV-Server: Radicale 3.1.8

[2022-08-02 21:07] leog commented on #3633
Thanks @shirazdole, glad you could get your perspective on this, we need to shape this to best accommodate Ops needs.

In terms of activity of a user, we could see when was the last booking perhaps, that’s the main activity in the system, or perhaps, last time an event type was created/updated.

other than how we get that info, I’m also worried about how to export that in a way it can be imported

[2022-08-02 21:29] shirazdole commented on #3633
Let's work off the notion that v2 has launched to simplify things:

- Last booking would be best, because it's not that often a user creates a new event type. Maybe it could be "did this user make a booking in the past two-weeks" therefore there aren't a million pieces of data being pushed daily to Close?
- I may be missing something, but what we need in Close doesn't necessarily need to be in Sen

[2022-08-02 21:29] shirazdole commented on #3633
Are we using SendGrid for our email campaigns and mail drip?

[2022-08-02 21:55] shirazdole opened #3662 "BUG: Buffer Times Not Working"
### Issue Summary

If I put a buffer for an hour before an event and hour after the event. The buffer did not work for before the event, but it created a buffer TWO HOURS after the event. https://www.loom.com/share/61dfcc80a8bc46bba6567ba92404261c

![buffer1](https://user-images.githubusercontent.com/16177678/182480288-f05b3460-6800-4b76-ac3b-f0767ac816b5.png)
![buffer2](https://user-images.github

[2022-08-02 21:56] shirazdole commented on #3662
cc @zomars @emrysal

[2022-08-02 22:36] aspiers opened #3663 "grey text on black button when adding another Google Calendar app"
The `Add another` button at https://app.cal.com/apps/google-calendar has grey on black text and is almost unreadable:

![image](https://user-images.githubusercontent.com/100738/182484993-abb9cc6c-73be-4a53-aa65-bc1f40ecf938.png)

The contrast between foreground and background colours obviously needs to be much bigger.

### Technical details

- Chrome version 102.0.5005.115 (Official Build) (64-bit

[2022-08-02 22:50] agustif commented on #3652
@META-DREAMER can you try with node v16.x?

[2022-08-02 23:09] CarinaWolli commented on #3357
@PeerRich Yes, I think I would give this a higher priority than Zapier Templates

[2022-08-03 04:17] facinick opened #3664 "[CAL-425] New workflow action to send Whatsapp message"
### Is your proposal related to a problem?

No.

### Describe the solution you'd like

I want to send confirmation mails with video links to attendees over whatsapp, instead of their mails.

### Describe alternatives you've considered

[Calenderly.com](http://Calenderly.com) has workflows that allow me to do this.

### Additional context

(Write your answer here.)

[2022-08-03 04:59] hariombalhara commented on #3582
Probably I am missing something.

I just tested the behaviour when no calendar is selected in the event type. The booking is still created according to this configuration in App.
<img width="1261" alt="Screenshot 2022-08-03 at 10 26 11 AM" src="https://user-images.githubusercontent.com/1780212/182527220-1662f053-7f95-456b-b651-0618cda85cdc.png">

So, it seems that the calendar is always there to c

[2022-08-03 07:19] #3434 closed

[2022-08-03 10:07] ssddanbrown opened #3666 "License is not aligned with project structure"
The license line [found here](https://github.com/calcom/cal.com/blob/3ac140fad50baff6797317d205eb9501baf38671/LICENSE#L5) is no longer aligned with the structure of the codebase after the changes introduced in #3490.

[2022-08-03 10:29] shapel commented on #3389
👏 @zomars,
Can you review the draft PR to ensure that I got the idea correctly?
What else needs to be done? e.g. E2E or something like that...
PS
I still see significant room for improvement in the 'pages/video/{uid}' section (way to handle meeting not found/unavailable/ended), but I suppose this could be done in other PR.

[2022-08-03 10:30] Udit-takkar commented on #3664
+1 whatsapp is also very commonly used to send meet links in India.

[2022-08-03 10:55] dpalic commented on #3547
@zomars I cannot use this feature?

Added a Additional Input:

- input type: text
- Label: TicketNumber
- placeholder: some description text
- required: true

if I pass
?TicketNumber=12345 to the cal link, the field is NOT prefilled?

can you please let me know how to use it?

[2022-08-03 11:01] dpalic commented on #3547
ohh...
it is working
but not that obvious from the page

1. the query params have to be lower cased
2. also not clear from doc that UI Addition Input Label is lowerCase(Label) is the query parameter

now can implement my requirement, but doc shall be improved.

[2022-08-03 11:52] Jaibles opened #3668 "Can't "Request reschedule" from a team event"
### Issue Summary

This happened with a teams link. Not sure if it's the case with a regular event.

### Steps to Reproduce

1. Book an event from a teams link
2. Try request that the booker reschedule the event

https://user-images.githubusercontent.com/4536123/182721011-b9228c6d-0574-4551-80bb-effeaebd8d42.MOV

[2022-08-03 11:52] Udit-takkar commented on #3654
@emrysal can you assign it to me?

[2022-08-03 12:08] matheusmuniz03 commented on #3663
Hey @aspiers, here is normal, did you update cal.com?
![Captura de tela de 2022-08-03 09-06-59](https://user-images.githubusercontent.com/87545749/182604015-b70f29e1-6166-40b6-9684-e6b779d240d6.png)

[2022-08-03 12:29] PeerRich commented on #3663
@aspiers did change your theme color? https://app.cal.com/settings/profile maybe that's why. @alishaz-polymath ?

[2022-08-03 12:29] PeerRich commented on #3654
assigned

[2022-08-03 12:32] PeerRich commented on #3664
that would be a great option in workflows? @CarinaWolli

- send Whatsapp message to attendee
- send Whatsapp message to specific number

<img width="397" alt="CleanShot 2022-08-03 at 14 30 57@2x" src="https://user-images.githubusercontent.com/8019099/182608183-e9e1d45b-f0d5-4ff6-b134-584a7f24a5cc.png">

for meeting links, do you want a "WhatsApp" option here? those would be two different tickets,

[2022-08-03 12:34] aspiers commented on #3663
Thanks for quick reply! I don't remember changing it but I'll check!

[2022-08-03 12:34] PeerRich commented on #3664
@Udit-takkar would someone use whatsapp to send a link (zoom) or would they use whatsapp video?

[2022-08-03 12:35] PeerRich commented on #3666
thank you! fixed

[2022-08-03 12:46] alishaz-polymath commented on #3663
Technically, the text and bg should have a contrasting color if everything in brand color is working as expected. Unless there's a missing class for text color in this specific button(which I doubt), it's very very strange indeed. Worse is, I can't recreate it.

[2022-08-03 12:47] alishaz-polymath commented on #3663
@aspiers can we impersonate you to take a look at this?

[2022-08-03 12:49] aspiers commented on #3663
Sure!

[2022-08-03 13:12] Udit-takkar commented on #3664
@PeerRich  although i have not used zoom much but yeah whatsapp  is like most active and engaging messaging app and also used for audio calls.  never used whatsapp video.

[2022-08-03 13:39] MatheusBeniniF commented on #3654
I'm already working on this issue, just with a problem to set the user to check if the code I made is right

[2022-08-03 13:45] alishaz-polymath commented on #3663
Okay, I've identified why this is happening.
https://github.com/calcom/cal.com/blob/main/apps/storybook/tailwind.config.js#L10-L134
the variable `--brand-color` is rendered useless here as it isn't mapped to any class and the class brand is associated with default colors instead. For this reason, the brand color is being taken as default even when the users are changing them, while the text brand

[2022-08-03 13:53] jjromary commented on #3538
HI, @milospuac. You have a new update?

[2022-08-03 14:06] #3666 closed

[2022-08-03 14:36] pbdco opened #3672 "Selfhosted calcom docker is not changing base or webapp URL - Only localhost | Environment variables issues"
I am running calendso in production, using docker. After I start the containers, I access to my CAL website (example: "cal.mydomain.com"), but I notice that **the base URL is still http://localhost:3000, even if the .env and docker-compose is set correctly.**

Example:

- At site admin, I see the base URL is still localhost:
![image](https://user-images.githubusercontent.com/64397076/182633577-f46

[2022-08-03 14:49] erzhan89 commented on #3098
Is there any news about it ?

[2022-08-03 15:05] PeerRich commented on #3664
wait so what you wanna do is you make an appearance and then chat? i am confused

[2022-08-03 15:08] timololipop commented on #3279
Getting Foreign key constraint failed on the field: `Credential_appId_fkey (index) when trying to connect to a CalDAV Server

[2022-08-03 15:09] Udit-takkar commented on #3664
I mean whatsapp is used a lot in communication so people do share meeting links/ webinar link to each other. even by my college professors on group chats.

[2022-08-03 15:23] #3663 closed

[2022-08-03 15:25] timowevel1 opened #3673 "Error when connecting calendar `prisma.credential.create()` invocation - same issue on docker"
Hey,

when I try to add caldav it throws me the following in the logs:
`prisma:warn `rejectOnNotFound` option is deprecated and will be removed in Prisma 5. Please use `prisma.user.findFirstOrThrow` method instead
17:24:21.532 timeZoneName ERROR Could not add this caldav account
 Error
Invalid `prisma.credential.create()` invocation:

  Foreign key constraint failed on the field: `Credential_appId

[2022-08-03 15:35] #2900 closed

[2022-08-03 15:36] sw506 commented on #3647
Can confirm, same issue for us, happened right after the update from 1.8.3 to 1.8.4.

[2022-08-03 15:57] zomars commented on #3547
Thanks for the feedback @dpalic will use this to improve the docs

[2022-08-03 16:06] PeerRich commented on #3664
right but they share the linnk to the video service, no? or do they share the link to the whatsapp group?

[2022-08-03 16:15] aspiers commented on #3663
I see something very similar in the advanced settings of event types; is this the same bug?

![image](https://user-images.githubusercontent.com/100738/182658168-5360acf3-5ec2-4690-8622-a599774ed7da.png)

[2022-08-03 16:28] timowevel1 opened #3674 "Missing apps"
Hey,

I dont know if this may be related to the other issue I reported, but it doesnt show me any apps.
![image](https://user-images.githubusercontent.com/25285295/182660652-e752dc8d-4ad8-4dba-b2b1-59d4d53759f6.png)

E.g. the caldav app is missing. Also in the database there is no entry for it.

Thanks.

[2022-08-03 16:29] PeerRich commented on #3663
@leog can you look into this, too?

[2022-08-03 16:37] aspiers commented on #3663
Also the `Update` button:

![image](https://user-images.githubusercontent.com/100738/182662430-15c8551f-3d32-493a-bde1-22240136d4f2.png)

[2022-08-03 16:44] leog commented on #3663
Same issue @aspiers @PeerRich. Will make a hotfix to push to PROD to have it fixed ASAP. Thank you very much @aspiers for bringing this to our attention, really appreciated!

[2022-08-03 16:45] Toledodev commented on #3674
Hey @timololipop, on localhost you need to do an initial configuration to show the available apps

[2022-08-03 16:51] PeerRich commented on #3674
we'Re wokring on a more straight forward app wizard @leog is looking into this

[2022-08-03 16:53] timololipop commented on #3674
Can you give me a hint which configuration?

[2022-08-03 16:55] leog commented on #3674
@timololipop take a look at https://github.com/calcom/cal.com#integrations and this file: https://github.com/calcom/cal.com/blob/main/.env.appStore.example

[2022-08-03 16:59] #3628 closed

[2022-08-03 17:13] timololipop commented on #3674
So I need to configure google to get the caldav app? Caldav isnt working in the setup wizard when I try to add my nextcloud, thats my issue currently..

[2022-08-03 17:27] Udit-takkar commented on #3664
they share the link (meet/zoom) in whatsapp group.  i don't understand what you mean by share the link to video service.

[2022-08-03 17:50] leog commented on #3674
I see. Do you happen to have CalDav in your App table in the database?
![image](https://user-images.githubusercontent.com/467258/182675461-8e7902be-9e47-4e98-8e0d-6d4905645fb2.png)

[2022-08-03 17:57] jdaviescoates commented on #1847
Still hoping this is coming soon?

[2022-08-03 17:58] Udit-takkar commented on #3642
so you want something like this ?

https://user-images.githubusercontent.com/53316345/182676911-930b0797-11fe-44d5-9c1b-71a76acee835.mov

[2022-08-03 18:06] Udit-takkar commented on #3464
@gracebir are you still working on this one?

[2022-08-03 18:08] timololipop commented on #3674
Is it correct like that?
![image](https://user-images.githubusercontent.com/25285295/182678726-d8b5fb2d-38c3-41ea-8c2b-b1e44a1b50a7.png)

[2022-08-03 18:16] shirazdole commented on #3582
Ooooh I didn't know this, that's a great point if that is the case. I think for consistency and clearness, it should be shown in the event type as is as well, but good to know the events will still be created!

[2022-08-03 18:22] CarinaWolli commented on #3664
@Udit-takkar As far as I understand a new action for sending a WhatsApp message to the attendee would solve your issue, right? This would allow you to add your personal google meet or zoom link in the custom template and send it via WhatsApp to an attendee once an event is booked

[2022-08-03 18:22] Toledodev opened #3679 "Wrong css edit button"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Wrong border on click in edit button

### Steps to Reproduce

1. Crate a event type
2. Click on edit

Loom video: https://www.loom.com/share/580f34806fff487f8c13a89623a1e0f5

[2022-08-03 18:31] leog commented on #3674
Yeah, everything seems to be OK from the database. Weird that you are not getting the available apps and just Cal.com Video. Is there any error in the browser or command line console?

[2022-08-03 18:37] Toledodev commented on #3659
Hey @bhopmann, I checked here and this error did not occur, try to update your main branch

[2022-08-03 18:37] Toledodev commented on #3659
Is working normally https://www.loom.com/share/787e21f1b7cb4c33b0720141d0a5605e

[2022-08-03 18:47] CarinaWolli opened #3680 "[CAL-1424] Disable standard confirmation email in even type settings"
### Is your proposal related to a problem?

No

### Describe the solution you'd like

Possibility to disable the standard confirmation email in event type settings.

### Additional context

Requested by a user. He wants to set up his own confirmation email with workflows.

<sub>[CAL-1424](https://linear.app/calcom/issue/CAL-1424/disable-standard-confirmation-email-in-even-type-settings)</sub>

[2022-08-03 18:52] Udit-takkar commented on #3664
Yeah

[2022-08-03 18:56] timololipop commented on #3674
Getting some stripe errors, although I didnt configure anything with it
![image](https://user-images.githubusercontent.com/25285295/182686836-91cef4a0-b580-4e02-a55a-92659ec95ee4.png)

[2022-08-03 20:04] jjromary commented on #3668
Hi, @Jaibles! You are trying to upload the video but it has not been uploaded. Can you try uploading again?

[2022-08-03 20:42] bhopmann commented on #3659
It seems to have been fixed with https://github.com/calcom/cal.com/commit/53de4ddaafe3baf34b452247dc268b5da8a3b81c

[2022-08-03 20:42] #3659 closed

[2022-08-03 20:48] leog commented on #3663
It should be fixed now in PROD @aspiers. Thanks again 💪

[2022-08-03 20:51] shirazdole commented on #3657
Alan came in with the clutch fix!

[2022-08-03 20:51] #3657 closed

[2022-08-03 21:25] sean-brydon commented on #3578
https://github.com/calcom/cal.com/pull/3681

[2022-08-03 22:22] #3378 closed

[2022-08-03 23:20] aspiers commented on #3663
Thanks for the incredibly quick action @leog! I can confirm that the single buttons are now fixed but some dropdowns such as the `Create events on:` one screenshotted above still have the problem.

[2022-08-03 23:26] GlitchWitch commented on #3662
I'm running into the same issue.
As an example, I have my cal.com availability set for 13:30-15:30 on Monday.
I have a single meeting in my linked Google calendar for 14:00-14:30 on Monday.
My cal.com event type has a buffer time of 30 minutes before and 60 minutes after.
However my cal.com calendar show's a single meeting spot available for 13:30.

[2022-08-04 06:44] om-ray commented on #3348
@zomars as long as I sanitize the input would it be ok if I use `dangerouslySetInnerHTML`? since Next renders `<b>Event description</b>` as plain text when that is the input, really the only way to apply MD formatting to it would be to change innerHTML

[2022-08-04 07:50] timowevel1 commented on #3674
@leog Is there a list with all apps available and which slugs I need to add them etc?

[2022-08-04 08:23] #3679 closed

[2022-08-04 08:34] timowevel1 opened #3690 "JWT_SESSION_ERROR"
It doesnt end....
` message: 'decryption operation failed',
  stack: 'JWEDecryptionFailed: decryption operation failed\n' +
    '    at gcmDecrypt (/opt/cal.com/node_modules/jose/dist/node/cjs/runtime/decrypt.js:67:15)\n' +
    '    at decrypt (/opt/cal.com/node_modules/jose/dist/node/cjs/runtime/decrypt.js:92:20)\n' +
    '    at flattenedDecrypt (/opt/cal.com/node_modules/jose/dist/node/cjs/jwe/

[2022-08-04 08:52] #3639 closed

[2022-08-04 10:30] PeerRich commented on #3674
@zomars is the seeder broken? i thought the seeder would add all apps to the DB

[2022-08-04 10:33] PeerRich commented on #3680
<img width="858" alt="CleanShot 2022-08-04 at 12 32 53@2x" src="https://user-images.githubusercontent.com/8019099/182826519-dc0635fd-014a-4d5b-beee-c32e43798e86.png">
could be added as a checkbox in the new advanced settings:

[2022-08-04 11:25] fastbone commented on #3674
same here ... fresh install ... pulled 3 hours ago

database table App only contains "daily-video"

[2022-08-04 12:02] pbdco commented on #3674
Same here, pulled 24hs ago

![image](https://user-images.githubusercontent.com/64397076/182842130-803d6638-874c-4b26-98da-46f8d8466f07.png)

[2022-08-04 13:25] joeauyeung opened #3692 "O365 Calendar "Cannot read properties of undefined (reading 'map')""
### Discussed in https://github.com/calcom/cal.com/discussions/3684

<div type='discussions-op-text'>

<sup>Originally posted by **mzocher-gl** August  3, 2022</sup>
After upgrading to the 1.8.4 branch to fix the O365 availability bug, we now see problems where the "Installed Apps" -> Calendar section has an error message for Office 365:
_"Something went wrong, try reconnecting your calendar with

[2022-08-04 14:00] hariombalhara commented on #3674
This should be fixed in https://github.com/calcom/cal.com/pull/3693

[2022-08-04 14:08] hariombalhara opened #3694 "Some test to verify that apps are installed after the build"
See https://github.com/calcom/cal.com/issues/3674#issuecomment-1204893918 for reference.

If seeding doesn't happen, newly deployed instances will not have the app-store apps.

We need to ensure that only `yarn build` command is run to verify this because production deployments run only that command.

[2022-08-04 14:15] hariombalhara commented on #3674
This should be fixed in latest main. Please check.

[2022-08-04 14:18] dezerb commented on #3680
@CarinaWolli @PeerRich
I prepared some proposal based on current design. There is additional flag saved od eventType object and according to them mail is or not sent to the attendee.  By default it's true.
https://github.com/calcom/cal.com/pull/3695/files

![image](https://user-images.githubusercontent.com/14241061/182870005-8beaf391-8205-444b-8fd9-46d6f35fdecb.png)

[2022-08-04 14:33] PeerRich opened #3696 "self-hosting without google/microsoft verification"
we need to offer an option where the customer uses our auth.cal.com verified integration for google calendar and Microsoft instead of going through the entire verification progress

[2022-08-04 14:33] PeerRich commented on #3696
related #2621

[2022-08-04 15:49] #3692 closed

[2022-08-04 15:50] PeerRich commented on #3680
i think this should be negated:

- [ ] "Don't send email confirmation"

with an explanation text

"Disable email confirmation in case you want to send your own custom emails"

[2022-08-04 17:18] zomars commented on #3348
I'll give a proper review in a bit @om-ray 🙏🏽

[2022-08-04 17:18] Udit-takkar opened #3700 "ui bug in /sucess screen"
### Issue Summary
Add to calendar text overlapping with button on mobile screen.

![image](https://user-images.githubusercontent.com/53316345/182911315-e597ee2f-666e-40d1-b94f-1057cd2dbf04.png)

### Steps to Reproduce

1. Schedule a meeting and fill in details

[2022-08-04 17:21] Udit-takkar opened #3701 "Profile dropown not closing after clicking on it"
### Issue Summary
After tapping profile icon when dropdown in open should close it.

### Steps to Reproduce

https://user-images.githubusercontent.com/53316345/182912184-5c8c0e94-332b-4fc4-a5ea-b69cf6a10989.mp4

[2022-08-04 17:23] Udit-takkar opened #3702 "cancel booking buttons are not responsive"
![image](https://user-images.githubusercontent.com/53316345/182912704-53f2c595-8980-4208-b504-5a8209939f6d.png)

### Steps to Reproduce
1) click on cancel on a booking

[2022-08-04 18:00] PeerRich commented on #3582
in that case, best would be to just show the default there? the one that is set in calendar settings. so the "create event on" is not empty, but just shows the default calendar

[2022-08-04 18:01] PeerRich commented on #1847
we'd rely on the community to build this. its not on our roadmap right now

[2022-08-04 18:01] PeerRich commented on #1847
you can achieve this by just using jitsu on your own server and then copying your room link as a "Link Event"

[2022-08-04 18:22] jdaviescoates commented on #1847
That's a shame :(

It sounded like the #2590 PR request @agustif submitted was going to simply make the url configurable.

Thanks, but having to do that manually each time is a bit of a pain - would be **_so_** much better for the link to be auto-generated and added to the meeting.

PS it's jits**i** not jits**u** :)

[2022-08-04 18:31] PeerRich commented on #1847
not sure why this was closed, @agustif? 🤔

[2022-08-04 18:31] PeerRich commented on #1847
do you have a static link or is it dynamic for each meeting?

[2022-08-04 18:34] PeerRich commented on #3647
we're already working on a fix for outlook @joeauyeung

[2022-08-04 18:34] jdaviescoates commented on #1847
I normally create a new link for each meeting. I guess I could experiment with using a static link too. I guess if I did that I may not need to paste it in each time?

[2022-08-04 18:36] PeerRich commented on #1847
if you have a static link, you can just put that into the "Link Meeting"

[2022-08-04 18:46] joeauyeung commented on #3647
Should be fixed with #3698

[2022-08-04 19:27] #3700 closed

[2022-08-04 19:30] aspiers opened #3705 ""There was a problem updating your calendar" with bookings onto Google Calendar"
When people request a booking from one of my event pages, I receive emails containing the following:

![image](https://user-images.githubusercontent.com/100738/182935625-c23238a6-c447-44e0-82a6-e505adf6b63d.png)

This is a relatively new issue, probably appearing sometime in the last 2 weeks or less.

I have noticed one thing which may yield a clue to the cause of this issue:

Until the other day,

[2022-08-04 19:45] PeerRich opened #3707 "stripe: have a setting to charge the money *after* the call"
maybe we wanna add this to workflows too? or should this be settings in the stripe setting?

[2022-08-04 19:47] Udit-takkar commented on #3701
weird thing. this is only happening in mobile view.  In desktop view `packages/ui/Shell.tsx` If i click on profile icon DropdownMenuContent onInteractOutside is called and closes the dropdown but in mobile DropdownMenuTrigger onClick is getting called right after it

[2022-08-04 20:10] PeerRich opened #3708 "new triggers: after event has finished"
- "after event has finished"

for workflows:
<img width="434" alt="CleanShot 2022-08-04 at 22 10 10@2x" src="https://user-images.githubusercontent.com/8019099/182943394-63e2aefd-22de-461b-a65e-9c9e5f86625f.png">

and webhooks:
<img width="371" alt="CleanShot 2022-08-04 at 22 10 21@2x" src="https://user-images.githubusercontent.com/8019099/182943416-af2ba507-5a10-48e1-8771-f953fdb45e4a.png">

[2022-08-04 20:11] PeerRich commented on #3708
@CarinaWolli wanna add this? this would enable things like sending a follow up email or a survey or ask for a rating etc.

[2022-08-04 20:43] Udit-takkar commented on #3702
@Jaibles  can you tell how should the three buttons look in mobile view?

[2022-08-04 21:04] shirazdole commented on #3582
Yes! That would be great.
ᐧ

On Thu, Aug 4, 2022 at 8:01 AM Peer Richelsen ***@***.***>
wrote:

--
*Shiraz Dole*
(808) 852-7340 | ***@***.***

[2022-08-04 21:19] olivierlambert opened #3710 "Incorrect avatar URL behind a reverse HTTPS proxy"
### Issue Summary

Installing manually the software, create an account, login. The avatar can't be loaded because it's using `http://localhost:3000/<username>/avatar.png` URL instead of using the `NEXT_PUBLIC_WEBSITE_URL`.

### Steps to Reproduce

The install is running behind an HTTPS proxy doing the SSL termination.

`.env` is configured this way (I'm not entirely sure about the meaning of each

[2022-08-04 23:06] agustif commented on #3710
Hey @olivierlambert, so I think you got confused, as the `NEXT_PUBLIC_WEBSITE_URL` is actually for our marketing/ blog website repo, which you don't require.

Try changing it with WEBAPP_URL
[code]

[2022-08-05 01:27] CarinaWolli commented on #3708
@PeerRich Yes, just started working on the Zapier trigger ( #3357). I will implement the trigger for workflows and webhooks too 👍🏻

[2022-08-05 08:26] #3278 closed

[2022-08-05 08:39] olivierlambert commented on #3710
Hello @agustif

First, thanks for your answer!

So indeed, I am really confused on how it should work :thinking: If I change this `NEXT_PUBLIC_WEBAPP_URL`, it doesn't work as expected since Cal will try to do SSL by itself (if the reverse is indeed doing SSL, it's doing reverse proxy in plain HTTP to cal):

[code]

An another missing thing I can't find the answer: by default, when I start it with

[2022-08-05 08:42] hariombalhara opened #3713 "UI Bug: Request schedule not properly aligned"
Request schedule not properly aligned. This is on /bookings/upcoming page.

<img width="356" alt="Screenshot 2022-08-05 at 2 12 21 PM" src="https://user-images.githubusercontent.com/1780212/183038958-d4b286d9-3fea-4496-ae14-38813f60cef5.png">

[2022-08-05 08:49] PeerRich commented on #3702
@Jaibles do we need "never mind" at all?

[2022-08-05 09:01] xlincw0w commented on #3438
Hey @zomars Sorry for the late reply
Yes i do have it
![image](https://user-images.githubusercontent.com/32910910/183042592-bef9fd81-2ce6-4ba3-9e2e-6e9e21ffcc78.png)

[2022-08-05 09:03] PeerRich commented on #3705
@joeauyeung

[2022-08-05 09:07] #3642 closed

[2022-08-05 09:10] peseotni commented on #3190
The client doesn't have different team members, it is just her.
I just updated it to the latest version 1.8.4, and again this happend:

![297584651_579880060333889_8581486758287397767_n](https://user-images.githubusercontent.com/22613392/183043903-67d49e69-a683-432e-ac39-da3e51813f45.jpg)

I have not connected her self-hosted instance to any calendar (google or outlook), is that maybe the reason w

[2022-08-05 13:38] PeerRich opened #3716 "App: Vacation tracker"
a simple app that lets people go on vacation easier (from start to date) which blocks out the calendar (creates an all-day OOO event).

it would also enable "away mode" which already exists and temporally remove people from team event types

a team owner would be able to see vacation status of team members

[2022-08-05 14:04] PeerRich opened #3717 "App: Lever.co"
similar to Greenhouse

[2022-08-05 14:13] emrysal commented on #3716
Date overrides enables all this in core; so not sure we need this 🤔

[2022-08-05 14:15] PeerRich commented on #3716
I am not quite sure how that would work? 🤔 am I trippin

[2022-08-05 14:16] emrysal commented on #3716
So Date Override allows blocking out time on a specific date but only that date, non repeating - a Work Hour schedule is a weekly repeating block out time.

[2022-08-05 14:17] PeerRich commented on #3716
ok but what i refer to is an app that you just open and say "I am on vacation from 1th to 8th of September" and we do the rest

[2022-08-05 14:19] PeerRich commented on #3716
also

is not covered by date overwrites is it?

[2022-08-05 14:19] emrysal commented on #3716
That's a number of date overrides under the hood, maybe discuss with @Jaibles if there is a significant enough improvement to UX in this regard, but this very much should still use the same underlying logic we use for date overrides - on hold until 1.9 is released? (As it will depend on that logic)

[2022-08-05 14:24] PeerRich commented on #3716
oh this one should be after 2.0 easily. not a priority

[2022-08-05 15:03] #3713 closed

[2022-08-05 15:08] alannnc commented on #3705
@aspiers Hey just to make sure, in what version do you see this error? Or are you self-hosted?
The error you mentioned happens when a destinationCalendar it's missing his credentialId, so we resort to iterate event creation on all calendars that exist on Credential with the same type. I think we receive **404** since destinationCalendar.externalId doesn't exist in every connected calendar.
We just

[2022-08-05 16:26] CarinaWolli opened #3719 "New Workflow trigger: When event is rescheduled"
Add a new trigger in Workflows for when event is rescheduled. We already have a trigger in Zapier and Webhooks for that.

[2022-08-05 17:07] aspiers commented on #3705
I'm using the hosted service not self hosted. Feel free to dig into my account if that helps figure it out. One thing to note is that my cal.com account address is different from the email of all my connected Google accounts.

[2022-08-05 17:08] #3595 closed

[2022-08-05 18:44] #3348 closed

[2022-08-05 20:25] shirazdole opened #3722 "Account Creation Wizard not Working"
### Issue Summary

When creating an account there are numerous issues with the account creation wizard:

- Even though Name, About Me, and Timezone is entered, that does not pull through to the actual profile of the account.
- In some cases, once completing the account creation wizard, there is an error message presented to the user. If the user goes back, they'll be taken directly to their accoun

[2022-08-05 20:27] shirazdole opened #3723 "Invited Team Members Auto-Added to Teams"
### Issue Summary

When a team member is invited and they have to create a new account. After creating their account, they are auto-added to the team they were invited to. No opportunity to deny or accept the invitation.

[Twist Thread for Reference with Bird Eats Bug](https://twist.com/a/195135/ch/554218/t/3671992/)

[2022-08-06 06:18] hussamkhatib commented on #3573
Hi Maintainers, I am working on this endpoint currently.

 GET -> `query viewer.book.confirm`

 The above should be a POST method in trpc.
 See below : [BookingListItem.tsx](https://github.com/calcom/cal.com/blob/main/apps/web/components/booking/BookingListItem.tsx)
[code]

 Also  for `query viewer.book.confirm` should it not be `viewer.booking.confirm` as I can think that is what it is meant for

[2022-08-06 07:13] om-ray commented on #3701
@Udit-takkar I cant seem to reproduce this

[2022-08-06 08:32] Udit-takkar commented on #3701
@om-ray use phone or select phone layout in dev tools . Just draging console side bar to left won't reproduce this bug

[2022-08-06 09:19] om-ray commented on #3701
I tried with phone mode from the console and on mobile, but i cant reproduce it

[2022-08-06 09:31] Udit-takkar commented on #3701
tried again. so it is happening when you doing it in quick succession

https://user-images.githubusercontent.com/53316345/183243318-6fff1158-5d4b-4cff-bce6-ba677effa275.mov

[2022-08-07 02:48] dallenpyrah commented on #3641
I started taking a look at this issue yesterday, I've got the feature working in my system. I will be creating a PR tonight to be looked at.

[2022-08-07 08:26] hussamkhatib commented on #3573
The route `/api/event-type/index` route does not exist.

[2022-08-07 10:06] aspiers commented on #3705
And BTW what exactly are `credentialId` and `externalId`? Are they email addresses, or auth tokens, or internal Google user ids, or something else? Can I help debug this somehow?

[2022-08-07 11:45] PeerRich opened #3727 "[CAL-93] refactor link based apps and move them into packages/app-store"
right now we have

- [ ] around
- [ ] riverside
- [ ] whereby

as link-based video conferencing apps and their code is spread out into all kinds of different files making it hard to maintain and add more link-based services.

to add a new link-based video service, you need to touch

- [ ] components/dialog/EditLocationDialog.tsx
- [ ] pages/event-types/[type].tsx
- [ ] en/common.json (translations

[2022-08-07 18:20] PeerRich commented on #3653
we have a slack app, but it doesnt do notifications. i think it would be a fun idea to have slack as an alternative source of notifications @sean-brydon what do you think?

[2022-08-07 23:58] shirazdole commented on #3722
I believe @alannnc is tackling this

[2022-08-08 02:03] shirazdole opened #3732 "[CAL-94] Hide Guest List for Cal.com Seats Feature"
### Is your proposal related to a problem?
When using the Seats feature on an Event Type, there should be a toggle button to hide the guest list from other guests. This is potentially a privacy issue for many companies who don't want the emails of their other guests shared.

This issue is originally flagged by a customer in [HelpScout](https://secure.helpscout.net/conversation/1970079412/1166/) #1

[2022-08-08 02:08] shirazdole commented on #3732
cc @emrysal I see you have Google Calendar (although this applies to most calendars probably) as an expertise on the sheet and tagging @alannnc for the event-type portion

@Jaibles for design thoughts

[2022-08-08 04:08] hariombalhara opened #3733 "While going to edit whereby video location, the input isn't prefilled existing URL"
See this loom https://www.loom.com/share/9ed9afaaf2194f0a80e42ada1199c330

I expect https://whereby.com/hariom to be prefilled when I edited the location.

[2022-08-08 04:12] hariombalhara opened #3734 "Location and team members not shown on /book page."
We should show location on /book page as well. There is enough space available and it is important information to be shown.
https://www.loom.com/share/3ff7282e622448f5b766048565e28a59

[2022-08-08 04:13] hariombalhara commented on #3734
cc @PeerRich @Jaibles

[2022-08-08 04:16] hariombalhara opened #3735 "UI Bug: On /book page calendar icon isn't properly aligned with text"
Alignment isn't correct for Calendar Icon with the text.
https://capture.dropbox.com/eujcPRTsyMeHMPTI

Sample page http://localhost:3000/free/book?type=14&date=2022-08-08T14%3A00%3A00%2B05%3A30&slug=30min&count=

[2022-08-08 04:50] hariombalhara opened #3736 "UI Bug: Error not shown when editing video location"
https://www.loom.com/share/0cceee1b33da4adcb9634d8a9ec99caa
No error shown in Editing Video location URL (for Riverside and whereby)

I expect at least a message like "Please enter a valid Riverside link".

[2022-08-08 05:24] hariombalhara opened #3737 "app-store-cli Improvement: Make a video link app very straightforward to create with cli"
Expectation:
- `yarn app-store create`
- Give inputs
- Should be able to pick the video app link in an Event Type now.

[2022-08-08 05:34] hariombalhara opened #3738 "Installed apps not shown as installed on listing pages"
See https://www.loom.com/share/ce082f83bda9444e9ec0194f74e8ceb1

[2022-08-08 08:26] #3618 closed

[2022-08-08 08:29] hariombalhara opened #3739 "[CAL-165] Documentation: App Store - Tutorial for an example app which has it's own setup guide and pages."

[2022-08-08 08:29] om-ray commented on #3734
@hariombalhara Could i work on this?

[2022-08-08 08:30] hariombalhara commented on #3734
@om-ray That would be awesome !!

I am just waiting on @PeerRich to confirm if it makes sense to implement it.

[2022-08-08 08:32] om-ray commented on #3734
Great, ill start working on it as soon as he responds

[2022-08-08 08:38] PeerRich commented on #3734
yes, this is a bug. also I believe we don't wanna show the link by default unless you check the box "display on booking page"

can you test that?

<img width="305" alt="CleanShot 2022-08-08 at 10 37 51@2x" src="https://user-images.githubusercontent.com/8019099/183376340-d633bc89-4d1e-49db-afa8-d2300fd83132.png">

[2022-08-08 08:39] PeerRich commented on #3733
cc @sean-brydon

[2022-08-08 10:21] om-ray commented on #3734
@PeerRich I tested it and even when I checked the box "display on booking page" it still doesn’t show up on the /book page

https://www.loom.com/share/93c9a920e9a44386bc5f35b2bdad6105

[2022-08-08 10:42] xlincw0w commented on #3546
Hello there, i'm having the same problem users can book in a time where i'm already set busy (calendar used: outlook)

[2022-08-08 10:58] jdaviescoates commented on #2988
@alishaz-polymath yeah, seems that way.

I have another similar issue too, but not sure if it warrants a new issue or not?

Bookings that are cancelled via the Cal.com web app are not deleted from my Nextcloud CalDAV calendar.

[2022-08-08 11:01] alishaz-polymath commented on #2988
Hey @jdaviescoates thanks for the update. I think there's a general fix we might merge in early this week which might end up fixing this ticket itself, or at least help us speed up the fix for this.
As for the new issue you mentioned, please raise a new ticket and share 🙌

[2022-08-08 11:45] PeerRich commented on #3734
@sean-brydon

[2022-08-08 11:48] hariombalhara commented on #3734
@om-ray That's the bug you need to fix. /book page doesn't show the location no matter what. The previous page has correct implementation.

Also, I found a similar issue which can be fixed together with it. For a team event, team members are also not shown on /book page
https://www.loom.com/share/eadc3370fdb040ff924cc961e431ceca?from_recorder=1&focus_title=1

[2022-08-08 11:52] om-ray commented on #3734
@hariombalhara Ok, I'll start working on it asap

[2022-08-08 12:19] #3654 closed

[2022-08-08 12:23] matheusmuniz03 opened #3741 "Locations has the wrong display on AvailabilityPage"
### Issue Summary

The css for eventType.locations on the AvailabilityPage page is different from the others.

### Steps to Reproduce

Try to book a meeting that has a location and see that it is different from the others

![Captura de tela de 2022-08-08 09-18-36](https://user-images.githubusercontent.com/87545749/183416895-4ea70e81-25e9-4e58-b465-848a7cb8d1bd.png)

[2022-08-08 12:44] MatheusBeniniF commented on #3702
@PeerRich what do you think about this solution?
https://www.loom.com/share/fe67459f00a64775bd79cf72f8ae5cff

[2022-08-08 14:17] juliopiubello commented on #2660
Hi @CarinaWolli and @zomars

We would love to push a PR for this issue but we want to clarify a couple of items before:

In order to validate the custom fields marked as required by the user, we need to make a database request and check which ones are the required and give back an error if it is missing any (I don't think the zod schema can do this)
And also do the frontend validation

like we did

[2022-08-08 15:11] Udit-takkar commented on #3738
ok so installed property has been depreceated.
page like 'apps/riverside' are making api calls like
[code]
  to check if app has been installed and get installedCount. do you want something like this on `/apps` page? although i think this would be inefficient as it would require api calls for every app.

  is there any other method ?

[2022-08-08 15:41] Udit-takkar commented on #3741
done. thanks for reporting this

[2022-08-08 16:46] hariombalhara commented on #3738
Can't the server side logic that reads all the apps have installed status? It's just a property addition in that case

[2022-08-08 17:11] Udit-takkar commented on #3738
api folder is not public. so can't see what exactly happening on the server side

[2022-08-08 17:30] hariombalhara commented on #3738
api is not private api. It is web/pages/api, so you can totally check it out.

[2022-08-08 18:45] PeerRich commented on #3702
@Jaibles do we have mobile screens for this?

[2022-08-08 19:11] CarinaWolli opened #3745 "Test Workflow Button"
### Is your proposal related to a problem?

A user does not see what the reminder template or their custom template actually looks like in an email or SMS message.

### Describe the solution you'd like

Add  a 'Test workflow' button, that sends a test Email/SMS to the user

[2022-08-08 19:38] #3588 closed

[2022-08-08 19:40] Udit-takkar commented on #3738
oh okay got it.

just to be clear now what we need to here is a installedStatus property which is to be fetched something like this

[code]
      on `web/pages/apps/index.tsx` . we just have to getServerSideprops instead of getStaticProps because we want the page to personalised for every user and show buttons installed if installed.

      correct me if am wrong

[2022-08-08 19:44] zomars commented on #2660
Thanks for the input @juliopiubello the way I see it we can tackle frontend and backend with two different schemas. One for the frontend that just makes sure required fields are present. The backend one will be run on tRPC which has prisma in the context, there we can expand validation to the DB as mentioned and throw a 400 error if invalid.

[2022-08-08 20:17] zomars opened #3746 "Collective event where the attendees don't have any intersection in availability It should display as "Unavailable" but right now it just displays the availability of the first attendee"
This is a great improvement but there's also a new flaw that you may be aware of. If there's a collective event where the attendees don't have any intersection in availability It should display as "Unavailable" but right now it just displays the availability of the first attendee.

Is still way better than we currently have. We may follow up this in another issue.

Great work as always @emrysal 🙏🏽

[2022-08-08 20:17] #3575 closed

[2022-08-08 20:25] zomars opened #3747 "Desktop only: window buttons overlap"
Wow, this is great! NIT: I just happen to have the app window open very small and couldn't help to notice the window controls (close, maximize, minimize) overlap the first icon when smaller resolution styles kicks in.
<img width="970" alt="image" src="https://user-images.githubusercontent.com/467258/183498069-18da1933-8a89-4488-bbec-3efb78401005.png">

_Originally posted by @leog in https://github

[2022-08-08 20:56] Udit-takkar commented on #3702
https://user-images.githubusercontent.com/53316345/183512971-12205660-da89-485a-843e-a79730723490.mov

almost done

[2022-08-08 21:32] timowevel1 commented on #3674
Nothing changed, had setup a new instance with the latest, still only the video app

[2022-08-09 04:49] #3735 closed

[2022-08-09 05:20] hariombalhara commented on #3674
@timowevel1 Did you take the latest main? or the latest tagged release?

[2022-08-09 06:14] timowevel1 commented on #3674
I did git pull https://github.com/calcom/cal.com.
Yes will send the log soon

[2022-08-09 06:17] fastbone commented on #3674
everything fine for me again ....

git pull
yarn clean
yarn
yarn build
yarn run

all fine

[2022-08-09 06:30] timowevel1 commented on #3674
@fastbone When do you feed the database?
yarn workspace @calcom/prisma db-deploy

[2022-08-09 06:34] fastbone commented on #3674
i was just updating so i didn't do it but typically after "yarn"

[2022-08-09 06:46] timowevel1 commented on #3674
So you already hat these Apps in the database? I am doing a fresh install, no update

[2022-08-09 06:48] fastbone commented on #3674
no ... but it worked without "yarn workspace @calcom/prisma db-deploy"

[2022-08-09 06:58] timowevel1 commented on #3674
What I do:
git pull
yarn
yarn workspace @calcom/prisma db-deploy
yarn build

No apps

[2022-08-09 09:19] timowevel1 commented on #3674
@hariombalhara
`root@InvoiceNinja:/opt/cal.com/apps/web# yarn build
yarn run v1.22.19
$ next build
info  - Loaded env from /opt/cal.com/apps/web/.env
warn - axiom: Envvars not detected. If this is production please see https://github.com/axiomhq/next-axiom for help
warn - axiom: Sending Web Vitals to /dev/null
warn - axiom: Sending logs to console

./pages/api/auth/saml/token.ts
15:17  Warning: Un

[2022-08-09 09:24] sean-brydon commented on #3733
Good spot - will pick this up at some point :) Thank you

[2022-08-09 09:32] hariombalhara commented on #3674
Okay. I got the problem. You should run `yarn build` from the root of the repo. We use `turbo.json`which kicks in only when run from root.

[2022-08-09 09:54] emrysal commented on #1427
Closed as completed.

[2022-08-09 09:54] #1427 closed

[2022-08-09 09:56] emrysal commented on #3589
Removed assignees until we start work (as so not to block others that may want to pick this up before us @alishaz-polymath)

[2022-08-09 10:06] timowevel1 commented on #3674
That did the trick, thank you!

[2022-08-09 10:09] timowevel1 opened #3750 "/cancel and /success page: Buttons too small for long languages (German)"
Hey,

for me some buttons got the wrong size. The language is German.

/success page
![image](https://user-images.githubusercontent.com/25285295/183622887-e388dec5-28c6-4927-b2d3-3cbde6330049.png)

/success page
![image](https://user-images.githubusercontent.com/25285295/183623033-732a3909-8bab-4733-aad0-69729980ceef.png)

Same on official cal.com instance.

[2022-08-09 11:46] Udit-takkar commented on #3750
2nd image if i am not wrong is for add to calendar which has been fixed and merged but not pushed on production probably. https://github.com/calcom/cal.com/pull/3703

for 1st image i can't read the language but it looks it is this on success page

<img width="499" alt="Screenshot 2022-08-09 at 5 15 53 PM" src="https://user-images.githubusercontent.com/53316345/183639352-5e68e30e-ed4f-4849-99f0-aba

[2022-08-09 12:11] timowevel1 commented on #3750
@Udit-takkar It is german, got this wrong size on my selfhosted instance and on cal.com

[2022-08-09 12:28] timowevel1 commented on #3674
But still, the outlook app e.g. is missing

[2022-08-09 12:54] fastbone commented on #3674
Did you add the according config records to .env?

[2022-08-09 13:40] PeerRich commented on #3750
we're currently redesignign this screen to make it work for more languages.🙏

[2022-08-09 15:16] fastbone commented on #3674
https://github.com/calcom/cal.com#obtaining-microsoft-graph-client-id-and-secret

[2022-08-09 16:45] isaiahdahl opened #3755 "Can't get dynamic group booking to work. "Unavaliable: Some of the users in the group have currently disabled dynamic group bookings""
Found a bug? Please fill out the sections below. 👍

### Issue Summary

I'm not even 100% sure if this is a bug or not because I can't find documentation on how this part of the tool is actually suppose to work. But I can't get a dynamic group booking to work.

I'm running 1.8.4 self-hosted on railway.app

### Steps to Reproduce

Try going to https://cal.praisecharts.com/isaiah+devan
The page loads

[2022-08-09 17:23] #3668 closed

[2022-08-09 18:06] alannnc commented on #3722
I'm gonna close this, to my knowledge this was reported when we have an error on session with our magic link update. I can't no longer replicate this scenario.

[2022-08-09 18:06] #3722 closed

[2022-08-09 18:23] alannnc commented on #3723
@Jaibles @zomars
I'm reaching you two in order to clarify this scenario.
Right now the current scenario is this:

- An invited user creates his account and gets automatically assigned to his team.

If he tries to create a new account from our signup, the email already exist as inviting a new user would create a passwordless user, thus he receives an error there.

Should we leave this as it is? Or

[2022-08-09 18:23] #3702 closed

[2022-08-09 21:52] timowevel1 opened #3758 "Outlook issues when checking double bookings"
Hey,

when I enable, that cal should check if I dont got an other appointment at the time the user tries to book a slot, I receive an error:
![image](https://user-images.githubusercontent.com/25285295/183768222-f5241837-d13d-49aa-8a34-3145fb4b244b.png)

"Appointment could not be booked. Cannot read properties of undefined (reading 'toString')"

But: The appointment gets added to my calendar in out

[2022-08-09 23:12] #3658 closed

[2022-08-10 08:38] andreasklinger opened #3763 "Improve rescheduling between 2 Cal.com users"
### Is your proposal related to a problem?

- A requester schedules an event using my cal.com link.
- I, as host, would like to reschedule.
- Currently i have to ask the requester themselves to reschedule via my cal.com reschedule link
- This is frustrating and disrespectful of their time
   - if rescheduling is short-notice (eg day before) its also frequently unreliable
   - forcing me to first c

[2022-08-10 08:58] Jaibles opened #3764 "2.0 Event Types Individual {View}"
[Designs in Figma →](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=1413%3A65854)

![Image](https://user-images.githubusercontent.com/4536123/185591785-3867fba5-45ff-4de5-a553-efa27baaa051.png)

[2022-08-10 09:00] Jaibles opened #3765 "2.0 Event Types / Single {View}"
[View in Figma →](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=1413%3A65854)

This is a big one with multiple tabs. It's likely we may create separate issues for this.

- [x]  [Event setup](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=1413%3A66246)
- [ ] [Availability](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-

[2022-08-10 09:01] Jaibles opened #3766 "2.0 Bookings {View}"
[View in Figma →](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=1413%3A65855)

![Image](https://user-images.githubusercontent.com/4536123/185592107-f049069d-390b-4c30-923f-5d9ebf9ce4ea.png)

[2022-08-10 09:02] Jaibles opened #3767 "2.0 Booking / Single {View}"
[View in Figma →](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=14383%3A104294)

![Image](https://user-images.githubusercontent.com/4536123/185592157-3caf4ead-8dec-4346-9e2e-e26e1f40b6ff.png)

[2022-08-10 09:04] Jaibles opened #3768 "2.0 Public booking page / Individual {View}"
[View in Figma →](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=15295%3A119035)

![Image](https://user-images.githubusercontent.com/4536123/185592230-9bd5e983-07f8-406c-b31d-73131181616c.png)

[2022-08-10 09:08] Jaibles opened #3769 "2.0 Public booking page / Team / Members {View}"
[View in Figma →](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=15295%3A119046)

![Image](https://user-images.githubusercontent.com/4536123/185592276-2eaeb282-ec8f-40a0-8143-651373cb4fbe.png)

[2022-08-10 09:09] Jaibles opened #3770 "2.0 Public booking page / Team / Event Types {View}"
[View in Figma →](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=15295%3A119046)

![Image](https://user-images.githubusercontent.com/4536123/185592316-663b5257-6fda-46de-8c16-46a7050cc8a2.png)

[2022-08-10 10:26] Jaibles opened #3771 "2.0 Public booking page / Individual / Calendar → Timeslots → Enter details {flow}"
[View in Figma →](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=14375%3A107612)

![Image](https://user-images.githubusercontent.com/4536123/185592630-f4388af4-a774-4e4a-b760-d3eab29f1d9b.png)

[2022-08-10 10:27] Jaibles opened #3772 "2.0 Public booking page / Team / Calendar → Timeslots → Enter details {flow}"

[2022-08-10 10:31] Jaibles opened #3773 "2.0 Availability {View}"
[View in Figma →](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=1413%3A75088)

![Image](https://user-images.githubusercontent.com/4536123/185593730-85c817e2-9d50-441a-9eea-934050d6dca3.png)

[2022-08-10 10:33] Jaibles opened #3774 "2.0 Availaibility / Single {View}"
[View in Figma →](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=15301%3A121157)

![Image](https://user-images.githubusercontent.com/4536123/185593783-4c34077c-a0f4-459e-8952-061f0ceb53ad.png)

[2022-08-10 10:36] Jaibles opened #3775 "2.0 Availability / Single - View & Edit which events it's "Active on" {New feature}"
[View in Figma](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=14084%3A98429)

![Image](https://user-images.githubusercontent.com/4536123/185594236-aa754f68-fa17-470b-b523-5b8439ee7b6c.png)

[2022-08-10 10:40] Jaibles opened #3776 "2.0 Event types / w/Team {View}"
[View in Figma →](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=13574%3A90404)

[2022-08-10 10:46] Jaibles opened #3777 "2.0 Apps / App Store {View}"
[View in Figma →](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=1413%3A76790)

![Image](https://user-images.githubusercontent.com/4536123/185592786-c3ba750a-91e8-4ccb-9513-a28a7a218099.png)

[2022-08-10 10:47] Jaibles opened #3778 "2.0 Apps / App Store / Category {View}"
[View in Figma →](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=13429%3A85919)

![Image](https://user-images.githubusercontent.com/4536123/185594282-9d3b60f7-2404-4914-b264-a2cb66eea54e.png)

[2022-08-10 10:49] Jaibles opened #3779 "2.0 Apps / App Store / Singe App {View}"
[View in Figma ](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=13319%3A80442)

![Image](https://user-images.githubusercontent.com/4536123/185753889-8b219902-65c0-4221-9384-f762f8e7ce39.png)

[2022-08-10 10:51] Jaibles opened #3780 "2.0 Apps / Installed Apps"
[View in Figma](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=1440%3A65827)

![Image](https://user-images.githubusercontent.com/4536123/185592862-998bf670-4f1f-4f13-8435-26d056eda520.png)

[2022-08-10 10:51] Jaibles opened #3781 "2.0 Apps / Installed Apps / Edit Individual App {Flow}"
[View in Figma](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=13315%3A78702)

[2022-08-10 10:53] Jaibles opened #3782 "2.0 Apps / Installed Apps {Empty States}"
[View in Figma](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=1703%3A80892)

[2022-08-10 10:56] Jaibles opened #3783 "2.0 Settings / My Account {View}"
[View in Figma](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=1318%3A71318)

![Image](https://user-images.githubusercontent.com/4536123/185592908-bcbc726c-4f7b-4468-840d-234c504ef291.png)

[2022-08-10 11:00] Jaibles opened #3784 "2.0 Settings / Security {View}"
[View in Figma](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=1562%3A71532)

[2022-08-10 11:00] Jaibles opened #3785 "2.0 Settings / Billing {View}"
[View in Figma](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=1562%3A71978)

[2022-08-10 11:02] Jaibles opened #3786 "2.0 Settings / Developer {View}"
[View in Figma](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=1564%3A71725)

[2022-08-10 11:04] Jaibles opened #3787 "2.0 Empty states"

[2022-08-10 11:06] Jaibles opened #3788 "2.0 Event Types / Embed {Flow}"
[View in Figma](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=1413%3A112136)

[2022-08-10 11:07] Jaibles opened #3789 "2.0 Event Types / Single / Teams Scheduling Type Tab {View}"
[View in Figma](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=13992%3A99534)

[2022-08-10 11:09] Jaibles opened #3790 "2.0 Event Types with Team {View}"
[View in Figma](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=13574%3A90404)

![Image](https://user-images.githubusercontent.com/4536123/185591859-24e65c31-a9c0-49e7-bda8-96bea860bacd.png)

[2022-08-10 11:23] Jaibles opened #3791 "2.0 Workflows {View}"
[View in Figma](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=13385%3A113555)

[2022-08-10 11:24] Jaibles opened #3792 "2.0 Workflows / Create new {flow}"
[View in Figma](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=13461%3A104448)

[2022-08-10 11:25] Jaibles opened #3793 "2.0 Workflows Empty State {View}"
[View in Figma](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=13385%3A113560)

[2022-08-10 11:26] Jaibles opened #3794 "2.0 Routing Forms {View}"
[View in Figma](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=15090%3A112283)

[2022-08-10 11:27] Jaibles opened #3795 "2.0 Routing Forms / Single {View}"
[View in Figma ](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=15090%3A112272)

[2022-08-10 11:30] Jaibles opened #3796 "2.0 Sign in {View}"
[View in Figma](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=15301%3A134828)

![Image](https://user-images.githubusercontent.com/4536123/185593144-05f2fd87-314f-40fb-a69e-fabd9d6185f2.png)

[2022-08-10 11:32] Jaibles opened #3797 "2.0 Create Account {View}"
[View in Figma](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=15301%3A134845)

![Image](https://user-images.githubusercontent.com/4536123/190342610-f6ab4a63-7517-4687-bb27-f2951a0be5d9.png)

[2022-08-10 11:33] Jaibles opened #3798 "2.0 Create Account / Onboarding {Flow}"
[View in Figma](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=15301%3A134865)

[2022-08-10 11:48] timowevel1 commented on #3674
Do I need to run anything for that to appear?

[2022-08-10 11:52] fastbone commented on #3674
cd packages/prisma
yarn seed-app-store

restart

[2022-08-10 12:42] timowevel1 commented on #3674
![image](https://user-images.githubusercontent.com/25285295/183903821-070b75e6-b492-4061-912f-ee026c7dc171.png)

Restarted, no outlook app. I think cal hates me. MS_GRAPH_CLIENT_ID and MS_GRAPH_CLIENT_SECRET is set.

[2022-08-10 13:03] joeauyeung opened #3799 "No connected calendar badge appearing beside every event type"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Currently no destination calendars are assigned to a specific event type so the "No connected calendar" badge is appearing beside every event type.

![image](https://user-images.githubusercontent.com/65426560/183908187-9a69d95f-c753-4259-9891-90ec6e53c773.png)

[2022-08-10 14:31] Udit-takkar commented on #3780
@Jaibles  can you assign this to me?

[2022-08-10 14:34] G3root commented on #3738
If no one is assigned I like to take on this issue

[2022-08-10 15:59] PeerRich commented on #3674
reopening. @hariombalhara maybe you can give this a look?

[2022-08-10 17:17] timowevel1 commented on #3674
![image](https://user-images.githubusercontent.com/25285295/183975656-0d6a218e-ce04-44d8-9521-6b2997a863a5.png)
Its in my db

[2022-08-10 18:50] shirazdole opened #3801 "Conflicting Sales Links"
### Issue Summary

Cal.com/shiraz/sales is somehow merging with cal.com/team/cal/sales.
<img width="310" alt="CleanShot 2022-08-10 at 08 49 01@2x" src="https://user-images.githubusercontent.com/16177678/183993329-4cba6c15-dab7-47fb-a567-1296d566fafe.png">

<img width="296" alt="CleanShot 2022-08-10 at 08 49 08@2x" src="https://user-images.githubusercontent.com/16177678/183993365-2d21f397-f032-4290

[2022-08-10 19:13] #3736 closed

[2022-08-10 19:46] tootshani opened #3802 "invite title bug"
invite title comes out with template fields vs. customized
![Screenshot_20220810-013108_Calendar](https://user-images.githubusercontent.com/30983122/184006592-5258f624-633b-42ff-9f99-f1ef5ed11753.jpg)

[2022-08-10 20:14] CarinaWolli opened #3803 "Issues with number of occurrences of recurring events"
### Issue Summary

1. Should show 5 here:
<img width="475" alt="Screenshot 2022-08-10 at 16 07 54" src="https://user-images.githubusercontent.com/30310907/184010851-a4bc232a-86e3-4b35-97dd-5bcda1ce0977.png">

2. It should be every 2 weeks for 5 occurrences here:
<img width="242" alt="Screenshot 2022-08-10 at 16 33 16" src="https://user-images.githubusercontent.com/30310907/184014612-62a19375-8c6e-

[2022-08-10 23:22] agustif commented on #3801
I believe the problem comes from here

The thing is the page for /user/event-type-slug

search any events the user is member of, in users, not only their own owned events

if that makes sense

so since your user shiraz is also a member of the cal ‘sales’ event when you visit shiraz/sales, it finds that event, and thinks it’s that one

We have a problem of not having unique slugs for event-types gl

[2022-08-11 00:53] #3389 closed

[2022-08-11 03:34] hariombalhara commented on #3674
So, the situation so far is that apps are being seeded to DB. That was the first problem and it is taken care of.
Now, even though the Outlook App is in DB, it is not showing up in the App Store.

@timowevel1 Am I correct in my assessment of the situation right now?
If yes, can you tell me if there is any other app that is missing in your App Store but is there in [Cal.com App Store ](https://app.

[2022-08-11 03:49] hariombalhara commented on #3738
@Udit-takkar I didn't know it was using getStaticProps. There are two options now:
- One that you mentioned where we move it to getServerSideProps and make the page render again and again for all users/
-  We keep it static only and using a single separate query we update the installation status later for all apps.(till it's updated we can keep a skeleton loader running in place of **Add** button,

[2022-08-11 03:49] hariombalhara commented on #3738
@G3root I guess @Udit-takkar is working on it.

[2022-08-11 07:22] timowevel1 commented on #3674
@hariombalhara It gives me a 404.
![image](https://user-images.githubusercontent.com/25285295/184083285-e505e2af-6725-4370-ab10-8641611efd2b.png)

Yes, you are correct.
These are the apps I see:
![image](https://user-images.githubusercontent.com/25285295/184083347-e8e78dc1-3a94-4dee-b931-066330736f48.png)

[2022-08-11 08:36] Jaibles opened #3806 "2.0 Event Types {Empty State}"
[View in Figma](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=15302%3A117356)

[2022-08-11 08:46] hariombalhara commented on #3674
Well, this is super strange. I tried adding office 365 env vars with random values and I can still see the app.

Can you give me the complete row for office365-calendar from DB?
It would really help if you can put logs at all places where it returns `notFound:true` here https://github.com/calcom/cal.com/blob/main/apps/web/pages/apps/%5Bslug%5D/index.tsx#L101

- We know that it's in DB
- We know th

[2022-08-11 09:38] timowevel1 commented on #3674
@hariombalhara
I will try a complete reinstall later, maybe there went anything wrong. I will keep you updated.

[2022-08-11 12:32] aspiers commented on #2054
I'm not sure I understand the above description very well, but isn't it an _exact_ duplicate of #3167?  @mountainsandcode Please can you confirm that you are asking for the ability for cal.com to import availability from ICS feed URLs, rather than for cal.com to export an ICS feed?

[2022-08-11 12:36] aspiers commented on #3167
Yes, there are many platforms which export availability via ICS URLs.  My guess for the reported low number of people requesting it is that it's the kind of feature which won't occur to most people as useful until they actually see it implemented.  IMHO the ubiquity of ICS as a well-adopted standard makes this a very desirable feature for growing the platform.

I guess it would be fine as an app.

[2022-08-11 12:56] milospuac commented on #3802
Hi there

To dynamically display the name of your attendee and you as a host it goes the other way around: {HOST/ATTENDEE}

[2022-08-11 13:18] mountainsandcode commented on #2054
@aspiers Indeed there is some overlap, though #3167 was raised later so one could say that one is the duplicate ;) In any case, doesn't matter which issue we are tracking this under :) Happy to close this one as the other one is perhaps more active/ documented.

I would fully agree with @real-or-random's suggestion - I think the behaviour should be the same regardless of whether we are considering

[2022-08-11 13:27] aspiers opened #3810 "FR: export aggregated calendars as ICS feeds, to improve accuracy of external systems"
(Please note that the description below uses Google just as an example, but there is nothing specific to Google about this feature request.)

## Problem description

I have several Google accounts, some for work, some for personal use.  Each has multiple calendars.  If a work colleague wants to book me for a work meeting, they currently have two choices:

1. Book my time through the work GSuite Ca

[2022-08-11 13:31] jamespfarrell commented on #3810
I strongly agree that these would be valuable features

[2022-08-11 14:28] dezerb commented on #3460
Hi @hariombalhara
there is the solution https://github.com/calcom/cal.com/pull/3811
https://www.loom.com/share/19c0b6a0fa5047abb456c502daa8308d
the question is if the user should be blocked only on frontend side or also on backend/db (unique constraint)

[2022-08-11 15:09] Udit-takkar commented on #3803
can you tell how to reproduce this?

It is displaying correct to me.

<img width="474" alt="Screenshot 2022-08-11 at 8 38 10 PM" src="https://user-images.githubusercontent.com/53316345/184166426-733b5df2-dfe0-4884-a7bb-397e289b9dcd.png">

[2022-08-11 17:16] #3076 closed

[2022-08-11 17:20] Udit-takkar commented on #3738
Tried the second approach.
do you want to display only installed and add or all other buttons like in /apps/jitsi. ( Globally installed, Add another for multiple installs allowed app) .

<img width="1419" alt="Screenshot 2022-08-11 at 10 44 11 PM" src="https://user-images.githubusercontent.com/53316345/184193808-9587fdcd-c971-452a-b2b7-068c70291a00.png">

[2022-08-11 18:39] CarinaWolli commented on #3803
1. Create an event type that repeats every week with max. 12 occurrences
2. Book the recurring event with 5 occurrences
3. Now my success page says:
Every week for 12 occurrences, instead of every week for 5 occurrences

@Udit-takkar Let me know if you can reproduce it

[2022-08-11 21:32] leog commented on #3633
Update: Now that Close.com app is finished (PR pending here: #3709) I have a pretty good idea on how to handle it for our Sync Services to handle the requirements of this issue. I'm working implementing what's needed in #3814 which will be expanded to work with HelpScout and Sendgrid.

[2022-08-11 23:26] agustif opened #3816 "Ask for password before account deletion"
### Issue Summary
Currently a logged in user can delete it's account without asking for credentials again before confirming so.

[2022-08-12 01:07] agustif opened #3819 "Rate limiting"
### Issue Summary
Rate limit needed  #3820 will fix this

[2022-08-12 04:36] ZHconsultores commented on #3431
Fresh install here, Zoom shows in 'App' table with proper 'key' on the DB (loaded from .env when docker image was build) but doesn't show in 'App Store' web page either. Also Microsoft Teams doesn't show (keys are loaded in DB) Any update on this?

[2022-08-12 05:02] hariombalhara commented on #3460
It should be on the backend as well(because we provide API access as well).

[2022-08-12 05:03] hariombalhara commented on #3738
I guess for now installed is okay. If user want's do another install he can go to the app specific page and do it from there.

[2022-08-12 06:30] dezerb commented on #3460
Ok, then I Introduced an index on db schema.

[2022-08-12 10:49] Jaibles opened #3822 "[CAL-90] Event Types Single / Allow multiple physical locations"
Right now people can enter multiple video conferencing options and allow people to choose from them, but they can only add one physical location. People should be able to add multiple physical locations and allow the booker to choose.

![Image](https://user-images.githubusercontent.com/4536123/184340054-be2c4b5b-86a0-41b0-9897-71dc592731af.png)

![Image](https://user-images.githubusercontent.com/4

[2022-08-12 10:54] emrysal commented on #3046
Closing this as it's not the same as #3531 and it cannot be reproduced.

[2022-08-12 10:54] #3046 closed

[2022-08-12 11:42] emrysal commented on #3143
Closed as fixed

[2022-08-12 11:42] #3143 closed

[2022-08-12 17:15] Udit-takkar commented on #3803
Ok i am able to reproduce it now

[2022-08-12 18:18] #3396 closed

[2022-08-12 18:31] om-ray commented on #3734
@PeerRich @hariombalhara Could I get a review on PR #3762?

[2022-08-12 18:38] shirazdole opened #3826 "Bug with Console on Deployment"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When trying to finish setup for a deployment on console.app.com (step 2) there is an error message that prevents me from going further: "Cannot delete properly 'rejectOnNotFound' of #<Object>"

### Steps to Reproduce

@agustif has reproduced already

https://app.birdeatsbug.com/sessions/VeEuGID3TBDZ21wyohFkLcJKJ7c-FyEyQdjbQWL3Q

[2022-08-12 18:39] shirazdole commented on #3826
@agustif could you add lables please

[2022-08-12 19:29] #3409 closed

[2022-08-12 19:59] ropic commented on #2618
Same problem v1.8.4 :(

[2022-08-12 22:17] shirazdole opened #3830 "Consistency of Avatars on Collective Event Booking Pages"
### Issue Summary

Notice how all three are shown on the right
<img width="966" alt="CleanShot 2022-08-12 at 15 13 55@2x" src="https://user-images.githubusercontent.com/16177678/184451561-9b485546-50eb-4975-88e2-327475447c99.png">

Then it's only two
<img width="295" alt="CleanShot 2022-08-12 at 15 14 01@2x" src="https://user-images.githubusercontent.com/16177678/184451555-7bb90e98-034b-4602-852c-

[2022-08-12 22:18] shirazdole commented on #3830
cc @Jaibles @alannnc (I can't tag btw, still not invited back yet so can someone please tag for me)

[2022-08-13 09:35] CodingRockz opened #3834 "Self hosting - singup pointint to localhost:3000"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

A summary of the issue. This needs to be a clear detailed-rich summary.

### Steps to Reproduce

1. Installed the self hosting on a server
2. brought up the main auth login page
3. clicking on singup link is pointing to localhost:3000

This link should be from WEB_APP URL from .env? but it is hard pointing to localhost. I have

[2022-08-13 10:08] hariombalhara opened #3835 "[CAL-934] Reschedule doesn't send email if calendar was disconnected during the first booking but is connected during reschedule"
Steps:
1. Make sure no calendar is connected
2. Book a meeting. Email would go. You won't see in calendar. It is fine
3. Connect a calendar
4. Reschedule the booking. Email would not go. It won't be in calendar.

Expectation
- It should be in calendar. But reschedule email must go.

This is an error that I saw
<img width="1180" alt="Screenshot 2022-08-13 at 3 39 07 PM" src="https://user-images.git

[2022-08-13 11:04] #3559 closed

[2022-08-13 11:04] #3619 closed

[2022-08-13 14:35] timfee commented on #2632
Hi there, I'm also seeing this. I'm in the US, where 12-hour time is the default, and I have configured 12-hour time as well, yet the public booking page is still showing 24-hour time.

<img width="911" alt="Screenshot_2022-08-13_07-08-06_PmPq1RRr" src="https://user-images.githubusercontent.com/3246342/184498856-3d0215c1-03e7-417d-91c7-8ffd8ce3a248.png">
<img width="1093" alt="Screenshot_2022-08-1

[2022-08-13 15:19] Udit-takkar commented on #3717
can you provide some more details about this required app?

[2022-08-14 10:05] om-ray commented on #3797
@Jaibles Could you assign this to me?

[2022-08-14 10:55] om-ray commented on #3806
@Jaibles Could i work on this?

[2022-08-14 15:36] Udit-takkar opened #3841 "search Icon not centered in side bar"
<img width="57" alt="Screenshot 2022-08-14 at 9 06 02 PM" src="https://user-images.githubusercontent.com/53316345/184544307-c21c0561-8d85-425b-8edc-75802b6b634e.png">

[2022-08-14 17:02] timowevel1 commented on #3674
A reinstall fixed it. So I guess there was anything wrong with the yarn build run

[2022-08-14 17:02] #3674 closed

[2022-08-14 17:21] emrysal opened #3842 "Copy of timeslot no longer shows dropdown"
Reported by Johannes

![image](https://user-images.githubusercontent.com/1046695/184547918-35ebce7f-f319-40ef-8dbe-833aa57bb4a1.png)

[2022-08-14 18:23] Udit-takkar commented on #3803
for 2nd image i think the issue is it takes some time to get the actual count . when i scroll the count get updated to correct value

https://user-images.githubusercontent.com/53316345/184549915-449222f5-8f46-4200-b616-ff8fba94176c.mov

[2022-08-14 18:27] Udit-takkar commented on #3803
i don't get the 3rd one. how did you create an unconfirmed recurring event?

[2022-08-14 18:31] Udit-takkar opened #3845 "Past bookings are cancellable"
i am able to cancel past bookings. is this a bug or expected behavior?

https://user-images.githubusercontent.com/53316345/184550214-9dd61978-c6f0-47be-8bc7-d760e8387051.mov

[2022-08-14 19:26] Udit-takkar opened #3847 "Timezone dropdown not getting closed when clicked outside"
in /user/[type]

https://user-images.githubusercontent.com/53316345/184551841-fcc4ac5e-894d-4052-82b5-98301934b37a.mov

[2022-08-14 19:35] timowevel1 opened #3848 "Slot doesnt get reavailable after canceling"
### Issue Summary

After a Slot gets booked and canceled (either by the host or participant who booked the slot) it doesnt get reavailable, it stays unavailable.

### Steps to Reproduce

1. Open booking page
2. Schedule meeting
3. Cancel meeting
4. Check available timeslots

Any other relevant information. For example, why do you consider this a bug and what did you expect to happen instead?

The

[2022-08-14 19:40] timowevel1 opened #3849 "Canceled appointment doesnt get removed in outlook calendar"
### Issue Summary

An appointment which got booked and canceled afterwards doesnt get removed from the connected outlook calendar.

### Steps to Reproduce

1. Book a meeting
2. Cancel the meeting
3. Check outlook calendar

Any other relevant information. For example, why do you consider this a bug and what did you expect to happen instead?

Appointment should get removed from the calendar, else it

[2022-08-14 19:40] #3848 closed

[2022-08-15 06:47] hariombalhara opened #3852 "Improvement: Make locations dropdown searchable"
Locations dropdown is not searchable
![image](https://user-images.githubusercontent.com/1780212/184588967-b175bc57-182d-4a57-b6ff-70df68c6cbc1.png)

[2022-08-15 06:59] milospuac commented on #3849
Thanks for reaching out. Our team will investigate this.

[2022-08-15 10:49] CodingRockz opened #3853 "Collective checkForAvailability incorrect on self hosted"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

A summary of the issue. This needs to be a clear detailed-rich summary.

Individual availability and booking of 1-on-1 meetings are accurate based on individual availability. However when these individuals are part of a team and a team event is scheduled as a collective event, the group availability shows no output.

### Steps

[2022-08-15 10:51] CodingRockz commented on #3834
Issue fixed by doing a rebuild.

[2022-08-15 10:51] #3834 closed

[2022-08-15 13:25] CodingRockz opened #3854 "Microsoft Teams No invite link in email - Self Hosted"
### Issue Summary

We are using Cal.com on a self hosted instance.

The email invites do not have any MS Teams invite or URL. The location shown is "Office365_Video".

### Steps to Reproduce

1. Cal.com self hosted
2. Add Office365 Teams app
3. Create an event with location as MS Teams
4. Book a meeting and receive invite with no MS Teams link

[2022-08-15 14:40] Jaibles opened #3855 "2.0 Select / Datepicker {Component}"
The simple datepicker (not the one from the public booking page)

[View in Figma](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=13738%3A97458)

[2022-08-15 14:42] Jaibles opened #3856 "2.0 Single & Mult-Select + Dropdown {Component}"
[Select in Figma](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=385%3A33491) | [Select Dropdown in Figma](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=1388%3A67631)

![Image](https://user-images.githubusercontent.com/8019099/185884315-3678abdf-da1d-4bb2-8876-0e197ff7919a.png)

[2022-08-15 15:32] yanickrochon commented on #1221
After performing `signOut`, I get this from my sign-in page. Whatever value is being read, it's not there (i.e. `undefined`) and it should default to `null` to fix this error. Unfortunately, the `getCsrfToken` function does not specify what value is being used from the `IncomingMessage` argument.

This is clearly **not** "completed" as this issue seems to indicate.

[2022-08-15 17:35] JatinRanka commented on #3852
@hariombalhara I would like to contribute to this issue.

[2022-08-15 17:35] hariombalhara commented on #3852
@JatinRanka sure go ahead

[2022-08-15 18:03] #3842 closed

[2022-08-15 19:18] #3852 closed

[2022-08-15 19:35] #3741 closed

[2022-08-15 19:52] #3531 closed

[2022-08-15 19:52] #3830 closed

[2022-08-15 20:18] #3357 closed

[2022-08-15 20:45] #2619 closed

[2022-08-15 22:04] timfee commented on #3799
+1

<img width="453" alt="Screenshot_2022-08-15_15-08-48_GlF7sPGQ" src="https://user-images.githubusercontent.com/3246342/184726224-822ffc42-f2e1-4437-8d6a-fa2c78b9971d.png">

[2022-08-15 22:31] #3841 closed

[2022-08-16 04:18] #2618 closed

[2022-08-16 08:18] mocherfaoui commented on #3733
hey @sean-brydon can you review my PR?
Thank you!

[2022-08-16 09:56] alishaz-polymath opened #3863 "Normal booking requiring dynamic group booking to be ticked"
![image](https://user-images.githubusercontent.com/52925846/184852144-53d71856-294e-4350-98f0-57084d0dee51.png)

Users need to have allow dynamic booking ticked in order for them to be booked normally as well.

[2022-08-16 11:36] nightsailor opened #3867 "Vercel Deployment Error"
### Issue Summary

Deployment error when trying to deploy on vercel. Please correct me if I am deploying it on vercel the wrong way or I am missing anything.
Thanks!

### Steps to Reproduce

1. Fork the repository
2. Import it on vercel
3. Added the following settings to Vercel:
- Environment variables: NEXTAUTH_SECRET, DATABASE_URL, CALENDSO_ENCRYPTION_KEY, NEXT_PUBLIC_WEBAPP_URL, NEXTAUTH_URL, C

[2022-08-16 11:55] PeerRich commented on #3799
didnt we remove this @zomars ?

[2022-08-16 12:51] Jaibles commented on #3771
Will close this issue: https://github.com/calcom/cal.com/issues/3750

[2022-08-16 12:52] Jaibles commented on #3750
Will be tackled in 2.0

[2022-08-16 12:52] Jaibles commented on #3750
Will be tackled in 2.0

[2022-08-16 12:52] #3750 closed

[2022-08-16 13:21] Jaibles commented on #3425
Will be closed by https://github.com/calcom/cal.com/issues/3793

[2022-08-16 13:21] #3425 closed

[2022-08-16 13:24] noobyogi0010 commented on #3793
@Jaibles I'm halfway to its implementation. I'll raise a PR against this issue.
Thanks!

[2022-08-16 13:27] Jaibles commented on #3535
@shirazdole we're definitely on the same page here. It should automatically create events on your default calendar. You should not have to do anything in the event type settings. I suspect this is just an issue where that dropdown is not showing your default. If it's in fact a bug where no calendar is selected this is worse and should be reported as a critical bug.

[2022-08-16 13:31] Jaibles commented on #3765
@sean-brydon can you make sure we fix this issue when in here (skip to my comment at the end).
https://github.com/calcom/cal.com/issues/3535

[2022-08-16 13:35] Jaibles commented on #3746
Closed by https://github.com/calcom/cal.com/pull/3742#pullrequestreview-1065738876

[2022-08-16 13:35] #3746 closed

[2022-08-16 16:43] zomars commented on #3799
Seems like got replaced on prod deploy

[2022-08-16 17:09] shirazdole commented on #3723
@alannnc apologies just seeing this, I think this is the scenario:
- User creates an account or already has an account
- User is invited to join a team
- User should have the ability to accept or reject
- Bug: User does not have ability to accept or reject, user is automatically added to the team
- Therefore, user should always have the option to accept or reject the team invitation

[2022-08-16 17:24] shirazdole opened #3872 "NEW Team Availability Bug not Pulling"
### Issue Summary

I’m not sure if this is affecting more than just our team (I assume so?), but our collective team links are not pulling the proper availability from both parties. [See Loom here explaining the first use case.](https://www.loom.com/share/5155781941c74e9593b370b8aaefc89d) — https://cal.com/team/cal/shiraz

It’s also not pulling in the normal availability for these links:

https://

[2022-08-16 17:24] shirazdole commented on #3872
cc @zomars and @emrysal to look into potentially 🙏

[2022-08-16 17:27] shirazdole commented on #3872
This is not the same as this issue: https://github.com/calcom/cal.com/issues/3575

[2022-08-16 20:40] shirazdole opened #3875 "[CAL-98] Improve Payments Page for Infra Customers"
### Issue Summary

Infra customers cannot cancel their plan on their own. Currently, they can only cancel their plan by emailing the team.

Can we add a billing page to the infrastructure page for customers to manage their payments?

[2022-08-16 20:44] shirazdole commented on #3875
cc @Jaibles as you think about the infra design

[2022-08-16 22:07] #3863 closed

[2022-08-17 02:07] CodingRockz commented on #3872
I have also witnessed the same issue in my self hosted testing. The collective team slot logic is flawed.

[2022-08-17 02:23] CodingRockz commented on #3872
Please Note: I already reported this in #3853. In some instances the array return for the collective team event type is empty. Some cases, it is showing incorrect limited slots which seem to vary depending on who is first in the team, similar to what @shirazdole has stated here.

[2022-08-17 03:30] gitstart commented on #2229
Hey @shengslogar! The issue is not reproducible anymore. Here's a video trying to reproduce the issue https://www.loom.com/share/d472bb6c080e4cf8b7f61551abd3fcc8
cc: @milospuac @Jaibles

[2022-08-17 07:32] Jaibles opened #3882 "BUG: TypeError cannot read properties of undefined…."
Receiving this error when visiting the App Store.
<img width="1450" alt="CleanShot 2022-08-17 at 08 29 03@2x" src="https://user-images.githubusercontent.com/4536123/185060484-c660e357-058e-4e51-8819-cb1fe7299f35.png">

Also experienced a similar error yesterday when on the settings page
<img width="1443" alt="CleanShot 2022-08-16 at 12 10 11@2x" src="https://user-images.githubusercontent.com/45361

[2022-08-17 08:45] Jaibles commented on #3872
<img width="1548" alt="CleanShot 2022-08-17 at 09 12 55@2x" src="https://user-images.githubusercontent.com/4536123/185075671-8fc6e754-78e1-4dbe-8b16-0aad53bf024d.png">

[2022-08-17 08:58] CodingRockz commented on #3872
My investigation shows a flaw in the workingHours object return for Team.

For example in my case:

User 1 individual calendar returns -
WorkingHours [{"days":[1,2,3,4,5],"startTime":60,"endTime":540}]

User 2 individual calendar returns -
WorkingHours [{"days":[1,2,3,5],"startTime":60,"endTime":450}]

Team Calendar where both User 1 and User 2 are in a collective Schedule -
WorkingHours [{"days":

[2022-08-17 12:58] PeerRich opened #3884 "can't cancel dynamic booking link"
https://app.birdeatsbug.com/sessions/SC-Thth6y88nY1k1YqFx8qd_r8mo-VSUmeJtZW9ezxVD?isInstantReplay=true

getting a 500

[2022-08-17 13:35] Jaibles commented on #2199
Designs updated here: https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=15827%3A123562

[2022-08-17 13:36] Jaibles commented on #3239
Closing as it's a duplicate of this: https://github.com/calcom/cal.com/issues/3239
Will link back to this request so we have the details above from @matthewlarkin

[2022-08-17 13:36] #3239 closed

[2022-08-17 13:36] Jaibles commented on #2199
Also requested here: https://github.com/calcom/cal.com/issues/3239

[2022-08-17 13:39] Jaibles commented on #2816
will be tackled as part of 2.0 https://github.com/calcom/cal.com/issues/3767

[2022-08-17 13:39] #2816 closed

[2022-08-17 19:02] PeerRich commented on #3826
@agustif do you know when this happens?

[2022-08-17 19:04] PeerRich commented on #3597
hey @CarinaWolli is the info i provided enough or do you need more context?

[2022-08-17 19:06] PeerRich commented on #2199
@emrysal this is marked as blocked, how can we help?

[2022-08-17 19:07] PeerRich commented on #3799
oh dear. can we re-fix this? @zomars

[2022-08-17 19:11] agustif commented on #3826
Hey this was due to a deprecation in prisma client!
Was fixed on this PR https://github.com/calcom/console/pull/27

[2022-08-17 19:11] #3826 closed

[2022-08-17 19:36] alannnc commented on #3647
No longer being reported to my knowledge.

[2022-08-17 19:36] #3647 closed

[2022-08-17 23:52] agustif opened #3894 "Tooltip requires TooltipProvider (Radix-UI upgrade)"
Found a bug? Please fill out the sections below. 👍

### Issue Summary
When going to deployments in console
<img width="1510" alt="image" src="https://user-images.githubusercontent.com/6601142/185263113-9f1eb30c-cd36-4531-a65d-aae21c7c84cb.png">
### Steps to Reproduce
Go to console > deployments, tooltip error pops.

[2022-08-18 02:54] CarinaWolli commented on #3597
@PeerRich  I think that's enough 👍 I just started preparing the first templates. I'll let you know if I end up needing some more context

[2022-08-18 08:41] Jaibles commented on #3334
@shirazdole what about something like this.... https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=16142%3A153134

[2022-08-18 10:13] AlessandroLorenzi opened #3895 "Migration `20220811234822_add_after_meeting_ends_trigger` fails"
### Issue Summary

The migration `20220811234822_add_after_meeting_ends_trigger` fails

### Technical details

Postgres version: 11.13

This is the Log:

[code]

[2022-08-18 12:26] eazyAlf commented on #1589
@milospuac I just reinstalled, updated and tested this again on three machines with different local settings, too. When you create a team and you create an event for that team, regardless of the settings of the admin/user that owns the team: week starts on sunday.

[2022-08-18 18:13] shirazdole commented on #3334
@Jaibles hell yes!!!!!!

[2022-08-18 19:36] PeerRich commented on #3164
@agustif were you able to test this again on staging?

[2022-08-18 19:36] PeerRich commented on #3164
this needs to work for 2.0

[2022-08-18 19:50] PeerRich commented on #3882
still ongoing?

[2022-08-18 19:51] PeerRich commented on #3723
i think this is expected behavior

[2022-08-18 19:51] #3723 closed

[2022-08-18 19:52] PeerRich commented on #3855
![Image](https://user-images.githubusercontent.com/8019099/185482671-1fe21da7-a6b7-4138-8e5a-9ce692d57f20.png)

[2022-08-18 19:58] PeerRich commented on #3799
i temporally removed this. its in `main` waiting to be merged into prod

[2022-08-18 19:58] #3799 closed

[2022-08-18 20:11] PeerRich commented on #3895
have you tried this? https://developer.cal.com/self-hosting/upgrading

[2022-08-18 20:48] leog commented on #3882
Can't repro, any special step before getting these errors @Jaibles?

[2022-08-19 06:22] om-ray commented on #3845
@PeerRich Is this a bug or should we be able to cancel past bookings?

[2022-08-19 06:31] aar2dee2 commented on #2744
Hi,
Is this open to work on?

[2022-08-19 08:23] Jaibles commented on #3882
@leog no unfortunately not. Can't reproduce today.

[2022-08-19 08:59] Jaibles commented on #2856
This is being tackled as part of the 2.0 redesign in these two issues.

- https://github.com/calcom/cal.com/issues/3783
- https://github.com/calcom/cal.com/issues/3765

[2022-08-19 08:59] #2856 closed

[2022-08-19 09:13] Jaibles opened #3901 "2.0 Feature Promotion in App Sidebar {Component}"
[View in Figma](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=16307%3A155271)

![Image](https://user-images.githubusercontent.com/4536123/185587092-78b344dc-36c7-40f2-a38a-594f55db5f30.png)

[2022-08-19 09:54] thedevale commented on #3895
Having the same issue, did everything, also upgraded to postgres 14

[2022-08-19 10:18] PeerRich opened #3903 "Cal Video disappears after adding & removing it"
see https://www.loom.com/share/4005435b37264dc38c90c287a721dce1

[2022-08-19 10:26] hariombalhara commented on #3903
I think it's a scroll issue. User doesn't think the list is scrollable, but it is. Unless he tried to scroll it but it wasn't scrollable.

See my attempt https://www.loom.com/share/e30e680b381a4ee692367e582b60350b at seeing Cal Video

[2022-08-19 10:27] hariombalhara commented on #3903
Also, with a recent change, the list is searchable as well now. So, we can just type Cal Video and it would show

[2022-08-19 10:29] PeerRich commented on #3438
just fyi why this has been open: it's hard to reproduce given its working on app.cal.com and we use the same code base. we're still investigating

[2022-08-19 10:29] PeerRich commented on #3438
one thing: make sure you have an active Google Calendar connection. Google Meet needs Google Calendar active

[2022-08-19 10:51] PeerRich commented on #3895
@CarinaWolli this looks like your migration afaik. not sure if its related to `20220811234822_add_after_meeting_ends_trigger`

[2022-08-19 10:52] PeerRich commented on #3895
what version are you on?

[2022-08-19 10:52] alishaz-polymath commented on #3589
I've identified exactly where the issue is, the ICAL parser is unable to parse the CalendarObject data (ICalstring) because of the apparent incompatibility between the two items.
The ICAL parser expects data like:
[code]

While the data provided by TSDAV's `fetchCalendarObjects` function has the following structure:
[code]

In other words, the expected input for the `ICAL.parse()` function is a we

[2022-08-19 10:53] PeerRich commented on #3845
a bug. but seems low priority

[2022-08-19 11:01] alishaz-polymath commented on #3589
Just replacing all the `\r` with `\r\n` now fixes this initial incompatibility issue but reveals even more incompatibility in the code. Work in progress ⛑️

[2022-08-19 12:16] popcorn commented on #1291
@ChipWolf @baileypumfleet - I managed to make it work.

Check out https://schedule.fama.so/drago/15min

[2022-08-19 12:38] baileypumfleet commented on #1291
@popcorn could you share your method of doing this?

the only limitation is that I can do schedule.fama.so/bailey for instance and pull up my own link on there, whereas some users would prefer for it to only pull up their own or their teams links

[2022-08-19 12:38] popcorn commented on #1291
I can fix that.

[2022-08-19 14:40] popcorn commented on #1291
@baileypumfleet - try it now

[2022-08-19 15:39] baileypumfleet commented on #1291
Yeah this works great

[2022-08-19 16:17] sydwardrae opened #3907 "“add another calendar” button"
### Is your proposal related to a problem?

 this is definitely not intuitive at all I feel like. I just went in to see how to add another calendar on for an event type, and it took me 5ever to realize that I had to go to the app store, and add it from there.

### Describe the solution you'd like

even if it just reroutes to the calendar section of the app store there should be something under thi

[2022-08-19 16:24] sydwardrae opened #3908 "24 hr time format not showing for external bookers"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Tested this with a customer that complained about it.

### Steps to Reproduce

go to cal.com/sydney, and  https://cal.com/joshmcbride/ see that the time isn't showing in 12 hr time format even though it's set in settings.

Any other relevant information. For example, why do you consider this a bug and what did you expect to hap

[2022-08-19 17:46] PeerRich opened #3910 "team owner should see all team bookings in /bookings"
pretty self explanatory

[2022-08-19 18:06] mrkirchner commented on #2381
Also seeing this when trying to deploy to Digital Ocean's App Platform.  According to DO  they have a combined RAM/disk 8gb limit.  I generally hit this limit when it build hits the  Linting and checking validity of types.  Not sure if there is anything that can be done.

[2022-08-19 22:14] Udit-takkar commented on #3910
can i work on this ?

[2022-08-19 22:18] PeerRich commented on #3910
sure go for it! 🙏

[2022-08-19 22:24] Udit-takkar opened #3912 "create an account using prisma studio page is not present"
on /signup page clicking creating an account with prisma studio leads to https://docs.cal.com/self-hosting/installation ( page not found)

<img width="1440" alt="Screenshot 2022-08-20 at 3 53 39 AM" src="https://user-images.githubusercontent.com/53316345/185714698-21431400-b726-489e-a77c-ed4ebc378a52.png">

[2022-08-20 06:05] aar2dee2 commented on #3908
Hi @sydwardrae,
The toggle for time format appears when you click on the Timezone on the left

https://user-images.githubusercontent.com/85004512/185731453-3720e4ea-a1b6-4c57-ba06-d3606f16ea9a.mov

[2022-08-20 10:48] Udit-takkar commented on #3910
should the team owner be able to cancel/reschedule booking  (in which he is not an attendee) ?

<img width="1440" alt="Screenshot 2022-08-20 at 4 15 53 PM" src="https://user-images.githubusercontent.com/53316345/185742472-5b0ba8c9-ad95-4d29-a9ca-47d7b7d9c570.png">

[2022-08-20 10:55] Udit-takkar commented on #3910
or should we create another tab to display all the team bookings ?

[2022-08-20 12:58] Udit-takkar commented on #3719
working on this 👍

[2022-08-20 13:58] Jaibles opened #3915 "Allow me to Uninstall Google Meet & Cal Video"
Right now there's two apps in my Installed Apps page (Google Meet & Cal Video) that I can't uninstall.

Expectations
- To be able to to uninstall both.
- Cal Video to come pre-installed, but that I can uninstall it.
- Google Meet to **not** come pre-installed

[2022-08-20 14:51] timowevel1 opened #3916 "Outlook Calendar "all day event" not recognized as busy"
### Issue Summary

A summary of the issue. This needs to be a clear detailed-rich summary.

### Steps to Reproduce

1. Create a new "all day event" in Outlook for a desired day and check Cal if the day is available

Any other relevant information. For example, why do you consider this a bug and what did you expect to happen instead?

The day shouldnt be available anymore.

### Technical details

[2022-08-21 12:24] olivierlambert commented on #3710
Gentle bump :smile_cat:

[2022-08-21 15:19] MathisTimo opened #3918 "Required additional inputs are not actually required"
### Issue Summary

When completing the form to book en event I can sumbit the form even if some custom additional inputs that are required are empty.

### Steps to Reproduce

1. Went to the admin dashboard, add a custom addition field to an event
2. Checked the box "Is required"
3. When testing the event, even if the new custom field is empty I can book the event
4. Only the first two default fiel

[2022-08-21 20:28] PeerRich commented on #3901
merged

[2022-08-21 20:28] #3901 closed

[2022-08-21 20:29] #3882 closed

[2022-08-22 08:13] sean-brydon commented on #3806
@om-ray  hey Sorry, @om-ray I didn't see this issue/your comment before today.

This issues is already being worked on  within the main PR for 2.0 https://github.com/calcom/cal.com/pull/3549.

[2022-08-22 09:11] PeerRich opened #3919 "2.0 use new color palette classes for dark mode booking page"
<img width="1256" alt="CleanShot 2022-08-22 at 11 10 26@2x" src="https://user-images.githubusercontent.com/8019099/185884694-519deea5-58fc-4c81-bd05-827d7c4bbed1.png">

[View in Figma ](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=1375%3A63696)

[2022-08-22 09:16] Jaibles opened #3920 "2.0 Cancel a booking {flow} & {view}"
[View in Figma](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=14383%3A105018)

![Image](https://user-images.githubusercontent.com/4536123/187392122-0d11731c-20af-4a7f-8c79-bf9d49dc5e03.png)

![Image](https://user-images.githubusercontent.com/4536123/185886695-d8ce6a8d-865e-4012-bc4f-ca6b17c34628.png)

[2022-08-22 09:18] PeerRich commented on #3920
this could be a component

[2022-08-22 09:45] Jaibles opened #3921 "2.0 Public Booking Confirmation Card {component}"
Turn this into a component

Success state
![Image](https://user-images.githubusercontent.com/4536123/185888585-3decaee0-6017-4564-bdb7-606e783a54e2.png)

Cancelled state

![Image](https://user-images.githubusercontent.com/4536123/185891519-f15f5d16-c041-4423-9b07-d9ab363158b7.png)

Unconfirmed state

[2022-08-22 12:02] artistro08 commented on #3438
@PeerRich would uninstalling and reinstalling the app make a difference?

[2022-08-22 12:30] om-ray commented on #3806
@sean-brydon Ah, that's fine, I'll look for another issue then. Thanks for letting me know!

[2022-08-22 17:33] PeerRich opened #3928 "reschedule unexpected error"
![image](https://user-images.githubusercontent.com/8019099/185983576-1ae8a236-a97e-4866-8367-65fc7e05b3fc.png)potentially after already rescheduled?

[2022-08-22 19:34] #3582 closed

[2022-08-22 20:40] #3489 closed

[2022-08-22 20:55] PeerRich commented on #3680
we'll need to think harder on this, its not trivial and can cause a lot of issues for people who mistakenly check that box. no checkbox should ever turn of core parts of the product. that'll be a debugging nightmare for customer support.

we will likely add this checkbox in workflows whenever you create an email alternative but haven't found a good way for the UI yet.

we will revisit in october

[2022-08-22 20:56] #3912 closed

[2022-08-23 05:25] alishaz-polymath commented on #3027
Fixed in #3585

[2022-08-23 05:25] #3027 closed

[2022-08-23 05:27] alishaz-polymath commented on #1588
Just an update on this, we have identified an issue relating to our calendar fetching method using a library where the events created directly on the calendar are not being picked, which would explain this issue. We're trying to sort it out ASAP. 🙏

[2022-08-23 08:49] hamletdev opened #3930 "Hidden additional fields"
### Is your proposal related to a problem?

I'm using the hosted version and I need to pre-fill a custom input field on the Cal react component.
I then want to capture that value from the payload in the "BOOKING_CREATED" webhook that fires after the event is scheduled.

I could add an additional input field to the event type and pre-fill it, but this is not a field that I want to expose to the cus

[2022-08-23 10:00] milospuac commented on #3930
Thanks for reaching out. Our team will look into this and will be considered for the next version

[2022-08-23 10:23] timowevel1 commented on #3849
Any news on that? Will it get fixed in the next release? Its quite annoying :D

Thank you.

[2022-08-23 11:29] jdaviescoates commented on #3027
I'm not sure if this fix has actually been pushed to Cal.com yet(?) but I just did a test and what happens in this:

1. edit location of a booking
2. no duplicate is created!

So, fixed, right?!?

Wrong.

No duplicate events are created, but also editing the event location had zero effect. The location was not changed anywhere.

So, at present it is seemingly not possible to actually edit the loca

[2022-08-23 12:07] milospuac commented on #3918
Hi there

Just notified the engineering team to investigate. Thanks for reporting it.

[2022-08-23 12:18] alishaz-polymath commented on #3027
Hey @jdaviescoates , that's a different issue and clearly the issue title here suggests that it creates a duplicate event which it doesn't anymore. As for the issue you mention, the PR #3905 fixes the issue you mention in this latest comment. 🙏

[2022-08-23 12:22] s-gbz commented on #1588
Hey there, @liam-k is actually the one who faced the issue.
Liam can you give it another try?

[2022-08-23 12:23] milospuac commented on #3916
Hi there

Thanks for reaching out. I just tried to reproduce it but it reflects in my availability correctly.

Can you please make sure your all day event in outlook is marked as "Busy"?
<img width="1099" alt="Screenshot 2022-08-23 at 14 22 41" src="https://user-images.githubusercontent.com/97884287/186157003-de3b9989-7569-48e9-af97-875aa6e993f7.png">

[2022-08-23 12:29] zacchiro commented on #1588
FWIW, I've also faced the issue. But, unless I'm missing something, nothing in this issue log states that something has actually changed in the implementation (and hence much less in the deployment at cal.com), warranting another attempt to double-check things have been fixed.

I'll be happy to conduct such a test when a fix has been committed and deployed at cal.com.
(Please shout if I'm missing

[2022-08-23 12:32] alishaz-polymath commented on #1588
Hey @zacchiro
You're spot on. I'm currently fixing this issue among others in #3905 and once it is all set and merged, I'll give you a shout to test it on your end 🙌
The issue is the difference of data structuring and response in various CalDAV servers and the library we use to fetch them(tsdav). I'm trying to create a sanitization module which might help out in most of these cases, but would need

[2022-08-23 17:57] timfee opened #3931 "Unable to view connected calendars"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

A summary of the issue. This needs to be a clear detailed-rich summary.

### Steps to Reproduce

1. Went to resolve "No default calendar connected" error message -- even though nothing changed and I don't think I should be seeing this message:
<img width="716" alt="Screenshot_2022-08-23_10-08-50_j1nSU9DU" src="https://user-imag

[2022-08-23 18:03] timfee commented on #3931
Note that the end-user booking an appt sees this:

<img width="363" alt="image" src="https://user-images.githubusercontent.com/3246342/186231688-153467a6-b6d5-4d4e-b0ff-f1ea7f7afd0b.png">

[2022-08-23 18:21] timfee commented on #3931
This might be two issues.

w/r/t the error message -- Inside of each event type's "Advanced Settings" it was trying to use a default calendar called `tim@timfeeley.com` -- but there was no calendar by that name; the name is `Personal`. I'm not sure if I renamed it or something else happened, but it looks like it was trying to resolve that way?

[2022-08-23 18:52] JeroenReumkens commented on #3779
As discussed with Bailey over DM I'd love to give a go at this. Looking at the branches it feels like it's the best to create a branch from `feat/V2.0` and create a PR back to that branch? :)

[2022-08-23 20:17] KrisKodira commented on #3931
Same Issue here. I use an Apple Calendar and after connecting the apple calendar, the data doesnt get saved in the right way in the database. It must be saved in a JSON Format but for some reason calendso saves it as just the key
<img width="762" alt="image" src="https://user-images.githubusercontent.com/24395956/186257472-8faae6c6-6403-4279-aaf3-5bef75d321a9.png">

[2022-08-23 20:28] PeerRich commented on #3779
@JeroenReumkens nice! correct, fork feat/V2.0 and then give yourself the cookie: calcom-v2-early-access=1

[2022-08-23 21:17] Jaibles commented on #3779
@JeroenReumkens and let me know if you've any design/implementation questions 🙌

[2022-08-23 21:18] gondar00 commented on #3918
I believe the issue lies [here](https://github.com/calcom/cal.com/blob/main/packages/prisma/selects/event-types.ts#L17) @ `Prisma.validator<Prisma.EventTypeSelect>()({...})` I wasn't able to find any references to `Prisma.EventTypeSelect` can someone please point me where that can be found?

I can see that without a validator the data loads up fine - [here](https://github.com/calcom/cal.com/blob/m

[2022-08-24 06:16] alishaz-polymath commented on #3884
https://www.loom.com/share/9b54407fabe94b73b3b406dc5d59e4e6

Unable to re-create it. Tested a few times locally. Might as well not be related to Dynamic Booking links. 🤔

[2022-08-24 06:21] JeroenReumkens commented on #3779
Thanks both!

@Jaibles  I do have a few questions indeed 😄
1. Looking at the design I'm assuming that the right part is sticky and the gallery scrolls on the left side, right?
2. What do we do when there's not images for an app. Should we remove the grey gallery section and align the text column to the left?
3. Currently in the MDX for an app there's a `<Slider>` component, with any other content

[2022-08-24 06:23] alishaz-polymath commented on #3884
Update: It did cancel the event, just returned 500 error on the page. My bet is an unexpected return or something failing after the event had already been cancelled.

[2022-08-24 08:37] #3894 closed

[2022-08-24 09:01] PeerRich opened #3938 "weird dark mode for react-select-dropdown"
@Jaibles do we have designs for dark mode dropdowns?

this looks odd right now
<img width="813" alt="CleanShot 2022-08-24 at 11 00 14@2x" src="https://user-images.githubusercontent.com/8019099/186376943-350f1e11-216f-48ce-af59-7312a34e3fea.png">

[2022-08-24 09:19] Jaibles commented on #3938
No we don't. We don't have a fully fledged dark mode yet. Just designs for the booking pages. I can work on this though.

[2022-08-24 11:53] PeerRich opened #3940 "description missing on team events"
<img width="275" alt="CleanShot 2022-08-24 at 13 51 57@2x" src="https://user-images.githubusercontent.com/8019099/186411684-98de875b-45f8-44f7-8669-fbf5936fa197.png">

even tho it's added:

<img width="737" alt="CleanShot 2022-08-24 at 13 52 23@2x" src="https://user-images.githubusercontent.com/8019099/186411730-83e9803a-853d-482d-8161-5c2c0b11620d.png">

[2022-08-24 12:39] Jaibles opened #3941 "Onboarding / Hide "Import from Calendly / Savvycal" until we get it work more smoothly"
I just tested the Calendly importer in the onboarding process and I'm not sure any part of it worked.

- The link to learn how to get your secret key is a broken link
- Availability doesn't copy over. I don't think is a bug, I don't think it ever did, but we should be clear what we're copying over and what we're not so you know
- My event types did not copy over.

Let's hide and make a task to fix

[2022-08-24 12:45] Jaibles commented on #3798
As well as updating our UI to 2.0, we also need to test this and get it working more smoothly. I just tested it and experience an issue where after I connected a calendar, it sent me back to the first step, then when I went forward, I had no button to continue

https://user-images.githubusercontent.com/4536123/186421650-86812f1b-55dc-415c-bf38-b84f89b24065.mp4

[2022-08-24 12:46] Jaibles opened #3942 "Onboarding refactor - No continue button on Connect calendar screen"
After I connected a calendar, it sent me back to the first step, then when I went forward, I had no button to continue.

https://user-images.githubusercontent.com/4536123/186422065-4358416b-bb36-45e3-848b-266219282fa2.mp4

There's another issue where it takes awhile for the onboarding to appear after I create an account - like 2 seconds so you see the app for way to long. Not sure whether to creat

[2022-08-24 13:28] manuelmeurer opened #3944 "Error deactivating seats in event type"
### Issue Summary

I have an event type that has the "offer seats" option activated. When I edit the event type, deselect the option and hit "save!", I get an error in the console:

![cal com bug](https://user-images.githubusercontent.com/16672/186430464-b454e5bb-9cee-4f93-a093-f2312ebc8e25.png)

### Steps to Reproduce

1. Create an event type that has the "offer seats" option activated.
2. Edit i

[2022-08-24 15:55] jdaviescoates commented on #3027
I guess I'll have to trust you on that for now @alishaz-polymath :)

(I'm just hoping the reason no duplicate happen when editing isn't that nothing actually happens when editing!) :)

[2022-08-24 16:11] jdaviescoates commented on #2988
Just tried this again, rescheduling still doesn't work and I still get this error:

`Could not reschedule the meeting. JSON.parse: unexpected end of data at line 1 column 1 of the JSON data`

But at least no duplicate event was created!

[2022-08-24 16:12] alishaz-polymath commented on #2988
Mate it isn’t merged yet. Please check the PR status and test it once it is merged and deployed 🙂

[2022-08-24 16:15] alishaz-polymath commented on #2988
@jdaviescoatesr please book a slot with me [Here](https://cal.com/ali)  and we'll have a go at it together as I couldn't re create it 🙏

[2022-08-24 16:17] jdaviescoates commented on #3027
Thanks @alishaz-polymath

Once #3905 has merged how long will it take for it to be deployed to cal.com?

[2022-08-24 16:18] alishaz-polymath commented on #3027
We normally do a minor release and deployment every week, so you should expect it in a week or so at the latest (post merge) but normally it should be well under that time frame.

[2022-08-24 16:58] PeerRich opened #3948 "[CAL-250] routing forms .csv download needs a header"
when clicking "download csv"
<img width="349" alt="CleanShot 2022-08-24 at 18 56 24@2x" src="[https://user-images.githubusercontent.com/8019099/186478070-a7a55d88-62b3-470a-acc8-d97b28711cc8.png](https://user-images.githubusercontent.com/8019099/186478070-a7a55d88-62b3-470a-acc8-d97b28711cc8.png)">

it'll give you a csv with this format:
<img width="565" alt="CleanShot 2022-08-24 at 18 56 07@2x" s

[2022-08-24 17:02] hariombalhara commented on #3948
The problem with that is the changing number of questions during the journey of response collection.

If we can agree that whatever questions are there in the form at the moment, just show only those responses, this is simple to do.

This means that, if a question was deleted from the form, it's collected data won't be available in CSV.

[2022-08-24 17:09] joeauyeung opened #3949 "[CAL-77] Alarm system, sending broken integration email even on success"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Broken integration emails for calendars were being sent to users even if their calendars were successfully updated.

[2022-08-24 17:24] PeerRich commented on #3644
awesome wokr!

[2022-08-24 17:24] #3644 closed

[2022-08-24 18:31] shirazdole opened #3950 "Metamask Integration Broken"
### Issue Summary

A user attempted to use the Metamask app integration for his booking page and users attempting to book with him received an error message that the feature is only for enterprise customers.

However, only open source self hosters should receive that message, not SaaS Pro Customers.

In addition, when a user tries to book, they receive another error message that the "return value

[2022-08-24 20:15] PeerRich commented on #3950
we'll need to remove the current metamask app because it seems like their API has changed and we will move to rainbowkit instead https://www.rainbowkit.com/

[2022-08-24 20:15] #3950 closed

[2022-08-24 20:16] PeerRich opened #3952 "use rainbowkit.com for web3 app"
right now we have a very hacky web3 app which needs to be abstracted into the app store package better and use rainbowkit.com

[2022-08-24 20:16] PeerRich opened #3953 "temporally remove metamask app"
related to #3950 we need to remove the broken metamask app for now and replace it with rainbowkit.com later for version 2.1 see #3952

[2022-08-24 20:18] #3765 closed

[2022-08-24 20:18] #3766 closed

[2022-08-24 22:02] Jaibles commented on #3779
@JeroenReumkens

1. Yes, sticky. Also a problem we need solved [here](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=16942%3A157101) so perhaps only one of you need to solve this :)
2. I'll provide designs for if we have no image but I'm working to make sure this doesn't arise. It's definitely possible to at least have one image for an app so ultimately this will b

[2022-08-25 03:18] hussamkhatib commented on #3755
That page seems to work.

[2022-08-25 04:29] hussamkhatib commented on #3921
Hi, can I pick up this issue.

[2022-08-25 04:34] isaiahdahl commented on #3755
Yea latest release works for me in my fork now too.

Must have been fixed.

[2022-08-25 04:34] #3755 closed

[2022-08-25 05:21] JeroenReumkens commented on #3779
@Jaibles

Thanks!
As for 3, looking at the below screenshot my main point is this:

Currently in the red section we have the meta data having all the different images. Where as below that there's the content, including in yellow the `<Slider>` component. In theory there can be additional text above the yellow section as well. So having this slider in the content, kind of means that we need to rend

[2022-08-25 06:59] JeroenReumkens commented on #3779
WIP 🥰
Mainly waiting for Sean's answer before creating a draft PR, since I don't want to commit my changes in the app component immediately in the right directory (v2 or not). Besides that still needs some small tweaking and responsiveness.

Few new questions that came up:
1. It seems that the new app shell isn't setup in a way that it aligns the title (or in this case the back button) with the lo

[2022-08-25 08:54] Jaibles opened #3960 "Can't reschedule an event"
I'm currently unable to reschedule an event

On first attempt:
![Image](https://user-images.githubusercontent.com/4536123/186621131-5362be9d-78d8-4e02-9af0-2b2dfb2dd129.png)

On second attempt:
![Image](https://user-images.githubusercontent.com/4536123/186621151-1306ecf5-c883-4b9c-97ba-4bd47d002c14.png)

[2022-08-25 09:05] sean-brydon commented on #3779
@JeroenReumkens

1) Yeah ignore this for now - its on my list of To-dos to fix. Unless you fancy fixing it too 😅
2) I'd say only here - unless you can notice other places in the design have also changed

For V2 components/pages - yes we are only touching V2 so this should not effect anyway components/pages in V1.

[2022-08-25 09:07] sean-brydon commented on #3938
![CleanShot 2022-08-25 at 10 07 22](https://user-images.githubusercontent.com/55134778/186624030-72a4038e-020d-43b7-bfc8-6f37aa51100c.png)
I created some V2 designs for this yesterday :)

[2022-08-25 09:18] #3589 closed

[2022-08-25 09:20] alishaz-polymath commented on #2236
Fix merged.

[2022-08-25 09:20] alishaz-polymath commented on #1588
Fix merged

[2022-08-25 09:21] JeroenReumkens commented on #3779
Thanks @sean-brydon . So as one final double check — we do duplicate quite a lot then, to prevent breaking of v1? Only if there's a very minor tweak needed. O reven the idea is that eventually v2 has 100% of the components and pages, and everything not in v2 could be deleted?

[2022-08-25 09:36] Jaibles commented on #3928
Also experiencing this issue

On first attempt:
<img width="840" alt="CleanShot 2022-08-25 at 09 43 11@2x" src="https://user-images.githubusercontent.com/4536123/186630690-5a6d5afb-f573-4356-961a-cf0c665058c8.png">

On second attempt:
<img width="1424" alt="CleanShot 2022-08-25 at 09 46 19@2x" src="https://user-images.githubusercontent.com/4536123/186630709-abeda6c1-f86c-4908-b001-1166b5e509a9.png

[2022-08-25 09:37] Jaibles commented on #3960
Duplicate of https://github.com/calcom/cal.com/issues/3928

[2022-08-25 09:37] #3960 closed

[2022-08-25 10:20] sean-brydon commented on #3779
@JeroenReumkens  Exactly we're duplicating to not break V1. In the neat future we will replace all of V1 with V2 work. We are doing it this way so we can test V2 In staging/prod (If you are a admin) to ensure have no major breaking changes.

[2022-08-25 10:22] aspiers opened #3962 "Minimum booking notice should also allow hours and days"
### Is your proposal related to a problem?

The "Minimum booking notice" field can only be specified in minutes.  This means that if I want a minimum notice period of hours or days, I need to multiply by 60 and maybe also by 24 in my head to get the right number of minutes:

![image](https://user-images.githubusercontent.com/100738/186639316-de19518d-72d4-4053-89ef-1dc781f77298.png)

Whilst as an

[2022-08-25 10:38] aspiers commented on #3962
It's worth noting that there is already an "opposite" setting, effectively of "maximum booking notice":

![image](https://user-images.githubusercontent.com/100738/186643194-adcaecb6-367b-42ba-b721-6a46a22b1510.png)

and this already offers a choice of time units between `business days` and `calendar days`.  So a similar UI for the minimum booking notice seems to make sense.

[2022-08-25 11:14] PeerRich opened #3963 "mobile workflow is not responsive with sms reminder"
see twist

[2022-08-25 11:16] aspiers opened #3964 "[CAL-95] FR: make confirmation requirement dependent on notice threshold"
### Problem description

Ideally, I would never check the `Requires confirmation` checkbox for any of my event types, since this just adds extra overhead to the booking process, and the whole point of cal.com is to make booking as low friction as possible:

![image](https://user-images.githubusercontent.com/100738/186641892-0ca5d21d-484e-4aa1-b796-b6b6a2283813.png)

However, currently I need to ch

[2022-08-25 12:23] Jaibles commented on #3928
it actually does reschedule - but I just get the error an no email confirmation or anything

![Image](https://user-images.githubusercontent.com/4536123/186663305-d4ab0fe6-49ce-401f-bd3a-350506adf0f0.png)

[2022-08-25 13:12] om-ray commented on #3962
@PeerRich If this is something you would like to be fixed, I would love to work on it!

[2022-08-25 16:56] PeerRich commented on #2744
yes!

[2022-08-25 16:57] #3662 closed

[2022-08-25 16:58] PeerRich commented on #1291
we will solve this by booting up a new postgres for each tenant. its a security requirement

[2022-08-25 16:59] PeerRich commented on #3915
right now we cant. is this something a user asked?

[2022-08-25 17:11] PeerRich commented on #3907
would it work if the first line is "Add another calendar" and link to https://app.cal.com/apps/categories/calendar ?

[2022-08-25 17:15] PeerRich commented on #3907
i'll pick this up

[2022-08-25 17:31] PeerRich opened #3969 "removing an event from your calendar => cancel it"
We dont move the event from /booking into cancelled state when removing it from your calendar.

if you remove it from your calendar, and then try to cancel it inside the app, it’ll throw a 500 because the origin event doesn't exit anymore

<img width="788" alt="CleanShot 2022-08-25 at 19 30 27@2x" src="https://user-images.githubusercontent.com/8019099/186731286-a320d146-b49d-4952-bd96-21e7d9eb6b12

[2022-08-25 17:34] PeerRich commented on #3806
https://github.com/calcom/cal.com/pull/3549

[2022-08-25 17:34] #3806 closed

[2022-08-25 17:34] PeerRich commented on #3438
it does for some people

[2022-08-25 17:41] PeerRich commented on #3849
I've noticed this before. lemme find an engineer to fix this

[2022-08-25 17:44] PeerRich commented on #3910
I think it would be great to give team owners the control to make change to any team booking, whether they are involved or not. often the team owner is someone who doesn't do calls (an operator lets say)

I wouldn't add a new tab, but maybe use the `<Badge>Team</Badge>` component somewhere

[2022-08-25 17:45] PeerRich commented on #3931
@alishaz-polymath you are looking a lot into CalDav (which Apple Calendar) is based off, wanna give this a try?

[2022-08-25 17:46] PeerRich commented on #3931
yyes, these are two issues. Closing this one. the "missing calendar" has been fixed, can you open the new ticket?

[2022-08-25 17:46] #3931 closed

[2022-08-25 17:50] PeerRich commented on #3849
moved to 2.1. unless @alannnc is avail to look at this

[2022-08-25 17:54] PeerRich commented on #3941
I'm picking this up @Jaibles @alannnc

[2022-08-25 18:01] alannnc commented on #3941
@PeerRich I've just uploaded a PR for this.

[2022-08-25 18:24] newz666 opened #3972 "Availability default bug"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Availability. When using a default availability out of 2 availabilities, and deleting the default one, it says the other one set to be by default. But when editing that one, it's not set as default. That makes the event-types be set to a 24/7 availability and not reflecting the default availability.

### Steps to Reproduce

1.

[2022-08-25 18:25] #3941 closed

[2022-08-25 19:19] Jaibles commented on #3915
No one asked. Would be nice if it was easy but not something we need to prioritise now.

[2022-08-25 19:33] newz666 opened #3974 "On EvenType creation with API call, the default availability is not being displayed."
Found a bug? Please fill out the sections below. 👍

### Issue Summary

On creation of EventType with an API call, the default availability is not reflect, thus it's displaying a 24/7 availability (Self-Hosted)

### Steps to Reproduce

1. Create a new EventType with ApiCall
2. Go to Event Types -> Preview the newly created Even Type
3. The availability is being displayed as 24/7, instead of display

[2022-08-25 19:40] newz666 opened #3975 "Cannot create Recurring Booking with API"
### Is your proposal related to a problem?

Cannot create Recurring bookings with a post ApiCall. Even though I give it an event type of recurring type i.e. {"freq":2,"count":15,"interval":1}, it still posts the booking as a one time booking, with no "recurringEventId". Thus it;s not getting displayed in Bookings -> Recurring
evenTypeId : 206  is a recurring event type of {"freq":2,"count":15,"int

[2022-08-25 20:21] PeerRich commented on #3949
do you wanna work on this @joeauyeung ?

[2022-08-25 20:23] PeerRich commented on #3948
oh i see. that's bad. how does other companies do that? how does typeform do this?

[2022-08-25 20:24] PeerRich commented on #3938
@sean-brydon wanna work on this?

[2022-08-25 20:29] PeerRich commented on #3921
go for it 🙏

[2022-08-25 20:30] PeerRich commented on #3962
yes please go ahead.❤️ thank you!

[2022-08-25 20:35] PeerRich commented on #3964
this is a really good idea! and also great visual!

[2022-08-25 20:36] PeerRich commented on #3964
we'll look into this for 2.1 version as 2.0 is already super packed. 2.1 is scheduled for 15th of October, is that ok @aspiers ?

[2022-08-25 20:45] om-ray commented on #3962
@PeerRich Ill start on it asap!

[2022-08-25 20:50] PeerRich commented on #3915
the thing about google meet is, that you cant install it either. it comes with google calendar so its hard to give it the same props as something you can install and uninstall

[2022-08-25 20:51] PeerRich commented on #3975
can you add more context to your ticket? @newz666

[2022-08-25 20:54] newz666 commented on #3975
Sorry for that. Does that work? @PeerRich

[2022-08-25 20:59] zomars commented on #2477
From PR #3899

[2022-08-25 21:00] joeauyeung commented on #3949
Since there's been a lot of PRs fixing bugs related to calendars but none solving this issue there must be something even deeper. @alannnc and I were going to tackle this after V2.0

[2022-08-25 21:27] #3942 closed

[2022-08-25 22:13] alannnc opened #3976 "fix/credential-details-apple-calendar-setup"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

I believe apple calendar uses apple ID which is always an email, we can improve our apple-calendar/setup page changing Username for Apple ID as label text. Also we can remove autocomplete on those fields.
<img width="592" alt="image" src="https://user-images.githubusercontent.com/4461358/186777483-df2b1218-3bac-488a-910b-fd865c

[2022-08-25 23:03] aspiers commented on #3964
[**@PeerRich**](https://github.com/PeerRich) commented on [August 25, 2022 9:36 PM](https://github.com/calcom/cal.com/issues/3964#issuecomment-1227737417 "2022-08-25T20:36:41Z - Replied by Github Reply Comments"):

It's not (just) OK, it's amazing!! :stuck_out_tongue_winking_eye:  Thank you so much, I'm very excited for both 2.0 and 2.1! :heart:

[2022-08-25 23:05] aspiers commented on #3964
BTW I just realised that my mockup above should probably have also had a third radio button labelled `Never`.

[2022-08-25 23:16] aspiers commented on #3964
Updated the mockup to add the third radio button.

[2022-08-25 23:17] Jaibles commented on #3915
Ahh... perhaps we could have something near the uninstall button to explain this. Will be less of an issue in 2.0 installed apps anyway. Right now any installed app takes up a lot of valuable real estate.

[2022-08-25 23:49] zomars opened #3978 "Swap `getServerSideProps` to tRPC queries in /v2/settings pages"
Follow up to #3874

- Let's try removing all `getServerSideProps` calls inside ALL pages in `apps/web/pages/v2/settings/...`
- This will allow us to statically load skeletons
- Since it's a dashboard we don't really need SSR here
- Let's migrate those calls into tRPC instead

_Originally posted by @zomars in https://github.com/calcom/cal.com/pull/3874#discussion_r955504389_

_Originally posted by

[2022-08-26 00:09] mitcharseneau opened #3979 "Accept license prompt persists after updating environment variables"
The prompt "Accept our license by changing the .env variable NEXT_PUBLIC_LICENSE_CONSENT to 'agree'." does not disappear after updating the environment variable NEXT_PUBLIC_LICENSE_CONSENT to agree on Heroku.

To reproduce:

1. Deploy cal.com using the "Deploy to Heroku" button on repo [README.md
](https://github.com/calcom/cal.com#readme)
2. Set NEXT_PUBLIC_LICENSE_CONSENT to "agree" in Heroku "C

[2022-08-26 00:11] #3783 closed

[2022-08-26 00:48] #3737 closed

[2022-08-26 01:04] #3963 closed

[2022-08-26 01:04] #3745 closed

[2022-08-26 03:46] ace4port opened #3980 "Nav bar select for apps doesn't have scroll"
### Issue Summary

It's not an issue on bigger screens but on ones with less height, some items are hidden with no way to scroll to them.

### Steps to Reproduce

1. Went to Cal.com
2. Clicked on Apps on Navbar
3. These are what get displayed
![image](https://user-images.githubusercontent.com/39233007/186812891-ca500914-c2b3-41b0-8686-6fa87bad2f46.png)
Zooming out it reveals there more/additional

[2022-08-26 04:33] hariombalhara opened #3981 "Improvements/Bugs in Locations/Video Apps"
This is a continuation of https://github.com/calcom/cal.com/pull/3825. A list of things that I found when working on that PR.

- [ ] [Code Improvement] Remove special handling for Google Meet(in terms of adding/using `hangoutLink`) in rendering emails and other places. . It is handled separately because it works automatically through google calendar as well.
- [ ] [Bug] Google Meet shows up instal

[2022-08-26 08:06] milospuac commented on #3979
Thanks for reaching out. Our team will look into this

[2022-08-26 08:40] PeerRich opened #3983 "(not urgent) refactor global.css"
global.css has grown quite organically

we use tailwindcss.com which basically applies 90% of our styling needs but especially third party components sometimes need !important overwrites

i think it would make sense to love the CSS into the components they belong to

especially css that is not required globally can live locally

[2022-08-26 09:10] sean-brydon commented on #3938
For sure will pick this up today @PeerRich

[2022-08-26 09:42] alishaz-polymath commented on #3938
@sean-brydon I'm currently trying to wrap up the Datepicker module, and I'll pick up the V2 Select next. Unless there's some form of urgent diversion, I will pick this up when I work on the Select 👍

[2022-08-26 09:44] sean-brydon commented on #3964
Just created a design for the V2 version of this also :) Great idea @aspiers

![CleanShot 2022-08-26 at 10 43 41](https://user-images.githubusercontent.com/55134778/186876873-95a14be3-d437-4ee7-8c5f-b8ecc8efaf00.png)

[2022-08-26 10:04] milospuac commented on #3980
Hey Abdullah, this will be fixed with the new site that will be launched on Sep 15th

Best,

[2022-08-26 10:04] #3980 closed

[2022-08-26 10:26] aspiers commented on #3964
Love it, that looks way better than my design!

[2022-08-26 12:52] jjromary commented on #3538
Update my project and this problem was resolved

[2022-08-26 12:52] #3538 closed

[2022-08-26 13:28] joeauyeung commented on #3978
I posed this question in Twist before but when would we want to use `getServerSideProps` vs tRPC then?

[2022-08-26 13:54] RebeccaCotton opened #3988 "[CAL-97] Booked meeting slots are being ignored by other event types"
**Steps to reproduce**
1. Create two event types
2. Book a meeting in Eventtype 1
3. Book a meeting on Eventtype 2 on the same date and time

**Actual behaviour:**
- The booked slot is still available in Eventtype two, so one user can have multiple bookings at the same time

**Expected behaviour**:
- If a confirmed event with me has been booked in one event type (team or single user event), then I

[2022-08-26 14:51] PeerRich commented on #3975
@leog any ideas?

[2022-08-26 14:52] PeerRich commented on #3988
is this on localhost or app.cal.com? have you connected a calendar?

[2022-08-26 14:53] PeerRich commented on #3915
true we could visually hide them, yea

[2022-08-26 14:57] PeerRich commented on #3964
very slick @sean-brydon

[2022-08-26 15:20] olivermrbl opened #3989 "Send email to external address action in workflows"
### Is your proposal related to a problem?

I'd like to be able to add notifiers to booking created event. E.g. for when recruiters needs to be notified of interview calls.

### Describe the solution you'd like

Add "Send email to an external address" to actions in workflows.

### Describe alternatives you've considered

Setting up a webhook, but that would be an overkill for something that can be

[2022-08-26 16:12] RebeccaCotton commented on #3988
Both on app.cal.com and on local. No, there is no calendar connected.

[2022-08-26 16:16] leog commented on #3975
@PeerRich We have discussed this in Slack with Octavian. In order to support this from the API, the API should create a booking for each recurring event in the series setting the `recurringEventId` parameter to be the same ID for every booking. For this to happen, the API should first of all detect the event type of the booking to be recurring, get a number of bookings to create by query parameter

[2022-08-26 18:49] zomars commented on #3978
Almost never 😅

Only for very specific use cases when making a tRPC router wouldn't make sense, but I can't seems to think about a valid use case right now.

[2022-08-26 18:51] #3572 closed

[2022-08-26 18:59] #3940 closed

[2022-08-26 21:00] edgarallanglez commented on #3976
picking this up to know the project.

[2022-08-26 21:10] #3633 closed

[2022-08-26 22:49] #3976 closed

[2022-08-27 11:16] nosovk opened #3995 "heroku, fly.io: slug size too big"
Recently [there were small problems with size](https://github.com/calcom/cal.com/discussions/3837), but after recent update to v2
<img width="466" alt="image" src="https://user-images.githubusercontent.com/1398808/187027746-2e226d81-4df5-403f-bc9d-8fea7c02f332.png">
Now it couldn't be deployed to Heroku or fly.io

[2022-08-27 13:12] #3803 closed

[2022-08-27 14:09] olivierlambert opened #3998 "Issue with caldav when fecthing existing/busy events only on self-host"
### Issue Summary

Self hosted version of Cal.com, laster commit on main: when troubleshooting availability, can't see any events despite there is.

**Note: this fails ONLY on the self hosted version, tested the same CalDav share on cal.com: it works!** So we can exclude a CalDav issue on "server" side.

### Steps to Reproduce

1. Go to availability
2. Troubleshooting
3. Check a day with existing

[2022-08-28 09:36] noobyogi0010 commented on #3793
@Jaibles I moved to a new system, and I'm trying to locally set up the project. But I'm getting the following error:

[code]

Any idea what might be the reason for this?
Thanks!

[2022-08-28 13:12] RebeccaCotton commented on #3988
@PeerRich It looks like this is the same issue, as the one mentioned here: https://github.com/calcom/cal.com/issues/3190

[2022-08-28 14:23] alishaz-polymath opened #4003 "Events created on Kerio not pulled (CalDAV)"
### Issue Summary

When an event is created directly on the Kerio calendar, it is not picked up by the Calendar Object fetcher and hence not used for availability calculation.

### Steps to Reproduce

1. Connect to Kerio calendar using CalDAV
2. Create an event with busy availability on Kerio calendar directly
3. View the user availability in the public user page (the slots during the event should

[2022-08-28 14:28] RebeccaCotton opened #4004 "Calendar conflicts of synced calendars are being ignored by the app in team meetings with more than one member"
### Issue Summary

If I have a team meeting set up with 2+ members calendar conflicts in their synced calendars (tested with outlook & gmail) are being ignored when showing their availability.

### Steps to Reproduce

1. Create two users, with calendar events blocking some of their available time
2. Create a team event which contains both users
3. Check their availability in the event VS what shou

[2022-08-28 15:07] RebeccaCotton commented on #3531
Hi, we have discovered, that this is not actually fixed for events with multiple users

We have users configured here with the following availabilities:
- Mon 9-11 User1 available
- Mon 11-12 Both available
- Mon 12-17 User2 available
- Wed 9-12 User1 available
- Wed 14-17 User1 available
- Fri 14-17 User2 available

We see all events being booked with User2. Even events on Wednesday, where that u

[2022-08-28 15:37] PeerRich commented on #3989
forwarded to @CarinaWolli, could be a simple feature

[2022-08-28 16:30] PeerRich commented on #3988
ok we'll try to reproduce this on localhost without a calendar.

does it work with a calendar connected? that is typically a requirement

[2022-08-28 16:36] PeerRich commented on #3975
@leog feel free to pick this up for 2.1 once you have the other things on your plate done 🙏

[2022-08-28 16:37] PeerRich commented on #3995
oh that is odd @zomars

[2022-08-28 16:38] PeerRich commented on #4004
@emrysal or @alishaz-polymath can you try to reproduce this?

[2022-08-28 19:19] sean-brydon opened #4005 "Delete button is invisible on settings/developer"
Invisible icon on https://app.cal.com/settings/developer for revoking icon

Both delete icons on this page for Webhook and api keys should be of type "warn"

![CleanShot 2022-08-28 at 20 17 20](https://user-images.githubusercontent.com/55134778/187090881-cc48dfca-b5bf-4478-b72e-1a175f466811.png)

[2022-08-28 19:52] aspiers commented on #2054
Thanks for the clarifications! And I also agree with @real-or-random and @mountainsandcode that imports of `VFREEBUSY` and "normal" ICS files with `VEVENT`s can both be dealt with by the same feature implementation.

Please note that I have proposed #3810 as a request for the "opposite" feature, i.e. cal.com being able to _export_ an aggregated ICS feed (which could be a collection of either `VFRE

[2022-08-28 20:04] aspiers opened #4006 "FR: Show more than 1 day of availability at a time"
### Is your proposal related to a problem?

I find it slightly more difficult than I think it needs to be when booking slots on someone else's cal.com link, because I can only see their availability one day at a time.  This means if I'm weighing up which is better out of some slots on (say) Tuesday and some other slots on Wednesday, I have to keep the available slots from one of those days in my m

[2022-08-28 20:38] PeerRich commented on #4006
we are planning to allow event-type creators to choose different layouts

[2022-08-28 21:44] aspiers commented on #4006
Perfect!

[2022-08-29 08:37] #1815 closed

[2022-08-29 08:40] #3953 closed

[2022-08-29 08:40] PeerRich commented on #3952
closed in favor o https://github.com/calcom/cal.com/issues/1682

[2022-08-29 08:40] #3952 closed

[2022-08-29 08:40] PeerRich commented on #3953
closed in favor of https://github.com/calcom/cal.com/issues/1682

[2022-08-29 08:40] PeerRich commented on #1705
closed in favor of https://github.com/calcom/cal.com/issues/1682

[2022-08-29 08:40] #1705 closed

[2022-08-29 08:42] PeerRich commented on #1709
closed in favor of https://github.com/calcom/cal.com/issues/1682

[2022-08-29 08:42] #1709 closed

[2022-08-29 08:51] PeerRich commented on #3164
assigned @hariombalhara now fyi @agustif

[2022-08-29 09:00] #2067 closed

[2022-08-29 09:00] PeerRich commented on #2412
i think this is fixed

[2022-08-29 09:00] #2412 closed

[2022-08-29 10:06] Udit-takkar opened #4007 "[CAL-78] Availability page is taking a lot of time to load"
When i connected my outlook calendar with cal.com the time to load availability page has been increased dramatically(~40 seconds).

https://user-images.githubusercontent.com/53316345/187177060-e5558aa8-a779-4efa-93a7-4af72d539608.mov

dont't know if this is due to outlook or because of too many events in the calendar.

<img width="1440" alt="Screenshot 2022-08-29 at 3 34 37 PM" src="https://user-i

[2022-08-29 11:32] PeerRich opened #4009 "2.0 Feedback Collection"
- [ ] i18n is flickering

![CleanShot 2022-08-29 at 13 28 38](https://user-images.githubusercontent.com/8019099/187191367-14c8e968-cf0e-4e7e-a11e-c167362cac5c.gif)

- [ ] missing padding for tablet view

<img width="384" alt="CleanShot 2022-08-29 at 13 29 23@2x" src="https://user-images.githubusercontent.com/8019099/187191449-19bcc18d-9b31-440f-9016-487cbc67f13d.png">

- [ ] SidebarCard is re-rend

[2022-08-29 11:57] #4005 closed

[2022-08-29 12:05] PeerRich opened #4011 "add <Tips> card to Sidebar"
reintroduce Tips in sidebar

related https://github.com/calcom/cal.com/pull/4010

[2022-08-29 12:17] sean-brydon commented on #4009
Ill take this - I believe the select font size should be fixed when @alishaz-polymath has finished with the select component.

[2022-08-29 12:18] alishaz-polymath commented on #4009
Yes, I think so @sean-brydon . This week 🤞

[2022-08-29 13:04] #3918 closed

[2022-08-29 14:52] barelief opened #4013 "Filter Upcoming bookings by Event Type"
### Is your proposal related to a problem?

I have lots of small (5-15 min) Bookings (more than 10 Event Types) that run simultaneously. I need to have possibility to see each Event Type separately from each other. Now I see everything as one stream of bookings, which is hard to read.

### Describe the solution you'd like

I would love to have multiple-select dropdown of Event Type in `Bookings /

[2022-08-29 14:56] hariombalhara commented on #4009
I18n flickering and padding fix for tablet is already in Routing Forms v2. 0 PR

[2022-08-29 15:32] aspiers commented on #1171
Hey @ConnorGargano any thoughts on this one?

[2022-08-29 16:38] zomars opened #4016 "V2: missing padding for tablet view"
<img width="384" alt="CleanShot 2022-08-29 at 13 29 23@2x" src="https://user-images.githubusercontent.com/8019099/187191449-19bcc18d-9b31-440f-9016-487cbc67f13d.png">

You can access this view by going to `/v2/event-types`

[2022-08-29 17:46] PeerRich commented on #1171
the troubleshooter has been deprioritized and will get more attention after 2.0! 🙏

[2022-08-29 17:47] PeerRich commented on #4009
awesome! lets get that merged soon

[2022-08-29 17:47] PeerRich commented on #4016
@hariombalhara fixed this

[2022-08-29 17:47] #4016 closed

[2022-08-29 17:50] PeerRich commented on #3918
hey @MathisTimo, this will go live this week!

[2022-08-29 17:50] PeerRich commented on #4013
filters are coming after 2.0! 🙏

[2022-08-29 18:06] #3597 closed

[2022-08-29 21:47] zomars commented on #3995
@nosovk what does it mean with "slug size" ?

[2022-08-29 22:10] nosovk commented on #3995
According to [doc](https://devcenter.heroku.com/articles/slug-compiler#:~:text=gitignore%20file.-,Slug%20size,such%20as%20ls%20and%20du%20.) it's a resulting JS bundle.

[2022-08-29 22:15] zomars commented on #3995
There was a recent fix there some uncompressed images we're being bundled as part of the JS. It should be solved by next release and that should also help reducing the overall bundle size.

[2022-08-29 23:23] nosovk commented on #3995
ok, current master fails, will redo in a week.

[2022-08-30 00:05] #3928 closed

[2022-08-30 00:41] vernonstinebaker commented on #4007
I'm having the same experience with a calendar with a lot fewer entries, so I don't think the problem is too many events.

[2022-08-30 01:04] CodingRockz commented on #3854
is this ever going to be fixed? No one even bothering to respond...

[2022-08-30 03:33] hariombalhara commented on #3164
@agustif @PeerRich Is there any work in progress on implementing those screens from figma?

[2022-08-30 05:36] #3177 closed

[2022-08-30 05:37] NicoHood commented on #1948
Where the heck can I find the custom availability setting? I am searching for that feature, but it is not shown in my UI. Is it only visible to pro users?

As far as I understand the docs (and this issue) it should be possible?
https://docs.cal.com/deep-dives/availability
https://docs.cal.com/deep-dives/event-types#availability

[2022-08-30 07:05] saschafoerster commented on #2236
Full-day events created with Kerio are still shown as busy, even though they are marked as free. Here the extract from iCal-file.

Also, they seem to be moved by two hours (which only happens with full day events, regular events in the same calendar are shown in the correct timezone)

[code]

And the busy event:

[code]
<img width="654" alt="Bildschirmfoto 2022-08-30 um 08 56 25" src="https://user

[2022-08-30 07:09] alishaz-polymath commented on #2236
It's actually identified by the value of 'transp' and if that's not part of the calendar object, there doesn't seem to be any way of knowing (as far as I know) or identifying the transparent/free state

[2022-08-30 09:15] PeerRich opened #4024 "default to 12hr format"
- most users are american
- europeans don't care lol

[2022-08-30 09:19] PeerRich commented on #4024
maybe on prisma schema, too?

[2022-08-30 09:21] PeerRich commented on #3778
@leog are you working on this right?

[2022-08-30 09:26] #3787 closed

[2022-08-30 09:27] PeerRich commented on #3949
moved to 2.1

[2022-08-30 09:30] PeerRich commented on #3764
this one is almost done, the button hovers are not implemented yet @sean-brydon

[2022-08-30 09:31] PeerRich commented on #3782
@leog since oyu are working on app store already

there is a new component ready

[2022-08-30 09:32] PeerRich commented on #3781
moved to 2.1.

complexity creep

[2022-08-30 09:33] Jaibles commented on #3775
@emrysal have you started on this or should we move to 2.1?

[2022-08-30 09:34] #3920 closed

[2022-08-30 09:37] #3779 closed

[2022-08-30 09:43] PeerRich commented on #3775
just talked to alex, yep – 2.1.

[2022-08-30 10:01] leog commented on #3778
@PeerRich yes!

[2022-08-30 13:29] PeerRich opened #4030 "routing forms embeds: fix dark mode"
<img width="1051" alt="CleanShot 2022-08-30 at 15 28 55@2x" src="https://user-images.githubusercontent.com/8019099/187449691-f4a192a9-b689-4392-aebf-cfc2d68c7365.png">

[2022-08-30 13:32] zlwaterfield opened #4031 ".env documentation in README is missing"
### Issue Summary

When setting up the repo for the first time, there are a few things you need to do around environment variables to get Cal up and running and, these aren't well documented.

Here is a list of the known items missing:
- The README doesn't say to copy the root `.env.example` to `.env`
- The root `.env` should have `NEXTAUTH_URL` set like it does for the prisma `.env`
- We need to

[2022-08-30 13:32] zlwaterfield commented on #4031
I will create a PR to add the needed documentation.

[2022-08-30 13:53] zlwaterfield commented on #3979
@zomars it looks like there is no logic to actually write to the .env file. Is there meant to be? Or should we just update the copy in the modal to say "You need to restart your server"?

[2022-08-30 14:22] Udit-takkar commented on #3978
working on this 👍

[2022-08-30 14:51] sean-brydon opened #4040 "Create a booking status filter for Unconfirmed"
Create a booking status filter for Unconfirmed

_Originally posted by @sean-brydon in https://github.com/calcom/cal.com/pull/4038#discussion_r958572460_

[2022-08-30 15:46] agustif commented on #3611
This PR by @deepakprabhakara should fix this #4037

[2022-08-30 17:13] Thiagomn1 opened #4044 "Error returned when trying to run the project"
### Issue Summary

After perfoming all the setup steps and trying to run the project locally by running `yarn dev` to start the server, the console returns the following error.

![image](https://user-images.githubusercontent.com/85890604/187498852-1c05f956-ed2a-46f2-9bff-c4382fd42c52.png)

### Steps to Reproduce

1. Set up a new local instance of the project
2. Start the development server with `y

[2022-08-30 17:30] samizdis commented on #2236
Wanna confirm that this works for me now, using Baikal ❤️  Thanks so much

[2022-08-30 17:39] alishaz-polymath commented on #2236
Thank you for confirming this. Glad to know it's working on Baikal. Much appreciated 🙌.

[2022-08-30 18:33] hussamkhatib commented on #3921
Sure, I didn't. I was too busy with something else.
I was going to ask about the priority for this issue. Glad that you reached out to check-in.

[2022-08-30 18:40] hussamkhatib commented on #3573
HI @PeerRich , can you update the todos, the below endpoints are completed in previous PR.
- [x] /api/book/confirm
- [x] /api/availability/day
- [x] /api/availability/eventtype   // all methods
- [x] /api/event-type

[2022-08-30 18:41] markflorkowski opened #4046 "Can't sign up with Google account"
### Issue Summary

When I attempt to sign up with a google account, noting appears to happen on screen. There is a debug message in the browser console.

### Steps to Reproduce

1. Enter a username
2. Click the "sign in with Google" button
3. Observe that nothing appears to happen

Any other relevant information. For example, why do you consider this a bug and what did you expect to happen instead

[2022-08-30 18:42] zomars commented on #3979
Yeah the button is definitely misleading, this is a step that needs to be done manually. Also we cannot add logic for doing so since there are many self-hosted environment that don't use an `.env` file for setting environment variables. The `.env` file is mostly used for local development.

[2022-08-30 18:44] #4031 closed

[2022-08-30 18:51] zomars commented on #3573
Done!

[2022-08-30 19:23] PeerRich commented on #3597
EPIC

we should add them to our app, too!

[2022-08-30 19:26] PeerRich commented on #3597
EPIC

we should add them to our app, too!

I'll open a new ticket to add those cards for each template in our app

[2022-08-30 19:26] PeerRich opened #4048 "[CAL-96] show zapier templates and link to them"
take the templates from https://github.com/calcom/cal.com/issues/3597 and show them in the app

[2022-08-30 19:27] PeerRich commented on #4048
like this
<img width="799" alt="CleanShot 2022-08-30 at 21 27 06@2x" src="https://user-images.githubusercontent.com/8019099/187525928-fb1ea85e-a216-4c88-aced-6c641b1c41b2.png">

[2022-08-30 19:27] PeerRich commented on #4048
@Jaibles where would you like to show these template cards?

[2022-08-30 19:28] PeerRich commented on #4048
i'll make those components ready and then we can decide when and where to show them

[2022-08-30 19:46] PeerRich opened #4050 "refactor: turn booking information into a component"
right now, the left booking information box is quite messy and written twice (in [id].tsx and in /book.tsx)

<table>
<tr>
<td>
<a href="https://cal.com/bailey/15min">https://cal.com/bailey/15min</a>
</td>
<td>
<a href="https://cal.com/bailey/book?type=1&date=2022-08-31T10%3A00%3A00%2B02%3A00&slug=15min&count=">https://cal.com/bailey/book?type=1&date=2022-08-31T10%3A00%3A00%2B02%3A00&slug=15min&cou

[2022-08-30 19:46] #3784 closed

[2022-08-30 19:47] PeerRich commented on #4050
while writing i realised we should probably merge the two files/routes ([id].tsx and /book.tsx)

[2022-08-30 19:49] PeerRich opened #4051 "replace loading box with our animated cal.com logo"

[2022-08-30 19:53] PeerRich commented on #3611
@richiemcilroy can you try again?

[2022-08-30 19:58] PeerRich commented on #1948
is it not in app.cal.com/availabillity? the screenshot from @milospuac is out of date

[2022-08-30 19:58] #3819 closed

[2022-08-30 20:02] PeerRich commented on #3854
hey @CodingRockz, we are currently working at full force to release our version 2.0

15 days is not too long of a wait.

we'll investigate why this is happening.

@joeauyeung can you take a look?

[2022-08-30 20:09] PeerRich commented on #4007
yeah this seems super odd. tagging @emrysal here to reproduce

[2022-08-30 20:10] PeerRich commented on #3979
we'll remove this entire dialog all-together once we have the onboarding wizard by @leog I believe? Lets show that text there to accept license

[2022-08-30 20:12] PeerRich opened #4052 "[CAL-99] remove "NEXT_PUBLIC_LICENSE_CONSENT" and banner and move it into onboarding wizard"
since we're launching our "getting started" onboarding wizard when UserCount = 0 we can show the "Accept License" part in the onboarding wizard and remove NEXT_PUBLIC_LICENSE_CONSENT from .env and also remove the Banner component

[2022-08-30 20:12] PeerRich commented on #4052
this would fix https://github.com/calcom/cal.com/issues/3979

[2022-08-30 20:12] PeerRich commented on #3979
opened a new ticket: https://github.com/calcom/cal.com/issues/4052

[2022-08-30 20:23] zomars commented on #3979
Also for the OG issue, @mitcharseneau you need to restart your dyno after settings the env variable to see the changes.

[2022-08-30 20:24] PeerRich commented on #4046
we'll investigate immediately. maybe @deepakprabhakara can help, too

[2022-08-30 20:36] PeerRich commented on #4044
can you try `yarn clean` then `yarn` ?

[2022-08-30 20:48] mitcharseneau commented on #3979
Thanks for the help! I have restarted the associated dyno with no change and the message persists.

[2022-08-30 20:50] zacchiro commented on #2236
Still doesn't work for me with recurrent events using nextcloud caldav has a backend.
(It does work now for non-recurrent full-day events though, which is an improvement, thanks!)

Here's a minimal example of an event marked with availability busy but still not blocking booking via cal.com:
[code]

[2022-08-30 20:53] PeerRich commented on #2236
reopening @alishaz-polymath

[2022-08-31 03:21] hariombalhara opened #4055 "No Translation available for meeting_ended webhook"
<img width="630" alt="Screenshot 2022-08-31 at 8 50 24 AM" src="https://user-images.githubusercontent.com/1780212/187585405-d96511e9-b3c5-47ad-9838-e2d8846c5d53.png">

[2022-08-31 05:03] alishaz-polymath commented on #2236
Hey @zacchiro
Is your issue:

1. Free event is marked busy? or
2. Busy event doesn't block slots?

This particular ticket is tracking free events being incorrectly blocking the booking slots (i.e. marked busy)

[2022-08-31 05:09] alishaz-polymath opened #4056 "[CAL-100] Incorrect Time in Booking Confirmation Email Subject"
Found a bug? Please fill out the sections below. 👍

The confirmation email's subject contains incorrect time (probably doesn't take Timezone into account)
![image](https://user-images.githubusercontent.com/52925846/187596956-d9926a98-0d32-419d-b539-ae53588382b5.png)

A summary of the issue. This needs to be a clear detailed-rich summary.

Once a booking is made, the confirmation email's subject co

[2022-08-31 06:22] zacchiro commented on #2236
Ah, sorry, my issue is indeed busy events don't block booking availability.

[2022-08-31 06:24] alishaz-polymath commented on #2236
Okay. And can you please confirm if the free status events are currently allowing the slots to be booked or blocking them? We can track the busy events not blocking the booking slots on a separate thread thereon 🙏

[2022-08-31 06:26] zacchiro commented on #1588
Has this been deployed in production at cal.com? The ticket is now marked as closed, but I still experience the problem that busy-booked recurrent events from caldav/nextcloud don't block scheduling availability.

Here is a minimal example (which I originally posted by mistake in #2236, sorry!):
[code]

[2022-08-31 06:36] alishaz-polymath commented on #1588
@zacchiro Hey, thanks for the detailed comment. Can you please confirm if this is a problem with all busy events on Nextcloud or only recurring events, so that we can focus on a specific issue and potentially speed up the resolution?
🙏

[2022-08-31 06:37] alishaz-polymath commented on #2236
Closing this as the issue was unrelated to this ticket. Please feel free to re-open it if you face this specific issue 🙏

[2022-08-31 06:37] #2236 closed

[2022-08-31 06:58] zacchiro commented on #2236
On Tue, Aug 30, 2022 at 11:24:50PM -0700, Syed Ali Shahbaz wrote:

Yes, I can confirm that. I've double-checked that for full-day events
(as I don't really have non-full-day events with "availability: free" in
my calendar) and I am able to book slots in days where I have full-day
(but "availability: free") events. I cannot book slots with
"availability: busy", as expected.

[2022-08-31 07:02] zacchiro commented on #1588
On Tue, Aug 30, 2022 at 11:36:24PM -0700, Syed Ali Shahbaz wrote:

I'm seeing it only with recurrent events, yes.

[2022-08-31 07:27] NicoHood commented on #1948
Sure, but I cant set any specific time, just general availability. What If I aint got time on THIS friday?

![image](https://user-images.githubusercontent.com/6888294/187618798-70eaaa7f-d8ab-4316-8663-7acb69d04e64.png)

![image](https://user-images.githubusercontent.com/6888294/187618678-dba2d2ac-156f-4e7c-bb76-80eb61d4ca27.png)

[2022-08-31 08:13] milospuac commented on #3998
Thanks for reaching out and sorry about the delay. We will investigate this.

[2022-08-31 08:20] hariombalhara commented on #4046
This is fixed now

[2022-08-31 08:20] #4046 closed

[2022-08-31 08:30] #4055 closed

[2022-08-31 08:42] sean-brydon opened #4060 "/event-types: Embed button has no action"
Reimplement Embed button within /event-type/[type] as the current implementation was clashing with the tab navigation that we now use in V2

`tabName` prop should ideally be renamed in the embed component to something else to prevent the clash

<img width="295" alt="CleanShot 2022-08-29 at 13 51 30@2x" src="https://user-images.githubusercontent.com/8019099/187194928-0a90061a-9cac-42bd-a01c-73cccd2

[2022-08-31 08:44] sean-brydon commented on #3764
This should be fixed - closing

[2022-08-31 08:44] #3764 closed

[2022-08-31 08:47] sean-brydon commented on #3790
https://github.com/calcom/cal.com/pull/3549 Implemented here

[2022-08-31 08:47] #3790 closed

[2022-08-31 08:47] sean-brydon commented on #3789
Implemented in main V2 merge https://github.com/calcom/cal.com/pull/3549

[2022-08-31 08:47] #3789 closed

[2022-08-31 09:13] Udit-takkar commented on #4040
@sean-brydon  what error does this filter throw? https://github.com/calcom/cal.com/pull/4038/files#r958572460

[2022-08-31 09:19] Udit-takkar commented on #2844
@PeerRich  is this feature still required ?

[2022-08-31 09:40] PeerRich opened #4061 "v2 skeleton wrong color on dark mode"
<img width="909" alt="CleanShot 2022-08-31 at 11 39 05@2x" src="https://user-images.githubusercontent.com/8019099/187648957-77f88ac5-69d7-4967-8176-9d17bade0ff6.png">

[2022-08-31 10:34] Jaibles commented on #4048
@PeerRich what about in here?
![CleanShot 2022-08-31 at 11 34 15@2x](https://user-images.githubusercontent.com/4536123/187659359-946e4e50-1a5f-44c3-af19-e528bc6f80d9.png)

[2022-08-31 11:01] PeerRich commented on #4048
great idea as an app-specific settings

[2022-08-31 11:34] PeerRich commented on #3854
@CodingRockz what version are you running? there has been a few fixes for MS Teams recently

[2022-08-31 12:07] olivierlambert commented on #3998
No worries, thanks for taking a look!

[2022-08-31 12:13] PeerRich commented on #1948
date specific availability is being worked on right now by @emrysal

[2022-08-31 14:18] Udit-takkar commented on #4056
@alishaz-polymath  i tried reproducing this. the email subject returns the time ( in time zone ) of the availability page which i think is correct .

[2022-08-31 14:39] #4061 closed

[2022-08-31 14:55] PeerRich commented on #4051
tried. looks bad.

[2022-08-31 14:55] #4051 closed

[2022-08-31 15:20] PeerRich commented on #3907
moved to 2.1 since we refactor the event-types page right now

[2022-08-31 15:21] alishaz-polymath commented on #4056
It could be possible that this is taken from the booker's timezone. It definitely isn't correct in production.

[2022-08-31 16:31] Udit-takkar commented on #2366
i can implement this one. is this feature required now ? @PeerRich

[2022-08-31 19:06] PeerRich commented on #2366
i'm not so sure @zomars

[2022-08-31 19:06] #2366 closed

[2022-08-31 19:15] NicoHood commented on #1948
Is there an issue, where we can track the progress? This is really something that kept me from using cal.com for now. Super excited to hear that!

[2022-08-31 19:42] #3792 closed

[2022-08-31 19:42] #3793 closed

[2022-08-31 19:42] #3791 closed

[2022-08-31 20:59] zomars commented on #2366
Let's de-prioritize until it becomes a problem

[2022-08-31 21:18] leog opened #4069 "v2 App Store follow up: Categories section"
As part of #3911 the Categories section of the new v2 App Store page was excluded from the PR due to not having a description for each category. This Issue is to follow up the need to define those descriptions and enable that section of the v2 App Store page.

See https://github.com/calcom/cal.com/pull/3911/files#diff-a64a108ee20c0a88dbd8e428f7849de76efa68227f5c302611dfc537987a3d67R17.

[2022-08-31 23:09] #3719 closed

[2022-09-01 02:54] zeluspudding opened #4071 "Heroku One Click Deploy does not work"
Reproduction:

1. Click the Heroku One Click Deploy button on this repo's readme
2. Fill in the config values it asks for.
3. Fails

Here's the complete build log from Heroku. .. appears to create an app that's too large for Heroku?:

-----> Building on the Heroku-22 stack
-----> Determining which buildpack to use for this app
-----> Node.js app detected

-----> Creating runtime environment

[2022-09-01 02:54] zeluspudding commented on #4071
@calcom/embed-snippet:build: Entry module "src/index.ts" is using named and default exports together. Consumers of your bundle will have to use `snippet["default"]` to access the default export, which may not be what you want. Use `output.exports: "named"` to disable this warning
       @calcom/prisma:build: Prisma schema loaded from schema.prisma
       @calcom/prisma:build: Datasource "db": Post

[2022-09-01 04:52] hariombalhara opened #4074 "> NIT: can we also change routing_forms to routing-forms?"
Can do it as 2.1. It requires changes in app-store slug/file and variable names generation.

_Originally posted by @hariombalhara in https://github.com/calcom/cal.com/issues/3902#issuecomment-1232353424_

[2022-09-01 05:07] JeroenReumkens commented on #3921
I am picking this one up 🙋‍♂️ #3767 is related, so that will will also get worked on.

[2022-09-01 05:32] JeroenReumkens commented on #3921
@Jaibles  I see this component is quite extensive. A few questions that came to mind after looking through code and through the designs:

1. The old design had "add to calendar" buttons, do we want to keep them in the new design? (It's not in Figma)
2. Currently there's the option to have a GIF on the thank you page. Will that remain? And if so, what will that look like?
3. The new design shows a

[2022-09-01 06:50] JeroenReumkens commented on #3921
Based on the above comment I already went ahead and did the style tweaks in the existing page (copied it to v2 though). If this is the direction we are heading into for now I can do the last tweaks on this and create a PR 🙏

![image](https://user-images.githubusercontent.com/2969573/187850034-97861d0b-eed9-4827-bc29-dfdd41eb2686.png)

[2022-09-01 07:49] milospuac commented on #4071
Hey Andrew. Thanks for reaching out. Our team will investigate this

[2022-09-01 07:52] milospuac opened #4076 "If event links are too long, user isn’t able to edit them"
![chrome-capture-2022-7-31](https://user-images.githubusercontent.com/97884287/187861367-91bfb7ee-e6f5-479f-a878-970ef3d2ee38.gif)

I think this input bugs out once the link is at a certain length.

[2022-09-01 08:29] Jaibles commented on #3921
@JeroenReumkens I think you're right in just making the visual changes for now and making all those updates separately. I reckon we can find better things for you to work on now if you have any time for it but will let @PeerRich make that final call. I know we do want to do those rewrites you mentioned but now might not be the best time.

Yes, we should keep them thanks.

That is added through an

[2022-09-01 08:31] vivekrp commented on #1291
How does this work? What's the CNAME record to point?

[2022-09-01 08:56] PeerRich commented on #3921
nothing to add to ciaran, go for it @JeroenReumkens

[2022-09-01 09:22] Jaibles commented on #3907
![Image](https://user-images.githubusercontent.com/4536123/187879890-860d8c4d-e4b2-4bd7-a485-e3f96ee4fdfd.png)

[2022-09-01 10:09] #3855 closed

[2022-09-01 11:08] PeerRich opened #4079 "2.0 Dark Mode Success Page"
using wrong color palette

https://twist.com/a/195135/ch/554218/t/3736251/

[2022-09-01 11:18] #4079 closed

[2022-09-01 11:24] PeerRich opened #4082 "show animated logo on success page"

[2022-09-01 12:37] #4082 closed

[2022-09-01 13:17] joeauyeung commented on #3854
@CodingRockz I tried pinpointing the exact fix and I believe it is #3123. Since it was cherry picked to production I can't pin point to an exact version number.

I can confirm though that it is working in our current version which is v1.9.2

[2022-09-01 13:18] CodingRockz commented on #3854
Thanks mate. I will update to the latest version and check again. Cheers. Will provide an update here once checked.

[2022-09-01 13:48] CodingRockz commented on #3854
Just checked with update version. The issue is still not fixed.

Previously we got the text "Office365_video" under the where part in email. With the updated code, i am getting "MS Teams" text instead now.

However there is no video link to the meeting. Can you please check ?

[2022-09-01 14:03] joeauyeung commented on #3854
It's working locally and on production. I would try looking at Azure instance.

Here are some things that I would check:
- Make sure you're using a work/school Microsoft account to connect to MS Teams
- On Azure under your app -> authentication make sure the redirect URL is pointing to your self-hosted instance
- On Azure under app -> API permissions make sure you have "OnlineMeetings.ReadWrite" s

[2022-09-01 14:07] CodingRockz commented on #3854
Thanks will check that. Is there any way to see in logs what is the
specific error causing this to not be populated with the correct meeting
link? Please tell me the log file location. Thanks

On Thu, 1 Sep 2022 at 10:03 pm, Joe Au-Yeung ***@***.***>
wrote:

[2022-09-01 14:15] joeauyeung commented on #3854
I'm going to assume this is for creating new events. If so I would look at `packages/core/videoClient.ts` line 49. If you want to drill down even more I would look at `packages/app-store/office365video/lib/VideoApiAdapter.ts` line 137 and add a log on `resultObject`

[2022-09-01 16:37] #3944 closed

[2022-09-02 07:13] alishaz-polymath commented on #3856
Redesigning the mult-select dropdown/select according to the figma designs requires quite a bit of overhead. Thoughts on using https://www.primefaces.org/primereact/multiselect/ for that purpose instead? Looks like a decent solution that meets our needs from the looks of it. If we're not against the idea of using this, I can test it out locally to see how it works, otherwise will keep looking for

[2022-09-02 07:34] Jaibles commented on #3921
@JeroenReumkens And yes to keeping the Giphy for now. We have plans to clean up how apps work so they don't touch the core product like this but for now it needs to stay in.

[2022-09-02 07:36] Jaibles commented on #3767
Being tackled in https://github.com/calcom/cal.com/issues/3921

[2022-09-02 07:36] #3767 closed

[2022-09-02 07:42] Jaibles commented on #3856
I'm open to discussing changes to the designs if there is something we can do that is supported that is reasonable and meets the same need. But the prime demo also looks good. However, I'm definitely not the one to make the call on whether using something like this is a good call in the long run.

[2022-09-02 07:43] PeerRich opened #4088 "collective event-types not saving"
from a user:

- Changes that were made to collective event types didn't save
- This was the most painful for us. We had updated an event type, saved it, confirmed that the new link worked, then we sent it to an investor who later told us the link was invalid. The configurations had somehow been reset and we looked like amateurs. This is ultimately what caused us to churn.
- Troubleshooting collect

[2022-09-02 07:49] PeerRich opened #4089 "public booking page: hover outlines should be brand color"
- [ ] Date

<img src="https://user-images.githubusercontent.com/8019099/188012203-78ab078f-49dd-418c-bf61-04f317081028.png" />

- [ ] Time

<img width="800" alt="CleanShot 2022-09-02 at 08 52 43@2x" src="https://user-images.githubusercontent.com/4536123/188086835-6701db6c-c86e-456d-9e28-92e155f89cef.png">

[2022-09-02 07:51] Jaibles opened #4090 ""more" button not a square in tablet view on /event-types"
<img width="211" alt="CleanShot 2022-09-02 at 08 51 25@2x" src="https://user-images.githubusercontent.com/4536123/188086606-1208795d-d89b-4c0e-aa19-c87535792d37.png">

[2022-09-02 07:54] Jaibles opened #4091 "i18n is flickering"
![187191367-14c8e968-cf0e-4e7e-a11e-c167362cac5c](https://user-images.githubusercontent.com/4536123/188087073-28e55d9a-8f0a-4485-8b35-a4327b8a96a0.gif)

[2022-09-02 08:11] alishaz-polymath commented on #3856
Yep, makes sense. I think that if we are to keep react select for now, maybe we can make changes to the design for the interim period where we make it look more part of the V2 theme for the moment, and then we can give it the time it needs to convert it to the final design as a follow up. What do you think?

[2022-09-02 08:15] PeerRich opened #4092 "i18n is flickering"
![CleanShot 2022-08-29 at 13 28 38](https://user-images.githubusercontent.com/8019099/187191367-14c8e968-cf0e-4e7e-a11e-c167362cac5c.gif)

[2022-09-02 08:17] PeerRich opened #4093 "/event-types: too big font for dropdowns"

[2022-09-02 08:18] PeerRich commented on #4092
duplicate of #4091

[2022-09-02 08:18] #4092 closed

[2022-09-02 08:19] PeerRich opened #4094 "Missing Design for Wipe Today button"
<img width="831" alt="Screenshot 2022-09-01 at 22 20 28" src="https://user-images.githubusercontent.com/30310907/188044871-b865cb82-9b67-46b6-a4f2-91503a8305af.png">

[2022-09-02 08:19] PeerRich opened #4095 "Sidebar: Sizing, spacing fixes, multiple"
[View in Figma ](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=17937%3A171148)

![Image](https://user-images.githubusercontent.com/4536123/188123378-bc1b3537-2ede-4d07-89e4-2ad7ce96987f.png)

[2022-09-02 08:19] PeerRich opened #4096 "App category badge needs rounded corners"
![Screenshot 2022-09-01 at 18 27 25](https://user-images.githubusercontent.com/30310907/188023521-0e62f94b-aaa3-423d-b107-315e77a55cc9.png)

<img width="277" alt="CleanShot 2022-09-03 at 18 51 40@2x" src="https://user-images.githubusercontent.com/8019099/188280601-95a7ce6b-de14-4603-8c1b-7021b75797eb.png">

[2022-09-02 08:19] PeerRich opened #4097 "Icons in sidebar (tablet view) should be in the center"
<img width="54" alt="Screenshot 2022-09-01 at 18 20 01" src="https://user-images.githubusercontent.com/30310907/188022694-5ce695dc-7e22-4a54-896a-93a14623ff78.png">

[2022-09-02 08:19] PeerRich opened #4098 "Settings need a mobile view"
![Screenshot 2022-09-01 at 18 14 12](https://user-images.githubusercontent.com/30310907/188022086-dea1d8df-55e5-49c9-9d53-c2519a3745f6.png)

[2022-09-02 08:19] PeerRich opened #4099 "Hover over the search icon in the shell cuts off the tooltip (so you can’t see what it says)"
<img width="77" alt="Screenshot 2022-09-01 at 17 13 13" src="https://user-images.githubusercontent.com/30310907/188014124-f5c50b94-3dcb-4c0b-9326-b3b35db71307.png">

[2022-09-02 08:19] PeerRich opened #4100 "No back buttons in the shell title"
Figma: <img width="220" alt="Screenshot 2022-09-01 at 17 12 10" src="https://user-images.githubusercontent.com/30310907/188013957-9fa44a99-be6c-4ab1-8276-f58132ba67e6.png">

[2022-09-02 08:19] PeerRich opened #4101 "/settings, replace Loader with skeleton (Loader in settings is huge)"
<img width="1012" alt="Screenshot 2022-09-01 at 17 06 24" src="https://user-images.githubusercontent.com/30310907/188013078-d7dbeea1-8f3d-41a3-9108-afeabb4f5cd0.png">

[2022-09-02 08:19] PeerRich opened #4102 "settings/my-account/appearance: disable custom branding switch should be right-aligned"
<img width="872" alt="Screenshot 2022-09-01 at 17 07 10" src="https://user-images.githubusercontent.com/30310907/188013286-47a6f361-79d1-49f3-897c-c97899677941.png">

[2022-09-02 08:20] PeerRich opened #4103 "[CAL-107] settings/my-account/calendars: width way too long and goes out of screen"
<img width="1251" alt="Screenshot 2022-09-01 at 17 15 47" src="https://user-images.githubusercontent.com/30310907/188014488-e7e1d788-183b-4624-8ee0-b758f24589bf.png">

[2022-09-02 08:20] PeerRich opened #4105 "/settings Sidebar needs formatting & links fixing (Compare with Figma)"
[Compare with Figma](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=17937%3A171647)

![Image](https://user-images.githubusercontent.com/4536123/188153029-9573874e-16a9-4f9f-ab4a-aa54dde1090e.png)

[2022-09-02 08:20] PeerRich opened #4106 "Reschedule request dialog still in old design"
<img width="548" alt="Screenshot 2022-09-01 at 16 58 57" src="https://user-images.githubusercontent.com/30310907/188011851-ca6a6cbe-1287-4ad2-ba88-1ee2af308cd9.png">

[2022-09-02 08:20] Jaibles opened #4107 "Dropdowns should open right aligned to their respective button"
- align dropdown on the right
- buttons in dropdown should not be centered

/event-types
![Image](https://user-images.githubusercontent.com/4536123/188096684-785ae3d7-02ad-4227-8975-8934c90d27b6.png)

/booking
<img width="323" alt="CleanShot 2022-09-02 at 10 53 07@2x" src="https://user-images.githubusercontent.com/8019099/188102819-e5b2770f-accf-4d43-be9c-aa6c14ec2b15.png">

[2022-09-02 08:20] PeerRich opened #4108 "Remove the ‘yet’ in ‘No upcoming bookings, yet’?"
<img width="749" alt="CleanShot 2022-09-02 at 09 24 15@2x" src="https://user-images.githubusercontent.com/4536123/188097363-ba889c3f-d560-4dd1-a89c-a19976dfe431.png">

now:
<img width="428" alt="Screenshot 2022-09-01 at 16 59 15" src="https://user-images.githubusercontent.com/30310907/188011893-8501b43c-036e-4eab-8bf5-44bd156d3e14.png">

[2022-09-02 08:20] PeerRich opened #4109 "Bookings list still has the old buttons"
<img width="898" alt="Screenshot 2022-09-01 at 16 57 52" src="https://user-images.githubusercontent.com/30310907/188011659-c12ef011-0962-453b-8ede-686919122211.png">

[2022-09-02 08:20] PeerRich opened #4110 "Sticky internal sidebars"
- [x] In Event types single
<img width="1163" alt="CleanShot 2022-09-02 at 09 44 25@2x" src="https://user-images.githubusercontent.com/4536123/188101183-51e38cfe-888d-447c-8986-c69c7d6b25af.png">

- [ ] In Bookings
<img width="1468" alt="CleanShot 2022-09-02 at 09 38 59@2x" src="https://user-images.githubusercontent.com/4536123/188101204-2a71df29-2327-4ff0-a4d0-f4eefbf73349.png">

`24px` gap from

[2022-09-02 08:20] PeerRich opened #4111 "[CAL-103] All Bookings show up under Today and Today should be uppercase"
Task should probably just be to remove "Today"?

If the quickest thing to do here is not group things that's a perfectly ok fix. Grouping can be a future task as it likely requires complex logic.

<img width="897" alt="Screenshot 2022-09-01 at 16 56 27" src="https://user-images.githubusercontent.com/30310907/188011437-5568917a-697a-4665-b757-8c4f565f9634.png">

[2022-09-02 08:20] PeerRich opened #4112 "Creating new event type: Only happens when you first try to create an event type with an already existing URL"
Design issue when wrong event length in create event dialog

<img width="519" alt="CleanShot 2022-09-03 at 19 12 38@2x" src="https://user-images.githubusercontent.com/8019099/188281385-49bf729c-6b74-411e-a054-9134d37ba1a7.png">

[2022-09-02 08:20] PeerRich opened #4113 "Edit Location in event type settings is missing rounded corners"

[2022-09-02 08:21] Jaibles opened #4114 "/event-types: Clicking on preview used to open a new tab, now it is just a redirect"

[2022-09-02 08:21] Jaibles opened #4115 "/event-type: Dropdown list still needs formatting in mobile and desktop version"
<img width="554" alt="CleanShot 2022-09-02 at 11 26 56@2x" src="https://user-images.githubusercontent.com/8019099/188109293-460161d1-4e72-4ab5-8b78-c47f0f1bdd34.png">

[2022-09-02 08:26] PeerRich commented on #4110
@Jaibles do you have a screenshot or video?

[2022-09-02 08:31] Jaibles commented on #4091
@hariombalhara did you mention you have a fix for this in another pr?

[2022-09-02 08:34] PeerRich opened #4116 "/booking: skeleton loader has wrong margin (too wide)"
https://user-images.githubusercontent.com/8019099/188099054-dbbe371d-b92d-41ae-aadb-bada791085ff.mp4

[2022-09-02 08:35] Jaibles commented on #3856
Sounds good to me.

[2022-09-02 08:39] hariombalhara commented on #4091
@Jaibles This PR has the fix https://github.com/calcom/cal.com/pull/3902

[2022-09-02 08:42] Jaibles commented on #4110
Desired behaviour would be this:
<img width="1468" alt="CleanShot 2022-09-02 at 09 38 59@2x" src="https://user-images.githubusercontent.com/4536123/188100250-9a68bca2-e26f-4bd6-a31e-bf8777eedaef.png">

[View in Figma](https://www.figma.com/file/9MOufQNLtdkpnDucmNX10R/%E2%9D%96-Cal-DS-v2.0?node-id=17933%3A169946)

[2022-09-02 08:47] Jaibles commented on #4091
Great thanks @hariombalhara 🙏

[2022-09-02 09:01] PeerRich commented on #4101
we wanna get rid of this loader anyway, right @zomars ?

[2022-09-02 09:01] PeerRich commented on #4101
cc @joeauyeung for your info: we wanna use skeletons over this loader

[2022-09-02 09:04] PeerRich commented on #4098
@joeauyeung is working on this, no?

[2022-09-02 09:26] PeerRich commented on #4114
i'll take this

[2022-09-02 09:27] PeerRich commented on #4115
`<Button>` likely needs a new variant="menuItem" @sean-brydon

[2022-09-02 10:00] sean-brydon commented on #4093
Should be fixed when @alishaz-polymath's select  is merged

[2022-09-02 11:03] PeerRich commented on #1948
i believe there is a ticket somewhere, #2199 this one maybe?

[2022-09-02 11:10] #4113 closed

[2022-09-02 11:10] #4115 closed

[2022-09-02 11:10] #4107 closed

[2022-09-02 11:13] PeerRich commented on #1291
@vivekrp its not implemented yet, coming in October!

[2022-09-02 11:14] #4076 closed

[2022-09-02 11:29] PeerRich commented on #3907
added

[2022-09-02 11:39] CarinaWolli opened #4124 "Skeleton Loader for Workflows"
Add skeleton loader to workflows

[2022-09-02 11:42] #3907 closed

[2022-09-02 12:19] alishaz-polymath commented on #3856
It is, yeah @Jaibles. Also, I checked through quick changes that the cross button with each name isn't quite working well either, although this could simply be a minor bug, but a bug nonetheless.
I mean I would think that it is best to accommodate it the way it is right now and just make it not feel out of place from the design. And then someone works at it for the final design (ps. I could take i

[2022-09-02 12:20] alishaz-polymath commented on #3856
Tldr; I would definitely aim to have it done as per the final designs, but I don't know if we have the time (unless someone can confirm that they do).

[2022-09-02 12:22] Jaibles commented on #3856
Do you mean the remove? Could we just allow removing by opening the dropdown and clicking again to deselect as a temporary fix?

[2022-09-02 12:26] alishaz-polymath commented on #3856
Yeah, so the remove icon for each user doesn't work, the main remove icon doesn't work either (can't click). I'll have a go at it with the suggested changes, and see if I can get it to work in a partial state, report back with my findings 🙏

[2022-09-02 13:16] joeauyeung commented on #4098
Yup, working on it in #3987

[2022-09-02 16:59] alannnc opened #4128 "Several Reschedule/book back and forth stops creating google calendar."
Found a bug? Please fill out the sections below. 👍

### Issue Summary
It appears that some users had trouble when being booked/rescheduled, event it's not added to their calendar and meeting url it's not present when manually adding event to calendar.

### Steps to Reproduce

Quoted by @Jaibles
Someone booked a call with me
I requested they reschedule

They rescheduled and everything worked fine
T